{literal}<link rel="stylesheet" href="/assets/css/sbstyle.css">{/literal}<!--------- NEW HERO  ---------------------------------------->
<div class="newHero" style="background-image: url(/img/heros/horse-racing-odds.jpg);" alt="Horse Racing Odds">
  <div class="text text-xl">GOLF - 1ST ROUND TOP 10 FINISHERS Odds</div>
  <div class="text text-xl" style="margin-top:0px;"></div>
  <div class="text text-md">Bet on Sportsbook with rebates paid daily. <br>
    <a href="/signup?ref=odds">
    <div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i>Sign Up Now</div>
    </a> </div>
</div>

<!--------- NEW HERO END ----------------------------------------> 
     <!------------------------------------------------------------------>    
{include file="/home/ah/allhorse/public_html/usracing/as_seen_on.tpl"}
<!------------------------------------------------------------------>      
<section class="usr-section">
      <div class="container">
        <div class="content">
          <h1 class="kd_heading">GOLF - 1ST ROUND TOP 10 FINISHERS</h1>
  {include file="/home/ah/allhorse/public_html/oddsfeed/odds/3518.php"}
  <br />
  <br />
  <div class="menustyle"><ul><li><strong>GOLF:</strong> 
  {include file="/home/ah/allhorse/public_html/oddsfeed/menu/GOLF.php"}</ul>
  </div>
       
           </div>
		</div>
 </section> 