<div id=="block-block-graded" class="block">
{include file="includes/ahr_block_graded_stakes_race_calendar.tpl"}
</div>
<div id="box-shd"></div>

<div id="block-block-56" class="block block-block region-even even region-count-4 count-4">
<div class="block-inner">
 
<div class="content">

<!-- <a href="/join"><img src="/themes/images/stakesraces/schedule_button1.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>
<div class="box-shd"></div> -->

<div><a href="/join"><img src="/themes/images/stakesraces/schedule_button2.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a></div>


<div style="margin-top: 10px;">
<a href="/join"><img src="/themes/images/stakesraces/schedule_button3.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>
</div>


<div style="margin-top: 10px;">
<a href="/join"><img src="/themes/images/stakesraces/schedule_button4.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>
</div>


<div style="margin-top: 10px;">
<a href="/join"><img src="/themes/images/stakesraces/schedule_button5.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>
</div>


</div><!-- end: content -->
</div>
</div>
<div id="box-shd" style="background-image:none;"></div>

