<!-- <div id="block-block-65" class="block block-block region-even even region-count-2 count-4">
<div class="block-inner">

<div class="content">
    <div><a href="/beton/race-of-the-week"><img src="/themes/images/stakesraces/bigraceoftheweek.jpg" alt="Big Race of the Week Bets" title="Big Race of the Week Bets" width="225" height="223" /></a></div>
</div>

</div>
</div>
<div id="box-shd"></div> -->