<!-- <div id="block-block-2" class="block block-block region-odd odd region-count-1 count-1">
<div class="block-inner">
<div class="content">

<div><a href="javascript:void(0);" onClick="window.open('/flash/tutorial/Site/index.html','Tutorial','width=700,height=400,top=243,left=250,resizable=no,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no ');"  title="Take The Tour - Racebook Tutorial"><img src="/themes/images/takethetour.gif" alt="Take The Tour - Racebook Tutorial" width="225" height="115" /></a>
</div>
</div>  
</div>
</div>
<div id="box-shd"></div> -->