{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
          
                  {include file='menus/horsebetting.tpl'}
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      
<!--------- NEW HERO  ---------------------------------------->

<div class="newHero" style="background-image: url({$hero});" alt="{$hero_alt}">
 <div class="text text-xl">{$h1}</div>
 <div class="text text-xl" style="margin-top:0px;">{$h1b}</div>
 	<div class="text text-md">{$h2}
	 	<br>
	 		<a href="/signup?ref={$ref}"><div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i>{$signup_cta}</div></a>
	</div>
 </div>
 
<!--------- NEW HERO END ---------------------------------------->   






      
      <div id="main" class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="headline"><h1>{$h1}</h1></div>
        </div>
      </div>
<div class="row">


<div id="left-col" class="col-md-9">

          
            
                                        
          
{* <p><a href="/signup?ref={$ref}"><img class="img-responsive" src="/img/horse-racing-odds.jpg" alt="Horse Racing Odds">  </a></p> *}



<div class="content">
	
      
<!-- --------------------- content starts here ---------------------- -->
<p>You can bet from your home computer, mobile or tablet at BUSR.  Get up to an 8% <a href="/rebates?ref={$ref}">horse betting rebate</a> and there is a <a href="/promos/cash-bonus-150?ref={$ref}">$150 Bonus</a> for new members. <a href="/signup?ref={$ref}">Join </a> Today!</p>

<p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">Bet Now</a></p>
<p>{include file="/home/ah/allhorse/public_html/usracing/odds/marketing_inc.tpl"} </p>

<p>Please note:  The morning odds, also known as the 'Morning Lines' (M/L) are set by the track for the day's races.  During the course of the day up until the actual race, the actual odds may change despite the fact that posted M/L in the racebook does not change. Winners are always paid out at full track odds*. For more information on odds and payouts, please visit the BUSR Track Payouts in the clubhouse. </p> 

<div>
{*include file='/home/ah/allhorse/public_html/misc/odds_ascot.php'*}
</div>
<div>
{*include file='/home/ah/allhorse/public_html/misc/queen_anne_stakes.php'*}
</div>
<div>
{include file='/home/ah/allhorse/public_html/misc/ascot_gold_cup.php'}
</div>
<div>
{*include file='/home/ah/allhorse/public_html/misc/diamond_jubilee_stakes.php*}
</div>
 {*
<center><p>Live odds can take a moment to load.</p></center>

<p><iframe src="https://rb.betusracing.ag/BOSSWagering/Racebook/InternetBetTaker/?siteid=usracing" scrolling="no" width="100%" height="1750px" style="border:0;">Live Horse Racing Odds</iframe></p>
</p>
   *}         
        

   <p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">{$button_cta}</a></p>   
  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
	{include file='inc/rightcol-calltoaction.tpl'} 

</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container -->
