{literal}<link rel="stylesheet" href="/assets/css/sbstyle.css">



<style type="text/css">



@media screen and (min-width: 1024px) {.newHero { background-image: url("/img/emmy/sm_emmy_odds_usr.jpg"); }}	



@media screen and (max-width: 1024px) {.newHero { background-image: url("/img/emmy/lg_emmy_odds_usr.jpg"); }}	



</style> 



{/literal}<!--------- NEW HERO  ---------------------------------------->



<div class="newHero"  alt="Emmy's Odds">



  <div class="text text-xl">Emmy Awards Odds</div>



  <div class="text text-xl" style="margin-top:0px;"></div>



  <div class="text text-md">Bet on the Emmy Awards<br>



    <a href="/signup?ref={$ref}">



    <div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i>Sign Up Now</div>



    </a> </div>



</div>







<!--------- NEW HERO END ----------------------------------------> 



<div id="main" class="container">



  <div class="row">



    <div id="left-col" class="col-md-9">



      <div class="headline"> 



        <!-- ---------------------- h1 MAIN TITLE contents ---------------------------------------------- -->



        



        <h1>Emmy Awards Odds</h1>



        



        <!-- ---------------------- end h1 MAIN TITLE contents ------------------------------------------ --> 



      </div>



      <!-- end/headline -->



      



      <div class="content"> 



        <!-- --------------------- CONTENT starts here --------------------------------------------------- --> 







        <p>The Emmy Awards ceremony will be held on September 20, 2020, The ceremony was originally to be held at Microsoft Theater in Los Angeles, but due to the COVID-19 pandemic, it was changed virtually from the actors’ homes across the U.S.
        </p>
        <p>The Emmy Awards are watched from people all across the US and around the globe.Ready to place a wager on who will win an Emmy? Check out the odds below at <a href="/signup?ref={$ref}">BUSR</a>.
        </p>
      

        <p>
          {*include_php file="/home/ah/allhorse/public_html/misc/odds_emmy_awards_968.php"*}


          {include file="/home/ah/allhorse/public_html/misc/odds_emmy_awards_968.php"}

           

        </p>











        <p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">Bet on the Emmy Awards</a></p>



        



        <!-- ------------------------ CONTENT ends ------------------------------------------------------- --> 



      </div>



      <!-- end/ content --> 



    </div>



    <!-- end/ #left-col -->



    



    <div id="right-col" class="col-md-3"> 



      <!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- --> 



      {include file='inc/rightcol-calltoaction-emmy.tpl'}



      <!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- --> 



    </div>



    <!-- end: #right-col --> 



    



  </div>



  <!-- end/row --> 



</div>



<!-- end/container --> 



