{literal}<link rel="stylesheet" href="/assets/css/sbstyle.css">



<style type="text/css">



@media screen and (min-width: 1024px) {.newHero { background-image: url("/img/heros/lg_hero_image_tiger_woods.jpg"); }}	



@media screen and (max-width: 1024px) {.newHero { background-image: url("/img/heros/sm_hero_image_tiger_woods.jpg"); }}	



</style> 



{/literal}<!--------- NEW HERO  ---------------------------------------->



<div class="newHero"  alt="Oscar Odds">



  <div class="text text-xl">Masters Odds</div>



  <div class="text text-xl" style="margin-top:0px;"></div>



  <div class="text text-md">Bet on The Masters<br>



    <a href="/signup?ref={$ref}">



    <div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i>Sign Up Now</div>



    </a> </div>



</div>







<!--------- NEW HERO END ----------------------------------------> 



<div id="main" class="container">



  <div class="row">



    <div id="left-col" class="col-md-9">



      <div class="headline"> 



        <!-- ---------------------- h1 MAIN TITLE contents ---------------------------------------------- -->



        



        <h1>Masters Golf Odds</h1>



        



        <!-- ---------------------- end h1 MAIN TITLE contents ------------------------------------------ --> 



      </div>



      <!-- end/headline -->



      



      <div class="content"> 



        <!-- --------------------- CONTENT starts here --------------------------------------------------- --> 







        <p>Ready to bet on Tiger Woods and the PGA tournaments? Bet on all your favourite golfers at the Masters. <br>

 </p>

        <p>

          
<h2>Masters Golf Tournaments</h2>
{*include file="/home/ah/allhorse/public_html/oddsfeed/odds/3459.php"*}
{include file="/home/ah/allhorse/public_html/oddsfeed/odds/3464.php"}
<br  />
{*
<h2>GOLF - PGA CHAMPIONSHIP</h2>
{include file="/home/ah/allhorse/public_html/oddsfeed/odds/3465.php"}

<br  />     
<h2>GOLF - US OPEN</h2>
{include file="/home/ah/allhorse/public_html/oddsfeed/odds/3466.php"}

<br  />     

<h2>GOLF - THE OPEN CHAMPIONSHIP</h2>     

 {include file="/home/ah/allhorse/public_html/oddsfeed/odds/3467.php"}

<br  />          

          
*}
          

          

        </p>











        <p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">Bet on The Masters</a></p>



        



        <!-- ------------------------ CONTENT ends ------------------------------------------------------- --> 



      </div>



      <!-- end/ content --> 



    </div>



    <!-- end/ #left-col -->



    



    <div id="right-col" class="col-md-3"> 



      <!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- --> 



      {include file='inc/rightcol-calltoaction-masters.tpl'}



      <!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- --> 



    </div>



    <!-- end: #right-col --> 



    



  </div>



  <!-- end/row --> 



</div>



<!-- end/container --> 
{literal}
<style type="text/css" >
.oddstable caption { display: none !important; }
.oddsheader { display: none !important; }
</style>
{/literal}


