<!-- Breeders Cup ================================================ -->   
<li class="dropdown">
<a  class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" >Breeders&#039; Cup <i class="fa fa-angle-down"></i></a>
     <ul class="dropdown-menu">
{* <li><a href="/breeders-cup" >{include file='/home/ah/allhorse/public_html/breeders/year.php'}  Breeders' Cup</a></li> *}
<li><a href="/breeders-cup/betting" >Breeders&#039; Cup Betting</a></li>
<li class="dropdown"><a href="/news/breeders-cup" >Latest Updates</a>
<li><a href="/breeders-cup/odds" >Breeders&#039; Cup Odds</a></li>
<li><a href="/news/tag/breeders-cup-contenders/"  >Breeders&#039; Contenders</a></li>
{*   <li><a href="/breeders-cup/free-bet">Free Breeders' Cup Bet</a></li>  *}
<li><a href="/breeders-cup/challenge" >Breeders&#039; Cup Challenge</a></li>
{* <li><a href="/breeders-cup/winners"   >Breeders&#039; Winners</a></li> *}
{*<li><a href="/breeders-cup/races" title="Breeders' Cup  Races">Breeders&#039; Cup Races</a></li>*}


<li><a href="/breeders-cup/juvenile-fillies"  >Juvenile Fillies</a></li>								{* Saturday *}
<li><a href="/breeders-cup/filly-mare-turf"  >Filly and Mare Turf</a></li>									{* Saturday *}
<li><a href="/breeders-cup/filly-mare-sprint"  >Filly and Mare Sprint</a></li>							{* Saturday *}
<li><a href="/breeders-cup/turf-sprint"  >Turf Sprint </a></li>										{* Saturday *}
<li><a href="/breeders-cup/juvenile"  >Juvenile </a></li>													{* Saturday *}
<li><a href="/breeders-cup/mile" >Mile Odds</a></li>														{* Saturday *}
<li><a href="/breeders-cup/sprint"  >Sprint </a></li>													{* Saturday *}
<li><a href="/breeders-cup/turf"  >Turf </a></li>															{* Saturday *}
<li><a href="/breeders-cup/classic"  >Classic </a>															{* Saturday *}



<li><a href="/breeders-cup/juvenile-turf" >Juvenile Turf</a></li>											{* Friday *}
<li><a href="/breeders-cup/dirt-mile"  >Dirt Mile</a></li>												{* Friday *}
<li><a href="/breeders-cup/juvenile-fillies-turf"  >Juvenile Fillies Turf</a></li>								{* Friday *}
<li><a href="/breeders-cup/distaff"  >Distaff </a></li>														{* Friday *}

<li><a href="/bet-on/breeders-cup"  >Bet on Breeders' Cup</a></li>
   </ul>
</li>

     


