

<li class="dropdown">
  <a  class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">{* Latest *} Odds<i class="fa fa-angle-down"></i></a>
  <ul class="dropdown-menu" id="double">
   
   {*
 <li><a href="/bet-on/american-pharoah"  >Bet American Pharoah</a></li>
       
*} {*       <div class="bc-menu-title">All Odds</div> *}
{*<li><a href="/odds/ascot">Ascot Horse Racing Odds</a></li>*}
<li><a href="/odds"  >Today's Horse Racing Odds</a></li>
{* <li><a href="/preakness-stakes/odds">2018 Preakness Stakes Odds</a></li> *}
<li><a href="/kentucky-derby/odds">2019 Kentucky Derby Odds</a></li> 
<li><a href="/kentucky-derby/jockey-betting"  >Kentucky Derby Odds: Jockeys</a></li>
<li><a href="/kentucky-derby/trainer-betting"  >Kentucky Derby Odds: Trainers</a></li>
 <li><a href="/kentucky-derby/props" >Kentucky Derby Odds: Props</a></li> 
{* <li><a href="/kentucky-derby/match-races">Kentucky Derby Odds:  Match Races</a></li> *}
{* <li><a href="/kentucky-derby/margin-of-victory">Kentucky Derby Odds: Margin of Victory </a></li> *}
<li><a href="/kentucky-oaks/odds">Kentucky Oaks Odds</a></li> 

{*<li><a href="/breeders-cup/odds">Breeders' Cup Odds</a></li>*}
{*<!--<li><a href="/melbourne-cup"  >Melbourne Cup Odds</a></li> -->*}
{* <li><a href="/breeders-cup/distaff">Breeders' Cup Distaff</a></li> *}
{*


*}
{*    		

*}
      
      
 {*  <li><a href="/belmont-stakes/odds"  >Belmont Stakes Odds</a></li>     *} 
      
  {*  

    <li><a href="/preakness-stakes/odds"  >Preakness Stakes Odds</a></li>
   
*}
<li><a href="/bet-on/triple-crown">Triple Crown Odds</a></li>
{* <li><a href="/pegasus-world-cup/odds"  >Pegasus World Cup Odds</a></li> *}
{* <li><a href="/prix-de-larc-de-triomphe"  >Prix de l'Arc de Triomphe Odds</a></li> *}
{* <li><a href="/grand-national"  >Grand National Odds</a></li> *}
			
            {* <li><a href="/ascot-gold-cup"  >Royal Ascot Horse Racing Odds</a></li> *}
			{* <li><a href="/queen-anne-stakes"  >Queen Anne Stakes Betting Odds</a></li> *}
			{*<li><a href="/diamond-jubilee-stakes"  >Diamond Jubilee Stakes Betting</a></li> *}

 {* <li><a href="/dubai-world-cup" >Dubai World Cup Odds</a></li> *}
 <li><a href="/melbourne-cup"  >Melbourne Cup Odds</a></li>
 {* <li><a href="/odds/oscar"  >Oscar Odds</a></li> *}

<li><a href="/odds/us-presidential-election">US Presidential Election Odds</a></li>
<li class="bc-nemu-last"><a href="/odds/masters">Masters Golf Odds</a></li>
{*
<li class="bc-nemu-empty"><a>&nbsp;</a></li>  
<li class="bc-nemu-empty"><a>&nbsp;</a></li>  
<li class="bc-nemu-empty"><a>&nbsp;</a></li>

        
        <div class="bc-menu-title">Breeders' Cup Nov. 2nd</div>
        <li><a href="/breeders-cup/juvenile"  >BC  Juvenile  Odds</a></li>
        <li><a href="/breeders-cup/juvenile-turf" >BC  Juvenile Turf Odds</a></li>
        <li><a href="/breeders-cup/juvenile-fillies-turf"  >BC  Juvenile Fillies Turf Odds</a></li>
        <li><a href="/breeders-cup/juvenile-fillies"  >BC  Juvenile Fillies Odds</a></li>   
		<li class="bc-nemu-last"><a href="/breeders-cup/juvenile-turf-sprint" >BC  Juvenile Turf Sprint Odds</a></li>	
        <li class="bc-nemu-empty"><a>&nbsp;</a></li>
        <li class="bc-nemu-empty"><a>&nbsp;</a></li>         
         <li class="bc-nemu-empty"><a>&nbsp;</a></li>  
          <li class="bc-nemu-empty"><a>&nbsp;</a></li>  

        <div class="bc-menu-title">Breeders' Cup Nov. 3rd</div>
*}
        {*
<li>
        testing</li>
*}
       {* <li><a href="/breeders-cup/classic"  >Breeders' Cup Odds</a> </li>    *}                                              {* Saturday *}
       {* <li><a href="/breeders-cup/turf"  >BC Turf  Odds</a></li>
        <li><a href="/breeders-cup/distaff"  >BC Distaff  Odds</a></li>
        <li><a href="/breeders-cup/mile" >BC  Mile Odds</a></li>
        <li><a href="/breeders-cup/sprint"  >BC Sprint Odds</a></li>
        <li><a href="/breeders-cup/filly-mare-turf"  >BC  Filly and Mare Turf Odds</a></li>
        <li><a href="/breeders-cup/dirt-mile"  >BC  Dirt Mile Odds</a></li>
        <li><a href="/breeders-cup/turf-sprint"  >BC  Turf Sprint Odds</a></li>
        <li><a href="/breeders-cup/filly-mare-sprint"  >BC  Filly and Mare Sprint Odds</a></li> *}

  </ul>
</li>
