{* <!-- How to Bet ================================================ --> *}
{* <li class="dropdown"><a href="/how-to/bet-on-horses" >How to Bet</a> *}
     <li class="dropdown">{* <a href="/news" >Racing News</a> *}
  <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" >How to Bet<i class="fa fa-angle-down"></i></a>
  <ul class="dropdown-menu">
<li><a href="/how-to/bet-on-horses">How to Bet on Horses </a></li>
<li><a href="/news/horse-betting-101/">Handicapping Tips</a></li>
<!-- <li><a href="https://www.guaranteedtipsheet.com/index.asp?afid=usr" target="_blank" rel="nofollow">Guaranteed Picks</a></li>  -->
<li><a href="/news/kentucky-derby-betting-cryptocurrency-increases-popularity" >Betting with Bitcoin</a></li>
{*<ul class="dropdown-menu">
<li><a href="/how-to/wager-on-horses" title="How to wager on Horses">How to Wager on Horses</a></li>
<li><a href="/how-to/bet-on-horses">How to Bet on Horses</a></li>
<li><a href="/how-to/read-the-daily-racing-form">How to Read the Daily Racing Form</a></li>
<li><a href="/how-to/read-past-performances" >Past Performances</a></li>
<li><a href="/horse-betting/beginner-Tips" title="Beginner Horse Betting Tips" >Beginner Tips</a></li>
<li><a href="/horse-racing-terms" title="Horse Racing Terms and Terminology">Horse racing terms</a></li>
<li><a href="/horse-betting/straight-wager" title="How to Place a Straight Wager" rel="nofollow">Straight Wager</a></li>
<li><a href="/horse-betting/win" title="Win, Place and Show Bets" rel="nofollow">Win - </a><a href="/horse-betting/place" title="Win, Place and Show Bets" rel="nofollow"> Place - </a><a href="/horse-betting/Show" title="Win, Place and Show Bets" rel="nofollow">Show</a></li>
<li><a href="/horse-betting/exacta" title="Exacta Horse Bets" rel="nofollow">Exacta</a></li>
<li><a href="/horse-betting/trifecta" title="Trifecta Horse Bets" rel="nofollow">Trifecta</a></li>
<li><a href="/horse-betting/superfecta" title="Superfecta Horse Bets" rel="nofollow">Superfecta</a></li>
<li><a href="/horse-betting/quinella" title="Quinella Horse Bets" rel="nofollow">Quinella</a></li>
<li><a href="/horse-betting/daily-double" title="Daily Double Horse Bets" rel="nofollow">Daily Double</a></li>
<li><a href="/horse-betting/exotic" title="Exotic Horse Bets" rel="nofollow">Exotic Horse Bet</a></li>
<li><a href="#" title="#" rel="nofollow">Instructional Videos</a></li>
<li><a href="/how-to/bet-on-horses" title="" >How to Bet on Horses</a></li>
<li><a href="/how-to/read-the-daily-racing-form" title="">How to Read the Daily Racing Form</a></li>
<li><a href="/how-to/read-past-performances" title="" rel="nofollow">Past Performances</a></li>
<li><a href="#" title="Advanced Horse Bets" rel="nofollow">Advanced Horse Bets</a></li>
<li><a href="/horse-betting/across-the-board" title="Across the Board Bets" rel="nofollow">Across the Board</a></li>
<li><a href="/horse-betting/place-Pick-all" title="Place Pick All Bets" rel="nofollow">Place Pick All</a></li>
<li><a href="/horse-betting/box-bet" title="Box Horse Bets" rel="nofollow">Box Bets</a></li>
<li><a href="/horse-betting/key-a-Horse" title="Key a Horse" rel="nofollow">Key a Horse</a></li>
<li><a href="/horse-betting/pick-three" title="Pick 3 Horse Bets" rel="nofollow">Pick Three</a></li>
<li><a href="/horse-betting/pick-four" title="Pick 4 Bets" rel="nofollow">Pick Four</a></li>
<li><a href="/horse-betting/pick-six" title="Pick 6 Horse Bets" rel="nofollow">Pick Six</a></li>
<li><a href="/horse-racing-terms" title="Horse Racing Terms and Terminology">Horse Racing Terms</a></li>
<li><a href="#" title="Horse Betting 101" rel="nofollow">Horse Betting 101</a></li>
<li><a href="/horse-betting/beginner-Tips" title="Beginner Horse Betting Tips" rel="nofollow">Beginner Tips</a></li>
<li><a href="/legend" title="" rel="nofollow">Horse Racing Legend</a></li>
<li><a href="/horse-betting/thoroughbred-Tips" title="" rel="nofollow">Thoroughbred Tips</a></li>
<li><a href="/horse-betting/quarter-Horse-Tips" title="" rel="nofollow">Quarter Horse Tips</a></li>
<li><a href="/horse-betting/money-management" title="" rel="nofollow">Money Management</a></li>
<li><a href="/horse-betting/claiming-race" title="Claiming Race" >Claiming Race</a></li>
<li><a href="/horse-betting/maiden-race" title="Maiden Race" rel="nofollow">Maiden Race</a></li>
<li><a href="/horse-betting/allowance-race" title="Allowance Races" rel="nofollow">Allowance Races</a></li>
<li><a href="/horse-betting/starter-allowance" title="Starter Allowance" rel="nofollow">Starter Allowance</a></li>
<li><a href="/horse-betting/handicapping-stakes-races" title="Stakes and handicap" rel="nofollow">Stakes &amp; Handicapping</a></li>
*}
</ul>
</li>