<li class="menu-496 depth-0"><a href="/mobile-betting" title="Mobile Betting">MOBILE</a>

<ul>
<div class="mega-menu">
<div class="advertisement group-tids-13" id="ad-mobile"><a href="/mobile-betting" title="Mobile Betting - Bet Now!"><img src="/files/megamenu-football.jpg" alt="Bet on Horses Now!" /></a> 
</div><!-- Ad: Mobile Wagering -->

<div class="inner">
<div class="menu-659 depth-1 first"><a href="/mobile-betting" title="Mobile Betting">Bet on horses from your phone!</a>
<div class="menu-692 depth-2 first"><a href="#" title="#">first</a></div>
<div class="menu-693 depth-2"><a href="#" title="#">second</a></div>
<div class="menu-700 depth-2 lastbutone"><a href="#" title="#">third</a></div>
<div class="menu-867 depth-2 last"><a href="#">fourth</a></div>
</div>


<div class="menu-788 depth-1 last"><a href="/live-racing-video" title="US Racing on your Mobile Device">Bet on Races from your mobile phone</a>
<div class="menu-789 depth-2 first"><a href="/live-racing-video/iphone" title="Live Racing on iPhone">Bet Racing on iPhone</a></div>
<div class="menu-792 depth-2"><a href="/live-racing-video/ipad" title="Live Racing on iPad">Bet Racing on iPad</a></div>
<div class="menu-794 depth-2 lastbutone"><a href="/live-racing-video/android" title="Live Racing on Android">Bet Racing on Android</a></div>
<div class="menu-795 depth-2 last"><a href="/live-racing-video/blackberry" title="Live Racing on Blackberry">Bet Racing on Blackberry</a></div>

</div>

</div></div></ul></li>






</li>
<!-- end: ******************************************************* -->