<li class="dropdown">
  <a  class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false"  >Pegasus World Cup<i class="fa fa-angle-down"></i></a>
  <ul class="dropdown-menu">
  
  {* {if $PWC_Switch_SAT} 
	  <li><a href="/pegasus-world-cup/odds" >Pegasus World Cup {include_php file='/home/ah/allhorse/public_html/pegasus/year.php' once=false} Odds</a></li> 
    <li><a href="/pegasus-world-cup/betting" >Pegasus World Cup Betting</a></li>
    <li><a href="/pegasus-world-cup/signup-bonus">Pegasus World Cup Sign Up Bonus</a></li>
	  <li><a href="/pegasus-world-cup/contenders">Pegasus World Cup Contenders</a></li>  
  {/if} *}
    {* <li><a href="/pegasus-world-cup/results" >2022 Pegasus World Cup Results</a></li>
	  <li><a href="/pegasus-world-cup/winners" >Pegasus World Cup Winners</a></li> *}
    {* <li><a href="/news/tag/pegasus-world-cup/">Pegasus World Cup News</a></li> *}

    
	  {* <li><a href="/pegasus-world-cup/odds" >{include_php file='/home/ah/allhorse/public_html/pegasus/year.php' once=false} Pegasus World Cup Odds</a></li>
    <li><a href="/pegasus-world-cup/betting">{include_php file='/home/ah/allhorse/public_html/pegasus/year.php' once=false} Pegasus World Cup Betting</a></li>
    <li><a href="/pegasus-world-cup/contenders" >{include_php file='/home/ah/allhorse/public_html/pegasus/year.php' once=false} Pegasus World Cup Contenders</a></li>
    <li><a href="/pegasus-world-cup/signup-bonus">{include_php file='/home/ah/allhorse/public_html/pegasus/year.php' once=false} Pegasus World Cup Sign Up Bonus</a></li> *}
    <li><a href="/pegasus-world-cup/odds" >Pegasus World Cup Odds</a></li>
    <li><a href="/pegasus-world-cup/contenders" >Pegasus World Cup Contenders</a></li>
    <li><a href="/pegasus-world-cup/results" >Pegasus World Cup Results</a></li>
    <li><a href="/pegasus-world-cup/betting">Pegasus World Cup Betting</a></li>
	  <li><a href="/pegasus-world-cup/winners" >Pegasus World Cup Winners</a></li>

	 {* <li><a href="/pegasus-world-cup/results" >{include_php file='/home/ah/allhorse/public_html/pegasus/yearlast.php' once=false} Pegasus World Cup Results</a></li>
	  <li><a href="/pegasus-world-cup/winners" >Pegasus World Cup Winners</a></li> *}
  </ul>
</li>