<li class="dropdown">
        <a href="/preakness-stakes" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0"
                data-close-others="false">Preakness Stakes <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
                {if $PS_Switch_Main}
                <li><a href="/preakness-stakes/free-bet">Get Your FREE BET</a></li>
               {*<li><a href="/preakness-stakes">{$PREAKNESS_YEAR} Preakness Stakes</a></li>*}
                <li><a href="/preakness-stakes/betting">Preakness Stakes Betting</a></li>
                <li><a href="/preakness-stakes/odds">Preakness Stakes Odds</a></li>
                <li><a href="/preakness-stakes/entries">Preakness Stakes Entries</a></li>
                <li><a href="/preakness-stakes/watch-live">Preakness Stakes Livestream</a></li>
                {*<li><a href="/kentucky-derby/results">Kentucky Derby Results</a></li>
                <li><a href="/kentucky-derby/winners">Kentucky Derby Winners</a></li>*}
                
                {* <li><a href="/preakness-stakes/contenders">Preakness Stakes Contenders</a></li> *}
                 {*<li><a href="/news/tag/preakness-stakes-contenders">Preakness Stakes Contenders </a></li>*}
                {* <li><a href="/news/tag/preakness-stakes-workouts">Preakness Stakes Workouts </a></li> *}
                {* <li><a href="/pimlico">Pimlico</a></li> *}
                 {*<li><a href="/bet-on/preakness-stakes">Bet on Preakness Stakes</a></li>

                {* <li><a href="/promos/blackjack-tournament">Blackjack Tournament</a></li>*}
                {*
                <li><a href="/kentucky-derby/winners">Kentucky Derby Winners</a></li>
                <li><a href="/kentucky-derby/results">Kentucky Derby Results</a></li>
                *}
                {* <li><a href="/kentucky-derby/video">Kentucky Derby Video</a></li> *}
                {/if}
                {if $PS_Switch_Race_Day}
                <li><a href="/preakness-stakes/free-bet">Get Your FREE BET</a></li>
        
               {*<li><a href="/preakness-stakes">{$PREAKNESS_YEAR} Preakness Stakes</a></li>*}
                <li><a href="/preakness-stakes/betting">Preakness Stakes Betting</a></li>
                <li><a href="/preakness-stakes/odds">Preakness Stakes Odds</a></li>
                <li><a href="/preakness-stakes/entries">Preakness Stakes Entries</a></li>
                <li><a href="/preakness-stakes/watch-live">Preakness Stakes Livestream</a></li>
                
                {* <li><a href="/preakness-stakes/contenders">Preakness Stakes Contenders</a></li> *}
                 {*<li><a href="/news/tag/preakness-stakes-contenders">Preakness Stakes Contenders </a></li>*}
                {* <li><a href="/news/tag/preakness-stakes-workouts">Preakness Stakes Workouts </a></li> *}
                {* <li><a href="/pimlico">Pimlico</a></li> *}
                 {*<li><a href="/bet-on/preakness-stakes">Bet on Preakness Stakes</a></li>

                {* <li><a href="/promos/blackjack-tournament">Blackjack Tournament</a></li>*}
                {*
                <li><a href="/kentucky-derby/winners">Kentucky Derby Winners</a></li>
                <li><a href="/kentucky-derby/results">Kentucky Derby Results</a></li>
                *}
                {* <li><a href="/kentucky-derby/video">Kentucky Derby Video</a></li> *}
                {/if}
                {if $PS_Switch_Results} <li><a href="/preakness-stakes/results">Preakness Stakes Results</a></li>
                <li><a href="/preakness-stakes/winners">Preakness Stakes Winners</a></li> {/if}

        </ul>
</li>