<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="true" >Promos <i class="fa fa-angle-down"></i></a>
  <ul class="dropdown-menu right">
 {* <li><a href="/promos/10-reload-bonus">Belmont Reload Bonus</a></li>*}

     <li><a href="/promos/cash-bonus-20">{$BONUS_WELCOME} New Member Bonus</a></li>
 <li><a href="/promos/cash-bonus-150">{$BONUS_RETENTION} Cash Bonus</a></li>
     <li><a href="/rebates">8% Rebates</a></li>
{* 		<li><a href="/promos/free-bet"  >Free Bets for Members</a></li> *}
{* {if $KD_Switch} <li><a href="/kentucky-derby/free-bet">Free Kentucky Derby Bet</a></li> {/if}
{if $PS_Switch}<li><a href="/preakness-stakes/free-bet">Free Preakness Bet</a></li> {/if}
{if $BS_Switch}<li><a href="/belmont-stakes/free-bet">Free Belmont Stakes Bets</a></li> {/if}
{if $dateNow <= '2020-01-25 17:34:00'}<li><a href="/pegasus-world-cup/signup-bonus">Pegasus World Cup Sign Up Bonus</a></li>{/if} *}
   {*<li><a href="/promos/free-bet">Free Bet</a></li> *}
 {*   <li><a href="/breeders-cup/free-bet">Free Breeders' Cup Bet</a></li>  *}
{*  <li><a href="/belmont-stakes/free-bet">Free Belmont Bet</a></li>*}
{*    <li><a href="/promos/casino-rebate">50% Casino Cash Back</a></li> *}
{*  <li><a href="/promos/blackjack-tournament">Blackjack Tournament</a></li> *}
    {* <li><a href="/promos/race-of-the-week">Race of the Week</a></li> *}
     {* <li><a href="/promos/blackjack-tournament">KD Blackjack Tournament</a></li> *}
{*     <li><a href="/refer-a-friend">Refer a Friend Bonus</a></li> *}
{*     <li><a href="/promos/derby-wager-guide">Kentucky Derby Betting Guide</a></li>
         <li><a href="/super-bowl" >Super Bowl Deposit Bonus</a></li> *}
{*
     <li><a href="/getting-started">Have a Promo Code?</a></li>
*}
  </ul>
</li>