<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Saudi
    Cup<i class="fa fa-angle-down"></i></a>
  <ul class="dropdown-menu">
	
   <li><a href="/saudi-cup/results">Saudi Cup 2022 Results</a></li>
    <li><a href="/saudi-cup/winners">Saudi Cup 2022 Winners</a></li>
   {*  <li><a href="/saudi-cup/contenders">Saudi Cup 2021 Contenders</a></li> 
	
    <li><a href="/saudi-cup/odds">{include_php file='/home/ah/allhorse/public_html/saudi-cup/year.php' once=false} Saudi Cup Odds</a></li>
    <li><a href="/saudi-cup/betting">{include_php file='/home/ah/allhorse/public_html/saudi-cup/year.php' once=false} Saudi Cup Betting</a></li>
    <li><a href="/saudi-cup/contenders">{include_php file='/home/ah/allhorse/public_html/saudi-cup/year.php' once=false} Saudi Cup Contenders</a></li> *}

	  {* This option will not be used on 2021 cup *}  	
    {* <li><a href="/bet-on/saudi-cup">Bet on the Saudi Cup</a></li>
    <li><a href="/saudi-cup/watch-live">{include_php file='/home/ah/allhorse/public_html/saudi-cup/year.php' once=false} Saudi Cup Livestream</a></li>  *}
	
  </ul>
</li>