  <li class="depth-0 last"><a href="https://secure.usracing.com/Register.aspx"  >SIGN UP</a></li>
  
  
{*<script type="text/javascript">(logged_in())?document.write('<li class=" depth-0 lastbutone"><a href="javascript:void(0);" onclick="open_banking();" title="Deposit">DEPOSIT</a></li>'):document.write('<li class="depth-0 last"><a href="https://secure.usracing.com/Register.aspx" title="SIGN UP FOR FREE" rel="nofollow">SIGN UP</a></li>');</script> *}
