<li class="menu-496 depth-0"><a href="/mobile-betting" title="Mobile Betting">Triple Crown</a>

<ul>
<div class="mega-menu">
<div class="advertisement group-tids-13" id="ad-mobile"><a href="/mobile-betting" title="Mobile Betting - Bet Now!"><img src="/files/megamenu-football.jpg" alt="Bet on Horses Now!" /></a> 
</div><!-- Ad: Mobile Wagering -->

<div class="inner">

{include file='primarymenu/kentuckyderby_mini.tpl'}
</div>


{include file='primarymenu/preaknessstakes_mini.tpl'}

</div>

{include file='primarymenu/belmontstakes_mini.tpl'}




</div></div></ul></li>






</li>
<!-- end: ******************************************************* -->
