@import url('https://fonts.googleapis.com/css?family=Roboto');

.headline h1	{
	color: #428bca !important ;
	text-align: center;
	font-size: 25px !important;
}

.pps-track-date-header,.pps-track-menu-header{
	width:100%;
	float: left;
	background: #428bca;
	color: white;
	padding:5px;
	margin-bottom:8px;
}
 
 .pps-track-menu-box{
	/*margin: 1% 1% 1%; 
	width: 31%;*/
	 margin: 3px 3px;	
	width: 96px;
	min-height: 117px;
	border-radius: 10px;
	float: left;	
	font-weight: normal;
	position: relative;
	box-sizing: border-box;		
	background: #fff;
	border: 2px solid #3574ba;
	text-align: center;
	display: block;
	display: flex;
	color: #428bca;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	letter-spacing: -0.3px; 
	line-height: 13.75px;
}

.pps-track-date-box{
	/*margin: 1% 1% 1%; 
	width: 31%;*/
	margin: 28px 3px;
	width: 96px;
	 min-height: 117px;
	border-radius: 10px;
	float: left;	
	font-weight: normal;
	position: relative;
	box-sizing: border-box;		
	background: #fff;
	border: 2px solid #3574ba;
	text-align: center;
	display: block;
	display: flex;
	 color: #428bca;
	 text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	 letter-spacing: -0.3px; 
	 line-height: 13.75px;
}

.pps-track-date-text,.pps-track-menu-text{
    display: inline-block;
	margin: auto;
  text-align:center;

}

@media screen and (max-width: 600px) {
	.pps-track-date-box,.pps-track-menu-box{
          font-size: 13.75px;		
        }
}

@media screen and (min-width: 600px) {
	.pps-track-date-box,.pps-track-menu-box{
          font-size: 16px;		
        }
}

.date-box-selected,.pps-track-menu-box:hover{
    background:#428bca;
    color:white;
}
/* Race */
.pps-race-header{
    width:100%;
    float: left;
}

 .pps-race-box{
	margin: 0 0 2%;
	width: 100%;
	border-radius: 10px;
	float: left;	
	font-weight: normal;
	position: relative;
	box-sizing: border-box;
	padding: 8px;
	background: #fff;
	border: 2px solid #3574ba;
	text-align: center;
	display: block;
	 height: 320px;
}

.pps-race-text-header{
    display: inline-block;
    float:left;
    font-weight: bold;
    font-size:16px;
    width: 20%;
	height: auto;
    color: #428bca;
	
}

.pps-race-text-header-date{
	padding: 35% 0 0;
     font-size: 14px;
	
}
.pps-race-text-header-time{
     font-size: 14px;
	
}
.pps-race-text{
    display: inline-block;
    text-align:left; 
	font-size: 14px;
}
.pps-race-track-header{
    float: right;
    display: inline-block;
    margin: 10px;
    background: #428bca;
    color:white;
    font-weight: bold;
    font-size:20px;
    width:70%;
    border: 2px solid #3574ba;
}

.pps-race-track-header-tittle{    
	margin: 50px auto 20px;
	width: 100%;
	background: #428bca;
	color:white;
	font-weight: bold;
	font-size:20px;	
	border: 2px solid #3574ba;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	height: 48px;
}
.pps-race-text-body{
    width: 70%;
    float: left;
}
.pps-race-back{
    float: left;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    font-size:20px;
    width:20%;
    /*border: 2px solid #3574ba;*/
}

.pps-race-back::before {     
	content: "   ";
	background-image: url(/../../img/pps-back-icon.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	width: 30px;
}

.race-arrow {
    border: solid #428bca;
    border-width: 0 3px 3px 0;
    display: inline-block;    
    padding: 10px;
    margin-top: 13%;
}
.race-right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.pps-race-text-body-header{
    display: inline-block;
    float: left;
    font-weight: bold;
    font-size: 18px;
    width: 70%;
    color: #428bca;
}

/* Horse */
.pps-horse-header{
    width:100%;
    float: left;
}

 .pps-horse-box{
            margin: 0 0 2%;
            width: 100%;
            border-radius: 10px;
            float: left;
            padding: 0;
            font-weight: normal;
            position: relative;
            box-sizing: border-box;
            padding: 8px;
            background: #fff;
            border: 2px solid #3574ba;
            text-align: center;
            display: block;
        }
.pps-horse-text-header{
    display: inline-block;
    float:left;
    font-weight: bold;
    font-size:20px;
    width: 25%;
    color: #428bca;
}
.pps-horse-text{
    margin: 0 0 2%;
    width: 100%;
    border-radius: 10px;
    float: left;
    padding: 0;
    font-weight: normal;
    position: relative;
    box-sizing: border-box;
    padding: 8px;
    background: #fff;
    border: 2px solid #3574ba;
    text-align: center;
    display: block;
}
.pps-horse-track-header{
    float: right;
    display: inline-block;
    margin: 10px;
    background: #428bca;
    color:white;
    font-weight: bold;
    font-size:20px;
    width:70%;
        border: 2px solid #3574ba;
}
.pps-horse-text-body{
    width: 75%;
    float: left;
}
.pps-horse-back{
    float: left;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    font-size:20px;
    width:20%;
    border: 2px solid #3574ba;
}
.pps-horse-text-header-name{
        font-size: 15px;
}
.pps-horse-text-body-header{
    display: inline-block;
    float: left;
    font-weight: bold;
    font-size: 20px;
    width: 75%;
    color: #428bca;
}
.pps-horse-text-header-text{
    margin: 0 0 2% 30%;
    width: 40%;
    border-radius: 10px;
    float: left;
    position: relative;
    box-sizing: border-box;
    padding: 8px;
    background: #e51a00;
    border: 2px solid #3574ba;
    text-align: center;
    display: block; 
    color: #000;
}


