.blue {
    border: 2px solid #1571ba !important
}

.blue-text {
    color: #1571ba !important
}

.white-text {
    color: #fff !important
}

.blue-background {
    background-color: #1571ba !important
}

.block-center .block-center_content {
    display: table-cell;
    vertical-align: middle
}

.paragraph {
    margin: 0 0 10px
}

.height-full {
    height: 100%
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.usr-section {
    display: table;
    width: 100%
}

.usr-section .container {
    margin: 0 auto;
    padding: 0 15px
}

.testimonials--blue {
    background-color: #1672bd;
    padding: 50px 0 80px
}

@media (min-width:768px) {
    .testimonials--blue {
        padding: 30px 0
    }
}

.testimonial-blue {
    border-left: 0;
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center
}

@media (min-width:768px) {
    .testimonial-blue {
        text-align: left
    }
}

@media (min-width:1024px) {
    .testimonial-blue_center {
        padding: 0 200px
    }
}

.testimonial-blue_figure {
    margin: 0 0 25px
}

@media (min-width:768px) {
    .testimonial-blue_figure {
        display: table-cell;
        vertical-align: middle;
        width: 190px
    }
}

.testimonial-blue_figure img {
    background-color: #e3e6e8;
    border-radius: 100%;
    display: block;
    height: 72px;
    width: 72px;
    margin: 0 auto
}

.testimonial-blue p,
.testimonial-blue_p {
    color: #fff;
    font-family: Lato;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    margin: 0 0 14px
}

.testimonial-blue p:after,
.testimonial-blue p:before,
.testimonial-blue_p:after,
.testimonial-blue_p:before {
    content: '"'
}

@media (min-width:480px) {

    .testimonial-blue p,
    .testimonial-blue_p {
        font-size: 20px
    }
}

.testimonial-blue_name,
.testimonial-blue_profile {
    color: #fff;
    font-family: Lato;
    font-size: 17px;
    font-weight: 400
}

.testimonial-blue_name cite,
.testimonial-blue_profile cite {
    font-style: normal
}

.kd {
    background: transparent url(../../img/index-kd/bg-kd.jpg) center bottom no-repeat;
    background-size: initial;
    padding: 20px 0 125px;
    text-align: center
}

@media (min-width:768px) {
    .kd {
        background-size: 100%;
        padding: 20px 0 200px
    }
}

@media (min-width:1024px) {
    .kd {
        padding: 20px 0 300px
    }
}

@media (max-width:768px) {
    .kd {
        background: transparent url(../../img/index-kd/bg-kd-mobile.jpg) center bottom no-repeat;
        background-size: initial;
        text-align: center
    }
}

@media (min-width:480px) {
    .kd_content {
        padding: 0 30px
    }
}

@media (min-width:1200px) {
    .kd_content {
        padding: 0 70px
    }
}

.kd_logo {
    margin: 0 auto 35px;
    width: 140px
}

@media (min-width:768px) {
    .kd_logo {
        margin: 0 auto 45px
    }
}

.kd_heading {
    color: #1672bd;
    font-family: Lato, sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 20px;
    text-align: center
}

@media (min-width:480px) {
    .kd_heading {
        font-size: 70px
    }
}

@media (min-width:768px) {
    .kd_heading br {
        display: none
    }
}

.kd_subheading {
    color: #1672bd;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 42px;
    text-align: center
}

@media (min-width:480px) {
    .kd_subheading {
        font-size: 24px
    }
}

.kd p,
.kd_p {
    color: #444;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 40px;
    text-align: center
}

@media (max-width:768px) {
    .bs-kd_btn {
        margin-top: 40px !important
    }
}

@media (min-width:480px) {

    .kd p,
    .kd_p {
        font-size: 24px
    }
}

.kd_btn {
    background-color: transparent;
    border-radius: 15px;
    border: 3px solid #1672bd;
    color: #1672bd;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 29px;
    font-weight: 900;
    margin: 0 auto;
    margin-top: 80px;
    outline: 0;
    padding: 27px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 278px;
    -webkit-transition: .2s;
    transition: .2s
}

.kd_btn:focus,
.kd_btn:hover {
    color: #1672bd;
    font-weight: 900;
    text-decoration: none
}

.kd_btn:active {
    -webkit-transform: scale(.98);
    transform: scale(.98)
}

@media (min-width:768px) {
    .kd_btn {
        font-size: 30px;
        margin-top: 40px
    }
}

.card {
    display: table;
    width: 100%
}

.card--bg {
    background: transparent url(../../img/index-kd/ketnucky-derby-bg.jpg) center top no-repeat;
    background-size: cover
}

.card--red {
    background-color: #c21515;
    color: #fff;
    padding: 70px 0
}

.card_wrap {
    display: table-row;
    width: 100%
}

@media (min-width:768px) {
    .card_half {
        display: table-cell;
        vertical-align: top;
        width: 50%
    }
}

.card_content {
    color: #1672bd;
    padding: 65px 15px;
    vertical-align: middle;
    text-align: center
}

@media (min-width:768px) {
    .card_content {
        padding: 25px 20px
    }
}

@media (min-width:1024px) {
    .card_content {
        padding: 0 45px
    }
}

.card_content--red {
    background-color: #c21515;
    color: #fff
}

.card_icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px
}

@media (min-width:768px) {
    .card_icon {
        margin-bottom: 20px;
        width: 15%
    }
}

@media (min-width:1024px) {
    .card_icon {
        margin-bottom: 35px;
        width: auto
    }
}

.card_img {
    width: 100%
}

.card_pic {
    background-color: transparent;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%
}

.card_logo {
    margin: 0 auto 45px;
    width: 140px
}

.card_heading {
    color: inherit;
    font-family: Lato, sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 20px;
    text-transform: uppercase
}

@media (min-width:480px) {
    .card_heading {
        font-size: 43px
    }
}

@media (min-width:768px) {
    .card_heading {
        font-size: 24px;
        margin: 0 0 10px
    }
}

@media (min-width:1024px) {
    .card_heading {
        font-size: 32px;
        margin: 0 0 20px
    }
}

@media (min-width:1200px) {
    .card_heading {
        font-size: 43px
    }
}

.card_heading--no-cap {
    text-transform: none
}

.card_heading--block {
    font-size: 32px
}

.card p,
.card_p {
    color: #444;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 40px
}

@media (min-width:768px) {

    .card p,
    .card_p {
        font-size: 16px;
        margin: 0 0 15px
    }
}

@media (min-width:1024px) {

    .card p,
    .card_p {
        font-size: 20px;
        margin: 0 0 30px
    }
}

@media (min-width:1200px) {

    .card p,
    .card_p {
        font-size: 24px;
        margin: 0 0 75px
    }
}

.card_btn {
    background-color: transparent;
    border-radius: 15px;
    border: 3px solid #1672bd;
    color: #1672bd;
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: 0 auto;
    outline: 0;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 190px;
    -webkit-transition: .2s;
    transition: .2s
}

.card_btn:focus,
.card_btn:hover {
    color: #1672bd;
    font-weight: 900;
    text-decoration: none
}

.card_btn:active {
    -webkit-transform: scale(.98);
    transform: scale(.98)
}

@media (min-width:768px) {
    .card_btn {
        font-size: 18px;
        padding: 8px 16px
    }
}

@media (min-width:1024px) {
    .card_btn {
        font-size: 20px;
        padding: 12px 20px
    }
}

.card_btn--default {
    border: 3px solid #fff;
    color: #fff
}

.card_btn--default:focus,
.card_btn--default:hover {
    color: #fff;
    font-weight: 900;
    text-decoration: none
}

.card_hide-mobile {
    display: none
}

@media (min-width:768px) {
    .card_hide-mobile {
        display: table-cell
    }
}

@media (min-width:1024px) {
    .card_show-mobile {
        display: none
    }
}

.bonus {
    background: #1672bd url(../../img/index-kd/bg-bonus.png) right center no-repeat;
    background-size: 50%;
    display: table;
    width: 100%;
    padding: 90px 0;
    text-align: center
}

@media (min-width:768px) {
    .bonus {
        background-size: 25%
    }
}

@media (min-width:1024px) {
    .bonus {
        background-size: contain;
        padding: 180px 0;
        text-align: left
    }
}

.bonus .container {
    padding: 0 15px
}

@media (min-width:1200px) {
    .bonus .container {
        padding: 0
    }
}

.bonus_heading {
    color: #fff;
    display: block;
    font-family: Lato;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    text-transform: uppercase
}

@media (min-width:768px) {
    .bonus_heading {
        font-size: 40px
    }
}

@media (min-width:1024px) {
    .bonus_heading {
        font-size: 56px
    }
}

@media (min-width:1200px) {
    .bonus_heading {
        font-size: 83px
    }
}

.bonus_subheading {
    color: #fff;
    display: block;
    font-family: Lato;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 6.6px;
    margin: 0 0 25px
}

@media (min-width:768px) {
    .bonus_subheading {
        font-size: 20px
    }
}

@media (min-width:1200px) {
    .bonus_subheading {
        font-size: 35px
    }
}

.bonus p,
.bonus_p {
    color: #fff;
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.45;
    margin: 0 0 62px
}

@media (min-width:768px) {

    .bonus p,
    .bonus_p {
        font-size: 18px;
        margin: 0 0 20px
    }
}

@media (min-width:1024px) {

    .bonus p,
    .bonus_p {
        font-size: 24px;
        margin: 0 0 62px
    }
}

.bonus_btn {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 19px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: Lato;
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 1px;
    padding: 23px 10px;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    -webkit-transition: .2s;
    transition: .2s
}

.bonus_btn:active {
    -webkit-transform: scale(.98);
    transform: scale(.98)
}

.bonus_btn:focus,
.bonus_btn:hover {
    color: #fff;
    font-weight: 900;
    text-decoration: none
}

@media (min-width:480px) {
    .bonus_btn {
        width: 398px
    }
}

@media (min-width:768px) {
    .bonus_btn {
        font-size: 20px;
        margin: 0 auto;
        width: 320px
    }
}

@media (min-width:1024px) {
    .bonus_btn {
        font-size: 30px;
        margin: 0;
        width: 398px
    }
}

.payouts {
    background-color: #1672bd;
    padding: 75px 0;
    text-align: center
}

@media (min-width:768px) {
    .payouts {
        text-align: left
    }
}

@media (min-width:1024px) {
    .payouts {
        padding: 125px 0;
        text-align: left
    }
}

.payouts_figure {
    margin-top: 20px;
    text-align: center
}

@media (min-width:768px) {
    .payouts_figure {
        height: 130px;
        margin: 0 auto;
        width: 80%
    }
}

@media (min-width:1024px) {
    .payouts_figure {
        height: 232px;
        margin-top: 0
    }
}

.payouts_figure img {
    margin: 0 auto
}

.payouts_heading {
    color: #fff;
    font-family: Lato, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 35px;
    margin: 0 0 30px;
    text-transform: uppercase
}

.payouts_heading span {
    color: #54b2ff
}

@media (min-width:1024px) {
    .payouts_heading {
        font-size: 54px
    }
}

.payouts p,
.payouts_p {
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 10px
}

@media (min-width:1024px) {

    .payouts p,
    .payouts_p {
        font-size: 24px
    }
}

@media (min-width:0) and (max-width:1200px) {
    .countdown_heading-text-blue:after {
        background-position: right top !important;
        left: 100%;
        margin-top: -8.5px
    }

    .countdown_heading-text-blue:before {
        right: 100%;
        margin-top: -8.5px
    }

    .countdown_heading-text-white:after {
        background-position: right top;
        left: 100%;
        margin-top: -8.5px
    }

    .countdown_heading-text-white:before {
        right: 100%;
        margin-top: -8.5px
    }
}

.centerText {
    margin-right: 0 !important;
    text-align: center !important
}

.leftText {
    margin-left: 210px !important;
    margin-right: 0 !important;
    text-align: left !important
}

.bc-sa {
    background: transparent url(../../img/index-bc/bg-kd.jpg) center bottom no-repeat;
    background-size: initial;
    padding: 20px 0 125px;
    text-align: center
}

@media (min-width:768px) {
    .bc-sa {
        background-size: 100%;
        padding: 20px 0 200px
    }
}

@media (min-width:1024px) {
    .bc-sa {
        padding: 20px 0 300px
    }
}

@media (max-width:768px) {
    .bc-sa {
        background: transparent url(../../img/index-bc/bg-kd-mobile.jpg) center bottom no-repeat !important;
        background-size: initial;
        text-align: center;
        background-position: 70% 100%
    }
}

.pwc {
    background: transparent url(../../img/index-pwc/bg-pwc.jpg) center bottom no-repeat;
    background-size: initial;
    padding: 20px 0 0;
    text-align: center
}

.saudi {
    background: transparent url(../../img/saudi-cup/bg-SC.jpg) center bottom no-repeat;
    background-size: initial;
    padding: 20px 0 0;
    text-align: center
}

@media (min-width:768px) {
    .saudi {
        background-size: 100%;
        padding: 20px 0 0
    }
}

@media (min-width:1024px) {
    .saudi {
        padding: 20px 0 0
    }
}

@media (max-width:768px) {
    .saudi {
        background: transparent url(../../img/saudi-cup/bg-SC.jpg) center bottom no-repeat;
        background-size: contain;
        text-align: center
    }
}

@media (min-width:768px) {
    .pwc {
        background-size: 100%;
        padding: 20px 0 0
    }
}

@media (min-width:1024px) {
    .pwc {
        padding: 20px 0 0
    }
}

@media (max-width:768px) {
    .pwc {
        background: transparent url(../../img/index-pwc/bg-pwc-mobile.jpg) center bottom no-repeat;
        background-size: contain;
        text-align: center
    }
}

.dubai {
    background: transparent url(../../img/dubai-world-cup/bg-dwc.jpg) center bottom no-repeat;
    background-size: initial;
    padding: 20px 0 0;
    text-align: center
}

@media (min-width:768px) {
    .dubai {
        background-size: 100%;
        padding: 20px 0 0
    }
}

@media (min-width:1024px) {
    .dubai {
        padding: 20px 0 0
    }
}

@media (max-width:768px) {
    .dubai {
        background: transparent url(../../img/dubai-world-cup/bg-dwc-mobile.jpg) center bottom no-repeat;
        background-size: contain;
        text-align: center
    }
}

.grammy {
    background: transparent url(../../img/grammy/bg-grammy.jpg) center bottom no-repeat;
    background-size: initial;
    padding: 20px 0 0;
    text-align: center
}

@media (min-width:768px) {
    .grammy {
        background-size: 100%;
        padding: 20px 0 0
    }
}

@media (min-width:1024px) {
    .grammy {
        padding: 20px 0 0
    }
}

@media (min-width:1024px) {
    .grammy {
        padding: 20px 0 0
    }
}

@media (max-width:768px) {
    .grammy {
        background: transparent url(../../img/grammy/bg-grammy-mobile.jpg) center bottom no-repeat;
        background-size: contain;
        text-align: center
    }
}

.golden-globes {
    background: transparent url(../../img/golden-globes/bg-golden-globes.jpg) center bottom no-repeat;
    background-size: initial;
    padding: 20px 0 0;
    text-align: center
}

@media (min-width:768px) {
    .golden-globes {
        background-size: 100%;
        padding: 20px 0 0
    }
}

@media (min-width:1024px) {
    .golden-globes {
        padding: 20px 0 0
    }
}

@media (max-width:768px) {
    .golden-globes {
        background: transparent url(../../img/golden-globes/bg-golden-globes-mobile.jpg) center bottom no-repeat;
        background-size: contain;
        text-align: center
    }
}

.presidential {
    background: transparent url(../../img/presidential/bg-PE.jpg) center bottom no-repeat;
    background-size: initial;
    padding: 20px 0 0;
    text-align: center
}

@media (min-width:768px) {
    .presidential {
        background-size: 100%;
        padding: 20px 0 0
    }
}

@media (min-width:1024px) {
    .presidential {
        padding: 20px 0 0
    }
}

@media (max-width:768px) {
    .presidential {
        background: transparent url(../../img/presidential/bg-PE-mobile.jpg) center bottom no-repeat;
        background-size: contain;
        text-align: center
    }
}

.academy-awards {
    background: transparent url(../../img/academy-awards/bg-academy-awards.jpg) center bottom no-repeat;
    background-size: initial;
    padding: 20px 0 0;
    text-align: center
}

@media (min-width:768px) {
    .academy-awards {
        background-size: 100%;
        padding: 20px 0 0
    }
}

@media (min-width:1024px) {
    .academy-awards {
        padding: 20px 0 0
    }
}

@media (max-width:768px) {
    .academy-awards {
        background: transparent url(../../img/academy-awards/bg-academy-awards-mobile.jpg) center bottom no-repeat;
        background-size: contain
    }
}

.img-cd-usps:after,
.img-cd-usps:before {
    background: transparent url(../../img/presidential/pe-icon.png) left top no-repeat
}

.countdown-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.countdown-bottom-block,
.countdown-top-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.countdown-icon img {
    width: 100%;
    height: auto
}

.countdown-text {
    text-align: center
}

.countdown-text span {
    font-weight: 300;
    font-size: 30px;
    color: #1571ba !important
}

.usr-countdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1571ba !important;
    border: solid 2px #1571ba;
    border-radius: 10px
}

.timer.last {
    margin-right: 0
}

@media (min-width:768px) {
    .countdown-section {
        margin-top: 85px;
        margin-bottom: 85px
    }

    .countdown-text span {
        font-size: 36px
    }

    .usr-countdown {
        margin-right: 50px;
        margin-left: 50px
    }

    .timer .quantity {
        font-size: 48px
    }

    .timer .text {
        font-size: 16px;
        margin-top: 5px
    }

    .timer {
        width: 100px;
        height: 100px;
        margin-right: 10px
    }
}

@media (min-width:480px) and (max-width:767px) {
    .usr-countdown {
        margin-right: 30px;
        margin-left: 30px
    }
}

@media (min-width:320px) and (max-width:767px) {
    .countdown-section {
        margin-top: 30px;
        margin-bottom: 30px
    }

    .countdown-text span {
        font-size: 30px
    }

    .countdown-text {
        width: 60%
    }

    .countdown-icon {
        width: 50px
    }

    .timer .quantity {
        font-size: 30px
    }

    .timer .text {
        font-size: 14px
    }

    .timer {
        width: 70px;
        height: 70px;
        margin-right: 10px
    }
}

@media (min-width:481px) {
    .countdown-top-block .countdown-icon {
        display: none
    }
}

@media (max-width:480px) {
    .countdown-bottom-block .countdown-icon {
        display: none
    }
}

.justify-left p {
    text-align: left !important
}

.justify-center p {
    text-align: center !important
}

p.cta-center {
    text-align: center !important
}