.bloombergmarkets,
.bloombergtv,
.espn,
.forbes,
.laweekly,
.marketwatch,
.seekingalpha,
.sportsillustrated,
.usatoday,
.bleacherreport,
.sporttechie {
    max-width: 100%;
    background-size: 100%;
    background-image: url('/img/index-tv/as-seen-on.png');
}

.bloombergmarkets {
    background-position: 0 0%;
    background-size: 100%;
}

.bloombergtv {
    background-position: 0 10.449321%;
    background-size: 100%;
}

.espn {
    background-position: 0 20.898642%;
    background-size: 100%;
}

.forbes {
    background-position: 0 31.347962%;
    background-size: 100%;
}

.laweekly {
    background-position: 0 41.797283%;
    background-size: 100%;
}

.marketwatch {
    background-position: 0 52.246604%;
    background-size: 100%;
}

.seekingalpha {
    background-position: 0 60%;
    background-size: 100%;
}

.sportsillustrated {
    background-position: 0 68.652038%;
    background-size: 100%;
}

.usatoday {
    background-position: 0 79.101358%;
    background-size: 100%;
}

.bleacherreport {
    background-position: 0 89.550679%;
    background-size: 100%;
}

.sporttechie {
    background-position: 0 100%;
    background-size: 100%;
}

.footer_card {
    opacity: .5;
    cursor: pointer;
    transition: all .3s ease;
    margin-top: 30px;
}

.footer_card:hover {
    opacity: 1;
}

.footer_card img {
    height: 50px;
}

.as-seen-on {
    margin: 30px 0px;
}

@media (min-width: 1281px) {
    .as-seen-on {
        margin: 30px 100px;
    }

    .footer_card .card_9,
    .footer_card .card_15,
    .footer_card .card_14 {
        height: 62px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer_card img {
        height: 38px;
    }
}

@media (min-width: 768px) and (max-width: 794px) {
    .footer_card img {
        height: 35px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .as-seen-on {
        margin: 30px 50px;
    }

    .footer_card img {
        height: 35px;
    }

    .footer_card .card_16 {
        height: 20px;
    }
}

@media (min-width: 349px) and (max-width: 480px) {
    .footer_card img {
        height: 35px;
    }
    .footer_card .card_16 {
        height: 21px;
    }
}

@media (min-width: 320px) and (max-width: 348px) {
    .footer_card img {
        height: 30px;
    }
}