.divcard_ {
    background: url("/img/index-tv/bleacherreport.png") no-repeat;
}

.divcard_1 {
    background: url("/img/index-tv/BloombergMarkets.png") no-repeat;
}

.divcard_2 {
    background: url("/img/index-tv/BloombergTV.png") no-repeat;
}

.divcard_3 {
    background: url("/img/index-tv/CourierJournal.png") no-repeat;
}

.divcard_4 {
    background: url("/img/index-tv/ESPN.png") no-repeat;
}

.divcard_5 {
    background: url("/img/index-tv/Forbes.png") no-repeat;
}

.divcard_6 {
    background: url("/img/index-tv/INVESTOPEDIA.png") no-repeat;
}

.divcard_7 {
    background: url("/img/index-tv/Investopedia2.png") no-repeat;
}

.divcard_8 {
    background: url("/img/index-tv/LAWeekly.png") no-repeat;
}

.divcard_9 {
    background: url("/img/index-tv/Marketwatch.png") no-repeat;
}

.divcard_10 {
    background: url("/img/index-tv/paymentweek.png") no-repeat;
}

.divcard_11 {
    background: url("/img/index-tv/RacingPost.png") no-repeat;
}

.divcard_12 {
    background: url("/img/index-tv/Slate.png") no-repeat;
}

.divcard_13 {
    background: url("/img/index-tv/SportsIllustrated.png") no-repeat;
}

.divcard_14 {
    background: url("/img/index-tv/sporttechie.png") no-repeat;
}

.divcard_15 {
    background: url("/img/index-tv/USAToday.png") no-repeat;
}

.divcard_16 {
    background: url("/img/index-tv/SeekingAlpha.png") no-repeat;
}

.divcard_,
.divcard_1,
.divcard_2,
.divcard_3,
.divcard_4,
.divcard_5,
.divcard_6,
.divcard_7,
.divcard_8,
.divcard_9,
.divcard_10,
.divcard_11,
.divcard_12,
.divcard_13,
.divcard_14,
.divcard_15,
.divcard_16 {
    width: 200px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
}

.as_seen_on_card_ {
    width: 125px;
    height: 75px;
    background: url("/img/index-tv/bleacherreport.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
    background-position-y: 40%;
  }

  .as_seen_on_card_1 {
    width: 125px;
    height: 75px;
    background: url("/img/index-tv/BloombergMarkets.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .as_seen_on_card_2 {
    width: 125px;
    height: 75px;
    background: url("/img/index-tv/BloombergTV.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .as_seen_on_card_3 {
    width: 125px;
    height: 75px;
    background: url("/img/index-tv/CourierJournal.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .as_seen_on_card_4 {
    width: 125px;
    height: 75px;
    background: url("/img/index-tv/ESPN.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .as_seen_on_card_5 {
    width: 125px;
    height: 75px;
    background: url("/img/index-tv/Forbes.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .as_seen_on_card_6 {
    width: 125px;
    height: 75px;
    background: url("/img/index-tv/INVESTOPEDIA.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .as_seen_on_card_7 {
    width: 125px;
    height: 75px;
    background: url("/img/index-tv/Investopedia2.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .as_seen_on_card_8 {
    width: 125px;
    height: 75px;
    background: url("/img/index-tv/LAWeekly.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
    background-position-y: 40%;
  }

  .as_seen_on_card_9 {
    width: 125px;
    height: 75px;
    background: url("/img/index-tv/Marketwatch.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .as_seen_on_card_10 {
    width: 125px;
    height: 75px;
    background: url(" /img/index-tv/paymentweek.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .as_seen_on_card_11 {
    width: 125px;
    height: 75px;
    background: url("/img/index-tv/RacingPost.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .as_seen_on_card_12 {
    width: 125px;
    height: 75px;
    background: url("/img/index-tv/Slate.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .as_seen_on_card_13 {
    width: 125px;
    height: 75px;
    background: url("/img/index-tv/SportsIllustrated.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .as_seen_on_card_14 {
    width: 125px;
    height: 75px;
    background: url("/img/index-tv/sporttechie.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .as_seen_on_card_15 {
    width: 125px;
    height: 75px;
    background: url("/img/index-tv/USAToday.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .as_seen_on_card_16 {
    width: 125px;
    height: 75px;
    background: url("/img/index-tv/SeekingAlpha.png") no-repeat;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .as_seen_on_card_,
  .as_seen_on_card_1,
  .as_seen_on_card_2,
  .as_seen_on_card_3,
  .as_seen_on_card_4,
  .as_seen_on_card_5,
  .as_seen_on_card_6,
  .as_seen_on_card_7,
  .as_seen_on_card_8,
  .as_seen_on_card_9,
  .as_seen_on_card_10,
  .as_seen_on_card_11,
  .as_seen_on_card_12,
  .as_seen_on_card_13,
  .as_seen_on_card_14,
  .as_seen_on_card_15,
  .as_seen_on_card_16 {
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1.0;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
  }

  .as_seen_on_card_:hover,
  .as_seen_on_card_1:hover,
  .as_seen_on_card_2:hover,
  .as_seen_on_card_3:hover,
  .as_seen_on_card_4:hover,
  .as_seen_on_card_5:hover,
  .as_seen_on_card_6:hover,
  .as_seen_on_card_7:hover,
  .as_seen_on_card_8:hover,
  .as_seen_on_card_9:hover,
  .as_seen_on_card_10:hover,
  .as_seen_on_card_11:hover,
  .as_seen_on_card_12:hover,
  .as_seen_on_card_13:hover,
  .as_seen_on_card_14:hover,
  .as_seen_on_card_15:hover,
  .as_seen_on_card_16:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */
  }

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.more {
    color: #1571ba;
    font-style: italic;
    padding-left: 5px;
}

.asSeenOn {
    max-width:720px;
    margin-top:60px;
}

.bottomCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
}

.bottomCard .divCard {
    margin-right: 20px;
    background-position: center;
}

.headline h1 {
    padding-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .bottomCard {
        display: flex;
        flex-direction: column;
    }

    .bottomCard i {
        margin-top: 5px;
    }
}