@media screen and (min-width: 1024px) {
  .form-subscribe {
      /* padding-top: 10px; */
      padding-left: 25%;
      padding-right: 25%;
      background-color: #0096d3;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .form-subscribe {
      /* padding-top: 10px; */
      padding-left: 20%;
      padding-right: 20%;
      background-color: #0096d3;
  }
}

.subscribe-section {
  /*background: #079fed url(../images/bg-news.png); */
  background: none;
  padding: 0px 0;
}
#post-11835 img{ display:block; width:100%; height:auto;} 