@media only screen and (min-width:800px) {
#no-more-tables td {
	text-align: center;
	vertical-align: middle;
}
}
@media only screen and (max-width:800px) {
#no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr {
	display: block
}
#no-more-tables tbody th {
	display: none;
}
.hide-sm {
	display: none;
}
#no-more-tables thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px
}
#no-more-tables tr {
	border: 1px solid #ccc;
	margin-bottom: 5px
}
#no-more-tables td {
	border: 0;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 50%;
	white-space: normal;
	text-align: center
}
#no-more-tables td:before {
	position: absolute;
	width: 45%;
	white-space: nowrap;
	text-align: center;
	font-weight: 700;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #1571ba!important;
	color: #fff;
	content: attr(data-title);
	padding: 5px!important
}
#no-more-tables table {
	border: none!important
}
}
.table-bordered>thead>tr th {
	background: #1571ba!important;
	border: 1px solid #ccc;
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
	color: #fff;
	text-align: center
}
#sortTable th {
	cursor: pointer
}

@media screen and (max-width: 800px) {

	.newtabe-caption {display: block;}
	.newtable-footer{display: block;}

}
