/*****************************************************************************************************************************************/

/* -= GENERAL CSS BEGIN=- */

/*****************************************************************************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Roboto');
#main, body {
	/*background-color: #eeeeee;*/
	background-color: #fff;
}
.color1 {
	width: 32px !important;
	height: 27px !important;
	color: #fff !important;
	background: #e94949;
	background: -moz-linear-gradient(top, #e94949 1%, #b02525 100%);
	background: -webkit-linear-gradient(top, #e94949 1%, #b02525 100%);
	background: linear-gradient(to bottom, #e94949 1%, #b02525 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e94949', endColorstr='#b02525', GradientType=0 );
}
.color2 {
	width: 32px !important;
	height: 27px !important;
	color: #000 !important;
	background: #fbfbfb;
	background: -moz-linear-gradient(top, #fbfbfb 1%, #dcdcdc 100%);
	background: -webkit-linear-gradient(top, #fbfbfb 1%, #dcdcdc 100%);
	background: linear-gradient(to bottom, #fbfbfb 1%, #dcdcdc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#dcdcdc', GradientType=0 );
}
.color3 {
	width: 32px !important;
	height: 27px !important;
	color: #fff !important;
	background: #22bbfb;
	background: -moz-linear-gradient(top, #22bbfb 2%, #22bbfb 100%);
	background: -webkit-linear-gradient(top, #22bbfb 2%, #22bbfb 100%);
	background: linear-gradient(to bottom, #22bbfb 2%, #22bbfb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22bbfb', endColorstr='#22bbfb', GradientType=0 );
}
.color4 {
	width: 32px !important;
	height: 27px !important;
	color: #000 !important;
	background: #fbf922;
	background: -moz-linear-gradient(top, #fbf922 1%, #dcd903 100%);
	background: -webkit-linear-gradient(top, #fbf922 1%, #dcd903 100%);
	background: linear-gradient(to bottom, #fbf922 1%, #dcd903 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf922', endColorstr='#dcd903', GradientType=0 );
}
.color5 {
	width: 32px !important;
	height: 27px !important;
	color: #fff !important;
	background: #24ba40;
	background: -moz-linear-gradient(top, #24ba40 0%, #03981f 100%);
	background: -webkit-linear-gradient(top, #24ba40 0%, #03981f 100%);
	background: linear-gradient(to bottom, #24ba40 0%, #03981f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24ba40', endColorstr='#03981f', GradientType=0 );
}
.color6 {
	width: 32px !important;
	height: 27px !important;
	color: yellow !important;
	background: #303030;
	background: -moz-linear-gradient(top, #303030 0%, #0b0b0b 100%);
	background: -webkit-linear-gradient(top, #303030 0%, #0b0b0b 100%);
	background: linear-gradient(to bottom, #303030 0%, #0b0b0b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#0b0b0b', GradientType=0 );
}
.color7 {
	width: 32px !important;
	height: 27px !important;
	color: #000 !important;
	background: #fd5151;
	background: -moz-linear-gradient(top, #fd5151 1%, #962e2e 100%);
	background: -webkit-linear-gradient(top, #fd5151 1%, #962e2e 100%);
	background: linear-gradient(to bottom, #fd5151 1%, #962e2e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd5151', endColorstr='#962e2e', GradientType=0 );
}
.color8 {
	width: 32px !important;
	height: 27px !important;
	color: #000 !important;
	background: #f679da;
	background: -moz-linear-gradient(top, #f679da 1%, #d558b9 100%);
	background: -webkit-linear-gradient(top, #f679da 1%, #d558b9 100%);
	background: linear-gradient(to bottom, #f679da 1%, #d558b9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f679da', endColorstr='#d558b9', GradientType=0 );
}
.color9 {
	width: 32px !important;
	height: 27px !important;
	color: #000 !important;
	background: #24bbb3;
	background: -moz-linear-gradient(top, #24bbb3 1%, #039a91 100%);
	background: -webkit-linear-gradient(top, #24bbb3 1%, #039a91 100%);
	background: linear-gradient(to bottom, #24bbb3 1%, #039a91 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24bbb3', endColorstr='#039a91', GradientType=0 );
}
.color10 {
	width: 32px !important;
	height: 27px !important;
	color: #fff !important;
	background: #dc24cd;
	background: -moz-linear-gradient(top, #dc24cd 2%, #bb03ac 100%);
	background: -webkit-linear-gradient(top, #dc24cd 2%, #bb03ac 100%);
	background: linear-gradient(to bottom, #dc24cd 2%, #bb03ac 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc24cd', endColorstr='#bb03ac', GradientType=0 );
}
.color11 {
	width: 32px !important;
	height: 27px !important;
	color: red !important;
	background: #d5c0c0;
	background: -moz-linear-gradient(top, #d5c0c0 1%, #b49f9f 100%);
	background: -webkit-linear-gradient(top, #d5c0c0 1%, #b49f9f 100%);
	background: linear-gradient(to bottom, #d5c0c0 1%, #b49f9f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5c0c0', endColorstr='#b49f9f', GradientType=0 );
}
.color12 {
}
.color13 {
}
.color14 {
}
.color15 {
}
.color16 {
}
.color17 {
}
.color18 {
}
.color19 {
}
.color20 {
}
.color21 {
}
.color22 {
}
.color23 {
}
.color24 {
}
.headline h1 {
	color: #3574ba !important;
	text-align: center;
	font-size: 25px !important;
}
.capitalize {
	text-transform: capitalize;
}
.pps-race-back, .pps-horse-back {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	float: left;
	display: inline-block;
	margin: 1% 0 0 0;
	font-size: 17px;
	width: 100%;
	color: #3574ba;
	cursor: pointer;
}
.pps-race-back::before, .pps-horse-back::before {
	content: "   ";
	background-image: url(/../../img/pps-back-icon.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	width: 30px;
	padding-bottom: 20px;
}
.claiming {
	text-transform: capitalize;
}
.btn-xlrg {
	font-size: 1.2em;
	padding: 3% 20% 3% 20%;
	background: #c71f24;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}
p .btn-xlrg {
	background: #c71f24;
	border-radius: 5px;
	margin: 15px 0;
	text-transform: uppercase;
}
.btn-xlrg2 {
	font-size: 19px;
	padding: 15px 100px;
	background: #c71f24;
	border-radius: 5px;
	margin-top: 20px !important;
	color: #fff;
	text-transform: uppercase;
}

/* ******************************* START MOBILE *********************************/ /************************** Start Slide 1 MOBILE **************************/

@media screen and (max-width: 600px) {
.pps-track-date-box {
	margin: 6.1% 1% 6.1%;
	/*  min-height: 117px;*/
	min-height: 7.6em;
	border-radius: 10px;
	float: left;
	position: relative;
	box-sizing: border-box;
	background: #fff;
	border: 2px solid #3574ba;
	text-align: center;
	display: flex;
	color: #3574ba;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	letter-spacing: -0.3px;
	width: 31%;
	left: 1%;
}
.pps-track-date-box, .pps-track-menu-box {
	/*font-size: 13.75px;*/
	font-size: 0.86em;
	line-height: 1.2em;
}
.today {
	/*font-size: 22.25px;*/
	font-size: 1.6em;
	text-transform: capitalize;
}
.date-box-selected, .pps-track-menu-box:hover {
	background: #3574ba;
	color: white;
}
.pps-track-menu-box {
	margin: 1% 1% 1%;
	width: 31%;
	/*min-height: 117px;*/
	min-height: 8.6em;
	border-radius: 10px;
	float: left;
	position: relative;
	box-sizing: border-box;
	background: #fff;
	border: 2px solid #3574ba;
	text-align: center;
	display: block;
	display: flex;
	color: #3574ba;
	text-transform: capitalize;
	font-family: 'Roboto', sans-serif;
	letter-spacing: -0.3px;
	line-height: 13.75px;
	font-size: 13.75px;
	left: 1%;
}
.pps-track-date-text, .pps-track-menu-text {
	display: inline-block;
	margin: auto;
	text-align: center;
	padding: 2%;
}
/*  Select Date */
.pps-track-date-header {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 25.25px;
	width: 113%;
	height: 48px;
	float: left;
	background: #3574ba;
	color: white;
	padding: 12px;
	margin-left: -20px;
}
/*  Select Track */
.pps-track-menu-header {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 25.25px;
	width: 113%;
	height: 48px;
	float: left;
	background: #3574ba;
	color: white;
	padding: 12px;
	margin-bottom: 11px;
	margin-left: -20px;
}
/************************** End Slide 1 MOBILE ***************************************************************************/

/************************** Start Slide 2 MOBILE ***************************************************************************/

.pps-race-track-header-title {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 36.39px;
	margin: 50px auto 20px;
	width: 100%;
	background: #3574ba;
	color: white;
	line-height: 30px;
	padding: 10px;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: -1px;
	padding-top: 7%;
}
.pps-race-text-header-text {
	float: left;
	font-size: 14.75px;
}
.pps-race-text-header-time {
	float: left;
	color: #3574ba;
	font-size: 13.75px;
	line-height: 13px;
}
.pps-race-text-body-header {
	display: inline-block;
	float: left;
	width: 70%;
	text-align: left;
}
.pps-race-text {
	font-weight: normal;
	display: inline-block;
	text-align: left;
	line-height: 17.75px;
	letter-spacing: 0.2px;
	text-transform: capitalize;
}
.pps-race-box {
	margin: 0 0 2%;
	width: 100%;
	border-radius: 10px;
	float: left;
	font-weight: normal;
	position: relative;
	box-sizing: border-box;
	padding: 8px;
	background: #fff;
	border: 2px solid #3574ba;
	text-align: center;
	display: flex;
	padding-bottom: 10px;
	text-transform: uppercase;
	background-image: url(/../../img/pps-arrow.png);
	background-repeat: no-repeat;
	background-position: 95% 50%;
	align-items: center;
}
.pps-race-text-header-date {
	padding: 30% 0 0;
	line-height: 14px;
	color: #3574ba;
}
.pps-race-header {
	width: 100%;
	float: left;
}
.pps-race-text-header {
	display: inline-block;
	float: left;
	width: 20%;
	height: auto;
	color: #3574ba;
	text-transform: capitalize;
}
/************************** End Slide 2 MOBILE ***************************************************************************/

/************************** Start Slide 3 MOBILE ***************************************************************************/

.pps-race-track-header {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 36.39px;
	margin: 50px auto 20px;
	width: 100%;
	height: auto;
	background: #3574ba;
	color: white;
/*	margin-left: -20px;
*/	line-height: 30px;
	padding: 10px;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: -1px;
	padding-top: 7%;
}
.race-date {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 22.31px;
	text-align: center;
	letter-spacing: -1px;
}
.carousel-left {
	width: 14px;
	/*display: block;*/
	height: 30px;
	background-image: url(/../../img/pps-arrow-left.png);
	background-repeat: no-repeat;
	float: left;
	/*margin-top: 15%;*/
	cursor: pointer;
	padding: 12%;
	background-position: 40% 50%;

}
.carousel-right {
	width: 14px;
	/*display: block;*/
	height: 30px;
	background-image: url(/../../img/pps-arrow.png);
	background-repeat: no-repeat;
	float: right;
	/*margin-top: -23%;*/
	cursor: pointer;
	padding: 12%;
	background-position: 70% 50%;
}
ol {
	list-style: none !important;
	margin: 0 0 0 -26px;
	display: flex;
	justify-content: center;
}
ol li {
	display: inline-block;
	text-align: center;
	margin-top: 25%;
}
.race {
	text-align: center;
	display: inline;
	font-size: 23.31px;
	text-transform: uppercase;
}
.date {
	text-align: center;
	font-size: 14.75px;
	text-transform: lowercase;
}
.carousel-body {
	width: 50%;
	margin: 0 auto;
	/*    margin: 0 0 0 24.8%;*/
	height: 100px;
	overflow: hidden;
	border-left: 1px solid #3574ba;
	border-right: 1px solid #3574ba;/*  display: flex;
    align-items: center !important;
	padding: 0 3% 0 0;*/
}
.pps-race-numb {
	background-color: #fff;
	height: 140px;
	width: 100%;
/*	margin: -6% 0 0 -7%;
*//*	padding: 3% 10% 0 10%;*/
}
.pps-header-carousel {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4% 0 0 0;
}
.inactive {
	display: none;
}
.pps-horse-claiming {
	clear: both;
/*	margin-bottom: -85px;
*/	/* margin-top: -40px; */
	border-top: 1px solid #3574ba;
	width: 100%;
/*	margin-left: -20px;
	margin-right: -20px;*/
	padding: 10% 10% 5% 10%;
	background-color: #fff;
	height: 140px;
}
.claiming-title {
	float: left;
	font-size: 23.31px;
	margin-bottom: 15px;
}
.claimamt-value {
	float: right;
	font-size: 23.31px;
}
.purse-title {
	clear: both;
	float: left;
	font-size: 23.31px;
}
.purse-value {
	float: right;
	font-size: 23.31px;
}
.pps-horse-box {
	margin: 0 0 2%;
	width: 100%;
	border-radius: 10px;
	float: left;
	font-weight: normal;
	position: relative;
	box-sizing: border-box;
	padding: 8px 29px 8px 8px;
	background: #fff;
	border: 2px solid #3574ba;
	text-align: center;
	display: block;
	background-image: url(/../../img/pps-arrow.png);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
.pps-horse-text-header {
	display: inline-block;
	float: left;
	font-weight: bold;
	font-size: 20px;
	width: 25%;
	color: #3574ba;
}
.pps-horse-text-header-name {
	font-size: 15px;
/*	float: left;
*//*	margin: 85% 0 0 -38%;
*/	color: #444;
	font-weight: 400;
}
.pps-horse-text-body {
	width: 75%;
	float: left;
	text-transform: capitalize;
}
.pps-horse-text-owner, .pps-horse-text-jockey, .pps-horse-text-trainer {
	width: 95%;
	float: left;
	position: relative;
	box-sizing: border-box;
	background: #fff;
	text-align: left;
	font-size: 13.75px;
}
.pps-horse-text-owner::before {
	content: "   ";
	background-image: url(/../../img/pps-owner-icon.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	width: 30px;
	padding-bottom: 20px;
}
.pps-horse-text-jockey::before {
	content: "   ";
	background-image: url(/../../img/pps-jockey-icon.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	width: 30px;
	padding-bottom: 20px;
}
.pps-horse-text-trainer::before {
	content: "   ";
	background-image: url(/../../img/pps-trainer-icon.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	width: 30px;
	padding-bottom: 20px;
}
.pps-horse-bet-opt {
	clear: both;
	margin-bottom: 30px;
	/* padding-bottom: 20px; */
	border-bottom: 1px solid #3574ba;
/*	margin-top: 80px;
*/	/* padding-top: 20px; */
	border-top: 1px solid #3574ba;
	width: 100%;
/*	margin-left: -20px;
*/	/* padding-left: 20px; */
/*	margin-right: -20px;
*/	/* padding-right: 10px; */
	text-align: center !important;
	background-color: #fff;
	height: 140px;
	display: flex;
	align-items: center;
	padding: 10%;
}
.pps-horse-text-header-text {
	margin: 40% 0 2% 20%;
	width: 32px;
	height: 27px;
	/*border-radius: 2px;*/
	float: left;
	position: relative;
	box-sizing: border-box;
	line-height: 26px;
	font-size: 13px;
	/*border: 1px solid #000;*/
	text-align: center;
	display: block;/*box-shadow: 0px 1px 1px 1px #404040;*/
}
.pps-horse-header {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.pps-horse-text-horse {
	width: 89%;
	float: left;
	position: relative;
	box-sizing: border-box;
	background: #fff;
	text-align: left;
	font-weight: 600;
}
.pps-race-text-body {
	width: 70%;
	float: left;
	font-size: 13.75px;
	padding: 2%;
}
.btn_top {
	margin: 7% auto;
	clear: both;
	display: grid;
	width: 80%;
}
.btn_down {
	margin: 7% auto;
	clear: both;
	display: grid !important;
	width: 80%;
	padding-top: 7%;
}
}

/************************** End Slide 3 MOBILE **************************/ /*************** END MOBILE ********************************/

/*************** START MEDIUM SIZE ********************************/
/************************** Start Slide 1 MEDIUM SIZE **************************/



/************************** End Slide 1 MEDIUM SIZE **************************/


/************************** Start Slide 2 MEDIUM SIZE **************************/



/************************** End Slide 2 MEDIUM SIZE **************************/

/************************** Start Slide 3 MEDIUM SIZE **************************/



/************************** End Slide 3 MEDIUM SIZE **************************/ /*************** END MEDIUM SIZE ********************************/

/*************** START LARGE SIZE ********************************/ /************************** Start Slide 1 LARGE SIZE **************************/ 


@media screen and (min-width: 601px) {
.pps-track-date-box {
	margin: 7.2% 2.6% 7.2%;
	/* min-height: 117px; */
	min-height: 7.6em;
	border-radius: 10px;
	float: left;
	position: relative;
	box-sizing: border-box;
	background: #fff;
	border: 2px solid #3574ba;
	text-align: center;
	display: flex;
	color: #3574ba;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	letter-spacing: -0.3px;
	width: 31%;
	height: 11.9em;
	cursor: pointer;
}
.pps-track-date-box:hover {
	background: #3574ba;
	color: white;
}
.pps-track-date-box, .pps-track-menu-box {
	/*font-size: 13.75px;*/
	font-size: 1.2em;
	line-height: 1.2em;
}
.today {
	/*font-size: 22.25px;*/
	font-size: 1.6em;
	text-transform: capitalize;
}
.date-box-selected, .pps-track-menu-box:hover {
	background: #3574ba;
	color: white;
}
.pps-track-menu-box {
	margin: 1.2% 0.4% 1.2% 3.7%;
	min-height: 7.6em;
	border-radius: 10px;
	float: left;
	position: relative;
	box-sizing: border-box;
	background: #fff;
	border: 2px solid #3574ba;
	text-align: center;
	display: inline-flex;
	color: #3574ba;
	text-transform: capitalize;
	font-family: 'Roboto', sans-serif;
	letter-spacing: -0.3px;
	width: 29%;
	height: 11.9em;
	cursor: pointer;
}
.pps-track-date-text, .pps-track-menu-text {
	display: inline-block;
	margin: auto;
	text-align: center;
}
/*  Select Date */
.pps-track-date-header {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 25.25px;
	width: 100%;
	height: 48px;
	float: left;
	background: #3574ba;
	color: white;
	padding: 12px;
/*	margin-left: -20px;
*/	position: relative;
}
/*  Select Track */
.pps-track-menu-header {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 25.25px;
	width: 100%;
	height: 48px;
	float: left;
	background: #3574ba;
	color: white;
	padding: 12px;
	margin-bottom: 11px;
/*	margin-left: -20px;
*/}
.pps-track-date-body {
	margin: 0;
	display: inline-flex;
	width: 100%;
	padding: 0 5% 0 5%;
}
.pps-track-menu-body {
/*	margin: 0 0 0 4%;
*/	display: inline-block;
	width: 100%;
}
/************************** End Slide 1 LARGER SIZE ***************************************************************************/

/************************** Start Slide 2 LARGER SIZE ***************************************************************************/

.pps-race-track-header-title {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 36.39px;
	margin: 50px auto 20px;
	width: 100%;
	height: 105px;
	background: #3574ba;
	color: white;
/*	margin-left: -20px;
*/	line-height: 30px;
	padding: 10px;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: -1px;
	padding-top: 2.2%;
}
.pps-race-text-header-text {
	float: left;
	font-size: 1.2em;
}
.pps-race-text-header-time {
	float: left;
	color: #3574ba;
	font-size: 1.2em;/*margin-left: -42%;*/
}
.pps-race-text-body-header {
	display: inline-block;
	float: left;
	width: 70%;
	text-align: left;
	font-weight: 300;
	letter-spacing: 1px;
}
.pps-race-text {
	font-weight: 300;
	display: inline-block;
	text-align: left;
	line-height: 1.3em;
	text-transform: capitalize;
	float: left;
	letter-spacing: 1px;
}
.pps-race-box {
	margin: 1.2% 0 1.2%;
	width: 100%;
	border-radius: 10px;
	float: left;
	font-weight: normal;
	position: relative;
	box-sizing: border-box;
	padding: 1.2% 3.2% 1.2% 3.2%;
	background: #fff;
	border: 2px solid #3574ba;
	text-align: center;
	display: flex;
	padding-bottom: 10px;
	text-transform: uppercase;
	background-image: url(/../../img/pps-arrow.png);
	background-repeat: no-repeat;
	background-position: 95% 50%;
	align-items: center;
	height: 10em;
	cursor: pointer;
}
.pps-race-text-header-date {
	padding: 25% 0 0;
	color: #3574ba;
}
.pps-race-header {
	width: 100%;
	float: left;
}
.pps-race-text-header {
	display: inline-block;
	float: left;
	width: 17%;
	height: auto;
	color: #3574ba;
	text-transform: capitalize;
}
/************************** End Slide 2 LARGER SIZE ***************************************************************************/

/************************** Start Slide 3 LARGER SIZE ***************************************************************************/

.pps-race-track-header {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 36.39px;
	margin: 50px auto 20px;
	width: 100%;
	height: 105px;
	background: #3574ba;
	color: white;
/*	margin-left: -20px;
*/	line-height: 30px;
	padding: 10px;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: -1px;
	padding-top: 2.2%;
}
.race-date {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 22.31px;
	text-align: center;
	letter-spacing: -1px;
}
.carousel-left {
	width: 14px;
	height: 30px;
	background-image: url(/../../img/pps-arrow-left.png);
	background-repeat: no-repeat;
	float: left;
	cursor: pointer;
	padding: 7%;
	background-position-x: 50%;
	background-position-y: 50%;
}
.carousel-right {
	width: 14px;
	height: 30px;
	background-image: url(/../../img/pps-arrow.png);
	background-repeat: no-repeat;
	float: right;
	cursor: pointer;
	padding: 7%;
	background-position-x: 50%;
	background-position-y: 50%;
}
ol {
	list-style: none !important;
	margin: 7%;
	display: flex;
	justify-content: center;
}
ol li {
	display: block;
	margin-left: -17%;
	width: 100%;
}
.race {
	text-align: center;
	font-size: 1.7em;
	text-transform: uppercase;
	display: block;
}
.date {
	text-align: center;
	font-size: 1.3em;
	text-transform: lowercase;
	display: block;
}
.carousel-body {
	width: 40%;
	margin: 0 auto;
	height: 100px;
	overflow: hidden;
	border-left: 1px solid #3574ba;
	border-right: 1px solid #3574ba;
}
.pps-race-numb {
	background-color: #fff;
	height: 11em;
	width: 100%;
	padding: 3.5% 10% 0 10%;
	position: relative;
/*	margin: -20px 0 0% 4.4%;
*/}
.pps-header-carousel {
	display: flex;
	justify-content: center;
	align-items: center;
}
.inactive {
	display: none;
}
.pps-horse-claiming {
	background-color: #fff;
	height: 11em;
	width: 100%;
	padding: 3.5% 10% 0 10%;
	position: relative;
/*	margin: -20px 0 0% 4.4%;
*/	border-top: 1px solid #3574ba;
}
.claiming-title {
	float: left;
	font-size: 1.7em;
	margin-bottom: 1.1em;
}
.claimamt-value {
	float: right;
/*	margin-right: 36px;*/
	font-size: 1.7em;
}
.purse-title {
	clear: both;
	float: left;
	font-size: 1.7em;
}
.purse-value {
	float: right;
/*	margin-right: 20px;*/
	font-size: 1.7em;
}
.pps-horse-box {
	width: 100%;
	border-radius: 10px;
	float: left;
	/*    position: relative;*/
/*    box-sizing: border-box;*/
	padding: 3% 0 3% 0;
	background: #fff;
	border: 2px solid #3574ba;
	text-align: center;
	display: flex;
	align-items: center;
	background-image: url(/../../img/pps-arrow.png);
	background-repeat: no-repeat;
	background-position: 95% 50%;
	margin: 1% 0 1%;
}
.pps-horse-text-header {
	display: block;
    float: left;
    font-weight: bold;
    font-size: 20px;
    color: #3574ba;
    padding: 0% 15% 0% 5%;
}
.pps-horse-text-header-name {
	font-size: 0.74em;
	float: left;
	color: #444;
/*	font-weight: 400;
*/	width: 100%;
}
.pps-horse-text-body {
	width: 75%;
	float: left;
	text-transform: capitalize;
}
.pps-horse-text-owner, .pps-horse-text-jockey, .pps-horse-text-trainer {
	width: 89%;
	float: left;
	position: relative;
	box-sizing: border-box;
	background: #fff;
	text-align: left;
	font-size: 1.2em;
	font-weight: 300;
}
.pps-horse-text-owner::before {
	content: "   ";
	background-image: url(/../../img/pps-owner-icon.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	width: 30px;
	padding-bottom: 20px;
}
.pps-horse-text-jockey::before {
	content: "   ";
	background-image: url(/../../img/pps-jockey-icon.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	width: 30px;
	padding-bottom: 20px;
}
.pps-horse-text-trainer::before {
	content: "   ";
	background-image: url(/../../img/pps-trainer-icon.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	width: 30px;
	padding-bottom: 20px;
}
.pps-horse-bet-opt {
	background-color: #fff;
	height: 11em;
	width: 100%;
	position: relative;
/*	margin: -20px 0 0% 4.4%;
*/	border-top: 1px solid #3574ba;
	border-bottom: 1px solid #3574ba;
	font-size: 1.3em;
	text-align: center;
	display: flex;
	align-items: center;
	padding-left: 12.4%;
	padding-right: 12.4%;
	font-weight: 300;
	letter-spacing: 1px;
}
.pps-horse-text-header-text {
	font-size: 13px;
}
.pps-horse-header {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.pps-horse-text-horse {
	width: 89%;
	float: left;
	position: relative;
	box-sizing: border-box;
	background: #fff;
	text-align: left;
	font-weight: 600;
	font-size: 1.2em;
	margin: 0 0 1% 0;
}
.pps-race-text-body {
	width: 77%;
	float: left;
	font-size: 1.1em;
}
.btn_top {
	clear: both;
	display: flex;
	padding: 5%;
/*	margin: 0 0 -18px 4.4%;
*/	justify-content: center;
	width: 100%;
}
.btn_down {
	clear: both;
	display: flex !important;
	padding: 5%;
/*	margin: 0 0 -18px 4.4%;
*/	justify-content: center;
	width: 100%;
}
}

/************************** End Slide 3 LARGER SIZE **************************/	/* ******************************* END LARGE SIZE ********************************/

@media screen and (max-width: 600px) {
#pps-race-content {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}
.pps-race-title {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	float: left;
	display: inline-block;
	margin: 10px;
	font-size: 16px;
	width: 100%;
	color: #3574ba;
}
.pps-horse-text-body-header {
	display: inline-block;
	float: left;
	font-weight: bold;
	font-size: 20px;
	width: 75%;
	color: #3574ba;
}
.pps-horse-track-header {
	float: right;
	display: inline-block;
	margin: 10px;
	background: #3574ba;
	color: white;
	font-weight: bold;
	font-size: 20px;
	width: 70%;
	border: 2px solid #3574ba;
}
}
.pps-content {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
