.visible-xs {
    display: none
}

.sliderContainer {
    background: #fff;
    width: 100%;
    position: relative;
    padding: 0
}

.tp-banner-container {
    width: 100%;
    position: relative;
    padding: 0;
    overflow: hidden
}

.slotholder {
    position: absolute;
    top: 0
}

.tp-caption.fullscreenvideo {
    display: block
}

.tp-caption.fullscreenvideo video {
    width: 100% !important;
    height: 100% !important
}

.tp-banner {
    max-height: 600px;
    overflow: hidden
}

.tp-banner ul {
    visibility: hidden
}

.tp-banner ul li {
    padding: 0
}

.tp-bannertimer {
    display: none
}

.tp-bullets.simplebullets.round .bullet {
    background-image: url(../../img/slider/bullet.png)
}

.tp-bullets.simplebullets.round .bullet:hover {
    background-position: 0 -20px
}

.tp-caption {
    font-family: "roboto condensed", arial, helvetica, sans-serif !important;
    font-weight: 400;
    color: #fff;
    line-height: normal;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, .5)
}

.tp-caption a:hover {
    color: #fff
}

.tp-caption.txtLrg {
    font-size: 100px;
    font-weight: 700;
    line-height: normal
}

.tp-caption.txtMed {
    font-size: 60px;
    font-weight: 400;
    line-height: normal
}

.tp-caption.btn {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    clear: none;
    overflow: hidden;
    line-height: normal !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    text-shadow: none;
    padding: 15px 25px !important
}

.tp-caption.btn i {
    font-size: inherit;
    border: 0;
    position: relative;
    top: 2px;
    left: auto;
    margin: 0 0 0 5px;
    padding: 0;
    text-align: center;
    float: none;
    text-shadow: none
}

.tp-caption.btn i.left {
    margin: 0 5px 0 0
}

.tp-caption.btn:hover i {
    border-color: #e96166
}

.tp-caption.btn-txt {
    padding: 0 !important;
    font-weight: 400;
    background: 0 0;
    -moz-border-radius: none;
    -webkit-border-radius: none;
    -khtml-border-radius: none;
    border-radius: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.tp-caption.btn:active {
    position: absolute;
    margin-top: 1px
}

.tp-loader.spinner0 {
    background: url(../plugins/rs/assets/loader2.gif) no-repeat center center;
    background-color: transparent;
    -webkit-animation: none;
    animation: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
    -khtml-border-radius: none;
    border-radius: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.tp-bullets.hidebullets {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1
}

@media (max-width:1024px) {
    .sliderContainer {
        width: 1024px;
        max-width: 1024px
    }
}

@media screen and (min-width:481px) and (max-width:767px) {
    .sliderContainer {
        width: 100%;
        max-width: none
    }

    .tp-caption.txtLrg {
        font-size: 80px
    }

    .tp-caption.txtMed {
        font-size: 30px
    }

    .tp-caption.btn {
        font-size: 20px;
        padding: 8px 15px !important;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
        line-height: normal !important;
        margin-top: 6px !important
    }

    .tp-leftarrow.default,
    .tp-rightarrow.default {
        bottom: auto
    }

    .tp-bullets.hidebullets,
    .tparrows.hidearrows {
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1
    }

    .tp-caption.fullscreenvideo {
        display: none !important
    }
}

@media screen and (min-width:0) and (max-width:480px) {
    .sliderContainer {
        width: 100%;
        max-width: none
    }

    .slotslide div,
    .tp-banner {
        height: 365px !important
    }

    .slot,
    .slotslide {
        width: 100% !important;
        height: 100% !important
    }

    .slotslide div {
        margin: 0 auto;
        width: 100% !important;
        background-size: cover !important
    }

    .slotholder {
        position: absolute;
        top: 0
    }

    .tp-caption {
        top: 65px !important;
        text-align: center !important;
        position: relative !important;
        margin: 0 auto 10px !important;
        left: auto !important;
        right: auto !important;
        white-space: normal !important;
        width: 85% !important
    }

    .tp-caption.fullscreenvideo {
        top: 0 !important;
        position: absolute !important;
        display: none !important
    }

    .tp-caption.fullscreenvideo video {
        width: 683px !important
    }

    .tp-banner ul li {
        text-align: center !important
    }

    .tp-caption.txtLrg {
        font-size: 36px !important;
        line-height: normal !important
    }

    .tp-caption.txtMed {
        font-size: 24px !important;
        line-height: normal !important
    }

    .tp-caption.btn {
        font-size: 20px !important;
        width: auto !important;
        margin: 0 auto !important;
        display: inline-block !important;
        padding: 15px !important;
        line-height: normal !important;
        position: relative
    }

    .tp-caption.btn i {
        top: 1px
    }

    .tp-caption.btn-txt {
        width: 100% !important;
        font-size: 16px !important;
        padding: 0 !important
    }

    .tp-leftarrow.default,
    .tp-rightarrow.default {
        top: auto !important;
        bottom: 15px
    }

    .tp-bullets.hidebullets,
    .tparrows.hidearrows {
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1
    }
}

@media screen and (min-width:0) and (max-width:767px) {

    .tp-caption.btn.hidden-xs,
    .tp-caption.hidden-xs {
        display: none !important
    }

    .tp-caption.visible-xs {
        display: block !important
    }

    .tp-caption.btn.visible-xs {
        display: inline-block !important
    }
}

@media all and (device-width:768px) and (device-height:1024px) and (orientation:portrait) {

    .tp-caption.btn.hidden-xs,
    .tp-caption.hidden-xs {
        display: none !important
    }

    .tp-caption.visible-xs {
        display: block !important
    }

    .tp-caption.btn.visible-xs {
        display: inline-block !important
    }
}

@media all and (device-width:768px) and (device-height:1024px) and (orientation:landscape) {

    .tp-caption.btn.hidden-xs,
    .tp-caption.hidden-xs {
        display: none !important
    }

    .tp-caption.visible-xs {
        display: block !important
    }

    .tp-caption.btn.visible-xs {
        display: inline-block !important
    }
}