@charset "utf-8";
/* CSS Document */
.menustyle li{list-style: none !important; float:left; margin: 5px; }
.menustyle { text-align:center !important; }
.menustyle ul{margin-left:5%; margin-right:5%;}
/*.table-striped>tbody>tr:nth-child(odd)>td {
   background-color:transparent;
 }*/
 /* .table caption{ text-transform:uppercase; } */
 .datahead{ text-transform:uppercase; }
.clearfix{ clear:both; }
.teamrow{  text-align:center; }
.team{  float: left;   }
.paddingtop{  padding-top: 10px; }
.wagerdata{  float: right;  }
.boxdata{  border: 1px solid #333; float: right; margin-left: 2px; margin-right: 2px;  vertical-align:middle !important; }
.datahead{ background-color:#1571BA !important; color: #ffffff; }
.teamrowHead{ background-color:#f7f7f7 !important;  font-weight:bold;  }
.boxhead{  padding: 5px;  float: right; margin-left: 2px; margin-right: 2px;   }
.eachrow{ border-bottom: 1px solid #E6E6E6; margin-bottom: 5px; padding-bottom: 5px;}

.table{ margin-bottom:0px !important }
.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th{ /*border-right: none !important; border-left: none !important;*/ }
.table-bordered > tbody > tr th{ border-top:1px solid #ccc !important; }

.oddstable { /* border: 1px solid #ddd; */ margin-bottom:20px; }
.oddstable caption {
    background: #1571BA;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;   
    color: #fff;
    word-wrap: break-word!important
}
.oddsheader{ background: #1571BA;  padding: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;   
    color: #fff;
    word-wrap: break-word!important; }
table.oddstable tbody th {
    cursor: pointer;
}
table.oddstable tbody td {
    word-wrap: break-word !important; /*word-break: break-all !important;*/
}
table.oddstable {
     max-width: 100% !important; }
}


th.oddsheader {
    background: #1571BA!important;
    /*border: 1px solid #ccc;*/
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    color: #fff
}
.oddstable > thead > tr th {
    background: #1571BA!important;
    border: 1px solid #ccc;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    color: #fff
}

.oddstable > tbody > tr td,
.oddstable > tbody > tr th {
    text-align: center!important
}

@media screen and (min-width:780px){
.team{ width: 60%;  }
.wagerdata{ width: 40%; }
.boxhead{width: 90px;  }
.boxdata{ width: 90px; height: 60px;  }
}

@media screen and (max-width:540px){
.team{ width: 25%;  }
.wagerdata{ width: 75%; }
.teamrow, .team { font-size:12px; }	
.boxhead{width: 60px; font-size:12px; }
.boxdata{ width: 60px; height: 50px; padding: 1px; }
.menustyle li{ float:none !important; margin:0;}
}

 @media (min-width: 541px) and (max-width: 779px) {
	 .team{ width: 30%;  }
	.wagerdata{ width: 70%; }
.teamrow, .team { font-size:12px; }	
.boxhead{width: 70px; font-size:12px; }
.boxdata{ width: 70px; height: 50px; padding: 2px; }	
}

 @media (min-width: 780px) and (max-width: 981px) {
	 .team{ width: 35%;  }
	.wagerdata{ width: 65%; }
.teamrow, .team { font-size:14px; }	
.boxhead{width: 80px; font-size:14px; }
.boxdata{ width: 80px; height: 50px; padding: 2px;}	
}

