.slider {
    height: 600px;
    max-height: 600px;
    margin-bottom: 30px
}

.slider.new-slider {
    height: auto;
}

.swiper-container {
    width: 100%;
    height: 100%
}

.swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 11px
}

.slide.second {
    flex-direction: column;
    position: relative;
    bottom: 11px;
    align-items: center
}

/* .swiper-slide.second {
    background-image: url(/img/heros-index/md_hero_02.jpg)
}

.swiper-slide.third {
    background-image: url(/img/heros-index/horse-racing-bonus2.jpg)
} */

.swiper-button-prev {
    background: url(/assets/plugins/rs/assets/large_left.png) no-Repeat 0 0;
    width: 40px;
    height: 40px;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    opacity: 1
}

.swiper-button-next {
    background: url(/assets/plugins/rs/assets/large_right.png) no-Repeat 0 0;
    width: 40px;
    height: 40px;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    opacity: 1
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-position: bottom left
}

.swiper-button-next.hide-arrow,
.swiper-button-prev.hide-arrow {
    opacity: 0
}

.swiper-pagination-bullet {
    background: #babbbd;
    width: 20px;
    height: 20px
}

.large-text {
    font-size: 6.6vw !important
}

.secondary-text {
    font-size: 2.9vw !important
}

.sliderBtn {
    font-size: 2.3vw !important
}

.tp-caption.btn i {
    padding-right: 10px
}

@media (max-width:480px) {
    .slider {
        height: 365px
    }

    .tp-caption {
        top: 0 !important
    }

    .swiper-slide {
        background-position: 0 0
    }

    /* .swiper-slide.second {
        background-image: url(/img/heros-index/sm_hero_02.jpg)
    }

    .swiper-slide.third {
        background-image: url(/img/heros-index/sm_hero_01.jpg)
    } */

    .mobile {
        display: inherit !important;
        flex-direction: column;
    }

    .desk {
        display: none !important
    }
}

@media (min-width:481px) and (max-width:767px) {
    .slider {
        height: 370px
    }

    .large-text {
        font-size: 7.5vw !important
    }

    .slide.first,
    .slide.third {
        align-items: flex-end;
        padding-right: 65px
    }

    .sliderBtn {
        margin-top: 20px
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .slider {
        height: 384px
    }

    .slide.first,
    .slide.third {
        align-items: flex-end;
        padding-right: 65px
    }

    .sliderBtn {
        margin-top: 10px
    }
}

@media (min-width:1025px) and (max-width:1280px) {

    .slide.first,
    .slide.third {
        align-items: flex-end;
        padding-right: 146px
    }

    .large-text {
        font-size: 7vw !important
    }

    .secondary-text {
        font-size: 3.1vw !important
    }

    .sliderBtn {
        margin-top: 25px
    }

    .slide {
        bottom: 11px
    }
}

@media (min-width:1281px) {

    .slide.first,
    .slide.third {
        align-items: flex-end;
        padding-right: 173px
    }

    .sliderBtn {
        margin-top: 25px
    }
}

@media screen and (max-width:408px) {
    .mobile {
        flex-direction: column
    }
}

@media screen and (min-width:481px) {
    .mobile {
        display: none !important
    }

    .desk {
        display: inherit !important
    }
}

.tp-caption.btn:active {
    position: static;
    margin-top: 25px;
}