.icon-horse-racing-experts,
.icon-horse-betting-rebates,
.icon-mobile-horse-betting {
    max-width: 100%;
    background-size: 100%;
    background-image: url('/img/index/index-icons.png');
}

.icon-horse-racing-experts {
    background-position: 0 0%;
    background-size: 100%;
}

.icon-horse-betting-rebates {
    background-position: 0 46.745562%;
    background-size: 121.621622%;
}

.icon-mobile-horse-betting {
    background-position: 0 100%;
    background-size: 121.621622%;
}

.icon-greyhound-racing,
.icon-harness-racing,
.icon-international-horse-racing,
.icon-quarter-horse-racing,
.icon-thoroughbred-racing {
    max-width: 100%;
    background-size: 100%;
    background-image: url('/img/index/racetracks-index-icons.png');
}

.icon-greyhound-racing {
    background-position: 0 0%;
    background-size: 100%;
}

.icon-harness-racing {
    background-position: 0 25%;
    background-size: 100%;
}

.icon-international-horse-racing {
    background-position: 0 50%;
    background-size: 100%;
}

.icon-quarter-horse-racing {
    background-position: 0 75%;
    background-size: 100%;
}

.icon-thoroughbred-racing {
    background-position: 0 100%;
    background-size: 100%;
}

.icon-bet-kentucky-derby-jockeys,
.icon-bet-kentucky-derby,
.icon-kentucky-derby-betting {
    max-width: 100%;
    background-size: 100%;
    background-image: url('/img/index-kd/kd-index-icons.png');
}

.icon-bet-kentucky-derby-jockeys {
    background-position: 0 0%;
    background-size: 100%;
}

.icon-bet-kentucky-derby {
    background-position: 0 53.658537%;
    background-size: 121.95122%;
}

.icon-kentucky-derby-betting {
    background-position: 0 100%;
    background-size: 135.135135%;
}