{literal}
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "WebSite", 
  "name" : "US Racing",
  "url" : "https://www.usracing.com/",
  "potentialAction" : {
    "@type" : "SearchAction",
    "target" : "https://www.usracing.com/?s={search_term}",
    "query-input" : "required name=search_term"
  }                     
}
</script>
<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "legalName" : "US Racing",
  "url" : "https://www.usracing.com/",
  "contactPoint" : [{
    "@type" : "ContactPoint",
    "telephone" : "+1-844-238-4677",
    "contactType" : "customer service"
  }],
  "logo" : "https://www.usracing.com/img/usracing-betonhorses.gif",
  "sameAs" : [ "https://www.facebook.com/usracingtoday",
    "https://twitter.com/usracingtoday",
    "https://plus.google.com/+Usracingcom",
    "https://www.youtube.com/user/betusracing",
    "https://www.instagram.com/usracingtoday/"]
}
</script>
{/literal}

{* the sliders need to be sorted where the CSS does not list inslide the block, but its own file - AB *}

{include file="/home/ah/allhorse/public_html/usracing/index/block-slider.tpl"} {*Resumes Nov 3*}
{*include file="/home/ah/allhorse/public_html/usracing/block-slider-breeders.tpl"*} {*Expires Nov 3*}
{*include file="/home/ah/new.usracing.com/smarty/templates/content/home_slider.tpl"*} 
 {*include file="/home/ah/usracing.com/smarty/templates/content/home_slider.tpl"*} {*is this a webpage?  No.  So why is it in the content directory???n  Clean this up please.*}
{include file="/home/ah/allhorse/public_html/usracing/block-as-seen-on.tpl" }
{include file="/home/ah/allhorse/public_html/usracing/block-testimonial.tpl"}{*Resumes Nov 3 *} 
{*include file="/home/ah/allhorse/public_html/usracing/block-testimonial-breeders.tpl" *} {*Expires Nov 3 *}
{*include file="/home/ah/allhorse/public_html/usracing/block-countdown-breeders.tpl" *}  {*Expires Nov 3 *}    
{*include file="/home/ah/allhorse/public_html/usracing/block-countdown-breeders.tpl" *} {*Belmont*}    
{include file="/home/ah/allhorse/public_html/usracing/index/block-main.tpl"}  {*Resumes Nov 3 *}   
{*include file="/home/ah/allhorse/public_html/usracing/block-main-breeders.tpl" *}  {*Expires Nov 3 *}
{*<section class="bs-belmont_"><img src="/img/index/bg-belmont.jpg" alt="Belmont Park" class="bs-belmont_img"></section> *} {*Legacy to be dealt with at TC*}
{include file="/home/ah/allhorse/public_html/usracing/common/block-rebates.tpl"} {*resumes Nov 3}
{*include file="/home/ah/allhorse/public_html/usracing/block-free-bet-breeders.tpl" *}  {*Expires Nov 3 *}
{*include file="/home/ah/allhorse/public_html/usracing/block-casino-free-chips.tpl"*}  {*Expires Nov 3 *}

{*include file="/home/ah/allhorse/public_html/usracing/block-casino-cash-back.tpl"*}  {*Resumes Nov 3 - dont enable this*}

{include file="/home/ah/allhorse/public_html/usracing/block-blue-testimonial.tpl"} {*Resumes Nov 3*}
{include file="/home/ah/allhorse/public_html/usracing/block-casino-games.tpl"} {*Resumes Nov 3*}
{*include file="/home/ah/allhorse/public_html/usracing/block-bet-trainers-belmont.tpl"*}  {*Resumes after Preakness*}
{include file="/home/ah/allhorse/public_html/usracing/common/block-blue-signup-bonus.tpl"}   {*Resumes Nov 3*}
{*include file="/home/ah/allhorse/public_html/usracing/block-blue-signup-bonus-breeders.tpl"*}    {*expires Nov 3*} 
{include file="/home/ah/allhorse/public_html/usracing/block-casino-cash-back.tpl"} {*Resumes Nov 3*}
{include file="/home/ah/allhorse/public_html/usracing/block-racetracks.tpl"} {*Resumes Nov 3*}
{include file="/home/ah/allhorse/public_html/usracing/common/block-mobile.tpl"} {*Resumes Nov 3*}
{*include file="/home/ah/allhorse/public_html/usracing/block-mobile-breeders.tpl"*} {*expires Nov 3*}
{*include file="/home/ah/allhorse/public_html/usracing/block-bet-on-football.tpl"*} {*Expires after Superbowl *}     
{include file="/home/ah/allhorse/public_html/usracing/block-bet-on-sports.tpl"} {*Resumes after Superbowl *}   
{*include file="/home/ah/allhorse/public_html/usracing/block-testimonial-3.tpl"*}   
{*include file="/home/ah/allhorse/public_html/usracing/block-50-states.tpl"*}  
{include file="/home/ah/allhorse/public_html/usracing/block-fast-payouts.tpl"} {*Resumes Nov 3*} 
{include file="/home/ah/allhorse/public_html/usracing/common/block-experts.tpl"} {*Resumes Nov 3*}
{include file="/home/ah/allhorse/public_html/usracing/common/block-final-cta.tpl"}   {*Resumes Nov 3*}
{*include file="/home/ah/allhorse/public_html/usracing/block-exciting-breeders.tpl"*} {*Expires Nov 3*}     


 {* </section> *}


