{include file="/home/ah/allhorse/public_html/usracing/home_slider.tpl"}

 <!------------------------------------------------------------------>  

    <section class="friends block-center usr-section" style="margin-top:20px;">
      <div class="block-center_content">
        <div class="container"><img src="/img/index-kd/friends.png" alt="" class="img-responsive friends_img"></div>
      </div>
    </section>
    
 <!------------------------------------------------------------------>     
    


 <!------------------------------------------------------------------>     
    
{include file="/home/ah/allhorse/public_html/kd/block-countdown.tpl"}
  
<!------------------------------------------------------------------>   
  
      <section class="kd usr-section">
      <div class="container">
        <div class="kd_content">
         
            <a href="/signup?ref={$ref}"  rel="nofollow" ><img src="/img/index-kd/kd.png" alt="Kentucky Derby Betting" class="kd_logo img-responsive"></a>
          
          <h1 class="kd_heading">Kentucky Derby Betting</h1>
          <h3 class="kd_subheading">With the Most Derby Bet Options Anywhere</h3>
          <p>Only at BUSR, you get exclusive odds with amazing payouts on the leading Kentucky Oaks and Derby horses and even the leading jockeys and trainers.</p>
          <p>Bet on the margin of victory, head-to-head matchups,  the winning time vs Secretariat, a Triple Crown contention and more. {* Kentucky Derby Odds are live, bet now. *}</p>{* <a href="/signup?ref={$ref}" class="kd_btn">Join Now</a> *}
 
 <p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet Now</a></p>  
          
        </div>
      </div>
    </section>

<!------------------------------------------------------------------>  

{include file="/home/ah/allhorse/public_html/kd/block-free-bet.tpl"}

<!------------------------------------------------------------------>  

{include file="/home/ah/allhorse/public_html/kd/block-testimonial-other.tpl"}

<!------------------------------------------------------------------>  

{include file="/home/ah/allhorse/public_html/kd/block-trainers.tpl"}

<!------------------------------------------------------------------>  

{include file="/home/ah/allhorse/public_html/kd/block-jockeys.tpl"}

<!------------------------------------------------------------------>  

{include file="/home/ah/allhorse/public_html/usracing/common/block-blue-signup-bonus.tpl"}  

<!------------------------------------------------------------------>  

{*
    <section class="card">
      <div class="card_wrap">
        <div class="card_half card_hide-mobile"><a href="/promos/blackjack-tournament?ref=KD-TC-Blackjack-Tournament"><img src="" data-src-img="/img/index-kd/triple-crown-blackjack-tournament.jpg" alt="Kentucky Derby Blackjack" class="card_img"></a>
        </div>
        <div class="card_half card_content"><a href="/promos/blackjack-tournament?ref=KD-TC-Blackjack-Tournament"><img src="/img/index-kd/icon-triple-crown-blackjack-tournament.png" alt="kentucky Derby Tournament" class="card_icon"></a>
          <h2 class="card_heading">
             
            Triple Crown<br>Blackjack Tournament
          </h2>
          <p>BUSR invites you test your mettle and win cash in our Triple Crown Blackjack Tournament.</p>
          <p>Play any Blackjack variation from May 6th and May 19th and get ready to compete for real cash. Cash prizes are paid to the top 20 players with the highest payout percentage!</p><a href="/promos/blackjack-tournament?ref=KD-TC-Blackjack-Tournament" class="card_btn">Learn More</a>
        </div>
      </div>
    </section>
*}
    <!------------------------------------------------------------------>  
{*
    <section class="card">
      <div class="card_wrap">
        <div class="card_half card_content">
	        <a href="/promos/casino-rebate?ref=index-KD-Thursday-Casino-Cash-Back">
	        <img src="/img/index-kd/icon-casino-rebate.png" alt="BUSR Casino Rebate" class="card_icon">
	        </a>
          <h2 class="card_heading">50% Casino Cash Back</h2>
          <h3 class="card_subheading">Every Thursday!</h3>
          <p>Every Thursday at the Casino is special at BUSR because you get 50% Cash returned to your account of any losses!</p>
          <p>That's right, you will get 50% Cash Back to your account every Thursday.</p><a href="/promos/casino-rebate?ref=index-KD-Thursday-Casino-Cash-Back" class="card_btn">Learn More</a>
        </div>
        <div class="card_half card_hide-mobile"><a href="/promos/casino-rebate?ref=index-KD-Thursday-Casino-Cash-Back"><img src="" data-src-img="/img/index-kd/casino-rebate.jpg" alt="Casino Rebate" class="card_img"></a>
        </div>
      </div>
    </section>
*}

<!------------------------------------------------------------------>  

{*include file="/home/ah/allhorse/public_html/usracing/block-testimonial-3.tpl"*}  

<!------------------------------------------------------------------>  

{include file="/home/ah/allhorse/public_html/usracing/block-50-states.tpl"}  

<!------------------------------------------------------------------>  

{*
    <section class="payouts usr-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
            <h2 class="payouts_heading">
               
              Super Fast Payouts
            </h2>
            <p>Why wait weeks or even months to get paid?</p>
            <p>You can get paid out in 2 days with BUSR.</p>
          </div>
          <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6">
            <figure class="payouts_figure">
              <div class="block-center">
                <div class="block-center_content"><img src="/img/index-kd/visa.png" alt="Horse Racing Payouts" class="img-responsive"></div>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </section>
*}

<!------------------------------------------------------------------>  

{include file="/home/ah/allhorse/public_html/kd/block-exciting.tpl"}

















