<div class="container-fluid">{include file="/home/ah/allhorse/public_html/usracing/home_slider.tpl"} </div>

    <section class="ps-friends block-center usr-section">
      <div class="block-center_content">
        <div class="container"><img src="/img/index-ps/friends.png" alt="" class="img-responsive ps-friends_img"></div>
      </div>
    </section>
    
<!------------------------------------------------------------------>  
    
   {include file="/home/ah/allhorse/public_html/ps/block-countdown.tpl"}
    
<!------------------------------------------------------------------>    
    
    <section class="ps-kd ps-kd--default usr-section">
      <div class="container">
        <div class="ps-kd_content">
          <img src="/img/index-ps/preakness-stakes-icon.png" alt="Online Horse Betting" class="ps-kd_logo img-responsive">
          <h1 class="kd_heading">Preakness Stakes Betting</h1>
          <h3 class="kd_subheading">With the Most Preakness Stakes Bet Options Anywhere</h3>
          <p>{* Only at Bet BUSR, you get great future odds with amazing payouts on the leading Kentucky Oaks and Preakness horses and even the leading jockeys and trainers. *}Only at BUSR, you get great future odds with amazing payouts on the leading Preakness horses.</p>
          <p>{* Bet on the margin of victory, the winning time vs Secretariat, a Triple Crown contention and more.  Preakness Stakes Odds are live, bet now. *}Will the winner of the {'Y'|date}  Kentucky Derby win the Preakness Stakes?  Will a horse lead wire to wire? {* Will Secretariat's 1973 Record be broken? *} 
          <p> BUSR offers more wagering choices than any other site.</p>{* <a href="/preakness-stakes/odds?ref={$ref}" class="kd_btn">SEE THE <br>LIVE ODDS</a> *}
          
           <p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet Now</a></p>  
        </div>
      </div>
      </div>
    </section>
<!------------------------------------------------------------------>  

{include file="/home/ah/allhorse/public_html/ps/block-free-bet.tpl"}
{include file="/home/ah/allhorse/public_html/ps/block-triple-crown.tpl"}
{include file="/home/ah/allhorse/public_html/ps/block-testimonial-other.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/common/block-blue-signup-bonus.tpl"}  
{include file="/home/ah/allhorse/public_html/usracing/block-50-states.tpl"}  
{include file="/home/ah/allhorse/public_html/ps/block-exciting.tpl"}
<!------------------------------------------------------------------>    
 {*
       <section class="ps-card">
      <div class="ps-card_wrap">
        <div class="ps-card_half ps-card_hide-mobile"><img src="" data-src-img="/img/index-ps/triple-crown-blackjack-tournament.jpg" alt="Preakness Stakes Blackjack" class="ps-card_img">
        </div>
        <div class="ps-card_half ps-card_content"><img src="/img/index-ps/icon-triple-crown-blackjack-tournament.png" alt="Preakness Stakes Tournament" class="ps-card_icon">
          <h2 class="ps-card_heading">
             
    Preakness Stakes<br>Blackjack Tournament
          </h2>
          <p>BUSR invites you test your mettle and win cash in our  Blackjack Tournament.</p>
          <p>Play any Blackjack game from May 19th until June 1st and get ready to compete for real cash. Thousands of dollars in cash prizes are paid to the top 10 players with the highest payout percentage!</p><a href="/promos/blackjack-tournament?ref={$ref}-TC-Blackjack-Tournament" class="card_btn">Play Now</a>
        </div>
      </div>
    </section>
*}
    
 <!------------------------------------------------------------------>  
{*
    <section class="ps-card">
      <div class="ps-card_wrap">
        <div class="ps-card_half ps-card_hide-mobile"><img src="" data-src-img="/img/index-ps/bet-kentucky-derby.jpg" alt="Bet on the Kentucky Derby" class="ps-card_img"></div>
        <div class="ps-card_half ps-card_content"><img src="/img/index-ps/icon-bet-kentucky-derby.png" alt="Bet on Kentucky Derby" class="ps-card_icon">
          <h2 class="ps-card_heading">Bet on the Trainers</h2>
          <h3 class="ps-card_subheading">And Other Exclusive Derby Props</h3>
          <p>Bob Baffert or Todd Pletcher?  Can Steve Asmussen add a Derby Victory in 2016?  BUSR is the only place to bet on Trainers and Jockeys for the Kentucky Derby.</p>
          <p>Future Wagers for the Breeders' Cup Classic, Triple Crown races and many other events are live, bet now.</p><a href="/kentucky-derby/trainer-betting" class="ps-card_btn">Live Odds</a>
        </div>
      </div>
    </section>*}
    
     <!------------------------------------------------------------------>   
    
   
    

{*
    <section class="ps-card">
      <div class="ps-card_wrap">
        <div class="ps-card_half ps-card_content"><img src="/img/index-ps/icon-casino-rebate.png" alt="BUSR Casino Rebate" class="ps-card_icon">
          <h2 class="ps-card_heading">50% Casino Cash Back</h2>
          <h3 class="ps-card_subheading">Every Thursday!</h3>
          <p>Every Thursday at the Casino is extra special at BUSR because you get 50% Cash returned to your account of any losses!</p>
          <p>That's right, you will get 50% Cash Back to your account every Thursday.</p><a href="/signup?ref={$ref}Thursday-Casino-Cash-Back" class="ps-card_btn">Play Now</a>
        </div>
        <div class="ps-card_half ps-card_hide-mobile"><img src="" data-src-img="/img/index-ps/casino-rebate.jpg" alt="Casino Rebate" class="ps-card_img">
        </div>
      </div>
    </section>
*}
 <!------------------------------------------------------------------>      
{*
    <section class="ps-testimonials--blue-dark usr-section">
      <div class="container">
        <blockquote class="ps-testimonial-blue">
          <div class="ps-testimonial-blue_center">
            <p class="ps-testimonial-blue_p">Finally finding a site that allowed me to bet with my mobile phone on horses and blackjack was just what I was looking for.  THANK YOU SO MUCH!!</p><span class="ps-testimonial-blue_name">
               
              Tom G.<br>
              <cite class="ps-testimonial-blue_profile">BUSR Member Since 2014</cite></span>
          </div>
        </blockquote>
      </div>
    </section>
*}
    
 <!------------------------------------------------------------------>      
 <!------------------------------------------------------------------>      
    
{*
    <section class="ps-payouts usr-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
            <h2 class="ps-payouts_heading">
               
              fast<span>2</span>day payouts
            </h2>
            <p>Why wait weeks or even months to get paid?</p>
            <p>You can get paid out in 2 days with Bet BUSR.</p>
          </div>
          <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6">
            <figure class="ps-payouts_figure">
              <div class="block-center">
                <div class="block-center_content"><img src="/img/index-ps/visa.png" alt="Horse Racing Payouts" class="img-responsive"></div>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </section>
*}
    
 <!------------------------------------------------------------------>      