
{* the sliders need to be sorted where the CSS does not list inslide the block, but its own file - AB *}

{*include file="/home/ah/allhorse/public_html/usracing/index/block-slider.tpl"*} {*Resumes Nov 3*}
{*include file="/home/ah/allhorse/public_html/usracing/block-slider-breeders.tpl"*} {*Expires Nov 3*}
{*include file="/home/ah/new.usracing.com/smarty/templates/content/home_slider.tpl"*} 
 {*include file="/home/ah/usracing.com/smarty/templates/content/home_slider.tpl"*} {*is this a webpage?  No.  So why is it in the content directory???n  Clean this up please.*}
{include file="/home/ah/allhorse/public_html/usracing/block-as-seen-on.tpl" }
{*include file="/home/ah/allhorse/public_html/usracing/block-testimonial.tpl"*}{*Resumes Nov 3 *} 
{include file="/home/ah/allhorse/public_html/usracing/block-testimonial-breeders.tpl" } {*Expires Nov 3 *}
{*include file="/home/ah/allhorse/public_html/usracing/block-countdown-breeders-test.tpl" *}  {*Expires Nov 3 *}    
{*include file="/home/ah/allhorse/public_html/usracing/block-countdown-breeders.tpl" *} {*Belmont*}    
{*include file="/home/ah/allhorse/public_html/usracing/index/block-main.tpl" *}  {*Resumes Nov 3 *}   
{*include file="/home/ah/allhorse/public_html/usracing/block-main-breeders.tpl" *}  {*Expires Nov 3 *}
{*<section class="bs-belmont_"><img src="/img/index/bg-belmont.jpg" alt="Belmont Park" class="bs-belmont_img"></section> *} {*Legacy to be dealt with at TC*}
{*include file="/home/ah/allhorse/public_html/usracing/common/block-rebates.tpl" *} {*resumes Nov 3}
{*include file="/home/ah/allhorse/public_html/usracing/block-free-bet-breeders.tpl" *}  {*Expires Nov 3 *}
{include file="/home/ah/allhorse/public_html/usracing/block-casino-free-chips.tpl"}  {*Expires Nov 3 *}
{*include file="/home/ah/allhorse/public_html/usracing/block-casino-cash-back.tpl"*}  {*Resumes Nov 3 *}
{*include file="/home/ah/allhorse/public_html/usracing/block-blue-testimonial.tpl"*} {*Resumes Nov 3*}
{*include file="/home/ah/allhorse/public_html/usracing/block-casino-games.tpl"*} {*Resumes Nov 3*}
{*include file="/home/ah/allhorse/public_html/usracing/block-bet-trainers-belmont.tpl"*}  {*Resumes after Preakness*}
{*include file="/home/ah/allhorse/public_html/usracing/common/block-blue-signup-bonus.tpl"*}   {*Resumes Nov 3*}
{include file="/home/ah/allhorse/public_html/usracing/block-blue-signup-bonus-breeders.tpl"}    {*expires Nov 3*} 
{*include file="/home/ah/allhorse/public_html/usracing/block-casino-cash-back.tpl"*} {*Resumes Nov 3*}
{*include file="/home/ah/allhorse/public_html/usracing/block-racetracks.tpl"*} {*Resumes Nov 3*}
{*include file="/home/ah/allhorse/public_html/usracing/common/block-mobile.tpl"*} {*Resumes Nov 3*}
{*include file="/home/ah/allhorse/public_html/usracing/block-mobile-breeders.tpl"*} {*expires Nov 3*}
{include file="/home/ah/allhorse/public_html/usracing/block-bet-on-football.tpl"} {*Expires after Superbowl *}     
{*include file="/home/ah/allhorse/public_html/usracing/block-bet-on-sports.tpl"*} {*Resumes after Superbowl *}   
{*include file="/home/ah/allhorse/public_html/usracing/block-testimonial-3.tpl"*}   
{*include file="/home/ah/allhorse/public_html/usracing/block-50-states.tpl"*}  
{*include file="/home/ah/allhorse/public_html/usracing/block-fast-payouts.tpl"*} {*Resumes Nov 3*} 
{*include file="/home/ah/allhorse/public_html/usracing/common/block-experts.tpl"*} {*Resumes Nov 3*}
{*include file="/home/ah/allhorse/public_html/usracing/common/block-final-cta.tpl"*}   {*Resumes Nov 3*}
{include file="/home/ah/allhorse/public_html/usracing/block-exciting-breeders.tpl"} {*Expires Nov 3*}     


 {* </section> *}


