<div id="main" class="container">
    <div class="row">
        <div id="left-col" class="col-md-12">                               
            <div class="headline">
                <h1>Page Not Found</h1>
            </div>
            <div class="content">
<!-- --------------------- content starts here ---------------------- -->
                <p>Hmm.  It looks like we forgot something.</p>
                <p><a href="/" rel="nofollow">Go to the Home page</a></p>
                <p><img class="img-responsive" title="" alt="Forgot Something" src="/images/forgotsomething.jpg"  border="0" width="100%" /></p>
                <p>(But we still love you.)</p>
<!-- ------------------------ content ends -------------------------- -->
            </div> <!-- end/ content -->
        </div> <!-- end/ #left-col -->
    </div><!-- end/row -->
</div><!-- /#container -->

