{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
          
                  {include file='menus/horsebetting.tpl'}
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
            
                                                
<link rel="stylesheet" type="text/css" media="all" href="/fancybox/form.css">
  <link rel="stylesheet" type="text/css" media="all" href="/fancybox/jquery.fancybox.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="/fancybox/jquery.fancybox.js?v=2.0.6"></script>
  
  
                                      
          
<div class="headline"><h1>Form Test</h1></div>              
              
 <div class="content">
<!-- --------------------- content starts here ---------------------- -->



        


yuj
	
	<p><a class="button modalbox" href="#inline">SUBMIT</a></p>


<!-- hidden inline form -->
<div id="inline">
	<form id="contact" name="contact" action="#" method="post">
		<fieldset>
		<legend>          
          
<div class="headline"><h1>Register for US Racing Updates</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


</legend>

		<label for="email"><span class="required">*</span> Email</label>
		<input name="email" type="email" id="email" class="txt" />
<input type="hidden" name="action" value="usracing.com">
		<br />
		<label for="comments"><span class="required">*</span> zip</label>
		<input name="zipcode" id="zipcode" class="txt"></textarea>

		<button id="send" class="button">Submit</button>
		</fieldset>
	</form>
</div>



<script type="text/javascript" src="/fancybox/form.js"></script>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div><!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> <!-- /#main-inner, /#main -->
