     <div id="header" class="logged-out">
      
              <h1 class="site-title"><a href="/">US Racing</a></h1></div>
      
      <!-- container for the slides -->
<div id="featured">
<div class="banner-images">
	<!-- first image -->
	<div><a href="/join" title="Bet on Horses"><img alt="Header bet on horses" src="/themes/images/header/header-bet-on-horses.jpg" /></a></div>
    <!-- second image -->

	<div><a href="/join" title="Rebates You Deserve"><img alt="Header rebates you deserve" src="/themes/images/header/header-rebatesyoudeserve.jpg" /></a></div>
	<!-- third image -->
	<div><a href="/join" title="Setting the Pace"><img alt="Bet with confidence" src="/themes/images/header/header-betwithconfidence.jpg" /></a></div>
</div>

<!-- the tabs -->
<div class="slidetabs">
	<a href="#">1</a>
	<a href="#">2</a>
	<a href="#" class="last">3</a>

</div>
       
</div>{literal}

          {/literal}  
		<div class="logo"><a href="/"><img src="/themes/images/ahr-logo.png" alt="US Racing" title="" width="228" height="62" /></a></div>
		
              <div id="login-box">
          <form action="http://www.usracing.com/login"  accept-charset="UTF-8" method="post" id="user-login-form" onsubmit="setUserCookie(); return validate_function(this);">
<div><div class="form-item" id="edit-name-wrapper">
 <label for="edit-name">Username: <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="60" name="name" id="edit-name" size="15" value="" class="form-text required" />

</div>
<div class="form-item" id="edit-pass-wrapper">
 <label for="edit-pass">Password: <span class="form-required" title="This field is required.">*</span></label>
 <input type="password" name="pass" id="edit-pass"  maxlength="60"  size="15"  class="form-text required" />
</div>
<input type="hidden" name="form_build_id" id="form-73485e6752ff8b49e72f830c78bd4de9" value="form-73485e6752ff8b49e72f830c78bd4de9"  />
<input type="hidden" name="form_id" id="edit-user-login-block" value="user_login_block"  />
<div class="buttons"><input type="submit" name="op" id="edit-submit" value="Log in"  class="form-submit" />
<button type="button" class="form-submit" onclick="document.location='/join'">Join</button></div><div class="forgot"> 
  <a  href="/clubhouse?forgot=true" title="Forgot Your Password" rel="nofollow">Forgot your login details?</a> </div> 

</div></form>
        </div>
        <!--  /#login-box -->
      

      

    </div>
    <!-- /#header -->

