
 

<!-- LEFT COLUMN -->{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->





{include file='menus/horsebetting.tpl'} 







</div>
<!-- end: LEFT COLUMN --> 



<!-- RIGHT COLUMN -->
<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">







          
          
<div class="headline"><h1>XXTITLEXX</h1>
<!-- end TITLE---------------------------------------------------------- --> 


<div class="content">
<!-- --------------------- content starts here ---------------------- -->



        





XXCONTENTXXX









</div> 




</div>

 

<!-- end: RIGHT COLUMN --> 


</div> 
