<div id="main" class="container">
<div class="row">
<div id="left-col" class="col-md-9">

          
          
<div class="headline">
<!-- ---------------------- h1 MAIN TITLE contents ---------------------------------------------- --> 



<h1>US Racing Promotions -  Cash Bonuses</h1>


<!-- ---------------------- end h1 MAIN TITLE contents ------------------------------------------ --> 
</div><!-- end/headline -->

 





<div class="content">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->

<p><a href="/cash-bonus"><img class="img-responsive" src="/img/horse-racing-rebates.jpg" alt="Horse Betting bonus">  </a></p>
<p>Did you know US Racing offers a $150 CASH BONUS for your new online betting account?  Just signup, deposit and play to earn $150 in CASH!</p>

<p>We are sure you will like our easy to use interface and hassle-free horse betting experience, so it's our pleasure to give you a cash bonus just to try US Racing!</p>

{include file='/home/ah/allhorse/public_html/shared/bonus-terms-150.php'}
<hr>   
   {include file='/home/ah/allhorse/public_html/shared/bonus-terms-BC250.php'}
<hr>
{include file='/home/ah/allhorse/public_html/shared/bonus-terms-SMS200.php'}
<P>Please see <a href="/terms">Terms</a> for general rules about each bonus cash and promotions</p>


<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->







<div id="right-col" class="col-md-3">
<!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- -->

{include file='inc/rightcol-calltoaction.tpl'} 


{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 


<!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- -->
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- end/container -->
