   <div id="main" class="logged-in">{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->


        
          
            

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    
<div style="width:100%;" class="inbox-header">MESSAGES</div>

<div style="height: 60px; margin:0; padding: 0;">
<iframe id="message-loggedin" scrolling="no" height="100%" width="100%" marginwidth="0" marginheight="0" frameborder="0" src=""></iframe></div>





<div><h2 class="title">Betting Ticket</h2></div>

<div style="text-align: center; width:203px; height: 263px; padding:0; margin: 10px auto 0 auto;">
<!-- Sportsbook 4
<iframe style="padding: 0; margin-left: -10px; overflow:hidden;" name="TICKET" id="TICKET" width="213" height="100%" marginwidth="0" marginheight="0" frameborder="0" hspace="0" vspace="0" scrolling="auto" src="https://sportsbook.gamingsystem.net/sportsbook4/www.usracing.com/showbet.cgi"></iframe>
-->

<iframe  id="BETTING" src="" name="BETTING" frameborder="0" marginheight="0" marginwidth="0"  scrolling="no" style="margin-bottom:10px; height:100%; width:100%; "></iframe>

</div>
<!-- end bettingticket-block -->  </div>

  

<!-- /block-inner, /block -->



<div id="block-block-13" class="block block-menu region-even even region-count-2 count-2">

      <h2 class="title">Cashier</h2>
  



        			<ul class="menu">
				<li class="leaf first"><a href="javascript:void(0);" onclick="open_banking();" title="Make a Deposit">MAKE A DEPOSIT</a></li>

				<li><a href="javascript:void(0);" onclick="open_banking();" title="Make a Withdrawal">MAKE A WITHDRAWAL</a></li>
			</ul>  </div>

  

</div><!-- /block-inner, /block -->



<div id="block-block-14" class="block block-menu region-odd odd region-count-3 count-3">

      <h2 class="title">My Account</h2>
  



        			<ul class="menu">
				<li class="leaf first"><a href="#" title="Live Chat" onclick="livechat(); return false;">LIVE CHAT</a></li>
				<li><a href="/support" title="Customer Support">CUSTOMER SUPPORT</a></li>
         			<li><a href="https://ctr.gamingsystem.net/acctmgt/pl/myaccount.ctr?external_resource=https://ctr.gamingsystem.net/ntscustomer/pl/inbox.nts?&siteID=7630" target="supportframe" onclick="expand_iframe();">MY MESSAGES</a></li>
				<li><a target="supportframe" href="https://ctr.gamingsystem.net/acctmgt/pl/bonus.ctr?siteID=7630&casinoid=7630" title="View Bonus Details" onclick="expand_iframe();">VIEW BONUS DETAILS</a></li>
				<li><a target="supportframe" href="https://ctr.gamingsystem.net/acctmgt/pl/updatePassword.ctr?siteID=7630&casinoid=7630" title="Change Password" onclick="expand_iframe();">CHANGE PASSWORD</a></li>

				<li><a target="supportframe" href="https://ctr.gamingsystem.net/acctmgt/pl/nickname.ctr?userAction=UpdateNickname&siteID=7630&casinoid=7630" title="Manage Nickname" onclick="expand_iframe();">MANAGE NICKNAME</a></li>
				<li><a target="supportframe" href="https://ctr.gamingsystem.net/acctmgt/pl/updateContactInfo.ctr?siteID=7630&casinoid=7630" title="Update Contact Info" onclick="expand_iframe();">UPDATE CONTACT INFO</a></li>
				<li><a target="supportframe" href="https://ctr.gamingsystem.net/acctmgt/pl/updateMailingAddress.ctr?siteID=7630&casinoid=7630" title="Update Mailing Details" onclick="expand_iframe();">UPDATE MAILING DETAILS</a></li>
                                <li><a href="/referafriend" title="Refer a Friend">REFER A FRIEND</a></li>
			</ul>  </div>

  


</div><!-- /block-inner, /block -->



          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>Clubhouse</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div class="field field-type-text field-field-body-logged-in">
    
            
<div id="clubhousecontent">
<div class="box-club-menu">
		<ul>
		<li><div class="icon">
        <a href="racebook"><img src="themes/images/clubicon-racebook-bc_challenge.jpg" title="Racebook - Win, Place, Show & Combinations" alt="Racebook" border="0" /></a>

        <a class="category" title="Racebook" href="racebook">RACEBOOK</a>
        </div>
        </li>
        
	 <li><div class="icon">
        <a href="sportsbook"><img src="themes/images/clubicon-sportsbook-football.jpg" alt="Sportsbook" border="0" /></a>
        <a class="category" title="Sportsbook" href="sportsbook">SPORTSBOOK</a>
        </div>
        </li>

       <li><div class="icon">
        <a href="casino"><img src="themes/images/clubicon-casino.jpg" title="Casino" alt="Casino" border="0" /></a>
        <a class="category" title="Casino" href="casino">CASINO</a>
        </div>
        </li>   
      

	 <li><div class="icon">
        <a href="virtualderby"><img src="themes/images/clubicon-virtualderby.jpg" alt="Virtual Derby" border="0" /></a>
        <a class="category" title="Virtual Derby" href="virtualderby">VIRTUAL DERBY</a>

        </div>
        </li>

       <li><div class="icon">
         <a href="javascript:void(0);" onClick="window.open('/flash/tutorial/Site/index.html','Tutorial','width=700,height=400,top=243,left=250,resizable=no,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no ');"  title="How to Bet on Horses"><img src="themes/images/clubicon-tutorial.jpg" alt="Racebook Tutorial" border="0" /></a>
        <a class="category" href="javascript:void(0);" onClick="window.open('/flash/tutorial/Site/index.html','Tutorial','width=700,height=400,top=243,left=250,resizable=no,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no ');"  title="How to Bet on Horses">RACEBOOK TUTORIAL</a>
        </div>
        </li>   

         
        <li><div class="icon">

        <a href="poker"><img src="themes/images/clubicon-poker.jpg" title="Poker" alt="Poker" border="0" /></a>
         <a class="category" title="Poker" href="poker">POKER</a>
        </div>
        </li>

 </ul>
        
        
        <ul class="right">        
        <li><div class="icon">
        <a href="javascript:void(0);" onclick="open_banking();" title="Make a Deposit"><img src="themes/images/clubicon-deposit.jpg" alt="Deposit" border="0" /></a>

        <a class="category" href="javascript:void(0);" onclick="open_banking();" title="Make a Deposit">DEPOSIT</a>
        </div>
        </li>

<li><div class="icon">
        <a href="horsefutures?online=true"><img src="themes/images/clubicon-horsefutures-delmar.jpg" title="Horse Futures - Exotic Wagers, Matchups & Props" alt="Horse Futures" border="0" /></a>
        <a class="category" title="Horse Futures" href="horsefutures?online=true">HORSE FUTURES</a>
        </div>
        </li>

        <li><div class="icon">
        <a href="/casino"><img alt="Play Blackjack" src="themes/images/clubicon-blackjack.jpg" title="Play Blackjack" border="0" /></a>
        <a class="category" title="Play Blacjack" href="/casino">BLACKJACK</a>
        </div>
        </li>
       
        
        </ul>        
	</div>

</div>
{literal}
<script type="text/javascript">
function expand_iframe() {
 $("#clubhousecontent").css("display", "none");
 $("#frmup").css("display", "none");
 $("#frmpass").css("display", "none");
 $("#supportframe").css("display", "block");
}
</script>
{/literal}
 <iframe name="supportframe" id="supportframe" frameborder="0" width="672" height="800" style="display:none; padding: 0 10px;"></iframe>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container -->


    <div id="main" class="logged-out">{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
            

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



  <div id="messages-inbox" style="padding:0;" class="block logged-in">
<div style="width:100%;" class="inbox-header">MESSAGES</div>

<div style="height: 60px; margin:0; padding: 0;">
<iframe  id="message-loggedout" scrolling="no" height="100%" width="100%" marginwidth="0" marginheight="0" frameborder="0" src=""></iframe></div>
</div>

<div id="bettingticket-block" style="padding:0;" class="block logged-in">
<div style="text-align: center; width:224px; height: 276px; margin:0 auto; padding:0 0 0 10px;">
<iframe  style="overflow-x:hidden; padding: 0; border:0; margin:0 auto;" name="TICKET" id="TICKET"  width="224" height="100%"  marginwidth="0" marginheight="0" frameborder="0" hspace="0" vspace="0"  scrolling="auto" src=""></iframe></div>

</div>
    <div id="messages-inbox" style="padding:0;" class="block logged-out">
<div style="width:100%;" class="inbox-header">MESSAGES</div>

<div class="message">You are not logged in.</div>
</div>
  </div>

  

<!-- /block-inner, /block -->



<div id="block-block-76" class="block block-block region-even even region-count-2 count-2">

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->




    
<div><h2 class="title">Cashier</h2></div>
   			<ul class="menu logged-in">
				<li class="leaf first"><a href="javascript:void(0);" onclick="open_banking();" title="Make a Deposit">MAKE A DEPOSIT</a></li>
				<li><a href="javascript:void(0);" onclick="open_banking();" title="Make a Withdrawal">MAKE A WITHDRAWAL</a></li>
			</ul>		
<ul class="menu logged-out">
<li class="leaf first"><a href="javascript:void(0);" onClick="Javascript: alert('You are not logged in.');" title="Make a Deposit">MAKE A DEPOSIT</a></li>
<li><a href="javascript:void(0);" onClick="Javascript: alert('You are not logged in.');" title="Make a Withdrawal">MAKE A WITHDRAWAL</a></li>
</ul>
  </div>

  

</div><!-- /block-inner, /block -->



<div id="block-block-77" class="block block-block region-odd odd region-count-3 count-3">

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    
<div><h2 class="title">My Account</h2></div>
<ul class="menu logged-in">
				<li class="leaf first"><a href="#" title="Live Chat" onclick="livechat(); return false;">LIVE CHAT</a></li>
				<li><a href="/support" title="Customer Support">CUSTOMER SUPPORT</a></li>
         			<li><a href="https://ctr.gamingsystem.net/acctmgt/pl/myaccount.ctr?external_resource=https://ctr.gamingsystem.net/ntscustomer/pl/inbox.nts?&siteID=7630" target="supportframe" onclick="expand_iframe();">MY MESSAGES</a></li>
				<li><a target="supportframe" href="https://ctr.gamingsystem.net/acctmgt/pl/bonus.ctr?siteID=7630&casinoid=7630" title="View Bonus Details" onclick="expand_iframe();">VIEW BONUS DETAILS</a></li>
				<li><a target="supportframe" href="https://ctr.gamingsystem.net/acctmgt/pl/updatePassword.ctr?siteID=7630&casinoid=7630" title="Change Password" onclick="expand_iframe();">CHANGE PASSWORD</a></li>
				<li><a target="supportframe" href="https://ctr.gamingsystem.net/acctmgt/pl/nickname.ctr?userAction=UpdateNickname&siteID=7630&casinoid=7630" title="Manage Nickname" onclick="expand_iframe();">MANAGE NICKNAME</a></li>
				<li><a target="supportframe" href="https://ctr.gamingsystem.net/acctmgt/pl/updateContactInfo.ctr?siteID=7630&casinoid=7630" title="Update Contact Info" onclick="expand_iframe();">UPDATE CONTACT INFO</a></li>
				<li><a target="supportframe" href="https://ctr.gamingsystem.net/acctmgt/pl/updateMailingAddress.ctr?siteID=7630&casinoid=7630" title="Update Mailing Details" onclick="expand_iframe();">UPDATE MAILING DETAILS</a></li>
                                <li><a href="/referafriend" title="Refer a Friend">REFER A FRIEND</a></li>
			</ul>		
<ul class="menu logged-out">
				<li class="leaf first"><a href="#" title="Live Chat" onClick="livechat(); return false;">LIVE CHAT</a></li>
				<li><a href="/support" title="Customer Support">CUSTOMER SUPPORT</a></li>

         			<li><a href="javascript:void(0);" onClick="Javascript: alert('You are not logged in. Please login or Join');">MY MESSAGES</a></li>
				<li><a href="javascript:void(0);" onClick="Javascript: alert('You are not logged in. Please login or Join');">VIEW BONUS DETAILS</a></li>
				<li><a target="supportframe" href="https://ctr.gamingsystem.net/acctmgt/pl/myaccount.ctr?resource=retrievePIN.ctr&siteID=7630&casinoid=7630" title="Forgot Your PIN?" onClick="expand_iframe();">FORGOT YOUR PIN?</a></li>
				<li><a target="supportframe" href="https://ctr.gamingsystem.net/acctmgt/pl/retrieveLogin.nctr?casinoid=7630&siteID=7630" title="Forgot Your Login Details?" onClick="expand_iframe();">FORGOT YOUR LOGIN DETAILS?</a></li>
				<li><a href="javascript:void(0);" onClick="Javascript: alert('You are not logged in. Please login or Join');">CHANGE PASSWORD</a></li>
				<li><a href="javascript:void(0);" onClick="Javascript: alert('You are not logged in. Please login or Join');">MANAGE NICKNAME</a></li>

				<li><a href="javascript:void(0);" onClick="Javascript: alert('You are not logged in. Please login or Join');">UPDATE CONTACT INFO</a></li>
				<li><a href="javascript:void(0);" onClick="Javascript: alert('You are not logged in. Please login or Join');">UPDATE MAILING DETAILS</a></li>
                                <li><a href="/referafriend" title="Refer a Friend">REFER A FRIEND</a></li>
			</ul>
  </div>

  

</div><!-- /block-inner, /block -->




          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">


          
                                                
                                      
          
<div class="headline"><h1>Clubhouse</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div id="clubhousecontent">
<div class="box-club-menu">
		<ul>
		<li><div class="icon">
        <a href="racebook"><img src="themes/images/clubicon-racebook-bc_challenge.jpg" title="Racebook - Win, Place, Show & Combinations" alt="Racebook" border="0" /></a>
        <a class="category" title="Racebook" href="racebook">RACEBOOK</a>

        </div>
        </li>

        <li><div class="icon">
        <a href="sportsbook"><img src="themes/images/clubicon-sportsbook-football.jpg" alt="Sportsbook" border="0" /></a>
        <a class="category" title="Sportsbook" href="sportsbook">SPORTSBOOK</a>
        </div>
        </li>

	        <li><div class="icon">
        <a href="casino"><img src="themes/images/clubicon-casino.jpg" title="Casino" alt="Casino" border="0" /></a>
        <a class="category" title="Casino" href="casino">CASINO</a>
        </div>
        </li>   



	 <li><div class="icon">
        <a href="virtualderby"><img src="themes/images/clubicon-virtualderby.jpg" alt="Virtual Derby" border="0" /></a>
        <a class="category" title="Virtual Derby" href="virtualderby">VIRTUAL DERBY</a>

        </div>
        </li>

          
       <li><div class="icon">
         <a href="javascript:void(0);" onClick="window.open('/flash/tutorial/Site/index.html','Tutorial','width=700,height=400,top=243,left=250,resizable=no,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no ');"  title="How to Bet on Horses"><img src="themes/images/clubicon-tutorial.jpg" alt="Racebook Tutorial" border="0" /></a>
        <a class="category" href="javascript:void(0);" onClick="window.open('/flash/tutorial/Site/index.html','Tutorial','width=700,height=400,top=243,left=250,resizable=no,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no ');"  title="How to Bet on Horses">RACEBOOK TUTORIAL</a>
        </div>
        </li>

        <li><div class="icon">
        <a href="poker"><img src="themes/images/clubicon-poker.jpg" title="Poker" alt="Poker" border="0" /></a>
         <a class="category" title="Poker" href="poker">POKER</a>
        </div>
        </li>        	
		</ul>
        
        
        <ul class="right">        
        <li><div class="icon">
        <a href="javascript:void(0);" onClick="Javascript: alert('You are not logged in.');" title="Make a Deposit"><img src="themes/images/clubicon-deposit.jpg" alt="Deposit" border="0" /></a>

        <a class="category" href="javascript:void(0);" onClick="Javascript: alert('You are not logged in.');" title="Make a Deposit">DEPOSIT</a>
        </div>
        </li>
        
         <li><div class="icon">
        <a href="horsefutures"><img src="themes/images/clubicon-horsefutures-delmar.jpg" title="Horse Futures - Exotic Wagers, Matchups & Props" alt="Horse Futures" border="0" /></a>
        <a class="category" title="Horse Futures" href="horsefutures">HORSE FUTURES</a>
        </div>
        </li>                
        
        <li><div class="icon">

        <a href="/casino"><img alt="Play Blackjack" src="themes/images/clubicon-blackjack.jpg" title="Play Blackjack" border="0" /></a>
        <a class="category" title="Play Blacjack" href="/casino">BLACKJACK</a>
        </div>
        </li>
       
        
        </ul>	        
	</div>
</div>
{literal}
<script type="text/javascript">
function expand_iframe() {
 $("#clubhousecontent").css("display", "none");
 $("#frmup").css("display", "none");
 $("#frmpass").css("display", "none");
 $("#supportframe").css("display", "block");
}
</script>
{/literal}
 <iframe name="supportframe" id="supportframe" frameborder="0" width="672" height="800" style="display:none; padding: 0 10px;"></iframe>

        
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 


{literal}
    <script language="javascript">
	var username = Check_Cookie(rot13('UTMU'));
	setTimeout(
	function (){if(username){
	$("#TICKET").attr("src","https://ctr.gamingsystem.net/ntscustomer/pl/status.nts?siteID=7630");
	$("#message-loggedin").attr("src","https://ctr.gamingsystem.net/ntscustomer/pl/status.nts?siteID=7630&casinoid=7630");
	setTimeout(function(){
	$("#BETTING").attr("src","https://sportsbook.gamingsystem.net/sportsbook4/www.usracing.com/sbk5.cgi?oddsSrc=http://www.usracing.com/modules/allhorseracing/sportsbook/lines-ticket.php");},3000)
		
	}else{
	$("#message-loggedout").attr("src","https://ctr.gamingsystem.net/ntscustomer/pl/status.nts?siteID=7630");	
	}},0);
	</script>
    {/literal} 
      
    </div>