<div id="main" class="container">
<div class="row">
<div id="left-col" class="col-md-9">

          
          
<div class="headline">
<!-- ---------------------- h1 MAIN TITLE contents ---------------------------------------------- --> 



<h1>Compare the Leading Racebooks and ADWs - Which is Best for You?</h1>


<!-- ---------------------- end h1 MAIN TITLE contents ------------------------------------------ --> 
</div><!-- end/headline -->







<div class="content">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->


<h2>US Racing - Online Horse Betting</h2>
<img alt="US Racing bet on horses" src="/img/usracing-betonhorses.gif" class="pull-left overflow-hidden img-responsive" width="200" style="margin:0 20px 10px 0;" />
<p>US Racing is committed to offering a superior product to horse racing fans and bettors.  Compare us to the others and decide what is best for you!</p>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
       <style type="text/css">
                @import url(http://fonts.googleapis.com/css?family=Open+Sans:300); 
                @import url(https://fonts.googleapis.com/css?family=Roboto);
                body{
                    background:#fff;
                }

                .comparative_table_container{
                    text-align:center;
                    color:#666;
                    margin-top:8px;
                    font-family: 'Open Sans', sans-serif;
                }

                .usracing_table_row {
				    background-color: #1571BA;
				    width: 80%;
				    float: left;
				    color: yellow;
				    padding: 4.2px;
				    font-size: 18px;
				    margin: 0 10% 0 10%;
				    border-top: inset 1px rgba(255,255,255,0.2);
                }
                .arrow-up {
					width: 100%; 
					height: 70px; 
					-webkit-filter: drop-shadow(0px 2px 5px rgba(0,0,0,0.5));
				    filter: url(#drop-shadow);
				    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#f1f1f1')";
				    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#f1f1f1')";
				}
                .betus-row {
                    box-shadow: -100px -100px 0px -100px transparent, 0px 4px 5px rgba(0,0,0,0.5);
                    z-index: 9;
                }
                .feature-text {
				    font-family: 'Roboto', sans-serif;
				    text-indent: 5px;
				    text-transform: uppercase;
				    font-weight: bold;
				    font-size: 15px;
				    padding-top: 5px;
				}
                .comparative_table_row {
					background: #f1f1f1;
				    font-size: 16px;
				    box-shadow: inset 0 1px 0 0 #c1c1c1;
				    border-left: 1px solid #c1c1c1;
				    border-right: 1px solid #c1c1c1;
                }
                .comparative_brands_table_row {
                    padding:4.2px;
                    background: #F1F1F1;
                    font-size: 18px;
                }

                .comparative_table_row-2 {
					background: #c9c9c9;
				    font-size: 16px;
				    box-shadow: inset 0 1px 0 0 #c1c1c1;
				    border-left: 1px solid #c1c1c1;
				    border-right: 1px solid #c1c1c1;
                }
                .comparative {
                    text-align: center;
                }
                .comparative-logo {
                    min-height: 90px;
                }
                .comparative-logo img {
                    text-align: center;
                }
                .comparative-logo-others {
                    min-height: 90px;
                }

                .comparative_title {
                    float: left;
                    width: 100%;
                    text-align: center;
                    color: #337AB7;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 27px;
                    margin: 10px;
                }
                .no-padding {
                    padding-left: 0;
                    padding-right: 0;
                }
                span.asterisk {
                    padding: 0;
                    margin-right: -8px;
                    color: #d9534f;
                }
                .feature-no {
                    color: #666;
    				font-family: 'Roboto', sans-serif;
    				padding-top: 5px;
                }
                .feature-yes {
                    color: #666;
    				font-family: 'Roboto', sans-serif;
    				padding-top: 5px;
                }
                img.logo-otherc {
                    width: 100%;
                }
				.bottom-radius {
				    border-bottom-right-radius: 5px;
				    border-bottom-left-radius: 5px;
				}
				.top-radius {
				    border-top-right-radius: 5px;
				    border-top-left-radius: 5px;
				}
       </style>
   </head>
   <body>
   
       <!-- PRICING TABLE STYLE 1-->
        <div class="container center-block row">    
			<div class="row">
				<div class="col-xs-3"> </div>
				<div class="col-xs-3"><img alt="USR logo" class="logo-otherc" src="/compare-racebooks/usr-logo.png"></div>
				<div class="col-xs-2"> </div>
				<div class="col-xs-2"> </div>
				<div class="col-xs-2"> </div>
			</div>
			<div class="row">
				<div class="col-xs-3"> </div>
				<div class="col-xs-3 no-padding"><span ><img alt="Top arrow" class="arrow-up" src="/compare-racebooks/top-arrow.png"></span></div>
				<div class="col-xs-2"><img alt="twinspires" class="logo-otherc" src="/compare-racebooks/twinspires-logo.jpg"></div>
				<div class="col-xs-2"><img alt="tvg" class="logo-otherc" src="/compare-racebooks/tvg-logo.jpg"></div>
				<div class="col-xs-2"><img alt="xpressbet" class="logo-otherc" src="/compare-racebooks/xpressbet-logo.jpg"></div>
			</div>
			<div class="row comparative_table_row top-radius">
				<div class="col-xs-3 feature-text">Free Membership</div>
				<div class="col-xs-3 text-center"><span class="usracing_table_row betus-row">YES</span></div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
			</div>
			<div class="row comparative_table_row-2">
				<div class="col-xs-3 feature-text">Free Bets</div>
				<div class="col-xs-3 text-center"><span class="usracing_table_row betus-row">YES</span></div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
			</div>
			<div class="row comparative_table_row">
				<div class="col-xs-3 feature-text">Rebates</div>
				<div class="col-xs-3 text-center"><span class="usracing_table_row betus-row">YES</span></div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
			</div>
			<div class="row comparative_table_row-2">
				<div class="col-xs-3 feature-text">Accepts all US Residents</div>
				<div class="col-xs-3 text-center"><span class="usracing_table_row betus-row">YES</span></div>
				<div class="col-xs-2 text-center feature-no">NO</div>NO<span class='asterisk'>*</span></div>
				<div class="col-xs-2 text-center feature-no">NO</div>NO<span class='asterisk'>*</span></div>
				<div class="col-xs-2 text-center feature-no">NO</div>NO<span class='asterisk'>*</span></div>
			</div>
			<div class="row comparative_table_row">
				<div class="col-xs-3 feature-text">Accepts Canadian/UK Residents</div>
				<div class="col-xs-3 text-center"><span class="usracing_table_row betus-row">YES</span></div>
				<div class="col-xs-2 text-center feature-no">NO<span class='asterisk'>*</span></div>
				<div class="col-xs-2 text-center feature-no">NO<span class='asterisk'>*</span></div>
				<div class="col-xs-2 text-center feature-no">NO<span class='asterisk'>*</span></div>
			</div>
			<div class="row comparative_table_row-2">
				<div class="col-xs-3 feature-text">Horse Racing</div>
				<div class="col-xs-3 text-center"><span class="usracing_table_row betus-row">YES</span></div>
				<div class="col-xs-2 text-center feature-yes">YES</div>
				<div class="col-xs-2 text-center feature-yes">YES</div>
				<div class="col-xs-2 text-center feature-yes">YES</div>
			</div>
			<div class="row comparative_table_row">
				<div class="col-xs-3 feature-text">Greyhound Racing</div>
				<div class="col-xs-3 text-center"><span class="usracing_table_row betus-row">YES</span></div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
			</div>
			<div class="row comparative_table_row-2">
				<div class="col-xs-3 feature-text">Horse Racing Future Wagers</div>
				<div class="col-xs-3 text-center"><span class="usracing_table_row betus-row">YES</span></div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
			</div>
			<div class="row comparative_table_row">
				<div class="col-xs-3 feature-text ">Match Races</div>
				<div class="col-xs-3 text-center"><span class="usracing_table_row betus-row">YES</span></div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
			</div>
			<div class="row comparative_table_row-2">
				<div class="col-xs-3 feature-text ">Sports Betting</div>
				<div class="col-xs-3 text-center"><span class="usracing_table_row betus-row">YES</span></div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
			</div>
			<div class="row comparative_table_row">
				<div class="col-xs-3 feature-text ">Virtual Derby</div>
				<div class="col-xs-3 text-center"><span class="usracing_table_row betus-row">YES</span></div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
			</div>
			<div class="row comparative_table_row-2 bottom-radius">
				<div class="col-xs-3 feature-text">Casino Games</div>
				<div class="col-xs-3 text-center"><span class="usracing_table_row betus-row">YES</span></div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
				<div class="col-xs-2 text-center feature-no">NO</div>
			</div>
			<div class="col-xs-12"><small><span>*</span> Twinspires, TVG and Xpressbet do not accept residents from:  Texas, New Jersey, Alaska, Arizona, Colorado, Connecticut, District of Columbia, Georgia, Guam, Hawaii, Idaho, Indiana, Maine, Michigan, Minnesota, Mississippi, Missouri, Nebraska, Nevada, New Mexico, North Carolina, Pennsylvania, South Carolina, Tennessee, Utah, Vermont</small></div>
        </div>
        <!-- PRICING TABLE STYLE 1-->



</ul>

<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->







<div id="right-col" class="col-md-3">
<!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- -->
{include file='inc/rightcol-calltoaction.tpl'} 
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 


<!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- -->
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- end/container -->
