<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<div id="main" class="container">
<div class="row">
<div id="left-col" class="col-md-9">

          
          
<div class="headline">
<!-- ---------------------- h1 MAIN TITLE contents ---------------------------------------------- --> 



<h1>Demo page -  </h1>


<!-- ---------------------- end h1 MAIN TITLE contents ------------------------------------------ --> 
</div><!-- end/headline -->







<div class="content">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->

Demo Nav Menu  Only - Present Lines list
{*
<div>
<h3>NFL</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/NFL.php"} </ul>
</div>
*}

<div>
<h3>NHL</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/NHL.php"} </ul>
</div>


<div>
<h3>MLB</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/MLB.php"} </ul>
</div>

<div>
<h3>Soccer</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/SOCCER.php"} </ul>
</div>

<div>
<h3>NCAA Football</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/CFB.php"} {include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/NCAA_FOOTBALL.php"}</ul>
</div>


<div>
<h3>HORSES</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/HORSES.php"} </ul>
</div>

<div>
<h3>BOXING+MMA</h3>
<ul>
{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/BOX.php"} 
{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/BOXING.php"} 
{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/MMA.php"} 
</ul>
</div>

<div>
<h3>MOTOR SPORTS</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/AUTO.php"} </ul>
</div>



<div>
<h3>NBA</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/NBA.php"} </ul>
</div>

<div>
<h3>COLLEGE BASTEKBALL</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/NCAA_BASKETBALL.php"} 
{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/CBB.php"} 
</ul>
</div>

<div>
<h3>GOLF</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/GOLF.php"} {include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/PGA_TOUR.php"}</ul>
</div>

<div>
<h3>E SPORTS</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/E.php"} </ul>
</div>


<div>
<h3>Entertenment</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/ENT.php"}</ul>
</div>

<div>
<h3>RUGBY</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/RUGBY.php"}</ul>
</div>

<div>
<h3>CRICKET</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/CRICKET.php"}</ul>
</div>

<div>
<h3>CYCLING</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/CYCLING.php"}</ul>
</div>

<div>
<h3>WNBA</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/WNBA.php"}</ul>
</div>

<div>
<h3>WRESTLING</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/WRESTLING.php"}</ul>
</div>

<div>
<h3>TENNIS</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/TENNIS.php"}</ul>
</div>

<div>
<h3>SPECIAL PROPS</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/SPECIAL_PROPS.php"}</ul>
</div>

<div>
<h3>AUSSIE RULES</h3>
<ul>{include_php file="/home/ah/allhorse/public_html/oddsfeed/menu/AUSSIE_RULES.php"}</ul>
</div>

  {*include_php file="/home/ah/allhorse/public_html/oddsfeed/index-new.php"*} 
  {*include_php file="/home/ah/allhorse/public_html/oddsfeed/odds/1.php"*} 
  
  <hr />
  
{literal}
<style type="text/css" >
.earchrow{ background-color: #ffffff !important; border: 1px solid #666; margin-top: 3px !important; }
.spmoto{ font-size: 12px !important;  }
.box{ border:1px solid #ccc; padding: 8px;}
.firstpart{   }
.secondpart{  border-top: 1px dotted #666; }
.teams{ padding: 30px; }
.secondpart , .firstpart{ clear:both; padding: 5px; display:inline-block; }
.headerrow{ text-transform:capitalize; font-size:18px;  }
</style>
{/literal}

<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->







<div id="right-col" class="col-md-3">
<!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- -->
{include file='/home/ah/allhorse/public_html/usracing/calltoaction_about.tpl'} 
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 


<!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- -->
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- end/container -->
