<div id="main" class="container">
<div class="row">
<div id="left-col" class="col-md-9">

          
          
<div class="headline">
<!-- ---------------------- h1 MAIN TITLE contents ---------------------------------------------- --> 



<h1>Demo page - Please check the variables </h1>


<!-- ---------------------- end h1 MAIN TITLE contents ------------------------------------------ --> 
</div><!-- end/headline -->







<div class="content">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->

Demo Only -- testing page 

  {include_php file="/home/ah/usracing.com/smarty/libs/control/libcontrol_switch_v1.php"} 

<br />
{if $KDSwitch}
<strong>KDSwitch</strong> is now on .
{else}
<strong>KDSwitch</strong> is now off .
{/if}

<br />

{if $PSSwitch}
<strong>PSSwitch</strong> is now on .
{else}
<strong>PSSwitch</strong> is now off .
{/if}

<br />

{if $BSSwitch}
<strong>BSSwitch</strong> is now on .
{else}
<strong>BSSwitch</strong> is now off .
{/if}

<br />



{if $BCSwitch}
<strong>BCSwitch</strong> is now on .
{else}
<strong>BCSwitch</strong> is now off .
{/if}

<br />

{if $PegasusSwitch}
<strong>PegasusSwitch</strong> is now on .
{else}
<strong>PegasusSwitch</strong> is now off .
{/if}

<br />


<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->







<div id="right-col" class="col-md-3">
<!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- -->
{include file='/home/ah/allhorse/public_html/usracing/calltoaction_about.tpl'} 
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 


<!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- -->
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- end/container -->
