
<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">
<div class="headline"><h1> Dev Login</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->




<!--Hidden-->
	<form  action="http://ww1.betusracing.ag//default.aspx" method="post" id="loginform" name="loginform" role="form" onsubmit="this.ctl00$MainContent$Password.value = this.ctl00$MainContent$Password.value.toUpperCase();" class="form-inline"  >
		
		

		
		<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
	<input value="/wEPDwULLTIxMzIyODUwNTJkZIo7UCMTvAE9eWRwS41U8VCjnZaG" name="__VIEWSTATE" type="hidden">
	<input value="CA0B0334" name="__VIEWSTATEGENERATOR" type="hidden">
	<input value="/wEWBgL9/NPkAwKGgsfWCQLDx7adCAKRnIq9DwLo95q2BQK+uZe+ButaL4+k7Sl8gF/j06ws64/7tSLp" name="__EVENTVALIDATION" type="hidden">
	<input value="Submit" name="ctl00$MainContent$btnLogin" type="hidden">
	<input type="hidden" name="ctl00$MainContent$IdBook" id="ctl00_MainContent_IdBook" />
	<input value="wager/Bridge.aspx?to=racebook"  name="ctl00$MainContent$Redir" type="hidden"
	
	
	
<!--User-->
<div class="form-group account-group">	
	<label for="name" class="sr-only account">Account:</label> 
    <input id="account" placeholder="Account" name="ctl00$MainContent$Account" value="" type="text" class="form-control" onblur="checkLabel('user');" onfocus="hideLabel('user');" onclick="hideLabel('user');" tabindex="1" >

	   
</div>  


<!--Password-->
<div class="form-group pin-group">        				                 
  	<label for="pass" class="sr-only pin">Password</label>
    <input placeholder="Password" maxlength="10" name="ctl00$MainContent$Password"  type="password" class="form-control" tabindex="2" id="pin" >

	</div>


<!--Submit-->   
 <div class="form-group login-group">
	 <div class="loginGroup">
  <button type="submit" class="btn btn-sm btn-default" tabindex="3" id="loginButton">Login</button>
  </form>
  

</script>
 </div> </div>
 

             
 <!-- end/login -->
        
       

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 


