{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
          
                  {include file='menus/states.tpl'}
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
            
                                        
          
<div class="headline"><h1>Arizona Horse Racing</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


{php}
$remoteAddr = geoip_country_code_by_name("".$_SERVER['REMOTE_ADDR']);
echo "*$remoteAddr*<br />";
$countries = array('CA',"US", 'UM', "MX", 'HK','CN', 'SG','EU', 'UK', 'IE', 'IT', 'DE', 'AT','FR', 'ES', 'BE','AU', 'DO', 'CO', 'BO');
if(in_array($remoteAddr, $countries)){
	echo "YES";
	//header("location: http://usracing.net");
}
else{
	echo "NO";
}
{/php}


      
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container -->
