
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->



            
{include file='menus/info.tpl'} 

<div id="block-menu-menu-sports-line" class="block block-menu region-even even region-count-2 count-2">
<h2 class="title">Sports Lines</h2>
  



<ul class="menu"><li class="expanded first"><a href="/beton/race-of-the-week" title="Bet on Horses">BET ON HORSES</a><ul class="menu"><li class="leaf first"><a href="/beton/race-of-the-week" title="Horse Race of the Week">HORSE RACE OF THE WEEK BETS</a></li>
<li><a href="/beton/kentuckyderby" title="Bet on Kentucky Derby - Run for the Roses at Churchill Downs">BET ON KENTUCKY DERBY</a></li>
<li><a href="/beton/kentuckyderby-futurewager" title="Kentucky Derby Future Wager">KENTUCKY DERBY FUTURE WAGER</a></li>
<li><a href="/beton/preakness-stakes" title="Bet on Preakness Stakes at US Racing">BET ON PREAKNESS STAKES</a></li>
<li><a href="/beton/belmontstakes" title="Bet on Belmont Stakes at US Racing">BET ON BELMONT STAKES</a></li>
<li><a href="/beton/breederscup" title="Bet on Breeders&#039; Cup at US Racing">BET ON BREEDERS CUP</a></li>
<li><a href="/beton/dubaiworldcup" title="Bet on the Dubai World Cup - Richest Horse Race">DUBAI WORLD CUP</a></li>
<li><a href="/beton/matchraces" title="Match Races at US Racing">MATCH RACES</a></li>
<li><a href="/beton/roadtoroses" title="Road to the Kentucky Derby">ROAD TO THE KENTUCKY DERBY</a></li>
<li><a href="/beton/breederscup_challenge" title="Breeders Cup Challenge">BREEDERS CUP CHALLENGE</a></li>
<li><a href="/beton/makememillionaire" title="Make Me A Millionaire Challenge">MAKE ME A MILLIONAIRE</a></li>
</ul></li>
<li class="expanded"><a href="/beton/football" title="Bet on Football">BET ON FOOTBALL</a><ul class="menu"><li class="leaf first"><a href="/beton/nfl" title="Bet on NFL Football">BET ON NFL</a></li>
<li><a href="/beton/college-football" title="Bet on College Football">BET ON COLLEGE</a></li>
</ul></li>
<li class="expanded"><a href="/beton/baseball" title="Bet Sports">BET SPORTS</a><ul class="menu"><li class="leaf first"><a href="/beton/baseball" title="Bet on Baseball">BASEBALL</a></li>
<li><a href="/beton/basketball" title="Bet on Basketball">BASKETBALL BETTING</a></li>
<li><a href="/beton/collegebasketball" title="NCAA College Basketball Betting">NCAA BASKETBALL</a></li>
<li><a href="/beton/hockey" title="Bet on Hockey | NHL Betting Online">BET ON HOCKEY</a></li>
<li><a href="/beton/boxing" title="Bet on HBO and Showtime Boxing">BOXING</a></li>
<li><a href="/beton/mma" title="UFC, MMA bet on Mixed Martial Arts">MIXED MARTIAL ARTS</a></li>
<li><a href="/beton/golf" title="Bet on Golf | Ryder Cup, The Masters, PGA betting">GOLF BETTING</a></li>
<li><a href="/beton/nascar" title="NASCAR Betting Autoracing">NASCAR</a></li>
<li><a href="/beton/soccer" title="Soccer Betting">SOCCER BETTING</a></li>
<li><a href="/beton/tennis" title="Tennis Betting at Wimbledon and Majors">TENNIS</a></li>
</ul></li>
<li class="expanded"><a href="/beton/oscars" title="Bet on Politics, Entertainment and More!">BET MORE</a><ul class="menu"><li class="leaf first"><a href="/beton/oscars" title="Bet on the Academy Awards and Oscars">ACADEMY AWARDS</a></li>
<li><a href="/beton/politics" title="Political Betting">POLITICS</a></li>
<li><a href="/beton/reality-tv" title="Bet on TV and Reality Shows">REALITY SHOWS</a></li>
</ul></li>
<li><a href="/promotions" title="Promotions and Specials">PROMOTIONS AND SPECIALS</a></li>
</ul>
</div>

  

</div><!-- /block-inner, /block -->



{*include file='banners/banner4.tpl'*}
{include file='banners/banner3.tpl'}
{*include file='banners/banner2.tpl'*}
{*include file='banners/banner1.tpl'*}




<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      

      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
            <div id="block-block-92" class="block block-block region-odd odd region-count-1 count-5">

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div><a href="/join"><img src="/themes/images/banner-horsefutures25.jpg" alt="Horse Futures" width="705" height="118" /></a></div>  </div>

  

</div><!-- /block-inner, /block -->



                                    
                                      
          
<div class="headline"><h1>Horse Futures</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<h2>US Racing offers Future Bets</h2></div>

<p><br />US Racing offers the most exciting <a title="Future Bets" href="/sportsbook">future bets</a>, <a title="Exotic Wagers" href="/sportsbook">exotic wagers</a> and <a title="Propositions" href="/sportsbook">propositions</a> for the <a title="Online Horse Racing" href="/racebook">horse racing</a> industry.</p>

<p>Future wagers are usually open well in advance of the event which means that you will likely get the <a title="Horse Wagering Odds" href="/sportsbook">best horse wagering odds</a> by <a title="Bet in Advance" href="/sportsbook">betting in advance</a> at <a title="Setting the Pace" href="/">US Racing</a></p>

<p>Make future wagers on the <a title="Bet on Kentucky Derby" href="/kentuckyderby-betting">Kentucky Derby</a>, <a title="Bet on Preakness Stakes" href="/preaknessstakes-betting">Preakness Stakes</a>, <a title="Bet on Belmont Stakes" href="/belmontstakes-betting">Belmont Stakes</a>, <a title="Bet on Breeders' Cup" href="/beton/breederscup">Breeders' Cup</a> and other <a title="Horse Racing Schedule" href="/gradedstakes-schedule">major horse racing events</a> at US Racing. Bet on the saddle cloth color that the <a title="Kentucky Derby Exotics" href="/sportsbook">Kentucky Derby winner</a> will be wearing. Will there be a <a title="Triple Crown Betting" href="/triplecrown">Triple Crown winner</a> in 2011?  These are just a few examples of the bet types US Racing offers 24/7, 365 days a year!</p>

<p>US Racing gives you even more reasons to join by offering an <a title="8% Rebate" href="/promotions">8% REBATE</a> on all exotic wagers and a <a title="3% Rebate" href="/promotions">3% REBATE</a> on all Win, Place, Show bets! So whether your lucky streak seems to have no end in sight or if it happens to be down momentarily, you'll get a nice surprise in your account after the race, either way! How sweet is that!</p>

<!--<p><a title="Join Now!" href="/join">Membership is FREE</a>! Get a <a title="Sign Up Now!" href="/join">10% Sign up Bonus</a> in addition to the 8% rebate on exotics and 3% on Win, Place, Show bets.</p>
<br />
<h4><strong>Kentucky Derby Betting</strong></h4>
<p>
<ul>
<li>Kentucky Derby <a href="/kentuckyderby-odds">Odds to Win</a> are now available in the <a href="/sportsbook">sportsbook</a>.</li>
<li><a href="/PDF/ahr-kd-odds.pdf">Download</a> the latest Kentucky Derby Odds to Win.</li>
<li><a href="/kentuckyderby-futurewager">Kentucky Derby Future Wagering Pools 2011</a>.</li>
</ul>
</p>
<br />-->

{*include file="inc/ahr_block-horsefutures-props.tpl"*}

<br /><br />
<div style="width: 100%;"><a href="/join"><img style="margin: 0px auto; width: 150px;" title="Want to bet on Horses Online? Join Today!" src="/themes/images/join_button.gif" border="0" alt="Want to bet on Horses Online? Join Today!"></a>
</div>
<br />
              
            
            
                      
        
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 


