<div id="main" class="container">
<div class="row">
<div id="left-col" class="col-md-9">

          
          
<div class="headline">
<!-- ---------------------- h1 MAIN TITLE contents ---------------------------------------------- --> 



<h1>Horse Racing Videos</h1>


<!-- ---------------------- end h1 MAIN TITLE contents ------------------------------------------ --> 
</div><!-- end/headline -->







<div class="content">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->

<h2>Latest Video picks from US Racing</h2>
<div class="ytFeed">
     <div id="yt-list1" class="yt-feed" data-plumtube data-plum-max-results="12" data-plum-show-title="link" data-plum-playlist="PLEKyEB4uQTtA4lARcnMeY0GnrdibVfMlv" data-plum-modal="true"  data-plum-large-thumb="true"></div>
</div>

<hr />

{*<h2>Latest Videos from TVG</h2>
<div class="ytFeed">
     <div id="yt-list2" class="yt-feed" data-plumtube data-plum-max-results="6" data-plum-show-title="link" data-plum-user="tvgnetwork" data-plum-modal="true"  data-plum-large-thumb="true"></div>
</div>*}

             


<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->







<div id="right-col" class="col-md-3">
<!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- -->

{include file='inc/rightcol-calltoaction.tpl'} 
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 


<!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- -->
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- end/container -->
