
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->










<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          

<div id="content-top" class="region logged-out">
          
            
<!-- <div id="block-block-34" class="block block-block region-odd odd region-count-1 count-3">
<div class="block-inner">
  
<div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div><a href="/join"><img src="/themes/images/banner-racebook.jpg" alt="Racebook" width="705" height="118" /></a></div>    
</div>
  
</div>
</div>
<div id="box-shd" class="logged-out"></div>
 -->

</div> 
                                        
          
<div class="headline"><h1>Horse Racing Results</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


{*include file='includes/ahr_racing_results_page.tpl'*}
              <IFRAME SRC="" WIDTH="900" HEIGHT="600" frameborder="0">
<b>Please upgrade to Netscape 6 or higher or use Internet Explorer to view this page.</b>
</IFRAME>
            
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 

