{* the sliders need to be sorted where the CSS does not list inslide the block, but its own file - AB *}

{if $BCSwitch}
{*this section will show if Breeders Cup Switch is on *}
{include file="/home/ah/allhorse/public_html/usracing/block-slider-breeders.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/block-as-seen-on.tpl" }
{include file="/home/ah/allhorse/public_html/usracing/block-testimonial-breeders.tpl"} 
{include file="/home/ah/allhorse/public_html/usracing/block-countdown-breeders.tpl"}    
{*include file="/home/ah/allhorse/public_html/usracing/block-countdown-breeders.tpl" *} {*Belmont*}    
{include file="/home/ah/allhorse/public_html/usracing/block-main-breeders.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/block-free-bet-breeders.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/block-casino-free-chips.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/block-blue-signup-bonus-breeders.tpl"} 
{include file="/home/ah/allhorse/public_html/usracing/block-mobile-breeders.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/block-exciting-breeders.tpl"} 
{*end this section will show if Breeders Cup Switch is on *}
{else}
{*this section will show if Breeders Cup Switch is off *}
{include file="/home/ah/allhorse/public_html/usracing/index/block-slider.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/block-as-seen-on.tpl" }
{include file="/home/ah/allhorse/public_html/usracing/block-testimonial.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/index/block-main.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/common/block-rebates.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/block-casino-cash-back.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/block-blue-testimonial.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/block-casino-games.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/common/block-blue-signup-bonus.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/block-casino-cash-back.tpl"}
{* include file="/home/ah/allhorse/public_html/usracing/block-racetracks.tpl" *}
{include file="/home/ah/allhorse/public_html/usracing/common/block-mobile.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/block-bet-on-football.tpl"} {*Expires after Superbowl *}     
{*include file="/home/ah/allhorse/public_html/usracing/block-bet-on-sports.tpl"*} {*Resumes after Superbowl *}   
{include file="/home/ah/allhorse/public_html/usracing/block-fast-payouts.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/common/block-experts.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/common/block-final-cta.tpl"} 
{*end this section will show if Breeders Cup Switch is off *}
{/if}

{*include file="/home/ah/new.usracing.com/smarty/templates/content/home_slider.tpl"*} 
 {*include file="/home/ah/usracing.com/smarty/templates/content/home_slider.tpl"*} {*is this a webpage?  No.  So why is it in the content directory???n  Clean this up please.*}
{*<section class="bs-belmont_"><img src="/img/index/bg-belmont.jpg" alt="Belmont Park" class="bs-belmont_img"></section> *} {*Legacy to be dealt with at TC*}
{*include file="/home/ah/allhorse/public_html/usracing/block-bet-trainers-belmont.tpl"*}  {*Resumes after Preakness*}
{*include file="/home/ah/allhorse/public_html/usracing/block-testimonial-3.tpl"*}   
{*include file="/home/ah/allhorse/public_html/usracing/block-50-states.tpl"*}  


 {* </section> *}


