
   
    
     
    
    
    <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

        
          
                                      
          
<div class="headline"><h1>Legal off track betting at USRacing.com - Coming Soon!</h2>
  


Just in time for the Breeders' Cup you will be able to place your wagers online and by your smartphone or tablet both legally and securely with US Racing, a fully US licensed OTB. </p><p> Membership is free and we genuinely look forward to welcoming you to a website that we feel will offer some of the latest and technologically advanced features for the novice bettor and the seasoned horse racing enthusiast. </p><p> Get ready to bet on your phone and watch the races live for free!  Get ready for the Official OTB of the U.S.A. -- US Racing.<p></p><p></p>

        
                  {if isset($smarty.request.thanks)}
	<div class="form-thankyou">Thanks for your registration, you'll be hearing from us shortly. </div>
	 {else}
    

    <form class="form-container" name="htmlform" method="post" action="http://allhorse.com/capture/index.php">
	<input type="hidden" name="action" value="usracing">
    <div class="form-box">
    <div class="form-title"><h2>Name</h2></div>
	<div class="form-title"><input name="name" type="text" class="form-field" value="" placeholder="Enter your name"  /></div>
    <div class="form-title"><h2>Email Address</h2></div>
    <div class="form-title"><input name="email" type="text" class="form-field" value="" placeholder="Enter your email address"  /></div>
    
    
    <div class="select-container">
    <div class="form-title"><h2>State/Province</h2></div>
    <select name="state" />
     <option value="Not Selected">Select</option>
     <option value="AL">Alabama</option>
   
	<option value="AK">Alaska</option>
	<option value="AZ">Arizona</option>
	<option value="AR">Arkansas</option>
	<option value="CA">California</option>
	<option value="CO">Colorado</option>
	<option value="CT">Connecticut</option>
	<option value="DE">Delaware</option>
	<option value="DC">District Of Columbia</option>
	<option value="FL">Florida</option>
	<option value="GA">Georgia</option>
	<option value="HI">Hawaii</option>
	<option value="ID">Idaho</option>
	<option value="IL">Illinois</option>
	<option value="IN">Indiana</option>
	<option value="IA">Iowa</option>
	<option value="KS">Kansas</option>
	<option value="KY">Kentucky</option>
	<option value="LA">Louisiana</option>
	<option value="ME">Maine</option>
	<option value="MD">Maryland</option>
	<option value="MA">Massachusetts</option>
	<option value="MI">Michigan</option>
	<option value="MN">Minnesota</option>
	<option value="MS">Mississippi</option>
	<option value="MO">Missouri</option>
	<option value="MT">Montana</option>
	<option value="NE">Nebraska</option>
	<option value="NV">Nevada</option>
	<option value="NH">New Hampshire</option>
	<option value="NJ">New Jersey</option>
	<option value="NM">New Mexico</option>
	<option value="NY">New York</option>
	<option value="NC">North Carolina</option>
	<option value="ND">North Dakota</option>
	<option value="OH">Ohio</option>
	<option value="OK">Oklahoma</option>
	<option value="OR">Oregon</option>
	<option value="PA">Pennsylvania</option>
	<option value="RI">Rhode Island</option>
	<option value="SC">South Carolina</option>
	<option value="SD">South Dakota</option>
	<option value="TN">Tennessee</option>
	<option value="TX">Texas</option>
	<option value="UT">Utah</option>
	<option value="VT">Vermont</option>
	<option value="VA">Virginia</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option>
	<option value="AS">American Samoa</option>
<option value="US Territory">US Territories</option>
<option value="Armed Forces">Armed Forces</option>	
<option value="Canada">Canada</option>
<option value="Outside US-Canada">Outside US and Canada</option>
</select>				
	</div>
    <div class="submit-container"><input type="submit" class="submit-button" value="Register Me" /></div>
    </div>
    <div class="form-promo">
    <div class="top">Be the first to hear about our launch!</div>
    <div class="bot">Register Today!</div></div>
    <img alt="join-betanywhere-devices" src="/themes/images/join-betanywhere-devices.gif" width="228" />
	</form>
	{/if}
                    
                      
                        

                         {* <div style="border:1px solid #1B579F; padding: 10px;">
<img alt="attention" src="/themes/images/attention.gif" style="float: left; border:0; display: block;" />
<span style="margin-left: 51px; display: block;"><strong>Important Notice:</strong> We will be doing scheduled maintenance on Thursday, July 15 from 3:00am through 5:00am (EST). You may experience intermittent delays and/or wagering may become temporarily unavailable during that time. Thank you for your patience as we upgrade the site.</span>
</div>
 *}
                          <div style="display:block;">{*<a rel="nofollow" title="Forgot Your Login Details" href="/clubhouse?forgot=true" style="display:block; height:118px;"><img src="/themes/images/join-form-Message.gif" alt="join-form-Message" /></a>*}</div>
                          
                          {*<iframe frameborder="0" style="overflow: auto; width: 100%; height: 1300px;" src="https://ctr.gamingsystem.net/ctrsignup/pl/signup.ctr?casinoId=7630&siteID=7630"></iframe>*}
                        
                      
                    
                  </div> 
            
          </div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


          
        
       
     <!-- end: #col3 -->
 
    
  

