<!--------- NEW HERO  ---------------------------------------->

<div class="newHero" style="background-image: url({$hero});" alt="{$hero_alt}">
 <div class="text text-xl">{$h1}</div>
 <div class="text text-xl" style="margin-top:0px;">{$h1b}</div>
 	<div class="text text-md">{$h2}
	 	<br>
	 		<a href="/signup?ref={$ref}"><div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i>{$signup_cta}</div></a>
	</div>
 </div>
 
<!--------- NEW HERO END ---------------------------------------->   
<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

<div class="headline"><h1>US Horse Racing Results</h1></div>

<div class="content">
<!-- --------------------- content starts here ---------------------- -->
<p>You can find here the latest up-to-date horse racing results.</p>


{assign var="cta_append" value=" at any of these races"}
<p>{include file="/home/ah/allhorse/public_html/usracing/calltoaction_text.tpl"}</p>

{*include file='includes/ahr_racing_results_page.tpl'*}
<!-- <p>To get back to the the results home <a href="/results">Click Here</a></p>-->

{* <!--<IFRAME src="https://www.drf.com/race-results?bets=true"rel="nofollow"  and="" scrolling="yes" seemless="" frameborder="0" height="699" width="533">--> *}


 <p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">{$button_cta}</a></p>   

{* <h2 align="center">Race Results Page, Maintenance in Progress</h2> *}
<IFRAME src="https://www.betusracing.ag/iframe/results/?results/tracks/BEL/country/USA/date/06-08-2019" scrolling="yes" seemless="" frameborder="0" height="699" width="533" style="width: 100%;height: 100rem;"></IFRAME>


<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{include file='inc/rightcol-calltoaction.tpl'}



</div><!-- end: #right-col -->


</div><!-- end/row -->
</div><!-- /#container -->
