{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
            

      <h2 class="title">Why Us?</h2>
  



    <ul class="menu"><li class="leaf first"><a href="/welcome" title="">WELCOME</a></li>
<li class="leaf active-trail"><a href="/learnmore" title="" class="active">LEARN MORE</a></li>
<li><a href="/seedifference" title="">SEE THE DIFFERENCE</a></li>
<li><a href="/racebookreviews" title="">COMPARE US</a></li>
<li><a href="/readreviews" title="">READ REVIEWS</a></li>
<li><a href="/betwithconfidence" title="">Setting the Pace</a></li>
<li><a href="/bestracebook" title="">ABOUT US Racing</a></li>
</ul>

          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>Learn about US Racing</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div class="box-text">
<table cellspacing="0" cellpadding="0" border="0" width="665" ><tbody><tr><td>

<table cellspacing="0" cellpadding="0" border="0"><tbody><tr>
<td rowspan="4"><a href="/wageringtools.php">
<img alt="learnmore1" src="/themes/images/whyus/learnmore1.gif" border="0" width="226" height="268" /></a></td><td><a onclick="popup(6968);" href="javascript:void(0);">
<img alt="learnmore2" src="/themes/images/whyus/learnmore2.jpg" border="0" height="75" /></a></td></tr><tr><td><a onclick="popup(6970);" href="javascript:void(0);">
<img alt="learnmore3" src="/themes/images/whyus/learnmore3.jpg" border="0" height="68" /></a></td>
</tr><tr>
<td>
<a onclick="popup(6972)" href="javascript:void(0);">
<img alt="learnmore4" src="/themes/images/whyus/learnmore4.jpg" border="0" height="69" /></a></td></tr><tr><td><a href="/join">
<img alt="learnmore5" src="/themes/images/whyus/learnmore5.gif" border="0" height="56" /></a></td></tr></tbody>
</table></td></tr><tr>
<td bgcolor="#105ca9">

<table cellspacing="0" cellpadding="0" border="0">
	<tbody>
	<tr>
	<td width="38" bgcolor="#105ca9">&nbsp;</td><td><a title="Be online for less" href="/join"><img alt="whyus_betonlineforless" src="/themes/images/whyus/whyus_betonlineforless.gif" width="176" height="36" border="0" /></a></td>

	<td width="30" bgcolor="#105ca9">&nbsp;</td><td><a title="Any Dollar Amount" href="/join"><img alt="whyus_anydollaramount" src="/themes/images/whyus/whyus_anydollaramount.gif" width="176" height="36" border="0" /></a></td>
    
	<td width="30" bgcolor="#105ca9">&nbsp;</td><td><a title="Free Account" href="/join"><img alt="Free Account" src="/themes/images/whyus/whyus_freeaccount.gif" width="176" height="36" border="0" /></a></td><td width="37" bgcolor="#105ca9">&nbsp;</td>
	</tr>
	</tbody>
	</table>

</td></tr><tr>
<td><img alt="learnmore6" src="/themes/images/whyus/learnmore6.jpg" border="0" /></td></tr></tbody></table>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    