<div id="main" class="container">
<div class="row">
<div id="left-col" class="col-md-9">

          
          
<div class="headline">
<!-- ---------------------- h1 MAIN TITLE contents ---------------------------------------------- --> 
<h1>Legal Online Horse Betting at US Racing</h1>
<!-- ---------------------- end h1 MAIN TITLE contents ------------------------------------------ --> 
</div><!-- end/headline -->







<div class="content">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->



<p>Licensed and regulated in the United States of America, US Racing provides legal online horse betting racing to US residents.</p>

<p>Don't make the mistake or take the RISK of having an offshore account seized by the government or your money never returned to you.  US Racing is backed by Betfair and your funds are safe and secure in a United States Bank. Safe and sound.  Worry about your horse bets not whether you are going to get paid.</p>

<p>Make the Right Choice.  Make the Safe Choice.</p>


<a class="pull_left" href="http://commerce.mt.gov/horseracing/advancedepositwagering.mcpx" target="_blank"><img alt="montana-gov" src="/img/montana-gov.png" /></a>
<a class="pull_left" href="http://www.oregon.gov/Racing/docs/Hub_Data/Oregon_Wagering_Hubs.pdf" target="_blank"><img alt="oregon-gov" src="/img/oregon-gov.png" /></a>

</p>

<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->







<div id="right-col" class="col-md-3">
<!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- -->
{include file='inc/rightcol-calltoaction.tpl'} 
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 


<!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- -->
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- end/container -->
