
 

<!-- LEFT COLUMN -->{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->





{include file='menus/horsebetting.tpl'} 







</div>
<!-- end: LEFT COLUMN --> 



<!-- RIGHT COLUMN -->
<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">







          
          
<div class="headline"><h1>US Racing Links</h1>
<!-- end TITLE---------------------------------------------------------- --> 


<div class="content">
<!-- --------------------- content starts here ---------------------- -->



        


<p><a href="http://www.he-directory.com" id="RD9F844">HE Directory SEO Friendly and Human Edited</a>
</p>{* Dec 30, 13*}

<p><a href="http://www.ukhorselinks.co.uk"><b>UK Horse Racing Links</b></a> - Online directory of UK Horse Racing web sites from tipsters to syndicates to race courses we have all the information you need here. Free Bets available here.   </p> {* Dec 30, 13*}
                             

{*<p>
<a href="http://gamblinglinks.com/affiliates/37347" >
<img src="http://gamblinglinks.com/auglicon.gif"
alt="The net's best gambling links!" border="0" width="98" height="69"></a>
</p> *}





</div> 




</div>

 

<!-- end: RIGHT COLUMN --> 


</div> 
