<div id="main" class="container">
<div class="row">
<div id="left-col" class="col-md-9">

          
          
<div class="headline">
<!-- ---------------------- h1 MAIN TITLE contents ---------------------------------------------- --> 



<h1>Live Horse Racing</h1>


<!-- ---------------------- end h1 MAIN TITLE contents ------------------------------------------ --> 
</div><!-- end/headline -->







<div class="content">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->


<p><a href="/signup/" rel="nofollow"><img class="img-responsive" src="/img/best-horse-racing-betting-site.jpg" alt="live horse racing">  </a></p>
{* <p><a href="/signup/" rel="nofollow" title="Live horse racing"><img alt="watch-live-horse-racing" width="100%" class="img-responsive" src="/img/watch-live-horse-racing.jpg" /></a></p> *}
<p><blockquote> At BUSR  you can bet from your home computer, mobile or tablet.  Get up to an 8% <a href="/rebates">horse betting rebate</a> and there is a <a href="/cash-bonus">$150 Bonus</a> for new members. <a href="/signup/" rel="nofollow">Join </a> Today!</blockquote></p>

<h2>Bet on  live horse racing on your desktop computer, phone or tablet</h2>

<p>US Racing offers live horse racing from over 200 <a href="/racetracks">racetracks</a> around the world.  Never miss the race if you are away from your computer, with <a href="/mobile-horse-betting">Mobile Horse Betting</a>, you can login to your US Racing account and wager anywhere on the go!  Place your bets on the live horse races from your laptop, iPad, iPhone, tablet or mobile phone. {*  If you have Apple TV, you can stream the races to your flat screen TV.  You can literally turn your house into a virtual racetrack! *}</p>

<p>US Racing live horse racing video is available for all the daily tracks where betting is available.</p>
{*

<p> So, sit back.  Relax.  Open a beer.  Or better yet, pour a nice bourbon!  Smoke a cigar.  Whatever your pleasure, why not indulge?  Place your bets. Watch the races 24 hours a day in beautiful HDTV quality video.
*}

<p>*  US Racing is working to make horse betting easy for new horseplayers and offer veterans of the sport a more modern and elegant user experience.<br>
{*
* HDTV is not available at every track.<br>
* Live Video provided by third party company which is not owned or affiliated with US Racing.</p>
*}


<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->




<div id="right-col" class="col-md-3">
<!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- -->
{include file='inc/rightcol-calltoaction.tpl'} 
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 


<!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- -->
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- end/container -->
