
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>Logging Out</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<!-- =================== HIDES ALL ELEMENTS ============================ -->

<!-- ================================================================= -->

<iframe src="https://sportsbook.gamingsystem.net/sportsbook4/www.usracing.com/logout.xgi" style="width:1px;height:1px;border:none;border:0px;background:transparent;overflow:hidden;"></iframe>
<div id="ahr-message">
<div class="box">


<div class="message-box">
<div id="message">Logging Out...</div>
<div class="loading"><img alt="loading" src="/themes/images/loading.gif" /></div>
</div>

<div class="note">If this page appears for more than 5 seconds, <a href="">Click Here</a></div>


</div>

</div>
{literal}<script type="text/javascript">
   window.location="/logout";
</script>{/literal}        
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    