<!-- =================== HIDES ALL ELEMENTS ============================ -->

<!-- ================================================================= -->

<iframe src="https://sportsbook.gamingsystem.net/sportsbook4/www.usracing.com/logout.xgi" style="width:1px;height:1px;border:none;border:0px;background:transparent;overflow:hidden;"></iframe>
<iframe src="https://teller.gamingsystem.net/teller-deposit/logout" style="width:1px;height:1px;border:none;border:0px;background:transparent;overflow:hidden;"></iframe>
<iframe src="https://ctr.gamingsystem.net/acctmgt/pl/logout.ctr" style="width:1px;height:1px;border:none;border:0px;background:transparent;overflow:hidden;"></iframe>
<iframe src="https://ctr.gamingsystem.net/ntscustomer/pl/logout.nts" style="width:1px;height:1px;border:none;border:0px;background:transparent;overflow:hidden;"></iframe>
<iframe src="https://plcasino.gamingsystem.net/login/logout.jsp?external_logout=true&on_logout=http://www.usracing.com/logout" style="width:1px;height:1px;border:none;border:0px;background:transparent;overflow:hidden;"></iframe>

<div id="ahr-message">
<div class="box">

<div class="message-box">
	<div id="message">Logging Out...</div>
	<div class="loading"><img alt="loading" src="/themes/images/loading.gif" /></div>
</div>

<div class="note">If this page appears for more than 5 seconds, <a href="">Click Here</a></div>
</div>
{literal}<script type="text/javascript">  
	Delete_Cookie( rot13("UTMU"), "/", "usracing.com" );
	Delete_Cookie( rot13("UTMP"), "/", "usracing.com" );
	setTimeout(function(){  window.location="http://www.usracing.com/logout";},2000);
</script>{/literal}
</div>

