<!-- =================== HIDES ALL ELEMENTS ============================ -->

<!-- ================================================================= -->

<div id="ahr-message">
<div class="box">


<div class="message-box">
<div id="message">Your Online security is important to us.<br /> Please wait while we verify your identity...</div>
<div class="loading"><img alt="loading" src="/themes/images/loading.gif" /></div>
</div>

<div class="note">If this page appears for more than 15 seconds, <a href="">Click Here</a></div>
</div>
<form action="https://ppe.gamingsystem.net/customerauthn/pl/login" method="post" name="ahr-gamingsystem-sso-form" id="ahr-gamingsystem-sso-form">
<input name="service" type="hidden" value="https://ctr.gamingsystem.net/acctmgt/pl/postlogin.ctr" />
<input name="lp_casinoid" type="hidden" value="7630" />
<input name="sp_landingPage" type="hidden" value="http://www.usracing.com/welcome/" />
<input name="login_fail" type="hidden" value="http://www.usracing.com/support/loginhelp" />
<input name="username" type="hidden" value="" />
<input name="password" type="hidden" value="" />
</form>

{literal}

<script type="text/javascript">

$('[name=username]').val(rot13(Get_Cookie(rot13("UTMU"))));
$('[name=password]').val(rot13(Get_Cookie(rot13("UTMP"))));
setTimeout(function(){$('#ahr-gamingsystem-sso-form').submit();},2000);

</script>
{/literal}
</div>
