
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">


          
          
<div class="headline">
<!-- ---------------------- h1 MAIN TITLE contents ---------------------------------------------- --> 

<h1>Trouble with your Login?</h1>


<!-- ---------------------- end h1 MAIN TITLE contents ------------------------------------------ --> 
</div><!-- end/headline -->
{*<h3>Important News about Your Account</h3>



If you are seeing this page it means US Racing is undergoing maintenance for the debut of our new software platform. 
<p>US Racing members will be eligible for bigger bonuses, rebates and free wagers.
<p>If you have any questions regarding your account, please email us at: <a href="mailto:cs@usracing.com?Subject=Can't%20Login%20to%20my%20US%20Racing%20Account!">cs@usracing.com</a>.
<p>Thank you for your patience and consideration.
*}





<div class="content">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->



 
 
 <form action="https://ww1.betusracing.ag/loginservicejson.php?a=sendpasswordtoken" method="post">
	 
	 <input placeholder="Enter Your Email" maxlength="50" name="email" type="email">
	 <button type="submit" class="btn btn-sm btn-default" tabindex="3" id="loginButton">Reset PW</button>
 </form>

	<!--			My name is Rolando, I work here at the office with JC, we currently do
the forgot password functionality like this:

1. The customer gets to a form where he types in his email address.
2. An email is sent to the customer with a link which has a token.
3. The customer gets to a form where he types in his new password.

Now this translates to the following code:

1. Create a form where you make a POST request to
ww1.betusracing.ag/loginservicejson.php?a=sendpasswordtoken with a POST
parameter called email. This will send an email to the customer with
the link used to change the password. We need you to provide us with an
email template.

The request's response will be a JSON like this: 

{* {"STATUS":1,"MSG":"EMAIL SENT"} *}

when it succeeds. 

or 

{* {"STATUS":0,"MSG":"EMAIL NOT FOUND"} *}

when it fails. 

2. Create a page where the customer will go with the link that is sent
to him by email. In this page you will ask the customer to type in a
new password and a confirmation for the password. This page will take
the token which comes for a get parameter sent in the link and the new
password that the customer has chosen and make a post request to 

ww1.betusracing.ag/loginservicejson.php?a=setpasswordwithtoken

with the following POST parameters: token , password and passwordconfir
m

The request's response will be a JSON like this:
{* {"STATUS":1,"TOKEN":[],"MSG":"Password Changed"} *}

when it succeeds. 

or 

{* {"STATUS":0,"TOKEN":[],"MSG":"Password Confirm does not match"} *}

when it fails.-->

			

<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->

<div id="right-col" class="col-md-3">

{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 

</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 
