
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">


          
          
<div class="headline">
<!-- ---------------------- h1 MAIN TITLE contents ---------------------------------------------- --> 

<h1>Trouble with your Login?</h1>


<!-- ---------------------- end h1 MAIN TITLE contents ------------------------------------------ --> 
</div><!-- end/headline -->
{*<h3>Important News about Your Account</h3>



If you are seeing this page it means US Racing is undergoing maintenance for the debut of our new software platform. 
<p>US Racing members will be eligible for bigger bonuses, rebates and free wagers.
<p>If you have any questions regarding your account, please email us at: <a href="mailto:cs@usracing.com?Subject=Can't%20Login%20to%20my%20US%20Racing%20Account!">cs@usracing.com</a>.
<p>Thank you for your patience and consideration.
*}





<div class="content">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->



 <p><img class="img-responsive" src="/img/usracing-support-lrg.jpg" alt="US Racing Support"  />  </p>



{*
<p>If you opened your US Racing account BEFORE April 1st, 2015 please <a href="/login-troubles/my-account" rel="nofollow">click here.</a></p>
    
*}




                
                        {*<!-- Required fields section -->

                        <!-- Instruction text -->
<p>Otherwise, please enter in your email address in the field below to get your Username or Password.</p>
                        <p>You will be taken to the Linesmaker website.</p>
                        <p>Linesmaker is the gaming provider for US Racing.  </b></p>
*}<p>{* If you signed up an account after April 1st,  *}<strong>Please call us toll free 1-844-US-RACING (1-844-877-2246)or 1-844-BET-HORSES for immediate service</strong> or you can reach the  the BUSR  support team by <strong> email  at <a href="mailto:support@myracingaccount.com">support@myracingaccount.com</a>.</strong>  Be sure to check your spam or junk filter in case you do not receive a reply to your email within 2 hours. </p>
<p>If you have an AOL or AIM email account, you may not be able to receive emails from our corporate email address; in which case, we will attempt to reach you from our email account at AOL that is betusracing@aol.com. </p>
<p>If you have not gotten a reply to your email, please give us a call at 1-844-US-RACING or 1-844-BET-HORSES.</p>

<p>You can also call our alternative  toll-free number:  1-844-877-2246 anytime to speak to one of our representatives.  Or, reach us via Live Chat.  We are here for you.</p>
<p>We will be releasing a automated online service for you to retrieve and change your password in the coming days!  Thank you for your patience as we improve our products and services.</p>

                
            

<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->

<div id="right-col" class="col-md-3">

{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*}
{include_php file='../htdocs/assets/plugins/blog/usr_blog_side.php'}
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 
