
<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">
<div class="headline"><h1>You are now logged out.</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->

<div>

{*<img alt="horseracing-hat" src="/img/logout/horseracing-hat.jpg" class="img-responsive">  *}
{*<img alt="newcasinogames" src="/img/logout/newcasinogames.jpg" class="img-responsive" id="img-rnd">*}
  <img alt="img-rnd" src="" class="img-responsive" id="img-rnd">

</div>


{*
<script type="text/javascript">
  var Logoutarray=new Array();
  Logoutarray[0]='<a href="/kentucky-derby" title="US Racing | Kentucky Derby Betting "><img alt="kentuckyderby-roadtoroses" class="img-responsive" src="/img/logout/kentuckyderby-roadtoroses.jpg" title="US Racing | Kentucky Derby Betting" /></a>';
  Logoutarray[1]='<a href="/kentucky-derby" title="US Racing | Kentucky Derby Betting "><img alt="kentuckyderby-roadtoroses" class="img-responsive" src="/img/logout/kentuckyderby-roadtoroses.jpg" title="US Racing | Kentucky Derby Betting" /></a>';
  Logoutarray[1]='<a href="/kentucky-derby" title="US Racing | Kentucky Derby Betting "><img alt="kentuckyderby-roadtoroses" class="img-responsive" src="/img/logout/kentuckyderby-roadtoroses.jpg" title="US Racing | Kentucky Derby Betting" /></a>';
  Logoutarray[2]='<a href="/kentucky-derby" title="US Racing | Kentucky Derby Betting "><img alt="kentuckyderby-roadtoroses" class="img-responsive" src="/img/logout/kentuckyderby-roadtoroses.jpg" title="US Racing | Kentucky Derby Betting" /></a>';

	var randomkey = Math.floor(Math.random()*Logoutarray.length);
	document.write(Logoutarray[randomkey]);
  </script>
*}
{literal}
  <script type="text/javascript">
    $(document).ready(function(){
      var obj = {
        1 : 'BJ.jpg',
        2 : 'breeders.jpg',
        //3 : 'Jockeys.jpg',
        // 4 : 'KD.jpg',
        //5 : 'KO.jpg',
        3 : 'Refer.jpg'
      
      };
      var src = "/img/logout/";
      var img = obj[getRandomInt(1,3)];
      $('#img-rnd').attr('src', src+img);
      function getRandomInt(min, max) {
          return Math.floor(Math.random() * (max - min + 1)) + min;
      }
    });  
  </script>
{/literal}






{*include_php file='../smarty/libs/logout/contentbottomnews.php'*}
        
       

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->




<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
<div class="blog-home margin-bottom-20">
    <div class="headline"><h2>Racing News</h2></div>
    <div class="blog"> 
    {include_php file='../htdocs/assets/plugins/blog/usr_blog_side.php'}
    </div>
    
    <!--<div class="blockfooter">
     <a href="/blog"  class="btn btn-primary" rel="nofollow">Horse Racing Blog <i class="fa fa-angle-right"></i></a>
    </div>-->
</div> <!-- end/blog-home -->
   
   
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 


