<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">
                                  
          
<div class="headline"><h1>US Racing - Industry Affiliation and Partners</h1></div>

<div class="content">
<!-- --------------------- content starts here ---------------------- -->




<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




  