{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
            <!-- /block-inner, /block -->




{include file='menus/info.tpl'} 
{include file='menus/help.tpl'} 


<!--
<div id="block-block-56" class="block block-block region-even even region-count-4 count-4"><div class="block-inner">

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div>
<a href="/join"><img src="/themes/images/stakesraces/schedule_button2.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>


<div style="margin-top: 6px;">
<a href="/join"><img src="/themes/images/stakesraces/schedule_button3.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>
</div>


<div style="margin-top: 6px;">
<a href="/join"><img src="/themes/images/stakesraces/schedule_button4.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>
</div>


<div style="margin-top: 6px;">
<a href="/join"><img src="/themes/images/stakesraces/schedule_button5.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>
</div>

</div>  </div>

  
</div>
</div> /block-inner, /block
 -->


          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>2011 Race Schedule</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


{include_php file='../smarty/libs/race-schedule/race-schedule.php'}
                  
                          
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    