
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
 {include file='menus/horsebetting.tpl'}
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
 <!--------- NEW HERO - MAY 2017 ---------------------------------------->

<div class="newHero" style="background-image: url({$hero});">
 <div class="text text-xl">{$h1}</div>
 	<div class="text text-md">{$h2}
	 	<br>
	 		<a href="/signup?ref={$ref}"><div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i>{$signup_cta}</div></a>
	</div>
 </div>
 
<!--------- NEW HERO END ---------------------------------------->     
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
            
                                        
          




<div class="content">
<!-- --------------------- content starts here ---------------------- -->
  
<div class="headline"><h1>Horse Racing Rebates </h1></div>
<p>{include file="/home/ah/allhorse/public_html/usracing/calltoaction_text.tpl"}</p>
<p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">{$button_cta}</a></p>  
<h2>Up to 8% Horse Betting Rebate</h2>

<p>Every day when you log into your account you account you will  find an 8% or 5% rebate on your of your exotic wagers (everything but win, place and show) for qualified tracks in your account. For straight wagers (win, place and show) you will find a  3% rebate in  your account. Each day they will deposit the total rebate into your account for the preceding day of all qualified wagers, win or lose! The rebate table is listed below:</p>
			  {include file='/home/ah/allhorse/public_html/shared/rebates-categories-rebates.php'} 
				<p>Your rebate bonus will be added to your BUSR account and can be reviewed in the Club House or My Account section once you have logged in to the site. Rebates are yours to do whatever you want with. Play a few hands of blackjack, bet on the baseball game or try and hit that exacta box.</p>
				<p>We wish you luck at the races and look forward to hearing about your big wins!</p>
				
        

   <p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">{$button_cta}</a></p>   
  
            
           
                      <p>
        {include file='/home/ah/allhorse/public_html/shared/rebates-track-categories-no-accordion.php'} 

 <p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">{$button_cta}</a></p>   

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
 <!-- ------------------------ CTA -------------------------- -->
	 <div class="calltoaction">

<h2>Get up to 8%<br>Rebates to<br> Bet on Horses</h2>
<h3>Sign Up Now to<br>
get my daily rebates </h3>

{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}

	 <!-- ------------------------ CTA ends -------------------------- -->

</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    
