{literal}
<style type="text/css"></style>
{/literal}


<div id="lp">
<a class="bg" href="/signup/" title="US Racing | Simple Is Better"></a>

<div class="footer"><a href="/signup/" title="US Racing | Online Horse Racing"><strong>Sign Up</strong> at US Racing  and explore the easiest platform for legal online horse betting.</a></div>

</div><!-- end lp --> 
<!-- end main --> 

