
    {include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

            
                
                    
                        


                            <div class="content">
<!-- --------------------- content starts here ---------------------- -->



                            {include_php file='../smarty/libs/racetrack/thoroughbredracetracks.php'}
                            </div>


                        
                    
                    <!-- /block-inner, /block -->
                    


                    <div id="block-block-36" class="block block-block region-even even region-count-2 count-2">
                        


                            <div class="content">
<!-- --------------------- content starts here ---------------------- -->


{include_php file='../smarty/libs/racetrack/harnessracetracks.php'}
                        
                    </div>
                    <!-- /block-inner, /block -->
                    


                
            
        
<!-- ---------------------- end left menu contents ------------------- -->         
</div>


        
        <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

                
                    
                                      
          
<div class="headline"><h1>Racetrack Name</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


{include_php file='../smarty/libs/racetrack/racetrack.php'}
                                                
                                            
                                        
                                    </div>
                        
                    
                    
                
            
        </div>
        <!-- end: #col3 -->


    
