{assign var="ref" value="super-bowl"}
<div class="container-fluid">
	
		<a href="/signup?ref=super-bowl"><img class="img-responsive visible-md-block hidden-sm hidden-xs" src="/img/super-bowl-20-percent-bonus.jpg" alt="Super Bowl Betting"></a>
		
		<a href="/signup?ref=super-bowl"><img class="img-responsive visible-sm-block hidden-md hidden-lg" src="/img/20-percent-bonus-super-bowl.jpg" alt="Super Bowl  Betting">  </p> </a>
	
</div>           
      
<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
           
                                        
          

<div class="content">
<!-- --------------------- content starts here ---------------------- -->
 
 <div class="headline"><h1>Super Bowl LI</h1></div>
{*include file='/home/ah/allhorse/public_html/belmont/wherewhenwatch.tpl'*} 

{*include file='inc/belmontstakes-slider.tpl'*}

<h2>Super Bowl Sunday has arrived!</h2>

<p>Get your deposits in early for the Super Bowl this Sunday, February 5th and take advantage of our BUSR Super Bowl Deposit Bonus Promotion.</p>
<ul>
<li> Make a deposit before midnight EST on Thursday, February 2nd, enter code <strong style="color:red;">"SB20"</strong> and you get a <strong>20% deposit bonus. </strong>
<li>	Make a deposit on Friday, February 3rd before midnight EST, enter code <strong style="color:red;">"SB15"</strong> and you get a <strong>15% deposit bonus.</strong>
<li>Make a deposit on Saturday, February 4th, enter code <strong style="color:red;">"SB10"</strong> you get a <strong>10% deposit bonus.</strong></ul>


 <P>Then you can sit back on Sunday, sip on a cold beer and enjoy the game!</p>




        
        <p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">Deposit now and get my bonus</a></p>  

  
<div class="disclaimer">
<div class="headline"><h2>Terms & Conditions</h2></div>

<p>Standard Roll-over rules apply.  Please visit the Clubhouse for Details.
</p>
</div>

            
                      
        


<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
	
	<div class="calltoaction">
<h2 class="animated tada">Bet the<br>Super Bowl!</h2>
<h3>Exclusive game odds and more.</h3>

<span id="object" class="animated bounceInDown" style="visibility: visible;"><i class="animated floating fa fa-map-marker"></i></span>


  <form class="form-signin" method="post" action="https://www.betusracing.ag/signup" role="form">
			<div class="form-group account-group">	
				<input class="form-control" placeholder="First Name" name="firstname" required="" type="text"></div>
				<div class="form-group account-group">	
				<input class="form-control" placeholder="Last Name" name="lastname" required="" type="text"></div>
				<div class="form-group account-group">	
				<input class="form-control" placeholder="Email address" required="" name="email" autofocus="" type="email"></div>
				
				
				
				
				<div class="form-group login-group">	
				<input name="step" value="front" type="hidden">
				<center><button type="submit" class="btn btn-sm btn-red" id="signupBtn">&nbsp;&nbsp; Sign Up  &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-angle-right animated fadeInLeft" style="visibility: visible;"></i></button></center></div>
			  </form>
			  
			  
			  
</div>


{literal}
<script type="text/javascript">
$( document ).ready(function() {
$(".calltoaction #object").delay(500).queue(function(next) {
  $(this).addClass("animated bounceInDown").css("visibility", "visible");
  next();
}).delay(600).queue(function(next) {
  $(".calltoaction h2").addClass("animated tada"); 
  next();
}).delay(600).queue(function(next) {
  $(".calltoaction .fa-angle-right").addClass("animated fadeInLeft").css("visibility", "visible");; 
  next();
});
});
</script>{/literal}
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 



      
    