
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>Tabs-Template</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<link type="text/css" rel="stylesheet" media="all" href="/modules/allhorseracing/tabs/tools.tabs-general.css" />
{literal}<script type="text/javascript" src="/modules/allhorseracing/tabs/tools.tabs-1.0.4.min.js"></script>{/literal}
{literal}<script type="text/javascript" src="/smarty-include/js/swfobject.js"></script>{/literal}



<div id="basic-tabs">
		<ul class="tabs"><!-- the tabs -->
		<li class="first"><a href="#">TAB1</a></li>
		<li class=""><a href="#">TAB2</a></li>
		<li class=""><a href="#">TAB3</a></li>
		<li class=""><a href="#">TAB4</a></li>
		<li class=""><a href="#">TAB5</a></li>
		</ul><!-- end tabs -->
</div>
 
<div class="panes">

<!-- ======== NEW TAB CONTENTS - COPY CODE FROM HERE ==================== -->
<div>
<div id="basic-tabs" class="content"><!-- Pane1 -->


ENTER TAB 1 CONTENT HERE.



</div><!-- End Pane1 -->
</div>
<!-- ======== TO HERE ============================================================ -->


<!-- ======== NEW TAB CONTENTS - COPY CODE FROM HERE ============================ -->
<div>
<div id="basic-tabs" class="content"><!-- Pane2 -->

ENTER TAB 2 CONTENT HERE.

	
</div><!-- End Pane2 -->
</div>
<!-- ======== TO HERE ============================================================ -->


<!-- ======== NEW TAB CONTENTS - COPY CODE FROM HERE ============================ -->
<div>
<div id="basic-tabs"  class="content"><!-- Pane3 -->

ENTER TAB 3 CONTENT HERE.


	
</div><!-- End Pane3 -->
 </div>
<!-- ======== TO HERE ============================================================ -->

<!-- ======== NEW TAB CONTENTS - COPY CODE FROM HERE ============================ -->
<div>
<div id="basic-tabs" class="content"><!-- Pane4 -->

ENTER TAB 4 CONTENT HERE.

		
</div><!-- End Pane4 -->
</div>
<!-- ======== TO HERE ============================================================ -->

<!-- ======== NEW TAB CONTENTS - COPY CODE FROM HERE ============================ -->
<div>
<div id="basic-tabs" class="content" style="padding: 10px 0 0 0;"><!-- Pane5 -->


ENTER TAB 5 CONTENT HERE. 
<br />
<br />
THIS TAB'S PADDING HAS BEEN OVERIDED. GOOD TO USE WHEN INPUTING
FLASH OR IMAGES THAT TAKE UP THE FULL WIDTH OF THE CONTENT AREA.


</div><!-- End Pane5 -->		
</div>
<!-- ======== TO  HERE ============================ -->



<!-- ======== DO NOT EDIT BELOW HERE ============================================== -->
</div><!-- End Panes -->	

{literal}<script type="text/javascript">
<!--//--><![CDATA[//><!--
    $(function() {
      // setup ul.tabs to work as tabs for each div directly under div.panes
      $("#basic-tabs ul.tabs").tabs("div.panes > div");
    });
//--><!]]>
</script>{/literal}
        
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    