<div id="main" class="container">
<div class="row">
<div id="left-col" class="col-md-9">

          
          
<div class="headline">
<!-- ---------------------- h1 MAIN TITLE contents ---------------------------------------------- --> 



<h1>Triple Crown Signup Bonus</h1>


<!-- ---------------------- end h1 MAIN TITLE contents ------------------------------------------ --> 
</div><!-- end/headline -->







<div class="content">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->

<div class="tag-box tag-box-v4">
<p>US Racing is offering a {include file='/home/ah/allhorse/public_html/shared/bonus-amount.tpl'} Sign Up Bonus for new online betting accounts just in time for the Triple Crown!</p>
<br />
<p>We are sure you will like our easy to use interface and hassle-free horse betting experience, so it's our pleasure to give you a cash bonus just to try US Racing!</p>
</div>


<h2>Claim your {include file='/home/ah/allhorse/public_html/shared/bonus-amount.tpl'}  Triple Crown Signup Bonus today!</h2>

<p><strong>Here's how our Bonus Works:</strong> &nbsp;</p>

{include file='/home/ah/allhorse/public_html/shared/bonus-terms-150.php'} 


<!--<ul>
<li>The $125 sign up bonus promotion is for new US Racing Players only.</li>
<li>Existing or former US Racing or TVG account holders are not eligible for this promotion.</li>
<li>Minimum deposit of $25 is required. We accept Visa, Mastercard & ACH (Instant BetCash.)</li>
<li>Must wager $200 within 30 days of registering an account at US Racing.</li>
<li>Bonuses will be deposited into qualifying accounts 7-10 business days  after qualifying bets and/or deposits have been verified.</li>
<li>Void where prohibited. All terms and conditions apply.</li>
</ul>-->

<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->







<div id="right-col" class="col-md-3">
<!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- -->

{include file='inc/rightcol-calltoaction-triplecrown.tpl'} 


{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 


<!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- -->
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- end/container -->
