<div id="main" class="container">
<div class="row">
<div id="left-col" class="col-md-12">

          
          
<div class="headline">
<!-- ---------------------- h1 MAIN TITLE contents ---------------------------------------------- --> 
<h1>Upcoming Horse Races</h1>
<!-- ---------------------- end h1 MAIN TITLE contents ------------------------------------------ --> 
</div><!-- end/headline -->







<div class="content" style="min-height:400px;">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->
<div id="loader"><img alt="Loading" src="/images/ajax-loader.gif" /> Loading..</div>

<div id="frameHolder" style="display:none;">
<iframe id="upcomingraces" border="0" width="100%" frameborder="no" scrolling="no" ></iframe>
</div>
    


<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



 
</div><!-- end/row -->
</div><!-- end/container -->

