body
{	
    font-family:Arial, Verdana, Tahoma;
    font-size:12px;
	padding:0;
	margin:0;
}

.sportslines-table { width: 100%; border:0; padding:0; margin:0; border-collapse: collapse;  }
.sportslines-table td { padding:0; width:33%; }

/*#ODDS { width: 100%; height: auto; overflow-x: hidden; margin: 10px 0 0 0; }*/

.line_type_column
{
    width: auto;
	margin-right:10px;
    border:1px solid #C4E1FF;
	border-top:0;
}
.line_type_container
{
    margin-bottom:0;
}

.line_type_container object { width: auto; height: 161px; }

.line_type_list     { list-style-type:none; margin:0; padding:0; border:0;}
.line_type_list li  { padding-left:15px; padding-right:5px; }

.list_item
{
    background: #f0f0f0 url('images/line_row_bg.jpg') left top no-repeat;
    border-bottom:0;
    line-height:12px;
	padding:5px 0;
}
.list_item_alt
{
    background: #FFF url('images/line_altrow_bg.jpg') left top no-repeat;
    border:0;
    line-height:12px;
	padding:5px 0;
}

.list_item a, .list_item_alt a
{
    color:#366aa9;
    font-size:12px;
    text-decoration:none;
    padding:0;
	line-height:12px;

}
.empasis
{
    color:Red;
    font-weight:bold;
    font-size:11px;
}
.line_type_list .list_item_seperator
{
    background:url('images/line_seperator_bg.jpg') repeat-x;
    height:1px;
    margin:0px;
    padding:0px;
}
.line_type_header
{
    background:#105ca9 url('images/line_header_bg.jpg') no-repeat;	
    font-weight:bold;
    font-size:13px;
    padding:3px 3px 3px 20px;
    color:#ffffff;
	border-bottom: 1px solid #0e4a9e;
}
.today_hotbet_header {
    
	background:url('images/today_hotbet_bg.jpg') no-repeat;
    font-weight:bold;
    font-size:13px;
    padding:3px 0px 3px 20px;
    color:#ffffff; 
}
.header_lines_table
{
    width:100%;
    /* border:solid 1px #ffffff;
    border-spacing:0px; */
}
.header_lines_table td
{
	text-align:center;
	padding:5px;
	color:#4273af;
	font-size:11px;
	font-weight:bolder;		
    }
    .header_lines_table td.selected_header
    {
        background: #105ca9;
        border:solid 1px #3780cc;
        color:#ffffff;
    }
    .header_lines_table td.selected_header a, .header_lines_table td.selected_header a:hover
    {
        color:#ffffff;
        font-size:11px;
        font-weight:bold;
		display: block;
		text-transform: uppercase;
		text-decoration:none;
    }
    .header_lines_table td.header_bg
    {
        background:url('images/header_bg.jpg') repeat-x;
        border:solid 1px #3780cc;
    }
    
    .header_lines_table td a
    {
        color:#4273af;
		font-size:11px;
        font-weight:bold;
		text-transform: uppercase;
		text-decoration:none;
		display: block;
    }
	.header_lines_table td a:hover
    {
        color:#000;       
    }
	
	.line_type_column font { display:block; width:auto; font-size:11px; padding:10px 7px 10px 7px; border0; }
	.line_type_column p { margin-top:0; }
