{assign var="ref" value="pegasus-free-bet"}
 
<div class="container-fluid">
	
		<a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-md-block hidden-sm hidden-xs" src="/img/pegasus-world-cup/pegasus-world-cup.jpg" alt="Bet on the Pegasus World Cup"></a>
		
		<a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-sm-block hidden-md hidden-lg" src="/img/pegasus-world-cup/2017-pegasus-world-cup.jpg" alt="Bet on the Pegasus World Cup">  </p> </a>
</div>      
<div id="main" class="container">

<div class="row">


<div id="left-col" class="col-md-9">
         
                                        
          
<div class="headline"><h1>Pegasus World Cup Betting</h1></div>
<div class="content">
<!-- --------------------- content starts here ---------------------- -->

<p>{include file='/home/ah/allhorse/public_html/shared/promos/free-derby-bet.php'} </p>



<p align="center"><a href="/login?ref={$ref}" class="btn-xlrg ">Bet Now on Pegasus World Cup</a></p>  
  

 <!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->




<div id="right-col" class="col-md-3">
{include file='inc/rightcol-calltoaction-pegasus.tpl'} 

{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 

</div><!-- end: #right-col --> 

 
</div><!-- end/row --><p>{include file='inc/disclaimer-pegasus.tpl'} 
</div><!-- /#container --> 