{assign  var="stakesname" value="Commonwealth Cup"} 
<div id="main" class="container">
<div class="row">
<div id="left-col" class="col-md-9">

          
          
<div class="headline">
<!-- ---------------------- h1 MAIN TITLE contents ---------------------------------------------- --> 



<h1>Commonwealth Cup Betting</h1>


<!-- ---------------------- end h1 MAIN TITLE contents ------------------------------------------ --> 
</div><!-- end/headline -->



<div class="content">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->

{*include file='inc/maps/royalascot.tpl'*} 

<p><strong>Where is the {*'Y'|date*} {include_php file='/home/ah/allhorse/public_html/stakes/commonwealth-cup/year.php'} Commonwealth Cup?</strong> &nbsp; Ascot Racecourse<br />
<strong>When is the {*'Y'|date*} {include_php file='/home/ah/allhorse/public_html/stakes/commonwealth-cup/year.php'} Commonwealth Gold Cup?</strong> &nbsp; {include_php file='/home/ah/allhorse/public_html/stakes/commonwealth-cup/date.php'} , {include_php file='/home/ah/allhorse/public_html/stakes/commonwealth-cup/year.php'} {*'Y'|date*} </p>


{include file='/home/ah/allhorse/public_html/misc/commonwealth_cup_3447.php'}
<!--<p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">Bet Now</a></p> -->
<p>{include file='/home/ah/allhorse/public_html/usracing/odds/marketing_inc.tpl'} </p>
  
<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->


<div id="right-col" class="col-md-3">
{include file='/home/ah/allhorse/public_html/graded_stakes/calltoaction.tpl'}
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 




 
</div><!-- end/row -->
</div><!-- end/container -->

    