{include file="/home/ah/allhorse/public_html/usracing/schema/web-page.tpl"}



{literal}

<link rel="stylesheet" href="/assets/css/sbstyle.css">

<link rel="stylesheet" type="text/css" href="/assets/css/no-more-tables.css">

<style type="text/css" >

.infoBlocks .col-md-4 .section {

    height: 250px !important;

	margin-bottom:16px;

}

@media screen and (max-width: 989px) and (min-width: 450px){

.infoBlocks .col-md-4 .section {

    height: 165px !important;

}

}

@media screen and (max-width: 800px){

.no-display{

  display:none !important;

}

}

.card_btn--default{

  text-transform:none !important;

}

@media (min-width: 1024px){
  .kd {
    padding: 20px 0 0px !important;
  }
}



</style>

{/literal}

 {*schema for the page*}
{literal}





<script type="application/ld+json">
  {

    "@context": "http://schema.org/",

    "@type": "SpeakableSpecification",

    "xpath": "/html/body[@class='not-front  page page-kentuckyderby-odds section-kentuckyderby-odds ']/section[@class='pwc kd usr-section']/div[@class='container']/div[@class='kd_content']/h2[@class='table-title'][1]"

  }
</script>

<script type="application/ld+json">
  {

    "@context": "http://schema.org/",

    "@type": "SpeakableSpecification",

    "xpath": "/html/body[@class='not-front  page page-kentuckyderby-odds section-kentuckyderby-odds ']/section[@class='pwc kd usr-section']/div[@class='container']/div[@class='kd_content']/h2[@class='table-title'][2]"

  }
</script>

{/literal}

{*end of the shema*}





{*styles for the new hero dont touch*}

{literal}

     <style>

       @media (min-width: 1024px) {

         .usrHero {

           background-image: url({/literal} {$hero_lg} {literal});

         }

       }



       @media (min-width: 481px) and (max-width: 1023px) {

         .usrHero {

           background-image: url({/literal} {$hero_md} {literal});

         }

       }



       @media (min-width: 320px) and (max-width: 480px) {

         .usrHero {

           background-image: url({/literal} {$hero_sm} {literal});

         }

       }



       @media (max-width: 479px) {

         .break-line {

           display: none;

         }

       }



       @media (min-width: 320px) and (max-width: 357px) {

         .fixed_cta {

           font-size: 13px !important;

           }

        }

     </style>

{/literal}

{*End*}



{*Hero seacion change the xml for the text and hero*}

<div class="usrHero" alt="{$hero_alt}">

    <div class="text text-xl">

        <span>{$h1_line_1}</span>

        <span>{$h2_line_2}</span>

    </div>

    <div class="text text-md copy-md">

        <span>{$h2_line_1}</span>

        <span>{$h2_line_2}</span>

        <a class="btn btn-red" href="/signup?ref={$ref1}">{$signup_cta}</a>

    </div>

    <div class="text text-md copy-sm">

        <span>{$h2_line_1_sm}</span>

        <span>{$h2_line_2_sm}</span>

        <a class="btn btn-red" href="/signup?ref={$ref1}">{$signup_cta}</a>

    </div>

</div>

{*End*}





  {*This is the path for the countdown*}

    {include file="/home/ah/allhorse/public_html/prep-races-countdown/block-countdown_Louisiana Derby.tpl"}

  {*end*}





  {*This is the section for the odds tables*}

  <section class="kd usr-section">

    <div class="container">

      <div class="kd_content">

        <h1 class="kd_heading">Louisiana Derby </h1>{*This h1 is change in the xml whit the tag h1*}

		  <h3 class="kd_subheading">The Most Louisiana Derby Betting Options Anywhere</h3>

		   
{*This is the section for the primary copy*}	  

		   {include file="/home/ah/usracing.com/smarty/templates/content/stake/salesblurb-louisiana-derby-primary.tpl"}

       	<p align="center"><a href="/signup?ref={$ref5}" rel="nofollow" class="card_btn card_btn--default">Bet on the Louisiana Derby</a></p>

		  

		   {*end*}

		  

	      {*The path for the main copy of the page*}

   </style>

<div id="no-more-tables">
<table class="data table table-condensed table-striped table-bordered"  border="1" cellpadding="0" cellspacing="0" width="100"% >

          <thead>
            <tr class="no-display">
            <caption>Louisiana Derby Betting Information</caption>

                <th> Location </th>

                <th> Inaugural Race </th>

                <th> Race Type </th>

                <th> Distance </th>

                <th> Track </th>

                <th> Qualification </th>

                <th> Weight </th>

                <th> Purse</th>

                <th>Race Type</th>

            </tr>

        </thead>

        <tbody>

            <tr>

                <td data-title="Location"> Fair Grounds Race Course - New Orleans, Louisiana </td>

                <td data-title=" Inaugural Race"  style="word-break: keep-all !important;"> 1894 </td>

                <td data-title=" Race Type "> Thoroughbred - Flat racing </td>

                <td data-title=" Distance " style="word-break: keep-all !important;"> 1 3⁄16 miles (9 furlongs) </td>

                <td data-title=" Track " style="word-break: keep-all !important;"> Dirt, left-handed </td>

                <td data-title=" Qualification " style="word-break: keep-all !important;"> Three-year-olds </td>

                <td data-title=" Weight " style="word-break: keep-all !important;"> 122 lbs. </td>

                <td data-title=" Purse "> $1,000,000 </td>

                <td data-title=" Race Type "> Grade II </td>

            </tr>

            </tbody>

    </table>

    </div>
<br>
	<p>The <b>Louisiana Derby</b> is part of the 2nd leg of the <a href= "https://www.usracing.com/kentucky-derby/prep-races"> Kentucky Derby Prep Races </a> - Championship Series, where the first four finishers will receive the following points in their race for the roses:</p>
<p>
•	1st – 100 points<br>

•	2nd – 40 points<br>

•	3rd – 20 points<br>

•	4th – 10 points<br>

<br>

	The <a href= "https://www.usracing.com/kentucky-derby"> Kentucky Derby </a> Prep Races start each year in September and end in April with the goal of qualifying for the {include_php file="/home/ah/allhorse/public_html/kd/year.php"} Kentucky Derby. With only 20 horses set to take the starting gates under the famous twin spires of Churchill Downs, the road is long. Only the strong will survive.
	

	</p>

	<p align="center"><a href="/signup?ref={$ref6}" rel="nofollow" class="card_btn card_btn--default">Bet on the Louisiana Derby</a></p>

		<br>

		{include file="/home/ah/allhorse/public_html/graded_stakes/louisiana-derby/winner.tpl"}
		

         <p>{include file="/home/ah/usracing.com/smarty/templates/content/stake/salesblurb-louisiana-derby-secondary.tpl"} </p>
		

        </p>

	<p align="center"><a href="/signup?ref={$ref8}" rel="nofollow" class="card_btn card_btn--default">Bet on the Louisiana Derby</a></p>

        {*end*}



      

        <br>

        </li>

        </ul>

      </div>

    </div>

  </section>

  {*This is the section for the odds tables*}



{* Block for the testimonial  and path *}

{include file="/home/ah/allhorse/public_html/stakes/block-testimonial-pace-advantage.tpl"}

{* End *}



{* Block for the signup bonus and path*}

{include file="/home/ah/allhorse/public_html/stakes/block-signup-bonus.tpl"}

{* End*}



{* Block for the block exciting  and path *}

{include file="/home/ah/allhorse/public_html/stakes/block-exciting.tpl"}

{* end *}



{literal}

<script src="/assets/js/jquery.sortElements.js"></script>

<script src="/assets/js/sort_odds.js"></script>

<script type="text/javascript">

    addSort('o0t');

    addSort('o1t');

</script>

{/literal}



