<p> The <strong>Louisiana Derby</strong> set for  has drawn a huge field of 16 horses for the $1 million feature race of the Fair Grounds season. However field of only 14 can actually compete, <strong>Louisiana Derby</strong> Day also features the Fair Grounds Oaks, which has six fillies entered. </p>


<p><a href='/signup?ref={$ref2}'>Bet on</a> all the prep races for the Kentucky Derby at <a href='/signup?ref={$ref3}'>BUSR </a> and <a href='/signup?ref={$ref4}'>Place your bet </a> today! </p>







	
	





 