@charset "UTF-8";
/* CSS Document */

#RDstepContainer { position:relative; margin:0; padding:0; display:block; width:760px; height:510px; background: #ffffff url(images/redirectCust-bs-bg.jpg) top left no-repeat;  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.4); -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.4); 	box-shadow: 0 5px 5px rgba(0,0,0,0.4); font-size:12px; }

#RDlogin { position:absolute; top:157px; left:276px; display:block;  }
#RDlogin a { display:block; text-decoration:none;  width:453px; height:108px;  }

#RDnotmember { position: absolute; top:321px; left:270px; display:block; width:465px; height:160px; }
#RDnotmember .us { position: absolute; top:89px; left:14px; display:block; width:160px;  }
#RDnotmember .us select { width:100%;  }

#RDnotmember .usSubmit { position: absolute; top:119px; left:14px; display:block; text-align:center; width:160px; }
#RDnotmember .usSubmit input { display:block; width:73px; height:18px; background: url(images/select-btn.gif) top left no-repeat; margin:0 auto; border:0; }
#RDnotmember .usSubmit input:hover { cursor:pointer; background-position:bottom left; }

#RDnotmember .international { position: absolute; top:10px; left:232px; display:block;  }
#RDnotmember .international a { display:block; text-decoration:none;  width:223px; height:141px;  }


#RDstepContainer2 { position:relative; margin:0; padding:0; display:block; width:760px; height:510px; background: #ffffff url(images/redirectCust-bs-bg2.jpg) top left no-repeat;  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.4); -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.4); 	box-shadow: 0 5px 5px rgba(0,0,0,0.4); }

#usNoteTVG, #usNoteBetus, #usNoteBodog, #usNoteDefault { position:absolute; background: url(images/usNote-blank.gif) top left no-repeat; top:135px; left:270px; display:block; width:423px; height:45px; border:1px solid #B0D6FF; padding:20px; font-size:13px; }

.tvgLogo { position:absolute; top:245px; left:270px; display:block; width:465px; height:60px;  }
.tvgLogo input { display:block; width:465px; height:60px; background: url(images/tvg-logo.gif) top left no-repeat; cursor:pointer; border:0;  }
.betusLogo { position:absolute; top:235px; left:270px; display:block; width:465px; height:70px; }
.betusLogo input { display:block; width:465px; height:70px; background: url(images/betus-logo.gif) top left no-repeat; cursor:pointer; border:0;  }
.bodogLogo { position:absolute; top:245px; left:270px; display:block; width:465px; height:60px; }
.bodogLogo input { display:block; width:465px; height:60px; background: url(images/bodog-logo.gif) top left no-repeat; cursor:pointer; border:0; }

.twinspiresLogo { position:absolute; top:245px; left:270px; display:block; width:465px; height:60px;  }
.twinspiresLogo input { display:block; width:465px; height:60px; background: url(images/twinspires-logo.gif) top left no-repeat; cursor:pointer; border:0;  }
.betonlineLogo { position:absolute; top:245px; left:270px; display:block; width:465px; height:60px;  }
.betonlineLogo input { display:block; width:465px; height:60px; background: url(images/betonline-logo.gif) top left no-repeat; cursor:pointer; border:0;  }
.sportsinteractionLogo { position:absolute; top:245px; left:270px; display:block; width:465px; height:60px;  }
.sportsinteractionLogo input { display:block; width:465px; height:60px; background: url(images/sportsinteraction-logo.gif) top left no-repeat; cursor:pointer; border:0;  }


#getStarted  {  position:absolute; top:330px; left:270px; display:block; width:435px; padding:0 15px; height:auto;} 
#getStarted .getstartedTitle { font-family: Helvetica, Arial, sans-serif; font-size:14px; font-weight:bold; display:block; width:100%; text-align:left; padding:5px 0 3px; }
#getStarted .lineSep { background:#b0d6ff; height:1px; width:100%; display:block; margin-bottom:10px; }
#getStarted  input { border:1px solid #a2a2a2; display:block; margin:0; }
#getStarted .firstName, #getStarted .emailAddrs { float:left; width:100%; margin-bottom:6px; display:block; line-height:18px; }
#getStarted .firstName span, #getStarted .emailAddrs span { float:left; width:80px; line-height:18px; color:#000; font-size:12px; font-weight:bold; padding-right:0; }
#getStarted .firstName input, #getStarted .emailAddrs input { float:left; width:123px; height:14px; padding:1px; }

#getStarted .betnowSubmit { text-align:right; float:left; width:465px; height:40px; display:block; padding-top:15px; }
#getStarted .betnowSubmit input { border:0; margin:0 auto; background:url(images/betnow-btn.gif) top right no-repeat; width:150px; height:40px; display:block; cursor:pointer; }
#getStarted .betnowSubmit input:hover { background-position:bottom right; }

#usNoteForm, #usNoteSorry { display:block; position:absolute; background: #fff url(images/usNote-blank.gif) top left no-repeat; top:135px; padding:20px; left:270px; width:425px; height:auto; border:1px solid #B0D6FF; }
#usNoteForm #getStarted  {  position:relative; top:0; left:0; display:block; width:100%; padding:0; height:auto;} 
#usNoteForm .getstartedTitle { padding-top:0; }
#usNoteForm #getStarted .betnowSubmit { width:100%; margin:0 auto; text-align:center;  }

#usNoteSorry { top:135px; font-weight:bold; height:auto; display:none; }
#usNoteSorry .thankyou { font-size:14px; }