<div id="RDstepContainer">

<div id="RDlogin">
	
	<div class="formBox"><a rel="nofollow" href="http://www.gohorsebetting.com/welcome/allhorseracingplayers"></a></div>
  
</div>

<div id="RDnotmember">
		<div class="us">
      <select name="rd_usresidents" id="rd_usresidents">
        <option value="" selected="selected">Select a State</option> 
        <option value="AL">Alabama</option> 
        <option value="AK">Alaska</option> 
        <option value="AZ">Arizona</option> 
        <option value="AR">Arkansas</option> 
        <option value="CA">California</option> 
        <option value="CO">Colorado</option> 
        <option value="CT">Connecticut</option> 
        <option value="DE">Delaware</option> 
        <option value="DC">District Of Columbia</option> 
        <option value="FL">Florida</option> 
        <option value="GA">Georgia</option> 
        <option value="HI">Hawaii</option> 
        <option value="ID">Idaho</option> 
        <option value="IL">Illinois</option> 
        <option value="IN">Indiana</option> 
        <option value="IA">Iowa</option> 
        <option value="KS">Kansas</option> 
        <option value="KY">Kentucky</option> 
        <option value="LA">Louisiana</option> 
        <option value="ME">Maine</option> 
        <option value="MD">Maryland</option> 
        <option value="MA">Massachusetts</option> 
        <option value="MI">Michigan</option> 
        <option value="MN">Minnesota</option> 
        <option value="MS">Mississippi</option> 
        <option value="MO">Missouri</option> 
        <option value="MT">Montana</option> 
        <option value="NE">Nebraska</option> 
        <option value="NV">Nevada</option> 
        <option value="NH">New Hampshire</option> 
        <option value="NJ">New Jersey</option> 
        <option value="NM">New Mexico</option> 
        <option value="NY">New York</option> 
        <option value="NC">North Carolina</option> 
        <option value="ND">North Dakota</option> 
        <option value="OH">Ohio</option> 
        <option value="OK">Oklahoma</option> 
        <option value="OR">Oregon</option> 
        <option value="PA">Pennsylvania</option> 
        <option value="RI">Rhode Island</option> 
        <option value="SC">South Carolina</option> 
        <option value="SD">South Dakota</option> 
        <option value="TN">Tennessee</option> 
        <option value="TX">Texas</option> 
        <option value="UT">Utah</option> 
        <option value="VT">Vermont</option> 
        <option value="VA">Virginia</option> 
        <option value="WA">Washington</option> 
        <option value="WV">West Virginia</option> 
        <option value="WI">Wisconsin</option> 
        <option value="WY">Wyoming</option>
        </select>
    </div>
    <div class="usSubmit"><input type="button" name="rd_usresidents_submit" id="rd_usresidents_submit" value=""></div>
    <div class="international"><a rel="nofollow" href="http://www.gohorsebetting.com/welcome/allhorseracingplayers"></a></div>
</div>

</div><!-- end: container -->
<script language="javascript">
	$('#rd_intlresidents').click(function(){
		dissolveLayer();
	});
	
	$('#rd_loginsubmit').click(function(){
		var name_ = $('#rd_name').val();
		var pass_ = $('#rd_pass').val()
		if(name_!="" && pass_!=""){
			 setLogin({name:name_,pass:pass_})
		}
	});
	
	$('#rd_forgot').click(function(){
		forgotPassword();
	});
	
	$('#rd_forgotLink').click(function(){
		forgotPasswordLink();
	});
	$('#rd_usresidents_submit').click(function(){
				
		var state = $('#rd_usresidents').val();
		var step2 = null;
		if(rd_select.enable){
		   //if its not enable we give the TRV a chance, just incase they both share the same state but
			// we prefer TWIN
		   $.each(rd_states_select_,function(index,value){
                        if(state==value)step2='twin';
                   });
		}
		if(step2 ==null){
		  //if TWIN already got claim then we do not worry
		  $.each(rd_states_,function(index,value){
			if(state==value)step2='trv';
		  });
		}
		if(state !=""){
					   setStep2(step2,state);
		}else alert('Please select your state');

	});	

</script>
