
<h2>Hot Bets</h2>
<ul class="menu">
  <li><a href="javascript:void(0);" onclick="open_banking();" title="Make a Deposit">DEPOSIT</a></li>
  <li><a href="javascript:void(0);" onclick="open_withdrawal();" title="Make a WITHDRAWAL">WITHDRAWAL</a></li>
  <li><a href="/racebook" title="Today's Races">TODAY'S RACES</a></li>
  <!-- <li><a href="/sportsbook" title="Daily Horse Match Ups">DAILY HORSE MATCH UPS</a></li>     -->
  <li><a href="/beton/race-of-the-week" title="Big Race of the Week">RACE OF THE WEEK</a></li>
  <!-- <li><a href="/virtualderby" title="Play Virtual Derby">VIRTUAL DERBY</a></li>      -->
  <li><a href="/support" title="Racing Support">RACING SUPPORT</a></li>
</ul>
