
<h2>How To Bet Horses</h2>
<ul class="navbar-nav">
  <!-- <li><a Href="/how-to/place-a-bet" Title="">Learn How To Place A Bet</a></li> --> 
  <!-- <li Class="Leaf Active-Trail"><a Href="/how-to/bet-on-horses" Title="" Class="Active">Learn How To Place A Horse Wager</a></li> --> 
  <li><a Href="/how-to/bet-on-horses" Title="" >How To Bet On Horses <i Class="Fa Fa-Angle-Right"></i></a></li>
  <li><a Href="/how-to/read-the-daily-racing-form" Title="">Read The Daily Racing Form <i Class="Fa Fa-Angle-Right"></i></a></li>
  <li><a Href="/how-to/read-past-performances" Title="">Read Past Performances <i Class="Fa Fa-Angle-Right"></i></a></li>
</ul>
