<h2 class="title">Top Ten Leaders</h2>
<ul class="navbar-nav">
<li><a href="/leaders/horses" >Horses <i class="fa fa-angle-right"></i></a></li>
<li><a href="/leaders/jockeys" >Jockeys <i class="fa fa-angle-right"></i></a></li>
<li><a href="/leaders/trainers"  >Trainers <i class="fa fa-angle-right"></i></a></li>
</ul>    

