<ul>
    <li><a href="/pegasus-world-cup/odds" >Pegasus World Cup {include_php file='/home/ah/allhorse/public_html/pegasus/year.php'} Odds</a></li> 
    <li><a href="/pegasus-world-cup/betting" >Pegasus World Cup Betting</a></li>
    <li><a href="/pegasus-world-cup/signup-bonus">Pegasus World Cup Bonus</a></li>
	<li><a href="/pegasus-world-cup/contenders">Pegasus World Cup Contenders</a></li>  
    <li><a href="/pegasus-world-cup/results" >Pegasus World Cup Results</a></li>
	<li><a href="/pegasus-world-cup/winners" >Pegasus World Cup Winners</a></li>
    <li><a href="/news/tag/pegasus-world-cup/">Pegasus World Cup News</a></li>
</ul>