<h2>international racetracks</h2>
<ul class="menu">
  <li><a href="#" title="">Australia A</a></li>
  <li><a href="#" title="">Australia B</a></li>
  <li><a href="#" title="">Australia C</a></li>
  <li><a href="#" title="">Dubai</a></li>
  <li><a href="#" title="">Great Britain 1</a></li>
  <li><a href="#" title="">Great Britain 2</a></li>
  <li><a href="#" title="">Great Britain 3</a></li>
  <li><a href="#" title="">Great Britain 4</a></li>
  <li><a href="#" title="">Great Britain 5</a></li>
  <li><a href="#" title="">Ireland 1</a></li>
  <li><a href="#" title="">Ireland 2</a></li>
  <li><a href="#" title="">Ireland 3</a></li>
  <li><a href="#" title="">Japan</a></li>
</ul>
