
<h2>Canadian Racetracks</h2>
<ul class="navbar-nav">
  <li><a href="/ajax-downs" title="">AJAX DOWNS <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/assiniboia-downs" title="">ASSINIBOIA DOWNS <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/fort-erie" title="">FORT ERIE <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/fraser-downs" title="">FRASER DOWNS <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/hastings-park" title="">HASTINGS <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/mohawk-raceway" title="">MOHAWK RACEWAY <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/northlands-park" title="">NORTHLANDS PARK <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/western-fair-raceway" title="">WESTERN FAIR RACEWAY <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/woodbine" title="">WOODBINE <i class="fa fa-angle-right"></i></a></li>
  </li>
</ul>
