<ul>
    <li><a href="/bet-on/saudi-cup" >Bet on Saudi Cup</a></li> 
    <li><a href="/saudi-cup/odds" >Saudi Cup Odds</a></li>
    <li><a href="/saudi-cup/betting">Saudi Cup Betting</a></li>
    <li><a href="/saudi-cup/contenders">Saudi Cup Contenders</a></li>
    <li><a href="/saudi-cup/results">Saudi Cup Results</a></li>
    <li><a href="/saudi-cup/winners">Saudi Cup {*include_php file='/home/ah/allhorse/public_html/saudi-cup/year.php'*} Winners</a></li>
</ul>