<h2>States</h2>
<ul class="navbar-nav">
	  <li><a href="/alabama">Alabama <i class="fa fa-angle-right"></i></a></li>
	    <li><a href="/alaska">Alaska <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/arizona">Arizona <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/arkansas">Arkansas <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/california">California <i class="fa fa-angle-right"></i></a></li>
    <li><a href="/conneticut">Conneticut <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/colorado">Colorado <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/delaware">Delaware <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/florida">Florida <i class="fa fa-angle-right"></i></a></li>
   <li><a href="/georgia">Georgia <i class="fa fa-angle-right"></i></a></li>
      <li><a href="/hawaii">Hawaii <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/idaho" >Idaho<i class="fa fa-angle-right"></i></a></li>
  <li><a href="/illinois">Illinois <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/indiana">Indiana <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/iowa">Iowa <i class="fa fa-angle-right"></i></a></li>
    <li><a href="/kansas">Kansas <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/kentucky">Kentucky <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/louisiana">Louisiana <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/maine">Maine <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/maryland">Maryland <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/massachusetts">Massachusetts <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/michigan" >Michigan<i class="fa fa-angle-right"></i></a></li>
  <li><a href="/minnesota">Minnesota <i class="fa fa-angle-right"></i></a></li>
    <li><a href="/mississippi">Mississippi <i class="fa fa-angle-right"></i></a></li>
      <li><a href="/missouri">Missouri <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/montana" >Montana<i class="fa fa-angle-right"></i></a></li>
  <li><a href="/nebraska">Nebraska <i class="fa fa-angle-right"></i></a></li>
    <li><a href="/nevada">Nevada <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/new-hampshire" >Hew Hampshire<i class="fa fa-angle-right"></i></a></li>
  <li><a href="/new-jersey">New Jersey <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/new-mexico">New Mexico <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/new-york">New York <i class="fa fa-angle-right"></i></a></li>
    <li><a href="/north-carolina" >North Carolina<i class="fa fa-angle-right"></i></a></li>
  <li><a href="/north-dakota" >North Dakota<i class="fa fa-angle-right"></i></a></li>
  <li><a href="/ohio">Ohio <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/oklahoma">Oklahoma <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/oregon">Oregon <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/pennsylvania">Pennsylvania <i class="fa fa-angle-right"></i></a></li>
    <li><a href="/rhode-island" >Rhode Island<i class="fa fa-angle-right"></i></a></li>
      <li><a href="/south-carolina" >South Carolina<i class="fa fa-angle-right"></i></a></li>
        <li><a href="/south-dakota" >South Dakota<i class="fa fa-angle-right"></i></a></li>
  <li><a href="/tennessee" >Tennessee<i class="fa fa-angle-right"></i></a></li>
  <li><a href="/texas">Texas <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/utah" >Utah<i class="fa fa-angle-right"></i></a></li>
    <li><a href="/vermont" >Vermont<i class="fa fa-angle-right"></i></a></li>  

  <li><a href="/virginia" >Virginia<i class="fa fa-angle-right"></i></a></li>
  <li><a href="/washington">Washington <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/west-virginia">West Virginia <i class="fa fa-angle-right"></i></a></li>
  <a href="/wyoming" >Wyoming<i class="fa fa-angle-right"></i></a></li>
</ul>
