
<h2>Popular Tracks</h2>
<ul class="navbar-nav">
  <li><a href="/belmont-park" title="">Belmont Park <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/delmar" title="">Delmar <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/churchill-downs" title="">Churchill Downs <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/gulfstream-park" title="">Gulfstream park <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/pimlico" title="">PIMLICO <i class="fa fa-angle-right"></i></a></li>
  <li><a href="/santa-anita-park" title="">Santa anita park<i class="fa fa-angle-right"></i></a></li>
  <li><a href="/saratoga" title="">Saratoga <i class="fa fa-angle-right"></i></a></li>
</ul>
