

<h2>Triple Crown</h2>
<ul class="navbar-nav">

<li ><a  href="/bet-on/triple-crown" >Triple Crown  <i class="fa fa-angle-right"></i></a>
	
</li>

<li><a href="/kentucky-derby" >Kentucky Derby <i class="fa fa-angle-right"></i></a></li>
<li><a href="/preakness-stakes"  >Preakness Stakes <i class="fa fa-angle-right"></i></a></li>
<li><a href="/belmont-stakes"  >Belmont Stakes <i class="fa fa-angle-right"></i></a></li>
</ul>


  





