/**************/
/* Common CSS */
/**************/


/*== OVERRIDE STYLES FROM CTR_STYLE_EXTERNAL.CSS ==*/

/*== MAIN PAGE CONTAINER ==*/
#pageContainer { margin: 0; position: absolute; width: 672px; }


/*== HEADER BLOCK STYLES ==*/
#headerBlock   { height: 25px; background:#E7F3FF; display:block; line-height:25px; padding:4px 10px; }
#pageTitle     { float:left; font-size: 13px; font-weight: bold;}
#chatButton    { float:right;}


/*== DATA RECORD STYLES ==*/
#title {
	float: left;
	width: 660px;
	height: 27px;
	color: #000;
        font-weight: bold;
	font-size: 12px;
	line-height:28px;
	padding: 0 0 0 10px;
	margin: 0 0 -1px 0;
	border: 1px solid #cccccc;
	background:url(titlebar_gradient.gif) repeat-x;
}

.titleBox {
	background:url(yellow_arrow.gif) no-repeat left;
	padding: 0 0 0 15px;
	margin-bottom: 0em;

}

.titleHeader {
    font-weight: bold;
	border: 1px solid #797979;
	background:url(header_bar.gif);
}

.borderBottom {
	text-align: -moz-center;
	border-bottom: 1px solid #C0C0C0;

}

.borderBottomLeft {
	text-align: left;
	padding: 0 5px 0 5px;
	border-bottom: 1px solid #C0C0C0;
}

.borderLeft {
	border-left: 1px solid #C0C0C0;
}

.borderRight {
	border-right: 1px solid #C0C0C0;
}
.buttonNext {
	float: center;
	width: 58px;
	height: 20px;
	margin: 0;
	background:url(next_up.gif) no-repeat;
}
.buttonNext:hover {
	float: center;
	width: 58px;
	height: 20px;
	margin: 0;
	background:url(next_over.gif) no-repeat;
}
#historyTable {
	clear: both;
	padding: 0 0 0 0;
	color: #484848;
	width: 700px;

}

#historyTable table {
	width:100%;
	border: 1px solid #C0C0C0;
	text-align:center;
}

#confirmTable {
        clear: both;
        padding: 0 0 0 0;
        color: #484848;
}

#confirmTable table {
        width:100%;
        border: 1px solid #C0C0C0;
        text-align:center;
}

thead {
    background-color: #808080;
    color: #FFF;
    font-size: 11px;
}
td {
	padding: 5px;
}
th {
	padding: 3px;
}
#infoHeader {
    width: 688px;
    color: #000;
    font-weight: bold;
    font-size: 11px;
    padding: 3px 0px 3px 10px; 
    border:1px solid #797979;
    background-color:#C0C0C0;
    background:url(subHeader_bar.gif) repeat-x;
}

#infoHeader table td {
    padding: 0 0 0 0;
}
#infoHeader input {
    height: 10px;
}
#depositInfoBox {
	clear: both;
	padding: 1.5em 0 0 0;
	color: #484848;
	width: 670px;
	margin-left: 0;
	border: 1px solid #C0C0C0;
}

.leftCol {
    width:150px; 
    padding-left: 160px;
    font-weight: bold;
    text-align: left;
}

.leftColTxt {
    padding-left: 160px;
    font-weight: bold;
    text-align: left;
}



#bottomButtons {
		width:100%;
		height: 20px;
		padding: 10px 0 0 0;
}

#bottomButtons ul {
		list-style:none;
}

#bottomButtons li {
		display:block;
		float:right;
		margin:0 1px;
		padding: 0 0 0 5px;
}
#boxInfo_cc {
	width: 665px;
    font-weight: bold;
    font-size: 12px;
	line-height:20px;
	margin: 10px 0 15px 10px;
	text-align:center;
	padding: 4px 5px 4px 5px;
	border: 2px solid #fdb441;
	background-color:#fffde4;
	color:#373737;
}
#trans_info {
	clear: both;
}
.errorBox 						{ border: 4px solid #a77979; background-color:#efd8d8; color:#892d2d; }

.errorH1                        { color:#333; font-weight:bold; font-size:12px;} /* error text Style 1 */
.errorH2                        { color:#890d00; font-weight:bold; padding-left:10px;} /* error text Style 2 */
.errorH2Expired                 { color:#890d00; font-weight:bold; padding:5px;} /* error text Style 2 - for expired pages */
.errorH3                        { color:#890d00; font-weight:normal; padding-left:10px;}
.errorLabel                     { color:#890d00; font-weight:bold; padding-right:5px;}
.errorLabel:after {
	content: "*";
}
#errorBoxChangePW				{ margin: 5px 10px 5px 10px; padding: 10px 5px 10px 5px; } /* main error display for change password */
#errorInstructions				{ margin:0 0 0 45px; } /* location of error message copy */
#errorMsg li					{ list-style-type:none; line-height:13px; } /* location of error message copy */
#errorInstructionsExpired		{ text-align:center; padding:5px 0 5px 0;}
#errorInstructionsExpired li,
#errorInstructions li			{ list-style-type:none; line-height:17px;} /* error message display layout */
#errorIconPos					{ position:absolute; margin:0 0 0 10px;}  /* error icon */
#errorIconPosExpired			{ margin:0 auto;}
.errorIcon						{ background:url(iconError.gif) no-repeat; height:23px; width:24px; } /* image reference to error (hazard) icon */

#confirmationTable {
	clear: both;
	padding: 1em 0 0 0;
	color: #484848;
}

#confirmationTitle {
	float: left;
	width: 100%;
	height: 27px;
	color: #EEE;
    	font-weight: bold;
	font-size: 12px;
	line-height:28px;
	padding: 0 0 0 10px;
	margin: 0 0 -10px -1px;
	border: 1px solid #2e2e2e;
	background:url(titlebar_gradient.gif) repeat-x;
}


#boxInfo_left {    width: 606px;    font-size: 11px;    line-height:15px;    margin: 10px 0 15px 10px;    text-align:left;    padding: 10px 20px;    border: 2px solid #fdb441;    background-color:#fffde4;    color:#373737; }


/* Pending Wagers - Custom */
#pendingTable { width:100%; padding:0; border:0; margin-top:10px; }