/* ----------------------------------------------------------------------------------------------------------*/
/*                                                                                                           */
/*                                                                                                           */
/*                                  CUSTOMER CENTER (MY ACCOUNT) - GLOBAL CSS                                */
/*                                                                                                           */
/*                                                                                                           */
/* ----------------------------------------------------------------------------------------------------------*/

/*========================================= GLOBAL COMPONENTS ============================================*/
html	{ font-family: Arial, Verdana, sans-serif; font-size: 11px; font-weight: normal; color: #333333;}
body	{ margin:0; padding:0; width:auto;background-color:#FFFFFF;}
table	{ border-collapse:collapse; border-spacing:0;}
td, th	{ padding:0;}
img 	{ border:0;}
* 		{ padding:0; margin:0;}

/*========================================= FRAGMENT COMPONENTS ===========================================*/
/***** Element Positioning *****/
div#topHeader						{ position:relative; top:10px; } /* top header background */
div#subHeader						{ position:relative; top:20px; } /* sub header background */
div#topHeaderTxtPos					{ position:absolute; margin-left:15px;top:17px; } /* top header title text */
div#subHeaderTxtPos					{ position:absolute; margin-left:20px;top:47px; } /* sub header title text */
form#formContainer					{ margin:40px 0 0 0; } /* entire form element */
.formContainerCenter #formTable		{ position:absolute; left:50%; top:185px; margin-left:-285px; width:570px;}  /* table within form element */
div#instructionTxtPos				{ margin-bottom:10px; } /* top instructional copy */
div#successMsg						{ position:absolute;width:458px;text-align:center; margin-top:-50px;} /* main success text */
div#boxAccentPWPos					{ position:absolute;margin:-125px 0 0 465px;} /* floating box for password instructions */
div#bulletLayout2Pos				{ position:absolute;margin:-110px 0 0 483px;width:155px;} /* unordered list - layout */
div#throbberPos						{ float:right; margin:0px 10px 0 0;}

									/*-- Input Area ---*/
div#inputAreaSQ						{ position:absolute; margin:-60px 0 0 0; padding:0 0 0 30px;} /* security question */
div#inputAreaChangePW				{ position:absolute; margin:-195px 0 0 0; padding:0 0 0 15px;} /* change password */
div#inputAreaResetPW				{ position:absolute; margin:-175px 0 0 0; padding:0 0 0 15px;} /* reset password */
div#inputAreaForgotPW				{ position:absolute; margin:-130px 0 0 0; padding:0 0 0 40px;} /* forgot password */
div#inputAreaSetSQ  				{ position:absolute; margin:-140px 0 0 0; padding:0 0 0 40px;} /* set security question  */
div#inputAreaUpdateInfo				{ position:absolute; margin:-225px 0 0 0; padding:0 0 0 40px;} /* update contact info */
div#inputAreaNickname				{ padding:20px 0 20px 30px;} /* nickname info */
div#inputAreaBAddressSelect			{ position:absolute; margin:10px;}
div#inputAreaBAddressSelect	table td{ padding-right:5px; }  /* billing address */
div.inputAreaMAddressSelect			{ position:absolute; margin:10px;}
div.inputAreaMAddressSelect	table td{ padding-right:5px; } /* mailing address */
div#inputAreaUpdateInfo	table		{ width:340px;}
div#inputAreaUpdateInfo	table td	{ padding-top:6px;}
div#inputAreaUpdateInfo .updateFields,
div#personalInfoSet .updateFields 	{ width:110px;}
div#inputAreaForgotUN_RF			{ position:absolute; margin:-140px 0 0 0; padding:0 0 0 60px;} /* forgot username - required fields*/
div#inputAreaForgotUN_OF			{ margin:15px 0 0 0; padding:0 0 0 20px;} /* forgot username - optional fields*/
div#inputAreaForgotUN_OF table td,
div#inputAreaForgotUN_RF table td	{ padding:4px;}

									/*-- Errors --*/
#formTable #errorBoxChangePW		{ margin:0 0 10px 0; } /* main error display for change password */
#formTable #errorIconPos			{ position:absolute; margin:0 0 0 10px;}  /* error icon */
#formTable #errorIconPosExpired		{ margin:0 auto;}
#formTable #errorInstructions		{ margin:0 0 0 45px; } /* location of error message copy */
#formTable #errorMsg li				{ list-style-type:none; line-height:13px; } /* location of error message copy */
#formTable #errorInstructionsExpired{ text-align:center; padding:5px 0 5px 0;}
#formTable #errorInstructionsExpired li,
#formTable #errorInstructions li	{ list-style-type:none; line-height:17px;} /* error message display layout */

									/*-- Sign Up (on universal login)--*/
div.sectionContainer				{ margin:20px 0 0 0; width:231px; height:200px; overflow:hidden;} /* bounding containers for both log in and sign up */
div#signUpInfo						{ width:177px; margin:-95px 0 0 30px;}  /* text instructions for signing up */
div#btnBack							{ position:absolute; margin:-17px 0 0 -15px; } /* back button */
div#framePos						{ position:relative; margin:50px auto;} /* surrounding outter border */
div#bannerPos						{ position:absolute; left:50%; top:69px; margin-left:-302px;} /* top banner image - margin-left is 1/2 width size */
/*CHANGED*/div#boxAccentSUPos					{ margin:15px 0 5px 7px;} /* floating box - Sign Up */
div#signInMsg						{ position:relative; top:-15px;left:50px;width:480px;text-align:center;} /* output message system returns */
div#topHeaderSignIn					{ width:225px; margin:-159px 0 0 3px; } /* top header background */
div#topHeaderSignInTxt				{ margin:-23px 0 0 0px; text-align:center;} /* top header title text */
div#inputAreaLogin					{ width:177px; margin:15px 0 0 25px;} /* input fields for loggin in */

									/*Log Out*/
div.boxAccentMiniPos				{ width:200px; position:relative; top:-30px;}
div#logOutMsgPos					{ position:relative; top:-55px;}
div#logOutInstructPos				{ position:relative; top:-20px;}

									/*-- PopUp (password strength) --*/
div#topHeaderTxtPopUpPos			{ position:relative; margin:-13px 0 0 20px;} /* positioning of popup window title text*/
div#PopUpContentPos					{ margin:25px 0 0 30px;} /* positioning of popup window text*/

div#CCSMsg							{ position:relative; top:30px;width:100%;text-align:center;} /*Customer Service output message*/
div#errorBoxCCSPos					{ position:relative; top:30px;width:auto;margin:0 20px 0 20px; text-align:center;} /*Customer Service output message*/
									/*-- Forgot Username --*/
div#linkImgPos						{ position:absolute; margin:13px 0 0 334px;}


/***** Layouts *****/
div.topHeaderImg		{ background:url(topHeader.jpg) repeat-x; height:30px;} /* image reference to top header banner */
div.subHeaderImg		{ background:url(subHeader.jpg) repeat-x; height:20px;} /* image reference to sub header banner */
div.boxAccentMini		{ background:url(boxAccentMini.jpg) repeat-x; height:32px; border:1px solid #797979; } /* image reference to grey gradient box area in background (small) */
div#boxAccentSm			{ background:url(boxAccentSm.jpg) repeat-x; height:82px; width:auto; border:1px solid #797979; } /* image reference to grey gradient box area in background (small) */
div#boxAccentMed		{ background:url(boxAccentMed.jpg) repeat-x; height:161px; width:auto; border:1px solid #797979; } /* image reference to grey gradient box area in background (medium) */
div.grayBoxMed			{ background:url(boxAccentMed.jpg) repeat-x; height:82px; width:auto;} /* image reference to grey gradient box area in background */
div#boxAccentLg			{ background:url(boxAccentLg.jpg) repeat-x; height:234px; width:auto; border:1px solid #797979; } /* image reference to grey gradient box area in background (large) */
div.grayBox				{ background:url(boxAccentLg.jpg) repeat-x; height:234px; width:auto;} /* image reference to grey gradient box area in background (large) */
div.boxAccentPW			{ background:url(boxAccent_password.gif) no-repeat; width:188px; height:145px; } /* image reference for password instructions */
.bkAccentBox			{ background-color:#f2f2f2; border:1px solid #7a7a7a;}
/*CHANGED*/ #formTable	{ margin: 0 auto; width:600px;}   /* margin: 0 auto; if you want form table to center align */
.errorBox				{ background-color:#efd8d8; border:4px solid #a77979; padding: 7px 5px 7px 5px; color:#892d2d; width:auto;} /* style error box */
.errorMsgBox			{ background-color:#efd8d8; border:1px solid #a77979; padding: 4px 3px 4px 3px; color:#892d2d; width:auto;} /* style error box (thin) */
.errorIcon				{ background:url(iconError.gif) no-repeat; height:23px; width:24px; } /* image reference to error (hazard) icon */
#inputAreaChangePW table{ width:auto;}
.boxBorder				{ border:1px solid #797979; width:auto;padding:20px 0 20px 50px;} /* table layout for update contact information */
.boxBorder table		{ line-height:17px; }
.moreInfoBox			{ border:2px solid #4e6072; background-color:#7b8a99; color:#FFFFFF; padding:5px 5px 5px 10px; display:none; }
/*CHANGED*/.pageBackground			{ background: #e2f0ff url("gradient-bg.gif") repeat-x scroll 0 0; height:100%;} /* background of page */
/*CHANGED*/.pageBackgroundAlt		{ background-color:#FFF; height:100%;} /* background of page - alternative color */

						/*My Account*/
#features				{ float:left; margin:25px 0 0 0; width:230px;height:120px;}
.titleBar				{ background:url(titleBar.gif) no-repeat; width:208px; height:21px;}
.fadedBorder			{ background:url(fadedBorder.gif) no-repeat; width:207px; height:60px; }



						/*Sign In*/
div#boxAccentSI			{ background:url(boxAccent_signin.gif) no-repeat; height:163px;} /* image reference grey box for sign in */
div.boxAccentSU			{ background:url(boxAccent_signup.gif) no-repeat; height:109px;} /* image reference grey box for sign up */
/*CHANGED */div.frame				{ background: none; background:url("signin_border.png") no-repeat; height:421px; width:638px;} /* surrounding outter border */
div.banner				{ background:url(signin_banner.gif) no-repeat; height:86px; width:604px;} /* top banner image */
/*CHANGED */div.separator			{ background:url(orSeparator.gif) no-repeat; height:234px; width:29px; margin-left: 15px;}
div#inputAreaLogin ul li{ list-style-type:none; line-height:18px; font-weight:bold;} /* spacing for login input area */
.bulletLayout1 ul li	{ padding:0 0 15px 0; margin-left:15px; list-style-type:square;} /* unordered list - layout */
.bulletLayout2 ul li	{ padding:0; list-style-type:square;position: relative; margin-left:15px;font-size:11px;line-height:13px;} /* text copy for password information */
.bulletLayout3			{ padding:10px 0 10px 20px;}
.bulletLayout3 ul li	{ list-style-type:square; position: relative; margin-left:15px;font-size:12px;} /* text copy for password information */
/*CHANGED*/.highlight1				{ background-color:#d9ebff;padding:2px 0 2px 5px;}

						/*Log Out*/
div.logOutFrame			{ background:url(logout_border.gif) no-repeat; height:225px; width:638px;} /* surrounding outter border */
div.logOutBanner		{ background:url(logout_banner.gif) no-repeat; height:61px; width:604px;} /* top banner image */

						/*Customer Service Screen*/
#phoneNums				{ margin:5px 0 0 20px;}
#phoneNums td			{ padding:5px 10px 5px 10px; border:1px solid #999999;}
#phoneNums .label		{ background-color:#d3d3d3; font-weight:bold;}
#phoneNums .record		{ }

						/*Forgot Username*/
div.sectionSeparator	{ margin:25px 0 0 0; border:1px solid #cccccc; border-width:1px 0 0 0;} /* lines to separate the Req + Opt Fields */
div.moreInfoPopup		{ position:absolute; width:180px; margin-left:3px; border:2px solid #4e6072; background-color:#7b8a99; color:#FFFFFF; padding:5px 5px 5px 10px; display:none;  }
div#inputAreaForgotUN_OF a{ vertical-align:middle; padding-left:2px;} /* placement of "more info" boxes */
div.linkImg				{ background:url(link.gif) no-repeat; width:11px; height:34px; } /* link image */

						/*View Bonus Details*/
div.darkHeader			{ background:url(darkHeader.gif) repeat-x; height:37px;} /* top table header background - bonus */
div.grayHeader			{ background:url(grayHeader.gif) repeat-x; height:22px;} /* playable balance table header background - bonus */
div.thickBorder			{ border:1px solid #868686; padding:2px 2px 2px 3px; background-color:#FFFFFF;} /* thick border for table header - bonus */
/*CHANGED*/div.grayThickBorder		{ border:1px solid #1b579f; padding:1px; background-color:#dcdcdc;} /* thick border for playable balance header - bonus */
div#bonusTable			{ margin:-43px 0 0 0; font-size:11px;}
div#bonusTable table	{ width:500px; border:1px solid #868686; border-width:0 0 0 1px;} /* width of bonus details table */
div#bonusTable table th	{ background:url(columnLine.gif) no-repeat 100% 50%; vertical-align:top; padding:5px 0 9px 0; color:#FFFFFF;}
div#bonusTable table td	{ border:1px solid #868686; padding:4px 5px 4px 3px;}
.autoTooltip			{ cursor: help;} /* "?" on tooltip cursor */
.autoTooltip u			{ text-decoration: none; border-bottom: none; background: url(dottedLine.gif) repeat-x bottom;}

div#calcArea			{ margin-top:40px;}
select.productList		{ width:110px;} /* product drop down list */
div#bonusSelect 		{ background-color:#f6f6f6; border:1px solid #dddddd; width:auto;height:100%; padding:5px 5px 5px 10px;}
div#bonusSelect .content{ width:75%;}
div#bonusSelect .line	{ width:1px; height:25px; margin:-25px 0 5px 355px; background-color:#dddddd;}
div#bonusSelect .productDrop { margin:-27px 0 5px 370px;}

						/*View Bonus Details - Playable Balance */
.lightBk				{ background-color:#f6f6f6; } /* body background color */
div#playBalance			{ background-color:#f6f6f6; border:1px solid #dddddd; width:auto;height:auto; padding:10px; position:relative; top:-1px;} /* Playable Balance */
div.balanceLightBk		{ background-color:#FFFFFF;border:1px solid #dddddd;  padding:3px; width:380px; margin:0 auto;} /* Playable Balance Inner Box */
div.balanceTitle		{ font-weight:bold; color:#FFFFFF; padding:3px 0 0 10px;}
table.balanceLayout 	{ background-color:#FFFFFF; width:100%; display: table;}
.h1Row td				{ border:1px solid #797979; border-width:1px 0 0 0;} /* Balance Table - dark dividers */
.h2Row td 				{ border:1px solid #e1e1e1; border-width:1px 0 0 0;} /* Balance Table - light dividers */
						/*--- graphics under Balance Table --*/
div.cashIcon			{ background:url(balance_cash.gif) no-repeat;  width:13px;height:13px; float:left; padding-right:7px;} /* subLevel Arrow */
div.bonusIcon			{ background:url(balance_bonus.gif) no-repeat; width:13px;height:13px; float:left; padding-right:7px;} /* subLevel Arrow */
div.totalIcon			{ background:url(balance_total.gif) no-repeat; width:13px;height:13px; float:left; padding-right:7px;} /* subLevel Arrow */
div.subArrow			{ background:url(balance_subArrow.gif) no-repeat; width:17px;height:12px; float:left; padding-right:3px;} /* subLevel Arrow */
.stripes				{ background:url(stripes.gif) repeat-x;} /* background pattern - striped slashes */
.expiration				{ background-color:#f1f0c6; color:#636100;} /* Expiration color */
						/*-- Playthrough --*/
div.playThru			{ background-color:#ffffff; padding:3px; width:auto; margin:0;} /* PlayThru */
div#rolloverReqDiv		{ background-color:#ffffff; } /* area where rollover content is loaded */
table.playthruLayout,
table.playthruBody		{ background-color:#FFFFFF; width:100%; display: table; } /* PlayThru Table */
.playthruBody .h1Row td { border:1px solid #797979; border-width:1px 0 1px 0;} /* top-bottom of header outline */
.playthruHeader			{ background-color:#f9feff; padding:8px; font-size:11px;} /* title area of table */
.playthruHeader .productList { margin-top:5px; } /* buffer space from rollover instruction and drop down menu */
						/*Tool Tip*/
#dhtmltooltip			{ position: absolute; left: -300px; width: 150px; border: 2px solid #4e6072; padding: 5px 5px 5px 10px; background-color: #7b8a99; visibility: hidden; z-index: 100; font-size:11px; color:#FFFFFF;}
#dhtmlpointer			{ position:absolute; left: -300px; z-index: 101; visibility: hidden; }

										/*Notifications*/
div#inboxTable							{ clear: both; padding: 1em 0 0 0; color: #484848; width: 700px; }
div#inboxTable table					{ width:100%; border: 1px solid #C0C0C0; text-align:center; } /* width of bonus details table */
div#inboxTable tr.unreadReg				{ font-weight:bold;}
div#inboxTable tr.unreadHi				{ font-weight:bold; color:#812323;}
div#inboxTable tr.readReg				{ font-weight:normal;}
div#inboxTable tr.deleted				{ background-color:#f6f6f7;}
div#inboxTable tr.unreadReg .mailImg	{ background:#fff url(mail_unopen.gif) no-repeat 5% 49%; padding-left:30px;}
div#inboxTable tr.unreadHi .mailImg		{ background:#fff url(mail_unopen_hi.gif) no-repeat 5% 49%; padding-left:30px;}
div#inboxTable tr.readReg .mailImg		{ background:#fff url(mail_open.gif) no-repeat 5% 49%; padding-left:30px;}
div#inboxTable tr.readHi .mailImg		{ background:#fff url(mail_open_hi.gif) no-repeat 5% 49%; padding-left:30px;}
div#inboxTable tr.deleted .mailImg		{ background:#f6f6f7 url(mail_deleted.gif) no-repeat 5% 49%; padding-left:30px;}
div#inboxFooter							{ margin: 10px 0 0 5px;}
div#inboxFooter #totalMsgs				{ color:#999999; font-size:11px; float:left;}

										/*account box*/
/*CHANGED*/div#accountBox							{ margin:10px; background: #FFF; border:1px solid #aad3ff; padding:10px;}
div.newMsgs .mailImg					{ background:url(mail_unopen.gif) no-repeat 8px 6px; padding:4px 0 0 30px;}
div.noMsgs .mailImg						{ background:url(mail_disable.gif) no-repeat 8px 6px; padding:4px 0 0 30px;}
/*ADDED*/div.newMsgs .resultLabel			{ color: #1b579f; font-weight: bold; }
/*ADDED*/div.newMsgs .resultLabel a			{ text-decoration: none; color: #000; font-weight: bold; }
/*ADDED*/div.newMsgs .resultLabel a:hover	{ text-decoration: none; }
/*ADDED*/div.noMsgs .resultLabel			{ color: #000; }

										/* pagination */
#pagination 							{ font-size:10px;float:right; margin-top:-5px;}
#pagination table td					{ padding:6px 3px 3px 3px;}
#pagination a.pagenum:link,
#pagination a.pagenum:visited 			{background-color:#e0e0e0; color:#333333; border:1px #999999 solid; padding:1px 3px 1px 3px; text-decoration: none;}
#pagination a.pagenum:hover 			{background-color:#FFFFFF; color:#333333; border:1px #555555 solid; padding:1px 3px 1px 3px; text-decoration: none;}
.currentPage 							{background-color:#3f3f3f; color:#FFFFFF; border:1px #fec500 solid; padding:1px 3px 1px 3px; text-decoration: none;}

										/* message details */
div#bodyBox								{ margin:15px 2px 2px 3px; }
table#messageHeader,
table#messageBody						{ font-size:11px; margin: 5px 0 0 10px;}
table#messageHeader	td,
table#messageBody	td					{ padding:2px;}
div#hiPriority							{ background:url(hiPriority_sign.gif) no-repeat; width:86px; height:48px; float:right; margin:5px;}
div#hiPriorityConfirm					{ background-color:#f7f7f7; padding:3px 2px 6px 0; height:15px;}
div#hiPriorityConfirm table				{ float:right; margin:1px 2px 0 0;}
div#hiPriorityConfirm table	td			{ vertical-align:middle; padding:2px;}
div#popWin						{ position:absolute; width:455px; margin: -150px 0 0 25px;}
div#deleteConfirm 						{ padding:8px 10px 13px 10px; width:250px; height:108px; margin:0 auto; color:#fff;height:auto;_height:105px; /*IE6 only*/}
div#deleteConfirm, div#deleteConfirm .sb-inner		{ background:#fff repeat-x;}
div#deleteConfirm #innerWin				{ background:#666;}
.faded									{ filter: alpha(opacity=30); -moz-opacity: 0.3; }

										/*SIGN UP FORM*/
div#personalInfoSet,
div#accountInfoSet,
div#optionsInfoSet,
div#footerSet							{ padding:10px 0 0 0;}
table#promoCodeArea						{ width:450px; margin:0 auto;}
table#promoCodeArea td					{ padding:5px; vertical-align:top;}
/*CHANGED*/.highlight1								{ background-color:#d9ebff; padding:3px 0 2px 5px;}
/*CHANGED*/.highlightBox							{ background-color:#d9ebff; width:5px; height:19px; float:left; position:relative; margin-left:-6px; overflow:hidden;}
div#personalInfoSet table td,
div#accountInfoSet table td				{ padding:3px 3px 3px 0;}
div.sectionHighlight					{ padding:10px 0 10px 5px;}
.sectionHighlight						{ background-color:#f5f5f5; }
div.usernameAvail table					{ margin:0 0 0 110px;}
div.usernameError						{ margin:0 0 0 110px;}
div.usernameSugg						{ margin:0 0 0 20px;}
div.usernameSysError					{ margin:0 0 0 110px;}
.notifyBox								{ background-color:#ffffdc; border:1px solid #e1c0a6; padding: 4px 3px 4px 3px; color:#892d2d; width:auto;} /* style error box (thin) */

										/* Post Sign Up Form */
div#signUpSuccess						{}
.checkMark								{ background:url(signup_check.gif) no-repeat; width:41px; height:37px;}

										/* Mailing Details */
div.addressInfoSet						{ margin-top:2px; padding:10px 0 10px 100px;}
div.addressInfoSetHiLight				{ margin-top:2px; padding:10px 0 10px 100px; background-color:#f5f5f5;}
div.addressInfoSet table td,
div.addressInfoSetHiLight table td		{ padding:3px 5px 3px 0;}


/***** Fonts/Text *****/
.bodyText				{ font-weight:normal; color:#333333;}
.instructionTxt			{ padding-left:4px; padding-bottom:5px;}

						/*-- Forms ---*/
div.inputAreaTxt		{ font-weight:bold; font-size:11px; color:#333333;} /* Globally affects fields in form */
.entryLabel				{ font-weight:bold; padding-right:5px;} /* specific text style for form field labels */
.entryLabelLight		{ font-weight:bold; padding-right:5px; color:#898989;} /* specific text style for form field labels - lighter version */
.resultLabel			{ font-weight:normal; color:#666666; } /* specific text style for confirmation information */
/*CHANGED*/div span.subTitle2		{ font-weight:bold; font-size:12px; color:#333333;} /* sub header title text - secondary font style */
div.topHeaderTxt		{ font-weight:bold; font-size:14px; color:#FFFFFF; } /* top header title text */
div.subHeaderTxt		{ font-weight:bold; font-size:12px; color:#333333;} /* sub header title text */
p.topHeaderTxt			{ font-weight:bold; font-size:14px; color:#FFFFFF; } /* title text used in password hint */
p.subHeaderTxt			{ font-weight:bold; font-size:12px; color:#333333;} /* subTitle text used in password hint */
.errorH1				{ color:#333333; font-weight:bold; } /* error text Style 1 */
.errorH2				{ color:#890d00; font-weight:bold; padding-left:10px;} /* error text Style 2 */
.errorH2Expired			{ color:#890d00; font-weight:bold; padding:5px;} /* error text Style 2 - for expired pages */
.errorH3				{ color:#890d00; font-weight:normal; padding-left:10px;}
.errorLabel				{ color:#890d00; font-weight:bold; padding-right:5px;}
.priority				{ color:#8a0101; font-weight:normal; font-size:11px;}
.weakLabel				{ color:#890d00; font-weight:bold; font-size:11px;} /* password word strength text - weak */
.mediumLabel			{ color:#896616; font-weight:bold;} /* password word strength text - medium */
.strongLabel			{ color:#868012; font-weight:bold;} /* password word strength text - strong */
.bestLabel				{ color:#459526; font-weight:bold;} /* password word strength text - best */
.signInMsgLabel			{ color:#890d00; font-weight:bold; font-size:12px;}
.CCSMsgLabel			{ color:#890d00; font-weight:bold; font-size:12px;}
.successTxt				{ color:#336600; font-weight:bold; font-size:14px;} /* success text when complete pathway */
.titleBarTxt			{ color:#ffffff; font-weight:bold; padding:3px 0 0 10px;}
.featureTxt				{ padding:7px 7px 0 10px; width:190px;}
.inactive				{ color:#bbbbbb; }

						/*View Bonus Details - Playable Balance */
.h1Title				{ font-size:11px; font-weight:bold; padding:3px 0 3px 10px; vertical-align:top;} /* Playable Balance - level 1 Titles */
.h1SubTitle				{ font-size:11px; font-weight:bold; padding:3px 0 3px 10px; color:#868686;} /* Rollover Rate - level 1 Titles */
.h2Title				{ font-size:11px; font-weight:bold; padding:3px 0 3px 72px; color:#868686;} /* Playable Balance - level 2 Titles */

.balanceAmt				{ font-size:11px;font-weight:bold; text-align:right; padding:3px 10px 3px 0; background-color:#f2f2f2; width:25%;}
.rolloverAmt			{ font-size:11px;font-weight:bold; text-align:center; padding:3px; background-color:#f2f2f2; width:30%;}
.balanceAmtTotal		{ font-size:11px; font-weight:bold; text-align:right; padding:3px 10px 3px 0; background-color:#7e7e7e; color:#e4ffdf; width:25%;}

						/*Delete Confirmation Window*/
.winHeader				{ background:#fff; font-weight:bold; color:#333333; padding:3px 0 3px 5px;border:1px solid #666;}
.winBody				{ font-weight:bold; color:#fff; text-align:center; padding:8px 0 8px 0;}

/***** Alignment + Spacing *****/
.floatRight				{ float:right; padding-left:10px;}
.leftAlign				{ text-align:left;}
.rightAlign				{ text-align:right;}
.centerAlign			{ text-align:center;}
.relativeCenter			{ margin:0 auto;}
.heightBuffer			{ height:30px;}
.padLeft				{ padding-left:10px;}
.topSpacerSm			{ padding-top:10px; }
.topSpacerMed			{ margin-top:30px; }
.topMarginSm			{ margin-top:10px; }
.botSpacerSm			{ margin-bottom:10px; }
.botSpacerMed			{ margin-bottom:30px; }
.spacingSm				{ padding:5px; }
.spacingMed				{ padding:8px; }

/***** Input Methods *****/
#buttonClearance 		{ padding:15px 5px 0 5px; } /* button configuration*/
.buttonSpacing	 		{ padding:15px 5px 10px 5px; } /* button configuration*/
#inputAreaChangePW input{ width:120px;}
input.field				{ background: #FFF url(blank.gif) repeat;}
.disabledField			{ background: #CCC url(blankGray.gif) repeat; color:#999; border:1px #000000 solid; font-family:inherit; font-size:11px; font-weight:normal; padding:2px; border-color:#555555;}
input.checkbox			{ height:13px; width:13px;}
input.radio				{ height:13px; width:13px;}
/*CHANGED*/a:link, a:active		{ color:#1b579f; text-decoration:none; outline:none;}
/*CHANGED*/a:visited				{ color:#1b579f; outline:none;}
/*CHANGED*/a:hover					{ color:#1b579f; outline:none; text-decoration:underline;}
/*CHANGED*/a.minorLink:link,
/*CHANGED*/a.minorLink:active		{ font-size:11px; font-weight:normal; color:#1b579f; text-decoration:none;outline:none;}
/*CHANGED*/a.minorLink:visited		{ font-size:11px; font-weight:normal; color:#1b579f; text-decoration:none;outline:none;}
a.minorLink:hover		{ font-size:11px; font-weight:normal; color:#1b579f; text-decoration:underline;outline:none;}
/*CHANGED*/a.notifyLink:link,
/*CHANGED*/a.notifyLink:active		{ font-size:11px; font-weight:bold; color:#1b579f; text-decoration:none;outline:none;}
/*CHANGED*/a.notifyLink:visited	{ font-size:11px; font-weight:bold; color:#1b579f; text-decoration:none;outline:none;}
/*CHANGED*/a.notifyLink:hover		{ font-size:11px; font-weight:bold; color:#1b579f; text-decoration:underline;outline:none;}
/*CHANGED*/a.hiPriority:link,
/*CHANGED*/a.hiPriority:active		{ font-size:11px; font-weight:bold; color:#812323; text-decoration:none;outline:none;}
/*CHANGED*/a.hiPriority:visited	{ font-size:11px; font-weight:bold; color:#812323; text-decoration:none;outline:none;}
/*CHANGED*/a.hiPriority:hover		{ font-size:11px; font-weight:bold; color:#812323; text-decoration:underline;outline:none;}
/*CHANGED*/a.standard:link,
/*CHANGED*/a.standard:active		{ font-size:11px; font-weight:normal; color:#1b579f; text-decoration:none;outline:none;}
/*CHANGED*/a.standard:visited		{ font-size:11px; font-weight:normal; color:#1b579f; text-decoration:none;outline:none;}
/*CHANGED*/a.standard:hover		{ font-size:11px; font-weight:normal; color:#1b579f; text-decoration:underline;outline:none;}
select					{ background-color:#FEFEFE; font-family:inherit; font-size:11px; font-weight:normal; color:#333333; text-indent:1px;}
select option			{ text-indent:6px; }
.field 					{ border:1px #000000 solid; background-color:#FEFEFE; font-family:inherit; font-size:11px; font-weight:normal; color:#333333; padding:2px; border-color:#555555;}
.condensedBtn			{ padding:0; font-family:inherit; font-size:11px; font-weight:normal;}
						/* textfields */

/* navigation bar container */
#nav_contain     { width: 100%; height: 27px; float: left; margin: 0; padding: 0; background: url(nav_gradient_dark.gif) 0 0 repeat-x; text-shadow: 0 -1px 1px #444;  }
#nav_contain span:after { content: url(nav_divider.gif); width: 2px; height: 100%; padding: 0; margin: 0;}
#nav_contain li { display: inline; margin: 0; padding: 0; float: left; list-style-image: url(nav_divider.gif); height: 100%; width: auto; }

/* unselected navigation tab */
.nav_btn a   { font-weight: bold; font-size: 12px; font-family: sans-serif; margin: 0; float: left; padding: 6px 10px; width: auto; text-align: center; float: left; color: #FFF; text-decoration: none;}
.nav_btn a:visited { color: #fffffc; text-decoration: none;}
.nav_btn a:linked { color: #fffffc; text-decoration: none;}
.nav_btn a:hover {  color: #ffcc00; text-decoration: none; }

/* selected navigation tab */
.nav_btn_selected a   { font-weight: bold; font-size: 12px; font-family: sans-serif; float: left; margin: 0; padding: 6px 10px; width: auto; text-align: center; background: url(nav_gradient_yellow.gif) 0 0 repeat-x; text-shadow: 0 -1px 1px #8f6526; color: #FFF; text-decoration: none; }
.nav_btn_selected a:visited {  color: #fffffc; text-decoration: none;}
.nav_btn_selected a:linked {  color: #fffffc; text-decoration: none;}
.nav_btn_selected a:hover {  color: #ffcc00; text-decoration: none;}

/* navigation bar divider */
#nav_div { background: url(nav_divider.gif) 0 0 no-repeat; float: left; #width: 2px; #height: 100%; #padding: 0; #margin: 0; }

/* inner iframe for the navigation bar page */
#navBarIframe {height:900px; width: 760px; overflow-x: auto; overflow-y: auto; }

/* Styles for My Account sub navigation section */
.sub_nav  	 	{position:relative; height:25px; width:100%;}
.sub_nav ul		{position:relative; margin:0 5px 0 5px; padding:0; height:25px; background:url('sub_nav_img.png') 0px -30px repeat-x; }
.sub_nav ul li		{padding:0; margin:0; list-style:none; float:left; height:25px display:inline;}
.sub_nav ul li a 	{line-height:25px; display:block; background:url('sub_nav_img.png') 100% -60px no-repeat; padding:0 8px 0 8px; outline:none; font-weight: bold;}
.sub_nav ul li a:hover 	{text-decoration:underline; color:rgb(172,148,49); font-weight: bold;}
.sub_nav ul li a.active	{background:none; color:rgb(131,110,25); font-weight: bold;}
.sub_nav ul li a.active:hover {text-decoration:underline; font-weight: bold; color:rgb(172,148,49);}
.sub_nav .left		{position:absolute; top:0px; left:0px; width:10px; height:25px; display:block; z-index:1; background:url('sub_nav_img.png') 0% 0px no-repeat;}
.sub_nav .right	{position:absolute; top:0px; right:0px; width:10px; height:25px; display:block; z-index:1;  background:url('sub_nav_img.png') 100% -90px no-repeat; }
.sub_nav ul li.sub_nav_selected a 	{text-decoration:none; color:#000000; font-weight: bold;}
.sub_nav ul li.sub_nav_selected a.active 	{text-decoration:none; color:#000000; font-weight: bold;}


/* gray subheader background for Account Details and My Activities page  */
div.graySubHeader         { position:relative; top:10px; background:url(grayHeader.gif) repeat-x; height:22px;}

/* gray subheader text for Account Details and My Activities page   */
.grayHeaderTxt              { font-weight:bold; font-size:12px; color:#ffffff;}
.grayBoxTxtPos                         { position:relative; margin-left:20px; top:2px; }

/* my activities table */
.myActivitiesTable {border-right:1px solid; border-bottom:1px solid; border-color: #cccccc; }
.myActivitiesTable td { padding:5px 0px 5px 5px; }


/* body for each subsection tables in Account Details page */
div#acctDetsSet                {margin: 5px 0px 5px 10px; width: 657px;}
div#acctDetsSet td         { padding:3px 3px 3px 0; vertical-align: top;}

/* labels within the subsection tables in Account Details page */
.acctDetsLabel                          { font-weight:bold; }

/* values within the subsection table in Account Details page */
.acctDetsValue                          { color:#800000 ; }

/* edit link within the subsection tables in Account Details page */
.editLink                        {  float:right;}

/* address label for acctDetails page in Account Details page */
.addrLabel                     { vertical-align:top;}

/* Account Details update success box */
.acctDetsSuccessTable { border:2px solid; background:#FFFFE0; border-color: green;  width:678px; }
.acctDetsSuccessTable td { padding:10px 0px 10px 15px; }

/* Account Details update success box icon */
.acctDetscheckMark      { background:url(signup_check.gif) no-repeat;  width:41px; height:35px;}

/* Account Details update success box text */
.acctDetsSuccessTxt     { color:#336600; font-weight:bold; font-size:12px; text-align:left; width:100%} /* success text when complete pathway */

/* Account Details update extra info  */
.extraInfo                       { color:#892d2d; font-size: 11px; font-weight: normal; }

/* scrollable area */
div#scroll {   overflow: auto; }  /* test: height:530px; */

/* light signup form email field */
.emailFieldWidth                       {width:110px;}


/*============================== BREADCRUMB ================================*/
#breadCrumb { width:100%; height: 18px; margin: -3px 0 10px 0; color:#626262; font-weight: bold; font-size: 11px; line-height:18px; background:url(breadcrumb_bar.gif) repeat-x;}
#breadCrumb ul { line-height:18px; border: 1px solid #797979; height: 18px; }
#breadCrumb ul li           { list-style:none; display:inline; }
#breadCrumb li .trail       { background:url(crumb_div.gif) no-repeat right top; float:left; padding:0 15px 0 0; /*adjust px for positioning text*/ }
#breadCrumb li .end         { float:left; padding:0 15px 0 0; /*adjust px for positioning text*/ }
#breadCrumb .numbers        { float:left; padding:3px 4px 3px 10px; /*adjust px for positioning text*/ }
#breadCrumb .current        { color: #343434; }
#breadCrumb ul li a         { color:#626262; text-decoration:none; }
#breadCrumb ul li a:hover   { color:#343434; text-decoration:none; }

.onBlock  { border:1px solid #868686; padding:2px 2px 2px 3px; }
.offBlock { border:1px dotted #cccccc; padding:2px 2px 2px 3px; }

/*============================== LOYALTY ================================*/

/* Styles for My Account Loyalty and Redemption store related pages */
div.grayBoxMessage         { background:url(boxAccentLg.jpg) repeat-x; height:auto; width:auto; border:1px solid #868686;}
div#infoTable                                              	 { margin:-28px 0 0 0; font-size:11px;}
div#infoTable table                                     	{  border:1px solid #868686; border-width:0 1px 0 1px;} /* width of bonus details table */
div#infoTable table th                                  	{ border-right: 1px solid #C0C0C0; vertical-align:top; padding:7px 0 6px 7px; color:#FFFFFF; text-align:center; white-space:nowrap;}
div#infoTable table th.headerLine               { background:url(shortcolumnLine.gif) no-repeat 100% 50%;}
div#infoTable table th.fromColumn             { padding-left:30px; }
div#infoTable table th.subjectColumn    	{ width:185px; }
div#infoTable table th.dateColumn    	 { width:130px;}
div#infoTable table td                                	{ border:1px solid #868686; padding:0 5px 0 7px;border-width:1px 1px 1px 0px; height:30px;text-align:center}
div#infoTable table tbody tr 	{ background-color:#FFFFFF; }
.iconPlatinum      	{ background:url(iconSmlPlatinum.png) no-repeat -1px 0; background-color: #808080; }
.iconGold                	 { background:url(iconSmlGold.png) no-repeat -1px 0; background-color: #808080; }
.iconSilver               	{ background:url(iconSmlSilver.png) no-repeat -1px 0; background-color: #808080; }
.iconBronze              	 { background:url(iconSmlBronze.png) no-repeat -1px 0; background-color: #808080; }
.iconText                  	 { padding-left: 20px; }
.errorMsgIcon             	 { width: 160px; background: url(warningIcon.png) no-repeat; padding: 0 0 3px 18px; margin: 9px 15px; line-height: 12px; font-size: 10px; font-weight: bold; color:#9e0000; }
.errorMsgInfo              { width: 185px; padding: 0 3px 3px 3px; margin: 7px 8px; line-height: 12px; font-size: 10px; font-weight: bold; color:#9e0000; }
#infoTitle                  { float: left; font-weight: bold; font-size: 16px; width: 700px; }
#infoTitleDesc          { float: left; font-weight: normal; font-size: 11px; color: #555; padding-bottom: 5px; }
#infoSubTitle            { float: left; font-weight: bold; font-size: 13px; width: 700px; }
#infoParagraph        { float: left; font-weight: normal; font-size: 12px; width: 700px; line-height: 18px; padding: 5px 0; }
.infoParagraph         { font-weight: normal; font-size: 12px; width: 680px; line-height: 18px; padding: 5px 0; }
#lineDivider              { float: left; margin: 15px 0 3px 0; border-top: 1px dotted #BBB; width: 703px; }
#infoLeftCol              { float: left; font-weight: bold; width: 180px; padding: 5px 0 5px 12px; }
#infoRightCol            { float: left; font-weight: normal; width: 500px; padding: 5px 0 5px 2px; }
#infoRightColLevel   { float: left; font-weight: bold; font-size: 12px; width: 460px; padding: 5px 0 5px 27px; }
.arrow                      { background: url(arrowOrange.gif) no-repeat left; padding: 0 0 0 12px; }
#clear                       { clear: both; height: 0; }
.superscript              { color: #f07429; font-size: 75%; position: relative; top: -3px; }
.listSpacing               { margin: 2px 0; }
#legendHTE              { float: left; font-weight: normal; font-size: 11px; color: #555; padding-bottom: 5px; width:430px; }
.textHighlight           { color: #cc9235; }
.asterisk                    { color: #f07429; font-size: 12px; line-height: 1px; }
.cross                        { color: #f07429; font-size: 11px; position: relative; top: -1px; }
.spacer                      { height: 8px; }
.itemIcon                  { float: left; width: 48px; height: 48px; padding: 10px 10px 10px 0px;}
#loyaltyLevel           { width: 90px; padding: 5px 0 5px 27px; margin: 0; text-transform: uppercase; font-weight: bold; }
.notificationBox       { width: 675px; line-height: 20px; margin: 5px 0 15px 0; padding: 5px 0 5px 0; border: 0 none; color:#373737; font-size: 12px; }
.notificationSuccess        { width: 694px; background: url(checkmark.png) 10px 7px no-repeat; line-height: 20px; margin: 5px 0 15px 0; padding: 4px 12px 4px 29px; border: 2px solid #559037; background-color:#e7f8de; color:#373737; font-size: 12px; }
.confirmationBox             { text-align: center; line-height: 20px; margin: 15px 0; padding: 4px 12px; border: 2px solid #fdb441; background-color:#fffde4; color:#373737; font-size: 12px; }
.confirmationContainer      { width: 400px; margin: 0; padding: 20px 10px; overflow: hidden; }
.statusPlatinum         { background:url(iconSmlPlatinum.png) no-repeat -1px 0; }
.statusGold                 { background:url(iconSmlGold.png) no-repeat -1px 0; }
.statusSilver               { background:url(iconSmlSilver.png) no-repeat -1px 0; }
.statusBronze             { background:url(iconSmlBronze.png) no-repeat -1px 0; }
.quanAmt                    { font-size: 14px; line-height: 24px; font-weight: bold; }
.totalCost                    { float: right; padding: 10px 5px 5px 15px; margin: 0; font-size: 18px; font-weight: bold; }
.totalCostError           { float: right; padding: 10px 5px 5px 15px; margin: 0; font-size: 18px; font-weight: bold; color:#9e0000; }
.totalPoints                 { color: #cc9235; }
.totalPointsError        { color: #9e0000; }
.newPointsBalance         { float: right; padding: 10px 5px 5px 15px; margin: 0; font-size: 12px; font-weight: bold; }
.buttonContainer            { float: right; padding: 10px 0 0 0; }
.buttonContainer2         { float: right; }
.inputField 	                 { width: 30px; border:1px solid #807a66; background-color:#fffcf2; font-family:inherit; font-size:12px; font-weight:normal; color:#333; padding:2px; }
.inputFieldError            { width: 30px; border:1px solid #9e0000; background-color:#f4bebe; font-family:inherit; font-size:12px; font-weight:bold; color:#9e0000; padding:2px; }
.bottomInfo         { float: left; width: 700px; font-weight: normal; font-size: 11px; line-height: 18px; color: #555; padding: 0 3px; }
.bonusItem           { font-size:14px; font-weight:bold }
.btnNext                { float: left; width: 58px; height: 20px; margin: 0; background:url(next_up.gif) no-repeat; }
.btnNext:hover    { float: left; width: 58px; height: 20px; margin: 0; background:url(next_over.gif) no-repeat; }
.btnBack                { float: left; width: 58px; height: 20px; margin: 0; background:url(back_up.gif) no-repeat; }
.btnBack:hover    { float: left; width: 58px; height: 20px; margin: 0; background:url(back_over.gif) no-repeat; }
.btnCancel            { float: left; width: 58px; height: 20px; margin: 0; background:url(cancel_up.gif) no-repeat; }
.btnCancel:hover{ float: left; width: 58px; height: 20px; margin: 0; background:url(cancel_over.gif) no-repeat; }
.btnYes                   { float: left; width: 58px; height: 20px; margin-left: 5px; background:url(yes_up.gif) no-repeat; }
.btnYes:hover        { float: left; width: 58px; height: 20px; margin-left: 5px; background:url(yes_over.gif) no-repeat; }
.btnBuyNow          { float: left; width: 67px; height: 20px; margin-left: 5px; background:url(next_up.gif) no-repeat; }
.btnBuyNow:hover      { float: left; width: 67px; height: 20px; margin-left: 5px; background:url(next_over.gif) no-repeat; }
.btnBackStore               { float: left; width: 154px; height: 20px; margin: 0; background:url(back_to_store_up.gif) no-repeat; }
.btnBackStore:hover   { float: left; width: 154px; height: 20px; margin: 0; background:url(back_to_store_over.gif) no-repeat; }
