{include file="/home/ah/allhorse/public_html/usracing/block_belmont/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}

<p>Find all the <a title="Belmont Stakes Odds" href="/belmont-stakes/odds">Belmont Stakes odds</a> for {$BELMONT_YEAR} at  BUSR. You can place a bet for win, place, show, trifecta and more at our recommended ADWs and racebooks!</p>
<h2>Belmont Stakes Props and Bets</h2>
<p>{include file='/home/ah/allhorse/public_html/belmont/bs_props_odds_1513.php'}</p>
{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}

{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_belmont/end-of-page-blocks.tpl"}