{include file="/home/ah/allhorse/public_html/usracing/schema/web-page.tpl"}

{include file='inc/left-nav-btn.tpl'}

<div id="left-nav">



<!-- ---------------------- left menu contents ---------------------- -->



        

          

          

                  {include file='menus/belmontstakes.tpl'}

<!-- ---------------------- end left menu contents ------------------- -->         

</div>

      

<!--------- NEW HERO  ---------------------------------------->



<div class="newHero" style="background-image: url({$hero});" alt="{$hero_alt}">

 <div class="text text-xl centerText">{$h1}</div>

 <div class="text text-xl" style="margin-top:0px; centerText">{$h1b}</div>

 	<div class="text text-md centerText">{$h2}

	 	<br>

	 		<a href="/signup?ref={$ref}"><div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i>{$signup_cta}</div></a>

	</div>

 </div>

 

<!--------- NEW HERO END ---------------------------------------->   

     <!------------------------------------------------------------------>    

{* {include file="/home/ah/allhorse/public_html/usracing/as_seen_on.tpl"} *}

{* include file="/home/ah/allhorse/public_html/belmont/block-countdown-white-belmont.tpl" *}
{include file="/home/ah/allhorse/public_html/belmont/block-countdown-new.tpl"}




<!------------------------------------------------------------------>          

      

      <div id="main" class="container">

<div class="row">





<div id="left-col" class="col-md-9">



          

           

                                        

          

<div class="headline"><h1>Belmont Stakes Video</h1></div>







<div class="content">

<!-- --------------------- content starts here ---------------------- -->





{include file='/home/ah/allhorse/public_html/belmont/wherewhenwatch.tpl'} 




{*
 <p>https://www.youtube.com/watch?v=hZDbn9P6NqU
</p>
*}
 

<h2>Latest Belmont Stakes Video Picks</h2>


<div>
<div class="video-responsive">
<iframe  width="420" height="315" src="https://www.youtube.com/embed/hZDbn9P6NqU" frameborder="0" allowfullscreen></iframe>
</div>
</div>

{*
<div class="ytFeed">

     <div id="yt-list4" class="yt-feed" data-plumtube data-plum-max-results="20" data-plum-show-title="link" data-plum-playlist="PLEKyEB4uQTtCJUoqA1ysBizFkZVuwuSpB" data-plum-modal="true"  data-plum-large-thumb="true"></div>

</div>
*}


{*

{include file='inc/disclaimer-bs.tpl'} 

*}

         

<!-- ------------------------ content ends -------------------------- -->

</div> <!-- end/ content -->

</div> <!-- end/ #left-col -->







<div id="right-col" class="col-md-3">

{include file='inc/rightcol-calltoaction-bs.tpl'}

{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 



</div><!-- end: #right-col --> 



 

</div><!-- end/row -->

</div><!-- /#container --> 









      

    