<div class="topR">
<div class="stamp ico"><i class="fa fa-gavel"></i> Legal <i class="fa fa-check"></i> Licensed <i class="fa fa-shield"></i> Secure</div>
<div class="stamp ph"><i class="glyphicon glyphicon-phone-alt"></i> {include file='inc/phone-all.tpl'}</div>
</div>