
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->





{include file='menus/promotions.tpl'}
{include file='menus/help.tpl'}




<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      

      
<!-- begin: #col3 -->
<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">





<!-- <div class="field-items">
<div class="field-item odd">-->

<div class="promos-title"><h2>$25 FREE CASH!</h2></div>
<div id="promos-content">    
			
<div class="promos-box">			
			<div class="icon"><img src="/themes/images/promo-25freecash.gif" /></div>
			<div class="header">$25 FREE CASH!</div>        
			<div class="current-info">
			
<p>There's no shortage of great player bonuses at US Racing  because there's no shortage of action! If you thought we were done loading you up with bonuses, think again because we are giving you <b>$25 Free Cash!</b></p> 

<p>Bet in our Instant Casino, spin the slots for a huge jackpot, deal the cards on our variety of Blackjack tables or feel the rush with our Virtual Derby Horse Racing Game. Setting the Pace at US Racing!</p>

<p>Just <b>deposit $50</b> or more with the promocode <b>REC25M3</b> and get $25 instantly credited to your account.</p>

			</div><!-- end: .current-info -->
</div><!-- end: .promo-box -->           
            
</div>

<!--</div>
</div>-->

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 





