{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          


{include file='menus/promotions.tpl'}
{include file='menus/help.tpl'}


          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
            
      

      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">




    		
    		<!-- <div class="field-items">
            <div class="field-item odd">

<div class="promos-title"><h2>$5,000.00 Blackjack Tournament</h2></div>
<div id="promos-content">    
			
<div class="promos-box">			
			<div class="icon"><img src="/themes/images/promo-breederscup-bj.gif" /></div>
			<div class="header">$5,000.00 Breeders' Cup Blackjack Tournament</div>        
			<div class="current-info">
<p>No Entry Fee, No Registration! <strong>56 cash prizes</strong> will be given away to members who play Regular Blackjack, Mini Blackjack, Multi-Player Blackjack, Super 7 Blackjack or Blackjack Switch in either web/java or download versions.</p>
<br />
<strong>FREE $5.000.00 BREEDERS' CUP BLACKJACK TOURNAMENT</strong><br /><br />
No enrollment necessary, just come and play!<br />
<br />
<u><strong>How to Play</strong></u><br />
<br />
What do you need to play a Blackjack Tournament worth $5,000 in prizes? Nothing, just come in and play! Not a penny for registration and no entry necessary. Play in our Breeders' Cup Blackjack Tournament at usracing.com this Breeders' Cup weekend on Saturday and or Sunday, and you are in the tournament.<br />
<br />
<u><strong>Prizes</strong></u><br />
<br />
The $5,000 prize pool is distributed as follows:<br />
<br />
1st place - Highest Win Percentage $1000.00<br />
2nd place - Second Highest Win Percentage $500.00<br /> 
3rd place - Third Highest Win Percentage $250.00<br /> 
4th - 15th places - Best Places by Highest Amounts Wagered $100.00 (12 prizes)<br /> 
11th - 56th places - Best Places by Highest Amount of Losses $50.00 (41 prizes)<br />
<br />
<a href="/casino"><strong>Play Now!</strong></a><br /><br /><br />
<b>Terms and Conditions:</b><br />
The 100% Win Bonus is on 'Win' bets only placed in the Racebook on the race listed above.
<br />
<br />
<ol>
<li>No entry fee and No registration.</li>
<li>This promotion is valid to all eligible members who play Regular Blackjack, Mini Blackjack (2), Multiplayer Blackjack, Super 7 Blackjack, and Switch Blackjack, in either web/java or download form; between 12:01 am EST on <strong>November 5th and November 6th</strong></li>
<li>In order to qualify for a prize you need to accumulate a minimum of $750.00 in total wagers by playing the required games.</li>
<li>All activity reported on the participating Casino games between tournament dates will be included.</li>
<li>Prizes will be credited into the winner's v-chip balance on <strong>November 5th and November 6th</strong></li>
<li>Winners will be announced on November 7th </li>
<li>Please note, as per company policy, any bonus which is not used within 30 days from the date of credit will expire.</li>
<li>Tournament prizes must be rolled over in the Casino 40 times before cashing out. </li>
<li><strong>usracing.com</strong> Casino reserves the right to modify or cancel this promotion at its sole discretion without prior notice.</li>
<li>General <a href="house-rules"><strong>House Rules</strong></a> apply. </li>
</ol>

			</div><!-- end: .current-info 
</div><!-- end: .promo-box          
            
            
</div>

</div>
</div> -->


            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    