{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          


{include file='menus/promotions.tpl'}
{include file='menus/help.tpl'}


          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
            
      

<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">





<!-- <div class="field-items">
<div class="field-item odd">

<div class="promos-title"><h2>50% Thursday Casino Cash Back</h2></div>

<div id="promos-content">    
			     
			<div class="promos-box">			
			<div class="icon"><img src="/themes/images/promo-50percent.gif" /></div>
			<div class="header">50% Thursday Casino Cash Back!</div>        
			<div class="current-info">
<p>Every Thursday get 50% cash back on Friday morning! Play any of our casino games on Thursdays and we will give you 50% cash back on your casino losses the next day.</p><br />
<a href="/casino"><strong>Play Now!</strong></a>
			</div>
			</div>

</div><!-- end: promos-content --
          
</div>
</div> -->



<div class="promos-title"><h2>Sunday Best FREE Casino Tournament</h2></div>

<div id="promos-content">    
			     
			<div class="promos-box">			
			<div class="icon"><img src="/themes/images/promo-freecasinotournament.gif" /></div>
			<div class="header">Sunday Best FREE Casino Tournament</div>        
			<div class="current-info">
<p>US Racing Sunday Best FREE Casino Tournament. Just play the featured tournament games and you're automatically entered into the tournament.</p><br />
<p>There's $1,000.00 up for grabs for the players with the highest payout percentage:</p><br>
<p>
- $500<br>
- $375<br>
- $125<br>
</p>
<br>
<p>This week's tournament games: <strong>Blackjack Switch</strong></p>
<br>
<a href="/casino"><strong>Play Now!</strong></a>
<br />
<br />
<strong>Terms and Conditions</strong>
<br>
<ul>
<li>Promotion is open to all active members.</li>
<li>Registration is not required.</li>
<li>To be eligible you must have action on the featured game (Blackjack Switch) between 11am and 11pm ET every Sunday of the week.</li>
<li>Tournament prizes will be credited within 24 hours.</li>
<li>To qualify for prizes, player must play a minimum 100 rounds.</li>
<li>Blackjack activity in our Poker Software will not count for this tournament.</li>
<li>Blackjack activity in our Vegas Live Casino will not count for this tournament.</li>
<li>Tournament prizes awarded based on total hands played and highest payout percentage.</li>
<li>Rollover requirements apply.</li>
<li>Games which will not count towards wagering requirements are Craps & Roulette.</li>
<li>We only allow one bonus per account/household or environment where computers are shared.</li>
<li>US Racing reserves the right to modify or cancel this promotion at any time.</li>
<li><a href="/house-rules">General house rules apply.</a></li>
</ul>
<br>

			</div>
			</div>

</div><!-- end: promos-content -->
          



</div>



 <!-- end: conetnt-wrapper -->

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 






