{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          


{include file='menus/promotions.tpl'}
{include file='menus/help.tpl'}


          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
            
      

<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">





<!-- <div class="field-items">
<div class="field-item odd">

<div class="promos-title"><h2>50% Thursday Casino Cash Back</h2></div>

<div id="promos-content">    
			     
			<div class="promos-box">			
			<div class="icon"><img src="/themes/images/promo-50percent.gif" /></div>
			<div class="header">50% Thursday Casino Cash Back!</div>        
			<div class="current-info">
<p>Every Thursday get 50% cash back on Friday morning! Play any of our casino games on Thursdays and we will give you 50% cash back on your casino losses the next day.</p><br />
<a href="/casino"><strong>Play Now!</strong></a>
			</div>
			</div>

</div><!-- end: promos-content --
          
</div>
</div> -->



<div class="promos-title"><h2>Casino 10% Cash Back Bonus Each Month.</h2></div>

<div id="promos-content">    
			     
			<div class="promos-box">			
			<div class="icon"><img src="/themes/images/promo-10percent.gif" /></div>
			<div class="header">Casino 10% Cash Back Bonus Each Month.</div>        
			<div class="current-info">
<p>Setting the Pace at US Racing casino,each month our loyal members get up to $250 in free cash monthly!
<br />
<br />
Members get 10% cash back deposit bonus based on net losses in our Casino The bonus is added to your first $100 deposit the following month and is valid for 30 days.
</p>
<br />
<a href="/casino"><strong>Play Now!</strong></a>
<br />
<br />
<p><strong>Terms and Conditions</strong></p>
<br>
<ul>
<li>Promotion is open to all active members.</li>
<li>Registration is not required.</li>
<li>To be eligible you must have action on US Racing casino between the first and the last day of each calendar month.</li>
<li>The 10% monthly cash back bonus will be credited 24 hours after your first $100.00 deposit of the following month.</li>
<li>The free cash back bonus can be only used on the casino only</li>
<li>Blackjack activity in our Poker Software will not count for this bonus.</li>
<li>Standard casino rollover requirements apply.</li>
<li>Games which will not count towards wagering requirements are Craps & Roulette.</li>
<li>We only allow one bonus per account/household or environment where computers are shared.</li>
<li>US Racing reserves the right to modify or cancel this promotion at any time.</li>
<li><a href="/house-rules">General house rules apply.</a></li>
</ul>
<br>

			</div>
			</div>

</div><!-- end: promos-content -->
          



</div>



 <!-- end: conetnt-wrapper -->

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 






