
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          


{include file='menus/promotions.tpl'}
{include file='menus/help.tpl'}


          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      

      

      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">




    		
    		
            

<div class="promos-title"><h2>$2K Spanish Blackjack Tournament</h2></div>
<div id="promos-content">    
			<div class="promos-box">			
			<div class="icon"><img src="/themes/images/promo-blackjack-2k.gif" /></div>
			<div class="header">$2K Spanish Blackjack Tournament</div>        
			<div class="current-info">
<strong>We are so excited about Uncle Mo's second race this season that we are offering a Black Jack Tournament like no other. Spanish Blackjack Tournament!</strong>
<br />
<br />
<b>OUR 2K Spanish BJ Tournament!!</b>
<br />
<br />
<strong>April 8th and 9th will be a memorable day for You.</strong>
<br />
<br />
$2000.00 Spanish Blackjack Tournament –Apr  8 & 9th
<br />
<br />
$2000.00 Blackjack Tournament - No Entry Fee, No Registration! 21 cash prizes will be given away to members who play Spanish Blackjack in either web/java or download versions.
<br />
<br />
<b>FREE $2000.00 Spanish BLACKJACK TOURNAMENT</b>
<br />
No enrollment necessary, all you have to do is play Spanish Blackjack!
<br />
<b>How to Play:</b>
<br />
<br />
What do you need to play a Blackjack Tournament worth $2000 in prizes? Nothing, just come in and play Spanish BJ! Not a penny for registration and no entry necessary. Play in our Triple Spanish Blackjack Tournament at US Racing this weekend on Friday and or Saturday and you are in the tournament.
<br />
<br />
<b>Prizes:</b>
<br />
The $2000 prize pool is distributed as follows:
<br />
<br />
<ol>
<li>No entry fee and No registration.</li>

<li>This promotion is valid to all eligible members who play Spanish Blackjack Only in either web/java or download form; between 12:01 am EST on April 8th and April 9th 2011</li>

<li>In order to qualify for a prize you need to accumulate a minimum of $750.00 in total wagers by playing the required game.</li>

<li>All activity reported on the participating Casino games between tournament dates will be included.</li>

<li>Winners will be announced on April 10th</li>

<li>Prizes will be credited into the winner's balance on April 10th</li>

<li>Please note, as per company policy, any bonus which is not used within 30 days from the date of credit will expire.</li>

<li>Tournament prizes must be rolled over in the Casino 40 times before cashing out.</li>

<li>US Racing Casino reserves the right to modify or cancel this promotion at its sole discretion without prior notice.</li>

<li>General <a href="/house-rules">house rules</a> apply.</li>
</ol>
<br />
{literal}<script language="javascript">document.write('<a '+(logged_in()?'href="/casino\">Play Now!</a>':'href="/join\">Join Today</a> and start playing!'));</script>{/literal}

</div>          
</div>

</div>




</div>

<!-- end: content_box -->

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
