<strong></strong>
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">
	<!-- ---------------------- left menu contents ---------------------- -->
	{include file='menus/kentuckyderby.tpl'}
	<!-- ---------------------- end left menu contents ------------------- -->         
</div>
<!--------- NEW HERO  ---------------------------------------->
		<!--<div class="container-fluid">
<a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-md-block hidden-sm hidden-xs" 
		src="/img/kentuckyderby/kentucky-contender-rankings-hero.jpg" alt="Kentucky Derby Betting"></a>
		
		<a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-sm-block hidden-md hidden-lg" src="/img/kentuckyderby/kentucky-contender-rankings-small-hero.jpg" alt="Kentucky Derby Betting">  </p> </a> </div>-->
		
<!--------- NEW HERO  ---------------------------------------->
	<div class="newHero" style="background-image: url(/img/kentuckyderby/2019_kd_hero01.jpg);" alt="Kentucky Derby Betting">
	  <div class="text text-xl">Kentucky Derby Contenders<br>
	  </div>
	  <div class="text text-xl" style="margin-top:0px;"></div>
	  <div class="text text-md">Place Your Bets Now as Kentucky Derby Contender Odds Are Live!<br>
	    <a href="/signup?ref={$ref}">
	    <div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i>Sign Up Now</div>
	    </a> </div>
	</div>

<div id="main" class="container">
	<div class="row">
		<div id="left-col" class="col-md-9">
			<div class="headline"><h1>Kentucky Derby Contender Rankings</h1></div> 
            
<div class="content">
<!-- --------------------- content starts here ---------------------- -->
								  <br>
				{include file='/home/ah/allhorse/public_html/kd/wherewhenwatch.tpl'} 
				<h2>{include file='/home/ah/allhorse/public_html/kd/year.php'} Kentucky Derby Horses</h2>
				
				{* THIS ONE IS CORRECT include file='/home/ah/allhorse/public_html/kd/contenders.2019.php'*}
                <!-- here -->
                <p>
For the  Kentucky Derby, the post position has been is a fairly good indicator the winners being typically positions 5-8. Post positions are drawn on Wednesday before the Derby and we will update this information when it becomes available.</p>
<p>The {include file='/home/ah/allhorse/public_html/kd/year.php'} Kentucky Derby is set for 6:50 p.m. ET on Saturday under the famed twin spires of Churchill Downs in Louisville, Kentucky. </p>
<p>{include file='/home/ah/allhorse/public_html/kd/salesblurb.tpl'} </p>
{ include file='/home/ah/allhorse/public_html/kd/contenders.2019.php'}              
                <!-- and here-->
        <p>     <center>   <a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet Now on the Kentucky Derby</a></center></p>  
<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->
<div id="right-col" class="col-md-3">
	 <!-- ------------------------ CTA -------------------------- -->
<div class="calltoaction">
	
	<h2>Bet the<BR>Kentucky Derby!</h2>
	<h3>Plus exclusive Derby odds and more.</h3>
	
	{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}
	 <!-- ------------------------ CTA ends -------------------------- -->
</div><!-- end: #right-col --> 
 
</div><!-- end/row -->

<div class="row" >
<div class="col-md-12">
{include file='inc/disclaimer-kd.tpl'}
</div>
</div>

</div><!-- /#container --> 
