{include file='inc/left-nav-btn.tpl'}



<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

{include file='menus/kentuckyderby.tpl'}

</div>

<!-- ---------------------- end left menu contents ------------------- -->   

	

		<!--
<div class="container-fluid">
<a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-md-block hidden-sm hidden-xs" 

		src="/img/kentuckyderby/kentucky-free-bets-hero.jpg" alt="Kentucky Derby Betting"></a>

		

		<a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-sm-block hidden-md hidden-lg" src="/img/kentuckyderby/kentucky-free-bets-small-hero.jpg" alt="Kentucky Derby Betting">  </p> </a> 
</div>
-->

		<!--------- NEW HERO  ---------------------------------------->

<div class="newHero" style="background-image: url({$hero});" alt="{$hero_alt}">

	  <div class="text text-xl">{$h1}</div>

	  <div class="text text-xl" style="margin-top:0px;"></div>

	  <div class="text text-md">{$h2}<br>

	    <a href="/signup?ref={$ref}">

	    <div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i>{$signup_cta}</div>

	    </a> </div>

	</div>
      

 <!------------------------------------------------------------------>    

 

<!------------------------------------------------------------------>       



<!------------------------------------------------------------------>    

















  

<div id="main" class="container">

<div class="row">





<div id="left-col" class="col-md-9">

         

                                        



<div class="content">

<!-- --------------------- content starts here ---------------------- -->





<div class="headline"><h1>How to get a Free Bet on  Kentucky Derby Day<!-- Belmont Bet! --></h1></div>

<p>{include file='/home/ah/allhorse/public_html/shared/promos/free-derby-bet.php'} </p>







<p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">I Want My Free Bet</a></p>  

  



 <!-- ------------------------ content ends -------------------------- -->

</div> <!-- end/ content -->

</div> <!-- end/ #left-col -->







<div id="right-col" class="col-md-3">

	

	

	 <!-- ------------------------ CTA -------------------------- -->

<div class="calltoaction">







<h2>Sign Up to 

 Get	<br> Your Free Bet!</h2>

{*<h3>Get a $150 Sign Up Bonus!</h3>

*}

{* <h2>Free Bet on the<br>Belmont Stakes!</h2> *}

{* <h2>Free Bet on the<br>Kentucky Derby!</h2> *}

<h3>Plus exclusive Derby odds and more.</h3>



{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}

	 <!-- ------------------------ CTA ends -------------------------- -->

	

{* {include file='inc/rightcol-calltoaction-kd.tpl'}  *}



{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 



</div><!-- end: #right-col --> 



 

</div><!-- end/row -->

<div class="row" >
<div class="col-md-12">
{include file='inc/disclaimer-kd.tpl'}
</div>
</div>

</div><!-- /#container --> 