{include file='inc/left-nav-btn.tpl'}



<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

{include file='menus/kentuckyderby.tpl'}

</div>

<!-- ---------------------- end left menu contents ------------------- -->   

	

<!--	
<div class="container-fluid">
<a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-md-block hidden-sm hidden-xs" src="/img/kentuckyderby/2017-Kentucky-Derby-matchraces.jpg" alt="Kentucky Derby Betting"></a>



	<a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-sm-block hidden-md hidden-lg" src="/img/kentuckyderby/2017-Kentucky-Derby-matchraces-usracing.jpg" alt="Kentucky Derby Betting">  </p> </a> 
</div>-->

	<!--------- NEW HERO  ---------------------------------------->

<div class="newHero" style="background-image: url({$hero});" alt="{$hero_alt}">

	  <div class="text text-xl">{$h1_hero}<br />{$h1_hero_second}</div>

	  <div class="text text-xl" style="margin-top:0px;"></div>

	  <div class="text text-md">{$h2}<br>

	    <a href="/signup?ref={$ref}">

	    <div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i> Bet Now</div>

	    </a> </div>

	</div>




 <!------------------------------------------------------------------>    

{include file="/home/ah/allhorse/public_html/usracing/as_seen_on.tpl"}

<!------------------------------------------------------------------>       



<!------------------------------------------------------------------>    





    <section class="kd usr-section">

      <div class="container">

        <div class="kd_content">

         

           <a href="/signup?ref={$ref}" rel="nofollow"><img src="/img/index-kd/kd.png" alt="Kentucky Oaks Betting" class="kd_logo img-responsive"></a>

          

          <h1 class="kd_heading">{$h1}</h1>

          <h3 class="kd_subheading">{$h2}</h3>

       

<p>{include file='/home/ah/allhorse/public_html/kd/salesblurb.tpl'} </p>

<p>{*include file='/home/ah/allhorse/public_html/kd/gen_margin_victory.php'*}</p>
<p>{include file='/home/ah/allhorse/public_html/kd/odds_kd_margin_of_victory.php'} </p>

{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}

 



        </div>

      </div>

    </section>

    

    <!------------------------------------------------------------------>    



{include file="/home/ah/allhorse/public_html/kd/block-free-bet.tpl"}

{include file="/home/ah/allhorse/public_html/kd/block-testimonial-other.tpl"}

{include file="/home/ah/allhorse/public_html/kd/block-trainers.tpl"}

{include file="/home/ah/allhorse/public_html/kd/block-jockeys.tpl"}

{include file="/home/ah/allhorse/public_html/kd/block-countdown.tpl"}

{include file="/home/ah/allhorse/public_html/kd/block-exciting.tpl"}



<!------------------------------------------------------------------>      

<div id="main" class="container">

<div class="row" >
<div class="col-md-12">
{include file='inc/disclaimer-kd.tpl'}
</div>
</div>

</div><!-- /#container --> 