{assign var="ref" value="kentucky-derby-prep-races"}

{include file='inc/left-nav-btn.tpl'}

<div id="left-nav"> 

	<!-- ---------------------- left menu contents ---------------------- --> 

	{include file='menus/kentuckyderby.tpl'} 

	<!-- ---------------------- end left menu contents ------------------- --> 

</div>




{* 	
<div class="container-fluid">	

	<!--<a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-md-block hidden-sm hidden-xs" 		src="/img/kentuckyderby/kentucky-prep-races-hero.jpg" alt="Kentucky Derby Betting"></a>--> *}

	<!--<a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-md-block hidden-sm hidden-xs" src="/img/heros/kentuckyDerbyPrepraces.jpg" alt="Kentucky Derby Betting"></a>-->

			

{* 		<!--<a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-sm-block hidden-md hidden-lg" src="/img/kentuckyderby/kentucky-prep-races-small-hero.jpg" alt="Kentucky Derby Betting">  </p> </a>--> *}

		

		<!--<a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-sm-block hidden-md hidden-lg" src="/img/heros/kentuckyDerbyPrepraces.jpg" alt="Kentucky Derby Betting">  </p> </a>	-->	

	<!--------- NEW HERO  ---------------------------------------->

<div class="newHero" style="background-image: url({$hero});" alt="{$hero_alt}">

	  <div class="text text-xl">{$h1}</div>

	  <div class="text text-xl" style="margin-top:0px;"></div>

	  <div class="text text-md">{$h2}<br>

	    <a href="/signup?ref={$ref}">

	    <div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i> Bet Now</div>

	    </a> </div>

	</div>
      
  







<div id="main" class="container">

	<div class="row">

	

		<div id="left-col" class="col-md-9">

			

			<div class="content"> 

				<!-- --------------------- content starts here ---------------------- -->

				

			{include file='/home/ah/allhorse/public_html/kd/wherewhenwatch.tpl'}

				<div class="headline"><h1>Kentucky Derby Prep Races</h1></div>

			

			<p>	The Kentucky Derby Prep Races being each year in September and end in April with the goal of qualifing for the the {include file='/home/ah/allhorse/public_html/kd/year.php'} Kentucky Derby. With only 20 horses set to take the starting gates  under the famous twin spires of Churchill Downs, the road is long. Only the strong will survive. </p>
            <p>{include file='/home/ah/allhorse/public_html/kd/salesblurb.tpl'} <br>
			  <br>
			  {include_php file='/home/ah/allhorse/public_html/kd/prepraces.php'} </p>

	       <p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet on Derby Prep Races Now</a></p> 

    

    <!-- ------------------------ content ends -------------------------- -->

</div> <!-- end/ content -->

</div> <!-- end/ #left-col -->







<div id="right-col" class="col-md-3">

	 <!-- ------------------------ CTA -------------------------- -->



<div class="calltoaction">

	

	<h2>Bet the<BR>Kentucky Derby<br>Prep Races!</h2>

	<h3>Plus exclusive Derby odds and more.</h3>

	

	{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}



	 <!-- ------------------------ CTA ends -------------------------- -->

</div><!-- end: #right-col --> 



 

</div><!-- end/row -->
<div class="row" >
<div class="col-md-12">
{include file='inc/disclaimer-kd.tpl'}
</div>
</div>

</div><!-- /#container --> 