{include file='inc/left-nav-btn.tpl'}

<div id="left-nav">
<!-- ---------------------- left menu contents ---------------------- -->
{include file='menus/kentuckyderby.tpl'}
</div>
<!-- ---------------------- end left menu contents ------------------- -->   
<div class="container-fluid">
	
		<a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-md-block hidden-sm hidden-xs" src="/img/kentuckyderby/kentucky-prop-bets-hero.jpg" alt="Kentucky Derby Betting: Props"></a>
		
		<a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-sm-block hidden-md hidden-lg" src="/img/kentuckyderby/kentucky-prop-bets-small-hero.jpg" alt="Kentucky Derby Betting: Props">  </p> </a>
	
</div> 


 <!------------------------------------------------------------------>    
{include file="/home/ah/allhorse/public_html/usracing/as_seen_on.tpl"}
<!------------------------------------------------------------------>       

<!------------------------------------------------------------------>    


    <section class="kd usr-section">
      <div class="container">
        <div class="kd_content">
         
           <a href="/signup?ref={$ref}" rel="nofollow"><img src="/img/index-kd/kd.png" alt="Kentucky Oaks Betting" class="kd_logo img-responsive"></a>
          
          <h1 class="kd_heading">{$h1}</h1>
          <h3 class="kd_subheading">{$h2}</h3>
       
<p>{include file='/home/ah/allhorse/public_html/kd/salesblurb.tpl'} </p>




<p>{include file='/home/ah/allhorse/public_html/kd/odds_926_xml.php'}</p>
{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}
 

 

        </div>
      </div>
    </section>
    
    <!------------------------------------------------------------------>    

{include file="/home/ah/allhorse/public_html/kd/block-free-bet.tpl"}
{include file="/home/ah/allhorse/public_html/kd/block-testimonial-other.tpl"}
{include file="/home/ah/allhorse/public_html/kd/block-trainers.tpl"}
{include file="/home/ah/allhorse/public_html/kd/block-jockeys.tpl"}
{include file="/home/ah/allhorse/public_html/kd/block-countdown.tpl"}
{include file="/home/ah/allhorse/public_html/kd/block-exciting.tpl"}

<!------------------------------------------------------------------>      
<div id="main" class="container">
<p>{include file='inc/disclaimer-kd.tpl'} </p>
</div><!-- /#container --> 