{include file='inc/left-nav-btn.tpl'}

<div id="left-nav">
<!-- ---------------------- left menu contents ---------------------- -->
{include file='menus/kentuckyderby.tpl'}
</div>
<!-- ---------------------- end left menu contents ------------------- -->   
	<!-- <div class="container-fluid">
<a href="/signup?ref={$ref}"><img class="img-responsive visible-md-block hidden-sm hidden-xs" src="{$hero}" alt="{$hero_alt}"></a>
	<a href="/signup?ref={$ref}"><img class="img-responsive visible-sm-block hidden-md hidden-lg" src="{$hero_mobile}" alt="{$hero_alt}"></a> </div> -->
<!--------- NEW HERO  ---------------------------------------->
<div class="newHero" style="background-image: url({$hero});" alt="{$hero_alt}">

	  <div class="text text-xl">{$h1}</div>

	  <div class="text text-xl" style="margin-top:0px;"></div>

	  <div class="text text-md">{$h2}<br>

	    <a href="/signup?ref={$ref}">

	    <div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i>{$signup_cta}</div>

	    </a> </div>

	</div>
      

 <!------------------------------------------------------------------>    
{include file="/home/ah/allhorse/public_html/usracing/as_seen_on.tpl"}
<!------------------------------------------------------------------>       
      
      
    <section class="kd usr-section">
      <div class="container">
        <div class="kd_content">
         
           <a href="/signup?ref={$ref}" rel="nofollow"><img src="/img/index-kd/kd.png" alt="Kentucky Oaks Betting" class="kd_logo img-responsive"></a>
          
          <h1 class="kd_heading">{$h1}</h1>
          <h3 class="kd_subheading">{$h2}</h3>
            
<p>{include file='/home/ah/allhorse/public_html/ps/salesblurb.tpl'} </p>

  <p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">{$button_cta}</a></p> 
  
  <div class="content" >   
{include file='/home/ah/allhorse/public_html/kd/video.php'} 
</div>

<p></p>
  
{include file='/home/ah/allhorse/public_html/kd/results.php'} 

            <p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">{$button_cta}</a></p>  
{*
<br></br>
<iframe class="video"  height="100%" width="100%" src="https://www.youtube.com/embed/T7DZlRDjCk0" frameborder="0" allowfullscreen></iframe>
*}

        </div>
      </div>
    </section>
     
<!------------------------------------------------------------------>  


{include file="/home/ah/allhorse/public_html/kd/block-free-bet.tpl"}
{include file="/home/ah/allhorse/public_html/kd/block-testimonial-other.tpl"}
{include file="/home/ah/allhorse/public_html/kd/block-trainers.tpl"}
{include file="/home/ah/allhorse/public_html/kd/block-jockeys.tpl"}
{include file="/home/ah/allhorse/public_html/kd/block-countdown.tpl"}
{include file="/home/ah/allhorse/public_html/kd/block-exciting.tpl"}

{* 

{include file="/home/ah/allhorse/public_html/ps/block-free-bet.tpl"}
{include file="/home/ah/allhorse/public_html/ps/block-triple-crown.tpl"}
{include file="/home/ah/allhorse/public_html/ps/block-testimonial-other.tpl"}
{include file="/home/ah/allhorse/public_html/ps/block-countdown.tpl"}
{include file="/home/ah/allhorse/public_html/ps/block-exciting.tpl"}
 *}

<!------------------------------------------------------------------>  

<div id="main" class="container">
<div class="row" >
<div class="col-md-12">
{include file='inc/disclaimer-kd.tpl'}
</div>
</div>
</div><!-- /#container --> 

      