
.maincontent {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR: #ffffff
}
.maincontent2 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR: #ffffff
}
.maincontent2 A{
	FONT-SIZE: 12px; COLOR: #0000ff; 
}
.maincontent .helpbig {
	FONT-SIZE: 12px; COLOR: #0000ff;  FONT-FAMILY: arial, helvetica; 
}
.maincontent .red {
	FONT-SIZE: 10px; COLOR: #780000;  FONT-FAMILY: arial, helvetica; TEXT-DECORATION: none; 
}
.title{
	FONT-SIZE: 15px; COLOR: #a60000;  FONT-FAMILY: arial, helvetica; FONT-WEIGHT:bold;TEXT-DECORATION: none;
}
.subtitle{
	FONT-SIZE: 13px; COLOR: #a60000;  FONT-FAMILY: arial, helvetica; FONT-WEIGHT:bold;TEXT-DECORATION: none;
}
A.BLACK {color: #000000; text-decoration: none}
A.WHITE {color: #FFFFFF;text-decoration: none}
A.YELLOW {color: #FFFFS0;text-decoration: none}
A.FREE  {color: #000000;}
A.BLACKU  {color: #000000;}
.red {color: #FF0000; text-decoration: none;}
A.red:Hover {color: #0000ff; text-decoration: underline; }


<!-- later addition -->

.tableHead {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR: #fbcc53;
}
.table1 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR: #ffffff;
}

.table1 A{
	COLOR: #000081; 
}
.table1 A:HOVER{
	TEXT-DECORATION: underline;
}
.table2 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR: #eeeeee;
}
.table2 A{
	COLOR: #000081; 
}
.table2 A:HOVER{
	TEXT-DECORATION: underline;
}
.table3 {
	FONT-SIZE: 12px; COLOR: #000018; FONT-FAMILY: arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR: #ffffff;
}
.table3 A{
	COLOR: #000018; text-decoration:none;
}



.leftColumn {
	FONT-FAMILY: arial, helvetica; FONT-SIZE: 12px; BACKGROUND-COLOR: #eeeeee; 
}
.leftColumn A{
	FONT-WEIGHT:BOLD; COLOR: #780000;
}
.rightColumn {
	FONT-FAMILY: arial, helvetica; FONT-SIZE: 12px; BACKGROUND-COLOR: #ffffff; 
}
.rightColumn A{
	FONT-WEIGHT:BOLD; COLOR: #780000;
}
.leftColumnHeader {
	FONT-FAMILY: arial, helvetica; FONT-SIZE: 15px; COLOR: #010530;
}
.rightColumnHeader {
	FONT-FAMILY: arial, helvetica; FONT-SIZE: 15px; COLOR: #010530;
}