body
{	
    font-family:Arial, Verdana, Tahoma;
    font-size:12px;
	padding:0;
	margin:0;
}

table { width: 100%; border:0; padding:0; margin:10px 0 0 0;  }

#ODDS { width: 100%; height: 1600px; overflow-x: hidden; margin: 10px 0 0 0; }

.line_type_column
{
    width: 210px;
	margin: 0 5px;
}
.line_type_container
{
    margin-bottom:10px;
}

.line_type_container object { width: 210px; height: 161px; }

.line_type_list 	{ list-style-type:none; margin:0; padding:0; }
.line_type_list li  { padding-left:15px; }

.list_item
{
    background: #f0f0f0 url('images/line_row_bg.jpg') no-repeat;
    border-bottom:solid 1px #c4e1ff;
    line-height:17px;
    padding: 0px 0px 1px 0px;
}
.list_item_alt
{
    background: #FFF url('images/line_altrow_bg.jpg') no-repeat;
    border-bottom:solid 1px #c4e1ff;
    line-height:17px;
    padding: 0px 0px 1px 0px;
}

.list_item a, .list_item_alt a
{
    color:#366aa9;
    font-size:12px;
    text-decoration:none;
}
.empasis
{
    color:Red;
    font-weight:bold;
    font-size:11px;
}
.line_type_list .list_item_seperator
{
    background:url('images/line_seperator_bg.jpg') repeat-x;
    height:1px;
    margin:0px;
    padding:0px;
}
.line_type_header
{
    background:#2c79c5 url('images/line_header_bg.jpg') no-repeat;	
    font-weight:bold;
    font-size:13px;
    padding:3px 0px 3px 20px;
    color:#ffffff;
}
.today_hotbet_header
{
    
	background:url('images/today_hotbet_bg.jpg') no-repeat;
    font-weight:bold;
    font-size:13px;
    padding:3px 0px 3px 20px;
    color:#ffffff; 
}
.header_lines_table
{
    width:100%;
    /* border:solid 1px #ffffff;
    border-spacing:0px; */
}
    .header_lines_table td
    {
        text-align:center;
        padding:5px;
        color:#4273af;
        font-size:11px;
        font-weight:bolder;		
    }
    .header_lines_table td.selected_header
    {
        background: #105ca9;
        border:solid 1px #3780cc;
        color:#ffffff;
    }
    .header_lines_table td.selected_header a, .header_lines_table td.selected_header a:hover
    {
        color:#ffffff;
        font-size:11px;
        font-weight:bold;
		display: block;
		text-transform: uppercase;
		text-decoration:none;
    }
    .header_lines_table td.header_bg
    {
        background:url('images/header_bg.jpg') repeat-x;
        border:solid 1px #3780cc;
    }
    
    .header_lines_table td a
    {
        color:#4273af;
		font-size:11px;
        font-weight:bold;
		text-transform: uppercase;
		text-decoration:none;
		display: block;
    }
	.header_lines_table td a:hover
    {
        color:#000;       
    }