@charset "UTF-8";
/* CSS Document */
.fb-ahr { position:relative; display:block; width: 520px; }
.fb-ahr a, .fb-ahr a:hover { outline: none; text-decoration:none; border:0; margin:0; }
.fb-ahr .background { poistion:absolute; top:0; left: 0; display:block; height:900px; width:520px; }
.fb-ahr a.logo { display: block; position:absolute; top:0; left:0; height:100px; width:208px; border:0; text-decoration:none; }
.fb-ahr .features { display: block; position:absolute; top:224px; right:0; height:auto; }
.fb-ahr .features a { display: block; width: 195px; height:57px; margin:0 0 6px;}
.fb-ahr a.sitelink { display: block; position:absolute; top:557px; right:0; height:80px; width:210px; border:0; text-decoration:none; }
.fb-ahr a.bottom {  display: block; position:absolute; top:710px; right:0; border:none; width:520px; height:190px; display:block; }