<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">
                               
          
<div class="headline"><h1>Bet on horses at PABETS!</h1></div>


<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<h4><strong>Thank you for your interest in US Racing!</strong></h4>

<p>Unfortunately due to state laws we are unable to take wagers from your area at this time.</p>

<p>Until we can provide our full betting experience for your area, please use our partner:</p>

<p><a class="btn btn-primary"  href="https://www.linkconnector.com/ta.php?lc=051350000010004262&lc_pid=Promo-4253&url=&lcpf=3&lcpi=4253" target="_blank" rel="nofollow">BET AT PA BETS<img class="img-responsive" src="https://www.linkconnector.com/traffic_record?lc=051350000010004262&lcpf=3&lcpi=4253" border="0" width="1" height="1"> <i class="fa fa-angle-right"></i></a></p>

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->
  


<div id="right-col" class="col-md-3">
<!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- -->

<img class="img-responsive" src="/img/partners/pabets.jpg" />

<!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- -->
</div><!-- end: #right-col --> 




</div><!-- end/row -->
</div><!-- /#container -->