{include file='inc/left-nav-btn.tpl'}

<div id="left-nav">
<!-- ---------------------- left menu contents ---------------------- -->
{include file='menus/kentuckyderby.tpl'}
</div>
<!-- ---------------------- end left menu contents ------------------- -->   
<!--
<div class="container-fluid">
	
		<a href="/signup?ref={$ref}"><img class="img-responsive visible-md-block hidden-sm hidden-xs" src="/img/kentuckyderby/kentucky-oaks-odds-hero.jpg" alt="Kentucky Derby Oaks"></a>
		
		<a href="/signup?ref={$ref}"><img class="img-responsive visible-sm-block hidden-md hidden-lg" src="/img/kentuckyderby/kentucky-oaks-odds-smal-hero.jpg" alt="Kentucky Derby Oaks">  </p> </a>
	
</div>
-->       
<!-- -----------------------------Main menu--------------------------------- -->
<div class="newHero" style="background-image: url({$hero});">
 <div class="text text-xl-left">{$h1}</div>
        <div class="text text-md-left">{$h2}
                <br>
                        <a href="/signup?ref={$ref}"><div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i>{$signup_cta}</div></a>
        </div>
 </div>
<!-- ----------------------------End Main menu---------------------------------- -->

 <!------------------------------------------------------------------>    
    <section class="friends block-center usr-section" style="margin-top:20px;">
      <div class="block-center_content">
        <div class="container"><img src="/img/index-kd/friends.png" alt="" class="img-responsive friends_img"></div>
      </div>
    </section>
    
<!------------------------------------------------------------------>       
<!------------------------------------------------------------------>    


    <section class="kd usr-section">
      <div class="container">
        <div class="kd_content">
         
           <a href="/signup?ref={$ref}" rel="nofollow"><img src="/img/index-kd/kd.png" alt="Kentucky Oaks Betting" class="kd_logo img-responsive"></a>
          
          <h1 class="kd_heading">{$h1}</h1>
          <h3 class="kd_subheading">{$h2}</h3>
       
<p>{include file='/home/ah/allhorse/public_html/kd/salesblurb-oaks.tpl'} What are the 2018 Kentucky Oaks Odds? </p>






<h2> {include file='/home/ah/allhorse/public_html/kd/year.php'}  Kentucky Oaks Odds</h2><p><br>
{include file='/home/ah/allhorse/public_html/kd/odds_kentucky_oaks_1006.php'}</p>
 {*include file="/home/ah/allhorse/public_html/oddsfeed/odds/1006.php"*}
<p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">{$button_cta}</a></p>
<p>Run on the first Friday in May, the Kentucky Oaks is a Grade I race for three-year-old fillies with a $1 million purse. Won in recent years by such superstars as Rachel Alexandra (2009), Untapable (2014) and Cathryn Sophia (2016), this year’s event will feature some incredible horses.  Who do you think is going to with this year's Kentucky Oaks?</p>
<p>{*In her last start, Farrell proved she can rate by coming from just off the pace to score a decisive victory in the Grade II Fair Grounds Oaks at <a href="/fair-grounds-race-course">Fair Grounds Racecourse.</a></p>
<p>While Farrell has been tearing it up in the Midwest, Miss Sky Warrior has dominated in the East. Following a fourth-place finish in her debut at Belmont Park, the daughter of First Samurai has raced on the pace and off the pace in winning four consecutive graded stakes, including the Grade II Gazelle by 13 widening lengths. *}</p>



        </div>
      </div>
    </section>



<!------------------------------------------------------------------>    

{include file="/home/ah/allhorse/public_html/kd/block-free-bet.tpl"}
{include file="/home/ah/allhorse/public_html/kd/block-testimonial-other.tpl"}
{include file="/home/ah/allhorse/public_html/kd/block-trainers.tpl"}
{include file="/home/ah/allhorse/public_html/kd/block-jockeys.tpl"}
{include file="/home/ah/allhorse/public_html/kd/block-countdown.tpl"}
{include file="/home/ah/allhorse/public_html/kd/block-exciting.tpl"}
<!------------------------------------------------------------------>      
<div id="main" class="container">
<p>{include file='inc/disclaimer-kd.tpl'} </p>
</div><!-- /#container --> 
