
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->



            
{*include file=menus/specialraces.tpl*}

{include file='banners/banner4.tpl'}
{include file='banners/banner3.tpl'}
{*include file='banners/banner2.tpl'*}
{*include file='banners/rotw.tpl'*}
 




<!-- ---------------------- end left menu contents ------------------- -->         
</div>
     

<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">











<div>
<span>{literal}<script language="javascript">document.write('<a href="/'+(logged_in()?'sportsbook':'join')+'" title="Kentucky Oaks Odds - Bet Now!"><img style=\"float: right; margin:-5px 0 0 0;\" src=\"/themes/images/betnow-button2.gif\" alt=\"Bet Now\" border=\"0\" /></a>');</script>{/literal}</span>
<h2>2011 Kentucky Oaks Contenders</h2>
</div>


<div>   
{include file="includes/ahr_block_koaks_odds_2011.tpl"}
{*include file="includes/ahr_block-koaks-contenders.tpl"*}
</div>
					





</div><!-- end: .block --> 



<!-- end: #content-box -->

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      

