{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/top-of-page-blocks.tpl"}
{*Page Unique content goes here*******************************}

<p>Kentucky Oaks results are right at your fingertips. Looking to find out what the payouts were for the last race?  Take a look below. How much do you think the winning horse will pay out this year?</p>
{*<p>{include file='/home/ah/allhorse/public_html/ps/salesblurb.tpl'} *}
<p>	{include file='/home/ah/allhorse/public_html/kd/results_ko.php'} </p>


<p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet Now on Kentucky Derby</a></p>
  

{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/end-of-page-blocks.tpl"}

      