{include file="/home/ah/allhorse/public_html/usracing/block_saudi-cup/top-of-page-blocks.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/schema/generated/saudi_cup_winners.tpl"}

 {*Page Unique content starts here*******************************}
        <section class="saudi kd usr-section">
  <div class="container">
    <div class="kd_content">
      <h1 class="kd_heading">{$h1}</h1>
      <p>The {include file='/home/ah/allhorse/public_html/saudi-cup/yearlast.php'} <a href="/signup?ref={$ref}">Saudi Cup</a> winners are now official. 
	  <br>Check all the details below.
  {include file='/home/ah/allhorse/public_html/saudi-cup/winners.php'} </p>

    <p>Now that the {include file='/home/ah/allhorse/public_html/saudi-cup/yearlast.php'} <a href="/signup?ref={$ref}">Saudi Cup</a> edition is over, everyone's attention is focused on the <a href="/signup?ref={$ref}"> Dubai World Cup</a></p>
{include file='/home/ah/allhorse/public_html/dubai/salesblurb.tpl'} 

<p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet on the Dubai World Cup</a></p>


    </div>
  </div>
</section>

 {*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_saudi-cup/end-of-page-blocks.tpl"}
{literal}
<script src="/assets/js/jquery.sortElements.js"></script>
<script src="/assets/js/sort_odds.js"></script>
<script type="text/javascript">
    addSort('o0t');
    addSort('o1t');
</script>
{/literal}