<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Casino Play</title>
</head>
<body style="margin:0; padding:0; background:#000; border:none">
<center>
	  <iframe id="cas-login-frame" align="center" height="560px" width="750px" src="https://cas.gamingsystem.net/cas-login/launch.svc?casinoid=7630&gameType=45&variationId=0&service=http://www.usracing.com/casino/multiplayer_blackjack&lobbyId=1&lobbyUrl=http://www.gohorsebetting.com/casino/multiplayer_blackjack&helpUrl=http://www.usracing.com/casino/help/&cashierUrl=https://teller.gamingsystem.net/teller-deposit/depositDisplayOptions.htm?siteID=7630&casinoid=7630"></iframe> 
	</center>
	</body>
</html>
