<html>
<head>
{literal}
<link href="/modules/allhorseracing/slideflow/css/reset.css" media="all" rel="Stylesheet" type="text/css" />
<link href="/modules/allhorseracing/slideflow/css/gallery.css" media="all" rel="Stylesheet" type="text/css" />
<link href="/modules/allhorseracing/slideflow/css/slideflow.css" media="all" rel="Stylesheet" type="text/css" />

<script type="text/javascript" src="/modules/allhorseracing/casino/casino.js"></script>
<script type="text/javascript" src="/modules/allhorseracing/slideflow/js/scriptaculous/lib/prototype.js"></script>
<script type="text/javascript" src="/modules/allhorseracing/slideflow/js/scriptaculous/src/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="/modules/allhorseracing/slideflow/js/slideflow/slideflow.js"></script>
<script type="text/javascript" src="/modules/allhorseracing/slideflow/js/slideflow/slideflow_common.js"></script>
<script type="text/javascript" src="/modules/allhorseracing/slideflow/js/slideflow/slider.js"></script>
<script type="text/javascript" src="/modules/allhorseracing/slideflow/js/slideflow/scrolling.js"></script>
<script type="text/javascript" src="/modules/allhorseracing/slideflow/js/xmlparser/xmlparser.js"></script>
<!--[if lte IE 6]>
    <script type="text/javascript" src="/modules/allhorseracing/slideflow/js/ie6fix/ie6fix.js"></script>
<![endif]-->
<script type="text/javascript">
<!--
function init() {
var gamename = parent.getslideflowgamename();
photos = GetCasinoGames(gamename);
SLIDEFLOW_DATA['containerElement'] = $('slideflow');
						
SLIDEFLOW_DATA['images'] = new Array();
										
for (var i=0; i < photos.length; i++) {
     SLIDEFLOW_DATA['images'][i] = photos[i].getElementsByTagName("src")[0].childNodes[0].nodeValue;
}
slideFlow = new Slideflow(SLIDEFLOW_DATA);
numPhotos = photos.length;
initSlideFlow();
}
// -->
</script>
{/literal}
</head>
<body onLoad="init();">
<div id="frame">
  <div id="navigation" ondragstart="return false" onselectstart="return false">
    <div id="slideflow"></div>
  </div>
 </div>
    <div id="sliderparent">
    {literal}
      <script type="text/javascript">
			<!--
				slideFlowSlider = new slider(SLIDE_INIT, SLIDE_TPL);
				slideFlowSlider.onSetValue = handleSlideSeek;
			// -->
	</script>
    {/literal}
    </div>
    <div id="gameinfocontainer">
    <div id="gameinfo"></div>
    <div id="playmodes"><a href="" id="playforreal">PLAY REAL MONEY</a><span class="pipe"> | </span><a href="" id="playforfun">PRACTICE</a></div>
    </div>
</body>
</html>