<h2>Classic</h2>
{include file="/home/ah/allhorse/public_html/breeders/classic/odds_classic.php"}

<h2>Mile To Win</h2>
{*include file="/home/ah/allhorse/public_html/breeders/mile/odds_mile.php"*}

<h2>Turf To Win</h2>
{*include file="/home/ah/allhorse/public_html/breeders/turf/odds_turf.php"*}

<h2>Dirt Mile To Win</h2>
{*include file="/home/ah/allhorse/public_html/breeders/dirt-mile/odds_dirt_mile.php"*}

<h2>Turf Sprint To Win</h2>
{*include file="/home/ah/allhorse/public_html/breeders/turf-sprint/odds_turf_sprint.php"*}

<h2>Sprint To Win</h2>
{*include file="/home/ah/allhorse/public_html/breeders/sprint/odds_sprint.php"*}

<h2>Distaff To Win</h2>
{*include file="/home/ah/allhorse/public_html/breeders/distaff/odds_distaff.php"*}

<h2>Filly Mare Turf To Win</h2>
{*include file="/home/ah/allhorse/public_html/breeders/filly-mare-turf/odds_filly_mare_turf.php"*}

<h2>Filly Mare Sprint To Win</h2>
{*include file="/home/ah/allhorse/public_html/breeders/filly-mare-sprint/odds_filly_mare_sprint.php"*}
