{assign var="showclock" value="0"} 
{assign var="showSchemaFri" value="0"} 
{assign var="showSchemaSat" value="1"} 
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}  


  
<p>{include file='/home/ah/allhorse/public_html/breeders/classic/purse.php'}</p>
<p>{include file='/home/ah/allhorse/public_html/breeders/classic/description.php'}</p>

<!-- -->
 <hr><!-- --------------------- HR ---------------------- -->

<h2>Breeders' Cup Classic Odds</h2>
{* <p>{include file='/home/ah/allhorse/public_html/breeders/classic/odds_classic.php'} </p>  *}
{* <p>{include file='/home/ah/allhorse/public_html/breeders/classic/2021_odds_classic_manually.php'} </p> *}
<p>{include file='/home/ah/allhorse/public_html/breeders/classic/odds_classic_manually.php'} </p>
{if $BC_CLASSIC_Switch}
<p> {include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"} </p>


 {*Expires Nov 3*****************************************************************}
  {*
 
 <h2>More Breeders' Cup Odds</h2>
 <p>{include file='/home/ah/allhorse/public_html/breeders/odds_combined_inc.tpl'} </p>
 
 *}
 
 {* RESUMES AFTER NOV 3****************************************************************}
<p>{include_php file='/home/ah/allhorse/public_html/breeders/classic/results.php'}</p>
<p>{include_php file='/home/ah/allhorse/public_html/breeders/classic/payouts.php'}</p>
<p align="center"><a href="/signup?ref=breeders-cup-classic" class="btn-xlrg ">Bet Now</a></p>
<hr><!-- --------------------- HR ---------------------- -->

<h2> Breeders' Cup  Classic Winners</h2>
<p>{include file='/home/ah/allhorse/public_html/breeders/classic/winners-new.php'}</p>
<p align="center"><a href="/signup?ref=breeders-cup-classic" class="btn-xlrg ">Bet Now</a></p>  

<!-- -->
 {else}
  <p align="center"><a href="/breeders-cup/classic/results"  class="btn-xlrg ">Results 2022</a></p>  
 {/if}
 
 
 
{*End Expiry*}


{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/end-of-page-blocks.tpl"}