{assign var="showclock" value="1"} 
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}  

<p>Ending the horse racing season with two days and 14 races packed with excitement and stars! Watching the best in the world come together face to face! The Breeder's Cup gathers talent and stamina from around the world </p>


 {include file='inc/btn-red.tpl'} 
<a name="classic"></a><h2>Breeders' Cup Classic Odds</h2>
<p>{include file='/home/ah/allhorse/public_html/breeders/odds_combined_inc.tpl'} </p>
{* <p>{include file='/home/ah/allhorse/public_html/breeders/classic/odds_classic.php'}  </p> *}
<p>{include file='/home/ah/allhorse/public_html/breeders/classic/2021_odds_classic_manually.php'} </p>
{* <p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">Bet Now</a></p>  *}

{include file="/home/ah/allhorse/public_html/usracing/cta_button-breederscup.tpl"}

{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/end-of-page-blocks.tpl"}