{assign var="showclock" value="0"} 
{assign var="showSchemaFri" value="0"} 
{assign var="showSchemaSat" value="1"} 
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}  


  
     <p>{include file='/home/ah/allhorse/public_html/breeders/dirt-mile/purse-new.php'}</p>
<p>{include file='/home/ah/allhorse/public_html/breeders/dirt-mile/description.php'}</p>
{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}

 <hr><!-- --------------------- HR ---------------------- -->

    <h2> Breeders' Cup Dirt Mile Odds</h2>
<p>{include file='/home/ah/allhorse/public_html/breeders/dirt-mile/odds_dirt_mile_manually.php'}</p>

{* <p>{include file='/home/ah/allhorse/public_html/breeders/dirt-mile/2018_odds_dirt_mile.php'}</p> *}
 {* <p>{include file='/home/ah/allhorse/public_html/breeders/dirt-mile/odds_dirt_mile.php'}</p>  *}

{if $BC_DIRT_MILE_Switch}
<p>{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}</p>
 {*Expires Nov 3*****************************************************************}
{* <hr><!-- --------------------- HR ---------------------- -->
 
<p>{include file='/home/ah/allhorse/public_html/breeders/dirt-mile/purse-new.php'}</p>
<p>{include file='/home/ah/allhorse/public_html/breeders/dirt-mile/description.php'}</p>

 
 <h2>More Breeders' Cup Odds</h2>
 <p>{include file='/home/ah/allhorse/public_html/breeders/odds_combined_inc.tpl'} </p>
 
*}
 
 {* RESUMES AFTER NOV 3****************************************************************}

<p>{include_php file='/home/ah/allhorse/public_html/breeders/dirt-mile/results.php'}</p>
<p>{include_php file='/home/ah/allhorse/public_html/breeders/dirt-mile/payouts.php'}</p>
<p>{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}</p>

<hr><!-- --------------------- HR ---------------------- -->

   <h2> Breeders' Cup Dirt Mile Winners</h2>
<p>{include file='/home/ah/allhorse/public_html/breeders/dirt-mile/winners-new.php'}</p>
 <p> {include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"} </p>
{include file="/home/ah/allhorse/public_html/breeders/auto_reload_odds.tpl"}
 {else}
  <p align="center"><a href="/breeders-cup/dirt-mile/results"  class="btn-xlrg ">Results 2022</a></p>  
 {/if}

 
 
{*End Expiry*}

{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/end-of-page-blocks.tpl"}