{assign var="showclock" value="0"} 
{assign var="showSchemaFri" value="0"} 
{assign var="showSchemaSat" value="1"} 
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}  


  
<p>{include file='/home/ah/allhorse/public_html/breeders/filly-mare-turf/purse-new.php'}</p>
<p>{include file='/home/ah/allhorse/public_html/breeders/filly-mare-turf/description.php'}</p>
 <hr><!-- --------------------- HR ---------------------- -->

   <h2> Breeders' Cup Filly &amp; Mare Turf Odds</h2>
{* <p>{include file='/home/ah/allhorse/public_html/breeders/filly-mare-turf/odds_filly_mare_turf.php'}</p>  *}
{* <p>{include file='/home/ah/allhorse/public_html/breeders/filly-mare-turf/2021_odds_filly_mare_turf_manually.php'}</p> *}
<p>{include file='/home/ah/allhorse/public_html/breeders/filly-mare-turf/odds_filly_mare_turf_manually.php'}</p>
{if $BC_FILLY_MARE_TURF_Switch}
<p>{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}</p>




{*Expires Nov 3*****************************************************************}
{* 

 <h2>More Breeders' Cup Odds</h2>
 <p>{include file='/home/ah/allhorse/public_html/breeders/odds_combined_inc.tpl'} </p>
 
 *}
  {* RESUMES AFTER NOV 3****************************************************************}

<p>{include_php file='/home/ah/allhorse/public_html/breeders/filly-mare-turf/results.php'}</p>
<p>{include_php file='/home/ah/allhorse/public_html/breeders/filly-mare-turf/payouts.php'}</p>
<p>{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}</p>


<hr><!-- --------------------- HR ---------------------- -->
 
   <h2> Breeders' Cup Filly &amp; Mare Turf Winners</h2>
<p>{include file='/home/ah/allhorse/public_html/breeders/filly-mare-turf/winners-new.php'}</p>
 <p> {include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"} </p>
 {include file="/home/ah/allhorse/public_html/breeders/auto_reload_odds.tpl"}
 {else}
  <p align="center"><a href="/breeders-cup/filly-mare-turf/results"  class="btn-xlrg ">Results 2022</a></p>  
 {/if}
{*End Expiry*}


{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/end-of-page-blocks.tpl"}