{assign var="showclock" value="0"} 
{assign var="showSchemaFri" value="0"} 
{assign var="showSchemaSat" value="1"} 
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}  


  
<p>{include file='/home/ah/allhorse/public_html/breeders/filly-mare-sprint/purse.php'}</p>
<p>{include file='/home/ah/allhorse/public_html/breeders/filly-mare-sprint/description.php'}</p>     

<hr><!-- --------------------- HR ---------------------- -->

<h2>Breeders' Cup  Filly & Mare Sprint Odds</h2>
<p>{include file='/home/ah/allhorse/public_html/breeders/filly-mare-sprint/odds_filly_mare_sprint_manually.php'}</p>
{* <p>{include file='/home/ah/allhorse/public_html/breeders/filly-mare-sprint/odds_filly_mare_sprint.php'}</p> *}


{if $BC_FILLY_MARE_SPRINT_Switch}    
<p>{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}</p>


 {*Expires Nov 3*****************************************************************}

 {*

 
 <h2>More Breeders' Cup Odds</h2>
 <p>{include file='/home/ah/allhorse/public_html/breeders/odds_combined_inc.tpl'} </p>
 
 *}
 
 {* RESUMES AFTER NOV 3****************************************************************}



<p>{include_php file='/home/ah/allhorse/public_html/breeders/filly-mare-sprint/results.php'}</p>
<p>{include_php file='/home/ah/allhorse/public_html/breeders/filly-mare-sprint/payouts.php'}</p>
<p>{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}</p>

<hr><!-- --------------------- HR ---------------------- -->

<h2> Breeders' Cup  Filly & Mare Sprint Winners</h2>
<p>{include file='/home/ah/allhorse/public_html/breeders/filly-mare-sprint/winners-new.php'}</p>
<p>{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}</p>
{include file="/home/ah/allhorse/public_html/breeders/auto_reload_odds.tpl"}

 {else}
  <p align="center"><a href="/breeders-cup/filly-mare-sprint/results"  class="btn-xlrg ">Results 2022</a></p>  
 {/if}
 
 
 
{*End Expiry*}


{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/end-of-page-blocks.tpl"}