{include file="/home/ah/allhorse/public_html/usracing/schema/web-page.tpl"}

 <div class="container-fluid">     
	<a href="/bet-on/breeders-cup"><img class="img-responsive" itemprop="image" src="/img/breeders/free-bet.jpg" alt="Bet on the Breeders' Cup"  /></a>
 </div>
 
<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">



<div class="content">
<!-- --------------------- content starts here ---------------------- -->

<p>{include file='/home/ah/allhorse/public_html/shared/promos/free-breeders-bet2.php'} </p>



<p align="center"><a href="/signup?ref=breeders-cup-free-bet" class="btn-xlrg ">Place My Free Bet Now</a></p>


 <!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{include file='inc/rightcol-calltoaction-bc.tpl'}

{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*}

</div><!-- end: #right-col -->


</div><!-- end/row -->{* include file='inc/disclaimer-bc.tpl' *}
</div><!-- /#container -->