{assign var="showclock" value="0"} 
{assign var="showSchemaFri" value="1"} 
{assign var="showSchemaSat" value="0"} 
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}  


  
<p>{include file='/home/ah/allhorse/public_html/breeders/juvenile-turf-sprint/purse-new.php'}</p>
<p>{include file='/home/ah/allhorse/public_html/breeders/juvenile-turf-sprint/description.php'}</p>


<h2>Breeders' Cup Juvenile Turf Sprint Odds</h2>
<p>{*include file='/home/ah/allhorse/public_html/breeders/2018_odds_breeders_juvenile_turf_sprint.php'*} </p>
<p>{*include file='/home/ah/allhorse/public_html/breeders/odds_breeders_juvenile_turf_sprint.php'*} </p>
{* <p>{include file='/home/ah/allhorse/public_html/breeders/odds_breeders_juvenile_turf_sprint_new.php'} </p> *}
{* <p>{include file='/home/ah/allhorse/public_html/breeders/odds_breeders_juvenile_turf_sprint.php'} </p> *}
{* <p>{include file='/home/ah/allhorse/public_html/breeders/juvenile-turf-sprint/2021_odds_manually.php'} </p> *}
<p>{include file='/home/ah/allhorse/public_html/breeders/odds_juvenile_turf_sprint_manually.php'} </p>
 {if $BC_JUVENILE_TURF_SPRINT_Switch}
<p> {include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"} </p>

<p>{include_php file='/home/ah/allhorse/public_html/breeders/juvenile-turf-sprint/results.php'}</p>
<p>{include_php file='/home/ah/allhorse/public_html/breeders/juvenile-turf-sprint/payouts.php'}</p>
 <p> {include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"} </p>
<hr><!-- --------------------- HR ---------------------- -->	 

<h2> Breeders' Cup  Juvenile Turf Sprint Winners
</h2>

<p>{include file='/home/ah/allhorse/public_html/breeders/juvenile-turf-sprint/winners.php'} </p>
 <p> {include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"} </p>  
{include file="/home/ah/allhorse/public_html/breeders/auto_reload_odds.tpl"}
  {else}
  <p align="center"><a href="/breeders-cup/juvenile-turf-sprint/results"  class="btn-xlrg ">Results 2022</a></p> 
 {/if}
{*End Expiry*}


{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/end-of-page-blocks.tpl"}