{assign var="showclock" value="0"} 
{assign var="showSchemaFri" value="1"} 
{assign var="showSchemaSat" value="0"} 
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}  


  

<p>{include file='/home/ah/allhorse/public_html/breeders/juvenile-turf/purse.php'}</p>
<p>{include file='/home/ah/allhorse/public_html/breeders/juvenile-turf/description.php'}</p>


<h2>Breeders' Cup Juvenile Turf Odds</h2>
<p>{*include file='/home/ah/allhorse/public_html/breeders/2018_odds_breeders_juvenile_turf.php'*}</p>
{* <p>{include file='/home/ah/allhorse/public_html/breeders/odds_breeders_juvenile_turf.php'}</p> *}
{* <p>{include file='/home/ah/allhorse/public_html/breeders/juvenile-turf/2021_odds_manually.php'}</p>  *}
<p>{include file='/home/ah/allhorse/public_html/breeders/juvenile-turf/odds_juvenile_turf_manually.php'}</p> 

 {if $BC_JUVENILE_TURF_Switch}

<p> {include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"} </p>

{*
 
 <h2>More Breeders' Cup Odds</h2>
 <p>{include file='/home/ah/allhorse/public_html/breeders/odds_combined_inc.tpl'} </p>

<hr><!-- --------------------- HR ---------------------- -->	 
  *}
	 

<p>{include_php file='/home/ah/allhorse/public_html/breeders/juvenile-turf/results.php'}</p>
<p>{include_php file='/home/ah/allhorse/public_html/breeders/juvenile-turf/payouts.php'}</p>
 <p> {include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"} </p>

<h2> Breeders' Cup  Juvenile Turf Winners
</h2>

<p>{include file='/home/ah/allhorse/public_html/breeders/juvenile-turf/winners-new.php'} </p>
 <p> {include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"} </p> 


{include file="/home/ah/allhorse/public_html/breeders/auto_reload_odds.tpl"}

{* <p>{include file='/home/ah/allhorse/public_html/breeders/breederscup_wherewhenwatch.tpl'}</p>   *}
 {else}
<p align="center"><a href="/breeders-cup/juvenile-turf/results"  class="btn-xlrg ">Results 2022</a></p>
 {/if}



{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/end-of-page-blocks.tpl"}