{assign var="showclock" value="0"} 
{assign var="showSchemaFri" value="1"} 
{assign var="showSchemaSat" value="0"} 
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}  


  
<p>{include file='/home/ah/allhorse/public_html/breeders/juvenile/purse-new.php'}</p>
<p>{include file='/home/ah/allhorse/public_html/breeders/juvenile/description.php'}</p>
  <h2> Breeders' Cup Juvenile Odds</h2>
 {* <p>{include file='/home/ah/allhorse/public_html/breeders/odds_juvenile.php'}</p> *}
 <p>{include file='/home/ah/allhorse/public_html/breeders/juvenile/odds_juvenile_manually.php'}</p>
{*  <p>{include file='/home/ah/allhorse/public_html/breeders/juvenile/2021_odds_manually.php'}</p> *}
 {* <p>{include file='/home/ah/allhorse/public_html/breeders/2018_odds_juvenile.php'}</p> *}
 
 {if $BC_JUVENILE_Switch}
<p> {include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"} </p>
{*
 
 <h2>More Breeders' Cup Odds</h2>
 <p>{include file='/home/ah/allhorse/public_html/breeders/odds_combined_inc.tpl'} </p>
 
 <hr><!-- --------------------- HR ---------------------- -->

*}

<p>{include_php file='/home/ah/allhorse/public_html/breeders/juvenile/results.php'}</p>
<p>{include_php file='/home/ah/allhorse/public_html/breeders/juvenile/payouts.php'}</p>
<p>{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}</p>

<hr><!-- --------------------- HR ---------------------- -->

<h2> Breeders' Cup  Juvenile  Winners
</h2>

<p>{include file='/home/ah/allhorse/public_html/breeders/juvenile/winners-new.php'}</p>
<p>{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}</p>
{include file="/home/ah/allhorse/public_html/breeders/auto_reload_odds.tpl"}
 

 {else}
  <p align="center"><a href="/breeders-cup/juvenile/results"  class="btn-xlrg ">Results 2022</a></p>  
 {/if}
  {* RESUMES AFTER NOV 3 **************************************************************** end *}

{*End Expiry*}



{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/end-of-page-blocks.tpl"}