{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
            {include file='menus/breederscup.tpl'}
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          

                    
          
<div class="headline"><h1>{include file='/home/ah/allhorse/public_html/breeders/year.php'} Breeders Cup'  Marathon
</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


{include file='/home/ah/allhorse/public_html/breeders/breederscup_wherewhenwatch.tpl'}  
{* <p>{include file='/home/ah/allhorse/public_html/breeders/marathon/purse.php'} *}



</p>
{* include file='/home/ah/allhorse/public_html/breeders/marathon/description.php' *}



    
				            
                  
     

<h2>{include file='/home/ah/allhorse/public_html/breeders/year_results.php'} Breeders' Cup  Marathon Replay
</h2>



{* include file='/home/ah/allhorse/public_html/breeders/marathon/video.php' *}


     
				            
                  
   

<h2>{include file='/home/ah/allhorse/public_html/breeders/year_results.php'} Breeders' Cup  Marathon Results
</h2>



{* include file='/home/ah/allhorse/public_html/breeders/marathon/results.php'*}


     
				            
                  
   
  
<h2>{include file='/home/ah/allhorse/public_html/breeders/year_results.php'} Breeders' Cup  Marathon Payouts
</h2>



{*include file='/home/ah/allhorse/public_html/breeders/marathon/payouts.php'*}


     
				            
                  
   

<h2> Breeders' Cup  Marathon Winners
</h2>



{*include file='/home/ah/allhorse/public_html/breeders/marathon/winners.php'*}


      
				            
                  

              
            
            
                      
        {include file='inc/disclaimer-bc.tpl'} 
            
            
     
   
<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 

</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 