{assign var="showclock" value="0"} 
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}  


 
  {include file='/home/ah/allhorse/public_html/breeders/breederscup_wherewhenwatch.tpl'}
  <h2>Classic<a name="Distaff"></a></h2>
 {include file='/home/ah/allhorse/public_html/breeders/classic/winners.php'} 
 <h2>Mile<a name="Filly & Mare"></a></h2>
 {include file='/home/ah/allhorse/public_html/breeders/mile/winners.php'} 
						 		 
<h2>Sprint<a name="Juvenile"></a></h2>
 {include file='/home/ah/allhorse/public_html/breeders/sprint/winners.php'} 
						 		 
<h2>Turf<a name="Juvenile Filly"></a></h2>
 {include file='/home/ah/allhorse/public_html/breeders/turf/winners.php'}
  
 <h2>Dirt Mile<a name="Mile"></a></h2>

{include file='/home/ah/allhorse/public_html/breeders/dirt-mile/winners.php'} 
						 		 
<h2>Juvenile<a name="Sprint"></a></h2>

   
  {include file='/home/ah/allhorse/public_html/breeders/juvenile/winners.php'} 
						 		 
<h2>Filly & Mare Sprint<a name="Turf"></a></h2>

  
  {include file='/home/ah/allhorse/public_html/breeders/filly-mare-sprint/winners.php'}
						 	
<h2>Juvenile Turf<a name="Sprint"></a></h2>

    
  {include file='/home/ah/allhorse/public_html/breeders/juvenile-turf/winners.php'} 
						 		
						{*  
<h2>Juvenile Sprint<a name="Sprint"></a></h2>

   
  {include file='/home/ah/allhorse/public_html/breeders/juvenile-sprint/winners.php'}
						 		
						  
<h2>Marathon<a name="Sprint"></a></h2>

  
  {include file='/home/ah/allhorse/public_html/breeders/marathon/winners.php'} 
						 		
						  *}
<h2>Juvenile Fillies Turf<a name="Sprint"></a></h2>


  {include file='/home/ah/allhorse/public_html/breeders/juvenile-fillies-turf/winners.php'} 
						 		
						  
<h2>Filly & Mare Turf<a name="Sprint"></a></h2>

   
  {include file='/home/ah/allhorse/public_html/breeders/filly-mare-turf/winners.php'} 
						 		
						  
<h2>Juvenile Fillies<a name="Sprint"></a></h2>

   
  {include file='/home/ah/allhorse/public_html/breeders/juvenile-fillies/winners.php'}
						 		
						  
<h2>Distaff<a name="Sprint"></a></h2>

  
  {include file='/home/ah/allhorse/public_html/breeders/distaff/winners.php'} 
						 		
						  
<h2>Turf Sprint<a name="Sprint"></a></h2>

   
  {include file='/home/ah/allhorse/public_html/breeders/turf-sprint/winners.php'} 




{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}
{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/end-of-page-blocks.tpl"}