{include file="/home/ah/allhorse/public_html/usracing/block_preakness/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}  
<p>The {include_php file='/home/ah/allhorse/public_html/ps/running.php'}  running of the $1,500,000 Preakness Stakes (Grade I), is the second jewel of the Triple Crown, set for {include file='/home/ah/allhorse/public_html/ps/racedate.php'}  at the historic track. Contender Information to be updated closer to race day.</p>

<div class="headline"><h1>{$h1}</h1></div>
<p>{include_php file='/home/ah/allhorse/public_html/ps/odds_983.php'} </p>
{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}
{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_preakness/end-of-page-blocks.tpl"}