{include file="/home/ah/allhorse/public_html/usracing/block_preakness/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}  

<p>Find all the <a title="Preakness Stakes Odds" href="/preakness-stakes/odds">Preakness Stakes odds</a> for {$PREAKNESS_YEAR} at  BUSR. You can place a bet for win, place, show, trifecta and more at our recommended ADWs and racebooks!</p>
<h2> Preakness Stakes Props and Bets</h2>
<p>{include file='/home/ah/allhorse/public_html/ps/ps_props_odds_3538.php'}</p>
{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}

{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_preakness/end-of-page-blocks.tpl"}