{include file="/home/ah/allhorse/public_html/usracing/block_preakness/top-of-page-blocks.tpl"}
<!-----------------------------start of unique page copy------------------------------------>    

        <br>
        {include_php file='/home/ah/allhorse/public_html/ps/results.php'} 
        


      {* <section class="ps-pimlico"><img src="/img/index-ps/bg-pimlico.jpg" alt="Pimlico" class="ps-pimlico_img"></section> *}



<!------------------------------end of unique page copy------------------------------------>  
{include file="/home/ah/allhorse/public_html/usracing/block_preakness/end-of-page-blocks.tpl"}
<!---{include file="/home/ah/allhorse/public_html/usracing/block_belmont/end-of-page-blocks.tpl"}-Turn on post race and comment out PS blocks->









