@import "vars";
.news-content{
  font-family: "Lato";
  font-weight: 100;
  overflow: hidden;
  //background-color: $background_news;
  color: $color_gray_dark;
}
.container2{
  margin: 0 auto;
  width: 90%;
  height: auto;
  overflow: hidden;
  //padding: 30px 0;
  @media screen and (max-width: 1024px){
    width: 98%;
  }
  @media screen and (max-width: 767px){
    margin: 0 auto !important;
    max-width: 100%;
  }
}
.container3{
  margin: 0 auto;
  max-width: 80%;
  height: auto;
  overflow: hidden;
  //padding: 30px 0;
  @media screen and (max-width: 767px){
    margin: 0 auto !important;
    max-width: 100%;
  }
}
.col-medium-6, .col-small-12{
  padding: 0 20px;
}
.col-medium-6{
  width: 50%;
  float: left;
  @media screen and (max-width: 1024px){
    width: 100%;
    float: none;
  }
}
.col-small-12{
  @media screen and (max-width: 768px){
    width: 100%;
    float: none;
  }
}
.col-medium-9{
  padding: 0 20px;
  width: 75%;
  float: left;
  @media screen and (max-width: 1024px){
    width: 70%;
  }
  @media screen and (max-width: 768px){
    width: 100%;
    float: none;
  }
}
.col-medium-3{
  width: 25% ;
  padding: 0 20px;
  float: left;
  @media screen and (max-width: 1024px){
    width: 30%;
  }
  @media screen and (max-width: 768px){
    width: 100%;
    float: none;
  }
}

.thanyou{
  h1{
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 30px 0;
    color: $color_blue_dark;
    font-size: 40px;
  }
  p{
    font-size: 18px;
    text-align: center;
  }
}

#nav-below {
  .nav-previous {
    text-align: center;
    a{
      visibility: hidden;
      text-decoration: none;
      &:after {
        display: inline-block;
        content: "Next →";
        visibility: visible;
        background: #d21428;
        color: #fff;
        padding: 10px 30px;
        border-radius: 3px;
        font-size: 14px;
        text-transform: uppercase;
        margin-left: -55px;
      }
      span {
        display: none

      }
    }
  }
}