 
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>Virtual Derby - Classic</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div class="field field-type-text field-field-body-logged-in">
    
            
            
<div class="virtualderby-box">

<iframe src="/virtual_derby_play.inc.php" style="display: block; height:400px;width:700px; margin: 0 auto; padding: 10px 0;" marginheight="0" marginwidth="0" allowtransparency="true"  frameborder="0" scrolling="no"></iframe>
<br><br><center>To play Virtual Racebook 3D - <a href="/virtualderby/3d">CLICK HERE</a><br></center>

</div>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 

