{include file="/home/ah/allhorse/public_html/usracing/block_dubai/top-of-page-blocks.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/schema/generated/dubai_world_cup_betting.tpl"}
      
  <!------------------------------------------------------------------>
    {*unique page copy starts here*}    
      
<p>{include_php file='/home/ah/allhorse/public_html/dubai/odds_dubai_1005_xml_new.php'}</p>  
<h3 style="font-size:32px;">How to Bet on the Dubai World Cup?</h3>
<p> Betting is easy with BUSR!</p>
<p> 1. Create Your Free Account </p>
<p> 2. Claim Your Welcome Bonus </p>
<p> 3. Place Your Bets and Cash Out</br></p>
<br/>
<p><a class="btn-xlrg" href="/signup?ref={$ref}">{$button_cta}</a></p>
<h1>The {include_php file='/home/ah/allhorse/public_html/dubai/running.php'} Dubai World Cup runs on {include_php file='/home/ah/allhorse/public_html/dubai/date.php'}.</h1>
<p>At <a href="/signup?ref={$ref8}"><i>BUSR</i></a> bettors will benefit from desktop and mobile real money betting action services from what is easily the best, horse racing betting sites in the industry as they will be able to place wagers on all the major horse races in a variety of ways with carefully reviewed odds. </p>
<p>Get reputable futures and an assortment of bets from one of the most agile and reliable horse betting providers.
All eyes are on horses, trainers and, jockeys and lots of questions raised. Who will succeed Thunder Storm this year? Will J. Servis make it first again? Fans' excitement mounts as the <a href="/signup?ref={$ref9}">Dubai World Cup</a> gets closer.
</p>
<p>Good luck and see you on {include_php file='/home/ah/allhorse/public_html/dubai/day.php'}!</p>
{*
      <p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet on the Dubai World Cup</a></p>
       
*}
        
        
 {include file="/home/ah/allhorse/public_html/usracing/block_dubai/end-of-page-blocks.tpl"}

