{include file="/home/ah/allhorse/public_html/usracing/block_dubai/top-of-page-blocks.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/schema/generated/dubai_world_cup_contenders.tpl"}
       
        
<p>{include_php file='/home/ah/allhorse/public_html/dubai/odds_dubai_1005_xml_new.php'}</p>
		
		
<!------------------------------------------------------------------>
    
<h1>Dubai World Cup Entries {include file='/home/ah/allhorse/public_html/dubai/year.php'}</h1>
<p>Make your bets on the different <a href="/signup?ref={$ref4}">Dubai World Cup Entries </a> {include file='/home/ah/allhorse/public_html/dubai/year.php'}. </p>
<p>Everything’s set for a clash of powerful racing horses at the upcoming UAE Derby.</p>
<p>Check out our current wagering odds for both favorites and underdogs, and try your luck now!</p>
<p><a href="/signup?ref={$ref5}">Sign up for an account, get your welcome bonus, and pick your winners! </a></p>
		
		
    </div>
  </div>
</section>

<!------------------------------------------------------------------>

{*
      <p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet on the Dubai World Cup</a></p>
       
*}
        
        
 {include file="/home/ah/allhorse/public_html/usracing/block_dubai/end-of-page-blocks.tpl"}