{include file="/home/ah/allhorse/public_html/usracing/block_dubai/top-of-page-blocks.tpl"}
 {include file="/home/ah/allhorse/public_html/usracing/schema/generated/dubai_world_cup_odds.tpl"}
     
  <!------------------------------------------------------------------>
    {*unique page copy starts here*}    
      
    {*unique page copy starts here*}    
<p>{include_php file='/home/ah/allhorse/public_html/dubai/odds_dubai_1005_xml_new.php'}</p>
<p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet on the Dubai World Cup</a></p>
<h2>Get your Picks Ready for {include_php file='/home/ah/allhorse/public_html/dubai/date.php'}.</h2>
<p>Analyze our current <b>Dubai World Cup Betting Odds</b>, and get your wagering action on your favorite horses!</p>
<p>Also remember that as we add new horses and remove others, the <b>Dubai World Cup Betting Odds</b> will be changing. So, remember that when you place a future wager, the odds you’re currently taking won’t vary, even when the actual line continues to move.</p>
<p>Good luck and see you on {include_php file='/home/ah/allhorse/public_html/dubai/day.php'}!</p>
    </div>
  </div>
</section>
<br/>

{*
      <p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet on the Dubai World Cup</a></p>
       
*}
        
        
 {include file="/home/ah/allhorse/public_html/usracing/block_dubai/end-of-page-blocks.tpl"}
      
  <!------------------------------------------------------------------>


        


