{include file="/home/ah/allhorse/public_html/usracing/block_dubai/top-of-page-blocks.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/schema/generated/dubai_world_cup_results.tpl"}
      
  <!------------------------------------------------------------------>
    {*unique page copy starts here*}    
      
<h2>{$DWC_YEARLAST} Dubai World Cup Results</h2>
{include file='/home/ah/allhorse/public_html/dubai/results.php'} 

<h2>{$DWC_YEARLAST} Dubai World Cup Payouts</h2>
<p>{include file='/home/ah/allhorse/public_html/dubai/payouts.php'}</p>
<p><br>
<p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet Now</a></p> 
  <br>
</p>          

    </div>
  </div>
</section>
<br/>


 {include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/blue-signup-bonus-kentucky-derby.tpl"}
      
  <!------------------------------------------------------------------>


        


