{include file="/home/ah/allhorse/public_html/usracing/block_dubai/top-of-page-blocks.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/schema/generated/dubai_world_cup_watch_live.tpl"}
      
  <!------------------------------------------------------------------>
    {*unique page copy starts here*}    
      
      
                  
                   

      <h4 style="font-size:32px;">How to Watch the Dubai World Cup {$DWC_YEAR}?</h4>
     {* <p style="margin-bottom:5px;">The {$DWC_YEAR} Dubai World Cup will also be broadcast on NBCSN starting at 12:30 p.m. EST.</p> *}
	 <p style="margin-bottom:5px;">Races from the {$DWC_YEAR} Dubai World Cup card can be streamed online at FS1 starting at 12:40 p.m. ET.</p>
      <h4 style="font-size:32px;margin-bottom:40px;">What time is the Dubai World Cup Post Time?</h4>
      <p>The post time for the Dubai World Cup is at 12:50 p.m. ET.</p>
      <h4 style="font-size:32px;">Dubai World Cup {$DWC_YEAR} Entries</h4>
      <p>{include_php file='/home/ah/allhorse/public_html/dubai/odds_dubai_1005_xml_new.php'}</p>
       
	      <p><a class="btn-xlrg" href="/signup?ref={$ref}">{$button_cta}</a></p>
	      
        <h3 style="font-size:32px;">How Long is the Dubai World Cup?</h3>
         <p style="margin-bottom:5px;">The Dubai World Cup is ran at 2,000 metres which is about 10 furlongs, and it is ran on a dirt surface</br></p>
<br/>
  <!------------------------------------------------------------------>
    {*unique page copy ends here*}   
{*
      <p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet on the Dubai World Cup</a></p>
       
*}
        
        
 {include file="/home/ah/allhorse/public_html/usracing/block_dubai/end-of-page-blocks.tpl"}
