{include file="/home/ah/allhorse/public_html/usracing/block_dubai/top-of-page-blocks.tpl"}
{include file="/home/ah/allhorse/public_html/usracing/schema/generated/dubai_world_cup_winners.tpl"}
      
 <!------------------------------------------------------------------>  {*unique page copy starts here*}    
      
<h2>Dubai World Cup Past Winners</h2>
<p>{include file='/home/ah/allhorse/public_html/dubai/pastwinners.php'} <br>
<br>
<p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet Now</a></p> 
  <br>
</p>          

    </div>
  </div>
</section>
<br/>


 {include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/blue-signup-bonus-kentucky-derby.tpl"}
      
  <!------------------------------------------------------------------>


 