@charset "UTF-8";
/* ----------------------------------------------------------------------------------------------------------*/
/*                                                                                                           */
/*                                                MAIN CSS                                                   */
/*                                                                                                           */
/* ----------------------------------------------------------------------------------------------------------*/


@media all {

/* GLOBAL COMPONENTS =========================================*/
  html,body {overflow-x: hidden;} 
  body { font-weight: normal; color: #212121; font: 12px "Helvetica", Arial, Trebuchet MS, Trebuchet, sans-serif; line-height: 16px; vertical-align: baseline; overflow-y:hidden; }
  .preLoadimages { position:absolute; top: -1000px; height:100px; width:100px; overflow:hidden; }
  
  h1 { margin:0; padding:0 0 6px 0; font-size: 17px; font-weight: bold; }
  h2 { margin:0; padding: 0 0 6px 0; font-size: 17px;/*14px*/ font-weight: bold; }
  h3 { margin: 0; padding:0 0 6px 0; font-size: 20px; font-weight: bold; }
  h4 { margin:0; padding:0 0 6px 0; font-size: 14px; font-weight: bold; }
  img { display:block; margin: 0; padding: 0; border:0; }
  *:focus { outline: none; }
  h2.title, h2.title-custom, h1.title-custom{ font-size: 17px; padding: 0 0 0; }
  h2.DarkBlue_Title { color: #105ca9;  border-bottom:1px solid #AAD3FF; }
  h1.title { font-size: 17px; padding: 0 0 0 40px; border-bottom: 1px solid #AAd3F; }
  a:link { margin: 0; padding: 0; text-decoration: none; color: #1b579f }
  a:visited { text-decoration: none; color: #1b579f }
  a:active { text-decoration: none; color: #1b579f }
  a:hover { text-decoration: underline; color: #1b579f }
  
/* remove unwanted focus outlines from links */
  a { noFocusLine: expression(this.onFocus=this.blur())  outline: none; }
  
  table { border-collapse:collapse;} 
  .bold { font-weight: bold;}
  .white { color: white; }
  .DarkBlue { color: #000; }
 
 
  .red { color:#c80500; }
  .text-note { color:#666; font-style:italic;  }

/* BUTTONS */
.button, a.button, a:link.button { padding: 10px; font-weight:700; border:1px solid #308e17; outline:none; cursor: pointer; color:#fff; width:auto; text-decoration:none; margin-top:10px;  color:white; font-size: 14px; 
-webkit-appearance:none; -moz-appearance:none; 
background: #36ad16;
background: -moz-linear-gradient(top, #36ad16 0%, #308e17 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36ad16), color-stop(100%,#308e17));
background: -webkit-linear-gradient(top, #36ad16 0%,#308e17 100%);
background: -o-linear-gradient(top, #36ad16 0%,#308e17 100%);
background: -ms-linear-gradient(top, #36ad16 0%,#308e17 100%);
background: linear-gradient(to bottom, #36ad16 0%,#308e17 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36ad16', endColorstr='#308e17',GradientType=0 );
}
.button:hover, a.button:hover { padding: 10px; font-weight:700; outline:none; cursor: pointer; color:#fff; text-decoration:none;
    background: #3ec719;
    background: -moz-linear-gradient(top, #3ec719 0%, #37a31a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ec719), color-stop(100%,#37a31a));
    background: -webkit-linear-gradient(top, #3ec719 0%,#37a31a 100%);
    background: -o-linear-gradient(top, #3ec719 0%,#37a31a 100%);
    background: -ms-linear-gradient(top, #3ec719 0%,#37a31a 100%);
    background: linear-gradient(to bottom, #3ec719 0%,#37a31a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ec719', endColorstr='#37a31a',GradientType=0 );
}

/* TOP MENU --------------------------------------- */
.topmenu { position: relative; display: block; width: 940px; height: 66px; padding: 0; margin: 0 auto;}

#toplinks { float: left; position: absolute; top:10px; left:240px; margin: 0;}
#toplinks ul, #toplinks li { display: inline; text-decoration: none; margin:0; }
#toplinks li { float:left; display:block; list-style: none; font-size: 10px; margin: 0; }
#toplinks li.last { border: 0; }
#toplinks li a { color: #2E4766; font-weight: bold; text-decoration:none; display:block; }
#toplinks li a:hover { text-decoration:underline; }
.toplogo { position:absolute; top:5px; left:0; display:block; z-index:3; }

#login-menu { float: right; position: relative; text-align: right; }
#login-menu ul, #login-menu li { display: inline; text-decoration: none; }
#login-menu li { list-style: none; font-size: 10px; border: 0; margin: 0px; float:left; display:block; margin:17px 10px 0 0; }
#login-menu li.last { border: 0px; }
#login-menu li a { color: #FFF; font-weight: bold; background:#122E4B; border:1px solid #294159; float:left; display:block; overflow:hidden; padding:7px 12px; font-size:13px; }
#login-menu li a:hover { background:#294159;text-decoration:none; }

#login-menu li.last { margin-right:0; }

#login-menu .pipe { color: #76aae8; padding: 0 3px 0 3px; }
/* --- end top menu ----------------------------------- */
  
  
/* MAIN NAVIGATION =======================================================*/
  
  #menubar { clear: both; position: relative; margin: 0; padding: 0; width: 100%; height: 46px; background: #143F73; border:0; }
  .indent { float: left; position: relative; width: auto; height: auto; background: none; }
  #menu { padding: 0; width: 940px; }
  #menu ul, #menu li { display: inline; list-style: none; margin: 0; padding: 0;  }
  #menu .sf-menu { float: none; line-height: normal; position: static; }
  #menu .sf-menu a { background-color: transparent; }
  #menu .sf-menu a, #menu .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/ }
  #menu .sf-menu li { background: transparent; position: relative; }
  #menu .sf-menu li.right { position: static; }
  #menu .sf-menu li ul { width: 960px; }
 
  #menu .sf-menu li:hover,
  #menu .sf-menu li.sfHover,
  #menu .sf-menu a:focus,
  #menu .sf-menu a:hover,
  #menu .sf-menu a:active { background:#398ECB;}
  
  #menu .sf-menu .current ul,
  #menu .sf-menu ul li:hover ul,
  #menu .sf-menu ul li.sfHover ul,
  #menu .sf-menu li:hover ul,
  #menu .sf-menu li.sfHover ul  { left:	-1px; top: 46px;  /* match top ul list item height */  }
  #menu .sf-menu li.first:hover ul, #menu .sf-menu li.right:hover ul  { left:0; }
  #menu .sf-menu .current ul ul { top: -999em; }
  
  #menu li a { float:left; color: white; font-weight: bold; height: 46px; margin: 0; padding: 0 14px; line-height: 46px; background: none; text-decoration: none; text-transform: uppercase; border:0; border-right:1px solid #3B6395;}
  #menu li a.current, #menu li.active a { color: white; background: #398ECB; }
  #menu li a:visited { color: #FFF; }
  #menu li a:hover { color: white; background: #398ECB;  }  
  #menu li.green a { background: #56a214;   } /* HIGHLIGHT BUTTON */
  #menu li.green a:hover { background: #56a214;  } /* HIGHLIGHT BUTTON HOVER */
  #menu li.sfHover > a { color: white; background: #398ECB; }
  #menu li.last a { background: #56a214;   }
  #menu li.last a:hover { color: white; background: #69B821;  }
  .logged-in #menu li.last { visibility: hidden; display: none; }
  .not-logged-in #menu li.lastbutone { visibility: hidden; display: none; }
  #menu li.lastbutone a { background: #56a214;  }
  #menu li.lastbutone a:hover { color: white; background: #69B821; }
  
  
/* Mega Menu ----------------------- */
  #menu .mega-menu a { background: transparent none; padding: 0; float: none; display: block;  }
  #menu .mega-menu a, 
  #menu .mega-menu a:visited,
  #menu .mega-menu a.current, 
  #menu .mega-menu a  {}  
  #menu .mega-menu a:hover { color: navy; text-decoration: underline; background: transparent none; }

  .mega-menu { background-color: #398ECB; min-height: 230px; padding: 4px; height: auto; margin: 0 auto; width: auto;  float:left; }/* see ie7.css for IE styles */
  .mega-menu { /*-moz-box-shadow: 0px 3px 4px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 3px 4px rgba(0,0,0,0.3); box-shadow: 0px 3px 4px rgba(0,0,0,0.3);*/ }
  #menu li.right .mega-menu { float:right; }
  .mega-menu .advertisement { padding: 0; float: left; width:auto; height: 230px; }  
  .mega-menu .inner { float: left; padding:8px 4px 0 4px; vertical-align:top; }
  .mega-menu .depth-1 { padding: 0 8px; text-align: left; border-right: 1px solid #b7d1ec;  height: 218px;  }
  .mega-menu .depth-1.first { padding-left: 8px; }
  .mega-menu .depth-1.last { border-right: none; }

  /* equal heights of columns */
  .mega-menu, .mega-menu .inner { overflow:visible; /*display:table;*/ table-layout:fixed; }
  .mega-menu .depth-1 { display:table-cell; vertical-align:top; float:none; overflow:hidden; line-height:normal; }
  
  #menu .mega-menu .depth-1 a, #menu .mega-menu .depth-1 a:visited, #menu .mega-menu .depth-1 .cat  { text-transform:uppercase; display:block; padding:00 0 6px; margin: 0; color: #FFF; font-size: 13px; font-weight: bold; vertical-align:top; line-height:normal; border:0; border-bottom:1px solid #63A4D2; width:100%; height:auto;  }
  #menu .mega-menu .depth-2 { line-height: 12px; padding: 0 8px 5px 0; }
  #menu .mega-menu .depth-2.first { margin-top: 8px; }
  #menu .mega-menu .depth-2.last {  }  
  #menu .mega-menu .depth-2 a, #menu .mega-menu .depth-2 a:visited { display:inline; margin: 0; color: #FFF; font-size: 10px; font-weight: bold; line-height: 12px; height:auto; padding: 0; vertical-align:top; border:0; }
  #menu .mega-menu .depth-2 a:hover { text-decoration: underline; }
  
  /* Custom */
  .menu-494 .mega-menu { width: 952px; } /* RACEBOOK Menu width */
  .menu-494 .mega-menu .inner { width:790px; }
  .menu-494 .mega-menu .inner .depth-1 { width: auto; }
  .menu-494 .mega-menu .inner .depth-1.last {  }
  .menu-494 .mega-menu .inner .menu-950.depth-1 { width:140px; } /* Breeders Cup Menu */
  
  .menu-497 .mega-menu { width:770px; } /* SPORTSBOOK Menu width */
  .menu-918 .mega-menu { width:760px; } /* HORSE FUTURES Menu width */
  .menu-918 .mega-menu .depth-2 a.futurerace span { color:#ffbb00; }
  .menu-918 .mega-menu .depth-2 a.futurerace:hover span { color:#fff; }
  
  
/* SUB NAVIGATION ========================================================*/  
  #submenubar { clear: both; position: relative; margin: 0; padding: 0; width: 100%; height: 32px; background: #0071BD; }
  .subindent { float: left; position: relative; width: auto; height: auto; background: none; }
  #submenu { float: left; padding: 0; }
  #submenu ul, #submenu li { display: inline; list-style: none; margin: 0; padding: 0; }
  #submenu li a { float:left; color: white; font-size: 10px; font-weight: bold; padding: 0 10px; /*padding of tabs*/ line-height:32px; background: none; text-decoration: none; text-transform: uppercase; border-right:1px solid #2D8DD0; }
  #submenu li a.current { color: white; }
  #submenu li a:visited { color: #FFF; }
  #submenu li a:hover { color: #FFF; text-decoration: none; background: #2D8DD0; }
  .logged-in #submenu li.menu-592 { display: none;  }/* Why Us? hide on log in */
  
/* SOCIAL and SEARCH BOX ======================================================== */
  .social-box { float: right; width: 240px; display: block; height: auto; position: relative; }
  .social-box area { outline:none; }
  .follow-submenu { float:left; margin-top:3px; display:block; width:auto; height:26px; }
  .searchbox { display: block; border: 0;  position: relative; float:right;  }
  fieldset.search { border: 0; background: transparent none; float: right; margin: 0 10px 0 0; padding: 4px 0 0 0; }
  .search input { border:0; float: left; }
  .search input.box { color: #000; font-size: 12px; width: 112px; height: 17px; padding: 3px 5px 0 20px; margin: 0; border-top:1px solid #a6a6a6; border-right:0; border-left: 1px solid #bfbfbf; border-bottom:1px solid #e9e9e9; background: #FFF url('/themes/images/searchbox-bg.gif') top left no-repeat; }
  .search input.box:focus {  background: #FFF; width: 127px; padding: 3px 5px 0 5px; outline: none; }
  .search button { margin:0; padding:0; float: left; display: block; background:#FFF; width: 23px; height: 22px; border-top: 1px solid #a6a6a6; border-left:0; border-right:1px solid #f3f3f3;  border-bottom:1px solid #e9e9e9; cursor: pointer; text-indent: -9999px; }
  .search button.btn {  background: #FFF url('/themes/images/searchbox-button.gif') no-repeat top left;    }
  .search button.btn:hover { background: #FFF url('/themes/images/searchbox-button-hover.gif') no-repeat top left; }
  
  
/* COMMON STYLES ========================*/
  .boxheader { position: relative; display: block; line-height: 17px; padding: 0 0 4px 0; border-bottom: 1px solid #aad3ff; }
  .boxheader h1 { margin-left: 34px; padding: 1px 0 0 0; }
  .boxheader h2 { margin-left: 34px; padding: 1px 0 0 0; }
  .boxicon img { float: left; display: block;}
  .boxheader-bar-blue { position: relative; display: block; height: 23px; border-bottom: 1px solid #105ca9; background: #105ca9;}
  .boxheader-bar-blue h2 { margin-left: 10px; padding: 5px 0 0 0; }
  
  .boxfooter { text-align: right; font-weight: bold; bottom: 0; }
  .box-shd, #box-shd { height: 4px; bottom: 0; background: #FFF url('/themes/images/box-shd.gif') repeat-x top left; }

  #box-container { float: left; position: relative; height: 100%; width: 100%; margin:6px 0 0 0; display: block; }
  #box, .not-front #content-wrapper { background: #fff; border: 1px solid #1b579f; padding: 10px; }
  .not-front #content-wrapper { margin-top: 0; }
  .not-front #content-box { padding:0 34px; min-height: 400px; height: auto!important; overflow:hidden;  }
  .not-front #col3 #content-box p+p { padding-top:12px; } /* Space between paragraphs */
  .not-front #col3 #content-box tbody { border:0; } /* Space between paragraphs */
  /* for Internet Explorer */
  /*\*/
  * html .not-front #content-box { height: 400px; }
  /**/
	
  #block-allhorseracing-2 { padding: 0; }
  .not-front h2.title, .not-front h2.title-custom, h1.title-custom, .front h2.title, .front h1.title  { background:transparent url('/themes/images/genericicon.gif') no-repeat scroll left 1px; border-bottom:1px solid #AAD3FF; line-height:22px; padding:0 0 4px 35px; }

        
  .box-text, .RoundBody { padding: 20px 0; margin:0;  }
  .box-text p+p, .RoundBody p+p { margin-top:12px; } /* Space between paragraphs */
  .box-text table *, .RoundBody table *  { border-collapse: collapse; border:none; }
  .box-text .table-poker td { padding: 20px; border-top: 1px solid #aad3ff;  }
  .box-text ul { padding-left: 30px;   }
  .show_design_border { border: 0; }
  .box-topmenu { float: right; margin: -5px 0 0 0; text-align: right; }
  .box-topmenu img { float: left; padding-right: 6px; }
  .box-topmenu a { float: left; padding: 0 0 0 20px; line-height: 22px; font-size: 11px; font-weight: bold; }
  
  .not-front .block { border:1px solid #1B579F; padding: 10px;  }
  .not-front #content-top .block { border: none; padding: 0;} /* top banners */
  .not-front #content-bottom .block { border: 1px solid #1B579F; padding: 10px;} /* Put padding and borders back on bottom */
  .front #col3 .box, .front #col2 .box, #home-row-3 .block, #col2 .box, #col1 .box  {  border:1px solid #1B579F; padding: 10px; margin: 0; }
  #col2 .box, #col1 .box { margin-top:6px; }

  #block-block-1, #block-menu-menu-footer-links, table#blocks .block, #main #col2 .block-block,  #main #col1 .block-block { border: none; padding: 0;  }  
  table#blocks td { padding: 5px }  
  .tabcontent { padding: 20px 34px;}


/* ONE MOMENT PLEASE ================================================================================ */		
	#ahr-message { display: block; height: 100%; width: 99.9%; padding: 160px 0;  }
	#ahr-message .box {  background: #FFF url( '/themes/images/ahr-message-bg.gif') no-repeat top left; width: 324px; height: 215px; display: block; margin: 0 auto; padding: 0; 
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
 	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
 }	
	#ahr-message .message-box {  position: relative; width: 280px; height: 120px; display: block; left: 20px; top: 50px; margin: 0; padding: 0;  }
	#ahr-message #message { text-align: center; font-size: 12px; line-height: 16px; margin: 0; padding: 40px 20px 10px 20px; }	
	#ahr-message .loading { padding: 0;  }
	#ahr-message .loading img { display: block; width: 43px; margin: 0 auto; }
	#ahr-message .note { text-align: center; padding-top: 60px; font-size: 11px; color: #666; margin: 0; }

/* NETWORK STATUS ================================================================================ */
	.networkstatus-body { margin: 0; padding:0; height: 100%; width: 100%;   }
	.networkstatus { display: block; border:5px solid #1B579F; margin: 10px; padding: 10px; }
	.networkstatus .containermess { border: 1px solid #aad3ff;display: block; padding: 25px; min-height: 350px; height: auto!important;  }
	.networkstatus #spanmess { margin-top: 6px; }
	.networkstatus .closebutton { margin-top: 60px; text-align: center; display: block; }
	.networkstatus .closebutton input { cursor: pointer; text-transform: uppercase; font-size: 11px; font-weight: bold; color: #105ca9; height: 24px; width: 111px; border:1px solid #1b579f; background: #FFF url('/themes/images/tabs-bg.gif') top left repeat-x; }
	.networkstatus .backbutton input:hover { color:#000; }


/* HOME PAGE ================================================================================== */
  body.front #col3 { width: 660px; }
  

/* Countdown v2 ---------------------------------------------------------- */
  .countdown-advertisement2 .inner { position: relative; float: left; display:block; }
  .countdown-box2 { position: absolute; height: 30px; right:0; width: auto; bottom:12px; }
  .countdown-box2 .countdown { color: white; font-weight: bold; font-size: 22px; padding: 0 9px 0 0; margin: 0; text-align: right; }  
  .countdown-box2 .colon { padding: 0 5px; }
  .countdown-box2 .lables { position: relative; text-align: right; padding:0; color: #000; font-size: 11px; font-weight: bold; top: 1px;   }
  .countdown-box2 .lables span { padding:0 0 0 5px;}
  
/* SEO Copy ---------------------------------------------------------- */

.homeIntro { border: 1px solid #1b579f; padding: 10px; height:220px;}
.homeIntro .quote { display: block;  height: 24px; font-size: 17px; font-weight: bold; border-bottom:1px solid #AAD3FF;  }
.homeIntro .copy { float: left; width: 286px; display: block; margin-top: 0; padding: 10px 5px 10px 5px;  }
.homeIntro .copy.first { margin-right: 10px;   }
.homeIntro .copy p+p { margin-top: 7px; }

  
/* Photo and News  ------------------------- */
  #photo { float: left; width: 292px; height: 303px; border: 1px solid #d9d9d9; padding: 10px; margin-right: 10px; }
  .photo-container { display: block; border: 1px solid #000; width: 290px; height: 196px; overflow: hidden; }
  .photo-container img { display: block;  width: 290px; height: 196px; }
  #photo-news { display: block; height: auto; background: #FFF; }
  #photo-news h3 { padding: 0; }
  .story-lng { height: 88px; overflow: hidden; padding: 10px 0 10px 0; }
  
  .news-home { display: block; margin: 0 0 0 327px; border: none; height: 329px; }
  .news-home p + p { margin: 5px 0 0 0; }
  #news {  display: block; }  
  #news .social { float: right; text-align: right; }
  #news .social img { float: left; padding-right: 5px; }
  .front #news-content { height: 279px; padding: 5px 0; }
  .not-front #news-content { padding: 10px 0; }
  #news-content h3 { padding: 0; }
  #news-content .h2, h3.news-title { line-height: 15px; font-size: 100%; }
  .story { margin: 8px 0 0 0; padding: 0; }
  .front .news-date { color: #808080; font-size: 10px; padding-bottom: 3px;}
  .not-front .news-date { color: #808080; font-size: 11px; padding: 4px 0;}
  
  #col3 .article .inner { line-height: 1.5em;  }
  #col3 .article .body { margin:24px 0 24px 0;  }  
  #col3 .article .InfoRibbon { padding-bottom: 5px; width: 100%; display: block; border-bottom:1px solid #CCC;  }
  #col3 .article .Author { margin-top: 16px; font-weight: bold; font-size:13px;  }
  #col3 .article .Source { font-weight: bold; margin-right:10px; }
  #col3 .article .ShortDate { color: #808080; font-size: 12px;}
  #col3 .article .LongDate { color: #808080; font-size: 12px;}
  
  .page-news .racing-news .story { height: auto; margin: 2em 0; padding: 0; clear:both}
  .page-news .racing-news .story h3.news-title { font-size: 105%; padding:0; }
  .page-news .racing-news .story .news-date { font-size:100%;  }
  .page-news .racing-news .item-list .pager li { padding:5px 0;  }
  .page-news .racing-news .story img { max-width:40px; height:auto; }
  

  
/* Graded Stakes Races  ---------------------------------------------------------- */
#graded { width: 100%; display: block; }
#graded-content { float:left; background: #f2f9ff; display: block; width: 100%; height: 518px; padding: 0 0 2px 0; margin: 10px 0 10px 0 !important; border: 1px solid #c7e3ff; overflow: hidden; }
#graded p+p { padding: 5px 10px; } /* Space between paragraphs */
.stakes-blue { float: left; width: 100%; background: #fff; padding: 0; }
.stakes-yellow { float: left; width: 100%; background: #fff; padding: 0; }
/*.graded-date { float: left; padding: 2px 0 2px 5px; }*/
.graded-date { float: none; padding: 3px 5px; background:#F2F9FF;}
/*.graded-race { margin-left: 54px; margin-right: 6px; }*/
.graded-race { margin:0; }
/*.graded-race p { height: 34px; padding:2px 0; }*/
.graded-race p { padding:5px 10px; border-top:1px dotted #CDE5F8; }
.graded-race p:first-child { border-top:0; }
.graded-race h2 { float: left; padding-right: 5px; }

.not-front #col1 #graded-content, .not-front #col2 #graded-content { height:auto; padding:0; }
.not-front #col1 .graded-race p, .not-front #col2 .graded-race p { height:auto; }
.not-front #col1 .graded-race, .not-front #col2 .graded-race { margin-left:50px; } 

  
   
/* Todays' Tracks ----------------------------------------------------------------- */
  .listings table { margin: 0 0 10px 0; }
  .listings tbody { border: none; }
  .listings .pane1 { height: 298px; }
  .listings .pane2 { height: 298px; }
    
  /* tabs pane styling */
  .pane1 { position: relative; display: block; margin: 0 10px 10px 10px; color: #000;}
  .items1 { float: left; position: relative; font-weight: bold; display: block; background: #FFF; width: 100%; height: 272px;margin: 10px 0 0 0; }
  
  .tracks-titlebar th { background: #e2f0ff; padding: 0 10px; height: 20px; font-size: 12px; font-weight: bold; line-height: 20px; text-indent:0; border: none; }
  .tracks-spacer td { display: block; height: 10px; border: none; }
  .tracks-cell td {  padding: 0 5px 0 10px; line-height: 28px; height: 28px; border-bottom: 1px solid #d9d9d9; }
  .pane2 { position: relative; display: block; margin: 0 10px 10px 10px; color: #000; }
  .items2 { float: left; font-weight: bold;  display: block; background: #FFF; width: 100%;  height: 272px; margin: 10px 0 0 0; }

  
/* Top Leaders  -------------------------------------------------------------------- */
  #box-leaders-container { float: left; position: relative; display: block; width: 454px; margin-left: 10px; }
  #box-leaders { background: #fff; width: 432px; /* total width minus 22px for padding --*/ height: 319px; border: 1px solid #1b579f; padding: 10px; }
  #leaders { float: left; display: block; width: 100%; }
  #leaders-content { float:left; display: block; height: 260px; }
  #leaders .social { float: right; }
  #leaders .social img { float: left; padding-right: 5px; }
  
  .leaders-header { float: left; width: 410px; font-size: 12px; font-weight: bold; line-height: 12px; padding: 0 0 5px 0; margin: 0 0 10px 0; border-bottom: 1px solid #d9d9d9; }
  .leaders-header .cat { float: left; display: block; }
  .leaders-header .catlink { text-align: right; display: block; }
  
  .leaders-info { float: left; width: 100%; display: block; margin: 0; }
  .leaders-icon { float: left; display: none; margin: 0 0 0 10px; }
  .leaders-name { float: left; display: block; font-size: 13px; font-weight: bold; line-height: 13px; margin: 0; }
  .leaders-table { float: left; width: 325px; height: 25px; padding: 0 0 0 0; display: block; margin: 0 0 0 25px; }
  
  .jockeys { float: left; width: 410px; border-bottom: 1px solid #d9d9d9; padding: 0 0 10px 0; margin: 15px 10px 0 10px; }
  .horses { float: left; width: 410px; border-bottom: 1px solid #d9d9d9; padding: 0 0 10px 0; margin: 15px 10px 0 10px; }
  .trainers { float: left; width: 410px; border-bottom: 1px solid #d9d9d9; padding: 0 0 10px 0; margin: 15px 10px 0 10px; }
  
  .width53 { width: 53px; }
  .width67 { width: 67px; }
  .width115 { width: 115px; }
  .width50perc { width: 50%; }  
  
/* TITLE ICONS - CUSTOM ======================================================================== */
  #block-block-13 h2.title, #block-block-76 h2.title { background-image: url('/themes/images/cashiericon.gif') }/* --- Clubhouse - Cashier Block ---- */
  #block-menu-menu-support h2.title { background-image: url('/themes/images/supporticon.gif') }
  #block-menu-menu-triplecrown  h2.title { background-image: url('/themes/images/gradedicon.gif') }
  .page-news #col3 h2.title { background-image: url('/themes/images/horse-racing-icon.gif') } 
  .page-news #col3 h1.title { background-image: url('/themes/images/horse-racing-icon.gif'); background-repeat:no-repeat; background-position:left 0; border-bottom:1px solid #AAD3FF; padding-bottom:6px;  }  
   #block-block-14 h2.title, #block-block-77 h2.title { background-image: url('/themes/images/myaccounticon.gif') }/* --- Clubhouse - My Account Block ---- */ 
  
  
/* CLUBHOUSE ================================================================================ */
.inbox-header { display:block; text-align: center; margin:0; padding: 7px 0 0 0; font:bold 14px Arial, Verdana, sans-serif; color: #FFF; height:23px; background: #FFF url('/themes/images/sportBannerSmall.gif') top left repeat-x; }
#messages-inbox .message { display: block; text-align:center; margin:10px; padding: 10px; border: 1px solid #aad3ff;} /* --- Clubhouse - Not Logged In ---- */

.box-club-menu { margin: 10px 0 0 0; padding: 0; display: block; background: #FFF; }
.box-club-menu ul { display: block; float: left; width: 462px; background: #FFF; list-style-type:none; margin:0; padding:0;}
.box-club-menu li { display: block; float: left; margin: 0; padding:0; }
.box-club-menu .icon { display: block; background: url('/themes/images/clubicon-bg-bar.gif') no-repeat top left; padding:0; height: 229px; border: 1px solid #1b579f; margin: 10px; }
.box-club-menu .icon:hover { display: block;  background: url('/themes/images/clubicon-bg-bar.gif') no-repeat bottom left; padding: 0; border: 4px solid #8acf50; margin: 7px; }
.box-club-menu li a { display: block; padding:0; margin: 0; padding:0; width: 209px; }
.box-club-menu li a.category { display: block; color: white; font-size: 17px; text-align: center; line-height: 48px; font-weight: bold; height: 46px;}
.box-club-menu li a:hover { display: block;  margin: 0; text-decoration: none; }
.box-club-menu li img { display: block; padding:0; margin:0; border:0; }

.box-club-menu ul.right { display: block; float: left; padding: 0; width:230px; }
.box-club-menu .banner { display: block; width: 211px;  margin: 10px 0 10px 10px; }
  
  
/* VIRTUAL DERBY ================================================================================ */
  .virtualderby-box { background: #FFF; margin:0; padding:0; }
  .page-virtualderby #col2.append-logged-in{display:none;}
  .page-virtualderby #col3.append-logged-in{ width:auto; margin:0; }	
  .page-virtualderby #col2.append-logged-out{margin-left:0;}
  .page-virtualderby #col3.append-logged-out{width:auto;}
	
  .logged-in.page-virtualderby #col3 { margin:0; }  
  .logged-in.page-virtualderby #col2 { display: none; }

/* RACEBOOK ================================================================================ */
	#block-menu-menu-racebook-info h2.title { background-image: url('/themes/images/infoicon.gif') }
  	#block-menu-menu-racebook-help h2.title { background-image: url('/themes/images/helpicon.gif') }
	.page-racebook #col1.append-logged-in{width:191px;}
	.page-racebook #col3.append-logged-in{margin-left:191px;}
	.page-racebook #col1.append-logged-out{width:235px;}
	.page-racebook #col3.append-logged-out{margin-left:237px;}
	.content-header-bar { background: #eee; padding: 10px 7px; color: #000; font-weight:normal; font-size:1.2em; display: block; border-bottom: 1px solid #CBCBCB; }
  table .content-header-bar { display:table-cell;  }
	table.data { width: 100%; }
	table.data td { padding: 5px; }
	table.data tbody, table.data tbody *  { border:none;  }
	table.data tbody th { padding: 5px; border:none;  }
	table.data tbody hr { border-bottom: 1px solid #CCC;  }
	
/* HORSE RACING RESULTS ===================================================================== */
	.moreabout { display: block; }

/* CASINO ================================================================================ */
  	.page-casino h2.title { display: none; }
  	.page-casino #content-box { padding: 0; }

/* SPORTSBOOK ================================================================================ */
	#block-menu-menu-sports-line h2.title { background-image: url('/themes/images/sportsicon.gif') }
	.page-sportsbook #col1.append-logged-out{width:235px;}
	.page-sportsbook #col3.append-logged-out{margin-left:237px;}

/*======================== POKER ================================================================================ */
	.page-poker #col3 h2.title { background-image: url('/themes/images/pokericon.gif') }


/* TABLES AND DATA ================================================================================ */
		
	#infoEntries, #raceEntries, #raceTimes { margin: 10px 0 0 0; padding: 0; width: 100%; }	
	#infoEntries tr, #raceEntries tr, #raceTimes tr, #infoEntries tbody { border: none;}
	#infoEntries th, #raceEntries th { border-right: 1px solid #CBCBCB; border-bottom: 1px solid #CBCBCB; padding: 7px 10px; color: #000; font-size: 1.2em; background: #eee; font-weight:normal; }
	#infoEntries th:last-child, #raceEntries th:last-child { border-right:0; }
	#infoEntries td, #raceEntries td {  padding: 10px; font-size: 1em;}
	#infoEntries td.odd, #raceEntries tr.AlternateRow  { background: #e5e5e5; }	
	#infoEntries .td-box {  display: block; border-bottom: 1px solid #d9d9d9; padding: 9px 10px; }
	#infoEntries .td-box:hover {  display: block; background: #d4e9ff; }
	
	#raceTimes table td { padding: 10px; font-size: 1em; border: none; }
	#raceTimes, #raceTimes table { border: none;  }
	#raceTimes table tr.odd { background: #d4e9ff;  }
	#raceTimes td.num { font-weight: bold; }
	#raceTimes tbody, #raceTimes table tbody { border: none; }
	
	.page-racingschedule #infoEntries td { width:14.2%;}
	.page-racingschedule #infoEntries th { font-size: .917em; }

/* RACE-OF-THE-WEEK PAGE ========================================================================= */
.rotw-block-details { display:block; clear:left; margin-top:20px; padding: 10px 20px; border:1px solid #AAD3FF; background:#EDF6FF; }

/* RACETRACK PAGE ================================================================================ */
.TrackInfo { background-color: #EBEBEB; font-size: 10px; border: solid 1px #CECECE; padding: 10px; line-height: 16px; }
.TrackDetails {  }
.RaceTracks h2 { font-size: 17px; font-weight: bold; color: #105ca9; margin-bottom: 6px;  }
.TrackLogo { max-width:308px; /* IE Image max-width */ width: expression(this.width > 308 ? 308 : true); }


/* LEADERS PAGES ================================================================================ */	
	.section-leaders #content-box { padding: 0;}
	#infoEntries.leaders td { border-right: 1px solid #d9d9d9; padding: 10px 20px 10px 10px; font-size: 1.0em;}	
	#infoEntries.leaders td:last-child { border-right:0; }
	#infoEntries.leaders td.num { font-weight: bold; text-align: center; }
	#infoEntries.leaders .header { border-right: 1px solid #CBCBCB; padding: 7px; color: #000; font-size: 1.2em; background: #eee; border-bottom: 1px solid #CBCBCB;  }
	#infoEntries.leaders .header:last-child { border-right:0; }
	

/* SUPPORT PAGE ================================================================================ */	
	.page-support-gamingknowledgebase #content-box { padding: 0;}
	.page-support-gamingknowledgebase #content-box iframe { width: 100%; }

  
/* PROMOS ==============================================================================*/
	#block-menu-menu-promotions h2.title { background-image: url('/themes/images/promotionsicon.gif') }
	
	.section-promotions #content-box, .section-promotions #content-wrapper { padding: 0; }
	.section-promotions #col3 h2.title { display: none; }
	.promos-title { position: relative; display: block; height: 30px; background: #105ca9; }
	.promos-title h2 { font-size: 14px; line-height: 30px; margin-left: 10px; color: #FFF; }
	.promos-welcome { display: block; background: url('/themes/images/gradient-lightblue.gif') top left repeat-x; height: 30px; margin: 10px 10px 0 10px; padding: 25px 18px; }
	#promos-content { display: block; margin: 10px 10px 20px 10px;  }
	#promos-content .promos-box { display: block; padding: 10px 0; min-height: 80px; height:auto !important; height:80px; } 
	#promos-content .icon { display: block; float: left; width: 72px; }
	#promos-content .header { display: block; margin: 0 0 10px 82px; background: #e5f2ff; padding: 5px 10px 5px 10px; line-height: 16px; font-weight: bold; }
	#promos-content .current-info { clear: right; display: block; margin: 0 0 0 102px; width: 70%;  }
	#promos-content .current-info ul { display: block;  }
	#promos-content .current-info ul.star li { line-height: 16px; padding: 2px 5px;list-style-image: url('/themes/images/promos-liststar.png'); list-style-type:disc;  }
	#promos-content .current-info ul.numberedlist li { padding: 2px 5px; list-style-type:decimal;  } 

  

  
/* MISC =====================================================================*/  
  .box { margin: 2em 0; }
  .box-inner > h2.title { font-size: 125%; color: #333; border-bottom: 2px solid #CCC; margin: 1em 0; }
  .box table th { padding: 0 1em; }
  .box table td { padding: 0.25em 1em; }
  
  table#attachments { margin: 2em 0; }  
  .page-title { margin: 1em 0; font-size: 200%; }  
  
    
  .imce #help-box { right: 10px; text-align: right; }
  .imce #help-box-content { text-align: left; }
  .imce ul#ops-list { margin: 0.4em 0; }
  .imce ul#ops-list li { }
  .imce ul#ops-list li a { }
  
  ul.secondary { }
  ul.secondary li { }
  ul.secondary a { height:18px; padding:0 5px;}
  
  .sidebar-col .block { margin:0; }
}
  