body.front #col3 {	*width: 646px; }

body.front #col3 #col3_content { *padding-right: 0px;}


#login-box .form-submit { *padding-left: 10px; }

#login-box .forgot a { *line-height:20px; }

#menubar { *z-index: 100; }
#submenubar { *z-index: 50; }

#menu li a {  }
#submenu li a { *padding: 0 10px 0 10px; }

/* -------- Mega Menu ----------------------- */
.mega-menu .depth-1 { *float: left; }

#main { *width:960px; } /* needs to be set with a specific width otherwise IE7 adds padding, when using width:auto; in #col3 */

.countdown-box .lables { *top: -1px; }
.countdown-box .countdown { *padding: 2px 12px 0 12px; }

.front #col3 .box {  *height: 100%; }

#track-results-block ul.tabs li { *width: 49.9%; }

.not-front #col2 .box { *height: 100%; } /* need to declare to see full border */

.not-front #bettingticket-block { *height: 100%; } /* need to declare to see full border */

