body.front #col3
{	
	*width: 646px;
}

body.front #col3 #col3_content
{
	*padding-right: 0px;
}
#login-box .form-submit
{
	*padding-left: 10px;
}
#menubar
{
	*z-index: 100;
}
#submenubar
{
	*z-index: 50;
}

#menu li a {  }
#submenu li a { padding: 7px 10px 8px 10px; }

.mega-menu .depth-1
{
	*float: left;
	
}

.front #col3 .box {  *height: 100%; }

#track-results-block UL.tabs LI
{
	*width: 49.9%;
}

.not-front #col2 .box { *height: 100%; }