@charset "UTF-8";

@media all {
	
#bannerFrame, #nav { display:none;}
#main { padding:0;}

@font-face {
    font-family: 'helvetica_neue_lt_std87HvCn';
    src: url('helveticaneueltstd-hvcn-webfont.eot');
    src: url('helveticaneueltstd-hvcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-hvcn-webfont.woff') format('woff'),
         url('helveticaneueltstd-hvcn-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-hvcn-webfont.svg#helvetica_neue_lt_std87HvCn') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'helvetica_neue_lt_std77BdCn';
    src: url('helveticaneueltstd-bdcn-webfont.eot');
    src: url('helveticaneueltstd-bdcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-bdcn-webfont.woff') format('woff'),
         url('helveticaneueltstd-bdcn-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-bdcn-webfont.svg#helvetica_neue_lt_std77BdCn') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica_neue_lt_std67MdCn';
    src: url('helveticaneueltstd-mdcn-webfont.eot');
    src: url('helveticaneueltstd-mdcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-mdcn-webfont.woff') format('woff'),
         url('helveticaneueltstd-mdcn-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-mdcn-webfont.svg#helvetica_neue_lt_std67MdCn') format('svg');
    font-weight: normal;
    font-style: normal;

}
#lp {  color:#012746; font-size:20px; font-family: "helvetica_neue_lt_std67MdCn", Helvetica, Arial, sans-serif; line-height:normal; font-weight:normal;  }
a, a:link, a:visited {color:#0071bd; text-decoration:none; }
a:hover { text-decoration:underline; }
h1 { font-weight:normal; color:#012746; text-transform:uppercase; font-size:58px; text-align:center; font-family: "helvetica_neue_lt_std87HvCn", Helvetica, Arial, sans-serif; line-height:53px;}
h2 { font-weight:normal; font-size:38px; font-family: "helvetica_neue_lt_std87HvCn", Helvetica, Arial, sans-serif;  line-height:normal;}
h3 { font-weight:normal; font-size:24px; font-family: "helvetica_neue_lt_std77BdCn", Helvetica, Arial, sans-serif; line-height:normal; }
#lp ul { list-style-type:none; padding:0; margin:0; }
#lp ul li { list-style-type:none; background:url('/themes/images/lp/arrow-circle-whiteonblue.png') 0 7px no-repeat; padding:0 0 0 30px; margin-left:0; }
.titlebar { background:#0071bd; text-align:center; padding:22px 10px 20px;  }

#lp .box { margin:16px 0 0; background:#0071bd; padding:22px 10px 22px 22px; letter-spacing:.02em; }

#lp .content { background:#fff url('/themes/images/lp/lp-bg-knighthorse.jpg') bottom left no-repeat; min-height:490px; padding:40px 0; overflow:hidden;}

#lp .feature { color:#fff; margin:0; float:right; text-align:left; overflow:hidden; width:610px; height:auto; }
#lp .feature h2, #lp .feature h3 { padding-right:50px; color:#012746;}
#lp .feature .box h2, #lp .feature .box h3 { padding-right:0; color:#fff; letter-spacing:.01em; margin-bottom:10px; }
#lp a.actionBtn { cursor:pointer; text-decoration:none; display:block; clear:right; color:#fff; background:#5ea91d url('/themes/images/lp/arrow-whiteright.png') right center no-repeat; text-align:center; padding:20px 40px 20px 35px; float:right; overflow:hidden; height:auto; font-size:22px; font-family: "helvetica_neue_lt_std77BdCn", Helvetica, Arial, sans-serif; letter-spacing:.01em;}
#lp a.actionBtn:hover { background-color:#6bc021; text-decoration:none;  }
}
  