@charset "UTF-8";

@media all {

/* CUSTOM TABS */
ul.tabs .mini a {  height: 17px; text-align: center; background: #FFF url('/themes/images/tabs-bg.gif') top left repeat-x; color: #1b579f; border-top:1px solid #1b579f; border-bottom:1px solid #3780cc; border-right:1px solid #3780cc;  }
ul.tabs .mini.last a { border-right: none; }
ul.tabs .mini a.current { background: #70b336 url('/themes/images/tabs-bg-play.gif') top left repeat-x; color: #FFF; border-top:1px solid #1b579f; border-bottom:1px solid #3780cc; }
.minigame-title { height: 16px;  background: #115daa url('/themes/images/minigame-titlebg.gif') top left repeat-x; color: #FFF; font-size: 11px; font-weight: bold; padding: 2px 5px; margin:0; }
.minigame-title a { color: #FFF; display: block; font-size: 11px; }

/* GAME */
.minigame-content { display: block; padding:0; width:223px; height:172px; background: #000; color: #FFF; }
.minigame-content .game-container { padding:0; margin:0; height:170px; overflow: hidden; }
.minigame-content .game-container iframe { width:239px; height:186px; margin:-10px 0 0 -8px; padding:0; }

.minigame-open {  padding:0; text-align: center; }
.minigame-open a {  color: #FFF; font-size: 10px; }


/* CUSTOM GAME - Racebook */
.page-racebook .minigame-content { width:179px; height:138px; }
.page-racebook .minigame-content .game-container { height:151px; }
.page-racebook .minigame-content .game-container iframe { width:195px; height:151px; margin:-8px 0 0 -8px; }


/* CUSTOM GAME - Testingpage */
.page-testingpage .minigame-content { width:179px; height:138px; }
.page-testingpage .minigame-content .game-container { height:151px; }
.page-testingpage .minigame-content .game-container iframe { width:195px; height:151px; margin:-8px 0 0 -8px; }


}