@charset "UTF-8";

@media all {
.minigame-content .game-container iframe { width:254px; height:198px; margin:-14px 0 0 -15px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); }

/* CUSTOM GAME - Racebook */
.page-racebook .minigame-content .game-container iframe { width:214px; height:165px; margin:-14px 0 0 -17px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); }

/* CUSTOM GAME - Testing Page */
.page-testingpage .minigame-content .game-container iframe { width:214px; height:165px; margin:-14px 0 0 -17px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); }

}