@charset "UTF-8";
/* CSS Document */

/* *IE 7 Hack to display transparent .shadow PNG* 
.shadow { *filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/shadowtile.png', sizingMethod='scale');}
.footer-shd { *filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/footer-shd.png', sizingMethod='scale');}*/

/* *IE Hack to display correct spacing for the buttons in the Login Box */
.button { margin: 1px 0 0 5px; width: auto; max-width: auto; overflow: visible; padding: 1px 11px 0 20px; }
.button:hover { width: auto; max-width: auto; overflow: visible; }

