@charset "UTF-8";

@media screen 
{
/* LEFT COLUMN MENU -------------------------- */
#col1 ul.menu { list-style: none; margin:0; border: 1px solid #aad3ff; font-size: 10px; list-style: none; list-style-image:none; /* IE 7 needs this */ }
#col1 ul.menu li { list-style: none; list-style-image:none; /* IE 7 needs this */ margin: 0; padding: 0; }
#col1 li.leaf, #col1 li.expanded  { list-style: none; display: block; line-height:1.3em; }

/* Menu Items */
#col1 li.collapsed a, #col1 li.expanded a, #col1 li.leaf a { display:block; border-top: 1px solid #aad3ff; font-weight:bold; margin: 0; padding: 0.583em 0.417em 0.417em 1.167em; text-decoration:none; }
#col1 li.leaf.first a, #col1 li.first a { border:0; } /* First Menu Item */
#col1 li.collapsed a:hover, #col1 li.leaf a:hover, #col1 li.expanded a:hover { display: block; background: #d9ecff;}
#col1 li.leaf a.active { display: block; background: #d9ecff url('/themes/images/leftmenu-arrow.png') no-repeat; background-position: 0.417em center;}
#col1 li.leaf a.active:hover { display: block; background: #d9ecff url('/themes/images/leftmenu-arrow.png') no-repeat; background-position: 0.417em center;}

/* Hide-Show Sub Menus */
#col1 li.expanded ul { display: none; }
#col1 li.active-trail ul { display: block; border: 0; margin: 0; padding: 0; }

/* Menu Items with Sub menus */
#col1 li.active-trail a, #col1 li.active-trail a:hover { display: block; background: #d9ecff; }
#col1 li.expanded ul li, #col1 li.expanded a.active ul { margin: 0; padding: 0;  	}
#col1 li.expanded ul li a { display: block;  border-top: 1px solid #aad3ff; padding: 0.583em 0.417em 0.417em 2.167em; background:#edf6ff; 	}
#col1 li.expanded ul li.leaf.first a {  border-top: 1px solid #aad3ff;	}
#col1 li.expanded ul li a:hover {  display: block; background: #d9ecff;	}
#col1 li.expanded a.active, #col1 li.expanded a.active:hover { display: block; background: #d9ecff url('/themes/images/leftmenu-arrow.png') no-repeat; background-position: 0.417em center;}

/* Sub-Menu Items */
#col1 li.active-trail li a.active, #col1 li.active-trail li:hover a.active { color: white; background: #105ca9 url('/themes/images/leftmenu-arrow.png') no-repeat; background-position: 1.2em center; }

td.menu-disabled { background: #ccc; }
#col1 ul.links { margin: 0; padding: 0; }
#col1 ul.links.inline { display: inline; }
#col1 ul.links li { display: inline; list-style-type: none; padding: 0; }
#col1 .block ul { margin: 10px 0 0 0; padding: 0; /* LTR */ }

/* Upcoming Menus and Completed Race Menus */
#col1 .menu .racename { text-transform: uppercase; }
#col1 .menu .raceinfo { color: #000; font-size: 11px; }
#col1 .menu .noopen { padding: 0.85em 0.417em 0.417em 1.167em; font-weight: bold; line-height:1.2em; }
#col1 .menu .noclosed { padding: 0.85em 0.417em 0.417em 1.167em; font-weight: bold; line-height:1.2em; }
#col1 table.racetrack-menu ul { padding: 0; margin:0; border-top:0; }
#col1 table.racetrack-menu tbody { border:0; }
#col1 table.racetrack-menu { border-top:1px solid #aad3ff; }
/* END LEFT COLUMN MENU -------- */

ul.menu { list-style: none; border: none; text-align:left; /* LTR */ }
ul.menu li { margin: 0 0 0 0.5em; /* LTR */ }
li.expanded { list-style-type: circle; padding: 0.2em 0.5em 0 0; /* LTR */ margin: 0; }
li.collapsed { list-style-type: disc; padding: 0.2em 0.5em 0 0; /* LTR */ margin: 0; }
li.leaf { list-style-type: square; padding: 0.2em 0.5em 0 0; /* LTR */ margin: 0; }
li a.active { }

td.menu-disabled { background: #ccc; }
ul.links { margin: 0; padding: 0; }
ul.links.inline { display: inline; }
ul.links li { display: inline; list-style-type: none; padding: 0 0.5em; }
.block ul { margin: 0; padding: 0 0 0.25em 1em; /* LTR */ }


/* Extracted from previous 'slim_base.css' ================================================*/
* { padding:0; margin:0; }
* html body *{ overflow:visible; }
* html iframe,* html frame{ overflow:auto; }
* html frameset{ overflow:hidden;}
html{height:100%;margin-bottom:1px; }	
fieldset,img { border:0; }
ul,ol,dl { margin:0 0 1em 1em;}
li { margin-left:.8em;line-height:1.5em;}
dt{ font-weight:700; }
dd{ margin:0 0 1em .8em}
blockquote{ margin:0 0 1em .8em; }
blockquote:before,blockquote:after,q:before,q:after{ content:""}
#header{ position:relative}
#topnav{ text-align:right}
#header #topnav{ position:absolute; top:10px; right:10px; }
#header,#nav,#main,#footer{ clear:both; }
#col1{ float:left;width:200px}
#col2{ float:right;width:200px}
#col3{ width:auto;margin:0 200px; }
#col1_content,#col2_content,#col3_content{position:relative}
.clearfix { display:block;}
.clearfix:after {content:"."; display:block; font-size:0; height:0; clear:both; visibility:hidden; }
.floatbox{ overflow:hidden; }
#ie_clearing{ display:none; }
.subcolumns{ width:100%; overflow:hidden; }


/* Start 'screen.css' ============================================================================*/	
html{ height:100%;margin-bottom:1px; }
body { font-size:100.01%; color:#000; text-align:left; background: #e2f0ff url('/themes/images/gradient-bg.gif') repeat-x scroll 0 0; padding: 0; }


/* PAGE MARGINS ================================================*/  
/* Layout Alignment */
	.page_margins { margin: 0 auto; }

/* Layout Properties */
	.page_margins { background: url('/themes/images/shadowtile.png') repeat-y; z-index:14;  }
	.page_margins, .footer-shd, #copyright-region { margin: 0 auto; width: 976px; }
	.page { background: #fff; margin: 0 8px 0 8px; }
  
/* HEADER ========================================================*/  
	#header { position: relative; float: left; margin: 0; padding: 0; width: 100%; }
	#header .logo { display:none; position: absolute; top: 24px; left: 24px; margin: 0; width: 228px; height: 62px;  }
	.logged-in #header .logo { position: absolute; top: 24px; left: 24px; margin: 0; width: 228px; height: 62px;  }
	#top-banner-static { width: 960px; height: 108px; background-image: url('/themes/images/header/header-auth.jpg'); }
  
/* HEADER BANNERS ================================================*/
	#featured { position: relative; background-color:#FFF; width: 960px;  height:auto; padding: 0; margin:0; }
	#featured .banner-images { position:relative; height:auto;	width: 100%; float:left; }

	#featured .banner-images div { display:none; position:absolute; top:0; left:0; width: 100%; height:auto; z-index:2; }
	#featured .banner-images img { display:block; border:0; }
	#featured .banner-images a { display:block; padding:0; margin:0; outline:none; }
	#featured .banner-images .btn1 { display:block; width:100%; height:54px; position:absolute; bottom:0; left:0; z-index:331; }
	
#featured .promos { position:absolute; z-index:999; display:block; top:135px; left:30px; }
#featured .promos a { text-transform:none; display:block; min-width:320px; color:#FFF; 
background: url('/themes/images/bg-transparent-blue1px.png') top left repeat; /*IE7 hack */ 
background: url('/themes/images/bg-transparent-blue1px.png') top left repeat; /*IE8 hack */
background:rgba(20,63,115,0.45); height:35px; line-height:35px; margin-top:10px; padding:0 15px; font-family:"Oxygen", Tahoma, Geneva, sans-serif; font-size:20px; letter-spacing:.5px; font-weight:400; position:relative; }
#featured .promos a:first-child { margin-top:0;}
#featured .promos a:hover { text-decoration:none; }
#featured .promos a .arrwR { position:absolute; top:9px; right:0; background:url('/themes/images/arrow-right-thin-small.png') top left repeat; display:block; width:18px; height:17px; }

#featured .promos.style2 { width:330px; }
#featured .promos.style2 a { margin-top:0;  min-width:inherit; width:auto; height:auto; line-height:normal; padding:4px 15px 6px 15px; }
#featured .promos.style2  a:first-child { margin-top:0;  *background:url('/themes/images/bg-transparent-bluedark1px.png') top left repeat; /*IE7 hack */ background: url('/themes/images/bg-transparent-bluedark1px.png') top left repeat; /*IE8 hack */ background:rgba(20,63,115,0.75); padding:8px 15px 10px 15px;}
#featured .promos.style2 .btns { margin-top:10px; display:block; width:100%;overflow:hidden; }
#featured .promos.style2 .small { padding:4px 35px 6px 15px; overflow:hidden; width:110px; }
#featured .promos.style2 .small:first-child { margin-right:10px; padding:4px 35px 6px 15px;  float:left; overflow:hidden; }
#featured .promos.style2 .small.last { float:right;  *background:url('/themes/images/bg-transparent-green1px.png') top left repeat; /*IE7 hack */ background: url('/themes/images/bg-transparent-green1px.png') top left repeat\0/; /*IE8 hack */ background:rgba(86,162,20,0.75); }


#featured .slidetabs { position:absolute; bottom:12px; right:0; margin:0; display: block; float: right;	padding:0 15px 0 0; z-index: 332; }
#featured .slidetabs a { position:relative; font-family:"Helvetica", Tahoma, Geneva, sans-serif; display:block;	outline:none; float: left; width: 24px; height:24px; line-height: 24px; padding: 0;  text-align: center;	font-size: 12px; color: #fff; text-decoration:none; /* *background:url('/themes/images/bg-transparent-blue1px.png') top left repeat; background:rgba(20,63,115,0.4);*/  *background:#88bfe3; background:rgba(255,255,255,0.2); margin-left:10px; z-index:10; font-weight:700; }
#featured .slidetabs a.last {  }
#featured .slidetabs a:hover { /* *background:#2c5b94; background:rgba(20,63,115,0.8); */ color:#0b7cc4; background:#fff; }
#featured .slidetabs a.current { /* *background:#2c5b94; background:rgba(0,113,189,0.8);*/ color:#000;  background:#fff; } 	
.disabled { visibility:hidden !important; }
#featured .slidetabs .sep  { float:left; display:block; width:1px;  border-right: 1px solid #FFF; opacity:1; filter:alpha(opacity=100); height:12px; margin:0 1px 0 0; }
#featured .slidetabs .circle { -webkit-border-radius: 50%;  -moz-border-radius: 50%; border-radius: 50%; }


/* Login Menu --------------------------------------- */
  	#topnav { color: #aaa; background: transparent; }
  	#topnav { position: relative; margin-top: 10px; padding-right: 10px; top: 0; right: auto; height: 15px; text-align: right; z-index: 15; }
  	#topnav li { border-left: 2px solid #d6d6d6; padding: 0 4px 0 4px; margin-left: 0; font-size: 9px; line-height: normal; text-transform: uppercase; }
  	#topnav li.first { display:inline; border-left: none; list-style: none; padding: 0 4px 0 5px; }
  
/* Login Box ---*/
  #login-box { position: absolute; display: none; font-size: 11px; top: 100px; left: 20px; margin: 0; width: 228px; height: 100px; background: url('/themes/images/loginbox-bg.gif') repeat-x; }
  #login-box form { height: 62px; padding-top: 10px; margin: 0 0 0 5px; }
  #login-box .form-item { margin: 0 0 5px 0; clear: left; height: 18px;  }
  #login-box label { text-transform: uppercase; font-weight: normal; }
  #login-box .form-required { display: none; }
  #login-box .form-text { float: left; height: 16px; width: 125px; margin: 0 0 0 5px; color: #000; border: 1px solid #a7a6aa; background: #FFF; }
  #login-box .form-text:hover { border: 1px solid #1b579f; background: #FFF; }
  #login-box .buttons { clear:left; padding:2px 0 0 75px; }
  #login-box .form-submit { float: left; display: block; line-height: 16px; margin: 0 0 0 5px; font-size: 11px; text-transform: uppercase; font-weight: bold; color: #1b579f; background: url('/themes/images/button-arrow-default.gif') top left no-repeat; border: none; padding: 0 9px 0 18px;  }
  #login-box .form-submit:hover { display: block; cursor:pointer; font-weight: bold; text-decoration: underline; background: url('/themes/images/button-arrow-hover.gif') top left no-repeat; }
  #login-box label { float: left; display: block; width: 75px; font-size: 11px; color: #737373; text-align: right;}
  #login-box .forgot { clear: left; display:block; padding:0 18px 0 0; margin: 0; text-align:right;  }
  #login-box .forgot a { padding: 0 0 0 10px; margin:0; line-height:24px; }  


  #main { background: #fff; padding: 15px 0 15px; }
  .site-title { display: none; }

/* CONTENT ================================================*/ 
  
/* COLUMN Layouts ---------------------------- */
  #col1 { float: left; width: 235px;  margin:0; }
  #col2 { float: right; width: 235px;  margin:0; }
  #col3 { width: auto; margin: 0 235px 0 235px; }
  .page-clubhouse #col1 { float: left; width: 246px; margin: 0; }
  .page-clubhouse #col2 { display:none; }
  .page-clubhouse #col3 { width: auto; margin: 0 0 0 246px; }
  
  #col1_content { padding: 0 0 0 10px; }
  #col2_content { padding: 0 10px 0 0; }
  #col3_content { padding: 0 10px; }
  
  .sidebar-left #col3 { margin-right: 0; }
  .sidebar-left #col3_content { }
  .sidebar-right #col3 { margin-left: 0; }
  .sidebar-right #col3_content { }
  .no-sidebars #col3 { margin: 0; }
  .no-sidebars #col3_content { }
  
  #top, #bottom { margin: 0 10px; }
  .front #top #box-shd, .front #bottom #box-shd { display: none; } /* Hides block shadow for row block */
  
  
/* Home page ads */
  #home-ads { margin-top: 6px; }
  #home-ads #ad-1 { float: left; width: 323px; }
  #home-ads #ad-1 .ad-inside { margin-right: 10px; }
  #home-ads #ad-2 { float: left; width: 323px; }
  #home-ads #ad-2 .ad-inside { margin-right: 10px; }
  #home-ads #ad-3 { float: right; width: 294px; margin-left: -5px; }
  #home-ads #ad-1 .advertisement { width: 313px; background: #FFF url('/themes/images/box-shd.gif') repeat-x bottom left; padding-bottom: 4px; }
    
  .front #col2 { width: 314px; }
  .front #col2_content { padding-left: 10px; }  
  
/* hiding title and local task tabs on front page */
  .front #col3 h2.title { display: none; }
  .front #col3 .tabs { display: none; }
    
  #block-block-6.with-block-editing .edit { display: none!important; }
  
  #col1 .block { margin-top: 6px; }
  #col2 .block { margin-top: 6px; }
  #col3 .block, #col3 #content-wrapper { margin-top: 6px; }
  .front #col3 #content-wrapper { margin:0 } /* Needed to flush shadow under the Racing News block on the Home page */
  
  #home-row-2 .left-col { width: 646px; float: left; }
  #home-row-2 .right-col { width: 274px; float: right; margin-left: -5px; }
  #home-row-2 .left-col-inside { margin: 0 10px 0 0; }  
  #home-row-3 { margin-top: 6px; }
  #home-row-3 .left-col { width: 50%; float: left; }
  #home-row-3 .left-col .block { padding: 0; height: 350px;}
  #home-row-3 .right-col { width: 50%; float: right; margin-left: -5px; }
  #home-row-3 .left-col-inside { margin: 0 5px 0 0; }
  #home-row-3 .right-col-inside { margin: 0 0 0 5px; }
  #home-row-3 .right-col .block { height: 330px;  margin-top:4px;}/* needed if Road to Roses block is on the left col . */

/* FORMS ===============================================================================*/
.form-container { border: 1px solid #c1d7e3; background: #EDF2F5; font-family: 'Helvetica Neue', Helvetica, sans-serif; text-decoration: none; vertical-align: middle; padding:20px; width:auto; text-align:left; overflow:hidden; }
.form-box { text-align:left; width:auto; margin:0; float:left; width:350px; padding-right:20px; }
.form-promo { text-align:center; width:228px; height:auto; display:block; overflow:hidden; }
.form-promo .top { line-height:22px; font-size:18px; padding: 10px 0 0; }
.form-promo .bot { padding:10px 0 30px; font-weight:bold; font-size:22px; }
.form-field, select { border: 1px solid #c1d7e3; background: #ffffff; color: #000000; padding:8px; margin-bottom:10px; width:90%;   }
.form-field:focus, select:focus { background: #e4eff0; color: #000000; border:1px solid #0071BD;   }
.form-container h2 { font-size:14px; margin: 0; font-weight:bold;  }
.form-title { margin-bottom:4px; color: #000000; text-shadow: #ffffff 0 1px 0;     }
::-webkit-input-placeholder { /* WebKit browsers */  color:    #000; }
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  color:    #000; }
::-moz-placeholder { /* Mozilla Firefox 19+ */  color:    #000; }
:-ms-input-placeholder { /* Internet Explorer 10+ */  color:    #000; }
[type="search"] {  -moz-appearance:    textfield;  -webkit-appearance: textfield;  appearance: textfield; }
.select-container { }
select { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border-radius: 0; margin:0 0 6px; -webkit-appearance: none; -moz-appearance: none; appearance: none; width:95%; }
.submit-container { margin:8px 0; }
.submit-button { border:0; background: #56a214; color: #ffffff; font-family: helvetica, serif; padding: 8.5px 18px; font-size: 14px; text-decoration: none; vertical-align: middle; -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border-radius: 0;    
}
.submit-button:hover { background: #6ab821; color: #fff; cursor:pointer; }
.submit-button:active { background: #6ab821; color: #fff; }
.form-thankyou { font-weight:bold; font-size:16px; border: 1px solid #c1d7e3; background: #EDF2F5; font-family: 'Helvetica Neue', Helvetica, sans-serif; text-decoration: none; vertical-align: middle; padding:20px; width:auto; text-align:center; }

 
/* FOOTER ===============================================================================*/
#footer { background: #0071BD; clear: both; padding: 0; height: auto; color: #9BC3E0; bottom:0; margin:0 8px;  }
#footer #footer-inner {height:auto;}
.page #footer, .front #footer  { margin:0; }
#footer a:link, #footer a, #footer a:visited, #footer a.current { color: white;  text-decoration: none;}
#footer a:hover { color: #FFF; text-decoration: underline; } 

#footer .logos { padding:10px; display:block; overflow:hidden; text-align:center; }
#footer .logos img { margin:0 auto;  }
#footer .logos img:first-child { margin-bottom:10px;}
#footer  .content { float:left; overflow:hidden; display:block; width:750px;}
  
#block-menu-menu-footer-links { overflow:hidden; clear: both; height: auto; width: 100%; text-align: center; background:#0071BD; }
#block-menu-menu-footer-links ul.menu {  line-height:50px; overflow:hidden; display: block; margin-left:20px; padding-left:0; list-style: none; text-align: left; }
#block-menu-menu-footer-links li { display: inline; line-height: 32px; margin:0; padding:0 4px; }
#block-menu-menu-footer-links li:first-child { padding-left:5px;}
#block-menu-menu-footer-links li a { padding: 0 6px 0 0;   }

#footer .bottomlinks { clear:both; display:block; float:left; overflow:hidden; width:100%; margin:0 0 0 20px; text-align:left; border-top:1px solid #4993C8; color:#9BC3E0; padding:5px 0;}
 #footer .bottomlinks a { padding:0 7px;}
 

 #footer .bottomlinks a, #footer .bottomlinks a:link, #footer .bottomlinks a:visited,  #footer .bottomlinks a:hover { color:#9BC3E0; font-size:10px; }
 #footer .bottomlinks a:hover {  } 
  #footer .bottomlinks.primary { padding:10px 0; }
  #footer .bottomlinks.primary a { font-size:12px;  color: #FFF;}
 
  #footer #box-shd { display: none; } /* Hides duplicate block shadow */
/* FOOTER COPYRIGHT =====================================================================*/
  .copyright {  display: block;  color: #000;text-align: left; margin:5px auto;  font-size:10px;}
 .copyright a,.copyright a:link, .copyright a:visited {color: #000; } 
  
/* applying top margin when simplemenu is around */
  body.simplemenu-enabled { padding-top: 26px; }
  
  #simplemenu li { line-height: normal; }
  .footer-shd { clear: both; position:relative; background: url('/themes/images/footer-shd.png') no-repeat; height: 15px; bottom: 0; /* stick to bottom */ margin: 0 auto; }

}
