/* CSS Document */
      
         .dogvdvhdr {
            width:300;
            background:#105ca9;
            border: 1px solid #105ca9;
            font-weight:bold;
            padding:10px;
			font-size:14px;
			color:#FFFFFF;
         }
         
         .dogvdvbdy {
            width:300;
            background:#FFFFFF;
            border-left:1px solid #105ca9;
            border-right:1px solid #105ca9;
            border-bottom:1px solid #105ca9;
			color:#000;
			font-size:12px;
            padding:10px;
         }
  
