    <div>
<!-- <a href="/join"><img src="/themes/images/stakesraces/schedule_button1.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>
<div class="box-shd"></div> -->
 
<a href="/join"><img src="/themes/images/stakesraces/schedule_button2.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>
<div class="box-shd"></div>
 
<div style="margin-top: 6px;">
<a href="/join"><img src="/themes/images/stakesraces/schedule_button3.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>
</div>
<div class="box-shd"></div>
 
<div style="margin-top: 6px;">
<a href="/join"><img src="/themes/images/stakesraces/schedule_button4.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>
</div>
<div class="box-shd"></div>
 
<div style="margin-top: 6px;">
<a href="/join"><img src="/themes/images/stakesraces/schedule_button5.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>
</div>
 
</div>