{assign var="showclock" value="0"} 
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}  


 <hr><!-- --------------------- HR ---------------------- -->


<!--<h2>{include file='/home/ah/allhorse/public_html/breeders/year-last.php'} Breeders' Cup  Distaff Results</h2>-->
<P>{include_php file='/home/ah/allhorse/public_html/breeders/distaff/results.php'}</p> 
<!--<p> {include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"} </p>-->

<!--<hr>--><!-- --------------------- HR ---------------------- -->      

<!--<h2>{include file='/home/ah/allhorse/public_html/breeders/year-last.php'} Breeders' Cup  Distaff Payouts</h2>-->
<P>{include_php file='/home/ah/allhorse/public_html/breeders/distaff/payouts.php'}
 <p> {include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"} </p>

<hr><!-- --------------------- HR ---------------------- -->      

<h2> Breeders' Cup  Distaff Winners</h2>
<P>{include file='/home/ah/allhorse/public_html/breeders/distaff/winners-new.php'}</p>  





{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}
{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/end-of-page-blocks.tpl"}