{include file="/home/ah/allhorse/public_html/usracing/horse-betting/top-of-page-blocks.tpl"}
{************PAGE SPECIFIC COPY*****************************************}
                                        
<div class="justify-left">   
<div class="headline"><h1>Horse Betting:   Allowance Races</h1></div>
<p>Allowance races are exactly like their name implies. Allowances are made or "conditions are set" in order for the horse to be eligible in that race. Examples of allowance races are: Non-Winners of 2 races other than maiden or claiming or Non-Winners of 3 races other than maiden or claiming. A horse that has never won two races might have a hard time winning a race against horses that have won three. There are often other conditions like "of a race since September 20, 2001". Sometimes there are monetary conditions, such as "Non-Winners of $11,000 lifetime" or "Non-Winners of $20,000 twice since June 1, 2002."</p>
<p>A good handicapper will make note of these conditions and which horses in today's race fit them best. Some horses entered in the race may be competitive against Non-winners of three, but not against the Non-Winners of $20,000 twice. It depends on the trainer and owner, but often a horse will be run through all of their conditions before they are ever entered in a stakes race. (Two year olds are a common exception to this rule, due to the fact that their conditioned allowance races do not often get enough entrants when entries are taken for the race; ultimately leading to two year olds going from a maiden win straight into a stakes race.)</p><p> Some feel that it is important to season a horse by going this route. Others feel that it is better to go after the better purses in stakes level racing. Some horses can't make the cut and go from the allowance to the claiming ranks and back over their careers.</p></div>
{************END PAGE SPECIFIC COPY*****************************************}
{include file="/home/ah/allhorse/public_html/usracing/horse-betting/end-of-page-blocks.tpl"}