{include file="/home/ah/allhorse/public_html/usracing/horse-betting/top-of-page-blocks.tpl"}
{************PAGE SPECIFIC COPY*****************************************}  
<div class="headline"><h1>Beginner's Tips for Horse Betting</h1></div>
<div class="justify-left">
<p>It is only natural for a person new to thoroughbred racing to assume that the best horse will win the race. Deciding which horse that might be doesn't seem like too difficult a task. The program is loaded with information to assist them in making that decision. The problem is that while the best horse may win, more often it is another who gets his picture taken in the winner's circle. Were it otherwise Triple Crown winners (Kentucky Derby, Preakness, and Belmont Stakes) would be common rather than being an almost extinct species.</p>
<p>There are many reasons for this phenomena. They have to do with form, tactics, and other matters that those new to racing don't need to understand in order to have a fun day at the races and having fun is the most important thing. Of course, collecting money is much more fun than tearing up tickets so betting a few winners would be very nice. As long as we don't get to greedy that really isn't very difficult.</p>
<p>The first thing that we need to do is admit that we don't know enough about the mysterious "art form" called handicapping to try to decide which horse to bet on our own. We need help, and fortunately help is available in terms of the "tote board". The "win" odds it displays for each horse are based upon how much money has been bet on them. As such, it represents the weighted hopes and fears of all those playing the race. Since they are more experienced than us, the "tote board" is a logical pace to find the help we need.</p>
<p>We could just let the "tote board" do our handicapping and bet the favorite in every race. In all likelihood that would let us cash some tickets. The favorite is usually the most likely horse to win, it does make mistakes. After all, the favorite only wins about 35% of the races. Not all of the losers can be chalked up to legitimate excuses such as bad racing luck. A good plan for those who are new to racing is to back the favorites who deserve to be favored and avoid those who are suspected of being mistakes.</p>
<p>This can be accomplished by following a few simple rules. Back the favorite unless:</p>
<p>1. His jockey hasn't won at least 8-10% of his or her races (overall - not just at the current meet.) We want a capable rider but not necessarily the meet's top rider. The horse's trainer should pass the same test.</p>
<p>2. The race's distance isn't within a sixteenth-of-a-mile (one furlong) of being the same as the distance of the horse's previous race, or a distance at which the horse recently won (or almost won.)</p>
<p>3. The horse's last race was more than 35 days ago.</p>
<p>4. The jockey isn't the same fellow who rode the horse in his last race unless the trainer is switching to a jockey who won (or nearly won) aboard the horse in the past.</p>
<p>Should this process identify a favorite as suspect, we suggest you apply the same tests to the second favorite and so on until a horse to play is found. Some of the horses eliminated will win, of course, but not at the same rate that those who are not eliminated.</p>
<p>This process will eliminate some winners! Those eliminated, however, will not win as often as those who are not eliminated.</p>
</div>
{************END PAGE SPECIFIC COPY*****************************************}
{include file="/home/ah/allhorse/public_html/usracing/horse-betting/end-of-page-blocks.tpl"}
