{include file="/home/ah/allhorse/public_html/usracing/horse-betting/top-of-page-blocks.tpl"}
{************PAGE SPECIFIC COPY*****************************************}
<div class="justify-left">
<div class="headline"><h1>Horse Betting:  Claiming Races</h1></div>
<p>A <strong>claiming race</strong> means that the horses may be purchased by a licensed owner for the claiming price listed for that race. Every track has certain claiming guidelines, but generally there are certain rules that apply. As well as being licensed, the person making the claim also must have enough money in their horsemens' bookkeeper account to pay for the horse, and they must have a trainer to pick up the horse after the race.</p><p> To make the actual claim, the owner or his authorized agent will fill out a "claim slip" with the relevant information (date, race, horse name, owner name, etc.) and deposit the slip in the claim box. There is usually a deadline to drop your claim, generally 15 minutes to post. In the event of more than one owner drops a claim on the same horse, the racing official in charge of claims, the claims clerk, will conduct a "shake" to determine who will become the new owner. The shake involves putting numbered pills, one representing each owner, in the pill bottle and pulling out a winning number. The horse is then picked up by its new owner/trainer after the race.</p>
<p>As mentioned when discussing a horse's class, not all horses are good enough to be top competitors in stakes level races. Claiming races are the great equalizer; basically the owner is setting the market value of the horse. If the horse is entered for a price that other trainers think is a good value, it is likely to be claimed. Conversely, if he is entered for too much, the horse often ends up being a long shot and having a slim chance of winning. Depending on the track, a horse may be entered anywhere from $5,000 to as high as $150,000.</p><p> There is also another type of race called the optional claiming/allowance; a type of hybrid race that combines claiming horses with those still eligible for allowance conditions. In this case, the horses may be eligible to be claimed or they may be running for allowance conditions, and therefore are not eligible to be claimed. This type of race helps the Racing Secretary have a fuller field of horses and gives trainers a couple of options when their desired race does not fill when entries are taken.</p>
</div>
{************END PAGE SPECIFIC COPY*****************************************}
{include file="/home/ah/allhorse/public_html/usracing/horse-betting/end-of-page-blocks.tpl"}
