{include file="/home/ah/allhorse/public_html/usracing/horse-betting/top-of-page-blocks.tpl"}
{************PAGE SPECIFIC COPY*****************************************}
<div class="justify-left">
<div class="headline"><h1>Graded Stakes and Handicap Races</h1></div>

<p><strong>Graded stakes and handicap races</strong> are the highest level of racing and offer the best purse money. Consequently, the best horses usually compete in stakes competition. The owner must pay nomination fees and entry fees in order to run their horse. An example of an early nomination fee is the Kentucky Derby, when horses are nominated to all three Triple Crown races in mid-January, although the races are run in the Spring.</p>
<p>Normally, nominations are due a few weeks before the race is scheduled to run. The owner also has to pay a fee to enter and run the horse as well. These fees are usually paid back in the purse in the form of "added" money. Added meaning in addition to the announced purse. The nominations generally include more horses than will run in the race. A horse may not be entered, even though they have paid to nominate, if the owner or trainer thinks the race will be too difficult to win, the horse is injured, or is entered in another race. If a stake is overfilled (more horses entered than are allowed to run), the conditions of the race will determine who gets to race.</p>
<p>With handicap races, preference is given to those horses that have been assigned the most weight. The Racing Secretary assigns weights to horses in a handicap race, with the horses who have accomplished the most according to their past performances carrying the highest weight, while the least competitive horses will carry a lower weight. Assigning different weights is an attempt to level the playing field between competitors. There are also weight breaks for younger horses or for a filly racing against colts. Like any type of race, a stakes or handicap race will also contains age conditions like "two-year-olds" or "three and up."</p>
</div>
{************END PAGE SPECIFIC COPY*****************************************}
{include file="/home/ah/allhorse/public_html/usracing/horse-betting/end-of-page-blocks.tpl"}
