{include file="/home/ah/allhorse/public_html/usracing/horse-betting/top-of-page-blocks.tpl"}
{************PAGE SPECIFIC COPY*****************************************}
<div class="justify-left"><div class="headline"><h1>Horse Betting:  Money Management</h1></div>
<p>Playing the horses is all about managing risk. When we buy a ticket we are accepting the inherent risk that it will wind up in the trash. We do so because we believe that the reward offered should our ticket win justifies that risk. There is more to it than that, however. We must also manage our funds effectively throughout the day, if we are to give ourselves the best chance to do well financially while having a pleasant afternoon.</p>
<p>It is almost impossible to manage our money effectively unless we have a plan. The best plan in the world, however, won't do us much good unless we follow it. That means that it must have some flexibility and take our personality into account. It should a guideline; not a noose. There are several principles that it should incorporate, however, keep the following in mind:</p>
<p style="padding-left: 30px;">1. Our risk should be spread our over several, if not all, of the races.</p>
<p style="padding-left: 30px;">2. When things aren't going well we should never double up to catch up. Doubling up is more apt to lead to a financial disaster, and preventing disasters is a major reason for having a plan. The time to "catch up" is tomorrow!</p>
<p style="padding-left: 30px;">3. Should we get off to a good start we must resist the temptation to increase our betting level on the grounds that we are "playing with their money". Trust us. Title passes once we collect! It won't become theirs unless we give it back to them. Raising our betting level simply increases the chances that a potential good day will be squandered away.</p>
<p style="padding-left: 30px;">4. Never bet a lot to win a little.</p>
<p style="padding-left: 30px;">5. Don't be afraid to lose. Losing is part of winning. It is the price we pay for the winners that come our way.</p>
<p><strong>A simple but effective plan can be devised by following the following steps:</strong></p>
<p style="padding-left: 30px;">1. Decide how much the afternoon's entertainment is worth. So long as we limit our betting to that amount (less expenses such as the program, etc) we can't lose. Even if we don't cash a ticket all day we will have gotten our monies worth.</p>
<p style="padding-left: 30px;">2. Determine a potential betting level per race. Whether that is $2 or $100 doesn't really matter, but it should be high enough to hold our interest while not being so high that we will feel any compulsion to win.</p>
<p style="padding-left: 30px;">3. Create a contingency fund by adding two to the number of races we intend to play. This gives the plan some flexibility so that we can take advantage of any unexpected betting opportunities that might develop.</p>
<p>Sound money management principles also apply to the individual bets we make. When playing the gimmicks, we shouldn't use so many combinations that we may lose even when one of our combinations wins. "Insurance" bets should be used sparingly. When our primary bet wins, they dilute our winnings, and when it loses, they too often simply add to our loss. Because of the way the mutuels are computed, it is usually best to bet long shots to win only. The potential place and show mutuels usually don't justify their risk, because they are diluted by the shorter priced horses with whom they share the pool.</p>
<p>Never play a long shot in the first race of a double with a favorite in the second race. It is much better to simply bet the long shot to win. Combining a favorite in the first race with a long shot in the second, however, is okay. The reason for this apparent contradiction is simple. In the double, we are betting the proceeds that a win bet would have returned in the first race with a horse in the second race. It is one bet but think of it as two. If we actually collected the funds that winning 20-1 shot would pay, would we bet it all that a 6-5 favorite would win the next race? Of course not! To do otherwise would violate the "never bet a lot to win a little" principle. That isn't the case when the 6-5 horse wins the first race and the long shot is running in the second.</p>
<p>Another bet that should never be made is a two horse exacta box combining a favorite with a long shot. Once again we are actually making two bets. There is nothing wrong with the favorite wins with the long shot half of the box, but the other half violates sound money management principles. When a long shot wins with the favorite running second the exacta mutuel isn't great enough to justify the risk that the long shot will win but that the favorite won't run second. Besides, there is nothing quite so discouraging as to identify a winning long shot but lose because the favorite ran poorly. A much better way to handle the situation is to simply bet the long shot to win and back that bet up with a straight favorite-long shot exacta.</p>
</div>
{************END PAGE SPECIFIC COPY*****************************************}
{include file="/home/ah/allhorse/public_html/usracing/horse-betting/end-of-page-blocks.tpl"}
