{include file="/home/ah/allhorse/public_html/usracing/horse-betting/top-of-page-blocks.tpl"}
{************PAGE SPECIFIC COPY*****************************************}
<div class="justify-left">         
<div class="headline"><h1>Horse Betting:  What is a Pick Six?</h1></div>
<p>You must select the correct winner in the six successive races that make up the Pick Six. The bet must be placed before the first race on the Pick Six.</p>
 </div>
{************END PAGE SPECIFIC COPY*****************************************}
{include file="/home/ah/allhorse/public_html/usracing/horse-betting/end-of-page-blocks.tpl"}
