@charset "UTF-8";
/* CSS Document */

/* ---- Todays' Tracks  -------------------------------------------------------------------- */

/* initially all panes are hidden */ 
div.panes div.pane { display: none; }
/* root element for tabs  */
div.panes div { clear: both; display:block; }

#track-results-block ul.tabs { display: block; position: relative; list-style:none; margin:0 !important; padding:0; width: 99.9%; /* not 100% becasue of IE */  }
#track-results-block ul.tabs li { float:left; display: block; text-indent:0; margin:0 0 0 0px !important; list-style-image:none !important; width: 50%; }

#track-results-block ul.tabs a {  position:relative; display:block; line-height: 17px; font-size: 17px; font-weight: bold; padding: 0; text-align:left; text-decoration:none; color:#666; }
#track-results-block ul.tabs a:active { outline:none; }
#track-results-block ul.tabs a:hover { color:#000; }
/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
#track-results-block ul.tabs a.current, 
#track-results-block ul.tabs a.current:hover, 
#track-results-block ul.tabs li.current a { font-size: 17px; font-weight: bold; display: block; margin:0; cursor:default !important; color:#000 !important; }
/* Tracks Tab */
#track-results-block ul.tabs a .b1 { display: block; height: 23px;  background: #ededed url('../../../themes/images/tab-tracks.gif') no-repeat left; background-position: 0 0; padding: 9px 0 0 45px; }
#track-results-block ul.tabs a:hover .b1 { background: #ededed url('../../../themes/images/tab-tracks.gif') no-repeat left; background-position: 0 0; padding: 9px 0 0 45px; }
#track-results-block ul.tabs a.current .b1 { background: #FFF url('../../../themes/images/tab-tracks.gif') no-repeat left; background-position: 0 -32px; padding: 9px 0 0 45px; }
#track-results-block ul.tabs a.current .b1-border { margin: 0 0 0 10px; border-bottom: 1px solid #bbdcff; display: block; }
/* Results Tab */
#track-results-block ul.tabs a .b2 { display: block; height: 23px; background: #ededed url('../../../themes/images/tab-tracks.gif') no-repeat left; background-position: 0 -64px; padding: 9px 0 0 55px; }
#track-results-block ul.tabs a:hover .b2 { background: #ededed url('../../../themes/images/tab-tracks.gif') no-repeat left; background-position: 0 -64px; padding: 9px 0 0 55px; }
#track-results-block ul.tabs a.current .b2 { background: #FFF url('../../../themes/images/tab-tracks.gif') no-repeat left; background-position: 0 -96px; padding: 9px 0 0 55px; }
#track-results-block ul.tabs a.current .b2-border { margin: 0 10px 0 20px; border-bottom: 1px solid #bbdcff; display: block; }

/*----- End Tabs ---------------------------------*/
