@charset "UTF-8";
/*========================================================== SBK 5 CSS =============================================================*/

/* Global Styles
====================================================================================================================================*/
*                             { margin: 0; padding: 0;}
html, body                    { background-color: #222; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #333; text-align: center;  height:100%;}
table	                      { border-collapse: collapse; border-spacing: 0; }
td, th	                      { padding: 0; }
img 	                      { border: 0; }
/*==================================================================================================================================*/

/* Layout Configuration (For Account Info Bar, Odds, and Betting Ticket)
====================================================================================================================================*/
#outerWrapper                 { float: left; width: 783px; height: auto; margin: 0 0 10px 15px; padding: 0; border: 0; } 

#accountInfoDiv               { float: left; width: 783px; height: 24px; margin: 10px 15px 8px 15px; padding: 0; border: 1px solid #783d00; }
.oddsDiv                      { float: left; width: 535px; height: 500px; margin: 0px; }
.oddsIframe                   { float: left; width: 535px; border: 0; margin:0 0 10px 0px; }

.ticketGameDiv                { float: left; width: 245px; margin-left: 2px; }
.betTicketDiv                 { float: left; width: 245px; height: 300px; margin: 0 15px 0 0; padding: 0;}
.ticketIframe                 { float: left; width: 245px; border: 0; margin-right: 7px; }

.gameDiv                      { float: left; }

#blackjack                    { text-align: left; background-color:#000; width:245px;}
#blackjackDiv                 { display: none; text-align: left; background-color:#000; width:245px;}

/* Buttons
====================================================================================================================================*/
.btn_GradientContainer        { float: left; width: auto; height: 16px; padding: 0 1px; margin: 5px 0 0 3px; border: 1px solid #532101; background-color: #9a7400; }
.btn_Gradient                 { float: left; width: auto; height: 16px; line-height: 15px; line-height: 16px\9;/* For IE8 */ color:#FFF; padding: 0 7px; background:url(btn_Gradient.gif) repeat-x; text-transform: uppercase; font-size: 9px; text-shadow: 0 -1px 0 #707070; letter-spacing: 0.05em; }
.btn_Gradient:hover           { float: left; width: auto; height: 16px; line-height: 15px; line-height: 16px\9;/* For IE8 */ color:#FFF; padding: 0 7px; background:url(btn_Gradient1.gif) repeat-x; text-transform: uppercase; font-size: 9px; text-shadow: 0 -1px 0 #888; letter-spacing: 0.05em; cursor: pointer; }

/* Account Info Section
====================================================================================================================================*/
.accountNavBar                { float: left; width: 781px; height: 22px; line-height: 22px; margin: 0; padding: 0; border: 1px solid #140300; background:url(accountInfoBar.gif) repeat-x; }
#accountInfoDiv ul li         { float: left; list-style: none; display: inline; padding-right: 12px; }
#accountInfoDiv li .line      { float: left; background:url(accountInfoDiv.gif) no-repeat left top; padding-left: 14px; }
#accountInfoDiv li .noLine    { float: left; padding-left: 10px; }

#accountInfoDiv .username     { float: left; background:url(icon_userName.gif) no-repeat left; padding-left: 15px; font-size: 9px; color: #c6932f; letter-spacing: 0.05em; text-transform: uppercase; }
#accountInfoDiv .usernameInfo { float: left; padding-left: 5px; font-size: 9px; color: #FFF; letter-spacing: 0.05em; text-transform: uppercase; }

#accountInfoDiv .balance      { float: left; background:url(icon_custBalance.gif) no-repeat left; padding-left: 15px; font-size: 9px; color: #c6932f; letter-spacing: 0.05em; text-transform: uppercase; }
#accountInfoDiv .balanceInfo  { float: left; padding-left: 5px; font-size: 9px; color: #FFF; letter-spacing: 0.05em; text-transform: uppercase; }

#accountInfoDiv .pending      { float: left; background:url(icon_pendingBalance.gif) no-repeat left; padding-left: 15px; font-size: 9px; color: #836001; letter-spacing: 0.05em; text-transform: uppercase; }
#accountInfoDiv .pendingInfo  { float: left; padding-left: 5px; font-size: 9px; color: #836001; letter-spacing: 0.05em; text-transform: uppercase; }

#accountInfoDiv .msgIframe    { float: right; width: 200px; height: 21px; border: 0; margin-right: 7px; overflow: hidden; }

#accountInfoDiv ul li a       { text-decoration:none; }
#accountInfoDiv ul li a:hover { text-decoration:none; cursor: pointer; }

/* Basic Links
====================================================================================================================================*/
a:link, a:visited, a:active   { color: #333; text-decoration: none; outline: none; }
a:hover                       { color: #555; text-decoration: none; outline: none; cursor: pointer; }

a.box:link, a.box:visited,
a.box:active                  { color: #333; text-decoration: none; outline: none; }
a.box:hover                   { color: #333; text-decoration: none; outline: none; cursor: pointer; }

/* Odds Header
====================================================================================================================================*/
#topBar                       { position: relative; height: 40px; width: 519px; background:url(topBar.gif) repeat-x; margin: 0 auto; padding: 0; text-align: left; overflow: visible; }
.topBarLeft                   { float: left; width: 80px; height: 40px; background:url(topBarLeft.png) no-repeat left; }
.topBarRight                  { float: right; width: 80px; height: 40px; background:url(topBarRight.png) no-repeat right; }
.topBarContentsLeft           { float: left; width: 250px; margin-left: -78px; }

.topBarContentsRight          { float: right; width: 150px; margin-right: -76px; }
.clearPicks                   { float: right; width: 22px; height: 20px; margin: 4px 0 0 3px; background:url(btn_ClearPicks.png) no-repeat; } 
.clearPicks:hover             { float: right; width: 22px; height: 20px; margin: 4px 0 0 3px; background:url(btn_ClearPicks1.png) no-repeat; cursor: pointer; } 

.updateOdds                   { float: right; width: 22px; height: 20px; margin: 4px 0 0 3px; background:url(btn_UpdateOdds.png) no-repeat; }
.updateOdds:hover             { float: right; width: 22px; height: 20px; margin: 4px 0 0 3px; background:url(btn_UpdateOdds1.png) no-repeat; cursor: pointer; }

.keepPicks                    { float: right; width: 94px; height: 20px; margin: 4px 0 0 3px; background:url(btn_KeepPicks.png) no-repeat; }
.keepPicksLabel               { float: left; margin-top: 4px; color:#e5ab37; padding: 0 10px; text-transform: uppercase; font-size: 9px; text-shadow: 0 -1px 0 #333; letter-spacing: 0.05em; }
.checkboxRight                { float: right; margin: 7px -137px 0 0; }

#inrunningIndicator           { clear: both; background-color: #803500; }

/* Combo Box Menu
====================================================================================================================================*/
#topnav                       { float: left; margin: 5px 0 0 3px; padding: 0; list-style: none; }
#oddsDisplayDropDown          { float: right; margin: -1px 4px 0 0; padding: 0; list-style: none; }

.menu                         { width: 145px; color: #333; border: 1px solid #555; background-color: #FFF; padding: 0 0 0 4px; padding: 0\9;/* For IE8 */ text-transform: capitalize; font-size: 11px; font-family: Arial, Verdana, Helvetica, sans-serif; }
.menuOddsDisplay              { width: 125px; color: #333; border: 1px solid #555; background-color: #FFF; padding: 0 0 0 4px; padding: 0\9;/* For IE8 */ text-transform: capitalize; font-size: 11px; font-family: Arial, Verdana, Helvetica, sans-serif; }
option                        { padding: 0 7px 0 7px; }	

/* Odds Section
====================================================================================================================================*/
#containerOdds                { width: 509px; border: 5px solid #803500; border-top: 0; border-bottom: 1px solid #803500; background-color:#FFF; margin: 0 auto; padding: 0; text-align: left; overflow: hidden; }

.band1                        { float: left; width: 497px; height: 26px; line-height: 26px; color: #EEE; font-weight: bold; text-transform:uppercase; font-size: 12px; padding: 0 0 0 10px; margin: 0; border: 1px solid #1e1e1e; background:url(headerBar1.gif) repeat-x; }
.titleLabel                   { float: left; text-shadow:0 -1px 0 #000; }
#columnHeaders                { float: left; width: 518px; height: 20px; padding: 0; margin: -1px auto 0 auto; letter-spacing: 0.03em; text-shadow:0 -1px 0 #707070; }

.calendarHeader               { float: left; color:#f2ebde; width: 22px; padding: 2px 3px 0 2px; margin: 1px 0 5px 0; border: 1px solid #7e5c1a; border-left: 1px solid #a07437; background:url(headerBar2.gif) repeat-x; text-align: center; }
.calendarHeader:hover         { float: left; color:#f2ebde; width: 22px; padding: 2px 3px 0 2px; margin: 1px 0 5px 0; border: 1px solid #7e3a1a; border-left: 1px solid #a15b2c; cursor: pointer; background:url(headerBar2a.gif) repeat-x; text-align: center; }
.calendarHeaderHover          { float: left; color:#f2ebde; width: 22px; padding: 2px 3px 0 2px; margin: 1px 0 5px 0; border: 1px solid #7e3a1a; border-left: 1px solid #a15b2c; cursor: pointer; background:url(headerBar2a.gif) repeat-x; text-align: center; }
.calendarIcon                 { text-align: center; padding: 2px 0; padding: 2px 0 2px 1px\9;/* For IE8 */ }

.rotNumHeader                 { float: left; color:#f2ebde; width: 22px; padding: 2px 1px; margin: 1px 0 5px 0; border: 1px solid #7e5c1a; border-left: 1px solid #a07437; background:url(headerBar2.gif) repeat-x; text-align: center; }
.rotNumHeader:hover           { float: left; color:#f2ebde; width: 22px; padding: 2px 1px; margin: 1px 0 5px 0; border: 1px solid #7e3a1a; border-left: 1px solid #a15b2c; cursor: pointer; background:url(headerBar2a.gif) repeat-x; text-align: center; }
.rotNumHeaderHover            { float: left; color:#f2ebde; width: 22px; padding: 2px 1px; margin: 1px 0 5px 0; border: 1px solid #7e3a1a; border-left: 1px solid #a15b2c; cursor: pointer; background:url(headerBar2a.gif) repeat-x; text-align: center; }

#teamHeader                   { float: left; color:#f2ebde; width: 181px; padding: 2px 0 2px 10px; margin: 1px 0; border: 1px solid #7e5c1a; border-left: 1px solid #ac8d37; background:url(headerBar2.gif) repeat-x; }
#teamSoccerHeader             { float: left; color:#f2ebde; width: 271px; padding: 2px 0 2px 10px; margin: 1px 0; border: 1px solid #7e5c1a; border-left: 1px solid #ac8d37; background:url(headerBar2.gif) repeat-x; }
#teamChallengeHeader          { float: left; color:#f2ebde; width: 349px; padding: 2px 0 2px 10px; margin: 1px 0; border: 1px solid #7e5c1a; border-left: 1px solid #ac8d37; background:url(headerBar2.gif) repeat-x; }
#teamFuturesTotalHeader       { float: left; color:#f2ebde; width: 301px; padding: 2px 0 2px 13px; margin: 1px 0; border: 1px solid #7e5c1a; border-left: 1px solid #ac8d37; background:url(headerBar2.gif) repeat-x; }

#moneylineHeader              { float: left; color:#f2ebde; width: 61px; padding: 2px 5px; margin: 1px 0; border: 1px solid #7e5c1a; border-left: 1px solid #ac8d37; background:url(headerBar2.gif) repeat-x; text-align: center; }
#spreadHeader                 { float: left; color:#f2ebde; width: 78px; padding: 2px 5px; margin: 1px 0; border: 1px solid #7e5c1a; border-left: 1px solid #ac8d37; background:url(headerBar2.gif) repeat-x; text-align: center; }
#spreadEndHeader              { float: left; color:#f2ebde; width: 81px; padding: 2px 5px; margin: 1px 0; border: 1px solid #7e5c1a; border-left: 1px solid #ac8d37; background:url(headerBar2.gif) repeat-x; text-align: center; }
#totalHeader                  { float: left; color:#f2ebde; width: 86px; padding: 2px 5px; margin: 1px 0; border: 1px solid #7e5c1a; border-left: 1px solid #ac8d37; border-right: 1px solid #a07437; background:url(headerBar2.gif) repeat-x; text-align: center; }
#totalFuturesHeader           { float: left; color:#f2ebde; width: 181px; padding: 2px 5px; margin: 1px 0; border: 1px solid #7e5c1a; border-left: 1px solid #ac8d37; border-right: 1px solid #a07437; background:url(headerBar2.gif) repeat-x; text-align: center; }

.whiteGradient                { float: left; width: 509px; height: 18px; padding: 0; margin: 0 0 -12px 0; background:url(whiteGradient.gif) repeat-x; }

.dateHeader                   { float: left; width: auto; height: 12px; line-height: 12px; color:#FFF; padding: 1px 12px; margin: 0 0 0 3px; border: 1px solid #7d3c1b; border-bottom: 0; background:url(headerBar2a.gif) repeat-x; text-transform: uppercase; font-size: 9px; text-shadow:0 -1px 0 #707070; letter-spacing: 0.05em; }
.dateLine                     { float: left; width: 503px; margin: 0 0 2px 3px; border-bottom: 2px solid #7d3c1b;  }

.timeBar                      { float: left; width: 491px; padding: 2px 0 1px 10px; margin: 0 3px 1px 3px; font-weight: normal; border: 1px solid #cab674; background-color:#FFF; }
.time                         { float: left; font-weight: bold; margin-left: 2px; }

.oddsInfoTop                  { float: left; width: 516px; padding: 0; margin: 0 auto -5px auto; }
.oddsInfoBottom               { float: left; width: 516px; padding: 0; margin: 0 auto -2px auto; }
.oddsInfoBuyPoints            { float: left; width: 516px; padding: 0; margin: -3px auto -2px auto; }

.rotNum                       { float: left; width: 40px; padding: 2px 5px; margin: 1px 0 5px 3px; border: 1px solid #dcd3af; background-color:#f6f2de; text-align: center; }

.team                         { float: left; width: 180px; padding: 2px 0 2px 10px; margin: 1px 0 1px 1px; border: 1px solid #dcd3af; background-color:#f6f2de; }
.team:hover                   { float: left; width: 180px; padding: 2px 0 2px 10px; margin: 1px 0 1px 1px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; }

.team1                        { float: left; width: 270px; padding: 2px 0 2px 10px; margin: 1px 0 1px 1px; border: 1px solid #dcd3af; background-color:#f6f2de; }
.team1:hover                  { float: left; width: 270px; padding: 2px 0 2px 10px; margin: 1px 0 1px 1px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; }

.teamFuturesTotal             { float: left; width: 301px; padding: 2px 0 2px 10px; margin: 1px 0 5px 3px; border: 1px solid #dcd3af; background-color:#f6f2de; }
.teamFuturesTotal:hover       { float: left; width: 301px; padding: 2px 0 2px 10px; margin: 1px 0 5px 3px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; }

.teamChallengeDefault         { float: left; width: 348px; padding: 2px 0 2px 10px; margin: 1px 0 1px 1px; border: 1px solid #dcd3af; background-color:#f6f2de; }
.teamChallenge                { float: left; width: 348px; padding: 2px 0 2px 10px; margin: 1px 0 1px 1px; border: 1px solid #dcd3af; background-color:#f6f2de; }
.teamChallenge:hover          { float: left; width: 348px; padding: 2px 0 2px 10px; margin: 1px 0 1px 1px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; }

.spreadChallenge              { float: left; width: 80px; padding: 2px 7px 2px 0; margin: 1px 0 1px 1px; border: 1px solid #dcd3af; background-color:#f6f2de; text-align: center; }

.teamEmpty                    { float: left; width: 180px; padding: 2px 0 2px 10px; margin: 1px 0 1px 1px; border: 1px solid #dcd3af; background-color:#f6f2de; }

.team4                        { float: left; width: 270px; padding: 2px 0 2px 10px; margin: 1px 0 1px 1px; border: 1px solid #dcd3af; background-color:#f6f2de; font-weight: bold; text-transform:uppercase; }

.moneyline                    { float: left; width: 60px; padding: 2px 5px; margin: 1px 0 1px 1px; border: 1px solid #dcd3af; background-color:#f6f2de; text-align: center; }
.moneyline:hover              { float: left; width: 60px; padding: 2px 5px; margin: 1px 0 1px 1px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; text-align: center; }

.spread                       { float: left; width: 80px; padding: 2px 7px 2px 0; margin: 1px 0 1px 1px; border: 1px solid #dcd3af; background-color:#f6f2de; text-align: center; }
.spread:hover                 { float: left; width: 80px; padding: 2px 7px 2px 0; margin: 1px 0 1px 1px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; text-align: center; }

.over                         { float: left; width: 82px; padding: 2px 10px 2px 0; margin: 1px 0 1px 1px; border: 1px solid #d0c8a9; background-color:#dfdbc2; text-align: center; }
.over:hover                   { float: left; width: 82px; padding: 2px 10px 2px 0; margin: 1px 0 1px 1px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; text-align: center; }

.under                        { float: left; width: 82px; padding: 2px 10px 2px 0; margin: 1px 0 1px 1px; border: 1px solid #d0c8a9; background-color:#dfdbc2; text-align: center; }
.under:hover                  { float: left; width: 82px; padding: 2px 10px 2px 0; margin: 1px 0 1px 1px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; text-align: center; }

.overUnder                    { color: #7d3c1b; margin-right: 2px; font-weight: bold; }
.overUnderBox                 { float: left; width: 82px; padding: 2px 5px; margin: 1px 0 1px 1px; border: 1px solid #d0c8a9; background-color:#dfdbc2; text-align: center; }

.buyPoints                    { float: left; width: 64px; padding: 2px 3px; margin: 1px 0 1px 1px; border: 1px solid #b8a462; background-color:#d2caaf; text-align: center; }
.buyPointsSpread              { float: left; width: 81px; padding: 2px 3px 1px 3px; padding: 2px 3px\9;/* For IE8 */ margin: 1px 0 1px 1px; border: 1px solid #b8a462; background-color:#d2caaf; text-align: center; }
.buyPointsOverUnder           { float: left; width: 86px; padding: 2px 3px 1px 3px; padding: 2px 3px\9;/* For IE8 */ margin: 1px 0 1px 1px; border: 1px solid #b8a462; background-color:#d2caaf; text-align: center; }

.fieldBuyPoints               { width: 22px; height: 12px; font-size: 10px; border: 1px solid #555; background-color: #FEFEFE; text-align: center; }

.checkbox                     { float: left; margin: 4px 0 0 -17px; margin: 5px 0 0 -17px\9;/* For IE8 */ }

.bettingTrends                { float: right; background: url(bettingTrendsIcon.gif) no-repeat left; width: 17px; margin-right: 6px; }
.matchup                      { float: right; background: url(matchupIcon.gif) no-repeat left; width: 17px; margin-right: 5px; }
.trendsheet                   { float: right; background: url(trendsIcon.gif) no-repeat left; width: 21px; margin-right: 5px; }

/* Odds Propositions
====================================================================================================================================*/
.propsBar                     { float: left; width: 489px; padding: 3px 6px; margin: 1px 3px; font-weight: bold; border: 1px solid #b8a462; border-bottom: 2px solid #b8a462; background-color:#dfdbc2; text-align: center; }
.propsBarTitle                { float: left; width: 441px; padding: 0 5px 0 1px; margin: 1px 3px; font-weight: bold; text-align: center; }

/* Odds Futures
====================================================================================================================================*/
.descriptionBorder            { float: left; width: 499px; padding: 4px; border: 1px solid #1e1e1e; border-top: 1px solid #101010; background-color: #3c3c3c; }
.descriptionHeader            { float: left; width: 477px; padding: 10px; color: #f3f3f3; border: 1px solid #494949; border-top: 1px solid #1a1a1a; border-bottom: 1px solid #6b6b6b; background-color: #302f2f; text-shadow: 0 -1px 0 #111; }
.descriptionDate              { color: #ba8723; font-weight: bold; text-shadow: 0 -1px 0 #111; }

.arrow                        { background: url(arrowOrange.gif) no-repeat 0 3px; padding: 0 0 0 12px; }
.sortingArrow                 { float: left; padding: 0 4px; margin-top: -2px; border: 0px solid red; }

.sortAlphaHeader              { float: left; color:#f2ebde; width: 253px; padding: 2px 0; margin: 1px 0; border: 1px solid #7e5c1a; border-left: 1px solid #ac8d37; background:url(headerBar2.gif) repeat-x; text-align: right; }
.sortAlphaHeader:hover        { float: left; color:#f2ebde; width: 253px; padding: 2px 0; margin: 1px 0; border: 1px solid #7e3a1a; border-left: 1px solid #a15b2c; cursor: pointer; background:url(headerBar2a.gif) repeat-x; }
.sortAlphaName                { float: left; margin-left: 58px; }

.selectionHeader              { float: left; color:#f2ebde; width: 253px; padding: 2px 0; margin: 1px 0; border: 1px solid #7e5c1a; border-left: 1px solid #ac8d37; background:url(headerBar2.gif) repeat-x; text-align: right; }
.selectionName                { float: left; margin-left: 73px; }

.sortOddsHeader               { float: left; color:#f2ebde; width: 253px; padding: 2px 0; margin: 1px 0; border: 1px solid #7e5c1a; border-left: 1px solid #ac8d37; background:url(headerBar2.gif) repeat-x; }
.sortOddsHeader:hover         { float: left; color:#f2ebde; width: 253px; padding: 2px 0; margin: 1px 0; border: 1px solid #7e3a1a; border-left: 1px solid #a15b2c; cursor: pointer; background:url(headerBar2a.gif) repeat-x; }
.sortOddsName                 { float: left; margin-left: 65px; }

.oddsHeader                   { float: left; color:#f2ebde; width: 253px; padding: 2px 0; margin: 1px 0; border: 1px solid #7e5c1a; border-left: 1px solid #ac8d37; background:url(headerBar2.gif) repeat-x; }
.oddsName                     { float: left; margin-left: 100px; }

.columnAlpha                  { float: left; width: 250px; padding: 2px 0; margin: 1px 0 5px 3px; border: 1px solid #dcd3af; background-color:#f6f2de; }
.nameAlpha                    { float: left; margin-left: 70px; }

.columnOdds                   { float: left; width: 248px; padding: 2px 0; margin: 1px 0 1px 1px; border: 1px solid #d0c8a9; background-color:#dfdbc2; }
.columnOdds:hover             { float: left; width: 248px; padding: 2px 0; margin: 1px 0 1px 1px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; }
.numberOdds                   { float: right; margin-right: 126px; }

.checkboxFutures              { float: left; margin: 4px 0 0 -124px; margin: 5px 0 0 -124px\9;/* For IE8 */ }

/* Odds No Events
====================================================================================================================================*/
.noEventLines                 { float: left; width: 467px; padding: 10px 12px; margin: 10px 0 10px 8px; border: 1px solid #fdb441; background-color:#fffde4; text-align: center; }
.noEvents                     { font-weight: bold; text-align: center; padding-right: 5px; font-size: 11px; }
.warningIcon                  { background: url(warningIcon.png) 2px -1px no-repeat; padding: 0 0 0 20px; }

/* Baseball Pitcher Names in Odds
====================================================================================================================================*/
.pitcherName                  { color: #555; border-left: 1px solid #a6966b; font-size: 8px; font-weight: bold; padding: 0 4px; margin: 0 3px; text-transform: uppercase; }

/* Related Events
====================================================================================================================================*/
a.gip:link, a.gip:visited,
a.gip:active                  { color: #333; text-decoration: none; outline: none; }
a.gip:hover                   { color: #d25e00; text-decoration: underline; outline: none; cursor: pointer; }

.gipTeams                     { float: left; color: #8b6317; padding-left: 10px; margin-right: 7px; }

.relatedEvents                { float: right; color: #8b6317; font-size: 9px; font-weight: bold; padding: 1px 5px 1px 7px; margin-right: 7px; text-transform: uppercase; border-right: 1px dotted #a6966b; }
.relatedEvents:hover          { float: right; color: #d25e00; font-size: 9px; font-weight: bold; padding: 1px 5px 1px 7px; margin-right: 7px; text-decoration: underline; text-transform: uppercase; cursor: pointer; }

.relatedEventsGip             { float: right; color: #8b6317; font-size: 9px; font-weight: bold; padding: 1px 5px 1px 7px; margin-right: 3px; text-transform: uppercase; }
.relatedEventsGip:hover       { float: right; color: #d25e00; font-size: 9px; font-weight: bold; padding: 1px 5px 1px 7px; margin-right: 3px; text-decoration: underline; text-transform: uppercase; cursor: pointer; }

.moreGip                      { float: right; color: #8b6317; font-size: 9px; font-weight: bold; padding: 1px 0 1px 7px; margin-top: 1px; text-transform: uppercase; border-left: 1px dotted #a6966b; }
.moreGip:hover                { float: right; color: #d25e00; font-size: 9px; font-weight: bold; padding: 1px 0 1px 7px; margin-top: 1px; text-decoration: underline; text-transform: uppercase; cursor: pointer; }

#band3                        { float: left; width: 501px; padding: 2px 0; margin: 2px 0 2px 3px; border: 1px solid transparent; }
#band3:hover                  { float: left; width: 501px; padding: 2px 0; margin: 2px 0 2px 3px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; }
.wordSpacing                  { font-weight: bold; margin: 0 3px 10px 0; }

.inProgBar                    { float: left; width: 491px; padding: 2px 0 1px 10px; margin: 0 3px; font-weight: normal; border: 1px solid #cb9728; border-bottom: 2px solid #cb9728; background-color:#fff6a0; }
.inProgBarSub                 { float: left; width: 491px; padding: 2px 0 1px 10px; margin: -1px 3px 0 3px; font-weight: normal; border: 1px solid #cb9728; background-color:#ffffc0; }
.inProgBarSubEnd              { float: left; width: 491px; padding: 2px 0 1px 10px; margin: -1px 3px 3px 3px; font-weight: normal; border: 1px solid #cb9728; background-color:#ffffc0; }

.inProg                       { float: left; font-weight: bold; font-size: 10px; margin: 0 0 0 2px; text-transform: uppercase; }
.arrowGIP                     { background: url(arrowOrange.gif) no-repeat 0 3px; padding: 0 0 0 10px; }

.live                         { float: left; background: url(live.gif) no-repeat 0 1px; padding: 0 0 0 5px; width: 28px; }
.live:hover                   { float: left; background: url(liveHover.gif) no-repeat 0 1px; padding: 0 0 0 5px; width: 28px; }

/* Pagination
====================================================================================================================================*/
#pagination                   { float: right; color: #8b6317; font-size: 9px; font-weight: bold; padding: 1px 7px; margin: 0 1px 1px 0; text-transform: uppercase; }
#pagination.pagingItem a:link,
#pagination .pagingItem a:visited { color:#000; border:1px solid #cab06c; padding:0 3px; text-decoration: none; }
#pagination .pagingItem a:hover   { background-color:#decf83; color:#000; border:1px solid #a0802c; padding: 0 3px; text-decoration: none; cursor: pointer; }
#pagination .pagingItemCurrent    { background-color:#cc5d26; color:#FFF; border:1px solid #5f2000; padding: 0 3px; text-decoration: none; }

.wrapHeader                   { text-align: center; white-space: normal; }


/* Odds Footer
====================================================================================================================================*/
.countPicks                   { float: right; width: 64px; height: 20px; margin: 4px 0 0 3px; }
.countPicksLabel              { float: right; margin-top: 4px; color:#FFF; padding: 0 5px; text-transform: uppercase; font-size: 9px; text-shadow: 0 -1px 0 #333; letter-spacing: 0.05em; }

#botBar                       { height: 27px; width: 519px; background:url(botBar.gif) repeat-x; margin: 0 auto; padding: 0; text-align: left; overflow: hidden; }
.botBarContents               { float: right; width: 510px; margin: -1px 4px 0 0; }

/* Ticket Section
====================================================================================================================================*/
form                          { margin: 0; }

.betTicketSection             { border: 5px solid #803500; background-color: #FFF; }
.processmsg                   { border: 2px #8b3535 solid; background-color: #e5e5e5; }

/* Time Zone */
.timeZoneContainer            { border: 1px solid #000; color: #777; background-color: #1a1813; height: 20px; margin: 2px; }

.timeZoneIcon                 { float: left; padding-left: 18%; margin-right: 5px; }
.timeZoneMenu                 { float: center; padding-right: 1%; background-color:#1f1d17; padding-top: 1px; margin-top: 1px; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px;font-weight: normal; color: #aea992;  }

.timeZone a:link              { color:#eabc4b; text-decoration:none; }
.timeZone a:hover             { color:#fff; text-decoration:none; }
.timeZoneTitle                { color:#b8b39b;font-weight:bold; padding-top:5px; padding-bottom:3px; floaat:center; }
.timeZoneHide                 { display: none;}
.timeZoneShow                 { position: absolute; display: block; background-color: #1f1d17; font-family: Arial, Verdana, Helvetica, sans-serif;font-size: 11px;font-weight: normal; color: #aea992; height: 50px; left: 8px; top:30px; width:212px;}

/* Header for the betting ticket */
.ticketHeader                 { text-align: center; margin: 1px 2px 0 2px; height: 26px; line-height: 26px; color: #EEE; border: 1px solid #1e1e1e; background: url(headerBar1.gif) 100% 0 repeat-x; font-weight: bold; font-size: 12px; text-transform:uppercase; text-shadow:0 -1px 0 #000; }

/* Login message */
.loginBox                     { margin: 2px; padding: 1px; background-color: #fffbba; color:#f1b800; border: 2px #f1b800 solid; text-align: center; }
.loginHeading                 { color:#000; font-size: 12px; font-weight:bold; } 
.loginBox div a, #loginSignupLink { color: #803500; text-decoration: underline; font-size: 12px; }


.custAccount                  { list-style-type: none; background-color: #f6f2de; border: 1px solid #151515; margin: 0 2px 2px 2px; }
.custInfoRow                  { text-align: center; }
.clabel                       { float: left; padding-left: 15%; width: 70px; text-align: right; margin: 2px 5px 0 0; font-weight: bold; }	
.cdata                        { float: left; margin-top: 2px; text-align: left; }
.custAccount li               { clear: both; border-top: 1px solid #c9c5b5; }

.pending                      { color: #a14b4b; }

.timeoutmsg                   { padding: 5px; border: #8b3535 solid 3px; background-color: #fff; color: #8b3535;}

/* processing message */ 
.processingTickets            { padding: 7px; } 
 
/* no bets */
.noBetsContainer              { background-color:#e5e5e5; border: 1px solid #888; padding: 4px; }
.noBets                       { border: 1px #d6d6d5 solid; background-color:#fafafa; color:#333; padding: 3px; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:bold; text-align:center; }

/* low balance */
.lowbalance                   { border: 2px #e78300 solid; font-weight: bold; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px; text-align: center; }
.lowbalance a                 { display: block; background-color: #f8d782; padding: 2px; }
.lowbalance a:link,
.lowbalance a:visited         { color: #000; text-decoration:none; outline: none; }
.lowbalance a:hover           { background-color: #fef3b1; color:#7c5f35; text-decoration:none; outline: none; }
.lowbalance .lowBalanceTxt    { background-color: #f8d782; color:#93703d; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:bold; text-align: center; }
.lowbalance .lowBalanceAlert  { color:#990033; }

/* remove all */
.removeAllSpacing             { clear: both; background:url(removeAllGradient.gif) repeat-x; margin: 0 2px; padding: 2px 0; font-size: 9px; text-align: center; color:#FFF; border: 1px solid #4d070c; text-transform: uppercase; text-shadow:0 -1px 0 #222; }
.removeAllSpacing a:link,
a:visited                     { color: #FFF; text-decoration: none; outline: none; }
.removeAllSpacing a:hover     { color: #eabc4b; text-decoration: none; outline: none; }

/* global error box */
.title                        { float: left; font-weight: bold; color: #000; margin: 5px 0 0 30px; font-size: 14px; width: 300px; text-align: left; }
.globalErrorContainer         { border: 4px solid #8b3535; background-color: #f3d5d5; color: #720000; padding: 7px 12px 0 12px; margin: 2px; }
.globalError                  { list-style-type: none; background: url(iconError.gif) no-repeat; width: 24px; height: 23px; }
.globalErrorList              { list-style-image: url(iconInfoRed.gif); padding: 3px 0 1px 10px; margin: 3px 0 3px 21px; line-height: 13px; text-align: left; }
.globalErrorList li           { margin-bottom: 7px; }
.titleSuccess                 { float: left; font-weight: bold; color: #000; margin: 5px 0 0 30px; font-size: 14px; width: 165px; text-align: left; }

/* global success */
.globalSuccessContainer       { text-align: left; border: 4px solid #559037; background-color: #e6fbdc; color: #559037; padding: 7px 12px 0 12px; margin: 2px; }
.globalSuccess                { ext-align: left; list-style-type: none; background: url(iconSuccess.gif) no-repeat 6px 5px; width: 24px; height: 23px; }
.globalSuccessList            { list-style: none; padding: 3px 0 1px 10px; margin: 3px 0 3px 21px; line-height: 13px; text-align: left; }
.globalSuccessList li         { margin-bottom: 0; }
.globalSuccessList li.end     { margin-bottom: 7px; }

.globalSuccessList a:link,
.globalSuccessList a:visited  { color:#315c28; font-size: 9px; text-decoration: none; outline: none; border: 1px solid #559037; background-color:#bbd8b5; text-align: center; padding: 0 8px; text-transform: uppercase; font-weight: bold; }
.globalSuccessList a:hover    { color:#55a642; background-color: #bcebbd; text-decoration: none; outline: none; font-weight: bold; }

/* bet block*/
.betCartUnsubmitted           { border: 1px solid #151515; border-bottom: 2px solid #222; background-color: #f6f2de; margin: 0 2px; }

.betCartError                 { border: 4px solid #8b3535; background-color: #FFF; /*background-color: #f3d5d5;*/ margin: 0 2px; }

.betCartSuccess               { border: 4px solid #559037; background-color: #f6f2de; margin: 0 2px; }
.betCartSuccess a:link,
.betCartSuccess a:visited     { color:#1d5900; text-decoration:underline; outline: none; font-weight:bold; }
.betCartSuccess a:hover       { color:#369408; text-decoration:underline; outline: none; font-weight:bold; }

.borderGreen                  { border: 4px solid #559037; border-bottom: 0; margin: 0 2px; }
.successTxtBold               { padding:3px 5px 3px 5px; background-color:#e6fbdc; color:#000; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:bold; text-align: left; }

.betHeader                    { background: url(wagerTypeBar.gif) repeat-x; height: 19px; line-height: 19px; font-size: 9px; background-color: #706e67; border-bottom: 1px solid #151515; }
.betTitle                     { float: left; color:#fff; padding: 0 0 0 7px; text-shadow:0 -1px 0 #000; text-transform: uppercase; }
.betRemove                    { float: right; margin: 2px 5px -2px 0; }

.betWin                       { clear: both; width: 100%; border-top: 1px solid #585858; background-color:#494949; color:#eabc4b; font-weight: normal; font-size: 10px; padding: 3px 0; text-align: center; }

.fieldDimmed                  { border: 1px solid #333; background-color: #F0F0F0; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px; font-weight: normal; width: 52px; color: #333; padding: 0 2px; }

.error                        { border: 2px solid #8b3535; background-color:#f3d5d5; color:#720000; margin: 2px; text-align: left; }
.errorBox                     { list-style-image: url(iconInfoRed.gif); padding: 3px 0 1px 15px; margin: 3px 10px; line-height: 13px; }
.errorBox a                   { color:#720000; }

/* event information */
.ticketEventHeader            { background:url(headerBar2.gif) repeat-x; border: 1px solid #7e5c1a; border-left: 0; border-right: 0; height: 18px; text-shadow:0 -1px 0 #707070; }
.ticketExtendedInfoHeader     { clear: both; background-color:#ccc; color:#333; font-size:11px; font-weight:bold; padding:3px 0 3px 5px; border-top: 1px solid #999; border-bottom: 1px solid #999; text-align: center; }

.ticketHdr1                   { width: 20%; float: left; padding:2px 3px 2px 7px; margin-top: 1px; font-size:11px; color:#fff; text-align:left; border-right: 1px solid #7e5c1a; }
.ticketHdr2                   { width: 32%; float: left; padding:2px 3px 2px 7px; margin-top: 1px; font-size:11px; color:#fff; text-align:left; border-right: 1px solid #7e5c1a; border-left: 1px solid #ac8d37; }
.ticketHdr3                   { width: 23%; float: left; padding:2px 3px 2px 7px; margin-top: 1px; font-size:11px; color:#fff; text-align:left; border-left: 1px solid #ac8d37; }

.ticketCol1                   { width: 20%; float: left; padding:2px 3px 2px 4px; font-size:11px; color:#000; text-align:left; }
.ticketCol2                   { width: 32%; float: left; padding:2px 3px 2px 8px; font-size:11px; color:#000; text-align:left; }
.ticketCol3                   { width: 23%; float: left; padding:2px 3px 2px 7px; font-size:11px; color:#000; text-align:left; }

.ticketDivider                { clear: both; border-bottom: 1px solid #999; }
.ticketBuyPoints              { background-color:#d2caaf; font-weight:bold; padding:3px 0; margin: 4px; border: 1px solid #b8a462; text-align: center; }

/* color banding of events */
.odd                          { clear: both; background-color:#f6f2de; }
.even                         { clear: both; background-color:#e7e3d0; }

/* round robin */
.betTotalsLeftUnbold          { width: 60%; float: left; color:#333; padding: 3px 10px 3px 5px; text-align: right; }
.betTotalsRightUnbold         { font-weight: normal; color:#333; padding: 3px 0px 3px 5px; text-align: left; }

.roundRobinSummary            { clear: both; background-color:#d2caaf; font-weight: bold; padding: 3px 0; margin: 4px; border: 1px solid #b8a462; }

.roundRobinEdit               { background-color: #f6f2de; text-align: right; padding: 0 6px 6px 0; }
.roundRobinEdit a:link,
.roundRobinEdit a:visited     { color:#333; font-size: 9px; text-decoration: none; outline: none; border: 1px solid #b8a462; background-color:#d2caaf; text-align: center; padding: 0 8px; text-transform: uppercase; font-weight:bold; }
.roundRobinEdit a:hover       { color:#b10000; background-color: #e7d59f; text-decoration: none; outline: none; font-weight:bold; }

#rrTable                      { border:1px #888 solid; text-align: right; }
#rrSmlTable                   { border:1px #888 solid; }
.rrHighlight                  { font-family: Arial, Verdana, sans-serif; font-size:12px; font-weight:bold; color:#735d01; padding:0 3px 8px 10px; text-align: left; }
#rrTable a:link,
#rrTable a:visited            { color:#720000; text-decoration:underline; outline: none; font-weight:bold; }
#rrTable a:hover              { color:#b10000; text-decoration:underline; outline: none; font-weight:bold; }
#rrSummary                    { border:1px #888 solid; width:70%; }
.rrbetsContainer              { background-color: #f6f2de; }
.rrbets                       { list-style-type: none; padding: 2px 0 1px 0; text-align: center;}

/* bet summary block */
.betTotalContainer            { border: 1px solid #151515; border-bottom: 2px solid #222; background-color: #f6f2de; margin: 0 2px 5px 2px; }

.betTotalHeader               { background: url(wagerTypeBar.gif) repeat-x; height: 19px; line-height: 19px; font-size: 9px; background-color: #000; border-bottom: 1px solid #151515; }
.totalBet                     { width: 49%; float: left; text-align: center; color:#fff; text-shadow:0 -1px 0 #000; text-transform: uppercase; border-right: 1px solid #656565; }
.totalWin                     { width: 49%; float: left; text-align: center; color:#fff; text-shadow:0 -1px 0 #000; text-transform: uppercase; border-left: 1px solid #1e1e1e; }

.totalBox                     { background-color:#d2caaf; height: 22px; line-height: 22px; font-size: 14px; font-weight: bold; }
.totalAmts                    { width: 49%; float: left; text-align: center; margin-bottom: 10px; }

.ticketspacer                 { height: 5px; }

/* confirm block */ 
.confirm                      { border: 1px solid grey; }
.confirmTitle                 { padding: 8px 25px; text-align: center; color:#333; font-size: 12px; }
.miniBJCallToAction           { text-align: center; }

.printInfo                    { display:none; }

.successGlobalTitle           { color:#000; font-family: Arial, Verdana, sans-serif; font-size:12px; font-weight:bold; text-align: left; }
.successGlobalTxt             { padding:6px 5px; background-color:#ceeac0; color:#1d5900; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; text-align: left; }
.successGlobalIcon            { padding:6px 2px 6px 5px; background-color:#ceeac0; text-align: right; float: left; }
.successGlobalBold            { color:#000; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:bold; text-align: left; }
.border                       { border: 1px #888 solid; }

.loading                      { background-color:#8b3535; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:bold; color: #fff; text-align: center; }

.betInfo                      { font-size: 11px; }

.lineThin                     { background-color:#c9c5b5; height:1px; }
.errorGlobalTitle             { color:#000; font-family: Arial, Verdana, sans-serif; font-size:12px; font-weight:bold; text-align: left; }
.trLine                       { width: 10px; }

.inRunningProcessing          { background-color:#e5e5e5; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; color:#333; text-align: left; }
#throbber00                   { background-color: #8b3535; text-align: center; border: 1px grey solid; }


/* TABS */
#tabPosTicket                 { text-align: left; border-bottom: 2px solid #555; }
#tabPosGame                   { text-align: left; border-bottom: 2px solid #555; }
#ticketButton                 { font-family: Arial, Verdana, sans-serif; width: auto; padding: 0 8px; color:#000; background: url(tabLightOver.gif) 0 -2px repeat-x; background-color:#DDD; border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; border-bottom: 0; font-weight: bold; font-size:11px;}
#gameButton                   { font-family: Arial, Verdana, sans-serif; width: auto; padding: 0 8px; color:#888; background: url(tabDark.gif) 0 -2px repeat-x; background-color:#111; border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; border-bottom: 0; font-weight: bold; font-size:11px;}
#gameButton:hover             { color: #FFF; background: url(tabDarkOver.gif) 0 -2px repeat-x; background-color: #333; cursor: pointer; text-decoration:none;}

#gameButton2                  { font-family: Arial, Verdana, sans-serif; width: auto; padding: 0 8px; color:#000; background: url(tabLightOver.gif) 0 -2px repeat-x; background-color:#DDD; border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; border-bottom: 0; font-weight: bold; font-size:11px;}
#ticketButton2                { font-family: Arial, Verdana, sans-serif; width: auto; padding: 0 8px; color:#888; background: url(tabDark.gif) 0 -2px repeat-x; background-color:#111; border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; border-bottom: 0; font-weight: bold; font-size:11px;}
#ticketButton2:hover          { color: #FFF; background: url(tabDarkOver.gif) 0 -2px repeat-x; background-color: #333; cursor: pointer; text-decoration:none;}

#disabledButton               { font-family: Arial, Verdana, sans-serif; width: auto; padding: 0 8px; color:#454545; background: url(disabledButton.gif) 0 -1px repeat-x; background-color:#2f2f2f; border-top: 1px solid #444; border-left: 1px solid #444; border-right: 1px solid #444; border-bottom: 0; font-weight: bold; font-size: 11px;}

/* bet suggestion */
.ToolTipDetails       	{ cursor: help; background-color:#ffffaf; color:#644923; width:96%; font-size: 11px; text-align: center;}
.NoToolTipDetails     	{background-color:#ffffaf; color:#644923; width:96%; font-size: 11px; text-align: center;}
#dhtmltooltip    	{ position: absolute; left: -300px; width: 350px; border:2px solid #777777; padding: 5px 5px 5px 10px; background-color: #f0f0f0; visibility: hidden; z-index: 100; font-size:11px; color:#333333;}
#dhtmlpointer    	{ position: absolute; left: -300px; z-index: 101;visibility: hidden; }

#suggestiontitle	{ background: transparent url("quicktips.gif") repeat-x; position: relative; color:#e2e2e2; font-weight: bold; font-size: 10px; height: 16px; line-height: 16px; text-align: center; }
#suggestiontitle #close        { background: transparent url("plus_button.gif") no-repeat 0 0; overflow: hidden; position: absolute; right: 10px; top: 4px; width: 9px; height: 9px; text-indent: 20px; outline: none; }
.minmax                        { float: right; padding-right: 5px}
#suggestioncontent ul          { list-style: none; }
#suggestioncontent li          { padding: 10px; }
.controls                      { padding: 20px;}
#suggestioncontent             { background-color:#ffffaf; color:#644923; position: relative; border-top:1px #763838 solid; border-bottom:4px #763838 solid; border-left:4px #763838 solid; border-right:4px #763838 solid; }

/* bet suggestion	
======================================================================================== */	
#carousel-wrapper             { width: 527px; height: 30px; overflow: hidden; background-color: #ffffaf; }
#carousel-content             { width: 2500px; }
#carousel-content .slide      { float: left; width: 520px; height: 30px; line-height: 30px; }
.betNow                       { border: 1px solid green; }
#suggestionMain	              { border: 4px #803500 solid; overflow: none; } 
.controlsa                    { background-color: #ddd; font-size: 15px; text-align: right; padding-right: 4px; border-top: 1px solid #aaa;}
#suggestiontitleNew           { background: transparent url("topBar.gif") repeat-x; position: relative; color:#e2e2e2; font-weight: bold; font-size: 10px; height: 16px; line-height: 16px; text-align: center; }
.hdrrow					{ background-color: #888; color: #fff; }
.hdr1                   { width: 20%; }
.hdr2                   { width: 40%; }
.hdr3                   { width: 20%; }


/* BROWSER SPECIFIC              (---- Use \9 above (for IE8) ----)
====================================================================================================================================*/
/* For Safari 4+ and Chrome 5+ */
@media screen and (-webkit-min-device-pixel-ratio:0){
#accountInfoDiv .username     { float: left; background:url(icon_userName.gif) no-repeat 0 5px; margin-top: 1px; padding-left: 15px; font-size: 9px; color: #c6932f; letter-spacing: 0.05em; text-transform: uppercase; }
#accountInfoDiv .usernameInfo { float: left; margin-top: 1px; padding-left: 5px; font-size: 9px; color: #FFF; letter-spacing: 0.05em; text-transform: uppercase; }

#accountInfoDiv .balance      { float: left; background:url(icon_custBalance.gif) no-repeat 0 5px; margin-top: 1px; padding-left: 15px; font-size: 9px; color: #c6932f; letter-spacing: 0.05em; text-transform: uppercase; }
#accountInfoDiv .balanceInfo  { float: left; margin-top: 1px; padding-left: 5px; font-size: 9px; color: #FFF; letter-spacing: 0.05em; text-transform: uppercase; }

#accountInfoDiv .pending      { float: left; background:url(icon_pendingBalance.gif) no-repeat 0 5px; margin-top: 1px; padding-left: 15px; font-size: 9px; color: #836001; letter-spacing: 0.05em; text-transform: uppercase; }
#accountInfoDiv .pendingInfo  { float: left; margin-top: 1px; padding-left: 5px; font-size: 9px; color: #836001; letter-spacing: 0.05em; text-transform: uppercase; }

#topnav a.wagerTypeMenu span  { float: left; width: auto; height: 18px; line-height: 18px; padding-left: 13px; color: #FFF; text-transform: uppercase; font-size: 9px; text-shadow: 0 -1px 0 #333; letter-spacing: 0.05em; }
#oddsDisplayDropDown
a.oddsDisplayMenu span        { float: left; width: auto; height: 18px; line-height: 18px; padding-left: 13px; color: #FFF; text-transform: uppercase; font-size: 9px; text-shadow: 0 -1px 0 #333; letter-spacing: 0.05em; }

.btn_Gradient                 { float: left; width: auto; height: 16px; line-height: 16px; color:#FFF; padding: 0 7px; background:url(btn_Gradient.gif) repeat-x; text-transform: uppercase; font-size: 9px; text-shadow: 0 -1px 0 #707070; letter-spacing: 0.05em; }
.btn_Gradient:hover           { float: left; width: auto; height: 16px; line-height: 16px; color:#FFF; padding: 0 7px; background:url(btn_Gradient1.gif) repeat-x; text-transform: uppercase; font-size: 9px; text-shadow: 0 -1px 0 #888; letter-spacing: 0.05em; cursor: pointer; }

.keepPicksLabel               { float: left; margin-top: 5px; color:#e5ab37; padding: 0 10px; text-transform: uppercase; font-size: 9px; text-shadow: 0 -1px 0 #333; letter-spacing: 0.05em; }

.calendarIcon                 { text-align: center; padding: 2px 2px 2px 3px; }

.whiteGradient                { float: left; width: 509px; height: 18px; padding: 0; margin: -1px 0 -12px 0; background:url(whiteGradient.gif) repeat-x; }

.dateHeader                   { float: left; width: auto; height: 12px; line-height: 14px; color:#FFF; padding: 1px 12px; margin: 0 0 0 3px; border: 1px solid #7d3c1b; border-bottom: 0; background:url(headerBar2a.gif) repeat-x; text-transform: uppercase; font-size: 9px; text-shadow:0 -1px 0 #707070; letter-spacing: 0.05em; }

.buyPointsSpread              { float: left; width: 81px; padding: 1px 3px; margin: 1px 0 1px 1px; border: 1px solid #b8a462; background-color:#d2caaf; text-align: center; }
.buyPointsOverUnder           { float: left; width: 86px; padding: 1px 3px; margin: 1px 0 1px 1px; border: 1px solid #b8a462; background-color:#d2caaf; text-align: center; }

.countPicksLabel              { float: right; margin-top: 5px; color:#FFF; padding: 0 5px; text-transform: uppercase; font-size: 9px; text-shadow: 0 -1px 0 #333; letter-spacing: 0.05em; }

.descriptionHeader            { float: left; width: 477px; line-height: 14px; padding: 10px; color: #f3f3f3; border: 1px solid #494949; border-top: 1px solid #1a1a1a; border-bottom: 1px solid #6b6b6b; background-color: #302f2f; text-shadow: 0 -1px 0 #111; }

.arrowGIP                     { background: url(arrowOrange.gif) no-repeat 0 2px; padding: 0 0 0 10px; }

	
}
