/* SBK BET CART STYLES start */
@charset "utf-8";
/******************************* GLOBAL *******************************************/
html	{ font-family: Arial, Verdana, sans-serif; font-size: 12px; font-weight: normal; color: #333333;height:100%;}
body	{ margin:0; padding:0; width:auto; height:100%;}
img 	{ border:0;}

/*************************************************************************************/
/*Main Frame*/
#dblackjack 		 { position: absolute; top: 70px; left: 552px; width:237px; border: 0px;}

/* TABS */
#tabPosTicket		 { text-align: left; border-bottom: 2px solid #555; }
#tabPosGame			 { text-align: left; border-bottom: 2px solid #555; }
#ticketButton		 { font-family: Arial, Verdana, sans-serif; width: auto; padding: 0 8px; color:#000; background: url(tabLightOver.gif) 0 -2px repeat-x; background-color:#DDD; border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; border-bottom: 0; font-weight: bold; font-size:11px;}
#gameButton			 { font-family: Arial, Verdana, sans-serif; width: auto; padding: 0 8px; color:#888; background: url(tabDark.gif) 0 -2px repeat-x; background-color:#111; border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; border-bottom: 0; font-weight: bold; font-size:11px;}
#gameButton:hover	 { color: #FFF; background: url(tabDarkOver.gif) 0 -2px repeat-x; background-color: #333; cursor: pointer; text-decoration:none;}
.ticketButton		 { font-family: Arial, Verdana, sans-serif; width: auto; padding: 0 8px; color:#000; background: url(tabLightOver.gif) 0 -2px repeat-x; background-color:#DDD; border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; border-bottom: 0; font-weight: bold; font-size:11px;}
.gameButton			 { font-family: Arial, Verdana, sans-serif; width: auto; padding: 0 8px; color:#888; background: url(tabDark.gif) 0 -2px repeat-x; background-color:#111; border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; border-bottom: 0; font-weight: bold; font-size:11px;}


#gameButton2		 { font-family: Arial, Verdana, sans-serif; width: auto; padding: 0 8px; color:#000; background: url(tabLightOver.gif) 0 -2px repeat-x; background-color:#DDD; border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; border-bottom: 0; font-weight: bold; font-size:11px;}
#ticketButton2		 { font-family: Arial, Verdana, sans-serif; width: auto; padding: 0 8px; color:#888; background: url(tabDark.gif) 0 -2px repeat-x; background-color:#111; border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; border-bottom: 0; font-weight: bold; font-size:11px;}
#ticketButton2:hover { color: #FFF; background: url(tabDarkOver.gif) 0 -2px repeat-x; background-color: #333; cursor: pointer; text-decoration:none;}
.gameButton2		 { font-family: Arial, Verdana, sans-serif; width: auto; padding: 0 8px; color:#000; background: url(tabLightOver.gif) 0 -2px repeat-x; background-color:#DDD; border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; border-bottom: 0; font-weight: bold; font-size:11px;}
.ticketButton2		 { font-family: Arial, Verdana, sans-serif; width: auto; padding: 0 8px; color:#888; background: url(tabDark.gif) 0 -2px repeat-x; background-color:#111; border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; border-bottom: 0; font-weight: bold; font-size:11px;}

#disabledButton      { font-family: Arial, Verdana, sans-serif; width: auto; padding: 0 8px; color:#454545; background: url(disabledButton.gif) 0 -1px repeat-x; background-color:#2f2f2f; border-top: 1px solid #444; border-left: 1px solid #444; border-right: 1px solid #444; border-bottom: 0; font-weight: bold; font-size: 11px;}

#blackjack           { text-align: left; }
#blackjackDiv		 { text-align: left; }
#ticketDiv			 { text-align: left; }	

/***** LOYALTY STATUS *****/
.statusPlatinum   { background:url(iconSmlPlatinum.png) no-repeat 3px 0; height: 28px; }
.statusGold       { background:url(iconSmlGold.png) no-repeat 3px 0; height: 28px; }
.statusSilver     { background:url(iconSmlSilver.png) no-repeat 3px 0; height: 28px; }
.statusBronze     { background:url(iconSmlBronze.png) no-repeat 3px 0; height: 28px; }
.accountInfoName  { background-color:#F0F0F0; color:#333333; font-weight: bold; border-top: 1px solid #d6d6d5; border-left: 1px solid #d6d6d5; font-size: 11px; text-align: right; padding: 0 5px; }