{literal}
    <script language="javascript">
	var username = Check_Cookie(rot13('UTMU'));
	if(username && gup('megamenu')){
	window.location="http://www.usracing.com/sportsbook?line=College Basketball";
	}
	</script>
	{/literal}
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
            

      <h2 class="title">Sports Lines</h2>
  



    <ul class="menu"><li class="expanded first"><a href="/beton/race-of-the-week" title="Bet on Horses">BET ON HORSES</a><ul class="menu"><li class="leaf first"><a href="/beton/race-of-the-week" title="Horse Race of the Week">HORSE RACE OF THE WEEK BETS</a></li>
<li><a href="/beton/kentuckyderby" title="Bet on Kentucky Derby - Run for the Roses at Churchill Downs">BET ON KENTUCKY DERBY</a></li>
<li><a href="/beton/kentuckyderby-futurewager" title="Kentucky Derby Future Wager">KENTUCKY DERBY FUTURE WAGER</a></li>
<li><a href="/beton/preakness-stakes" title="Bet on Preakness Stakes at US Racing">BET ON PREAKNESS STAKES</a></li>
<li><a href="/beton/belmontstakes" title="Bet on Belmont Stakes at US Racing">BET ON BELMONT STAKES</a></li>
<li><a href="/beton/breederscup" title="Bet on Breeders&#039; Cup at US Racing">BET ON BREEDERS CUP</a></li>
<li><a href="/beton/dubaiworldcup" title="Bet on the Dubai World Cup - Richest Horse Race">DUBAI WORLD CUP</a></li>
<li><a href="/beton/matchraces" title="Match Races at US Racing">MATCH RACES</a></li>
<li><a href="/beton/roadtoroses" title="Road to the Kentucky Derby">ROAD TO THE KENTUCKY DERBY</a></li>
<li><a href="/beton/breederscup_challenge" title="Breeders Cup Challenge">BREEDERS CUP CHALLENGE</a></li>
<li><a href="/beton/makememillionaire" title="Make Me A Millionaire Challenge">MAKE ME A MILLIONAIRE</a></li>
</ul></li>
<li class="expanded"><a href="/beton/football" title="Bet on Football">BET ON FOOTBALL</a><ul class="menu"><li class="leaf first"><a href="/beton/nfl" title="Bet on NFL Football">BET ON NFL</a></li>
<li><a href="/beton/college-football" title="Bet on College Football">BET ON COLLEGE</a></li>
</ul></li>
<li class="expanded active-trail"><a href="/beton/baseball" title="Bet Sports">BET SPORTS</a><ul class="menu"><li class="leaf first"><a href="/beton/baseball" title="Bet on Baseball">BASEBALL</a></li>
<li><a href="/beton/basketball" title="Bet on Basketball">BASKETBALL BETTING</a></li>
<li class="leaf active-trail"><a href="/beton/collegebasketball" title="NCAA College Basketball Betting" class="active">NCAA BASKETBALL</a></li>
<li><a href="/beton/hockey" title="Bet on Hockey | NHL Betting Online">BET ON HOCKEY</a></li>
<li><a href="/beton/boxing" title="Bet on HBO and Showtime Boxing">BOXING</a></li>
<li><a href="/beton/mma" title="UFC, MMA bet on Mixed Martial Arts">MIXED MARTIAL ARTS</a></li>
<li><a href="/beton/golf" title="Bet on Golf | Ryder Cup, The Masters, PGA betting">GOLF BETTING</a></li>
<li><a href="/beton/nascar" title="NASCAR Betting Autoracing">NASCAR</a></li>
<li><a href="/beton/soccer" title="Soccer Betting">SOCCER BETTING</a></li>
<li><a href="/beton/tennis" title="Tennis Betting at Wimbledon and Majors">TENNIS</a></li>
</ul></li>
<li class="expanded"><a href="/beton/oscars" title="Bet on Politics, Entertainment and More!">BET MORE</a><ul class="menu"><li class="leaf first"><a href="/beton/oscars" title="Bet on the Academy Awards and Oscars">ACADEMY AWARDS</a></li>
<li><a href="/beton/politics" title="Political Betting">POLITICS</a></li>
<li><a href="/beton/reality-tv" title="Bet on TV and Reality Shows">REALITY SHOWS</a></li>
</ul></li>
<li><a href="/promotions" title="Promotions and Specials">PROMOTIONS AND SPECIALS</a></li>
</ul>  </div>

  

<!-- /block-inner, /block -->



<div id="block-block-81" class="block block-block region-even even region-count-2 count-2">

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div><a href="/virtualderby" title="Virtual Derby 3D"><img src="/themes/images/banner-col-virtualderby.jpg" alt="Play Virtual Derby" width="225" height="223" /></a></div>  </div>

  

</div><!-- /block-inner, /block -->



<div id="block-block-96" class="block block-block region-odd odd region-count-3 count-3">

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div><a href="/casino" title="Inbetween Races? Play Blackjack!"><img src="/themes/images/banner-play-blackjack.jpg" alt="Play Blackjack" width="225" height="223" /></a></div>  </div>

  

</div><!-- /block-inner, /block -->



          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">




    <div><a href="/join"><img src="/themes/images/sports/basketball_bets.jpg" alt="Basketball Bets" width="705" height="118" /></a></div>  </div>

  

<!-- /block-inner, /block -->



                                    
                                      
          
<div class="headline"><h1>NCAA College Basketball Betting</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<link type="text/css" rel="stylesheet" media="all" href="/modules/allhorseracing/tabs/tools.tabs-general.css" />
{literal}<script type="text/javascript" src="/modules/allhorseracing/tabs/tools.tabs-1.0.4.min.js"></script>{/literal}
{literal}<script type="text/javascript" src="/smarty-include/js/swfobject.js"></script>{/literal}



<div id="basic-tabs">
		<ul class="tabs"><!-- the tabs -->
		<li class="first"><a style="padding: 4px 26px;" href="#">BASKETBALL BETTING</a></li>
		<li class=""><a style="padding: 4px 26px;" href="#">ASSOCIATED PRESS TOP 25 RANKINGS</a></li>
		<li class=""><a style="padding: 4px 26px;" href="#">2011 NCAA TOURNAMENT SCHEDULE</a></li>		
		</ul><!-- end tabs -->
</div>
 
<div class="panes">

<!-- ======== NEW TAB CONTENTS - COPY CODE FROM HERE ==================== -->

<div class="basic-tabs-content"><!-- Pane -->



						          
          
<div class="headline"><h1><span class="DarkBlue">Basketball Betting - Bet on Basketball</span></h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<br />
<p>If you love the NBA and NCAA Hoops then get ready for all the action all year round!  US Racing offers its members basketball betting whenever there is a game on TV!  Want to bet the Slam Dunk Contest?  Odds and lines are available for that too!</p><p>"I think the dunk contest is back," said Orlando's Dwight Howard, who was disappointed when he failed to make it out of the first round two years ago. "I don't think people want to see the same old dunks. They want to see something else, see some spice."</p><p>Howard started things off with a dunk he has been practicing for two years. Standing on the baseline, he tossed the ball off the reverse side of the backboard, caught it with both hands, and after peering through the glass at the rim, dunked left-handed.</p><p>The crowd roared and a celebrity panel of judges including Magic Johnson, Karl Malone as well as Dominique Wilkins, Julius Erving and Darryl Dawkins -- three of the game's most famed dunkers -- all gave him perfect 10s.</p><p></p>
					



</div><!-- End Pane1 -->

<!-- ======== TO HERE ============================================================ -->



<!-- ======== NEW TAB CONTENTS - COPY CODE FROM HERE ============================ -->

<div class="basic-tabs-content"><!-- Pane -->


						          
          
<div class="headline"><h1><span class="DarkBlue">Associated Press Top 25 NCAA Basketball Rankings</span></h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<table title="NCAA Associated Press Top 25" border=0 cellpadding=0 cellspacing=0 width=75% style='border-collapse:
 collapse;table-layout:fixed'>
 <p>AP Top 25</p>
<p>
<ol>
<li>Ohio State</li><li>
Kansas</li><li>
Duke</li><li>
Pittsburgh</li><li>
Notre Dame</li><li>
San Diego State</li><li>
North Carolina</li><li>
Texas</li><li>
Conneticut</li><li>
Brigham Young</li><li>
Kentucky </li><li>
Syracuse</li><li>
Purdue</li><li>
Louisville</li><li>
Florida</li><li>
Wisconsin</li><li>
Arizona</li><li>
St. John's</li><li>
Utah State</li><li>
Xavier</li><li>
Kansas State</li><li>
West Virginia</li><li>
Washington</li><li>
Texas A&M</li><li>
Vanderbilt</li>
</ol>

</p>
<p><i>Completed Details March 17th, 2011</i></p>
</table>


		
</div><!-- End Pane4 -->

<!-- ======== TO HERE ============================================================ -->

<!-- ======== NEW TAB CONTENTS - COPY CODE FROM HERE ============================ -->

<div class="basic-tabs-content"><!-- Pane -->



						          
          
<div class="headline"><h1><span class="DarkBlue">2011 NCAA Tournament Schedule</span></h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<br />
<p><table cellspacing="5" cellpadding="0" width="100%" border="0">
<tbody>
	<tr>
		<td width="25%"><p><b>Date</b></p></td>
		<td><p><b>Event</b></p></td>
	</tr>
	<tr>
		<td><p>March 13</p></td>
		<td><p>Selection Sunday</p></td>
	</tr>
	<tr>
		<td><p>March 15 &amp; 16</p></td>
		<td><p>Round 1</p></td>
	</tr>
	<tr>
		<td><p>March 17 &amp; 19</p></td>
		<td><p>Round 2</p></td>
	</tr>
	<tr>
		<td><p>March 24 &amp; 26</p></td>
		<td><p>Sweet Sixteen</p></td>
	</tr>
	<tr>
		<td><p>March 25 &amp; 27</p></td>
		<td><p>Elite Eight</p></td>
	</tr>
	<tr>
		<td><p>April 2</p></td>
		<td><p>Final Four</p></td>
	</tr>
	<tr>
		<td><p>April 4</p></td>
		<td><p>National Championship</p></td>
	</tr>
</tbody>
</table></p>
					


</div><!-- End Pane5 -->		

<!-- ======== TO  HERE ============================ -->



<!-- ======== DO NOT EDIT BELOW HERE ============================================== -->
</div><!-- End Panes -->	

{literal}<script type="text/javascript">
<!--//--><![CDATA[//><!--
    $(function() {
      // setup ul.tabs to work as tabs for each div directly under div.panes
      $("#basic-tabs ul.tabs").tabs("div.panes > div");
    });
//--><!]]>
</script>{/literal}
        
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    