{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
            

      <h2 class="title">Sports Lines</h2>
  



    <ul class="menu"><li class="expanded first active-trail"><a href="/beton/race-of-the-week" title="Bet on Horses">BET ON HORSES</a><ul class="menu"><li class="leaf first"><a href="/beton/race-of-the-week" title="Horse Race of the Week">HORSE RACE OF THE WEEK BETS</a></li>
<li><a href="/beton/kentuckyderby" title="Bet on Kentucky Derby - Run for the Roses at Churchill Downs">BET ON KENTUCKY DERBY</a></li>
<li><a href="/beton/kentuckyderby-futurewager" title="Kentucky Derby Future Wager">KENTUCKY DERBY FUTURE WAGER</a></li>
<li><a href="/beton/preakness-stakes" title="Bet on Preakness Stakes at US Racing">BET ON PREAKNESS STAKES</a></li>
<li><a href="/beton/belmontstakes" title="Bet on Belmont Stakes at US Racing">BET ON BELMONT STAKES</a></li>
<li><a href="/beton/breederscup" title="Bet on Breeders&#039; Cup at US Racing">BET ON BREEDERS CUP</a></li>
<li><a href="/beton/dubaiworldcup" title="Bet on the Dubai World Cup - Richest Horse Race">DUBAI WORLD CUP</a></li>
<li><a href="/beton/matchraces" title="Match Races at US Racing">MATCH RACES</a></li>
<li><a href="/beton/roadtoroses" title="Road to the Kentucky Derby">ROAD TO THE KENTUCKY DERBY</a></li>
<li><a href="/beton/breederscup_challenge" title="Breeders Cup Challenge">BREEDERS CUP CHALLENGE</a></li>
<li class="leaf last active-trail"><a href="/beton/makememillionaire2" title="Make Me A Millionaire Challenge" class="active">MAKE ME A MILLIONAIRE</a></li>
</ul></li>
<li class="expanded"><a href="/beton/football" title="Bet on Football">BET ON FOOTBALL</a><ul class="menu"><li class="leaf first"><a href="/beton/nfl" title="Bet on NFL Football">BET ON NFL</a></li>
<li><a href="/beton/college-football" title="Bet on College Football">BET ON COLLEGE</a></li>
</ul></li>
<li class="expanded"><a href="/beton/baseball" title="Bet Sports">BET SPORTS</a><ul class="menu"><li class="leaf first"><a href="/beton/baseball" title="Bet on Baseball">BASEBALL</a></li>
<li><a href="/beton/basketball" title="Bet on Basketball">BASKETBALL BETTING</a></li>
<li><a href="/beton/collegebasketball" title="NCAA College Basketball Betting">NCAA BASKETBALL</a></li>
<li><a href="/beton/hockey" title="Bet on Hockey | NHL Betting Online">BET ON HOCKEY</a></li>
<li><a href="/beton/boxing" title="Bet on HBO and Showtime Boxing">BOXING</a></li>
<li><a href="/beton/mma" title="UFC, MMA bet on Mixed Martial Arts">MIXED MARTIAL ARTS</a></li>
<li><a href="/beton/golf" title="Bet on Golf | Ryder Cup, The Masters, PGA betting">GOLF BETTING</a></li>
<li><a href="/beton/nascar" title="NASCAR Betting Autoracing">NASCAR</a></li>
<li><a href="/beton/soccer" title="Soccer Betting">SOCCER BETTING</a></li>
<li><a href="/beton/tennis" title="Tennis Betting at Wimbledon and Majors">TENNIS</a></li>
</ul></li>
<li class="expanded"><a href="/beton/oscars" title="Bet on Politics, Entertainment and More!">BET MORE</a><ul class="menu"><li class="leaf first"><a href="/beton/oscars" title="Bet on the Academy Awards and Oscars">ACADEMY AWARDS</a></li>
<li><a href="/beton/politics" title="Political Betting">POLITICS</a></li>
<li><a href="/beton/reality-tv" title="Bet on TV and Reality Shows">REALITY SHOWS</a></li>
</ul></li>
<li><a href="/promotions" title="Promotions and Specials">PROMOTIONS AND SPECIALS</a></li>
</ul>  </div>

  

<!-- /block-inner, /block -->



<div id="block-block-81" class="block block-block region-even even region-count-2 count-2">

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div><a href="/virtualderby" title="Virtual Derby 3D"><img src="/themes/images/banner-col-virtualderby.jpg" alt="Play Virtual Derby" width="225" height="223" /></a></div>  </div>

  

</div><!-- /block-inner, /block -->



<div id="block-block-96" class="block block-block region-odd odd region-count-3 count-3">

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div><a href="/casino" title="Inbetween Races? Play Blackjack!"><img src="/themes/images/banner-play-blackjack.jpg" alt="Play Blackjack" width="225" height="223" /></a></div>  </div>

  

</div><!-- /block-inner, /block -->



          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>Make Me a Millionaire Challenge</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


{literal}<script language="javascript">
			function checkForm()
			{
				if (document.getElementById("_01_CID").value == "")
				{
					alert("Please enter your username.");
					return false;
				}
				if (document.getElementById("_02_EMAIL").value == "")
				{
					alert("Please enter your email.");
					return false;
				}
				return true;
			}
			
			function populateresult(a)
			{
				Http.get({
				url: "fantasyresult.php?week="+a.value,
				callback: gettinggenfile,
				cache: Http.Cache.Get
				});
				return false;
			}
			
			function gettinggenfile(xmlreply)
			{
				var request = xmlreply.responseText;
				document.getElementById("resultdiv").innerHTML=request;
			}

			
			function opencid()
			{
				mywindow=window.open("/popups/cid.html","mywindow","location=0,status=0,scrollbars=0, width=230,height=130");
				mywindow.moveTo(350,450);
			}
		</script>{/literal}
<p>&nbsp;</p>
<div>
<p><span><a title="Join Today for Free!" href="/join"><img style="float: right; margin: 20px 0 30px 30px;" title="Bet on the Belmont Stakes - Make a Million Bucks - Join Today!"  alt="Bet on the Belmont Stakes - Make a Million Bucks - Join Today!" src="/themes/images/specialraces/belmont_stakes_300x250.gif" border="0" /></a></span></p>
</div>
 <p>&nbsp;</p>

<h2><strong>Make Me a Millionaire Challenge</strong></h2></div>
 <p>&nbsp;</p>
<p><strong><span>Three Races – Two Promotions – Over $1 Million in Prizes</font></strong></p>

<p>The Triple Crown Challenge returns to <strong>US Racing</strong> and so does your chance to win $1 Million.</p>

<p>In this one-of-a-kind challenge, you have three chances to win a seven figure payout when you wager on the three biggest horse races of the year at US Racing.</p>

<p><strong><span>$1,000,000.00 Grand Prize</font></strong></p>


<p>The <a href="/belmontstakes-betting">Belmont Stakes</a> on Saturday, June 5th is your third chance to win $1 Million. Correctly predict the finishing order of the Top 12 horses and walk away a millionaire. </p>
 
 <p><strong>$10,000.00 Guaranteed Triple Crown Prize Pool</strong></p>
 <p>When you enter your picks for this race you’ll also be collecting points in our Triple Crown Challenge. You’ll earn 10 points for correctly predicting the winner, nine points for predicting the runner-up, all the way down to 1 point for the 10th Place finisher.&nbsp;
 Your points will be tallied over the three Triple Crown races with the Top 5 finishers taking home a piece of the $10K.<br>
</p>
 
<p><strong><span>$10,000.00 Guaranteed Prize Pool:</span></strong></p>

<p>1st Place - $5,000.00<br />
2nd Place - $2,500.00<br />
3rd Place - $1,500.00<br />
4th Place - $750.00<br />
5th Place - $250.00</p>
<p><strong><span>Point System for the $10,000.00 Guaranteed Prize Pool:</span></strong></p>

<p>1st Place: 10 points<br />
2nd Place: 9 points<br />
3rd Place: 8 points<br />
4th Place: 7 points<br />
5th Place: 6 points<br />
6th Place: 5 points<br />
7th Place: 4 points<br />
8th Place: 3 points<br />
9th Place: 2 points<br />
10th Place: 1 point</p>

<p><br /><strong><span class="DarkBlue">To Qualify for Cash Prizes:</span></strong></p>

<p>1. Enter your Username and Email to register.<br />
2. Select the correct order of the finishing horses of the Belmont Stakes.<br />
3. Place $5.00 worth of wagers on the 2010 <strong>Belmont Stakes</strong> at <strong>US Racing</strong> (Racebook). <br></p>
<p><font color="#FF0000">This Contest is closed Now </font></p>
<p>

	
</p>
<div style="padding: 20px 34px;">  
<p><strong>Terms &amp; Conditions</strong></p>
<p><strong>General</strong></p>

<ol>
<li>This promotion is open to all <strong>US Racing</strong> active members. </li>
<li>To participate, members must register by submitting their correct Username and Email on the promotion page. If you submit the incorrect Username and/or Email, your picks will not be saved and you will not be eligible for any monetary prizing.
</li>
<li>There are no rollover requirements associated with any monetary prizes. </li>
<li><strong>US Racing</strong> reserves the right to change the terms and conditions of this promotion at any time.</li>

<li><strong><a href="/house-rules" style="color: rgb(78, 80, 75); font-weight: bold; text-decoration: underline;" target="_blank">General house rules apply. </a></strong> </li>

           		  </ol>
</div>

<div style="padding: 20px 34px;">  
<p><strong>About the $1,000,000.00 Grand Prize:</strong></p>

<ol>
<li>The $1,000,000.00 Grand Prize will be awarded to the member that correctly predicts the order of the Top 12 finishing horses of the 2010 Belmont Stakes on June 5, 2010. </li>
 <li>In the event that numerous members correctly predict the finishing order of the Top 12 horses, the $1,000,000.00 will be split evenly amongst the winning members.
</li>
<li>In the event that someone wins the $1,000,000.00 on the Belmont Stakes you will still be able to make your picks for the $10,000.00 Guaranteed Prize Pool.
</li>
<li>This promotion begins once shortly after the final list of Belmont Stakes contenders is posted on US Racing. This promotion will close on Saturday June 5th at the post time of the Belmont Stakes. </li>
 <li>To be eligible for the $1,000,000.00 Grand Prize, you must place at least $5.00 of wagers on the 2010 Belmont Stakes at
<strong>US Racing</strong> in the Racebook . </li>
<li>To be eligible for the $1,000,000.00 Grand Prize, you must correctly predict the finishing order of the Top 12 horses for the Belmont Stakes.
</li>
<li>After making your picks, if one or more of the horses you select is scratched, you will NOT be able to re-submit your picks and will not be eligible for the Grand Prize for that specific race.
</li>
<li>If fewer than 10 horses run in the Belmont Stakes, the $1,000,000.00 Grand Prize will NOT be offered.
</li>
<li>The $1,000,000.00 Grand Prize will be paid out monthly in equal sums of $1,666.67 over 50 years and is non-transferable. Winnings will be deposited directly into your
<strong>US Racing</strong> account on the first Monday of every month. </li>
<li>In order to be eligible for the grand prize, member must wager at least $5.00 on the Belmont Stakes. If you make your selections but do not wager at least $5.00 on the race, you will not qualify for the prize.
</li>
           		  </ol>
</div>

<div style="padding: 20px 34px;">  
<p><strong>About the $10,000.00 Guaranteed Prize Pool</strong></p>

<ol>
<li>The $10,000.00 Guaranteed Prize pool will be awarded to the members that accumulate the most points for the three Triple Crown Races: The Kentucky Derby, The Preakness Stakes and The Belmont Stakes.
</li>

<li>This promotion begins after the contenders for the Belmont Stakes are posted on US Racing. This promotion will close on Saturday, Junee 5th at the post time of the Belmont Stakes. </li>

<li>Point breakdown for each of the three races is as follows: 10 points for every correct 1st place, 9 points for every correct 2nd place, 8 points for every correct 3rd place, 7 points for every correct 4th place, 6 points for every correct 5th place, 5 points
 for every correct 6th place, 4 points for every correct 7th place, 3 points for every correct 8th place, 2 points for every correct 9th place and 1 point for every correct 10th place.
</li>

<li>In order to earn the points for The Kentucky Derby, The Preakness Stakes and The Belmont Stakes you must wager at least $5.00 on each race. If you make your selections on one of the races but do not wager at least $5.00 on the given race, you will not earn
 the points for that specific race. </li>

<li>At the end of The Belmont Stakes, the points for all of the qualifying members will be tabulated and the $10,000.00 Guaranteed Prize Pool will be broken down as follows: 1st Place $5,000.00; 2nd Place $2,500.00; 3rd Place $1,500.00; 4th Place $750.00; 5th
 Place $250.00. </li>

<li>In case of a tie, the members will split the prize associated with their placing in addition to the next prize. For example, if two members tied for 1st Place, they would split the 1st and 2nd Place prizes and be awarded $3,750.00 each. The qualifying member
 that accumulates the next highest point total will win the 3rd Place prize. </li>

<li>Winnings associated with the $10,000.00 Guaranteed Prize Pool will be deposited into the member’s
<strong>US Racing</strong> account on the June 7th 2010. </li>

<li>If fewer than 10 horses race in any of the three Triple Crown races, points will only be awarded for the number of horses that race. For example, if only nine horses race in The Belmont Stakes, 9 points will be awarded for 1st Place down to 1 point for
 9th Place. </li>

<li>After making your picks, if one or more of the horses you select is scratched, you will NOT be able to re-submit your picks.
</li>
           		  </ol>
</div>
<p>&nbsp;</p>
              
            
            
                      
        
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    