{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
            

      <h2 class="title">Sports Lines</h2>
  



    <ul class="menu"><li class="expanded first"><a href="/beton/race-of-the-week" title="Bet on Horses">BET ON HORSES</a><ul class="menu"><li class="leaf first"><a href="/beton/race-of-the-week" title="Horse Race of the Week">HORSE RACE OF THE WEEK BETS</a></li>
<li><a href="/beton/kentuckyderby" title="Bet on Kentucky Derby - Run for the Roses at Churchill Downs">BET ON KENTUCKY DERBY</a></li>
<li><a href="/beton/kentuckyderby-futurewager" title="Kentucky Derby Future Wager">KENTUCKY DERBY FUTURE WAGER</a></li>
<li><a href="/beton/preakness-stakes" title="Bet on Preakness Stakes at US Racing">BET ON PREAKNESS STAKES</a></li>
<li><a href="/beton/belmontstakes" title="Bet on Belmont Stakes at US Racing">BET ON BELMONT STAKES</a></li>
<li><a href="/beton/breederscup" title="Bet on Breeders&#039; Cup at US Racing">BET ON BREEDERS CUP</a></li>
<li><a href="/beton/dubaiworldcup" title="Bet on the Dubai World Cup - Richest Horse Race">DUBAI WORLD CUP</a></li>
<li><a href="/beton/matchraces" title="Match Races at US Racing">MATCH RACES</a></li>
<li><a href="/beton/roadtoroses" title="Road to the Kentucky Derby">ROAD TO THE KENTUCKY DERBY</a></li>
<li><a href="/beton/breederscup_challenge" title="Breeders Cup Challenge">BREEDERS CUP CHALLENGE</a></li>
<li><a href="/beton/makememillionaire" title="Make Me A Millionaire Challenge">MAKE ME A MILLIONAIRE</a></li>
</ul></li>
<li class="expanded"><a href="/beton/football" title="Bet on Football">BET ON FOOTBALL</a><ul class="menu"><li class="leaf first"><a href="/beton/nfl" title="Bet on NFL Football">BET ON NFL</a></li>
<li><a href="/beton/college-football" title="Bet on College Football">BET ON COLLEGE</a></li>
</ul></li>
<li class="expanded"><a href="/beton/baseball" title="Bet Sports">BET SPORTS</a><ul class="menu"><li class="leaf first"><a href="/beton/baseball" title="Bet on Baseball">BASEBALL</a></li>
<li><a href="/beton/basketball" title="Bet on Basketball">BASKETBALL BETTING</a></li>
<li><a href="/beton/collegebasketball" title="NCAA College Basketball Betting">NCAA BASKETBALL</a></li>
<li><a href="/beton/hockey" title="Bet on Hockey | NHL Betting Online">BET ON HOCKEY</a></li>
<li><a href="/beton/boxing" title="Bet on HBO and Showtime Boxing">BOXING</a></li>
<li><a href="/beton/mma" title="UFC, MMA bet on Mixed Martial Arts">MIXED MARTIAL ARTS</a></li>
<li><a href="/beton/golf" title="Bet on Golf | Ryder Cup, The Masters, PGA betting">GOLF BETTING</a></li>
<li><a href="/beton/nascar" title="NASCAR Betting Autoracing">NASCAR</a></li>
<li><a href="/beton/soccer" title="Soccer Betting">SOCCER BETTING</a></li>
<li><a href="/beton/tennis" title="Tennis Betting at Wimbledon and Majors">TENNIS</a></li>
</ul></li>
<li class="expanded"><a href="/beton/oscars" title="Bet on Politics, Entertainment and More!">BET MORE</a><ul class="menu"><li class="leaf first"><a href="/beton/oscars" title="Bet on the Academy Awards and Oscars">ACADEMY AWARDS</a></li>
<li><a href="/beton/politics" title="Political Betting">POLITICS</a></li>
<li><a href="/beton/reality-tv" title="Bet on TV and Reality Shows">REALITY SHOWS</a></li>
</ul></li>
<li><a href="/promotions" title="Promotions and Specials">PROMOTIONS AND SPECIALS</a></li>
</ul>  </div>

  

<!-- /block-inner, /block -->



<div id="block-block-81" class="block block-block region-even even region-count-2 count-2">

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div><a href="/virtualderby" title="Virtual Derby 3D"><img src="/themes/images/banner-col-virtualderby.jpg" alt="Play Virtual Derby" width="225" height="223" /></a></div>  </div>

  

</div><!-- /block-inner, /block -->



<div id="block-block-96" class="block block-block region-odd odd region-count-3 count-3">

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div><a href="/casino" title="Inbetween Races? Play Blackjack!"><img src="/themes/images/banner-play-blackjack.jpg" alt="Play Blackjack" width="225" height="223" /></a></div>  </div>

  

</div><!-- /block-inner, /block -->



          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>NCAA BCS Challenge</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<br>

{literal}<script type="text/javascript">
			function checkForm()
			{
				if (document.getElementById("_01_CID").value == "")
				{
					alert("Please enter your username.");
					return false;
				}
				if (document.getElementById("_02_EMAIL").value == "")
				{
					alert("Please enter your email.");
					return false;
				}
				return true;
			}
			
			function opencid()
			{
				mywindow=window.open("/popups/cid.html","mywindow","location=0,status=0,scrollbars=0, width=230,height=130");
				mywindow.moveTo(350,450);
			}
		</script>{/literal}

		<form action="http://tools.outgard.net/php/promoFiles/writeforminfonewformat.php" method="post" name="MPBCSbowls2009" id="MPBCSbowls2009" onsubmit="return checkForm();">
					<input type="hidden" value="http://www.usracing.com/beton/thankyou-NCAA" name="redirect" />
					<input type="hidden" value="MPBCSbowls2009" name="fname" />
					<input type="hidden" value="," name="fdelimiter" />
					<input type="hidden" value="usracing.com" name="site" />
					<input type="hidden" value="MPBCSbowls2009" name="contestid" />
							<input type="hidden" name="contestlink" value="http://www.usracing.com/beton/NCAA-BCS-Challenge"> 
	<input type="hidden" name="from" value="vip@usracing.com" /> 
	
<h2>Registration Form</h2>
<div>                 <table id="infoEntries">
	
	<tbody>
			
<tr>
  <td>&nbsp;</td>
  <td> *Enter your CID: </td>
  <td><input name="_01_CID" type="text" id="_01_CID" value="" maxlength="15"/>&nbsp;&nbsp;<a href="javascript:opencid()">Forgot CID</a></td>
</tr>
<tr class="odd">
  <td width="6%">&nbsp;</td>
  <td width="47%">*Enter your Email:<br /></td>
  <td width="47%"><input name="_02_EMAIL" id="_02_EMAIL" type="text" value="" /></td>
</tr>
<tr>
  <td colspan="3"><div align="center"><strong>Make your Picks</strong></div></td>
</tr>
<tr class="odd">
  <td>1.</td>
  <td><strong>BCS National Championship Game</strong> </td>
  <td width="47%">
    <input name="_03_BCS" type="radio" id="_03_BCS" value="Texas" checked="checked" /> Texas (+5.5)<br />
    <input type="radio" name="_03_BCS" id="_03_BCS" value="Alabama" /> Alabama (-5.5)
    </td>
</tr>
<tr>
  <td width="6%" >2.</td>
  <td width="47%" ><strong>Orange Bowl:</strong></td>
  <td>
    <input name="_04_Orange" type="radio" id="_04_Orange" value="Iowa" checked="checked" /> Iowa (+4)<br />
    <input type="radio" name="_04_Orange" id="_04_Orange" value="Georgia Tech" /> Georgia Tech (-4)
    </td>
</tr>
<tr class="odd">
  <td>3.</td>
  <td><strong>Fiesta Bowl</strong></td>
  <td width="47%">
    <input name="_05_Fiesta" type="radio" id="_05_Fiesta" value="Boise State" checked="checked" /> Boise State (+7)<br />
    <input type="radio" name="_05_Fiesta" id="_05_Fiesta" value="TCU" /> TCU (-7)
    </td>
</tr>
<tr>
  <td width="6%">4.</td>
  <td width="47%"><strong>Sugar Bowl</strong></td>
  <td>
    <input name="_06_Sugar" type="radio" id="_06_Sugar" value="Florida" checked="checked" /> Florida (-10)<br />
    <input type="radio" name="_06_Sugar" id="_06_Sugar" value="Cincinnati" /> Cincinnati (+10)
    </td>
</tr>
<tr class="odd">
  <td width="6%">5.</td>
  <td width="47%"><strong>Rose Bowl</strong></td>
  <td>
    <input name="_07_Rose" type="radio" id="_07_Rose" value="Ohio State" checked="checked" /> Ohio State (+3)<br />
    <input type="radio" name="_07_Rose" id="_07_Rose" value="Oregon" /> Oregon (-3)
    </td>
</tr>
<tr>
  <td>6.</td>
  <td><strong>BCS National Championship Game<br />
    Texas v. Alabama </strong></td>
  <td width="47%">
	<input name="_08_BCS" type="radio" id="_08_BCS" value="Over" checked="checked" /> 
	Over (45)<br />
	<input type="radio" name="_08_BCS" id="_08_BCS" value="Under" /> 
	Under (45)
  </td>
</tr>

<tr class="odd">
  <td width="6%" >7.</td>
  <td width="47%" ><strong>Orange Bowl<br />
  Iowa v. Georgia Tech
  </strong></td>
  <td>
    <input name="_09_Orange" type="radio" id="_09_Orange" value="Over" checked="checked" /> 
    Over (51)<br />
    <input type="radio" name="_09_Orange" id="_09_Orange" value="Under" /> 
    Uder (51)
    </td>
</tr>
<tr>
  <td>8.</td>
  <td><strong>Fiesta Bowl<br />
    Boise</strong><strong> State</strong><strong> v. TCU</strong><strong>    </strong></td>
  <td width="47%">
    <input name="_10_Fiesta" type="radio" id="_10_Fiesta" value="Over" checked="checked" /> 
    Over (55)<br />
    <input type="radio" name="_10_Fiesta" id="_10_Fiesta" value="Under" /> 
    Under (55)
    </td>
</tr>
<tr class="odd">
  <td width="6%">9.</td>
  <td width="47%"><strong>Sugar Bowl<br />
    Florida</strong><strong> v. Cincinnati</strong><strong>    </strong></td>
  <td>
    <input name="_11_Sugar" type="radio" id="_11_Sugar" value="Over" checked="checked" /> 
    Over (57)<br />
    <input type="radio" name="_11_Sugar" id="_11_Sugar" value="Under" /> 
    Under (57)
    </td>
</tr>
<tr>
  <td width="6%">10.</td>
  <td width="47%"><strong>Rose Bowl<br />
    Ohio</strong><strong> State  v. Oregon</strong><strong>    </strong></td>
  <td>
    <input name="_12_Rose" type="radio" id="_12_Rose" value="Over" checked="checked" /> 
    Over (51.5)<br />
    <input type="radio" name="_12_Rose" id="_12_Rose" value="Under" /> 
    Under (51.5)
    </td>
</tr>
<tr class="odd">
  <td height="20" colspan="3"><div align="center">    
    <input type="submit" name="button" id="button" value="Submit" />
    </div></td>
</tr> </tbody>
                    </table>		
						  </div>			 
					<br />
			  </form>
 <div style="padding: 0 34px;">             
             <p>&nbsp;</p>
<p><strong>Terms &amp; Conditions</strong></p>
<ol>
  <li>Registration is required for  this promotion. Please enter your correct CID and E-mail on the Promo Page  in order to place your picks. If you do not enter the correct information, your  picks will not be properly saved and you will not be eligible for any prizing  associated with this promotion.</li>
  <li> The $5,000.00 BCS Challenge  is a College Football contest for the five BCS Bowl games. The winner will be  determined by whoever correctly predicts all five spreads and all five  ‘totals’.</li>
  <li> This contest will open on  December 18, 2009 and close on January 1, 2010 at 4:50 PM ET.</li>
  <li> All entries submitted after  kickoff of the first BCS Bowl game, the Rose Bowl, will be considered void and  will not be eligible for any of the points or prizes.</li>
  <li> In order to win the  $5,000.00 Prize, you must select the correct side on the point spread and  ‘total’ for each of the five BCS Bowl games on the ‘Make your Picks’ page.</li>
  <li> A push will be graded as a  loss.</li>
  <li> In order to be eligible for  any prizing, you must wager at least $50.00 on the Bowl games schedule from  January 1, 2010 – January 7, 2010.</li>
  <li> If there are numerous  qualifying winners, the $5,000.00 will be evenly split amongst the winners.</li>
  <li> The $5,000.00 will be deposited into the winning  contestants account within 48 hours after the completion of the Citi National  Championship Game on January 7, 2010. </li>
  <li> Only one entry per person,  per household is allowed.</li>
  <li> Once your picks have been  entered, they can not be changed.</li>
  <li> Prizes are not  transferable.</li>
  <li> This contest is void in  those territories where prohibited by law or any other applicable regulation.</li>
  <li> US Racing reserves the  right to modify any contest or promotion rules or cancel promotions at its own  discretion.</li>
  <li> <a href="/house-rules" style="color: rgb(78, 80, 75); font-weight: bold; text-decoration: underline;" target="_blank">General house rules apply. </a></li>
</ol>

<br>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    