{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
            

      <h2 class="title">Sports Lines</h2>
  



    <ul class="menu"><li class="expanded first"><a href="/beton/race-of-the-week" title="Bet on Horses">BET ON HORSES</a><ul class="menu"><li class="leaf first"><a href="/beton/race-of-the-week" title="Horse Race of the Week">HORSE RACE OF THE WEEK BETS</a></li>
<li><a href="/beton/kentuckyderby" title="Bet on Kentucky Derby - Run for the Roses at Churchill Downs">BET ON KENTUCKY DERBY</a></li>
<li><a href="/beton/kentuckyderby-futurewager" title="Kentucky Derby Future Wager">KENTUCKY DERBY FUTURE WAGER</a></li>
<li><a href="/beton/preakness-stakes" title="Bet on Preakness Stakes at US Racing">BET ON PREAKNESS STAKES</a></li>
<li><a href="/beton/belmontstakes" title="Bet on Belmont Stakes at US Racing">BET ON BELMONT STAKES</a></li>
<li><a href="/beton/breederscup" title="Bet on Breeders&#039; Cup at US Racing">BET ON BREEDERS CUP</a></li>
<li><a href="/beton/dubaiworldcup" title="Bet on the Dubai World Cup - Richest Horse Race">DUBAI WORLD CUP</a></li>
<li><a href="/beton/matchraces" title="Match Races at US Racing">MATCH RACES</a></li>
<li><a href="/beton/roadtoroses" title="Road to the Kentucky Derby">ROAD TO THE KENTUCKY DERBY</a></li>
<li><a href="/beton/breederscup_challenge" title="Breeders Cup Challenge">BREEDERS CUP CHALLENGE</a></li>
<li><a href="/beton/makememillionaire" title="Make Me A Millionaire Challenge">MAKE ME A MILLIONAIRE</a></li>
</ul></li>
<li class="expanded"><a href="/beton/football" title="Bet on Football">BET ON FOOTBALL</a><ul class="menu"><li class="leaf first"><a href="/beton/nfl" title="Bet on NFL Football">BET ON NFL</a></li>
<li><a href="/beton/college-football" title="Bet on College Football">BET ON COLLEGE</a></li>
</ul></li>
<li class="expanded"><a href="/beton/baseball" title="Bet Sports">BET SPORTS</a><ul class="menu"><li class="leaf first"><a href="/beton/baseball" title="Bet on Baseball">BASEBALL</a></li>
<li><a href="/beton/basketball" title="Bet on Basketball">BASKETBALL BETTING</a></li>
<li><a href="/beton/collegebasketball" title="NCAA College Basketball Betting">NCAA BASKETBALL</a></li>
<li><a href="/beton/hockey" title="Bet on Hockey | NHL Betting Online">BET ON HOCKEY</a></li>
<li><a href="/beton/boxing" title="Bet on HBO and Showtime Boxing">BOXING</a></li>
<li><a href="/beton/mma" title="UFC, MMA bet on Mixed Martial Arts">MIXED MARTIAL ARTS</a></li>
<li><a href="/beton/golf" title="Bet on Golf | Ryder Cup, The Masters, PGA betting">GOLF BETTING</a></li>
<li><a href="/beton/nascar" title="NASCAR Betting Autoracing">NASCAR</a></li>
<li><a href="/beton/soccer" title="Soccer Betting">SOCCER BETTING</a></li>
<li><a href="/beton/tennis" title="Tennis Betting at Wimbledon and Majors">TENNIS</a></li>
</ul></li>
<li class="expanded"><a href="/beton/oscars" title="Bet on Politics, Entertainment and More!">BET MORE</a><ul class="menu"><li class="leaf first"><a href="/beton/oscars" title="Bet on the Academy Awards and Oscars">ACADEMY AWARDS</a></li>
<li><a href="/beton/politics" title="Political Betting">POLITICS</a></li>
<li><a href="/beton/reality-tv" title="Bet on TV and Reality Shows">REALITY SHOWS</a></li>
</ul></li>
<li><a href="/promotions" title="Promotions and Specials">PROMOTIONS AND SPECIALS</a></li>
</ul>  </div>

  

<!-- /block-inner, /block -->



<div id="block-block-81" class="block block-block region-even even region-count-2 count-2">

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div><a href="/virtualderby" title="Virtual Derby 3D"><img src="/themes/images/banner-col-virtualderby.jpg" alt="Play Virtual Derby" width="225" height="223" /></a></div>  </div>

  

</div><!-- /block-inner, /block -->



<div id="block-block-96" class="block block-block region-odd odd region-count-3 count-3">

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div><a href="/casino" title="Inbetween Races? Play Blackjack!"><img src="/themes/images/banner-play-blackjack.jpg" alt="Play Blackjack" width="225" height="223" /></a></div>  </div>

  

</div><!-- /block-inner, /block -->



          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>NFL Mini Mock Draft</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<p><strong>$2,500.00 Up for Grabs</strong></p>
<p>Craving some NFL in April? US Racing has the answer.</p>
              <p>Prove you&rsquo;re the ultimate General Manager by making the  first 10 picks in our NFL Mini-Mock Draft and we&rsquo;ll give you $250.00 for every  correct selection if you have the most correct picks on Draft Day.</p>
              <p><br />
               
                <strong>Simply follow these steps to qualify:</strong></p>
              <ol>
                <li>Register your  Username and E-mail below.</li>
                <li> Make your selections  below, picks 1-10.</li>
                <li> Wager at least $20.00 on any of our 2010 NFL  Draft props.              </li>

              </ol>

{literal}<script language="javascript">
			function checkForm()
			{
				if (document.getElementById("_01_CID").value == "")
				{
					alert("Please enter your username.");
					return false;
				}
				if (document.getElementById("_02_EMAIL").value == "")
				{
					alert("Please enter your email.");
					return false;
				}
				return true;
			}
			
			function opencid()
			{
				mywindow=window.open("/popups/cid.html","mywindow","location=0,status=0,scrollbars=0, width=230,height=130");
				mywindow.moveTo(350,450);
			}
		</script>{/literal}
			                <form action="http://tools.outgard.net/php/promoFiles/writeforminfonewformat.php" method="post" name="2010NflMiniMockDraft" id="2010NflMiniMockDraft" onsubmit="return checkForm();">
                <input type="hidden" value="http://www.usracing.com/beton/NFL-MiniMockDraft-thanks" name="redirect" />
                <input type="hidden" value="2010NflMiniMockDraft" name="fname" />
                <input type="hidden" value="," name="fdelimiter" />
                <input type="hidden" value="usracing.com" name="site" />
                <input type="hidden" value="2010NflMiniMockDraft" name="contestid" />                
						<input type="hidden" name="sendemail" value="1" />

				<input type="hidden" name="subject" value="Check your registration for the NFL MINI-MOCK DRAFT Promotion" />
				<input type="hidden" name="contest" value="Check your registration for the NFL MINI-MOCK DRAFT Promotion" />
				<input type="hidden" name="contestlink" value="http://www.usracing.com/beton/NFL-MiniMockDraft" />
						<input type="hidden" name="from" value="support@usracing.com" />
						<input type="hidden" name="emailFile" value="2010NflMiniMockDraft" />
							
<h2>Register for This  Promotion</h2>
<div>                      
	<table id="infoEntries"> 	
				<tbody>
        			<tr class="odd">
                    <td width="33%"   style="vertical-align:top;">* Enter your Email:<br />
                    <td width="67%"   style="vertical-align:top;"><input name="_02_EMAIL" id="_02_EMAIL" type="text" value="" /></td>
                  </tr>
                  <tr >
                    <td   style="vertical-align:top;"> * CID: </td>
                    <td   style="vertical-align:top;"><input name="_01_CID" type="text" id="_01_CID" value="" maxlength="15"/> <a href="javascript:opencid()" >Forgot CID?</a></td>

                  </tr>
                  <tr >
                    <th  style="vertical-align:top;"><strong>Draft Order</strong></th>
                    <th   style="vertical-align:top;"><strong>Select Your Players</strong></th>
                  </tr>
					<tr>
										<td  style="vertical-align:top;">1st pick:</td>
										<td width="67%"  style="vertical-align:top;">

                                        <select name="_03_1Pick" id="_03_1Pick">
                      <option value="Sam Bradford, QB Oklahoma" selected="selected">Sam Bradford, QB Oklahoma</option>
                      <option value="Jimmy Clausen, QB Notre Dame">Jimmy Clausen, QB Notre Dame</option>
                      <option value="Colt McCoy, QB Texas">Colt McCoy, QB Texas</option>
                      <option value="Tony Pike, QB Cincinnati">Tony Pike, QB Cincinnati</option>
                      <option value="Tim Tebow, QB Florida">Tim Tebow, QB Florida</option>

                      <option value="C.J. Spiller, RB Clemson">C.J. Spiller, RB Clemson</option>
                      <option value="Ryan Matthews, RB Fresno St">Ryan Matthews, RB Fresno St</option>
                      <option value="Jahvid Best, RB Cal">Jahvid Best, RB Cal</option>
                      <option value="Dez Bryant, WR Oklahoma St">Dez Bryant, WR Oklahoma St</option>
                      <option value="Demaryius Thomas, WR Georgia Tech">Demaryius Thomas, WR Georgia Tech</option>
                      <option value="Jermaine Gresham, TE Oklahoma">Jermaine Gresham, TE Oklahoma</option>

                      <option value="Russell Okung, OL Oklahoma St">Russell Okung, OL Oklahoma St</option>
                      <option value="Bryan Bulaga, OL Iowa">Bryan Bulaga, OL Iowa</option>
                      <option value="Trent Williams, OL Oklahoma">Trent Williams, OL Oklahoma</option>
                      <option value="Anthony Davis, OL Rutgers">Anthony Davis, OL Rutgers</option>
                      <option value="Bruce Campbell, OL Maryland">Bruce Campbell, OL Maryland</option>
                      <option value="Charles Brown, OL USC">Charles Brown, OL USC</option>

                      <option value="Matt Iupati, OL Idaho">Matt Iupati, OL Idaho</option>
                      <option value="Maurkice Pouncy, OL Florida">Maurkice Pouncy, OL Florida</option>
                      <option value="Gerald McCoy, DL Oklahoma">Gerald McCoy, DL Oklahoma</option>
                      <option value="Ndamukong Suh, DL Nebraska">Ndamukong Suh, DL Nebraska</option>
                      <option value="Dan Williams, DL Tennessee">Dan Williams, DL Tennessee</option>
                      <option value="Derrick Morgan, DL Georgia Tech">Derrick Morgan, DL Georgia Tech</option>

                      <option value="Everson Griffen, DL USC">Everson Griffen, DL USC</option>
                      <option value="Jason Pierre-Paul, DL South Florida">Jason Pierre-Paul, DL South Florida</option>
                      <option value="Rolando McClain, LB Alabama">Rolando McClain, LB Alabama</option>
                      <option value="Brandon Graham, LB Michigan">Brandon Graham, LB Michigan</option>
                      <option value="Sergio Kindle, LB Texas">Sergio Kindle, LB Texas</option>
                      <option value="Sean Weatherspoon. LB Missouri">Sean Weatherspoon. LB Missouri</option>

                      <option value="Joe Haden, CB Florida">Joe Haden, CB Florida</option>
                      <option value="Kyle Wilson, CB Boise St">Kyle Wilson, CB Boise St</option>
                      <option value="Kareem Jackson, CB Alabama">Kareem Jackson, CB Alabama</option>
                      <option value="Eric Berry, S Tennessee">Eric Berry, S Tennessee</option>
                      <option value="Earl Thomas, S Texas">Earl Thomas, S Texas</option>
                      <option value="Taylor Mays, S USC">Taylor Mays, S USC</option>

											</select></td>
									</tr>
<tr class="odd">
										<td  style="vertical-align:top;">2nd pick:</td>
										<td width="67%"  style="vertical-align:top;">
                                        <select name="_04_2Pick" id="_04_2Pick">
                      <option value="Sam Bradford, QB Oklahoma" selected="selected">Sam Bradford, QB Oklahoma</option>
                      <option value="Jimmy Clausen, QB Notre Dame">Jimmy Clausen, QB Notre Dame</option>

                      <option value="Colt McCoy, QB Texas">Colt McCoy, QB Texas</option>
                      <option value="Tony Pike, QB Cincinnati">Tony Pike, QB Cincinnati</option>
                      <option value="Tim Tebow, QB Florida">Tim Tebow, QB Florida</option>
                      <option value="C.J. Spiller, RB Clemson">C.J. Spiller, RB Clemson</option>
                      <option value="Ryan Matthews, RB Fresno St">Ryan Matthews, RB Fresno St</option>
                      <option value="Jahvid Best, RB Cal">Jahvid Best, RB Cal</option>

                      <option value="Dez Bryant, WR Oklahoma St">Dez Bryant, WR Oklahoma St</option>
                      <option value="Demaryius Thomas, WR Georgia Tech">Demaryius Thomas, WR Georgia Tech</option>
                      <option value="Jermaine Gresham, TE Oklahoma">Jermaine Gresham, TE Oklahoma</option>
                      <option value="Russell Okung, OL Oklahoma St">Russell Okung, OL Oklahoma St</option>
                      <option value="Bryan Bulaga, OL Iowa">Bryan Bulaga, OL Iowa</option>
                      <option value="Trent Williams, OL Oklahoma">Trent Williams, OL Oklahoma</option>

                      <option value="Anthony Davis, OL Rutgers">Anthony Davis, OL Rutgers</option>
                      <option value="Bruce Campbell, OL Maryland">Bruce Campbell, OL Maryland</option>
                      <option value="Charles Brown, OL USC">Charles Brown, OL USC</option>
                      <option value="Matt Iupati, OL Idaho">Matt Iupati, OL Idaho</option>
                      <option value="Maurkice Pouncy, OL Florida">Maurkice Pouncy, OL Florida</option>
                      <option value="Gerald McCoy, DL Oklahoma">Gerald McCoy, DL Oklahoma</option>

                      <option value="Ndamukong Suh, DL Nebraska">Ndamukong Suh, DL Nebraska</option>
                      <option value="Dan Williams, DL Tennessee">Dan Williams, DL Tennessee</option>
                      <option value="Derrick Morgan, DL Georgia Tech">Derrick Morgan, DL Georgia Tech</option>
                      <option value="Everson Griffen, DL USC">Everson Griffen, DL USC</option>
                      <option value="Jason Pierre-Paul, DL South Florida">Jason Pierre-Paul, DL South Florida</option>
                      <option value="Rolando McClain, LB Alabama">Rolando McClain, LB Alabama</option>

                      <option value="Brandon Graham, LB Michigan">Brandon Graham, LB Michigan</option>
                      <option value="Sergio Kindle, LB Texas">Sergio Kindle, LB Texas</option>
                      <option value="Sean Weatherspoon. LB Missouri">Sean Weatherspoon. LB Missouri</option>
                      <option value="Joe Haden, CB Florida">Joe Haden, CB Florida</option>
                      <option value="Kyle Wilson, CB Boise St">Kyle Wilson, CB Boise St</option>
                      <option value="Kareem Jackson, CB Alabama">Kareem Jackson, CB Alabama</option>

                      <option value="Eric Berry, S Tennessee">Eric Berry, S Tennessee</option>
                      <option value="Earl Thomas, S Texas">Earl Thomas, S Texas</option>
                      <option value="Taylor Mays, S USC">Taylor Mays, S USC</option>
										  </select></td>
				  </tr> 
<tr >
										<td  style="vertical-align:top;">3rd  pick:</td>

										<td width="67%"  style="vertical-align:top;">
                                        <select name="_05_3Pick" id="_05_3Pick">
                      <option value="Sam Bradford, QB Oklahoma" selected="selected">Sam Bradford, QB Oklahoma</option>
                      <option value="Jimmy Clausen, QB Notre Dame">Jimmy Clausen, QB Notre Dame</option>
                      <option value="Colt McCoy, QB Texas">Colt McCoy, QB Texas</option>
                      <option value="Tony Pike, QB Cincinnati">Tony Pike, QB Cincinnati</option>
                      <option value="Tim Tebow, QB Florida">Tim Tebow, QB Florida</option>

                      <option value="C.J. Spiller, RB Clemson">C.J. Spiller, RB Clemson</option>
                      <option value="Ryan Matthews, RB Fresno St">Ryan Matthews, RB Fresno St</option>
                      <option value="Jahvid Best, RB Cal">Jahvid Best, RB Cal</option>
                      <option value="Dez Bryant, WR Oklahoma St">Dez Bryant, WR Oklahoma St</option>
                      <option value="Demaryius Thomas, WR Georgia Tech">Demaryius Thomas, WR Georgia Tech</option>
                      <option value="Jermaine Gresham, TE Oklahoma">Jermaine Gresham, TE Oklahoma</option>

                      <option value="Russell Okung, OL Oklahoma St">Russell Okung, OL Oklahoma St</option>
                      <option value="Bryan Bulaga, OL Iowa">Bryan Bulaga, OL Iowa</option>
                      <option value="Trent Williams, OL Oklahoma">Trent Williams, OL Oklahoma</option>
                      <option value="Anthony Davis, OL Rutgers">Anthony Davis, OL Rutgers</option>
                      <option value="Bruce Campbell, OL Maryland">Bruce Campbell, OL Maryland</option>
                      <option value="Charles Brown, OL USC">Charles Brown, OL USC</option>

                      <option value="Matt Iupati, OL Idaho">Matt Iupati, OL Idaho</option>
                      <option value="Maurkice Pouncy, OL Florida">Maurkice Pouncy, OL Florida</option>
                      <option value="Gerald McCoy, DL Oklahoma">Gerald McCoy, DL Oklahoma</option>
                      <option value="Ndamukong Suh, DL Nebraska">Ndamukong Suh, DL Nebraska</option>
                      <option value="Dan Williams, DL Tennessee">Dan Williams, DL Tennessee</option>
                      <option value="Derrick Morgan, DL Georgia Tech">Derrick Morgan, DL Georgia Tech</option>

                      <option value="Everson Griffen, DL USC">Everson Griffen, DL USC</option>
                      <option value="Jason Pierre-Paul, DL South Florida">Jason Pierre-Paul, DL South Florida</option>
                      <option value="Rolando McClain, LB Alabama">Rolando McClain, LB Alabama</option>
                      <option value="Brandon Graham, LB Michigan">Brandon Graham, LB Michigan</option>
                      <option value="Sergio Kindle, LB Texas">Sergio Kindle, LB Texas</option>
                      <option value="Sean Weatherspoon. LB Missouri">Sean Weatherspoon. LB Missouri</option>

                      <option value="Joe Haden, CB Florida">Joe Haden, CB Florida</option>
                      <option value="Kyle Wilson, CB Boise St">Kyle Wilson, CB Boise St</option>
                      <option value="Kareem Jackson, CB Alabama">Kareem Jackson, CB Alabama</option>
                      <option value="Eric Berry, S Tennessee">Eric Berry, S Tennessee</option>
                      <option value="Earl Thomas, S Texas">Earl Thomas, S Texas</option>
                      <option value="Taylor Mays, S USC">Taylor Mays, S USC</option>

										  </select></td>
				  </tr><tr class="odd">
										<td  style="vertical-align:top;">4th  pick:</td>
										<td width="67%"  style="vertical-align:top;">
                                        <select name="_06_4Pick" id="_06_4Pick">
                      <option value="Sam Bradford, QB Oklahoma" selected="selected">Sam Bradford, QB Oklahoma</option>
                      <option value="Jimmy Clausen, QB Notre Dame">Jimmy Clausen, QB Notre Dame</option>

                      <option value="Colt McCoy, QB Texas">Colt McCoy, QB Texas</option>
                      <option value="Tony Pike, QB Cincinnati">Tony Pike, QB Cincinnati</option>
                      <option value="Tim Tebow, QB Florida">Tim Tebow, QB Florida</option>
                      <option value="C.J. Spiller, RB Clemson">C.J. Spiller, RB Clemson</option>
                      <option value="Ryan Matthews, RB Fresno St">Ryan Matthews, RB Fresno St</option>
                      <option value="Jahvid Best, RB Cal">Jahvid Best, RB Cal</option>

                      <option value="Dez Bryant, WR Oklahoma St">Dez Bryant, WR Oklahoma St</option>
                      <option value="Demaryius Thomas, WR Georgia Tech">Demaryius Thomas, WR Georgia Tech</option>
                      <option value="Jermaine Gresham, TE Oklahoma">Jermaine Gresham, TE Oklahoma</option>
                      <option value="Russell Okung, OL Oklahoma St">Russell Okung, OL Oklahoma St</option>
                      <option value="Bryan Bulaga, OL Iowa">Bryan Bulaga, OL Iowa</option>
                      <option value="Trent Williams, OL Oklahoma">Trent Williams, OL Oklahoma</option>

                      <option value="Anthony Davis, OL Rutgers">Anthony Davis, OL Rutgers</option>
                      <option value="Bruce Campbell, OL Maryland">Bruce Campbell, OL Maryland</option>
                      <option value="Charles Brown, OL USC">Charles Brown, OL USC</option>
                      <option value="Matt Iupati, OL Idaho">Matt Iupati, OL Idaho</option>
                      <option value="Maurkice Pouncy, OL Florida">Maurkice Pouncy, OL Florida</option>
                      <option value="Gerald McCoy, DL Oklahoma">Gerald McCoy, DL Oklahoma</option>

                      <option value="Ndamukong Suh, DL Nebraska">Ndamukong Suh, DL Nebraska</option>
                      <option value="Dan Williams, DL Tennessee">Dan Williams, DL Tennessee</option>
                      <option value="Derrick Morgan, DL Georgia Tech">Derrick Morgan, DL Georgia Tech</option>
                      <option value="Everson Griffen, DL USC">Everson Griffen, DL USC</option>
                      <option value="Jason Pierre-Paul, DL South Florida">Jason Pierre-Paul, DL South Florida</option>
                      <option value="Rolando McClain, LB Alabama">Rolando McClain, LB Alabama</option>

                      <option value="Brandon Graham, LB Michigan">Brandon Graham, LB Michigan</option>
                      <option value="Sergio Kindle, LB Texas">Sergio Kindle, LB Texas</option>
                      <option value="Sean Weatherspoon. LB Missouri">Sean Weatherspoon. LB Missouri</option>
                      <option value="Joe Haden, CB Florida">Joe Haden, CB Florida</option>
                      <option value="Kyle Wilson, CB Boise St">Kyle Wilson, CB Boise St</option>
                      <option value="Kareem Jackson, CB Alabama">Kareem Jackson, CB Alabama</option>

                      <option value="Eric Berry, S Tennessee">Eric Berry, S Tennessee</option>
                      <option value="Earl Thomas, S Texas">Earl Thomas, S Texas</option>
                      <option value="Taylor Mays, S USC">Taylor Mays, S USC</option>
										  </select></td>
									</tr><tr >
										<td  style="vertical-align:top;">5th pick:</td>
										<td width="67%"  style="vertical-align:top;">

                                        <select name="_07_5Pick" id="_07_5Pick">
                      <option value="Sam Bradford, QB Oklahoma" selected="selected">Sam Bradford, QB Oklahoma</option>
                      <option value="Jimmy Clausen, QB Notre Dame">Jimmy Clausen, QB Notre Dame</option>
                      <option value="Colt McCoy, QB Texas">Colt McCoy, QB Texas</option>
                      <option value="Tony Pike, QB Cincinnati">Tony Pike, QB Cincinnati</option>
                      <option value="Tim Tebow, QB Florida">Tim Tebow, QB Florida</option>

                      <option value="C.J. Spiller, RB Clemson">C.J. Spiller, RB Clemson</option>
                      <option value="Ryan Matthews, RB Fresno St">Ryan Matthews, RB Fresno St</option>
                      <option value="Jahvid Best, RB Cal">Jahvid Best, RB Cal</option>
                      <option value="Dez Bryant, WR Oklahoma St">Dez Bryant, WR Oklahoma St</option>
                      <option value="Demaryius Thomas, WR Georgia Tech">Demaryius Thomas, WR Georgia Tech</option>
                      <option value="Jermaine Gresham, TE Oklahoma">Jermaine Gresham, TE Oklahoma</option>

                      <option value="Russell Okung, OL Oklahoma St">Russell Okung, OL Oklahoma St</option>
                      <option value="Bryan Bulaga, OL Iowa">Bryan Bulaga, OL Iowa</option>
                      <option value="Trent Williams, OL Oklahoma">Trent Williams, OL Oklahoma</option>
                      <option value="Anthony Davis, OL Rutgers">Anthony Davis, OL Rutgers</option>
                      <option value="Bruce Campbell, OL Maryland">Bruce Campbell, OL Maryland</option>
                      <option value="Charles Brown, OL USC">Charles Brown, OL USC</option>

                      <option value="Matt Iupati, OL Idaho">Matt Iupati, OL Idaho</option>
                      <option value="Maurkice Pouncy, OL Florida">Maurkice Pouncy, OL Florida</option>
                      <option value="Gerald McCoy, DL Oklahoma">Gerald McCoy, DL Oklahoma</option>
                      <option value="Ndamukong Suh, DL Nebraska">Ndamukong Suh, DL Nebraska</option>
                      <option value="Dan Williams, DL Tennessee">Dan Williams, DL Tennessee</option>
                      <option value="Derrick Morgan, DL Georgia Tech">Derrick Morgan, DL Georgia Tech</option>

                      <option value="Everson Griffen, DL USC">Everson Griffen, DL USC</option>
                      <option value="Jason Pierre-Paul, DL South Florida">Jason Pierre-Paul, DL South Florida</option>
                      <option value="Rolando McClain, LB Alabama">Rolando McClain, LB Alabama</option>
                      <option value="Brandon Graham, LB Michigan">Brandon Graham, LB Michigan</option>
                      <option value="Sergio Kindle, LB Texas">Sergio Kindle, LB Texas</option>
                      <option value="Sean Weatherspoon. LB Missouri">Sean Weatherspoon. LB Missouri</option>

                      <option value="Joe Haden, CB Florida">Joe Haden, CB Florida</option>
                      <option value="Kyle Wilson, CB Boise St">Kyle Wilson, CB Boise St</option>
                      <option value="Kareem Jackson, CB Alabama">Kareem Jackson, CB Alabama</option>
                      <option value="Eric Berry, S Tennessee">Eric Berry, S Tennessee</option>
                      <option value="Earl Thomas, S Texas">Earl Thomas, S Texas</option>
                      <option value="Taylor Mays, S USC">Taylor Mays, S USC</option>

										  </select></td>
									</tr><tr class="odd">
										<td  style="vertical-align:top;">6th pick:</td>
										<td width="67%"  style="vertical-align:top;">
                                        <select name="_08_6Pick" id="_08_6Pick">
                      <option value="Sam Bradford, QB Oklahoma" selected="selected">Sam Bradford, QB Oklahoma</option>
                      <option value="Jimmy Clausen, QB Notre Dame">Jimmy Clausen, QB Notre Dame</option>

                      <option value="Colt McCoy, QB Texas">Colt McCoy, QB Texas</option>
                      <option value="Tony Pike, QB Cincinnati">Tony Pike, QB Cincinnati</option>
                      <option value="Tim Tebow, QB Florida">Tim Tebow, QB Florida</option>
                      <option value="C.J. Spiller, RB Clemson">C.J. Spiller, RB Clemson</option>
                      <option value="Ryan Matthews, RB Fresno St">Ryan Matthews, RB Fresno St</option>
                      <option value="Jahvid Best, RB Cal">Jahvid Best, RB Cal</option>

                      <option value="Dez Bryant, WR Oklahoma St">Dez Bryant, WR Oklahoma St</option>
                      <option value="Demaryius Thomas, WR Georgia Tech">Demaryius Thomas, WR Georgia Tech</option>
                      <option value="Jermaine Gresham, TE Oklahoma">Jermaine Gresham, TE Oklahoma</option>
                      <option value="Russell Okung, OL Oklahoma St">Russell Okung, OL Oklahoma St</option>
                      <option value="Bryan Bulaga, OL Iowa">Bryan Bulaga, OL Iowa</option>
                      <option value="Trent Williams, OL Oklahoma">Trent Williams, OL Oklahoma</option>

                      <option value="Anthony Davis, OL Rutgers">Anthony Davis, OL Rutgers</option>
                      <option value="Bruce Campbell, OL Maryland">Bruce Campbell, OL Maryland</option>
                      <option value="Charles Brown, OL USC">Charles Brown, OL USC</option>
                      <option value="Matt Iupati, OL Idaho">Matt Iupati, OL Idaho</option>
                      <option value="Maurkice Pouncy, OL Florida">Maurkice Pouncy, OL Florida</option>
                      <option value="Gerald McCoy, DL Oklahoma">Gerald McCoy, DL Oklahoma</option>

                      <option value="Ndamukong Suh, DL Nebraska">Ndamukong Suh, DL Nebraska</option>
                      <option value="Dan Williams, DL Tennessee">Dan Williams, DL Tennessee</option>
                      <option value="Derrick Morgan, DL Georgia Tech">Derrick Morgan, DL Georgia Tech</option>
                      <option value="Everson Griffen, DL USC">Everson Griffen, DL USC</option>
                      <option value="Jason Pierre-Paul, DL South Florida">Jason Pierre-Paul, DL South Florida</option>
                      <option value="Rolando McClain, LB Alabama">Rolando McClain, LB Alabama</option>

                      <option value="Brandon Graham, LB Michigan">Brandon Graham, LB Michigan</option>
                      <option value="Sergio Kindle, LB Texas">Sergio Kindle, LB Texas</option>
                      <option value="Sean Weatherspoon. LB Missouri">Sean Weatherspoon. LB Missouri</option>
                      <option value="Joe Haden, CB Florida">Joe Haden, CB Florida</option>
                      <option value="Kyle Wilson, CB Boise St">Kyle Wilson, CB Boise St</option>
                      <option value="Kareem Jackson, CB Alabama">Kareem Jackson, CB Alabama</option>

                      <option value="Eric Berry, S Tennessee">Eric Berry, S Tennessee</option>
                      <option value="Earl Thomas, S Texas">Earl Thomas, S Texas</option>
                      <option value="Taylor Mays, S USC">Taylor Mays, S USC</option>
										  </select></td>
									</tr><tr >
										<td  style="vertical-align:top;">7th pick:</td>
										<td width="67%"  style="vertical-align:top;">

                                        <select name="_09_7Pick" id="_09_7Pick">
                      <option value="Sam Bradford, QB Oklahoma" selected="selected">Sam Bradford, QB Oklahoma</option>
                      <option value="Jimmy Clausen, QB Notre Dame">Jimmy Clausen, QB Notre Dame</option>
                      <option value="Colt McCoy, QB Texas">Colt McCoy, QB Texas</option>
                      <option value="Tony Pike, QB Cincinnati">Tony Pike, QB Cincinnati</option>
                      <option value="Tim Tebow, QB Florida">Tim Tebow, QB Florida</option>

                      <option value="C.J. Spiller, RB Clemson">C.J. Spiller, RB Clemson</option>
                      <option value="Ryan Matthews, RB Fresno St">Ryan Matthews, RB Fresno St</option>
                      <option value="Jahvid Best, RB Cal">Jahvid Best, RB Cal</option>
                      <option value="Dez Bryant, WR Oklahoma St">Dez Bryant, WR Oklahoma St</option>
                      <option value="Demaryius Thomas, WR Georgia Tech">Demaryius Thomas, WR Georgia Tech</option>
                      <option value="Jermaine Gresham, TE Oklahoma">Jermaine Gresham, TE Oklahoma</option>

                      <option value="Russell Okung, OL Oklahoma St">Russell Okung, OL Oklahoma St</option>
                      <option value="Bryan Bulaga, OL Iowa">Bryan Bulaga, OL Iowa</option>
                      <option value="Trent Williams, OL Oklahoma">Trent Williams, OL Oklahoma</option>
                      <option value="Anthony Davis, OL Rutgers">Anthony Davis, OL Rutgers</option>
                      <option value="Bruce Campbell, OL Maryland">Bruce Campbell, OL Maryland</option>
                      <option value="Charles Brown, OL USC">Charles Brown, OL USC</option>

                      <option value="Matt Iupati, OL Idaho">Matt Iupati, OL Idaho</option>
                      <option value="Maurkice Pouncy, OL Florida">Maurkice Pouncy, OL Florida</option>
                      <option value="Gerald McCoy, DL Oklahoma">Gerald McCoy, DL Oklahoma</option>
                      <option value="Ndamukong Suh, DL Nebraska">Ndamukong Suh, DL Nebraska</option>
                      <option value="Dan Williams, DL Tennessee">Dan Williams, DL Tennessee</option>
                      <option value="Derrick Morgan, DL Georgia Tech">Derrick Morgan, DL Georgia Tech</option>

                      <option value="Everson Griffen, DL USC">Everson Griffen, DL USC</option>
                      <option value="Jason Pierre-Paul, DL South Florida">Jason Pierre-Paul, DL South Florida</option>
                      <option value="Rolando McClain, LB Alabama">Rolando McClain, LB Alabama</option>
                      <option value="Brandon Graham, LB Michigan">Brandon Graham, LB Michigan</option>
                      <option value="Sergio Kindle, LB Texas">Sergio Kindle, LB Texas</option>
                      <option value="Sean Weatherspoon. LB Missouri">Sean Weatherspoon. LB Missouri</option>

                      <option value="Joe Haden, CB Florida">Joe Haden, CB Florida</option>
                      <option value="Kyle Wilson, CB Boise St">Kyle Wilson, CB Boise St</option>
                      <option value="Kareem Jackson, CB Alabama">Kareem Jackson, CB Alabama</option>
                      <option value="Eric Berry, S Tennessee">Eric Berry, S Tennessee</option>
                      <option value="Earl Thomas, S Texas">Earl Thomas, S Texas</option>
                      <option value="Taylor Mays, S USC">Taylor Mays, S USC</option>

										  </select></td>
									</tr><tr class="odd">
										<td  style="vertical-align:top;">8th pick:</td>
										<td width="67%"  style="vertical-align:top;">
                                        <select name="_10_8Pick" id="_10_8Pick">
                      <option value="Sam Bradford, QB Oklahoma" selected="selected">Sam Bradford, QB Oklahoma</option>
                      <option value="Jimmy Clausen, QB Notre Dame">Jimmy Clausen, QB Notre Dame</option>

                      <option value="Colt McCoy, QB Texas">Colt McCoy, QB Texas</option>
                      <option value="Tony Pike, QB Cincinnati">Tony Pike, QB Cincinnati</option>
                      <option value="Tim Tebow, QB Florida">Tim Tebow, QB Florida</option>
                      <option value="C.J. Spiller, RB Clemson">C.J. Spiller, RB Clemson</option>
                      <option value="Ryan Matthews, RB Fresno St">Ryan Matthews, RB Fresno St</option>
                      <option value="Jahvid Best, RB Cal">Jahvid Best, RB Cal</option>

                      <option value="Dez Bryant, WR Oklahoma St">Dez Bryant, WR Oklahoma St</option>
                      <option value="Demaryius Thomas, WR Georgia Tech">Demaryius Thomas, WR Georgia Tech</option>
                      <option value="Jermaine Gresham, TE Oklahoma">Jermaine Gresham, TE Oklahoma</option>
                      <option value="Russell Okung, OL Oklahoma St">Russell Okung, OL Oklahoma St</option>
                      <option value="Bryan Bulaga, OL Iowa">Bryan Bulaga, OL Iowa</option>
                      <option value="Trent Williams, OL Oklahoma">Trent Williams, OL Oklahoma</option>

                      <option value="Anthony Davis, OL Rutgers">Anthony Davis, OL Rutgers</option>
                      <option value="Bruce Campbell, OL Maryland">Bruce Campbell, OL Maryland</option>
                      <option value="Charles Brown, OL USC">Charles Brown, OL USC</option>
                      <option value="Matt Iupati, OL Idaho">Matt Iupati, OL Idaho</option>
                      <option value="Maurkice Pouncy, OL Florida">Maurkice Pouncy, OL Florida</option>
                      <option value="Gerald McCoy, DL Oklahoma">Gerald McCoy, DL Oklahoma</option>

                      <option value="Ndamukong Suh, DL Nebraska">Ndamukong Suh, DL Nebraska</option>
                      <option value="Dan Williams, DL Tennessee">Dan Williams, DL Tennessee</option>
                      <option value="Derrick Morgan, DL Georgia Tech">Derrick Morgan, DL Georgia Tech</option>
                      <option value="Everson Griffen, DL USC">Everson Griffen, DL USC</option>
                      <option value="Jason Pierre-Paul, DL South Florida">Jason Pierre-Paul, DL South Florida</option>
                      <option value="Rolando McClain, LB Alabama">Rolando McClain, LB Alabama</option>

                      <option value="Brandon Graham, LB Michigan">Brandon Graham, LB Michigan</option>
                      <option value="Sergio Kindle, LB Texas">Sergio Kindle, LB Texas</option>
                      <option value="Sean Weatherspoon. LB Missouri">Sean Weatherspoon. LB Missouri</option>
                      <option value="Joe Haden, CB Florida">Joe Haden, CB Florida</option>
                      <option value="Kyle Wilson, CB Boise St">Kyle Wilson, CB Boise St</option>
                      <option value="Kareem Jackson, CB Alabama">Kareem Jackson, CB Alabama</option>

                      <option value="Eric Berry, S Tennessee">Eric Berry, S Tennessee</option>
                      <option value="Earl Thomas, S Texas">Earl Thomas, S Texas</option>
                      <option value="Taylor Mays, S USC">Taylor Mays, S USC</option>
										  </select></td>
									</tr><tr >
										<td  style="vertical-align:top;">9th pick:</td>
										<td width="67%"  style="vertical-align:top;">

                                        <select name="_11_9Pick" id="_11_9Pick">
                      <option value="Sam Bradford, QB Oklahoma" selected="selected">Sam Bradford, QB Oklahoma</option>
                      <option value="Jimmy Clausen, QB Notre Dame">Jimmy Clausen, QB Notre Dame</option>
                      <option value="Colt McCoy, QB Texas">Colt McCoy, QB Texas</option>
                      <option value="Tony Pike, QB Cincinnati">Tony Pike, QB Cincinnati</option>
                      <option value="Tim Tebow, QB Florida">Tim Tebow, QB Florida</option>

                      <option value="C.J. Spiller, RB Clemson">C.J. Spiller, RB Clemson</option>
                      <option value="Ryan Matthews, RB Fresno St">Ryan Matthews, RB Fresno St</option>
                      <option value="Jahvid Best, RB Cal">Jahvid Best, RB Cal</option>
                      <option value="Dez Bryant, WR Oklahoma St">Dez Bryant, WR Oklahoma St</option>
                      <option value="Demaryius Thomas, WR Georgia Tech">Demaryius Thomas, WR Georgia Tech</option>
                      <option value="Jermaine Gresham, TE Oklahoma">Jermaine Gresham, TE Oklahoma</option>

                      <option value="Russell Okung, OL Oklahoma St">Russell Okung, OL Oklahoma St</option>
                      <option value="Bryan Bulaga, OL Iowa">Bryan Bulaga, OL Iowa</option>
                      <option value="Trent Williams, OL Oklahoma">Trent Williams, OL Oklahoma</option>
                      <option value="Anthony Davis, OL Rutgers">Anthony Davis, OL Rutgers</option>
                      <option value="Bruce Campbell, OL Maryland">Bruce Campbell, OL Maryland</option>
                      <option value="Charles Brown, OL USC">Charles Brown, OL USC</option>

                      <option value="Matt Iupati, OL Idaho">Matt Iupati, OL Idaho</option>
                      <option value="Maurkice Pouncy, OL Florida">Maurkice Pouncy, OL Florida</option>
                      <option value="Gerald McCoy, DL Oklahoma">Gerald McCoy, DL Oklahoma</option>
                      <option value="Ndamukong Suh, DL Nebraska">Ndamukong Suh, DL Nebraska</option>
                      <option value="Dan Williams, DL Tennessee">Dan Williams, DL Tennessee</option>
                      <option value="Derrick Morgan, DL Georgia Tech">Derrick Morgan, DL Georgia Tech</option>

                      <option value="Everson Griffen, DL USC">Everson Griffen, DL USC</option>
                      <option value="Jason Pierre-Paul, DL South Florida">Jason Pierre-Paul, DL South Florida</option>
                      <option value="Rolando McClain, LB Alabama">Rolando McClain, LB Alabama</option>
                      <option value="Brandon Graham, LB Michigan">Brandon Graham, LB Michigan</option>
                      <option value="Sergio Kindle, LB Texas">Sergio Kindle, LB Texas</option>
                      <option value="Sean Weatherspoon. LB Missouri">Sean Weatherspoon. LB Missouri</option>

                      <option value="Joe Haden, CB Florida">Joe Haden, CB Florida</option>
                      <option value="Kyle Wilson, CB Boise St">Kyle Wilson, CB Boise St</option>
                      <option value="Kareem Jackson, CB Alabama">Kareem Jackson, CB Alabama</option>
                      <option value="Eric Berry, S Tennessee">Eric Berry, S Tennessee</option>
                      <option value="Earl Thomas, S Texas">Earl Thomas, S Texas</option>
                      <option value="Taylor Mays, S USC">Taylor Mays, S USC</option>

										  </select></td>
									</tr><tr class="odd">
										<td >10th pick:</td>
										<td width="67%"  style="vertical-align:top;">
                                        <select name="_12_10Pick" id="_12_10Pick">
                      <option value="Sam Bradford, QB Oklahoma" selected="selected">Sam Bradford, QB Oklahoma</option>
                      <option value="Jimmy Clausen, QB Notre Dame">Jimmy Clausen, QB Notre Dame</option>

                      <option value="Colt McCoy, QB Texas">Colt McCoy, QB Texas</option>
                      <option value="Tony Pike, QB Cincinnati">Tony Pike, QB Cincinnati</option>
                      <option value="Tim Tebow, QB Florida">Tim Tebow, QB Florida</option>
                      <option value="C.J. Spiller, RB Clemson">C.J. Spiller, RB Clemson</option>
                      <option value="Ryan Matthews, RB Fresno St">Ryan Matthews, RB Fresno St</option>
                      <option value="Jahvid Best, RB Cal">Jahvid Best, RB Cal</option>

                      <option value="Dez Bryant, WR Oklahoma St">Dez Bryant, WR Oklahoma St</option>
                      <option value="Demaryius Thomas, WR Georgia Tech">Demaryius Thomas, WR Georgia Tech</option>
                      <option value="Jermaine Gresham, TE Oklahoma">Jermaine Gresham, TE Oklahoma</option>
                      <option value="Russell Okung, OL Oklahoma St">Russell Okung, OL Oklahoma St</option>
                      <option value="Bryan Bulaga, OL Iowa">Bryan Bulaga, OL Iowa</option>
                      <option value="Trent Williams, OL Oklahoma">Trent Williams, OL Oklahoma</option>

                      <option value="Anthony Davis, OL Rutgers">Anthony Davis, OL Rutgers</option>
                      <option value="Bruce Campbell, OL Maryland">Bruce Campbell, OL Maryland</option>
                      <option value="Charles Brown, OL USC">Charles Brown, OL USC</option>
                      <option value="Matt Iupati, OL Idaho">Matt Iupati, OL Idaho</option>
                      <option value="Maurkice Pouncy, OL Florida">Maurkice Pouncy, OL Florida</option>
                      <option value="Gerald McCoy, DL Oklahoma">Gerald McCoy, DL Oklahoma</option>

                      <option value="Ndamukong Suh, DL Nebraska">Ndamukong Suh, DL Nebraska</option>
                      <option value="Dan Williams, DL Tennessee">Dan Williams, DL Tennessee</option>
                      <option value="Derrick Morgan, DL Georgia Tech">Derrick Morgan, DL Georgia Tech</option>
                      <option value="Everson Griffen, DL USC">Everson Griffen, DL USC</option>
                      <option value="Jason Pierre-Paul, DL South Florida">Jason Pierre-Paul, DL South Florida</option>
                      <option value="Rolando McClain, LB Alabama">Rolando McClain, LB Alabama</option>

                      <option value="Brandon Graham, LB Michigan">Brandon Graham, LB Michigan</option>
                      <option value="Sergio Kindle, LB Texas">Sergio Kindle, LB Texas</option>
                      <option value="Sean Weatherspoon. LB Missouri">Sean Weatherspoon. LB Missouri</option>
                      <option value="Joe Haden, CB Florida">Joe Haden, CB Florida</option>
                      <option value="Kyle Wilson, CB Boise St">Kyle Wilson, CB Boise St</option>
                      <option value="Kareem Jackson, CB Alabama">Kareem Jackson, CB Alabama</option>

                      <option value="Eric Berry, S Tennessee">Eric Berry, S Tennessee</option>
                      <option value="Earl Thomas, S Texas">Earl Thomas, S Texas</option>
                      <option value="Taylor Mays, S USC">Taylor Mays, S USC</option>
										  </select></td>
									</tr>
					<tr>
					<td height="20" colspan="2"  ><div align="center">
                        <input type="submit" name="button" id="button" value="Submit Your Picks" />
                      </div></td>

                  </tr>
                  </tbody>
                </table>
						 	 </div>
						  
              </form>
			
			  
			  <p>&nbsp;</p>
<p><strong>Terms &amp; Conditions</strong></p>
                  <ol>  

  <li>This promotion is open to all       active US Racing members. </li>
  <li>You must register with your CID       and E-mail to qualify. </li>
  <li>&nbsp;To qualify for this       promotion, you must wager a minimum of $20.00 on the 2010 NFL Draft,       through either one bet or a combination of multiple wagers. </li>
  <li>To qualify you must also       choose all 10 picks in the Mini-Mock Draft. </li>
  <li>Eligible wager types for this       promotion are all the props and odds listed under 2010 NFL Draft in our       betting menu, including In-Running wagering which will be offered       throughout portions of the 1st Round.  </li>
  <li>Wagers placed prior to       registration will be included in this promotion. </li>

  <li>The Grand Prize will be       awarded to the individual who correctly predicts the most picks out of 10. </li>
  <li>The monetary value of the       Grand Prize will be determined by multiplying $250.00 by the number of       correct picks. For example, if the member who correctly predicted the most       selections picked nine, he would be awarded $2,250.00.</li>
  <li>If numerous members tie with       the most correct picks, they will split the Grand Prize.</li>
  <li>There is no rollover requirement       associated with the Grand Prize.</li>
  <li>Only one entry per       household/account is permitted. </li>
  <li>This promotion expires on       April 22nd, 2010, 7:30pm ET, at the start of the NFL Draft. </li>

  <li>Winners will be notified by       e-mail within 1-2 business days of the end of the Draft. </li>
  <li>US Racing  reserves the right to alter or amend the terms and conditions of this promotion  without notice. </li>
                  </ol>
<p>&nbsp;</p>
<br>        
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    