{literal}
    <script language="javascript">
	var username = Check_Cookie(rot13('UTMU'));
	if(username && gup('megamenu')){
	window.location="http://www.usracing.com/sportsbook?line=Oscars";
	}
	</script>
	{/literal}
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
            

      <h2 class="title">Sports Lines</h2>
  



    <ul class="menu"><li class="expanded first"><a href="/beton/race-of-the-week" title="Bet on Horses">BET ON HORSES</a><ul class="menu"><li class="leaf first"><a href="/beton/race-of-the-week" title="Horse Race of the Week">HORSE RACE OF THE WEEK BETS</a></li>
<li><a href="/beton/kentuckyderby" title="Bet on Kentucky Derby - Run for the Roses at Churchill Downs">BET ON KENTUCKY DERBY</a></li>
<li><a href="/beton/kentuckyderby-futurewager" title="Kentucky Derby Future Wager">KENTUCKY DERBY FUTURE WAGER</a></li>
<li><a href="/beton/preakness-stakes" title="Bet on Preakness Stakes at US Racing">BET ON PREAKNESS STAKES</a></li>
<li><a href="/beton/belmontstakes" title="Bet on Belmont Stakes at US Racing">BET ON BELMONT STAKES</a></li>
<li><a href="/beton/breederscup" title="Bet on Breeders&#039; Cup at US Racing">BET ON BREEDERS CUP</a></li>
<li><a href="/beton/dubaiworldcup" title="Bet on the Dubai World Cup - Richest Horse Race">DUBAI WORLD CUP</a></li>
<li><a href="/beton/matchraces" title="Match Races at US Racing">MATCH RACES</a></li>
<li><a href="/beton/roadtoroses" title="Road to the Kentucky Derby">ROAD TO THE KENTUCKY DERBY</a></li>
<li><a href="/beton/breederscup_challenge" title="Breeders Cup Challenge">BREEDERS CUP CHALLENGE</a></li>
<li><a href="/beton/makememillionaire" title="Make Me A Millionaire Challenge">MAKE ME A MILLIONAIRE</a></li>
</ul></li>
<li class="expanded"><a href="/beton/football" title="Bet on Football">BET ON FOOTBALL</a><ul class="menu"><li class="leaf first"><a href="/beton/nfl" title="Bet on NFL Football">BET ON NFL</a></li>
<li><a href="/beton/college-football" title="Bet on College Football">BET ON COLLEGE</a></li>
</ul></li>
<li class="expanded"><a href="/beton/baseball" title="Bet Sports">BET SPORTS</a><ul class="menu"><li class="leaf first"><a href="/beton/baseball" title="Bet on Baseball">BASEBALL</a></li>
<li><a href="/beton/basketball" title="Bet on Basketball">BASKETBALL BETTING</a></li>
<li><a href="/beton/collegebasketball" title="NCAA College Basketball Betting">NCAA BASKETBALL</a></li>
<li><a href="/beton/hockey" title="Bet on Hockey | NHL Betting Online">BET ON HOCKEY</a></li>
<li><a href="/beton/boxing" title="Bet on HBO and Showtime Boxing">BOXING</a></li>
<li><a href="/beton/mma" title="UFC, MMA bet on Mixed Martial Arts">MIXED MARTIAL ARTS</a></li>
<li><a href="/beton/golf" title="Bet on Golf | Ryder Cup, The Masters, PGA betting">GOLF BETTING</a></li>
<li><a href="/beton/nascar" title="NASCAR Betting Autoracing">NASCAR</a></li>
<li><a href="/beton/soccer" title="Soccer Betting">SOCCER BETTING</a></li>
<li><a href="/beton/tennis" title="Tennis Betting at Wimbledon and Majors">TENNIS</a></li>
</ul></li>
<li class="expanded active-trail"><a href="/beton/oscars" title="Bet on Politics, Entertainment and More!" class="active">BET MORE</a><ul class="menu"><li><a href="/beton/oscars" title="Bet on the Academy Awards and Oscars" class="active">ACADEMY AWARDS</a></li>
<li><a href="/beton/politics" title="Political Betting">POLITICS</a></li>
<li><a href="/beton/reality-tv" title="Bet on TV and Reality Shows">REALITY SHOWS</a></li>
</ul></li>
<li><a href="/promotions" title="Promotions and Specials">PROMOTIONS AND SPECIALS</a></li>
</ul>  </div>

  

<!-- /block-inner, /block -->



{include file='banners/banner4.tpl'}             
{include file='banners/banner3.tpl'}
{include file='banners/banner2.tpl'}
{include file='banners/banner1.tpl'}    


          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">




    <div><a href="/join"><img src="/themes/images/banner-sportsbook-horses.jpg" alt="Sportsbook" width="705" height="118" /></a></div>  </div>

  

<!-- /block-inner, /block -->



                                    
                                      
          
<div class="headline"><h1>Bet on the Academy Awards and Oscars</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<p>          
          
<div class="headline"><h1><span class="DarkBlue">Bet on the Academy Awards - Who will win the Oscar?</span></h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


</p>
<br />
<p><img style="margin:0 0 20px 20px;" title="Who will win an Oscar?" src="http://usracing.com/media/images/content/allhorseracingcom/Sportsbook_Pages/oscar.jpg" border="0" hspace="20" alt="Who will win an Oscar?" width="210" height="340" align="right" /></p><p>"And the Oscar<sup><small>TM</small></sup>&nbsp;&nbsp;goes to. . ."</p><p>Tune in to the 82nd Annual Academy Awards<sup><small>TM</small></sup>&nbsp;&nbsp;on March&nbsp;7th, 2010 to find out the Best Picture winner.</p><p>Bet on the Academy Awards and the Oscars<sup><small>TM</small></sup>&nbsp;&nbsp;at US Racing. You can bet on Best Picture, Best Director, Best Actor, Best Actress, Best Supporting Actor, Best Supporting Actress and many more Oscar<sup><small>TM</small></sup>&nbsp;&nbsp;related bets.&nbsp; Sit back an watch the show and make some money, too!</p><div class="odd"><div><p>It's been called "the Academy statuette," "the golden trophy" and "the statue of merit." The entertainment trade paper, <em>Weekly Variety</em>, even attempted to popularize "the iron man." Thankfully, the term never stuck. Born in 1928, the Academy Award of Merit — which we know as simply "the Oscar" — depicts a knight holding a crusader's sword, standing on a reel of film with five spokes, signifying the original branches of the Academy: Actors, Writers, Directors, Producers and Technicians.</p><p>Weighing 8.5 pounds and standing 13.5 inches tall, the statuette was designed by MGM's chief art director Cedric Gibbons. Frederic Hope, Gibbons' assistant, created the original Belgian black marble base; artist George Stanley sculpted the design; and the California Bronze Foundry hand cast the first statuette in bronze plated with 24-karat gold.</p><p><strong><span class="DarkBlue">The Origin of the Oscar Name<br /></span></strong>A popular but unsubstantiated story has been that the moniker caught on after Academy librarian and eventual executive director Margaret Herrick said that the statuette resembled her Uncle Oscar. Its first documented mention came after the sixth Awards Presentation in 1934 when Hollywood columnist Sidney Skolsky used it in reference to Katharine Hepburn's first Best Actress win. The Academy itself didn't use the nickname officially until 1939.</p><p>Oscar has changed his look on occasion. From the 1930s through the 50's, juvenile players received miniature replicas of the statuette; ventriloquist Edgar Bergen was presented with a wooden statuette with a movable mouth; and Walt Disney was honored with one full-size and seven miniature statuettes on behalf of his animated feature SNOW WHITE AND THE SEVEN DWARFS. In support of the World War II effort between 1942 and 1944, Oscars were made of plaster, to be traded in for golden statuettes after the war. Additionally, the base was raised and changed from marble to metal in 1945. And in 1949, Academy Award statuettes began to be numbered, starting with No. 501.</p><p>&nbsp;</p><table class="show_design_border"><tbody><tr><td>Oscar's height:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>13 ½ in</td></tr></tbody></table><p>&nbsp;</p><table class="show_design_border"><tbody><tr><td>Oscar's weight:&nbsp;&nbsp;&nbsp;&nbsp;</td><td>8 ½ lbs</td></tr></tbody></table><p>&nbsp;</p><table class="show_design_border"><tbody><tr><td>Number of Oscars presented at Academy Awards shows or to winners absent from show to date:&nbsp;&nbsp;&nbsp;</td><td>2,658</td></tr></tbody></table><p>&nbsp;</p><table class="show_design_border"><tbody><tr><td>Number of competitive categories in 1927:&nbsp;&nbsp;</td><td>12</td></tr></tbody></table><p>&nbsp;</p><table class="show_design_border"><tbody><tr><td>Number of competitive categories in 2007:&nbsp;&nbsp;</td><td>24</td></tr></tbody></table><p>&nbsp;</p><table class="show_design_border"><tbody><tr><td>How many people it takes to make a statuette:&nbsp;&nbsp;</td><td>12</td></tr></tbody></table><p>&nbsp;</p><table class="show_design_border"><tbody><tr><td>How long it takes to make a statuette:&nbsp;</td><td>20 hrs</td></tr></tbody></table><p>&nbsp;</p><table class="show_design_border"><tbody><tr><td>Number of Oscars manufactured each year:&nbsp;&nbsp;</td><td>50-60</td></tr></tbody></table><p>&nbsp;</p><table class="show_design_border"><tbody><tr><td>How many Oscars have been refused:&nbsp;&nbsp;</td><td>3</td></tr></tbody></table><p>&nbsp;</p><table class="show_design_border"><tbody><tr><td>Number of decorative prop Oscar statues:&nbsp;&nbsp;</td><td>65</td></tr></tbody></table><p>&nbsp;</p><table class="show_design_border"><tbody><tr><td>Smallest decorative prop Oscar statue:&nbsp;&nbsp;</td><td>1½ ft</td></tr></tbody></table><p>&nbsp;</p><table class="show_design_border"><tbody><tr><td>Tallest decorative prop Oscar statue:&nbsp;&nbsp;</td><td>24 ft</td></tr></tbody></table></div></div>
<p>&nbsp;</p>
<p>&nbsp;</p>

        
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    