<link type="text/css" rel="stylesheet" media="all" href="/includes/redirect/redirectbox.css" />
<script type="text/javascript" src="/includes/redirect/init.js"></script>
<script type="text/javascript" src="/includes/redirect/redirect.js"></script>
