@import "vars";

.subscribe-section{
  font-family: "Lato";
  font-weight: 100;
  background: $color_blue_light url(../images/bg-news.png);
  color: #fff;
  overflow: hidden;
  padding: 30px 0;
  font-family: "Lato";
  .inner-subscribe-section{
    text-align: center;
    h2{
      font-size: 32px;
      font-family: "Lato";
      font-weight: 500;
    }
    .form-subscribe{
      .input-field{
        padding: 10px 10px;
        input{
          width: 100%;
          padding: 3px 15px 5px;
          background: transparent;
          border-radius: 5px;
          border: 2px solid #fff;
          color: #fff;
          font-weight: 100;
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #fff;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #fff;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #fff;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #fff;
          }
        }
        input[type="submit"]{
          background: #ffffff;
          color: $color_blue_light;
          text-transform: uppercase;
          font-weight: 400;
        }
      }
    }
  }
}
.featured-news{
  padding: 0px 0 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  .story dt{
    width: 100%;
    float: none;
    a{
      span{
        padding-top: 0px;
      }
    }
  }
  .img-featured{
    img{
      width: 100%;
    }
  }
  .info-news, .entry-meta{
    overflow: hidden;
    margin: 2px 0;
    span{
      display: inline-block;
      &.category, &.cat-links{
        float: left;
        color: $color_blue_light;
        a{
          color: $color_blue_light;
        }
        ul {
          padding: 0;
          margin: 0;
          li {
            padding: 0;
            margin: 0;
            list-style: none;
          }
        }
      }
      &.shares{
        float: right;
      }
    }
  }
  .desc-featured{
    font-size: 16px;
    color: #666;
    h1{
      color: $color_blue_dark;
      font-weight: 500;
      line-height: 1.2em;
      font-family: 'Lato', sans-serif;
      font-size: 32px;
    }
  }
  .postedby-featured{
    overflow: hidden;
    color: $color_blue_postedby;
    font-size: 14px;
    .img-postedby, .entry_author_image{
      width: 51px;
      height: 51px;
      border: 3px solid $color_blue_dark;
      background: $color_blue_dark;
      border-radius: 50%;
      overflow: hidden;
      float: left;
      img{
        width: 100%;
      }
    }
    .info-postedby{
      float: left;
      padding: 10px;
      font-weight: bold;
      span.name-post {
        color: $color_blue_light;
      }
    }
  }
  //usracing featured
  .story{
    font-size: 18px;
    color: #666;
    .blog-title{
      color: $color_blue_dark;
      font-weight: 500;
      line-height: 1.2em;
      font-size: 38px !important;
      margin: 20px 0;
      a{
        color: $color_blue_dark;
        text-decoration: none;
      }
    }
  }
  .blog-date{
    display: none;
  }
}

.list-news{
  display: block;
  //background: green;
  overflow: hidden;
  .story dt{
    width: 100%;
    float: none;
  }
  .item-news{
    overflow: hidden;
    margin: 15px 0;
    @media screen and (max-width: 767px){
      padding: 0;
    }

    .img-news {
      max-height: 200px;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
    .info-news, .entry-meta{
      overflow: hidden;
      padding: 2px 0;
      span{
        display: inline-block;
        &.category, &.cat-links{
          float: left;
          color: $color_blue_light;
          font-size: 14px;

          a{
            color: $color_blue_light;
          }
          ul{
            margin: 0;
            padding: 0;
            li{
              margin: 0;
              padding: 0;
              display: inline-block;
              list-style: disc;
              font-weight: 500;
              &:before{
                content:" | ";
              }
              &:first-child::before{
                content: "";
              }
            }
          }
        }
        &.shares{
          float: right;
        }
      }
    }
    .title-news{
      h3{
        color: $color_blue_dark;
        font-weight: 500;
        line-height: 1.2em;
        font-size: 22px;
        margin-top: 10px;
        a{
          color: $color_blue_dark;
          text-decoration: none;
        }
      }
    }
    .postedby-news{
      overflow: hidden;
      color: $color_blue_postedby;
      font-size: 14px;
      .img-postedby, .entry_author_image{
        width: 51px;
        height: 51px;
        border: 3px solid $color_blue_dark;
        background: $color_blue_dark;
        border-radius: 50%;
        overflow: hidden;
        float: left;
        img{
          width: 100%;
        }
      }
      .info-postedby{
        float: left;
        padding: 10px;
        font-weight: bold;
        span.name-post {
          color: $color_blue_dark;
        }
        span.name-author{
          color: $color_blue_light;
          a{
            color: $color_blue_light;
          }
        }
      }
    }
    //usracing page
    .story{
      font-size: 16px;
      color: #666;
      border:0 !important;
      dt{
        width: 100%;
        float: none;
      }
      .blog-title{
        color: $color_blue_dark;
        font-weight: 500;
        line-height: 1.2em;
        font-size:   22px;
        margin: 15px 0;
        a{
          color: $color_blue_dark;
          text-decoration: none;
        }
      }
      p{
        min-height: 140px;
        margin-bottom: 10px;
        @media screen and (max-width: 767px){
          min-height: auto;
        }
      }
    }
  }
  .blog-date{
    display: none;
  }
}

.sidebar{
  padding: 30px 0;
  @media screen and (max-width: 767px){
    padding: 30px 20px !important;
  }
  .search-box, .search-form{
    label{
      display: block;
      background: #fff url(../images/search.png) 10px center no-repeat;
      margin-bottom: 0;
    }
    input{
      border: 2px solid $color_blue_light;
      width: 100%;
      border-radius: 5px;
      padding: 3px 20px 5px 34px;
      //text-transform: uppercase;
      color: $color_blue_light;
      background: transparent;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color_blue_light;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $color_blue_light;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $color_blue_light;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $color_blue_light;
      }
    }
  }
}
.widget-box, .widget{
  margin: 0 0 20px;
  border: 1px solid $border_widget_box;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  .inner-widget, .textwidget, .rpwe-block {
    padding: 15px;
  }

  .head-box, .panel-heading{
    color: #ffffff;
    background: $color_blue_dark !important;
    padding: 10px 20px;
    text-align: left;
    //border-top-right-radius: 5px;
    //border-top-left-radius: 5px;
    h3{
      color: #fff !important;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
  h5{
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 15px;
  }
  p{
    font-size: 14px;
  }
  ul{
    li.rpwe-li{
      h3.rpwe-title{
        font-family: 'Lato', sans-serif;
        margin-bottom: 15px;
        font-size: 15px;
        color: #555;
        font-weight: 500;
        a{
          color: #555;
        }
      }
    }
  }
  .join-button-container{
    //text-align: center;
    margin: 10px 0 20px;
    .join-button {
      background: #d21428;
      color: #fff;
      padding: 10px;
      border-radius: 3px;
      font-size: 14px;
      text-decoration: none;
    }
  }
}
#text-4, #search-2{
  border: 0;
  .textwidget{
    padding: 0 !important;
  }
}
#text-5{
  .textwidget{
    padding: 0 !important;
  }
  .social{
    border-bottom: 1px solid $border_widget_box;
    .fa{
      color: #bddae6;
      background: #f6fafb;
      width: 36px;
      text-align: center;
      padding: 9px 0;
      font-size: 20px;
      border-right: 1px solid $border_widget_box;
    }
  }
}
#archives-2, #categories-2{
  ul{
    display: block;
    margin: 0;
    padding: 15px;
    li {
      list-style: none;
      font-size: 13px;
      a{
        padding-left: 12px;
        color: $color_blue_light;
        text-transform: uppercase;
        text-decoration: none;
      }
      &:before {
        float: left;
        content: " ";
        border-radius: 50%;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid $color_gray_light;
        width: 14px;
        height: 14px;
        display: block;
        margin-right: 2px;
        margin-top: 3px;
        vertical-align: top;
        float: left;

      }
      &:hover{
        //padding-left: 0;
      }
      &:hover::before{
        //content: '•';
        //font-size: 38px;
        border: 1px solid $color_blue_light;
        background: $color_blue_light;
      }
      ul{
        margin: 0;
        padding: 0;
        li{
          padding: 0;
          a{
            padding-left: 25px;
          }
        }
      }
    }
  }
}

#categories-2 ul li {
  &.cat-item-823 {
    a:first-child {
      display: none;
    }
    &:before {
      display: none;
    }
  }
  ul.children li a{
    display: block !important;
  }
}



//general news
body.category, body.single, body.blog{
  font-family: "Lato";
  font-weight: 100;
  //background-color: $background_news;
  color: $color_gray_dark;
}
.news-content{
  .story{
    .blog-title {
      color: $color_blue_dark;
      font-weight: 500;
      line-height: 1.2em;
      font-size: 24px;
      margin: 15px 0;
      font-family: 'Lato', sans-serif;
      a{
        color: $color_blue_dark;
        text-decoration: none;
      }
    }
  }
  .headline, .page-header{
    border:0;
    margin: 20px 0;
    h1, .page-title{
      border: 0;
      color: $color_blue_dark;
      font-family: 'Lato', sans-serif;
    }
  }
  .hero-image{
    img{
      width: 100%;
    }
  }
  /*.story {
    dt {
      padding-top: 40px;
      a{
        span{

        }
      }
    }
  }*/
}
.page-id-4419{
  .news-content{
    .headline{
      display: none;
    }
    .story dt{
      padding-top: 0;
    }
  }
}

.news-button{
  text-align: center;
  margin: 25px 0 50px;
  a{
    background-color: #e2001a;
    background-image: -webkit-linear-gradient(top, #e2001a, #991a1e);
    background-image: linear-gradient(to bottom, #e2001a, #991a1e);
    border-radius: 3px;
    border: 0;
    color: #fff;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
    outline: none;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 200px;
    -webkit-transition: .2s;
    transition: .2s;
    &:hover{
      color: #fff;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
#search-page{
  padding-top: 40px;
}