@import "vars";

.subscribe-section{
  font-family: "Lato";
  font-weight: 100;
  background: $color_blue_light url(../images/bg-news.png);
  color: #fff;
  overflow: hidden;
  padding: 30px 0;
  font-family: "Lato";
  .inner-subscribe-section{
    text-align: center;
    h2{
      font-size: 32px;
      font-family: "Lato";
      font-weight: 500;
    }
    p{
      font-size: 19px;
      margin: 0px 240px;
    }
    .form-subscribe{
      padding-top: 10px;
      .input-field{
        padding: 0px 10px;
        input{
          width: 100%;
          padding: 3px 15px 5px;
          background: transparent;
          border-radius: 5px;
          border: 2px solid #fff;
          color: #fff;
          font-weight: 100;

          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #fff;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #fff;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #fff;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #fff;
          }
          @media screen and (max-width: 500px) {
            padding: 10px 15px 12px;
          }
        }
        input[type="submit"]{
          background: #ffffff;
          color: $color_blue_light;
          text-transform: uppercase;
          font-weight: 400;

         }
        input[type="text"]{
          text-transform: capitalize;
         }
        input[type="email"]{
          
         }
        @media screen and (max-width: 768px){
          text-align: center;
          padding: 0px 5px;
        }
      }
    }


        
      /*@media only screen and (max-width: 940px) {
  
        .input-field input[value="Subscribe Now"]{
          font-size:14px;
          padding: 3px 0px 5px;
          width:90%;
          }
        .input-field input[type="email"]{
          font-size:15px;
          padding: 3px 0px 5px;
          width: 90%;
          }
        .input-field input[type="text"]{
          font-size:15px;
          padding: 3px 0px 5px;
          width:90%;
          }
        }*/
        @media screen and (max-width: 1280px){
         p{
          font-size: 19px;
          margin: 0px 0px;
          }
        }
  }
}
.featured-news{
  padding: 0px 0 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  .story dt{
    width: 100%;
    float: none;
    a{
      span{
        padding-top: 0px;
      }
    }
  }
  .img-featured{
    img{
      width: 100%;
    }
  }
  .info-news, .entry-meta{
    overflow: hidden;
    margin: 2px 0;
    span{
      display: inline-block;
      &.category, &.cat-links{
        float: left;
        color: $color_blue_light;
        a{
          color: $color_blue_light;
        }
        ul {
          padding: 0;
          margin: 0;
          li {
            padding: 0;
            margin: 0;
            list-style: none;
          }
        }
      }
      &.shares{
        float: right;
      }
    }
  }
  .desc-featured{
    font-size: 16px;
    color: #222;
    h1{
      color: $color_blue_dark;
      font-weight: 500;
      line-height: 1.2em;
      font-family: 'Lato', sans-serif;
      font-size: 32px;
      a{
        color: #1e74b9;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
  .postedby-featured{
    overflow: hidden;
    color: $color_blue_postedby;
    font-size: 14px;
    position: relative;
    .img-postedby, .entry_author_image{
      width: 51px;
      height: 51px;
      border: 3px solid $color_blue_dark;
      background: $color_blue_dark;
      border-radius: 50%;
      overflow: hidden;
      float: left;
      img{
        width: 100%;
      }
    }
    .info-postedby{
      //float: left;
      padding: 10px;
      font-weight: bold;
      line-height:1.5em;
      position: absolute;
      top: 50%;
      left: 51px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform:    translateY(-50%);
      -ms-transform:     translateY(-50%);
      -o-transform: translateY(-50%);
      span.name-post {
        color: $color_blue_light;
      }
      span.date-posts{
        display: block;
      }
    }
  }
  //usracing featured
  .story{
    font-size: 18px;
    color: #222;
    .blog-title{
      color: $color_blue_dark;
      font-weight: 500;
      line-height: 1.2em;
      font-size: 38px !important;
      margin: 20px 0;
      a{
        color: $color_blue_dark;
        text-decoration: none;
      }
    }
  }
  .blog-date{
    display: none;
  }
}

.list-news{
  display: block;
  //background: green;
  overflow: hidden;
  .story dt{
    width: 100%;
    float: none;
  }
  article{
    margin-bottom:37px;
  }
  .item-news{
    overflow: hidden;
    margin: 15px 0;
    @media (min-width: 768px) and (max-width: 1024px){
      padding: 0 20px;
    }

    .img-news {
      max-height: 200px;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
    .info-news, .entry-meta{
      overflow: hidden;
      padding: 2px 0;
      span{
        display: inline-block;
        &.category, &.cat-links{
          float: left;
          color: $color_blue_light;
          font-size: 14px;

          a{
            color: $color_blue_light;
          }
          ul{
            margin: 0;
            padding: 0;
            li{
              margin: 0;
              padding: 0;
              display: inline-block;
              list-style: disc;
              font-weight: 500;
              &:before{
                content:" | ";
              }
              &:first-child::before{
                content: "";
              }
            }
          }
        }
        &.shares{
          float: right;
        }
      }
    }
    .title-news{
      h3{
        color: $color_blue_dark;
        font-weight: 500;
        line-height: 1.2em;
        font-size: 22px;
        margin-top: 10px;
        a{
          color: $color_blue_dark;
          text-decoration: none;
        }
      }
    }
    .postedby-news{
      overflow: hidden;
      color: $color_blue_postedby;
      font-size: 14px;
      margin-bottom: 14px;
      position: relative;
      .img-postedby, .entry_author_image{
        width: 51px;
        height: 51px;
        border: 3px solid $color_blue_dark;
        background: $color_blue_dark;
        border-radius: 50%;
        overflow: hidden;
        float: left;
        img{
          width: 100%;
        }
      }
      .info-postedby{
        //float: left;
        padding: 10px;
        font-weight: bold;
        width: 75%;
        line-height:1.5em;
        position: absolute;
        top: 50%;
        left: 51px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform:    translateY(-50%);
        -ms-transform:     translateY(-50%);
        -o-transform: translateY(-50%);
        span.name-post {
          color: $color_blue_dark;
        }
        span.name-author{
          color: $color_blue_light;
          a{
            color: $color_blue_light;
          }
        }
        span.date-posts{
          display: block;
        }
      }
    }
    //usracing page
    .story{
      font-size: 16px;
      color: #222;
      border:0 !important;
      dt{
        width: 100%;
        float: none;
      }
      .blog-title{
        color: $color_blue_dark;
        font-weight: 500;
        line-height: 1.2em;
        font-size:   22px;
        margin: 15px 0;
        a{
          color: $color_blue_dark;
          text-decoration: none;
          font-weight: bold;
        }
      }
      p{
        min-height: 140px;
        margin-bottom: 10px;
        @media screen and (max-width: 767px){
          min-height: auto;
        }
      }
    }
  }
  .blog-date{
    display: none;
  }
}

.sidebar{
  padding: 30px 0;
  @media screen and (max-width: 767px){
    padding: 30px 20px !important;
  }
  .search-box, .search-form{
    label{
      display: block;
      background: #fff url(../images/search.png) 10px center no-repeat;
      margin-bottom: 0;
    }
    input{
      border: 2px solid $color_blue_light;
      width: 100%;
      border-radius: 5px;
      padding: 3px 20px 5px 34px;
      //text-transform: uppercase;
      color: $color_blue_light;
      background: transparent;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color_blue_light;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $color_blue_light;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $color_blue_light;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $color_blue_light;
      }
    }
  }
}
.widget-box, .widget{
  margin: 0 0 20px;
  border: 1px solid $border_widget_box;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  .inner-widget, .textwidget, .rpwe-block {
    padding: 15px;
  }

  .head-box, .panel-heading{
    color: #ffffff;
    background: $color_blue_dark !important;
    padding: 10px 20px;
    text-align: left;
    //border-top-right-radius: 5px;
    //border-top-left-radius: 5px;
    h3{
      color: #fff !important;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
  h5{
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 15px;
  }
  p{
    font-size: 14px;
  }
  ul{
    li.rpwe-li{
      h3.rpwe-title{
        font-family: 'Lato', sans-serif;
        margin-bottom: 15px;
        font-size: 15px;
        color: #555;
        font-weight: 500;
        a{
          color: #555;
        }
      }
    }
  }
  .join-button-container{
    //text-align: center;
    margin: 10px 0 20px;
    .join-button {
      background: #d21428;
      color: #fff;
      padding: 10px;
      border-radius: 3px;
      font-size: 14px;
      text-decoration: none;
    }
  }
}
#text-4, #search-2{
  border: 0;
  .textwidget{
    padding: 0 !important;
  }
}
#search-2 {
    @media screen and (max-width: 768px){
        display:none;
    }
}
#text-5{
  .textwidget{
    padding: 0 !important;
  }
  .social{
    border-bottom: 1px solid $border_widget_box;
    .fa{
      color: #bddae6;
      background: #f6fafb;
      width: 36px;
      text-align: center;
      padding: 9px 0;
      font-size: 20px;
      border-right: 1px solid $border_widget_box;
    }
  }
}
#archives-2, #categories-2{
  ul{
    display: block;
    margin: 0;
    padding: 15px;
    li {
      list-style: none;
      font-size: 13px;
      a{
        padding-left: 12px;
        color: $color_blue_light;
        text-transform: uppercase;
        text-decoration: none;
      }
      &:before {
        float: left;
        content: " ";
        border-radius: 50%;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid $color_gray_light;
        width: 14px;
        height: 14px;
        display: block;
        margin-right: 2px;
        margin-top: 3px;
        vertical-align: top;
        float: left;

      }
      &:hover{
        //padding-left: 0;
      }
      &:hover::before{
        //content: '•';
        //font-size: 38px;
        border: 1px solid $color_blue_light;
        background: $color_blue_light;
      }
      ul{
        margin: 0;
        padding: 0;
        li{
          padding: 0;
          a{
            padding-left: 25px;
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}

#categories-2 ul li {
  &.cat-item-823 {
    a:first-child {
      display: block;
    }
    &:before {
      display: none;
    }
  }
  ul.children li a{
    display: block !important;
  }
}

/**changing**/
#text-8 ul {
  display: block;
  margin: 0;
  padding: 15px;
  li {
    list-style: none;
    font-size: 13px;
    a {
      padding-left: 12px;
      color: #079fed;
      text-transform: uppercase;
      text-decoration: none;
      &:before {
        float: left;
        content: " ";
        border-radius: 50%;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        width: 14px;
        height: 14px;
        display: block;
        margin-right: 2px;
        margin-top: 3px;
        vertical-align: top;
        float: left;
      }
      &:hover::before {
        border: 1px solid #079fed;
        background: #079fed;
      }
    }
  }
}

#text-7{
  border: 0;
  .textwidget{
    padding: 0 !important;
    border: 0;
    text-align: center;
    img{
      width: 100%;
      @media screen and (max-width: 768px){
        width: auto;
      }
    }
  }
}
//categories latest racing news
  li.cat-item-823 a[href="https://www.usracing.com/news"]:before{
    float: left;
    content: " ";
    border-radius: 50%;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    width: 14px;
    height: 14px;
    display: block;
    margin-right: 10px;
    margin-top: 3px;
    vertical-align: top;
    float: left;
  }
  li.cat-item-823 a[href="https://www.usracing.com/news"]:hover::before{
    background:#079fed;
    background-clip: padding-box;
    border: none;
  }
  li.cat-item-823 a[href="https://www.usracing.com/news"]{
    padding-left:0px !important;
  }
  li.cat-item-356{
    margin-top:9px;
  }




//general news
body.category, body.single, body.blog{
  font-family: "Lato";
  font-weight: 100;
  //background-color: $background_news;
  color: $color_gray_dark;
}
.news-content{
  .story{
    .blog-title {
      color: $color_blue_dark;
      font-weight: 500;
      line-height: 1.2em;
      font-size: 24px;
      margin: 15px 0;
      font-family: 'Lato', sans-serif;
      a{
        color: $color_blue_dark;
        text-decoration: none;
      }
    }
  }
  .headline, .page-header{
    border:0;
    margin: 20px 0;
    margin-top: 0px;
    padding: 0 20px;
    @media screen and (max-width: 767px) and (min-width: 0px){
        padding-left: 0px;
    }
    h1, .page-title{
      border: 0;
      color: $color_blue_dark;
      line-height: 1em;
      font-family: 'Lato', sans-serif;
    }
  }
  .hero-image{
    img{
      width: 100%;
    }
  }

}
.single .news-content{
    .headline {
        margin-top: 20px;
    }
}
.page-id-4419{
  .news-content{
    .headline{
      display: none;
    }
    .story dt{
      padding-top: 0;
    }
  }
}

.news-button{
  text-align: center;
  margin: 25px 0 50px;
  a{
    background-color: #e2001a;
    background-image: -webkit-linear-gradient(top, #e2001a, #991a1e);
    background-image: linear-gradient(to bottom, #e2001a, #991a1e);
    border-radius: 3px;
    border: 0;
    color: #fff;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
    outline: none;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 200px;
    -webkit-transition: .2s;
    transition: .2s;
    &:hover{
      color: #fff;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
#search-page{
  padding-top: 40px;
}
.archive{
  .widgetheader{
    margin-top:30px;
  }
}
body.archive aside#rpwe_widget-2{
  display:none; 
}
body.home aside#rpwe_widget-2{
  display:none;
}
body.home aside#email-subscribers-3{
  display:none; 
}
.rpwe-block h3{
    a{
      color:$color_blue_dark !important;
      font-size:16px !important;
      font-weight: bold;
    }
}
#rpwe_widget-2 a.more-link{
display:none !important;
}
#email-subscribers-3{
  .es_widget_form{
    padding:0 20px;
  }
  .es_textbox input{
    width:100%;
  }
  .es_button{
    text-align:center;
    input{
      background: #d21428;
      color: #fff;
      padding: 10px;
      border-radius: 3px;
      font-size: 14px;
      text-transform:uppercase;
      text-decoration: none;
      border:none;
    }
  }
}
#categories-3{
  display:none;
   @media screen and (max-width: 768px){
    display: block !important;
    line-height:initial;
    margin: 2.5em 0;
      .widget select{
        width:100% !important;
        max-width:none !important;
    }
  }
  
}
#categories-2{
   @media screen and (max-width: 768px){
    display: none !important;
  }
}
.widgetheader{
  display:none !important;
  @media screen and (max-width: 768px){
    display: block !important;
    .widget{
      width: 95%;
      margin: 0 auto;
      //border: 2px solid #079fed;
      border: none;
      border-radius: 5px;
      margin-bottom:20px;
    }
    .categoriesleft{
      width:50%;
      float:none;
      .widget{
        h2{
          display: none;
        }

      }
      select{
        color:#079fed;
        max-width: none;
        width: 100%;
        -webkit-appearance:menulist !important;
        padding:6px 20px 6px 10px;
        height: 42px;
        border: 2px solid #079fed;
        margin-bottom: 10px;
        @media screen and (max-width: 500px){
          height: 51px;
        }
      }
    } 
    .searchright{
      width: 50%;
      float: left;
      display: none;
      label{
        display:initial;
        input{
          outline: none;
          width: 100% !important;
          padding: 3px 20px 5px 34px;
          border: none;
          display: block;
          background: #fff url(../images/search.png) 10px center no-repeat;
          margin-bottom: 0;
          color: #079fed;

          &::-webkit-input-placeholder{
          color:#079fed;
          }
          @media screen and (max-width: 500px){
            padding: 10px 20px 12px 34px;
          }
       }
      }
    }   
  }
  @media screen and (max-width: 568px){
    display: block !important;
    .widget{
      width:100%;
      margin:0 auto;
      border: 2px solid #079fed;
      border-radius: 5px;
      margin-bottom:20px;
    }
    .categoriesleft{
      width:100%;
      margin-top:10px;
      h2{
        display: none;
      }
    } 
    .searchright{
      margin-bottom: 10px;
      width: 100%;
      input{
        outline: none;
        padding: 0px 0px 0px 35px;
        border: none;
        display: block;
        background: #fff url(../images/search.png) 10px center no-repeat;
        margin-bottom: 0;
        &::-webkit-input-placeholder{
        color:#079fed;
        }
      }
    }   
  }
  h2{
      background: #1e74b9 !important;
      padding: 10px 20px;
      text-align: left;
      border-bottom: 1px solid transparent;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      color: white;
      margin: 0px !important;
      font-weight: 300;
      font-family: "Lato";
    }
}
.ctct-form-errorMessage{
  margin-top:-25px;
}
.showafterform{
  display: none;
  h3{
    color: #fff;
    font-weight: 500;
    font-family: "Lato"
  }
}
.fb-like{
  top: -3px;
  width:0px;
  background: linear-gradient(#4c69ba, #3b55a0);
  border-radius:3px;
 
}
//quitar latest news ipad hasta mobile
.single-post{
  @media screen and (max-width:1024px) and (min-width: 320px) {
    #rpwe_widget-2{
      display:none;
    }
  }
  @media (orientation:landscape) {
    #rpwe_widget-2{
        display:block;
    }
  }
}
  @media screen and (max-width: 768px){
    #main {
    padding-top: 20px !important;
  }
}
.home #left-col .headline{
display:none;
}

.wp-pagenavi {
    margin-bottom: 30px;
}

.wp-pagenavi a, .wp-pagenavi span.current {
    text-decoration: none;
}
.wp-pagenavi a {
    color: #222;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current:hover {
    text-decoration: none;
    color: $color_blue_light;
}

.single .widgetheader {
    margin-top: 40px;
}
#email-subscribers-2,#text-6 {
    display: none;
}
.single #email-subscribers-2 , .single #email-subscribers-custom, .single #text-6{
    display: block;
}
// email 
#email-subscribers-custom , #email-subscribers-2{
    label {
        display:none;
        color: #d21428;
    }
    .showafterform {
        text-align: center;
        padding-top:0px;
        padding-bottom: 10px;
        /*padding: 0px 20px 10px;*/
        h3 {
            color: #222;
        }
    }
    .es_textbox {
        text-align: center;
        padding-top:0px;
        padding-bottom:10px;
        /*padding: 0px 20px 10px;*/
        .es_textbox_class {
            border-radius: 3px;
            border: 1px solid #DCE0E3;
            width: 100%;
          @media screen and (max-width: 500px){
            padding: 10px 10px 12px;
          }
        }
    }
    .es_lablebox {
        padding-top:3px;
        padding-bottom: 3px;
        /*padding: 3px 20px;*/
    }
    .es_button {
        margin-bottom: 5px;
        padding-top: 10px;
        padding-bottom: 5px;
        /*padding: 10px 20px 5px;*/
        text-align: center;
        .es_textbox_button {
            background: #d21428;
            color: #fff;
            padding-top: 6px;
            padding-bottom: 6px;
            border-radius: 5px;
            font-size: 14px;
            text-transform: uppercase;
            width: 100%;
            border:0;
            font-weight: 500;
          @media screen and (max-width: 500px){
            padding-top: 12px;
            padding-bottom: 12px;
          }
        }
    }
    .ctct-form-errorMessage {
        margin-top: 0px;
        text-align: left;
        color: #d21428;
    }
}

.taxonomy-description {
  display: none ;
  p {
    padding-left: 20px;
    @media screen and (max-width: 768px) {
      padding-left: 0px;
    }
  }
}
.single-format-standard.single.single-post .archives-link{
  display: none
}

