#top { 
    height: initial!important;
    padding: 20px 0px!important;
    .logo  {
        margin-left: 15px;
        img{
            margin-top: 0px!important;
            margin-bottom: 0px!important;
        }
    }
}
@media screen and (max-width: 767px){
    #top .logo-lrg img {
        margin-top: 0px!important;
        margin-bottom: 0px!important;
    }
}