<!--------- NEW HERO - MAY 2017 ---------------------------------------->

<div class="newHero" style="background-image: url({$hero});">
 <div class="text text-xl-left">{$h1}</div>
 	<div class="text text-md-left">{$h2}
	 	<br>
	 		<a href="/signup?ref={$ref}"><div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i>{$signup_cta}</div></a>
	</div>

 </div>

<!--------- NEW HERO END ---------------------------------------->   
     

<div id="main" class="container">
<div class="row">
<div id="left-col" class="col-md-9">

          



<div class="content">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->

<p>{include file='/home/ah/allhorse/public_html/shared/promos/bs-10-reload-bonus.php'} </p>

 <p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">{$button_cta}</a></p>   


<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->







<div id="right-col" class="col-md-3">
<!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- -->

{include file='inc/rightcol-calltoaction.tpl'} 


{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 


<!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- -->
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- end/container -->
