<!--------- NEW HERO - MAY 2017 ---------------------------------------->

<div class="newHero" style="background-image: url({$hero});">
 <div class="text text-xl">{$h1}</div>
 	<div class="text text-md">{$h2}
	 	<br>
	 		<a href="/signup?ref={$ref}"><div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i>{$signup_cta}</div></a>
	</div>
 </div>
 
<!--------- NEW HERO END ---------------------------------------->      


<div id="main" class="container">
<div class="row">
<div id="left-col" class="col-md-9">

          
          

<!-- ---------------------- h1 MAIN TITLE contents ---------------------------------------------- --> 






<!-- ---------------------- end h1 MAIN TITLE contents ------------------------------------------ --> 
<!-- end/headline -->

 





<div class="content">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->





<div class="headline"><h1>{$h1}</h1></div>
{* <p>{include_php file='/home/ah/allhorse/public_html/shared/promos/blackjack-tournament-belmont.php'} </p> *}

<p>{include_php file='/home/ah/allhorse/public_html/shared/promos/preakness-stakes-blackjack-tournament.php'} </p>

{* <p>{include_php file='/home/ah/allhorse/public_html/shared/promos/belmont-stakes-blackjack-tournament.php'} </p> *}

 <p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">{$button_cta}</a></p>   

<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->







<div id="right-col" class="col-md-3">
<!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- -->
	 <!-- ------------------------ CTA -------------------------- -->
	 <div class="calltoaction">

<h2>I Want to Play <br>Blackjack!</h2>
{*<h3>Get a $150 Sign Up Bonus!</h3>
*}
{* <h2>Free Bet on the<br>Belmont Stakes!</h2> *}
{* <h2>Free Bet on the<br>Kentucky Derby!</h2> *}
<h3>I've so got this..  </h3>

{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}
{* {include file='inc/rightcol-calltoaction.tpl'}  *}


{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
	 <!-- ------------------------ CTA ends -------------------------- -->

<!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- -->
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- end/container -->
