      
<div class="container-fluid">
	<a href="/signup?ref={$ref}"><img class="img-responsive visible-md-block hidden-sm hidden-xs" src="{$hero}" alt="{$hero_alt}"></a>
	<a href="/signup?ref={$ref}"><img class="img-responsive visible-sm-block hidden-md hidden-lg" src="{$hero_mobile}" alt="{$hero_alt}"> </a>
</div>        

</div>      

<div id="main" class="container">
<div class="row">
<div id="left-col" class="col-md-9">

          



<div class="content">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->
<div class="headline"><h1>{$h1}</h1></div>

<p>{include_php file='/home/ah/allhorse/public_html/shared/promos/free-belmont-bet.php'} </p>

 <p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">{$button_cta}</a></p>   

<p>{include file='inc/disclaimer-kd.tpl'} </p>
<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->







<div id="right-col" class="col-md-3">
<!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- -->

{include file='inc/rightcol-calltoaction-ps.tpl'} 


{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 


<!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- -->
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- end/container -->
