{assign var="ref" value="blackjack-tournament"}
<div id="main" class="container">
<div class="row">
<div id="left-col" class="col-md-9">

          
          

<!-- ---------------------- h1 MAIN TITLE contents ---------------------------------------------- --> 






<!-- ---------------------- end h1 MAIN TITLE contents ------------------------------------------ --> 
<!-- end/headline -->

 





<div class="content">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->


<p><a href="/signup?ref={$ref}"><img class="img-responsive" src="https://www.usracing.com/img/promos/blackjack-tournament.jpg" alt=" Blackjack Tournament"></a></p>



<div class="headline"><h1>Kentucky Derby Blackjack Tournament</h1></div>
{include file='/home/ah/allhorse/public_html/shared/promos/blackjack-tournament.php'} 
<p></p>
<p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">Play Now</a></p><br>
<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->







<div id="right-col" class="col-md-3">
<!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- -->
	 <!-- ------------------------ CTA -------------------------- -->
	 <div class="calltoaction">

<h2>I Want to Play <br>Blackjack!</h2>
<h3>I've so got this..  </h3>

<span id="object"><i class="animated floating fa fa-map-marker"></i></span>
  <form class="form-signin" method="post" action="https://www.betusracing.ag/signup?ref={$ref}" role="form">
	<div class="form-group account-group"><input type="hidden" name="ref" value="{$ref}"></div>
	<div class="form-group account-group"><input type="hidden" name="cta" value="{$cta}"></div>
	<div class="form-group account-group"><input type="hidden" name="cta_sub" value="{$cta_sub}"></div>
	<div class="form-group account-group">	
	  <input  class="form-control" placeholder="First Name" name="first_name" required="" type="text"></div>
	  <div class="form-group account-group">	
	  <input  class="form-control" placeholder="Last Name" name="last_name" required="" type="text"></div>
	  <div class="form-group account-group">	
	  <input  class="form-control" placeholder="Email address" required="" name="email" autofocus="" type="email"></div>
				
			
	  <div class="form-group login-group">	
	  <input name="step" value="front" type="hidden">
	  <center>
       <button type="submit"  class="btn btn-sm btn-red" id="signupBtn">&nbsp;&nbsp; Sign Up  &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-angle-right"></i></button>
      </center></div>
	</form>
</div>
{literal}
<script type="text/javascript">
$( document ).ready(function() {
$(".calltoaction #object").delay(500).queue(function(next) {
  $(this).addClass("animated bounceInDown").css("visibility", "visible");
  next();
}).delay(600).queue(function(next) {
  $(".calltoaction h2").addClass("animated tada"); 
  next();
}).delay(600).queue(function(next) {
  $(".calltoaction .fa-angle-right").addClass("animated fadeInLeft").css("visibility", "visible");; 
  next();
});
});
</script>
{/literal}

{* {include file='inc/rightcol-calltoaction.tpl'}  *}


{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
	 <!-- ------------------------ CTA ends -------------------------- -->

<!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- -->
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- end/container -->
