/*
Theme Name: US Racing
Theme URI: http://www.usracing.com
Author: US Racing
Author URI: http://www.usracing.com
Description: Online Horse Betting with full track odds and live video.  Bet safely with U.S. licensed online horse racing from home or your mobile.
Version: 1.1.1
License URI: Copyright US Racing
Tags: online horse betting, online horse racing
/* WP tweaks */

.wp-hide { display:none;}
.edit-link { float:right;}
	
/* Alignment */
.alignleft { display: inline; float: left; margin-right: 1.5em; }
.alignright { display: inline; float: right; margin-left: 1.5em; }
.aligncenter { clear: both; display: block; margin: 0 auto; }
/* Images and wp-captions should always fit and be responsive */
img { display: inline-block; height: auto; max-width: 100%; }
img[class*="wp-image-"] { margin-top: 10px; margin-bottom: 10px; }
.wp-caption { border: 1px solid #ccc; margin-bottom: 10px; max-width: 100%; border: 1px solid #ccc; border-radius: 4px; padding: 0 10px; }
.wp-caption.aligncenter { margin-bottom: 10px; }
.wp-caption img[class*="wp-image-"] { display: block; }
.wp-caption .wp-caption-text { text-align: center; margin-top: 10px; }
/* WP Gallery */
.gallery { margin-bottom: 1.5em; }
.gallery a img { border: none; height: auto; max-width: 90%; }
.gallery dd { margin: 0; }
/* Make sure embeds and iframes fit their containers */
embed, iframe, object { max-width: 100%; }
/* Text meant only for screen readers */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; }
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar */ }
/* Content */
.main-content-inner { padding-bottom: 1.5em; }
.hentry { margin: 0 0 1.5em; }
/* Clearing */
.clear { clear: both; }
.widget { margin-bottom: 2em; }
.widget_nav_menu ul.sub-menu li, .widget_pages ul.children li { padding-left: 15px; }
.widget_search .search-form input[type="submit"] { display: none; }
.widget select { max-width: 100%; }
#categories-3 select { width: 100%; }
/*.widget.widget_text { background:none; border:none; margin:0; padding:0; }
.widget.widget_text .panel-heading { background:none; border:none; margin:0; padding:0; color:#444; }
.widget.widget_text .panel-body { background:none; border:none; margin:0; padding:0; color:#444; }
*/
.comment .children { margin-left: 1.5em; } 
article footer { clear:both; padding-top:10px; }
 
.btn-simple { padding:0; }
.btn-simple a { padding:3px 10px; display:block;  }
.btn-simple:hover a, .btn-simple a:hover { color:white; text-decoration:none; }
.tags-links {
    display: none;
}

/*this rulles hide aside content*/
.category-805 #rpwe_widget-2, .category-805 #archives-2{display: none}
.category-806 #rpwe_widget-2, .category-806 #archives-2{display: none}
.category-807 #rpwe_widget-2, .category-807 #archives-2{display: none}
.category-808 #rpwe_widget-2, .category-808 #archives-2{display: none}
.category-809 #rpwe_widget-2, .category-809 #archives-2{display: none}
.category-823 #rpwe_widget-2, .category-823 #archives-2{display: none}

/*  
 == Quick CSS styling tips ==

 You can start off in a rough direction with some minimal styles.
 See below for some tips. ;)

  
 == Want to have the whole site wrapped? ==  
  
 Just fill the .container class with some background color to have a the whole site "wrapped".
 This works so easy because every main part is wrapped only once into a container class by bootstrap. 
 Try out by decommenting the next line and go from there. 
	
 .container { background: #f9f9f9; border-right: 1px solid #eee; border-left: 1px solid #eee; }


 == Want to wrap just the content and sidebar in Bootstrap style? == 
  
 That one is a great example to show that some things are much cleaner and easier to do via just adding some HTML classes. 
 In this case, we will add just one CSS class "panel", look for example at the beginning in content.php! 
 
 
 == Infinite Scrolling by Jetpack ==
 You can enable this cool feature by simply decommenting the lines below and make sure you use the same classes on the right place in your html.. 

/* Globally hidden elements when Infinite Scroll is supported and in use. 
 * Older / Newer Posts Navigation (the pagination, must always be hidden), Theme Footer only when set to scrolling.. */ 

/* 
.infinite-scroll .page-links, 
.infinite-scroll.neverending .site-footer { 
	display: none;
}
*/

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */

/*
.infinity-end.neverending .site-footer {
	display: block;
} 
*/