@charset "UTF-8";
/* CSS Document */

#letterContainer { position:absolute; top:0; left:0; margin:0; padding:0; display:block; width:890px; height:600px; background: url(images/letter-bg4.jpg) top left no-repeat;  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.4); -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.4); 	box-shadow: 0 5px 5px rgba(0,0,0,0.4); font-family:"Helvetica", Arial,Trebuchet MS, sans-serif;  font-size:14px; line-height:17px; }

#letterContainer .banner { position:absolute; left:86px; top:430px; width:auto; height:auto; }
#letterContainer .banner a { display:block; }
#letterContainer .banner img { display:block; border:0; width:auto; height:auto; }
