<div id="RDstepContainer2">

	<div id="usNoteForm">	
 	 <div id="getStarted">
  		<div class="getstartedTitle">Get Started!</div>
    	<div class="lineSep"></div>
  		<div class="firstName"><span>First Name:</span><input type="text" name="rd_firstname" id="rd_firstname" /></div>
    	<div class="emailAddrs"><span>Email:</span><input type="text" name="rd_email" id="rd_email" /></div>
      <div class="betnowSubmit"><input type="button" name="rd_betnow" id="rd_betnow" value="" /></div>
  	</div>
  </div>
  
  <div id="usNoteSorry">	
	<span class="thankyou">Thank you for choosing All Horse Racing.</span>
	<br><br>
	Unfortunately, we are unable to process wagers from your area at the moment. 
	<br><br>
	Thank you for your patience. &nbsp; Please try back later.	
  </div>

</div>
<script language="javascript">
$('#rd_betnow').click(function(){
	var name_ = $('#rd_firstname').val();
	var email_ = $('#rd_email').val()
	var param = { name:name_ , email:email_, state:state_ };
	saveDefault(param);	
	$('#usNoteForm').css({
				display:'none'				
			});	
	$('#usNoteSorry').css({
				display:'block'				
			});			
});
</script>