<div id="letterContainer">

<a rel="nofollow" class="mail1" href="mailto:vip@allhorseracing.com" target="_blank"></a>  
 	
<div class="banner"><a href="http://www.gohorsebetting.com/" rel="nofollow"><img src="/includes/redirect/images/ghb-banner.jpg" width="481" border="0" /></a></div>
    
</div><!-- end: letterContainer -->
