/*======================== CASINO ================================================================================ */

  .casino-tabs { position: relative; }
  .casino-tabs ul.tabs { z-index: 1; }
  .casino-tabs .panes { display: block; margin: 0; padding: 0; width: 100%; height: 100%;   }
  .gamesarea { clear: both; width: 100%; height: 100%; margin: 0; padding: 0; background: #000; color: #FFF; }
  
  
  


div.panes div.gameitem
{
clear:none;
padding-bottom: 20px;
}

.gameitem
{
float: left;
margin-left:35px;
}

.gameitem tbody
{
border: 0px;
}

.gameitem-image { border: 1px solid #2c6fc8; }


.gameitem-name
{
color: #ffffff;
font-size: 13px;
font-weight: bold;
padding-bottom: 4px;
}

.gameitem-playmodes
{
color: #609ce7;
font-size: 10px;
font-weight: bold;

}

.gameitem-playmodes span
{ padding: 0 5px; }

.gameitem-playmodes-over a
{
color: #c5e1ff;
font-size: 10px;
font-weight: bold;
}

.gameitem-playmodes span.playmode-disabled, .gameitem-playmodes span.playmode-disabled:hover { display:none; color: #666; text-decoration: none; cursor: default; padding:0; }


.gameitem-info
{
padding-left: 12px;
padding-top:5px;
height: 45px;
width: 190px;

}

.gameitem-info-over
{
padding-left: 12px;
padding-top:5px;
height: 45px;
width: 190px;
color: #609ce7;
font-size: 10px;
font-weight: bold;
background-image: url(/modules/allhorseracing/casino/gameitem_bg.png);
}
.gameitem-info-over span
{ padding: 0 5px;
}

.gameitem-info-over .gameitem-playmodes-over span.playmode-disabled, .gameitem-info-over .gameitem-playmodes-over span.playmode-disabled:hover { display:none; color: #666; text-decoration: none; cursor: default; padding:0; }

body.nodemo { background: #000; margin:0; text-align: center; }
div.nodemo-message { display: block; padding-top: 240px; font: 14px "Helvetica", Arial, Trebuchet MS, Trebuchet, sans-serif; line-height: 16px; color:#FFF; font-weight: bold; }
div.nodemo-message a:link, div.nodemo-message a:visited, div.nodemo-message a:active  { margin: 0; padding: 0; text-decoration:none; color: #1b579f }
div.nodemo-message a:hover { text-decoration: underline; color: #1b579f }

  
