#slideflow {
	height: 230px;
	position: relative;
	padding-bottom:0;
	cursor: default;
	
}

#slideflow img {
	position:absolute;
	top:0px;
}

/* For future use - these don't work with IE6 */
.closedHand {
	cursor: url(/sites/all/modules/allhorseracing/slideflow/images/closedhand.cur), move !important;
}

.openHand {
	cursor: url(/sites/all/modules/allhorseracing/slideflow/images/openhand.cur),  default !important;
}

.selectable {
	cursor: pointer !important;
}