﻿.main-content { padding-top: 20px; }
#clubhouse_holder .float_left { float: left; width:27%; }
#clubhouse_holder .float_right { float: right; width:71%; margin-left:2%;}

.buttons { width:100%; margin-bottom:20px; overflow:hidden;  }
.buttons .col-md-4 { float:left; padding:0; margin:0; width: 33.33333333333333%;  }
.buttons a { width:auto; text-align:center; display:block; overflow:hidden; margin-left:20px; position:relative;  }
.buttons a i { position:absolute; left:4px; top:12px; font-size:22px;   }
.buttons a i.fa-ticket { top:11px; font-size:24px;   }
.buttons a i.fa-clock-o { font-size:23px;   }
.buttons .col-md-4:first-child a { margin-left:0; }
#summary { border:0; margin-bottom:20px;  }
#summary h3 { border:1px solid #ccc; }
#summary h3 span { font-size:20px;  }
#summary span { font-weight:700;  }
#summary .left { float:left; }
#summary .right { border-left:1px solid #ccc; padding-left:15px;  float:right; width:30%; }
#summary .right span { float:left; }
#summary .right a { float:right; font-weight:600;  }

#clubSlider { clear:both; margin-bottom:20px; overflow:hidden; position:relative; width:auto; border:1px solid #ccc;  -ms-border-radius: 4px;  -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; }
.royalSlider { width:100%; height:auto;  }
.royalSlider .rsImg { position:absolute; top:0; left:0; width:100%; height:auto; -ms-border-radius: 4px;  -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;   }
.rsNavLabel {height:44px; line-height:44px; font-family:"proxima-nova-condensed",Trebuchet MS1,Trebuchet MS,sans-serif; font-weight:700; font-size:20px;  background: #003158;  color: #fff; border:0; display:block; position:absolute; bottom:0; left:0; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; width:auto; margin:0; padding:0 25px 0 15px;  z-index:20;  }

.rsContent .infoBlock { font-family:"proxima-nova-condensed",Trebuchet MS1,Trebuchet MS,sans-serif; left:39%; width:330px; position:absolute; top:30px;  text-align:center;  }
.rsContent .infoBlock.wide { width:380px; margin:0 auto; position:relative; left:auto; }
.rsContent .infoBlock.center { margin:0 auto; position:relative; left:auto; text-align:center; }
.rsABlock { width:100%; color:#000; position:relative; font-weight:700; margin-bottom:5px; display:inline-block;}
.rsABlock.headlineLrg { font-size:55px; line-height:50px; }
.rsABlock.headlineMed { font-size:35px; line-height:35px; }
.rsABlock.headlineSml { font-size:20px;  font-weight:normal; line-height:22px;}
.rsABlock.btn { color:#fff; max-width:200px; margin:20px auto 0;}
.rsABlock.btn-default { background-color:#C6C6C6 !important; color:#000 !important;  }
.rsABlock.btn-default:hover { background-color:#c6c6c6 !important; color:#000 !important; }
.rsABlock.btn i { position:absolute; left:5px; top:auto; line-height:20px;  }
.rsABlock.btn.left { float:left; margin-left:5%; text-align:center; width:43%; padding-left:0; padding-right:0;  }
.rsABlock.btn.right { float:right;   margin-right:5%; text-align:center; width:43%; padding-left:0; padding-right:0;}
.font20 { font-size:20px;}.font25 { font-size:25px;}.font30 { font-size:30px;}.font35 { font-size:35px;}.font40 { font-size:40px;}.font45 { font-size:45px;}.font50{ font-size:50px;}.font50{ font-size:55px;}

.rsNav.rsBullets { height:44px; line-height:44px;  background: #003158;  color: #fff; border:0; display:block; display:block; position:absolute; bottom:0; left:82px; width:auto; margin:0; padding:0 7px 0 0;  z-index:35; -ms-border-top-left-radius: 4px; -ms-border-top-right-radius: 4px; -ms-border-bottom-right-radius: 0px; -ms-border-bottom-left-radius: 0px; -moz-border-top-left-radius: 4px; -moz-border-top-right-radius: 4px; -moz-border-bottom-right-radius: 0px; -moz-border-bottom-left-radius: 0px; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 0px; -webkit-border-bottom-left-radius: 0px; -khtml-border-top-left-radius: 4px; -khtml-border-top-right-radius: 4px; -khtml-border-bottom-right-radius: 0px; -khtml-border-bottom-left-radius: 0px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;}
.rsNav .rsBullet { font-family:"proxima-nova-condensed",Trebuchet MS1,Trebuchet MS,sans-serif; font-weight:700; width:auto; margin-left:1px; position:relative; height:auto; }
.rsNav .rsBullet:first-child { margin-left:0;  }
.rsNav .rsBullet span { line-height:25px; width:25px; height:25px;  }
.rsNav .rsBullet.rsNavSelected span { color:#444;}
.rsArrow .rsArrowIcn { background-color:transparent; opacity:.8; }
.rsArrow .rsArrowIcn:hover { background-color:transparent; opacity:1; }

/* Carryovers */
#carryover > table { width:94%; margin:20px 3%; }
#carryover h3 i { background-color:#ddd; color:#444; width:24px; line-height:24px; text-align:center; margin-left:5px; cursor:default; -ms-border-radius: 50%;  -moz-border-radius: 50%; -webkit-border-radius: 50%; -khtml-border-radius:50%; border-radius: 50%; font-size:14px; }
#carryover h3 i:hover { color: #fff; background: #C71F24; }

#carryoverMsg { padding:20px; }