{include file="/home/ah/allhorse/public_html/usracing/states/top-of-page-blocks.tpl"}

{************PAGE SPECIFIC COPY*****************************************}
<p>
        <div class="list-text">
	           <div class="list">
                  <p class="list-elem"><a href="/turf-paradise">Turf Paradise</a>
                   Turf Paradise opened in 1956 and is located 18 miles   north of Phoenix Sky Harbor International Airport; 14 miles northwest of   downtown Phoenix. It's the 3rd largest sports attraction in this State   and holds court to one of the longest thoroughbred racing seasons in the   country.</p>
                 </div>
        </div>
</p>                       
                        
                        
               
{************END PAGE SPECIFIC COPY*****************************************}
{include file="/home/ah/allhorse/public_html/usracing/states/end-of-page-blocks.tpl"}

