{include file="/home/ah/allhorse/public_html/usracing/states/top-of-page-blocks.tpl"}
{************PAGE SPECIFIC COPY*****************************************}
<p><div class="list-text">
               
                <div class="list">
                        <p class="list-elem"><a href="/arapahoe-park">Arapahoe Park</a>
Arapahoe Park racing runs from May to August, Fridays, Saturdays and Sundays.</p>         
</div> </div></p>
{************END PAGE SPECIFIC COPY*****************************************}
{include file="/home/ah/allhorse/public_html/usracing/states/end-of-page-blocks.tpl"}