{include file="/home/ah/allhorse/public_html/usracing/states/top-of-page-blocks.tpl"}
{************PAGE SPECIFIC COPY*****************************************}
<p><div class="list-text">
                <div class="list">
                        <p class="list-elem"><a href="/prairie-meadows">Prairie Meadows</a><br>
Prairie Meadows Raceway has a one mile dirt track with a chute   for quarter horses. It held its first race in the spring of   1989, almost six years after the state of Iowa legalized parimutuel betting. The   track hit some hard times in those first few years but got back on track by 1993  and even expanded in 2006.</p>         
</div> </div></p>
{************END PAGE SPECIFIC COPY*****************************************}
{include file="/home/ah/allhorse/public_html/usracing/states/end-of-page-blocks.tpl"}