{include file="/home/ah/allhorse/public_html/usracing/states/top-of-page-blocks.tpl"}
{************PAGE SPECIFIC COPY*****************************************}
<p><div class="list-text"><p>A number of races of national interest are conducted throughout the year including the Hambletonian held at the Meadowlands Racetrack and the <a href="/haskell-stakes">Haskell Invitational</a> at Monmouth Park.</p>
<div class="list">
<p class="list-elem"><a href="/atlantic-city-race-course">Atlantic City Race Course</a> (ACRC), formerly the Atlantic City Race Track, is a thoroughbred horse race track located in the Mays Landing section of Hamilton Township, in Atlantic County, New Jersey, United States. Atlantic City opened in 1946 but the Association was founded in 1944 by a group of businessmen, athletes, and Hollywood personalities, who all shared an unbridled passion for horse racing. Original stockholders included the legendary Bob Hope, Frank Sinatra, and six of the nation's big band leaders. </p>
<p class="list-elem"> <a href="/freehold-raceway">Freehold Raceway</a> was has been hosting races since1853 and is the oldest 1/2 mile track in the United States. It's located in central New Jersey, in the in the historic town of Freehold. Freehold features live Standardbred harness racing for trotters and pacers. In 2005, Freehold was also the temporary home of the Yonkers Trot, part of the Triple Crown of Harness Racing for Trotters.</p>
<p class="list-elem"><a href="/meadowlands"> <a href="/meadowlands">Meadowlands Racetrack</a> is located at the MetLife Sports Complex in East Rutherford, New Jersey. The racetrack is often referred to as &quot;The Big M&quot; and held its first harness race in1976 and thoroughbred racing started the following year. The track is operated by the New Jersey Sports and Exposition Authority.</p>
<p class="list-elem"><a href="/monmouth-park"> <a href="/monmouth-park">Monmouth Park</a>  Racetrack opened in July of 1870, it's located three miles from Long Branch. The current racing structure dates back to the 1940s. The track's main event is the Haskell Stakes which was first run in 1968 as a handicap, but was made into an Invitational Handicap in 1981. It is now a 1-1/8-mile test for three-year-olds run in early August.
</p>
</div> </div></p>
{************END PAGE SPECIFIC COPY*****************************************}
{include file="/home/ah/allhorse/public_html/usracing/states/end-of-page-blocks.tpl"}