{include file="/home/ah/allhorse/public_html/usracing/states/top-of-page-blocks.tpl"}
{************PAGE SPECIFIC COPY*****************************************}
<p><div class="list-text">
<div class="list">
	
   <p class="list-elem"><a href="/aqueduct">Aqueduct Racetrack</a> is a thoroughbred horse-racing facility and racino in South Ozone Park, Queens, New York and it's the only racetrack located within the New York City limits. Aqueduct has three courses. </p>
                    
   <p class="list-elem"><a href="/belmont-park">Belmont Park</a>  is a major thoroughbred horse-racing facility located in Elmont, New York, on Long Island. The track opened its doors on May 4, 1905. Today, Belmont Park is home to one of horse racing's most celebrated races, the Belmont Stakes, the final jewel of racing&rsquo;s Triple Crown. Belmont was been home to the Breeders' Cup championship in 1990, 1995, 2001 and 2005 when it broke the daily betting record. Belmont is known as the &quot;Test of the Champions&quot; because almost every champion in racing history has competed on its racecourse, including every one of the 11 Triple Crown winners.</p>
   <p class="list-elem"><a href="/buffalo-raceway">Buffalo Raceway</a>  opened in June of 1942, shortly after New York State passed a bill allowing pari-mutuel harness racing. The track is located on the Erie County Fairgrounds. With it's proximity to Canada, and an insufficient supply of local horsemen and horses, many Canadian stables arrive in Hamburg every year. The 2010 racing season saw over $250,000 spent on improvements to the facilities. The 1/2 mile track was resurfaced with over 600 tons of material and the Clubhouse had extensive renovations.</p>
   <p class="list-elem"><a href="/finger-lakes">Finger Lakes Race Course</a>, Located in Western New York,  is 20 miles SE of Rochester, NY. Racing began at FingerLakes on May 23,1962 and has approximately 160 race days each season which includes the notable New York Derby. he New York Derby is the second leg of the Big Apple Triple for New York-bred 3-year-olds. </p>
   <p class="list-elem"> <a href="/saratoga">Saratoga Race Course</a>  Opened in 1863,is the oldest organized sporting venue in the United States. It was named one of the world&rsquo;s greatest sporting venues by Sports Illustrated. The  race course is known as the &quot;Graveyard of Champions&quot; as many an upset has happened here. Like Triple Crown winner, Secretariat lost and Gallant Fox was bested by 100-1 longshot Jim Dandy in the 1930 Travers Stakes. </p>
   <p class="list-elem"><a href="/tioga-downs">Tioga Downs</a>  was originally a quarterhorse track known as &quot;Tioga Park&quot; that opened in 1976.  It re-opened on June 9, 2006 offering harness racing, simulcast betting, and over 800 Video Lottery Terminals. </p>
   <p class="list-elem"> <a href="/vernon-downs">Vernon Downs </a>  offers Harness Racing from April to November from Thursday to Saturday with most post times starting at 6:45 p.m. </p>

   <p class="list-elem"><a href="/yonkers-raceway">Yonkers Raceway</a>  located at the corner of Central Park Ave and Yonkers near the border of New York City, opened in 1899. It is a one-half-mile standard bred harness racing dirt track and one of the few that offer harness racing all year. Originally called the Empire City Race Track, Yonkers is now the home of three major harness events: the Yonkers Trot, Art Rooney Pace and Messenger Stakes.
                    </p></div> </div></p>
{************END PAGE SPECIFIC COPY*****************************************}
{include file="/home/ah/allhorse/public_html/usracing/states/end-of-page-blocks.tpl"}