{include file="/home/ah/allhorse/public_html/usracing/states/top-of-page-blocks.tpl"}
{************PAGE SPECIFIC COPY*****************************************}
<p><div class="list-text">
<div class="list">
<p class="list-elem">
	<a href="/portland-meadows">Portland Meadows</a>  opened on September 14, 1946. It's located in Portland,   Oregon, the 28th most populated city in the United States. It began its   first summer meet  in July of 2012. The track hosts both American   Quarter Horse racing and Thoroughbred horse races. </p>
                
</div> </div></p>
{************END PAGE SPECIFIC COPY*****************************************}
{include file="/home/ah/allhorse/public_html/usracing/states/end-of-page-blocks.tpl"}