{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
{include file='menus/instructionalvideos.tpl'}
{include file='menus/howtobetonhorses.tpl'}

{include file='menus/advancedhorsebets.tpl'}
{include file='menus/horsebetting101.tpl'}
<!-- ---------------------- end left menu contents ------------------- -->         
</div>      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
               

 
                                        
          
<div class="headline"><h1>How to Bet on Horses</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


{literal}<script type="text/javascript" src="/smarty-include/js/swfobject.js"></script>{/literal}



<div style="padding-top: 10px;">
<p align="center"><iframe src="/flash/tutorial/Site/index.html" frameborder="0" style="border:0px" width="685" height="391" scrolling="no"></iframe></p>

<p><span>Tours require a Flash Player plug in. Having problems viewing the tutorials?</span></p>

<p>Download the latest Flash Player plug-in.</p>
<p><a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash&amp;promoid=BIOW" target="_blank"><img title="Flash Player" border="0" alt="Flash Player" src="/themes/images/get_flash_player.gif" /></a></p>

</div>        
        

  <!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- end/container -->
