{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
         {include file='menus/instructionalvideos.tpl'}
{include file='menus/howtobetonhorses.tpl'}
{include file='menus/advancedhorsebets.tpl'}
{include file='menus/horsebetting101.tpl'}
<!-- ---------------------- end left menu contents ------------------- -->         
</div>      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
               

 
                                        
          
<div class="headline"><h1>How to Read Past Performances</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


{literal}<script type="text/javascript" src="/smarty-include/js/swfobject.js"></script>{/literal}



    
<div>

<div style="padding-top: 10px;" id="flashmovie3">Past Perfomance Flash Movie not loaded</div>

{literal}<script type="text/javascript">		
  var so = new SWFObject("/flash/form.swf", "pastPerformances", "685", "393", "8", "#FFFFFF"); 
  so.addParam("allowscriptaccess","always"); so.useExpressInstall("/flash/expressinstall.swf"); 
  so.addParam("bgcolor", "#105ca9");
  so.addParam("wmode", "transparent");
  so.write("flashmovie3");		
</script>{/literal}

<div class="tabcontent">
<p align="left"><span class="mediumtext">Tours require a Flash Player plug in. Having problems viewing the tutorials?</span></p>

<p>Download the latest Flash Player plug-in.</p>

<p><a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash&amp;promoid=BIOW" target="_blank"><img title="Flash Player" border="0" alt="Flash Player" src="/themes/images/get_flash_player.gif" /></a></p>
</div>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    