{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          


{include file='menus/promotions.tpl'}
{include file='menus/help.tpl'}


          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
            
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>5% Casino Cash Back</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div class="promos-title"><h2>50% Thursday Casino Cash Back!</h2></div>
    
<div id="promos-content">    
			<div class="promos-box">			
			<div class="icon"><img src="/themes/images/promo-50percent.gif" /></div>
			<div class="header">50% Thursday Casino Cash Back!</div>        
			<div class="current-info">
<p>Every Thursday get 50% cash back on Friday morning! Play any of our casino games on Thursdays and we will give you 50% cash back on your casino losses the next day.</p><br />
<a href="/casino"><strong>Play Now!</strong></a>
<!--<p class="text-note"> **If you have a losing month wagering in the casino you will be credited back 50% of your losses on the 1st day of the following calendar month.</p>--></div>          
			</div>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    