<div id="header" class="logged-out">
<h1 class="site-title"><a href="/">Online Horse Betting</a></h1>
      
<!-- container for the slides -->
<div id="featured" style="height:420px;">
<div class="banner-images">

 <!-- end first slide -->
 
 <div>
 <a id="headBanner1" href="/signup" title="Bet on Horses"><img src="/images/bet-on-horses.jpg" alt="Bet on Horses" title="Bet on Horses"  /></a>
  </div>
   
 <div>
 <a id="headBanner2" href="/signup" title="Online Horse Racing"><img src="/images/online-horse-racing.jpg" alt="Online Horse Racing" title="Online Horse Racing"  /></a>
  </div>
   
 <div>
 <a id="headBanner3" href="/signup" title="Online Horse Betting"><img src="/images/online-horse-betting.jpg" alt="Online Horse Betting" title="Online Horse Betting"  /></a>
  </div>
 <!-- end second slide -->
 
 
</div>

<!-- the tabs -->
<div class="slidetabs">
	<a href="#" rel="nofollow" class="circle">1</a>
	<a href="#" rel="nofollow" class="circle">2</a>
    <a href="#" rel="nofollow" class="circle">3</a>
</div>     
</div> 

{*<div class="logo"><a href="/"><img src="/themes/images/ahr-logo.png" alt="US Racing" title="" width="228" height="62" /></a></div>
<div id="login-box">
{literal}<script language="javascript">
			  	function submitFormCheck(realsubmit,e){
				// if(isEntered(e) ) alert($('#edit-name').val() +"  "+$('#edit-pass').val());
				  if((realsubmit || isEntered(e) )  &&( $('#edit-name').val() !="" && $('#edit-pass').val() !="")) {
				  setUserCookie();
				  return true;
				  }
				  else return false;
				}
</script>{/literal}

<form onkeyup="if(submitFormCheck(false,event))  this.submit();" action="http://www.otbpicks.net/login"  accept-charset="UTF-8" method="post" id="user-login-form" onsubmit="return submitFormCheck(true);">
<div>
<div class="form-item" id="edit-name-wrapper">
 <label for="edit-name">Username: <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="60" name="name" id="edit-name" size="15" value="" class="form-text required" />
</div>
<div class="form-item" id="edit-pass-wrapper">
 <label for="edit-pass">Password: <span class="form-required" title="This field is required.">*</span></label>
 <input type="password" name="pass" id="edit-pass"  maxlength="60"  size="15"  class="form-text required" />
</div>
<input type="hidden" name="form_build_id" id="form-73485e6752ff8b49e72f830c78bd4de9" value="form-73485e6752ff8b49e72f830c78bd4de9"  />
<input type="hidden" name="form_id" id="edit-user-login-block" value="user_login_block"  />
<div class="buttons"><input type="submit" name="op" id="edit-submit" value="Log in"  class="form-submit" />
<button type="button" class="form-submit" onclick="document.location='/join'">Join</button></div><div class="forgot"> 
  <a  href="/clubhouse?forgot=true" title="Forgot Your Password" rel="nofollow">Forgot your login details?</a> 
  
  </div> 

</div></form>
</div>
*}<!--  /#login-box -->
</div>
<!-- /#header -->



