<!-- Logged in **************** -->
<div id="header" class="logged-in">
	<div class="site-title"><a href="/">US Racing</a></div>
	<div id="top-banner-static"></div>      
	<div class="logo"><a href="/"><img src="/themes/images/usr-logo.png" alt="US Racing" title="US Racing" width="228" height="62" /></a></div>
</div>


