{literal}
<style type="text/css">
@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
  
}
@media (max-width: 768px) {
  .visible-mb{display:inline-block !important; }
}

@media(min-width: 992px) {
  .list-unstyled {
    min-height: 200px;
  }
  .footer .list-unstyled {
    min-height: 70px;
  }
}
@media (min-width: 769px){
.footer .col-md-4 {
    clear: none;
}
}
@media (min-width: 1025px) {
  .sliderBtn.tp-caption.btn:active {
      position: static !important;
      margin-top: 25px !important;
  }
}
@media (max-width: 1024px) and (min-width:769px) {
  .sliderBtn.tp-caption.btn:active {
      position: relative !important;
      margin-top: 9px !important;
  }
}
@media (max-width: 768px) and (min-width:481px) {
  .sliderBtn.tp-caption.btn:active {
      position: relative !important;
      margin-top: 5px !important;
  }
}
@media (max-width:480px) {
  .sliderBtn.tp-caption.btn:active {
      position: relative !important;
      margin-top: 0px !important;
  }
}
</style>
{/literal}
{* <!-- === Footer ================================================== --> *}
<br><br>
<center>Proudly featured on:
  {* <img src="/img/as-seen-on.png" alt="US Racing As Seen On" class="img-responsive" style="width:95%; max-width:1400px;">  *}
    {include file="/home/ah/allhorse/public_html/usracing/block-as-seen-on-new.tpl"}
  </center>
    {if isset($disclaimer)}
  {include file="$disclaimer"}
  {/if}
  <div class="footer">
    <div class="container">

    <div class="row">

      <div class="col-md-4 margin-bottom-30">

        <div class="headline">

          <h3 data-toggle="collapse" data-target="#horsebetting" aria-expanded="false" aria-controls="horsebetting">Horse Betting <span class="icon hidden visible-mb"><i class="fa fa-angle-down" aria-hidden="true" ></i></span></h3>

        </div>
    <div class="collapse dont-collapse-sm" id="horsebetting">
        <ul class="list-unstyled margin-bottom-20">

       <li><a href="/off-track-betting">Off Track Betting</a></li>

{*        <li><a href="/online-horse-wagering" >Online Horse Wagering</a></li> *}

       <li><a href="/odds">Horse Racing Odds</a></li>

        <li><a href="/horse-racing-schedule">Horse Racing Schedule</a></li>

        <li><a href="/results">Horse Racing Results</a></li>
        
        <li><a href="/bet-on-horses">Bet on Horses</a></li>

       

{*   <li><a href="/advance-deposit-wagering">Advance Deposit Wagering</a></li> *}

       

       

              {* <li><a href="/news">Horse Racing News</a></li>

                            <li><a href="/">Horse Racing </a></li> *}

  

{*        <li><a href="/texas">Texas Horse Betting</a></li> *}

{*        <li><a href="/royal-ascot">Royal Ascot Betting</a></li> *}

{*        <li><a href="/dubai-world-cup/odds" >Dubai World Cup Odds</a></li> *}

       {if $BC_MON_Switch} <!--    --> 

         <li><a href="/breeders-cup/betting" >Breeders' Cup Betting</a>

         <li><a href="/breeders-cup/odds" >Breeders' Cup Odds</a>

         <li><a href="/bet-on/breeders-cup">Bet on the Breeders' Cup</a>

                  <li><a href="/breeders-cup/classic" >Breeders' Cup Odds: Classic</a>

         <li><a href="/breeders-cup/classic/results"> Breeders' Cup Results</a>

         {/if}       

       {if $PWC_Switch}

       <!-- Pegasus World -->

        
{*          <li><a href="/pegasus-world-cup/winners">Pegasus World Cup Winners</a></li> *}

       {/if}                 

       {if $DWC_Switch_2PM}

{*

           <li><a href="/dubai-world-cup">Dubai World Cup</a></li> 

         <li><a href="/dubai-world-cup/betting" >Dubai World Cup Betting</a></li>

*}

       {/if}

       

       {if $DWC_Switch}                   

{*

         <li><a href="/dubai-world-cup/winners" >Dubai World Cup Winners</a></li>  

         <li><a href="/dubai-world-cup/results" >Dubai World Cup Results</a></li> 

*}

       {/if}

       

       {if $KD_Switch} <!--   --> {/if}

       

       {if $PS_Switch} <!--   --> {/if}

       

       {if $BS_Switch} <!--  --> {/if}

       

       {if $Default} <!--  --> {/if}



{* 		<!--</li>-->



*}

        </ul>  <!-- End of list -->
        </div>
          <div class="headline">

          <h3 data-toggle="collapse" data-target="#upcoming" aria-expanded="false" aria-controls="upcoming">Horse Racing <span class="icon hidden visible-mb"><i class="fa fa-angle-down" aria-hidden="true" ></i></span></h3>

        </div>
		<div class="collapse dont-collapse-sm" id="upcoming">
        <ul class="list-unstyled margin-bottom-20">
        <li><a href="/bet-on/triple-crown">Bet On Triple Crown</a></li>
        {*<li><a href="/kentucky-oaks/odds">Kentucky Oaks Odds</a></li>
        <li><a href="/kentucky-oaks/betting">Kentucky Oaks Betting</a></li>*}
         
         {*if $SAUDI_Switch_Footer}   
         <li><a href="/saudi-cup/betting">Saudi Cup Betting</a></li> 
         <li><a href="/saudi-cup/odds" >Saudi Cup Odds</a></li>
		 {/if*}
         {if $DWC_Switch_Footer}   
         <li><a href="/dubai-world-cup">Dubai World Cup</a></li> 
         <li><a href="/dubai-world-cup/betting" >Dubai World Cup Betting</a></li>
         <li><a href="/dubai-world-cup/odds">Dubai World Cup Odds</a></li> 
         <li><a href="/dubai-world-cup/results" >Dubai World Cup Results</a></li>
         <li><a href="/dubai-world-cup/winners">Dubai World Cup Winners</a></li>               
		 {/if}         
         {if $dateNow <= '2020-04-04 23:59:59'}<li><a href="/grand-national">Grand National Odds</a></li>{/if} 
         {if $dateNow <= '2019-06-18 23:59:59'}<li><a href="/queen-anne-stakes"  >Queen Anne Stakes {* Betting *} Odds</a></li> {/if} 
        {if $dateNow <= '2019-06-20 23:59:59'} <li><a href="/ascot-gold-cup"  >Royal Ascot {* Horse Racing *} Odds</a></li> {/if}
        {if $dateNow <= '2019-08-24 23:59:59'} <li><a href="/travers-stakes"  >Travers Stakes Odds</a></li> {/if}  
         {if $dateNow <= '2020-10-04 23:59:59'} <li><a href="/prix-de-larc-de-triomphe"  >Prix de l'Arc de Triomphe Odds</a></li> {/if} 
         {if $dateNow <= '2020-11-03 23:59:59'}<li><a href="/melbourne-cup"  >Melbourne Cup Odds</a></li>{/if}
         
        </ul>
		</div>

      </div> <!--/col-md-3-->

      <div class="col-md-4 margin-bottom-30">

 
      <div class="headline">

     <h3 data-toggle="collapse" data-target="#kdfootermenu" aria-expanded="false" aria-controls="kdfootermenu">Kentucky Derby <span class="icon hidden visible-mb"><i class="fa fa-angle-down" aria-hidden="true" ></i></span></h3>
      </div>
		<div class="collapse dont-collapse-sm" id="kdfootermenu">
             <ul class="list-unstyled margin-bottom-20">
        <li><a href="/kentucky-derby">Kentucky Derby</a></li>

        <li><a href="/kentucky-derby/betting">Kentucky Derby {$KD_YEAR} Betting</a></li>

        <li><a href="/kentucky-derby/odds">Kentucky Derby {$KD_YEAR} Odds</a></li>

       <li><a href="/kentucky-derby/contenders">Kentucky Derby {$KD_YEAR} Contenders</a></li>

       <li><a href="/bet-on/kentucky-derby">Bet on the {$KD_YEAR} Kentucky Derby </a></li> 

       <li><a href="/kentucky-derby/entries">Kentucky Derby {$KD_YEAR} Entries</a></li> 

        {*<li><a href="/kentucky-derby/winners">Kentucky Derby {$KD_YEARLAST} Winners</a></li>

        <li><a href="/kentucky-derby/results">Kentucky Derby {$KD_YEARLAST} Results</a></li>  


        <li><a href="/kentucky-derby/free-bet">Kentucky Derby Free Bet</a></li>

        <li><a href="/kentucky-derby/jockey-betting">Kentucky Derby Jockey Betting</a></li>

        <li><a href="/kentucky-derby/trainer-betting">Kentucky Derby Trainer Betting</a></li>

        <li><a href="/kentucky-derby/match-races">Kentucky Derby Match Races</a></li>

        <li><a href="/kentucky-derby/margin-of-victory">Kentucky Derby Margin of Victory</a></li>

        {* <li><a href="/kentucky-derby/prep-races">Kentucky Derby {$KD_YEAR} Prep Races</a></li>

        <li><a href="/kentucky-derby/racing-schedule">Kentucky Derby {$KD_YEAR} Racing Schedule</a></li>

{*         <li><a href="/kentucky-derby/video">Kentucky Derby Video</a></li> *}

{*         <li><a href="/kentucky-oaks">Kentucky Oaks</a></li> *}

      {*  <li><a href="/twin-spires">Twin Spires</a></li> *}


{*     <li><a href="/kentucky-derby" >Kentucky Derby</a></li>

</ul>
</div> 

           <div class="headline">

             <h3 data-toggle="collapse" data-target="#psfootermenu" aria-expanded="false" aria-controls="psfootermenu">Horse Betting Promos <span class="icon hidden visible-mb"><i class="fa fa-angle-down" aria-hidden="true" ></i></span></h3>
      </div>
		<div class="collapse dont-collapse-sm" id="psfootermenu">
       <ul class="list-unstyled margin-bottom-20">


    <li><a href="/promos/cash-bonus" >{$BONUS_WELCOME} New Member Bonus</a></li>

    <li><a href="/promos/cash-bonus-150" >$150 Cash Bonus </a></li>

    <li><a href="/rebates" >8% Rebates </a></li>


     {* <h3 data-toggle="collapse" data-target="#psfootermenu" aria-expanded="false" aria-controls="psfootermenu">Preakness Stakes <span class="icon hidden visible-mb"><i class="fa fa-angle-down" aria-hidden="true" ></i></span></h3>
      </div>
		<div class="collapse dont-collapse-sm" id="psfootermenu">
       <ul class="list-unstyled margin-bottom-20">


    <li><a href="/preakness-stakes" >Preakness Stakes {$PREAKNESS_YEAR}</a></li>

    <li><a href="/bet-on/preakness-stakes" >Bet on Preakness Stakes </a></li>

    <li><a href="/preakness-stakes/betting" >Preakness Stakes {$PREAKNESS_YEAR} Betting</a></li>

    <li><a href="/preakness-stakes/odds" >Preakness Stakes {$PREAKNESS_YEAR} Odds</a></li>

    <li><a href="/preakness-stakes/entries" >Preakness Stakes {$PREAKNESS_YEAR} Entries</a></li>

    <li><a href="/preakness-stakes/watch-live" >Preakness Stakes {$PREAKNESS_YEAR} Livestream</a></li>

    <li><a href="/preakness-stakes/results" >Preakness Stakes Results</a></li>

    <li><a href="/preakness-stakes/winners" >Preakness Stakes Winners</a></li>*}


	</ul>
	</div>

      
		         
  {if $PWC_Switch_Footer}  
    <div class="headline">
      <h3 data-toggle="collapse" data-target="#psfootermenu" aria-expanded="false" aria-controls="psfootermenu">Pegasus World Cup <span class="icon hidden visible-mb"><i class="fa fa-angle-down" aria-hidden="true" ></i></span></h3>
    </div>
    <div class="collapse dont-collapse-sm" id="psfootermenu">
      <ul class="list-unstyled margin-bottom-20">
        <li><a href="/pegasus-world-cup/odds">Pegasus World Cup Odds</a></li>
        <li><a href="/pegasus-world-cup/contenders">Pegasus World Cup Contenders</li></a>
        {* <li><a href="/pegasus-world-cup/signup-bonus">Pegasus World Cup Sign Up Bonus</li></a> *}
        <li><a href="/pegasus-world-cup/results">Pegasus World Cup Results</a></li>
        <li><a href="/pegasus-world-cup/betting">Pegasus World Cup Betting</li></a>
        <li><a href="/pegasus-world-cup/winners">Pegasus World Cup Winners</a></li> 
      </ul>
    </div>
  {/if}
 {*
  <div class="headline">
      <h3 data-toggle="collapse" data-target="#scfootermenu" aria-expanded="false" aria-controls="scfootermenu">Saudi Cup <span class="icon hidden visible-mb"><i class="fa fa-angle-down" aria-hidden="true" ></i></span></h3>
    </div>
     <div class="collapse dont-collapse-sm" id="scfootermenu">
      <ul class="list-unstyled margin-bottom-20">
         <li><a href="/saudi-cup/odds">Saudi Cup Odds</a></li>
        <li><a href="/saudi-cup/betting">Saudi Cup Betting</li></a>
        <li><a href="/saudi-cup/contenders">Saudi Cup Contenders</li></a>
        <li><a href="/saudi-cup/watch-live">Saudi Cup Livestream</a></li>  
      <li><a href="/saudi-cup/results">Saudi Cup 2022 Results</a></li>
        <li><a href="/saudi-cup/winners">Saudi Cup Winners</a></li> 
      </ul>
    </div> *}


{if $dateNow <= '2022-11-05 23:59:59'} 
  <div class="headline">
    <h3 data-toggle="collapse" data-target="#bcfootermenu" aria-expanded="false" aria-controls="bcfootermenu">Breeders' Cup <span class="icon hidden visible-mb"><i class="fa fa-angle-down" aria-hidden="true" ></i></span></h3>
  </div>
  <div class="collapse dont-collapse-sm" id="bcfootermenu">
    <ul class="list-unstyled margin-bottom-20">
      <li><a href="/breeders-cup/odds">Breeders&#039; Cup Odds</a></li>
      
      <li><a href="/breeders-cup/betting">Breeders&#039; Cup Betting</a></li>
    <li><a href="/bet-on/breeders-cup">Bet on Breeders' Cup</a></li>
      <li><a href="/breeders-cup">{'Y'|date} Breeders' Cup</a></li> 
      {* <li><a href="/breeders-cup/contenders">Breeders&#039; Cup Contenders</a></li>
      
      <li><a href="/breeders-cup/challenge">Breeders&#039; Cup Challenge</a></li>
      <li><a href="/breeders-cup/juvenile">Breeders&#039; Cup  Juvenile </a></li>
      <li><a href="/breeders-cup/distaff">Breeders&#039; Cup  Distaff </a></li>
      <li><a href="/breeders-cup/classic">Breeders&#039; Cup Classic</a></li> *}
      {* <li><a href="/breeders-cup/juvenile-turf-sprint/results">Juvenile Turf Sprint Results</a></li>
      <li><a href="/breeders-cup/juvenile-turf/results">Juvenile Turf Results</a></li>
      <li><a href="/breeders-cup/juvenile-fillies/results">Juvenile Fillies Results</a></li>
      <li><a href="/breeders-cup/juvenile-fillies-turf/results">Juvenile Fillies Turf Results</a></li>
      <li><a href="/breeders-cup/juvenile/results">Juvenile Results</a></li>
      <li><a href="/breeders-cup/filly-mare-sprint/results">Filly and Mare Sprint Results</a></li>
      <li><a href="/breeders-cup/turf-sprint/results">Turf Sprint Results</a></li>
      <li><a href="/breeders-cup/dirt-mile/results">Dirt Mile Results</a></li>
      <li><a href="/breeders-cup/filly-mare-turf/results">Filly and Mare Results</a></li>
      <li><a href="/breeders-cup/sprint/results">Sprint Results</a></li>
      <li><a href="/breeders-cup/mile/results">Mile Results</a></li>
      <li><a href="/breeders-cup/distaff/results">Distaff Results</a></li>
      <li><a href="/breeders-cup/turf/results">Turf Results</a></li>
      <li><a href="/breeders-cup/classic/results">Classic Results</a></li> *}
    </ul>
  </div>
{/if}

 <!--<div class="headline">
           <h3 data-toggle="collapse" data-target="#bsfootermenu" aria-expanded="false" aria-controls="bsfootermenu">Belmont Stakes <span class="icon hidden visible-mb"><i class="fa fa-angle-down" aria-hidden="true" ></i></span></h3>
        </div>
        <div class="collapse dont-collapse-sm" id="bsfootermenu">
          <ul class="list-unstyled margin-bottom-20">
            {if $BS_Switch_Main} 
            <li><a href="/belmont-stakes" >Belmont Stakes {$BELMONT_YEAR} </a></li>
            <li><a href="/belmont-stakes/odds" >Belmont Stakes {$BELMONT_YEAR} Odds</a></li>
            <li><a href="/belmont-stakes/betting" >Belmont Stakes {$BELMONT_YEAR} Betting</a></li>
            <li><a href="/belmont-stakes/entries" >Belmont Stakes {$BELMONT_YEAR} Entries</a></li>
            <li><a href="/belmont-stakes/watch-now" >Belmont Stakes {$BELMONT_YEAR} Livestream</a></li>
            <li><a href="/belmont-stakes/results" >Belmont Stakes {$BELMONT_YEAR} Results</a></li>
            <li><a href="/belmont-stakes/winners" >Belmont Stakes {$BELMONT_YEAR} Winners</a></li>
            {/if}  
           
            {if $BS_Results} 

            <li><a href="/belmont-stakes/results" >Belmont Stakes Results</a></li>
            <li><a href="/belmont-stakes/winners" >Belmont Stakes Winners</a></li>

         {/if}       

          </ul>
        </div>-->
     </div>

     

        <!--/col-md-3-->
{*
     <div class="col-md-4 margin-bottom-30">

     

	<div class="headline">

      <h3>Triple Crown <span class="icon hidden visible-mb"><i class="fa fa-angle-down" aria-hidden="true" data-toggle="collapse" data-target="#tcfootermenu" aria-expanded="false" aria-controls="tcfootermenu"></i></span></h3>

     </div>
     <div class="collapse dont-collapse-sm" id="tcfootermenu">
 		<ul class="list-unstyled margin-bottom-20">
        <li><a href="/bet-on/triple-crown">Bet On Triple Crown</a></li>
        </ul>
       </div> 
       {if $dateNow >= '2021-04-01 23:59:59'}
      <div class="headline">

      <h3 data-toggle="collapse" data-target="#bsfootermenu" aria-expanded="false" aria-controls="bsfootermenu">Belmont Stakes <span class="icon hidden visible-mb"><i class="fa fa-angle-down" aria-hidden="true" ></i></span></h3>
      </div>
       <div class="collapse dont-collapse-sm" id="bsfootermenu">
       <ul class="list-unstyled margin-bottom-20">

    <li><a href="/belmont-stakes" >Belmont Stakes</a></li>

    <li><a href="/bet-on/belmont-stakes" >Bet on Belmont Stakes </a></li>

    <li><a href="/belmont-stakes/betting" >Belmont Stakes Betting</a></li>

    <li><a href="/belmont-stakes/odds" >Belmont Stakes Odds</a></li>

    <li><a href="/belmont-stakes/entries" >Belmont Stakes Entries</a></li>

    <li><a href="/belmont-stakes/watch-now" >Belmont Stakes Livestream</a></li>

    {if $BS_Switch}



  <li><a href="/belmont-stakes/match-races"  >Belmont Stakes Match Races</a></li> {/if}

    <li><a href="/belmont-stakes/results" >Belmont Stakes Results</a></li>

    <li><a href="/belmont-stakes/winners" >Belmont Stakes Winners</a></li> 

  <li><a href="/bet-on/triple-crown">Triple Crown Betting</a></li>


      </ul>
      </div>
      {/if}
       


    </div>



*}

      <div class="col-md-4 margin-bottom-30">

        <div class="headline">
          <h3 data-toggle="collapse" data-target="#howtobetfootermenu" aria-expanded="false" aria-controls="howtobetfootermenu">How To Bet <span class="icon hidden visible-mb"><i class="fa fa-angle-down" aria-hidden="true" ></i></span></h3>
        </div>
        <div class="collapse dont-collapse-sm" id="howtobetfootermenu">
          <ul class="list-unstyled margin-bottom-20">
            <li><a href="/horse-betting/exacta" >Exacta Bet</a></li>
            <li><a href="/horse-betting/trifecta" >Trifecta Bet</a></li>
            <li><a href="/horse-betting/box-bet" >Box Bet</a></li>
            <li><a href="/past-performances">Past Perfomances</a></li>
            <li><a href="/horse-betting/key-a-horse" >Key a Horse</a></li>
            <li><a href="/horse-betting/across-the-board" >Across the Board</a></li>
          </ul>
        </div>

       

        {*<ul class="social-icons">

          {*<li><a href="https://www.facebook.com/usracingtoday" target="_blank" data-original-title="Facebook" title="Like us on Facebook" class="social_facebook"></a></li>*}

         {*<li><a href="https://twitter.com/usracingtoday" target="_blank" data-original-title="Twitter" title="Follow us on Twitter" class="social_twitter"></a></li>

{* <li> <a href="https://plus.google.com/+Usracingcom" target="_blank" data-original-title="Google+"  title="Google+" class="social_google" rel="publisher"></a></li> *}

        {* <li><a href="https://www.instagram.com/usracingtoday/" target="_blank" data-original-title="Instagram"  title="Instagram" class="social_instagram" rel="publisher"></a></li>

         <li><a href="https://www.pinterest.com/usracingtoday/" target="_blank" data-original-title="Pinterest" title="Pinterest" class="social_pinterest" rel="publisher"></a></li>*}

 {*  <li class="social_pintrest" title="Pin this Page"><a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.usracing.com&media=http%3A%2F%2Fwww.usracing.com%2Fimg%2Fusracing-pintrest.jpg&description=US%20Racing%20-%20America%27s%20Best%20in%20Off%20Track%20Betting%20(OTB).%0ASimply%20the%20easiest%20site%20for%20online%20horse%20racing."  data-pin-do="buttonBookmark" data-pin-config="none" data-original-title="Pintrest" ></a></li>

*}

        <div class="headline">
          <h3 data-toggle="collapse" data-target="#usracingfootermenu" aria-expanded="false" aria-controls="usracingfootermenu">US  Racing <span class="icon hidden visible-mb"><i class="fa fa-angle-down" aria-hidden="true" ></i></span></h3>
        </div>
        <div class="collapse dont-collapse-sm" id="usracingfootermenu">
          <ul class="list-unstyled margin-bottom-20">
            <li><a href="/about" >About Us</a></li>

{*

          <!--  <li><a href="/cash-bonus" >CASH BONUSES</a></li>

       <li><a href="#" >Our Guarantee</a></li>

            <li><a href="/faqs" >FAQs</a></li>

            <li><a href="/how-to/bet-on-horses" >How to Bet at US Racing</a></li>-->

*}

            <li><a href="/signup?ref={$ref}" rel="nofollow" class="footSign"  >Sign Up Today</a></li>

            <li><a href="/usracing-reviews">USRacing.com Reviews</a></li>

{* <!--<li><a href="http://www.cafepress.com/betusracing" rel="nofollow" >Shop for US Racing Gear</a></li>--> *}

          </ul>
        </div>
      </div> <!--/col-md-3-->

</div><!--/row-->

{*

<!--<div class="row friends" style="overflow: visible;">-->

<!--<img src="/img/as-seen-on.png" alt="US Racing As Seen On" class="img-responsive" style="width:95%; max-width:1400px;" ><center>-->

<!--<div class="col-md-9">

        <a class="ntra"></a>

        <a target="_blank" class="bloodhorse"></a>

        <a class="equibase"></a>

        <a class="amazon"></a>

        <a class="credit" ></a>

        <a class="ga"></a>

        </div>

       <div class="col-md-3">

        <a href="/" class="us" title="US Online Horse Racing"></a>

--> <!--</div>-->

*}

</div>
    {*<center>Proudly featured on: *}
      {* <img src="/img/as-seen-on.png" alt="US Racing As Seen On" class="img-responsive"
        style="width:95%; max-width:1400px;">
      <center> *}
        {* {include file="/home/ah/allhorse/public_html/usracing/block-as-seen-on-new.tpl"} *}
  </div>
  {* <!--/container--> *}
  </div>
  {* <!--/footer--> *}
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="brand"><br>
            <p>US Racing is not a racebook or ADW, and does not accept or place wagers of any
              type. This website does not endorse or encourage illegal gambling. All information provided by this
              website is for entertainment purposes only. This website assumes no responsibility for the actions by and makes no
              representation or endorsement of any activities offered by any reviewed racebook or ADW. Please confirm
              the wagering regulations in your jurisdiction as they vary from state to state, province to province and
              country to country. Any use of this information in violation of federal, state, provincial or local laws is
              strictly prohibited.</p>
            <p>Copyright {'Y'|date} <a href="/">US Racing</a>, All Rights Reserved.
          </span> | <a href="/privacy" rel="nofollow">Privacy Policy</a> | <a href="/terms" rel="nofollow">Terms and
            Conditions</a> | <a href="/disclaimer" rel="nofollow">Disclaimer</a> | <a href="/responsible-gaming"
            rel="nofollow">Responsible Gambling</a> | <a href="/preakness-stakes/betting">Preakness Stakes Betting</a> |
          <a href="/belmont-stakes/betting">Belmont Stakes Betting</a> | <a href="/kentucky-derby/betting">Kentucky
            Derby Betting</a> </div>
      </div>
      {* <!--/row--> *}
    </div>
    {* <!--/container--> *}
  </div>
  {* <!--/copyright--> *}
  <div class="wp-hide">{include file='scripts-footer.tpl'}</div>
  {if $refScript != 'no'}
	<script src="/assets/js/ref-replace.js"></script>  
  {/if}