<head>
{$title}
<link type="text/css" rel="stylesheet" media="all" href="/smarty-include/css/smarty-style.css" />
{$link}
{$metatag}
{include file='scripts.tpl'}
{include file='scriptsclubhouse.tpl'}
</head>