{include file='primarymenu/today.tpl'}
{*include file='primarymenu/famousraces.tpl'*}
{include file='primarymenu/odds.tpl'}
{include file='primarymenu/pegasus.tpl'}
{*{if $SAUDI_Switch}
	{include file='primarymenu/saudi-cup.tpl'} 
{/if} *}
{* {if $PWC_Switch_SUN} 
{include file='primarymenu/pegasus.tpl'}
{/if} *}
{* if $PWC_Switch} 
	{include file='primarymenu/pegasus.tpl'}
{/if *}
{* if $DWC_Switch}
	{include file='primarymenu/dubai.tpl'}
{/if *}
{* if $KD_Switch} 
	{include file='primarymenu/kentuckyderby.tpl' *} 
{*/if}

{if $PS_Switch} 
	{include file='primarymenu/preaknessstakes.tpl'}
{/if}
{if $BS_Switch} 	
	{include file='primarymenu/belmontstakes.tpl'}
{* {/if} *}	 
{if $KD_Switch_Early || $KD_Switch_Main || $KD_Switch_Race_Day}

{* {if $KD_Switch_Early || $KD_Switch_Main || $KD_Switch_Race_Day || $KD_Results} *}
	{include file='primarymenu/kentuckyderby.tpl' }
{/if}

{if $PS_Switch_Early || $PS_Switch_Main || $PS_Switch_Race_Day || $PS_Switch_Results}
	{include file='primarymenu/preaknessstakes.tpl' }
{/if}

{if $BS_Switch_Early || $BS_Switch_Main || $BS_Switch_Race_Day || $BS_Results}
	{* {include file='primarymenu/belmontstakes.tpl'}	 *}
{/if}

{if $BC_Switch_Early || $BC_Switch_Main || $BC_Switch_Race_Day || $BC_Switch_Results}
	{* {include file='primarymenu/breederscup.tpl'} *}
{/if}

{* {include file='primarymenu/saudi-cup.tpl'}  *}
{include file='primarymenu/news.tpl'}
{* <li><a href="/usr-awards-winners">USR Awards</a></li> *}
{include file='primarymenu/howtobet.tpl'}
{include file='primarymenu/promos.tpl'}
{include file='primarymenu/about.tpl'}

