<script type="text/javascript" src="/includes/mms/init.js"></script> 
<script type="text/javascript" src="/includes/mms/jquery.js"></script> 
<script type="text/javascript" src="/includes/mms/mms.js"></script> 

<script type="text/javascript" src="/includes/mms/thickbox.js"></script> 

