{literal}


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/plugins/sidr/jquery.sidr.min.js"></script>
<script src="/assets/js/scripts-footer-min.js"></script>

<!-- Google Analytics -->
<!--<script type="text/javascript" src="/assets/js/google-analytics.js"></script> -->
<script async src='//www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->



<!-- Bing Ads RP  -->
<!--<script type="text/javascript" src="/assets/js/bingAdsRp.js"></script> -->
<noscript><img alt="Bing" src="//bat.bing.com/action/0?ti=4047476&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>



<!--  Unbounce --->

<script src="//d6782401e72a400fba6ff09252aa6316.js.ubembed.com" async></script>
	
<!-- / Unbounce -->


<!--[if lt IE 9]>
      <script type="text/javascript" src="/assets/js/respond.js"></script>
<![endif]-->
{/literal}
{*
<!-- Pin It - Pinterest
<script type="text/javascript" async src="/blog/wp-content/themes/usracing/js/pinit.js"></script>-->

<!--
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-742771-29', 'auto', {'allowLinker': true});
  ga('require', 'displayfeatures');
  ga('require', 'linker');
  ga('linker:autoLink', ['betusracing.ag'] );
  ga('send', 'pageview');

</script>
-->
<!--<script type="text/javascript" src="/assets/js/luckyorange.js"></script> -->	
<!-- Facebook Pixel Code -->
<!--<script type="text/javascript" src="/assets/js/facebook-pixel-code.js"></script> -->
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1710529292584739&ev=PageView&noscript=1" alt="Facebook"/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->	
	
<!--<script type="text/javascript" src="/assets/plugins/hover-dropdown.min.js"></script>
<script type="text/javascript" src="/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/assets/plugins/psScrollbar/psScrollw_mw.min.js"></script>
<script type="text/javascript" src="/assets/plugins/sidr/jquery.sidr.min.js"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/isIndexImported.js"></script>
 -->	
 
 
 
 <!--<script async type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
	*}
	
	
	
	