
<div id="toplinks">
<ul class="links"><li class="active-trail first active"><a href="/" title="Online Horse Racing" class="active">Online Horse Racing</a></li>
<li><a href="/schedule" title="Horse Racing Schedule">Horse Racing Schedule</a></li>
<li><a href="/otb" title="Off Track Betting">Off Track Betting</a></li>
<li><a href="/adw" title="Advanced Deposit Wagering">ADW</a></li>

<li class="last"><a href="/kentucky-derby/betting" title="Kentucky Derby Betting">Kentucky Derby Betting</a></li>
</ul>           
</div>
<div class="toplogo"><a href="/"><img src="/themes/images/usracingcom.png" alt="Usracing.com" border="0" /></a></div>
