<div class="login-header">
     
    <a class="btn btn-sm btn-default loginToggle collapsed" href="https://secure.usracing.com" rel="nofollow"><span>Login</span><i class="fa fa-angle-down"></i></a>
 
   <a class="btn btn-sm btn-red" id="signupBtn" href="/signup"  rel="nofollow"><span>Sign Up</span><i class="glyphicon glyphicon-pencil"></i></a>
</div>
 <div class="login collapse login-responsive-collapse">   
 
 
  <a class="btn btn-sm btn-default" href="/login-troubles" rel="nofollow"><span>Login</span><i class="fa fa-angle-down"></i></a>
  
  
              
</div> <!-- end/login --><div class="topR">

<!--Help Link Temp Removed
	<div class="stamp ph">{*Glyph was here*}<span class="phAll" style="text-decoration:none;"> <a href="/support"><span class="dull"><i class="glyphicon glyphicon-question-sign"></i>Help</span></a></span> </div> -->
</div>
