<!--<div id="login-menu" class="logged-out">
<ul class="links">
<li class="first"><a href="https://secure.usracing.com/Login.aspx" title="LOG IN" class="active" rel="nofollow">LOG IN</a></li>
<li class="last"><a href="https://secure.usracing.com/Register.aspx" title="SIGN UP" rel="nofollow">SIGN UP</a></li>

</ul>
</div>-->


