<!--<div id="login-menu" class="logged-in">
<ul class="links">
<li class="menu-617 first"><a href="#" onClick="window.open('/popups/network-status.php','Network_Status','width=570,height=452,top=243,left=250,resizable=no,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no ');"  title="">NETWORK STATUS</a></li>
<li class="menu-618"><a href="/support" title="">CONTACT US</a></li>
 <li class="menu-943 last"><a href="/logging-out" title="">LOG OUT</a></li>
</ul>
</div>-->

