<div class="topR">
<div class="stamp ico"><!--i class="fa fa-gavel"></i><span class="dull">Legal</span> <i class="fa fa-check"></i> <span class="dull">Licensed</span> <i class="fa fa-shield"></i> <span class="dull">Secure</span>--></div>
<div class="stamp ph"><i class="glyphicon glyphicon-phone-alt"></i> {include file='inc/phone-all.tpl'}</div>
</div>