{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/top-of-page-blocks.tpl"}
{*Page Unique content goes here*******************************}
     
                <p>For the  Kentucky Derby, the post position has been is a fairly good indicator the winners being typically positions 5-8. Post positions are drawn on Wednesday before the Derby and we will update this information when it becomes available.</p>
<p>The {*$KD_DATE*} Kentucky Derby is set for 6:50 p.m. ET on Saturday under the famed twin spires of Churchill Downs in Louisville, Kentucky. </p>
{* <p>{include file='/home/ah/allhorse/public_html/kd/salesblurb.tpl'} </p> *}
  <p>     <center>   <a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet Now on the Kentucky Derby</a></center></p>  
<p></p><br/>
		<p>{include_php file="/home/ah/allhorse/public_html/generated/odds/kd/odds_kd.php"}</p>
{* <p>{include_php file="/home/ah/allhorse/public_html/kd/odds_kd_hardcoded.php"}</p> *}

              
        <p>     <center>   <a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet Now on the Kentucky Derby</a></center></p>  

{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/end-of-page-blocks.tpl"}
