{literal}
<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "WebPage",
"name": "2019 Kentucky Derby Odds",
"description": "Official 2019 Kentucky Derby Odds and Futures from US Racing.  Bet on the Kentucky Derby on the first Saturday in May at Churchill Downs in Louisville, Kentucky.",
"publisher": {
"@type": "Organization",
"name": "US Racing"
}
}
</script>
<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "BreadcrumbList",
"itemListElement": [{
"@type": "ListItem",
"position": 1,
"name": "Kentucky Derby",
"item": "https://www.usracing.com/kentucky-derby"
},{
"@type": "ListItem",
"position": 2,
"name": "Kentucky Derby Odds",
"item": "https://www.usracing.com/kentucky-derby/odds"
}]
}
</script>
<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Table",
"about": "2019 Kentucky Derby Odds"
}
</script>


{/literal}
{include file="/home/ah/allhorse/public_html/kd/odds_kd_schema_event.php"}
{* {include file="/home/ah/allhorse/public_html/kd/odds_kd_schema_list.php"}
{include file="/home/ah/allhorse/public_html/kd/odds_kd_schema_pro.php"} *}

{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">
  <!-- ---------------------- left menu contents ---------------------- -->
  {include file='menus/kentuckyderby.tpl'}
</div>
<!-- ---------------------- end left menu contents ------------------- -->
{*
<div class="container-fluid">
  <!--<a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-md-block hidden-sm hidden-xs" src="/img/kentuckyderby/2017-Kentucky-Derby-odds.jpg" alt="Kentucky Derby Odds"></a>
  <a href="/signup?ref={$ref}"><img class="img-responsive visible-sm-block hidden-md hidden-lg" src="/img/kentuckyderby/2017-Kentucky-Derby.jpg" alt="Kentucky Derby Odds">  </p> </a>-->
  *}
  <!--<a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-md-block hidden-sm hidden-xs" src="/img/kentuckyderby/kentucky-derby-betting-hero.jpg" alt="Kentucky Derby Betting"></a>
  <a href="/signup?ref={$ref}" rel="nofollow"><img class="img-responsive visible-sm-block hidden-md hidden-lg" src="/img/kentuckyderby/kentucky-derby-betting-small-hero.jpg" alt="Kentucky Derby Betting"> </a>-->
  <!--------- NEW HERO  ---------------------------------------->
  <div class="newHero" style="background-image: url({$hero});" alt="{$hero_alt}">
    <div class="text text-xl">{$h1}</div>
    <div class="text text-xl" style="margin-top:0px;"></div>
    <div class="text text-md">{$h2}<br>
      <a href="/signup?ref={$ref}">
        <div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i>{$signup_cta}</div>
      </a> </div>
    </div>
    <!------------------------------------------------------------------>
    {include file="/home/ah/allhorse/public_html/usracing/as_seen_on.tpl"}
    <!------------------------------------------------------------------>
    <!------------------------------------------------------------------>
    <section class="kd usr-section">
      <div class="container">
        <div class="kd_content">
          <a href="/signup?ref={$ref}" rel="nofollow"><img src="/img/index-kd/kd.png" alt="Kentucky Derby Betting" class="kd_logo img-responsive"></a>
          <h1 class="kd_heading">Kentucky Derby Odds</h1>
          <h3 class="kd_subheading">The Most Derby Bet Options Anywhere</h3>
        {*
		  <p>{include file='/home/ah/allhorse/public_html/kd/salesblurb.tpl'} </p> *}
          <p>{* include file='/home/ah/allhorse/public_html/kd/odds_kd_2018.xml' *} </p>
          <p>{include file='/home/ah/allhorse/public_html/kd/odds_kd.php'}</p>
          {* <p align="center"><button id="loadMore" class="btn btn-xlrg" style="background: #1571BA !important;" >Show More</button></p> *}
          {* <p>Think you know what trainer will win the Kentucky Derby?  You can bet on trainers like <a href="/kentucky-derby/trainer-betting">Todd Pletcher</a> and Trainer Odds will be coming soon!</p><br> *}
          <p align="center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet Now on the Kentucky Derby</a></p>
          <p>The {include_php file='/home/ah/allhorse/public_html/kd/running.php'}  Kentucky Derby will be run on {include_php file='/home/ah/allhorse/public_html/kd/date.php'}.  Want some helpful trivia?  The Kentucky Derby always takes place on the first Saturday in May.  This year will certainly feature a large field of horses. Up to 20 three-year-old colts, fillies and geldings can run is this grand event.</p>
          <p>US Racing provides the earliest Kentucky Derby Futures odds of any website.  If you see a horse you would like to be added, let us know and we might be able to get it added for you!</p>
          <p>Between now and the Kentucky Derby, the odds will be changing when we add new horses and removing others.  Remember, when you a place future wager the odds are fixed and all wagers have  action. Good luck and see you in May for the Run for the Roses!</p>
        </div>
      </div>
    </section>
    <!------------------------------------------------------------------>
    {*
    {include file="/home/ah/allhorse/public_html/kd/block-free-bet.tpl"}
    {include file="/home/ah/allhorse/public_html/kd/block-testimonial-other.tpl"}
    {include file="/home/ah/allhorse/public_html/kd/block-trainers.tpl"}
    {include file="/home/ah/allhorse/public_html/kd/block-jockeys.tpl"}
    {include file="/home/ah/allhorse/public_html/kd/block-countdown.tpl"}
    {include file="/home/ah/allhorse/public_html/kd/block-exciting.tpl"} *}
    <!------------------------------------------------------------------>
    <div id="main" class="container">
      <div class="row" >
        <div class="col-md-12">
          {include file='inc/disclaimer-kd.tpl'}
        </div>
      </div>
      </div><!-- /#container -->
      {* literal}
      <script type="text/javascript" >
      $(document).ready(function (){
        $("table tr:gt(10)").hide();
      size_td = $("table tr").size();
      x=10;
      $('table tr:lt('+x+')').show();
        $('#loadMore').click(function () {
      $('table tr:lt('+size_td+')').show();
          $('#loadMore').hide();
      });
      });
      </script>
      {/literal *}