{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/top-of-page-blocks.tpl"}
{*Page Unique content goes here*******************************}
          <div class="headline">
            <h1>Kentucky Derby Prep Races</h1>
          </div>
       {*    {include file='/home/ah/allhorse/public_html/kd/wherewhenwatch.tpl'} *}
          <p> The Kentucky Derby Prep Races being each year in September and end in April with the goal of qualifying
            for the the {$KD_DATE} Kentucky Derby. With only 20 horses
            set to take the starting gates under the famous twin spires of Churchill Downs, the road is long. Only the
            strong will survive. </p>
       
          <p class="cta-center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet on Derby Prep Races
              Now</a></p>
          {include_php file='/home/ah/allhorse/public_html/kd/prepraces.php'} </p>
          <p class="cta-center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet on Derby Prep Races
              Now</a></p>
{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/end-of-page-blocks.tpl"}