{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/top-of-page-blocks.tpl"}
{*Page Unique content goes here*******************************}

<p>Find all the <a href="/kentucky-derby/odds">Kentucky Derby odds</a> for {$KD_YEAR} at  BUSR. You can place a bet for win, place, show, trifecta and more at our recommended ADWs and racebooks!</p>
<h2> Kentucky Derby Props and Bets</h2>
<p>{include_php file="/home/ah/allhorse/public_html/kd/odds_props.php"}</p>
{* <p>{include file='/home/ah/allhorse/public_html/kd/odds_926_xml.php'}</p> *}
{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}

   {*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/end-of-page-blocks.tpl"}