{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/top-of-page-blocks.tpl"}
{*Page Unique content goes here*******************************}

<p>Kentucky Derby results are right at your fingertips. Looking to find out what the payouts were for the last race?  Take a look below. How much do you think the winning horse will pay out this year?</p>
{*<p>{include file='/home/ah/allhorse/public_html/ps/salesblurb.tpl'}  *}
<p>	{include_php file='/home/ah/allhorse/public_html/kd/results.php'} </p>



  <p class="cta-center"><a href="/signup?ref={$ref}" class="btn-xlrg ">{$button_cta}</a></p> 

{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_preakness/end-of-page-blocks.tpl"}
{*{include file="/home/ah/allhorse/public_html/usracing/block_preakness/end-of-page-blocks.tpl"} This will be used post race, to point to the next event*}
      