{include file="/home/ah/allhorse/public_html/usracing/schema/web-page.tpl"}


{include file='inc/left-nav-btn.tpl'}



<div id="left-nav">







<!-- ---------------------- left menu contents ---------------------- -->







  {include file='menus/kentuckyderby.tpl'}







<!-- ---------------------- end left menu contents ------------------- -->         



</div>















<!--------- NEW HERO  ---------------------------------------->



<div class="newHero" style="background-image: url({$hero});" alt="{$hero_alt}">



	  <div class="text text-xl">{$h1}</div>



	  <div class="text text-xl" style="margin-top:0px;"></div>



	  <div class="text text-md">{$h2}<br>



	    <a href="/signup?ref={$ref}">



	    <div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i> {$signup_cta}</div>



	    </a> </div>



	</div>







      



<div id="main" class="container">



<div class="row">











<div id="left-col" class="col-md-9">



         



                                        



          



<div class="headline"><h1>Kentucky Derby Video</h1></div>



<div class="content">



<p>
  
  <!-- --------------------- content starts here ---------------------- -->
  
  
  
  
  
  
  
  
  
  
  
  {include file='/home/ah/allhorse/public_html/kd/wherewhenwatch.tpl'} 
</p>
<h2>Latest Kentucky Derby Video Picks</h2>
Kentucky Derby is known as the fastest two minutes in sports. Did you miss it last year? Take a look at the video highlight below.<br>
<br>
         {*   <p>{include file='/home/ah/allhorse/public_html/kd/salesblurb.tpl'} <br> *}
            
<iframe width="100%" height="461" src="https://www.youtube.com/embed/UOsHcyFkJkw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	



	<!--<iframe width="100%" height="461" src="//www.youtube.com/watch?v=UOsHcyFkJkw" frameborder="1" allowfullscreen></iframe>-->

<br>

{*include file='/home/ah/allhorse/public_html/kd/video.php'*} 



<div class="ytFeed">



     <div id="yt-list5" class="yt-feed" data-plumtube data-plum-max-results="20" data-plum-show-title="link" data-plum-playlist="PLEKyEB4uQTtCebClk1GF5WSs8TmRZKdIq" data-plum-modal="true"  data-plum-large-thumb="true"></div>



</div>











 <!-- ------------------------ content ends -------------------------- -->



</div> <!-- end/ content -->



</div> <!-- end/ #left-col -->















<div id="right-col" class="col-md-3">



{include file='inc/rightcol-calltoaction-kd.tpl'} 







{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 







</div><!-- end: #right-col --> 







 </div><!-- end/row -->

 

 <div class="row" >

<div class="col-md-12">

{include file='inc/disclaimer-kd.tpl'}

</div>

</div>



</div><!-- /#container --> 



