{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/top-of-page-blocks.tpl"}
{*Page Unique content goes here*******************************}

  
       <h4 style="font-size:32px;">Where to Watch the {$KD_YEAR} Kentucky Derby?</h4>
      <p style="margin-bottom:5px;">Early lineup for Kentucky Derby {$KD_YEAR} TV coverage</br></p>
      <p style="margin-bottom:5px;">Oaks Day: NBCSN will televise the Oaks and undercard races with coverage from 12-6 p.m. Livestreaming is available on NBCSports.com and on the NBC Sports app.</p>
      <p style="margin-bottom:5px;">Derby Day: NBCSN kicks off coverage from 12:30-2:30 p.m., before the racing switches over to NBC from 2:30-7:30 p.m. Livestreaming is available on NBCSports.com and on the NBC Sports app.</p>
      
        
        <h3 style="font-size:32px;">Will There be Fans at the {$KD_YEAR} Kentucky Derby?</h3>
        <p style="margin-bottom:5px;">Churchill Downs officials said reserved seating is limited between 40-50% capacity, while general admission tickets are limited to 25-30% capacity.</p>
        
        <table id="infoLivestream" class="table table-condensed table-striped table-bordered ordenableResult data" title="$20 million Saudi Cup Payouts" border="0" summary="The 10 horses given first preference (in alphabetical order):" cellspacing="0" cellpadding="0">
         <p>{include_php file='/home/ah/allhorse/public_html/generated/odds/kd/odds_kd.php'}</p>

        {* <p class="cta-center"><button id="loadMore" class="btn btn-xlrg" style="background: #1571BA !important;">Show
            More</button></p>
			<p>Think you know what trainer will win the Kentucky Derby? You can bet on trainers like <a
            href="/kentucky-derby/trainer-betting">Todd Pletcher</a> and Trainer Odds will be coming soon!</p><br> *}

    <p class="cta-center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet Now on the Kentucky Derby</a></p>
            
        <h2>The {$KD_RUNNING} Kentucky Derby runs on {$KD_DATE}.</h2>{*
 Want some helpful trivia? The Kentucky Derby always takes
          place on the first Saturday in May. This year will certainly feature a large field of horses. Up to 20
          three-year-old colts, fillies and geldings can run is this grand event.
*}

{if $KD_Switch_Early || $KD_Switch_Main || $KD_Switch_Race_Day || $KD_Results}
<p>The Kentucky Derby is a Grade I stakes race for three year-old Thoroughbreds at Churchill Downs {* usually *} run on the first Saturday in May.  {* The race is also known as "The run for the Carnations", "the Test of the Champion " and the "Final Jewel of the Triple Crown". *}  This year, the race {* has been postponed a week and is *} will be held on {$KD_DATE}.  You can watch the Kentucky Derby at 5 p.m. EST on TV on NBC or live stream on NBCSports.com. </p>
{else}
        <p>US Racing provides the earliest Kentucky Derby Futures odds of any website. If you see a horse you would like
          to be added, let us know and we might be able to get it added for you!</p>

        <p>Between now and the Kentucky Derby, the odds will be changing when we add new horses and removing others.
          Remember, when you a place future wager the odds are fixed and all wagers have action.</p>
        
        <p>Good luck and see you on {$KD_DATE} for the Run for the Roses!</p>
{/if}
 {*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/end-of-page-blocks.tpl"}
