{include file='inc/left-nav-btn.tpl'}

<div id="left-nav">
<!-- ---------------------- left menu contents ---------------------- -->
{include file='menus/kentuckyderby.tpl'}
</div>
<!-- ---------------------- end left menu contents ------------------- -->   
 <div class="container-fluid">
	<a href="/signup?ref={$ref}"><img class="img-responsive visible-md-block hidden-sm hidden-xs" src="{$hero}" alt="{$hero_alt}"></a>
	<a href="/signup?ref={$ref}"><img class="img-responsive visible-sm-block hidden-md hidden-lg" src="{$hero_mobile}" alt="{$hero_alt}"> </a>
</div>       

 <!------------------------------------------------------------------>    
{include file="/home/ah/allhorse/public_html/usracing/as_seen_on.tpl"}
<!------------------------------------------------------------------>       

<!------------------------------------------------------------------>    

      
    <section class="kd usr-section">
      <div class="container">
        <div class="kd_content">
         
           <a href="/signup?ref={$ref}" rel="nofollow"><img src="/img/index-kd/kd.png" alt="Kentucky Oaks Betting" class="kd_logo img-responsive"></a>
          
          <h1 class="kd_heading">{$h1}</h1>
          <h3 class="kd_subheading">{$h2}</h3>
          
<p>{include file='/home/ah/allhorse/public_html/ps/salesblurb.tpl'} </p>
      <p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">{$button_cta}</a></p>  
<h2>Kentucky Derby Past Winners</h2>
  
{include file='/home/ah/allhorse/public_html/kd/pastwinners.php'} 

						
             <p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">{$button_cta}</a></p>  
{*
<br></br>
<iframe class="video"  height="100%" width="100%" src="https://www.youtube.com/embed/T7DZlRDjCk0" frameborder="0" allowfullscreen></iframe>
*}

        </div>
      </div>
    </section>
     
<!------------------------------------------------------------------>  


{include file="/home/ah/allhorse/public_html/ps/block-free-bet.tpl"}
{include file="/home/ah/allhorse/public_html/ps/block-triple-crown.tpl"}
{* {include file="/home/ah/allhorse/public_html/ps/block-testimonial-other.tpl"} *}
{include file="/home/ah/allhorse/public_html/ps/block-countdown.tpl"}
{include file="/home/ah/allhorse/public_html/ps/block-exciting.tpl"}

<!------------------------------------------------------------------>  

<div id="main" class="container">
 {include file='inc/disclaimer-kd.tpl'} 
</div><!-- /#container --> 

      