{include file="/home/ah/allhorse/public_html/usracing/block_kentucky-derby/top-of-page-blocks.tpl"}
{*Page Unique content goes here*******************************}
<h2>Kentucky Derby Past Winners</h2>
  
{include file='/home/ah/allhorse/public_html/kd/pastwinners.php'} 

						
             <p class="cta-center"><a href="/signup?ref={$ref}" class="btn-xlrg ">{$button_cta}</a></p>  
{*
<br></br>
<iframe class="video"  height="100%" width="100%" src="https://www.youtube.com/embed/T7DZlRDjCk0" frameborder="0" allowfullscreen></iframe>
*}

        {*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_preakness/end-of-page-blocks.tpl"}
{*{include file="/home/ah/allhorse/public_html/usracing/block_preakness/end-of-page-blocks.tpl"} This will be used post race, to point to the next event*}