/* $Id: system-menus.css,v 1.1 2007/10/05 14:50:25 goba Exp $ */

/* ---- LEFT COLUMN MENU ------- */

#col1 ul.menu { list-style: none; margin:0; border: 1px solid #aad3ff; font-size: 10px; list-style: none; list-style-image:none; /* IE 7 needs this */ }

#col1 ul.menu li { list-style: none; list-style-image:none; /* IE 7 needs this */ margin: 0; padding: 0; }

#col1 li.leaf, #col1 li.expanded  { list-style: none; display: block; line-height:1.3em; }

/* Menu Items */
#col1 li.collapsed a, #col1 li.expanded a, #col1 li.leaf a {
  display:block; 
  border-top: 1px solid #aad3ff;
  font-weight:bold;
  margin: 0;
  padding: 0.583em 0.417em 0.417em 1.167em;
  text-decoration:none;
}

#col1 li.leaf.first a, #col1 li.first a { border:0; } /* First Menu Item */
#col1 li.collapsed a:hover, #col1 li.leaf a:hover, #col1 li.expanded a:hover { display: block; background: #d9ecff;}

#col1 li.leaf a.active { display: block; background: #d9ecff url('../../themes/images/leftmenu-arrow.png') no-repeat; background-position: 0.417em center;}
#col1 li.leaf a.active:hover { display: block; background: #d9ecff url('../../themes/images/leftmenu-arrow.png') no-repeat; background-position: 0.417em center;}

/* Hide-Show Sub Menus */
#col1 li.expanded ul { display: none; }
#col1 li.active-trail ul { display: block; border: 0; margin: 0; padding: 0; }

/* Menu Items with Sub menus */
#col1 li.active-trail a, #col1 li.active-trail a:hover { display: block; background: #d9ecff; }

#col1 li.expanded ul li, #col1 li.expanded a.active ul { margin: 0; padding: 0;  	}
#col1 li.expanded ul li a { display: block;  border-top: 1px solid #aad3ff; padding: 0.583em 0.417em 0.417em 2.167em; background:#edf6ff; 	}
#col1 li.expanded ul li.leaf.first a {  border-top: 1px solid #aad3ff;	}
#col1 li.expanded ul li a:hover {  display: block; background: #d9ecff;	}

#col1 li.expanded a.active, #col1 li.expanded a.active:hover { display: block; background: #d9ecff url('../../themes/images/leftmenu-arrow.png') no-repeat; background-position: 0.417em center;}

/* Sub-Menu Items */
#col1 li.active-trail li a.active, #col1 li.active-trail li:hover a.active { color: white; background: #105ca9 url('../../themes/images/leftmenu-arrow.png') no-repeat; background-position: 1.2em center; }


td.menu-disabled { background: #ccc; }
#col1 ul.links { margin: 0; padding: 0; }
#col1 ul.links.inline { display: inline; }
#col1 ul.links li { display: inline; list-style-type: none; padding: 0; }
#col1 .block ul { margin: 10px 0 0 0; padding: 0; /* LTR */ }


/* Upcoming Menus and Completed Race Menus */

#col1 .menu .racename { text-transform: uppercase; }
#col1 .menu .raceinfo { color: #000; font-size: 11px; }
#col1 .menu .noopen { padding: 0.85em 0.417em 0.417em 1.167em; font-weight: bold; line-height:1.2em; }
#col1 .menu .noclosed { padding: 0.85em 0.417em 0.417em 1.167em; font-weight: bold; line-height:1.2em; }
#col1 table.racetrack-menu ul { padding: 0; margin:0; border-top:0; }
#col1 table.racetrack-menu tbody { border:0; }
#col1 table.racetrack-menu { border-top:1px solid #aad3ff; }




/* ----- END left column menu -------- */


ul.menu {
  list-style: none;
  border: none;
  text-align:left; /* LTR */
}
ul.menu li {
  margin: 0 0 0 0.5em; /* LTR */
}
li.expanded {
  list-style-type: circle;
  list-style-image: url(../../misc/menu-expanded.png);
  padding: 0.2em 0.5em 0 0; /* LTR */
  margin: 0;
}
li.collapsed {
  list-style-type: disc;
  list-style-image: url(../../misc/menu-collapsed.png); /* LTR */
  padding: 0.2em 0.5em 0 0; /* LTR */
  margin: 0;
}
li.leaf {
  list-style-type: square;
  list-style-image: url(../../misc/menu-leaf.png);
  padding: 0.2em 0.5em 0 0; /* LTR */
  margin: 0;
}
li a.active {
  
}



td.menu-disabled {
  background: #ccc;
}
ul.links {
  margin: 0;
  padding: 0;
}
ul.links.inline {
  display: inline;
}
ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}
.block ul {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
