@charset "UTF-8";
/* CSS Document */

/* ---- Common Tabs  -------------------------------------------------------------------- */

/* initially all panes are hidden */ 
div.panes div.pane { display: none;  }

/* root element for tabs  */
div.panes { width: 100%; height: auto;} 
div.panes div { clear: both; display:block; }

/* -- Common Styling ----------------------------- */
ul.tabs { list-style:none; margin:0 !important; padding:0;}
ul.tabs li { float: left; display: inline; text-indent:0; margin:0 !important; list-style-image:none !important; }
ul.tabs a { position:relative; display:block; font-size: 11px; font-weight: bold; padding: 4px 10px; text-align:left; text-decoration:none; color:#1b579f; background: #FFF url("/themes/images/tabs-bg.gif") top left repeat-x; }
ul.tabs a:active { outline:none; }
ul.tabs a:hover { color:#000; }
/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a { font-size: 11px; font-weight: bold; display: block; margin:0; cursor:default !important; }
/*----- End Common ---------------------------------*/

/* ---- Casino Specific Styling --------------------------- */
ul.tabs .cas a {  padding: 4px 9px; border-top: 1px solid #3780cc; border-right: 1px solid #3780cc; border-bottom: 1px solid #3780cc; zoom:1; /* Enables hasLayout - Need this for IE7 to display the borders correctly */ }
ul.tabs .cas.playtab a { background: #70b336 url("/themes/images/tabs-bg-play.gif") top left repeat-x; color: #FFF; border-top:1px solid #3780cc; border-bottom:1px solid #3780cc; border-right: 1px solid #224d00; }
ul.tabs .cas.playtab.last a { border-right:1px solid #3780cc; }
ul.tabs .cas a.current, ul.tabs li.current a  { padding: 4px 9px; border-bottom: 1px solid black; background: #000; margin:0; color:#FFF !important; zoom:1; }
ul.tabs .cas-first a { padding: 4px 9px; border: 1px solid #3780cc; zoom:1; }
ul.tabs .cas-first a.current, ul.tabs li.current a  { padding: 4px 9px; border-top: 1px solid #3780cc; border-left: 1px solid #3780cc; border-right: 1px solid #3780cc; border-bottom: 1px solid black; background: #000; margin:0; color:#FFF !important; zoom: 1; }

/* ---- How To Bet Specific Styling --------------------------- */
#learn-tabs { position: relative; display: block; position: relative; width: 100%; margin: 10px 0 0 0;}
#learn-tabs ul.tabs li.learn {  float: left; display: block; text-indent:0; margin:0 !important; list-style-image:none !important; }
#learn-tabs ul.tabs .learn a {  display: block; text-align: center; font-size: 10px;  border: 1px solid #3780cc; padding: 4px 19px;  margin: -1px 0 0 -1px; zoom:1;/* Enables hasLayout - Need this for IE7 to display the borders correctly */ }
#learn-tabs ul.tabs .learn a.current, #learn-tabs ul.tabs li.current a  { background: #105ca9; margin: -1px 0 0 -1px; color:#FFF !important; zoom:1; }

/* ---- Basic Tabs --------------------------- */
#basic-tabs { position: relative; display: block; margin: 10px 0 0 0;}
#basic-tabs ul.tabs li {  float: left; text-indent:0; margin:0 !important; list-style-image:none !important;  }
#basic-tabs ul.tabs a {  display: block; text-align: center; font-size: 10px;  border: 1px solid #3780cc; padding: 4px 16px; margin: -1px 0 0 -1px; zoom:1;/* Enables hasLayout - Need this for IE7 to display the borders correctly */ }
#basic-tabs ul.tabs a.current, #basic-tabs ul.tabs li.current a  { background: #105ca9; margin: -1px 0 0 -1px; color:#FFF !important; zoom:1; }

.basic-tabs-content { display:block; margin: 0 34px; padding: 20px 0;}
.basic-tabs-content table.rules { margin: 6px 0; padding: 0; border:1px solid #000;}
.basic-tabs-content table.rules td { border: 1px solid #333; }
.basic-tabs-content table.rules td, .basic-tabs-content table.rules th { padding: 10px; }
.basic-tabs-content table.rules th {  border-right: 1px solid #6ca8ee; color: #FFF; font-size: 1em; font-weight: bold; background: #105ca9; }

/* HOME PAGE ======================================*/
/* Todays' Tracks ------ */

/* initially all panes are hidden */ 
div.panes div.pane { display: none; }
/* root element for tabs  */
div.panes div { clear: both; display:block; }

#track-results-block ul.tabs { display: block; position: relative; list-style:none; margin:0 !important; padding:0; width: 99.9%; /* not 100% becasue of IE */  }
#track-results-block ul.tabs li { float:left; display: block; text-indent:0; margin:0 0 0 0px !important; list-style-image:none !important; width: 50%; }

#track-results-block ul.tabs a {  position:relative; display:block; line-height: 17px; font-size: 17px; font-weight: bold; padding: 0; text-align:left; text-decoration:none; color:#666; }
#track-results-block ul.tabs a:active { outline:none; }
#track-results-block ul.tabs a:hover { color:#000; }
/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
#track-results-block ul.tabs a.current, 
#track-results-block ul.tabs a.current:hover, 
#track-results-block ul.tabs li.current a { font-size: 17px; font-weight: bold; display: block; margin:0; cursor:default !important; color:#000 !important; }
/* Tracks Tab */
#track-results-block ul.tabs a .b1 { display: block; height: 23px;  background: #ededed url('/themes/images/tab-tracks.gif') no-repeat left; background-position: 0 0; padding: 9px 0 0 45px; }
#track-results-block ul.tabs a:hover .b1 { background: #ededed url('/themes/images/tab-tracks.gif') no-repeat left; background-position: 0 0; padding: 9px 0 0 45px; }
#track-results-block ul.tabs a.current .b1 { background: #FFF url('/themes/images/tab-tracks.gif') no-repeat left; background-position: 0 -32px; padding: 9px 0 0 45px; }
#track-results-block ul.tabs a.current .b1-border { margin: 0 0 0 10px; border-bottom: 1px solid #bbdcff; display: block; }
/* Results Tab */
#track-results-block ul.tabs a .b2 { display: block; height: 23px; background: #ededed url('/themes/images/tab-tracks.gif') no-repeat left; background-position: 0 -64px; padding: 9px 0 0 55px; }
#track-results-block ul.tabs a:hover .b2 { background: #ededed url('/themes/images/tab-tracks.gif') no-repeat left; background-position: 0 -64px; padding: 9px 0 0 55px; }
#track-results-block ul.tabs a.current .b2 { background: #FFF url('/themes/images/tab-tracks.gif') no-repeat left; background-position: 0 -96px; padding: 9px 0 0 55px; }
#track-results-block ul.tabs a.current .b2-border { margin: 0 10px 0 20px; border-bottom: 1px solid #bbdcff; display: block; }


/* /rules/casinogamerules ======================================*/
#basic-tabs ul.tabs.casinorules { width: 100%; }
#basic-tabs ul.tabs.casinorules li { width:25%; }
#basic-tabs ul.tabs.casinorules a { padding:7px 0; line-height: 12px; width:auto; }