{assign var="showclock" value="0"} 
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}  


 <hr><!-- --------------------- HR ---------------------- -->

<!--<h2>{include file='/home/ah/allhorse/public_html/breeders/year-last.php'} Breeders' Cup  Mile Results</h2>--> 
<p>{include_php file='/home/ah/allhorse/public_html/breeders/mile/results.php'}</p>
<!--<p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">Bet Now</a></p>--> 

<!--<hr>--> <!-- --------------------- HR ---------------------- -->    



<!--<h2>{include file='/home/ah/allhorse/public_html/breeders/year-last.php'} Breeders' Cup  Mile Payouts</h2>--> 
<p>{include_php file='/home/ah/allhorse/public_html/breeders/mile/payouts.php'}</p>
<p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">Bet Now</a></p>  

<hr><!-- --------------------- HR ---------------------- -->    


<h2> Breeders Cup'  Mile Winners</h2>
<p>{include file='/home/ah/allhorse/public_html/breeders/mile/winners-new.php'}</p>




{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}
{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/end-of-page-blocks.tpl"}