body {
    font-family: 'Lato';
}

canvas {
    width: 100%;
    max-width: 840px;
    max-height: 472px;
}

a {
    cursor: pointer;
}

.export img {
    width: 70px;
    height: 70px;
}

.loader {
    display: none;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #1571BA;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.topBanner {
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h1 {
    color: #696969;
    font-size: 26px;
    font-weight: 400;
}

h2 {
    color: #15598e;
    font-size: 22px;
    font-weight: 700;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .canvas {
        flex-direction: column;
        align-items: center;
    }

    .canvas .form {
        max-width: 840px;
    }
}

.download {
    font-weight: 400;
    font-size: 22px;
    color: #696969;
}

.bottomBanner {
    width: 100%;
}

.bottomBanner img {
    width: 100%;
    max-width: 970px;
    height: auto;
}

#banner-mobile {
    display: none;
}

footer {
    background-color: #1571BA;
    height: 120px;
}

.home {
    font-weight: 700;
    color: #ffffff;
    font-size: 22px;
}

.copyright {
    font-size: 12px;
    color: #ffffff;
    font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .topBanner {
        height: 250px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .topBanner {
        height: 150px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .topBanner {
        height: 150px;
        background-size: cover;
    }

    #banner-desktop {
        display: none;
    }

    #banner-mobile {
        display: block;
    }

    .export img {
        width: 60px;
        height: 60px;
    }

    .loader {
        width: 60px;
        height: 60px;
      }

    .download {
        font-size: 16px;
    }
}