<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="true" >Learn More <i class="fa fa-angle-down"></i></a>
  <ul class="dropdown-menu right">
	  
    <li><a href="/about" >About Us</a></li> 
    <li><a href="/awards" >Award Winning News</a></li>
    {*<li><a href="/legal-online-horse-betting" title="Legal Horse Betting">Legal Horse Betting</a></li>*}
    <li><a href="/best-horse-racing-site" >Best Horse Racing Sites</a></li>
     <li><a href="/mobile-horse-betting">Mobile Betting</a></li>
     <li><a href="/racetracks">Racetracks</a></li>
		 <li><a href="/rebates">Rebates</a></li>
		 <li><a href="/support">Contact Us</a></li>
     {*<li><a href="/states-accepted">States Accepted</a></li> *}
     {*  <li><a href="/states-accepted">States Accepted</a></li> *}
   {*  <li><a href="/cash-bonus">$150 Signup Bonus</a></li> *}
    
    {* <li><a href="/payouts">Super Fast Payouts</a></li> *}
    
   {*  <li><a href="/getting-started">Have a Promo Code?</a></li> *}
  {*  <li><a href="#">Tell Your Friends</a></li>
   <li><a href="#">Our Guarantee</a></li>*}
   
	 <li><a href="/getting-started" >Getting Started</a></li>
    <li><a href="/signup/?m=Join-Today">Join a Racebook!</a></li>
    {*<li><a href="/blog" >Blog</a></li>*}
    {*
     <li><a href="/live-horse-racing" >Live Racing Video</a></li>
    <li><a href="/mobile-horse-betting" >Mobile Betting</a></li>
    <li><a href="/racetracks" title="Racetracks">Racetracks</a></li>
    <li><a href="/today" title="Today&#039;s Tracks">Today&#039;s Tracks</a></li>
    <li><a href="/results" title="Horse Racing Results" >Horse Racing Results</a></li>
    <li><a href="/graded-stakes-races" title="Graded Stakes Races" >Graded Stakes Races</a></li>
    <li><a href="/news" title="Horse Racing News">Horse Racing News</a></li>
    <li><a href="/contact" title="Contact Us">Contact Us</a></li>
    <li><a href="/live-video" title="Live Video.">Live Video</a></li>
    <li><a href="/mobile-betting" title="Mobile Horse Betting">Mobile Betting</a></li>
    <li><a href="/handicapping" title="Horse Racing Handicapping">Handicapping</a></li>
    *}
  </ul>
</li>
