
<li class="dropdown"><a href="/belmont-stakes" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false"  >Belmont Stakes <i class="fa fa-angle-down"></i></a>
<ul class="dropdown-menu">
{*
  <li><a href="/belmont-stakes"> {include file="/home/ah/allhorse/public_html/belmont/year.php"}  Belmont Stakes</a></li>
  <li><a href="/belmont-stakes/betting">Belmont Stakes Betting</a></li>
*}
  {*<li><a href="/bet-on/california-chrome">Bet on California Chrome a</a></li>
  <li><a href="/belmont-stakes/schedule">Belmont Stakes Schedule</a></li>*}
{*   <li><a href="/belmont-stakes/odds"  >Belmont Stakes Odds</a></li> *}
  {* <li><a href="/belmont-stakes/video"  >Belmont Stakes Video</a></li>*}
{*    <li><a href="/belmont-stakes/contenders" >Belmont Stakes Contenders</a></li> *}

 {*  <li><a href="/belmont-park"  >Belmont Park</a></li> *}
{*   <li><a href="/bet-on/belmont-stakes" >Bet on Belmont Stakes</a></li> *}
{*
    <li><a href="/bet-on/american-pharoah" >Bet on American Pharoah</a></li>
<li><a href="/bet-on/triple-crown" >Triple Crown Betting</a></li>
*}

 {*<li><a href="/belmont-stakes/free-bet"    >FREE BET</a></li> *}
{*   <li><a href="/belmont-stakes/betting-guide"    >Free Belmont Stakes Betting Guide</a></li>  *}

{*
 <li><a href="/preakness-stakes/results" >Preakness Stakes  Results</a></li> 
 <li><a href="/preakness-stakes/winners" >Preakness Stakes  Winners</a></li> 
*}
	   <li><a href="/belmont-stakes/results" >Belmont Stakes Results</a></li>  
  
  <li><a href="/belmont-stakes/winners"    >Belmont Stakes  Winners</a></li> 
  
  

	   <li><a href="/preakness-stakes/results" >Preakness Stakes Results</a></li>  
  
  <li><a href="/preakness-stakes/winners"    >Preakness Stakes  Winners</a></li> 

   <li><a href="/kentucky-derby/results">Kentucky Derby Results</a></li>
      <li><a href="/kentucky-derby/winners" >Kentucky Derby Winners</a></li>
</ul>
</li>
