<li class="dropdown">
  <a  class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Famous Races<i class="fa fa-angle-down"></i></a>
  <ul class="dropdown-menu">   
    <li><a href="/royal-ascot"  >Royal Ascot</a></li>
    <li><a href="/kentucky-derby/betting"  >Kentucky Derby</a></li>
    <li><a href="/preakness-stakes/betting"  >Preakness Stakes</a></li>
    <li><a href="/belmont-stakes/betting"  >Belmont Stakes</a></li>
    <li><a href="/breeders-cup/betting"  >Breeders' Cup</a></li>
    <li><a href="/dubai-world-cup"  >Dubai World Cup</a></li>
    <li><a href="/melbourne-cup"  >Melbourne Cup</a></li>
    
    <li><a href="/hong-kong-racing">Hong Kong Racing</a></li>
<li><a href="/signup" title="And Even More Available!" rel="nofollow">And Even More Available!</a></li>
   
  </ul>
</li>