<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="true" >Promos <i class="fa fa-angle-down"></i></a>
  <ul class="dropdown-menu right">
 {* <li><a href="/promos/10-reload-bonus">Belmont Reload Bonus</a></li>*}
    <li><a href="/rebates">8% Rebates</a></li>
     <li><a href="/promos/cash-bonus-10">10% Signup Bonus</a></li>
 <li><a href="/promos/cash-bonus-150">$150 Member Bonus</a></li>
{* 		<li><a href="/promos/free-bet"  >Free Bets for Members</a></li> *}
 {*  <li><a href="/kentucky-derby/free-bet">Free Bet</a></li>  *}
   {*<li><a href="/promos/free-bet">Free Bet</a></li> *}
 {*   <li><a href="/breeders-cup/free-bet">Free Breeders' Cup Bet</a></li>  *}
{*  <li><a href="/belmont-stakes/free-bet">Free Belmont Bet</a></li>*}
{*    <li><a href="/promos/casino-rebate">50% Casino Cash Back</a></li> *}
{*  <li><a href="/promos/blackjack-tournament">Blackjack Tournament</a></li> *}

    {* <li><a href="/promos/race-of-the-week">Race of the Week</a></li> *}
     {* <li><a href="/promos/blackjack-tournament">KD Blackjack Tournament</a></li> *}
{*     <li><a href="/refer-a-friend">Refer a Friend Bonus</a></li> *}
{*     <li><a href="/promos/derby-wager-guide">Kentucky Derby Betting Guide</a></li> 
         <li><a href="/super-bowl" >Super Bowl Deposit Bonus</a></li> *}
{*
     <li><a href="/getting-started">Have a Promo Code?</a></li>
 
*}
  </ul>
</li>
