/* AddThisEvent (add to your existing CSS) */
.addthisevent-drop { background:#C71F24 !important; color:#fff !important;  padding:5px !important; border:none; display:inline-block; position:relative; z-index:999998; font-family: "roboto condensed", arial, helvetica, sans-serif; text-decoration:none; font-size:14px; text-decoration:none; font-size:15px; font-weight:400 !important; }
.addthisevent-drop:hover, .addthisevent-drop:focus {  color:#fff; text-decoration:none;  border:0; font-weight:400 !important;}
.addthisevent-selected { }
.addthisevent_dropdown { width:200px; position:absolute; z-index:99999; padding:0px; background:#fff; text-align:left; display:none; margin-top:4px; margin-left:-1px; border:1px solid #ddd; -moz-border-radius:4px; -webkit-border-radius:4px; -webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15); -moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15); box-shadow:1px 3px 6px rgba(0,0,0,0.15); }
.addthisevent_dropdown span { position:relative; width:auto; display:block; line-height:normal; background:#fff; text-decoration:none; font-family: "roboto condensed", arial, helvetica, sans-serif; font-size:15px !important; color:#556067; padding:10px 5px 10px 10px; border-top:1px dotted #ccc; }
.addthisevent_dropdown span:first-child { border-top:0;}
.addthisevent_dropdown span:hover { background:none; color:#000; text-decoration:none; font-size:15px !important; }
.addthisevent_dropdown span i { font-family: 'FontAwesome'; color:#c71f24; font-size:14px; float:right; line-height:normal; }
.addthisevent span { display:none!important; }
.addthisevent-drop ._url, .addthisevent-drop ._start, .addthisevent-drop ._end, .addthisevent-drop ._summary, .addthisevent-drop ._description, .addthisevent-drop ._location, .addthisevent-drop ._organizer, .addthisevent-drop ._organizer_email, .addthisevent-drop ._facebook_event, .addthisevent-drop ._all_day_event { display:none!important; }
.addthisevent_dropdown .copyx { width:200px; height:21px; display:block; position:relative; cursor:default; }
.addthisevent_dropdown .brx { width:180px; height:1px; overflow:hidden; background:#e0e0e0; position:absolute; z-index:100; left:10px; top:9px; }
.addthisevent_dropdown .frs { position:absolute; top:5px; cursor:pointer; right:10px; padding-left:10px; font-style:normal; font-weight:normal; text-align:right; z-index:101; line-height:110%; background:#fff; text-decoration:none; font-size:9px; color:#cacaca; }
.addthisevent_dropdown .frs:hover { color:#6d84b4; }
.addthisevent { visibility:hidden; }

.infoBlocks .addthisevent-drop { color:#fff !important; display:block; text-align:center; line-height:14px; width:70%; margin:20px auto 0; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; }

.infoBlocks .addthisevent-drop:hover {  }
.infoBlocks .addthisevent-drop > i { margin-left:5px; font-size:14px; float:right; top:1px; position:relative; }
.infoBlocks .addthisevent-selected {  }
.infoBlocks .addthisevent-selected > i { font-family: 'FontAwesome'; color:#fff !important; }
.infoBlocks .addthisevent-selected > i:before {  content: "\f068"; }
.infoBlocks .addthisevent_dropdown { width:100%; }
.infoBlocks .addthisevent_dropdown span { width:auto; padding:10px 5px 10px 10px; }
 @media screen and (min-width: 0px) and (max-width: 480px) {
.infoBlocks .addthisevent-drop { width:100%; }
}
