
                @import url(//fonts.googleapis.com/css?family=Open+Sans:300);
                @import url(//fonts.googleapis.com/css?family=Roboto);
                body{
                    background:#fff;
                }

                .comparative_table_container{
                    text-align:center;
                    color:#666;
                    margin-top:8px;
                    font-family: 'Open Sans', sans-serif;
                }

                .usracing_table_row {
				    background-color: #1571BA;
				    width: 80%;
				    float: left;
				    color: yellow;
				    padding: 4.2px;
				    font-size: 18px;
				    margin: 0 10% 0 10%;
				    border-top: inset 1px rgba(255,255,255,0.2);
                }
                .arrow-up {
					width: 100%;
					height: 70px;
					-webkit-filter: drop-shadow(0px 2px 5px rgba(0,0,0,0.5));
				    filter: url(#drop-shadow);
				    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#f1f1f1')";
				    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#f1f1f1')";
				}
                .betus-row {
                    box-shadow: -100px -100px 0px -100px transparent, 0px 4px 5px rgba(0,0,0,0.5);
                    z-index: 9;
                }
                .feature-text {
				    font-family: 'Roboto', sans-serif;
				    /* text-indent: 5px; */
				    text-transform: uppercase;
				    font-weight: bold;
				    font-size: 14px;
				    padding-top: 5px;
				}
                .comparative_table_row {
					background: #f1f1f1;
				    font-size: 14px;
				    box-shadow: inset 0 1px 0 0 #c1c1c1;
				    border-left: 1px solid #c1c1c1;
				    border-right: 1px solid #c1c1c1;
                }
                .comparative_brands_table_row {
                    padding:4.2px;
                    background: #F1F1F1;
                    font-size: 18px;
                }

                .comparative_table_row-2 {
					background: #c9c9c9;
				    font-size: 14px;
				    box-shadow: inset 0 1px 0 0 #c1c1c1;
				    border-left: 1px solid #c1c1c1;
				    border-right: 1px solid #c1c1c1;
                }
                .comparative {
                    text-align: center;
                }
                .comparative-logo {
                    min-height: 90px;
                }
                .comparative-logo img {
                    text-align: center;
                }
                .comparative-logo-others {
                    min-height: 90px;
                }

                .comparative_title {
                    float: left;
                    width: 100%;
                    text-align: center;
                    color: #337AB7;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 27px;
                    margin: 10px;
                }
                .no-padding {
                    padding-left: 0;
                    padding-right: 0;
                }
                span.asterisk {
                    padding: 0;
                    margin-right: -8px;
                    color: #d9534f;
                }
                .feature-no {
                    color: #666;
    				font-family: 'Roboto', sans-serif;
    				padding-top: 5px;
                }
                .feature-yes {
                    color: #666;
    				font-family: 'Roboto', sans-serif;
    				padding-top: 5px;
                }
                img.logo-otherc {
                    width: 100%;
                }
				.bottom-radius {
				    border-bottom-right-radius: 5px;
				    border-bottom-left-radius: 5px;
				}
				.top-radius {
				    border-top-right-radius: 5px;
				    border-top-left-radius: 5px;
				}
