/* Countdown */
.countdown .panel { margin:0;}
.countdown .panel span { font-weight:700; margin:0 10px 5px 0;}
.countdown .panel .start { margin:10px 0 15px; }
.countdown .panel .race { margin-bottom:10px; }
.countdown .clock { width:100%; margin:0 auto; margin-top:0; }
.countdown canvas, .countdown .val, .countdown .time { width:80px;}
.countdown canvas  { height:80px; }
.countdown .val  { line-height:80px;}
.countdown .text { font-family: "roboto", arial, helvetica, sans-serif; font-weight:700; }
.countdown .text .time { font-size:13px;}

.clock .item { position:relative; float:left; width:25%; text-align:center;   }
.bgLayer canvas {  position:absolute; top:0; left:0; }
.topLayer canvas { position:absolute; top:0; left:0;}
.text {  }
.time { width:100%;  margin-top:5px; font-size:13px; line-height:20px;  text-transform:uppercase; }
.val { margin:0; font-size:28px; font-weight:bold; color:#444; text-align:center;    }
.type_days { color:#ff6565; }
.type_hours { color:#378cff; }
.type_minutes { color:#9cdb7d; }
.type_seconds { color:#ffdc50; }

.usr-section{display:table;width:100%}.usr-section .container{margin:0 auto;padding:0 15px}.countdown{background:transparent url("/img/index-ps/bg-countdown.jpg") center top no-repeat;background-size:cover;padding:58px 0}@media (min-width: 1024px){.countdown{padding:85px 0}}.countdown .bgLayer,.countdown .topLayer{display:none}.countdown_heading{color:#fff;font-family:"Lato";font-size:25px;font-weight:300;padding:0 42px;margin:0 0 22px;text-align:center}@media (min-width: 480px){.countdown_heading{font-size:35px;padding:0 52px}}@media (min-width: 1024px){.countdown_heading{font-size:36px;padding:0 67px}}.countdown_heading-text{display:inline-block;position:relative}@media (min-width: 768px){.countdown_heading-text br{display:none}}.countdown_heading-text:after,.countdown_heading-text:before{background:transparent url("/img/index-ps/shapes.png") left top no-repeat;content:"";display:inline-block;height:17px;margin-top:-8.5px;top:50%;position:absolute;vertical-align:middle;width:37px}.countdown_heading-text:after{background-position:right top;left:105%}.countdown_heading-text:before{right:105%}.countdown_items{overflow:hidden;text-align:center}.countdown_item{border-radius:8px;border:2px solid #fff;display:inline-block;margin:0 3px 0 0;padding:6px 4px;text-align:center;width:67px}.countdown_item:last-child{margin:0}@media (min-width: 480px){.countdown_item{margin:0 8px 0 0;padding:12px 4px;width:103px}}@media (min-width: 768px){.countdown_item{width:119px}}.countdown .countdown_num{color:#fff;display:block;font-family:"Lato";font-size:30px;line-height:1;font-weight:300;margin:0 0 3px;width:auto !important}@media (min-width: 480px){.countdown .countdown_num{font-size:47px}}@media (min-width: 768px){.countdown .countdown_num{font-size:60px}}.countdown .countdown_label{color:#fff;display:block;font-family:"Lato";font-size:10px !important;font-weight:300;margin:0;text-transform:uppercase;width:auto !important}@media (min-width: 480px){.countdown .countdown_label{font-size:12px !important}}@media (min-width: 768px){.countdown .countdown_label{font-size:13px !important}}


.bs-countdown {
  background-color: transparent;
  background-image: url("/img/index-ps/bg-countdown.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 58px 0; }
  @media (min-width: 1024px) {
    .bs-countdown {
      padding: 85px 0; } }
  .bs-countdown .bgLayer,
  .bs-countdown .topLayer {
    display: none; }
  .bs-countdown--belmont {
    background-image: url("/img/index-ps/bg-countdown-belmont.jpg");
    padding: 52px 0;
    text-align: center; }
  .bs-countdown--ps {
    background-image: url("/img/index-ps/bg-countdown-ps.jpg");
    padding: 52px 0;
    text-align: center; }
  .bs-countdown_content {
    background-color: #000;
    border-radius: 30px;
    display: inline-block;
    padding: 30px 15px 35px;
    margin-left: -15px;
    margin-right: -15px; }
    @media (min-width: 768px) {
      .bs-countdown_content {
        margin-left: 0;
        margin-right: 0;
        padding: 30px 25px 35px; } }
    @media (min-width: 1024px) {
      .bs-countdown_content {
        padding: 30px 50px 35px; } }
  .bs-countdown_heading {
    color: #fff;
    font-family: "Lato";
    font-size: 25px;
    font-weight: 300;
    padding: 0 42px;
    margin: 0 0 22px;
    text-align: center; }
    @media (min-width: 480px) {
      .bs-countdown_heading {
        font-size: 35px;
        padding: 0 52px; } }
    @media (min-width: 1024px) {
      .bs-countdown_heading {
        font-size: 36px;
        padding: 0 67px; } }
  .bs-countdown_heading-text {
    display: inline-block;
    position: relative; }
    @media (min-width: 768px) {
      .bs-countdown_heading-text br {
        display: none; } }
    .bs-countdown_heading-text:after, .bs-countdown_heading-text:before {
      background: transparent url("/img/index-ps/shapes.png") left top no-repeat;
      content: "";
      display: inline-block;
      height: 17px;
      margin-top: -8.5px;
      top: 50%;
      position: absolute;
      vertical-align: middle;
      width: 37px; }
    .bs-countdown_heading-text:after {
      background-position: right top;
      left: 105%; }
    .bs-countdown_heading-text:before {
      right: 105%; }
  .bs-countdown_items {
    overflow: hidden;
    text-align: center; }
  .bs-countdown_item {
    border-radius: 8px;
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    margin: 0 3px 0 0;
    padding: 6px 4px;
    text-align: center;
    width: 67px; }
    .bs-countdown_item:last-child {
      margin: 0; }
    .bs-countdown_item--green {
      border-color: #96d400;
      color: #96d400; }
    .bs-countdown_item--yellow {
      border-color: #fcdf05;
      color: #fcdf05; }
    @media (min-width: 480px) {
      .bs-countdown_item {
        margin: 0 8px 0 0;
        padding: 12px 4px;
        width: 103px; } }
    @media (min-width: 768px) {
      .bs-countdown_item {
        width: 119px; } }
  .bs-countdown .bs-countdown_num {
    color: inherit;
    display: block;
    font-family: "Lato";
    font-size: 30px;
    line-height: 1;
    font-weight: 300;
    margin: 0 0 3px;
    width: auto !important; }
    .bs-countdown .bs-countdown_num--green {
      color: #96d400; }
    @media (min-width: 480px) {
      .bs-countdown .bs-countdown_num {
        font-size: 47px; } }
    @media (min-width: 768px) {
      .bs-countdown .bs-countdown_num {
        font-size: 60px; } }
  .bs-countdown .bs-countdown_label {
    color: inherit;
    display: block;
    font-family: "Lato";
    font-size: 10px !important;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
    width: auto !important; }
    @media (min-width: 480px) {
      .bs-countdown .bs-countdown_label {
        font-size: 12px !important; } }
    @media (min-width: 768px) {
      .bs-countdown .bs-countdown_label {
        font-size: 13px !important; } }
		
.ps-countdown {
  background-color: transparent;
  background-image: url("/img/index-ps/bg-countdown.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 58px 0; }
  @media (min-width: 1024px) {
    .ps-countdown {
      padding: 85px 0; } }
  .ps-countdown .bgLayer,
  .ps-countdown .topLayer {
    display: none; }
  .ps-countdown--belmont {
    background-image: url("/img/index-ps/bg-countdown-belmont.jpg");
    padding: 52px 0;
    text-align: center; }
  .ps-countdown--ps {
    background-image: url("/img/index-ps/bg-countdown-ps.jpg");
    padding: 52px 0;
    text-align: center; }
  .ps-countdown_content {
    background-color: #000;
    border-radius: 30px;
    display: inline-block;
    padding: 30px 15px 35px;
    margin-left: -15px;
    margin-right: -15px; }
    @media (min-width: 768px) {
      .ps-countdown_content {
        margin-left: 0;
        margin-right: 0;
        padding: 30px 25px 35px; } }
    @media (min-width: 1024px) {
      .ps-countdown_content {
        padding: 30px 50px 35px; } }
  .ps-countdown_heading {
    color: #fff;
    font-family: "Lato";
    font-size: 25px;
    font-weight: 300;
    padding: 0 42px;
    margin: 0 0 22px;
    text-align: center; }
    @media (min-width: 480px) {
      .ps-countdown_heading {
        font-size: 35px;
        padding: 0 52px; } }
    @media (min-width: 1024px) {
      .ps-countdown_heading {
        font-size: 36px;
        padding: 0 67px; } }
  .ps-countdown_heading-text {
    display: inline-block;
    position: relative; }
    @media (min-width: 768px) {
      .ps-countdown_heading-text br {
        display: none; } }
    .ps-countdown_heading-text:after, .ps-countdown_heading-text:before {
      background: transparent url("/img/index-ps/shapes.png") left top no-repeat;
      content: "";
      display: inline-block;
      height: 17px;
      margin-top: -8.5px;
      top: 50%;
      position: absolute;
      vertical-align: middle;
      width: 37px; }
    .ps-countdown_heading-text:after {
      background-position: right top;
      left: 105%; }
    .ps-countdown_heading-text:before {
      right: 105%; }
  .ps-countdown_items {
    overflow: hidden;
    text-align: center; }
  .ps-countdown_item {
    border-radius: 8px;
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    margin: 0 3px 0 0;
    padding: 6px 4px;
    text-align: center;
    width: 67px; }
    .ps-countdown_item:last-child {
      margin: 0; }
    .ps-countdown_item--green {
      border-color: #96d400;
      color: #96d400; }
    .ps-countdown_item--yellow {
      border-color: #fcdf05;
      color: #fcdf05; }
    @media (min-width: 480px) {
      .ps-countdown_item {
        margin: 0 8px 0 0;
        padding: 12px 4px;
        width: 103px; } }
    @media (min-width: 768px) {
      .ps-countdown_item {
        width: 119px; } }
  .ps-countdown .ps-countdown_num {
    color: inherit;
    display: block;
    font-family: "Lato";
    font-size: 30px;
    line-height: 1;
    font-weight: 300;
    margin: 0 0 3px;
    width: auto !important; }
    .ps-countdown .ps-countdown_num--green {
      color: #96d400; }
    @media (min-width: 480px) {
      .ps-countdown .ps-countdown_num {
        font-size: 47px; } }
    @media (min-width: 768px) {
      .ps-countdown .ps-countdown_num {
        font-size: 60px; } }
  .ps-countdown .ps-countdown_label {
    color: inherit;
    display: block;
    font-family: "Lato";
    font-size: 10px !important;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
    width: auto !important; }
    @media (min-width: 480px) {
      .ps-countdown .ps-countdown_label {
        font-size: 12px !important; } }
    @media (min-width: 768px) {
      .ps-countdown .ps-countdown_label {
        font-size: 13px !important; } }
		
		