/* FAQs.tpl ========================================================================== */
.lnkDrop { margin-bottom:10px; background:#f4f4f4; display:block; overflow:hidden; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -khtml-transition: all 0.3s linear; transition: all 0.3s linear; }
.lnkDrop a { display:block; overflow:hidden; padding:7px 10px; text-decoration:none;}
.lnkDrop a:hover, .lnkDrop a:active, .lnkDrop a:link { text-decoration:none; }
.lnkDrop i { float:left; color:#000; overflow:hidden; width:30px; text-align:center; top:50%; position:relative; line-height:40px; padding-bottom:100px; margin:0 0 -100px; border-right:1px solid #fff; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -khtml-transition: all 0.3s linear; transition: all 0.3s linear;}
.lnkDropItem { clear:left; border:1px solid #f4f4f4; border-top:0; margin:-10px 0 20px; padding:20px; }
.lnkDrop.active { background:#003967; }
.lnkDrop.active a { color:#fff; cursor:default; }
.lnkDrop.active i { color:#fff; border-color:#1a598c;}
