/* HOME ========================================================================== */
.front .container { padding:0 15px;}
.front .navbar-header .navbar-left { display:none;}
.front #left-menu { display:none; }
.front #left-menu-btn { display:none; }

/* Divider Bar */
.dividerBar { display:table; background:#003967; color:#fff; text-align:center; position:reative; height:56px; vertical-align:middle; z-index:100; width:100%; border-top:1px solid #16507E;  }
.dividerBar .container { position:relative;}
.dividerBar i.icon { position:absolute; left:30px;  background:url('../../img/circlepointer.png') 0 0; padding-right:5px; width:50px; height:43px; display:block; float:left; text-align:center; font-size:21px; font-weight:normal; line-height:42px; top:6px; margin-left:10px; }
.dividerBar h3 { padding:0; line-height:55px; margin:0; width:auto;  }
.dividerBar i.fa-film { line-height:44px; }
.dividerBar .btn { position:absolute; right:30px; top:8px; text-align:center; font-size:110%; padding:6px 12px; }
.dividerBar .btn i { padding-left:6px; color:#fff; font-size:18px; }
.dividerBar .info { border:0; padding:0; width:auto; position:absolute; left:100px; font-size:12px; opacity:.8; line-height:normal; height:56px;}
.dividerBar table, .dividerBar tbody, .dividerBar td { border:0; }


/* Service Blocks*/
.service { margin-bottom: 30px; padding: 0; }
.service .desc { padding: 0 10px; }
.service .headline { text-align:center; }
.service h1, .service h2 { width:100%; color:#000; margin-top:0; padding-bottom:12px; font-size:33px; }
.service .content {  height:220px; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; transition:all 0.3s; padding-bottom:20px;  }
.service .btn {  display:block; font-size:18px; position:relative;}
.service .btn i { position:absolute; right:15px; top:10px; font-size:20px}

/* events block */
.events .row div { padding:0 12px 0 0;  }
.events .row div .thumbnail {  margin:0; }

/* Upcoming Races and Graded Stakes */
.front .upcomingRaces .headline { margin-top:0; }

.row.home-bottom .content { min-height:450px; -webkit-transition: all 0.4s linear; -moz-transition: all 0.4s linear;  -o-transition: all 0.4s linear;  -khtml-transition: all 0.4s linear; transition: all 0.4s linear; padding-bottom:0; }
.row.home-bottom .blockfooter { margin-top:20px; }

/* RESPONSIVE --*/
@media (max-width: 1920px) {
.service .content { height:130px; }
.row.home-bottom .content { min-height:480px; }
}
@media (max-width: 1600px) {
.service .content { height:160px; }
.row.home-bottom .content { min-height:460px; }
}
@media (max-width: 1440px) {
.service .desc { padding: 0; } 
.service .content { height:170px; }
.row.home-bottom .content { min-height:440px; }
}
@media (max-width: 1200px) {
.service .desc { padding: 0; }
.service .content { height:210px; }
.service h1, .service h2 { font-size:31px;}
.row.home-bottom .content { min-height:460px; }
}
@media (max-width: 1024px) {
.dividerBar { width:100%;}
.service .content { height:220px; }
.row.home-bottom .content { min-height:480px; }
}

@media screen and (min-width: 0px) and (max-width: 767px) {

.front .container { width:100% !important; max-width:inherit !important; margin:0 auto 20px; padding:0; }
.sliderContainer { margin-bottom:0;}
.service { margin-top:40px;}
.service .content { height:auto !important; margin-bottom:20px;}

.dividerBar { width:auto; display:block; width:100%; padding:10px 20px 10px 0; }
.dividerBar .container { padding:0; display:table; vertical-align:middle; }
.dividerBar .btn i { padding-left:0; }
.dividerBar i.icon, .dividerBar .info { display:none; padding-left:6px; }
.dividerBar .btn.visible-xs { right:auto; top:auto; position:relative; display:table-cell !important;  padding:0;  width:10%; vertical-align:middle;  }
.dividerBar h3 { width:90%; margin:0 auto;  line-height:33px; display:table-cell; vertical-align:middle; }

.events .row { display:none; }
.row.home-bottom .content { height:auto; min-height:inherit;}
.row.home-bottom .col-md-4 { margin-bottom:30px;}
}
@media screen and (min-width: 0px) and (max-width: 640px) {
#service { margin-bottom:0;}
}

@media screen and (min-width: 0px) and (max-width: 480px) {
.dividerBar h3 { font-size:20px;  }
}




