/* HOME ========================================================================== */
.front .container { padding:0 15px;}
.front .navbar-header .navbar-left { display:none;}
.front #left-menu { display:none; }
.front #left-menu-btn { display:none; }

/* Divider Bar */
.dividerBar { display:table; background:#003967; color:#fff; text-align:center; position:reative; height:56px; vertical-align:middle; z-index:100; width:100%; border-top:1px solid #16507E;  }
.dividerBar .container { position:relative;}
.dividerBar i.icon { position:absolute; left:30px;  background:url('../../img/circlepointer.png') 0 0; padding-right:5px; width:50px; height:43px; display:block; float:left; text-align:center; font-size:21px; font-weight:normal; line-height:42px; top:6px; margin-left:10px; }
.dividerBar h3 { padding:0; line-height:55px; margin:0; width:auto;  }
.dividerBar i.fa-film { line-height:44px; }
.dividerBar .btn { position:absolute; right:30px; top:8px; text-align:center; font-size:110%; padding:6px 12px; }
.dividerBar .btn i { padding-left:6px; color:#fff; font-size:18px; }
.dividerBar .info { border:0; padding:0; width:auto; position:absolute; left:100px; font-size:12px; opacity:.8; line-height:normal; height:56px;}
.dividerBar table, .dividerBar tbody, .dividerBar td { border:0; }


/* SLIDER --*/

.sliderContainer { background:#000;}
#main-slider { position:relative; padding:0;  width: 100%; max-width: 1920px; max-height:600px; margin:0 auto; color: #000; font-weight: normal; font-family: "roboto condensed", arial, helvetica, sans-serif; font-weight:normal;}
#main-slider > .rsContent { visibility: hidden; color: #000; font-size: 24px; line-height: 32px; float: left;  width:100%;}
#main-slider .rsSlide { background:#000;}
#main-slider .rsImg.dark {filter: alpha(opacity=35); opacity:.35; -webkit-transition: opacity .4s ease-in-out; -moz-transition: opacity .4s ease-in-out; -ms-transition: opacity .4s ease-in-out;  -o-transition: opacity .4s ease-in-out; transition: opacity .4s ease-in-out; }
#main-slider .rsImg.medium { filter: alpha(opacity=50); opacity:.5;}
#main-slider .rsSlide:hover .rsImg { }
#main-slider .infoBlock { position: absolute; left: 0; padding:0 20px; width: 100%; height: auto; top: 110px; color:white; -webkit-transition: all 0.4s linear; -moz-transition: all 0.4s linear;  -o-transition: all 0.4s linear;  -khtml-transition: all 0.4s linear; transition: all 0.4s linear;}
#main-slider .infoBlock span { -webkit-transition:all .4s;  -moz-transition:all .4s; transition:all .4s; text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.75);}
#main-slider .infoBlock.low { top:135px; } 
#main-slider .headlineXLrg {  font-size: 95px; line-height: 95px;  font-weight:700; }
#main-slider .headlineLrg {  font-size: 85px; line-height: 85px;  font-weight:700; }
#main-slider .headlineMed { font-size: 34px; line-height: normal; font-weight:normal; }
#main-slider .headlineSml { font-size: 27px; line-height: normal; font-weight:normal;}
#main-slider .headlineSml i { font-size: 20px; line-height: normal; margin-right:5px; position:relative; }
#main-slider .headlineSml i.left { margin-left:5px;}
#main-slider .colorAlt { color:#fff; opacity:.5 !important;}
#main-slider .rsABlock { display:none; position: relative; left: auto; top: auto; }
#main-slider .txtCenter { float:none; text-align: center; left:auto; right:auto; width: 100%; margin-left:auto; margin-right:auto;}
#main-slider .txtRight { text-align: right; right:7%; float: right; oveflow:hidden; }
#main-slider .txtLeft { text-align: left; left:7%; float: left; oveflow:hidden; }
#main-slider span a, #main-slider span a:visited { color:#1571BA; text-decoration:none;}
#main-slider span a:hover, #main-slider span a:active { color:#fff; text-decoration:none;}
#main-slider .btn {  clear:both; width:auto; position:relative; margin-top:15px; padding:12px 25px; overflow:hidden; line-height:35px; font-size:26px;  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4); -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4); box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);   -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; } 
#main-slider .btn i { font-size:20px; left:-8px; top:0;  -moz-border-radius: 50%; -webkit-border-radius: 50%; -khtml-border-radius: 50%; border-radius: 50%; height: 35px; line-height: 34px; margin: 0 8px -2px 0; padding: 0 0 0 2px; text-align: center; top: 0; width: 35px; border: 1px solid #db6d70; } 
#main-slider .btn:hover i { border-color: #e96166;}
#main-slider .btn i.fa-ticket { font-size:22px; padding-left:1px; }
#main-slider .btn i.fa-pencil {  }
#main-slider .btn i.fa-star { font-size:21px; padding-left:1px;}
#main-slider .btn i.fa-angle-right { font-size:30px;  border:0; -webkit-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; }
#main-slider .btn:active { top:1px; }
#main-slider .btn-txt { border:0; font-weight:normal; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; margin:0; padding:10px 0; width:100%; font-size:20px; opacity:.6; }
#main-slider .btn-txt:hover { opacity:1;}
#main-slider .btn-txt i { border:0; line-height:normal; width:auto; height:auto; margin:0 0 0 10px; }

/* Service Blocks*/
.service { margin-bottom: 30px; padding: 0; }
.service .desc { padding: 0 10px; }
.service .headline { text-align:center; }
.service h1, .service h2 { width:100%; color:#000; margin-top:0; padding-bottom:12px; font-size:33px; }
.service .content {  height:220px; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; transition:all 0.3s; padding-bottom:20px;  }
.service .btn {  display:block; font-size:18px; position:relative;}
.service .btn i { position:absolute; right:15px; top:10px; font-size:20px}

/* events block */
.events .row div { padding:0 12px 0 0;  }
.events .row div .thumbnail {  margin:0; }

/* Upcoming Races and Graded Stakes */
.front .upcomingRaces .headline { margin-top:0; }

.row.home-bottom .content { min-height:450px; -webkit-transition: all 0.4s linear; -moz-transition: all 0.4s linear;  -o-transition: all 0.4s linear;  -khtml-transition: all 0.4s linear; transition: all 0.4s linear; padding-bottom:0; }
.row.home-bottom .blockfooter { margin-top:20px; }

/* RESPONSIVE --*/
@media (max-width: 1920px) {
#main-slider .rsOverflow,   #main-slider { height:600px !important; max-height: 600px !important; max-width:1920px;}
#main-slider .txtRight { right:18%; left:auto;}
#main-slider .txtLeft { left:18%; right:auto; }
#main-slider .headlineLrg { font-size: 95px; line-height: normal;  }
#main-slider .headlineXLrg {  font-size: 105px; line-height: normal;  }
#main-slider .doubleline {  top:100px;  }
#main-slider .doubleline .headlineLrg { line-height: 85px;  }
#main-slider .headlineMed { font-size: 45px; line-height:normal; }
#main-slider .headlineSml { font-size: 26px; line-height:normal;  }

.service .content { height:130px; }
.row.home-bottom .content { min-height:480px; }
}
@media (max-width: 1600px) {
#main-slider .rsOverflow,   #main-slider { height:500px !important; max-height: 500px }
#main-slider .infoBlock { top:95px; }
#main-slider .headlineLrg { font-size: 85px; line-height: normal;  }
#main-slider .headlineXLrg {  font-size: 95px; line-height: normal;  }
#main-slider .headlineMed { font-size: 39px; line-height:normal; }
#main-slider .txtRight { right:15%; left:auto;}
#main-slider .txtLeft { left:15%; right:auto; }

.service .content { height:160px; }
.row.home-bottom .content { min-height:460px; }
}
@media (max-width: 1440px) {
#main-slider .headlineMed { font-size: 34px; line-height:normal; }
#main-slider .headlineSml { font-size: 22px; line-height:normal;  }
#main-slider .infoBlock {top: 110px; }
#main-slider .infoBlock.low { top:135px; } 
#main-slider .txtRight { right:12%; left:auto;}
#main-slider .txtLeft { left:12%; right:auto; }
.service .desc { padding: 0; } 
.service .content { height:170px; }
.row.home-bottom .content { min-height:440px; }
}
@media (max-width: 1200px) {
#main-slider .rsOverflow,   #main-slider { width:auto; height:500px !important; max-height: 500px !important; max-width:1920px; }

#main-slider .txtRight { right:8%; left:auto;}
#main-slider .txtLeft { left:8%; right:auto; }
.service .desc { padding: 0; }
.service .content { height:210px; }
.service h1, .service h2 { font-size:31px;}
.row.home-bottom .content { min-height:460px; }
}
@media (max-width: 1024px) {
#main-slider .rsOverflow,   #main-slider { height: 480px !important; max-height: 480px !important; width:1024px;  }
#main-slider .headlineLrg { font-size: 75px; line-height: 75px; }
#main-slider .headlineXLrg {  font-size: 95px; line-height: 95px;  }
#main-slider .doubleline .headlineLrg { font-size: 65px; line-height: 65px;  }

#main-slider .txtRight { text-align:right; right:10%; left:auto; width:70%;  }
#main-slider .txtLeft { text-align:left; left:5%; right:auto; width:70%; }
#main-slider .btn { max-width:none; width:auto; }  
.dividerBar { width:100%;}
.service .content { height:220px; }
.row.home-bottom .content { min-height:480px; }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
.front .container { width:100% !important; max-width:inherit !important; margin:0 auto 20px; padding:0; }
.sliderContainer { margin-bottom:0; width:100%;}
#main-slider .rsOverflow,   #main-slider {  height: 320px !important; max-height: 400px !important; width:auto;  max-width:800px; }
/*#main-slider .rsImg  {  height: auto !important; max-height: 600px !important; max-width:1920px !important; }*/
#main-slider .infoBlock, #main-slider .infoBlock.low  { top:40px; text-align:center; }
#main-slider .infoBlock.low  { top:60px;  }
#main-slider .headlineLrg { font-size: 58px; line-height: 65px; }
#main-slider .headlineXLrg {  font-size: 65px; line-height: 75px;  }
#main-slider .doubleline .headlineLrg { font-size: 48px; line-height: 48px; margin-bottom:5px; }
#main-slider .headlineMed { font-size: 30px; line-height: normal;}
#main-slider .headlineSml { font-size: 18px;}
#main-slider .txtRight,  #main-slider .txtLeft, #main-slider .txtCenter  { text-align:center; right:auto; left:auto; margin:0 auto;  width:90%; float:none;}
#main-slider .btn { width:auto; margin:10px auto 0; height:auto; padding:12px 15px;   line-height:30px;}

#main-slider .btn i, #main-slider .btn i.fa-pencil, #main-slider .btn i.fa-ticket, #main-slider .btn i.fa-star { margin-top: -2px; left:0; top:auto; font-size:18px; width:32px; height:32px; line-height:30px;}
#main-slider .btn i.fa-star { font-size:17px; padding-left:1px; }
#main-slider .btn { font-size:22px;}
#main-slider .btn-txt {width:100%; text-align:center; font-weight:normal; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; margin:0 auto; padding:10px 0; font-size:20px; opacity:.6; }
#main-slider .btn-txt:hover { opacity:1;}
#main-slider .btn-txt i {  position:relative; top:auto; left:auto; font-size:20px; line-height:normal; width:auto; height:auto; margin:0 0 0 2px; }
.service { margin-top:40px;}
.service .content { height:auto !important; margin-bottom:20px;}

.dividerBar { width:auto; display:block; width:100%; padding:10px 20px 10px 0; }
.dividerBar .container { padding:0; display:table; vertical-align:middle; }
.dividerBar .btn i { padding-left:0; }
.dividerBar i.icon, .dividerBar .info { display:none; padding-left:6px; }
.dividerBar .btn.visible-xs { right:auto; top:auto; position:relative; display:table-cell !important;  padding:0;  width:10%; vertical-align:middle;  }
.dividerBar h3 { width:90%; margin:0 auto;  line-height:33px; display:table-cell; vertical-align:middle; }

.events .row { display:none; }

.row.home-bottom .content { height:auto; min-height:inherit;}
.row.home-bottom .col-md-4 { margin-bottom:30px;}


}
@media screen and (min-width: 0px) and (max-width: 640px) {
#service { margin-bottom:0;}
#main-slider .rsOverflow,   #main-slider {  height: 380px !important; max-height: 400px !important; width:auto;  max-width:800px; }

#main-slider .txtRight,  #main-slider .txtLeft, #main-slider .txtCenter  { width:90%; }

#main-slider .infoBlock.low  { top:50px;  }
#main-slider .headlineXLrg {  font-size: 55px; line-height: 55px;  }
#main-slider .headlineMed { font-size: 28px; line-height: 30px;}
#main-slider .headlineSml { font-size: 18px; line-height: normal;}


#main-slider .btn { font-size:22px;  width:auto;}
#main-slider .btn-txt { max-width:inherit;  width:100%; }
}

@media screen and (min-width: 0px) and (max-width: 480px) {
#main-slider .rsOverflow,   #main-slider {  height: 350px !important; max-height: 400px !important; width:auto;  max-width:800px; }
#main-slider .headlineXLrg {  font-size: 42px; line-height: 45px; margin-bottom:5px; }
#main-slider .headlineLrg { width:90%; font-size: 36px; line-height:40px; margin-bottom:5px; }
#main-slider .headlineMed { font-size: 24px; line-height: 30px; margin-bottom:5px;}
#main-slider .headlineSml { font-size: 17px; line-height: normal;}
#main-slider .doubleline .headlineLrg { font-size: 34px; line-height: 38px; }

.rsImg {opacity:.7; }
#main-slider .btn { margin-top:10px; padding:10px 15px; font-size:20px;line-height:28px; }
#main-slider .btn-txt { text-align:center; font-weight:normal; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; margin:0 auto; padding:10px; font-size:20px; opacity:.6; }
#main-slider .btn-txt:hover { opacity:1;}
#main-slider .btn i, #main-slider .btn i.fa-pencil, #main-slider .btn i.fa-ticket, #main-slider .btn i.fa-star { top:auto; margin-top:-2px; }
#main-slider .btn-txt i {  position:relative; top:auto; left:auto; font-size:20px; line-height:normal; width:auto; height:auto;  }

.rsDefault .rsArrow { z-index:36;}
#main-slider .rsArrowIcn { top:auto; bottom:20px; }
.dividerBar h3 { font-size:20px;  }
}




