.block-center{display:table;height:100%;width:100%;}
.block-center .block-center_content{display:table-cell;vertical-align:middle;}
.paragraph{margin:0 0 10px;}
.height-full{height:100%;}
.videoWrapper{position:relative;padding-bottom:56.25%;padding-top:25px;height:0;}
.videoWrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
.bc-friends{height:100px;width:100%;}
@media (min-width:768px){.bc-friends{height:185px;margin-top:-30px;}
}
.bc-friends_img{margin:0;}
.usr-section{display:table;width:100%;}
.usr-section .container{margin:0 auto;padding:0 15px;}
.bc-countdown{background-color:transparent;background-image:url("../../img/index-bc/bg-breeders-cup-countdown.jpg");background-position:center top;background-repeat:no-repeat;background-size:cover;padding:58px 0;}
.bc-countdown-breeders{background-color:transparent;background-image:url("../../img/index-bc/bg-breeders-cup-countdown.jpg");background-position:center top;background-repeat:no-repeat;background-size:cover;padding:58px 0;}
@media (min-width:1024px){.bc-countdown{padding:85px 0;}
}
.bc-countdown .bgLayer,
.bc-countdown .topLayer{display:none;}
.bc-countdown--belmont{background-image:url("../../img/indexbecca/bg-countdown-belmont.jpg");padding:52px 0;text-align:center;}
.bc-countdown--ps{background-image:url("../../img/indexbecca/bg-countdown-ps.jpg");padding:52px 0;text-align:center;}
.bc-countdown_content{background-color:#000;border-radius:30px;display:inline-block;padding:30px 15px 35px;margin-left:-15px;margin-right:-15px;}
@media (min-width:768px){.bc-countdown_content{margin-left:0;margin-right:0;padding:30px 25px 35px;}
}
@media (min-width:1024px){.bc-countdown_content{padding:30px 50px 35px;}
}
.bc-countdown_heading{color:#fff;font-family:"Lato";font-size:25px;font-weight:300;padding:0 42px;margin:0 0 22px;text-align:center;}
@media (min-width:480px){.bc-countdown_heading{font-size:35px;padding:0 52px;}
}
@media (min-width:1024px){.bc-countdown_heading{font-size:36px;padding:0 67px;}
}
.bc-countdown_heading-text{display:inline-block;position:relative;}
@media (min-width:768px){.bc-countdown_heading-text br{display:none;}
}
.bc-countdown_heading-text:after, .bc-countdown_heading-text:before{background:transparent url("../../img/indexbecca/shapes.png") left top no-repeat;content:"";display:inline-block;height:17px;margin-top:-8.5px;top:50%;position:absolute;vertical-align:middle;width:37px;}
.bc-countdown_heading-text:after{background-position:right top;left:105%;}
.bc-countdown_heading-text:before{right:105%;}
.bc-countdown_items{overflow:hidden;text-align:center;}
.bc-countdown_item{border-radius:8px;border:2px solid #fff;color:#fff;display:inline-block;margin:0 3px 0 0;padding:6px 4px;text-align:center;width:67px;}
.bc-countdown_item:last-child{margin:0;}
.bc-countdown_item--green{border-color:#ffea00;color:#ffea00;}
.bc-countdown_item--yellow{border-color:#fcdf05;color:#fcdf05;}
@media (min-width:480px){.bc-countdown_item{margin:0 8px 0 0;padding:12px 4px;width:103px;}
}
@media (min-width:768px){.bc-countdown_item{width:119px;}
}
.bc-countdown .bc-countdown_num{color:inherit;display:block;font-family:"Lato";font-size:30px;line-height:1;font-weight:300;margin:0 0 3px;width:auto !important;}
.bc-countdown .bc-countdown_num--green{color:#96d400;}
@media (min-width:480px){.bc-countdown .bc-countdown_num{font-size:47px;}
}
@media (min-width:768px){.bc-countdown .bc-countdown_num{font-size:60px;}
}
.bc-countdown .bc-countdown_label{color:inherit;display:block;font-family:"Lato";font-size:10px !important;font-weight:300;margin:0;text-transform:uppercase;width:auto !important;}
@media (min-width:480px){.bc-countdown .bc-countdown_label{font-size:12px !important;}
}
@media (min-width:768px){.bc-countdown .bc-countdown_label{font-size:13px !important;}
}
.bc-testimonials{background-color:#f8fbfd;padding:28px 0 54px;width:100%;}
@media (min-width:768px){.bc-testimonials{padding:50px 0;}
}
.bc-testimonials--blue{background-color:#003158;padding:50px 0 80px;}
@media (min-width:768px){.bc-testimonials--blue{padding:30px 0;}
}
.bc-testimonials--blue-dark{background-color:#003158;padding:50px 0 80px;}
@media (min-width:768px){.bc-testimonials--blue-dark{padding:30px 0;}
}
.bc-testimonial{border-left:0;display:table;margin:0;padding:0;width:100%;}
.bc-testimonial_figure{margin:0 0 32px;}
@media (min-width:768px){.bc-testimonial_figure{display:table-cell;vertical-align:middle;width:200px;}
}
.bc-testimonial_figure img{background-color:#e3e6e8;border:3px solid #1571ba;border-radius:100%;display:block;height:auto;width:120px;margin:0 auto;}
.bc-testimonial_content{text-align:center;}
@media (min-width:480px){.bc-testimonial_content{padding:0 15px;}
}
@media (min-width:768px){.bc-testimonial_content{display:table-cell;padding:0;text-align:left;vertical-align:top;}
}
.bc-testimonial p, .bc-testimonial_p{color:#1672bd;color:#444;font-family:"Lato";font-size:20px;font-weight:300;margin:0 0 42px;}
.bc-testimonial_name, .bc-testimonial_profile{color:#1672bd;color:#444;display:block;font-family:"Lato";font-size:20px;line-height:1.2;font-weight:300;}
.bc-testimonial-blue{border-left:0;display:table;margin:0;padding:0;width:100%;text-align:center;}
@media (min-width:768px){.bc-testimonial-blue{text-align:left;}
}
@media (min-width:1024px){.bc-testimonial-blue_center{padding:0 200px;}
}
.bc-testimonial-blue_figure{margin:0 0 25px;}
@media (min-width:768px){.bc-testimonial-blue_figure{display:table-cell;vertical-align:middle;width:190px;}
}
.bc-testimonial-blue_figure img{background-color:#e3e6e8;border-radius:100%;display:block;height:72px;width:72px;margin:0 auto;}
.bc-testimonial-blue p, .bc-testimonial-blue_p{color:#fff;font-family:"Lato";font-size:18px;font-style:italic;font-weight:400;margin:0 0 14px;}
.bc-testimonial-blue p:after, .bc-testimonial-blue p:before, .bc-testimonial-blue_p:after, .bc-testimonial-blue_p:before{content:'"';}
@media (min-width:480px){.bc-testimonial-blue p, .bc-testimonial-blue_p{font-size:19px;}
}
.bc-testimonial-blue_name, .bc-testimonial-blue_profile{color:#fff;font-family:"Lato";font-size:17px;font-weight:400;}
.bc-testimonial-blue_name cite, .bc-testimonial-blue_profile cite{font-style:normal;}
.bc-kd{text-align:center;}
.bc-kd--default{padding:152px 0 160px;}
.bc-kd--horse{background-color:transparent;background-image:url("../../img/indexbecca/bg-kd.jpg");background-position:center bottom;background-repeat:no-repeat;background-size:initial;padding:160px 0 418px;}
@media (min-width:768px){.bc-kd--horse{background-size:100%;}
}
@media (min-width:1024px){.bc-kd--horse{padding:150px 0 548px;}
}
.bc-kd--horse-2{background-color:transparent;background-image:url("../../img/indexbecca/bg-kd-2.jpg");background-position:center bottom;background-repeat:no-repeat;background-size:initial;padding:160px 0 418px;}
@media (min-width:768px){.bc-kd--horse-2{background-size:100%;}
}
@media (min-width:1024px){.bc-kd--horse-2{padding:150px 0 548px;}
}
@media (min-width:480px){.bc-kd_content{padding:0 30px;}
}
@media (min-width:1200px){.bc-kd_content{padding:0 70px;}
}
.bc-kd_logo{margin:0 auto 35px;width:140px;}
@media (min-width:768px){.bc-kd_logo{margin:0 auto 45px;}
}
.bc-kd_heading{color:#1672bd;font-family:'Lato', sans-serif;font-size:45px;font-weight:700;line-height:1.3;margin:0 0 20px;text-align:center;}
@media (min-width:480px){.bc-kd_heading{font-size:70px;}
}
@media (min-width:768px){.bc-kd_heading br{display:none;}
}
.bc-kd_subheading{color:#1672bd;font-family:'Lato', sans-serif;font-size:20px;font-weight:700;margin:0 0 42px;text-align:center;}
@media (min-width:480px){.bc-kd_subheading{font-size:24px;}
}
.bc-kd p, .bc-kd_p{color:#444;font-family:'Lato', sans-serif;font-size:20px;font-weight:300;margin:0 0 40px;text-align:center;}
@media (min-width:480px){.bc-kd p, .bc-kd_p{font-size:24px;}
}
.bc-kd_btn{background-color:transparent;border-radius:15px;border:3px solid #1672bd;color:#1672bd;display:block;font-family:'Lato', sans-serif;font-size:29px;font-weight:900;margin:0 auto;margin-top:80px;outline:none;padding:27px 15px;text-align:center;text-decoration:none;text-transform:uppercase;width:278px;-webkit-transition:.2s;transition:.2s;}
.bc-kd_btn:focus, .bc-kd_btn:hover{color:#1672bd;font-weight:900;text-decoration:none;}
.bc-kd_btn:active{-webkit-transform:scale(0.98);transform:scale(0.98);}
@media (min-width:768px){.bc-kd_btn{font-size:30px;margin-top:40px;}
}
.bc-kd_btn-red{background-color:#e2001a;background-image:-webkit-linear-gradient(top, #e2001a, #991a1e);background-image:linear-gradient(to bottom, #e2001a, #991a1e);border-radius:3px;color:#fff;display:inline-block;font-family:'Lato', sans-serif;font-size:20px;font-weight:900;margin:0 auto;outline:none;padding:13px 20px;text-align:center;text-decoration:none;text-transform:uppercase;min-width:200px;-webkit-transition:.2s;transition:.2s;display:inline-block;font-size:20px;line-height:1.618;margin-top:80px;padding:14px 15px;}
.bc-kd_btn-red:focus, .bc-kd_btn-red:hover{color:#fff;font-weight:900;text-decoration:none;}
.bc-kd_btn-red:hover{background:#d6242a;}
.bc-kd_btn-red:active{-webkit-transform:scale(0.98);transform:scale(0.98);}
@media (min-width:768px){.bc-kd_btn-red{font-size:30px;margin-top:40px;padding:25px 15px;height:97px;width:317px;}
}
.bc-card{display:table;width:100%;}
.bc-card--bg{background:transparent url("../../img/indexbecca/ketnucky-derby-bg.jpg") center top no-repeat;background-size:cover;}
@media (min-width:1024px){.bc-card--hre{background:transparent url("../../img/index/bg-horse-racing-experts.jpg") right bottom no-repeat;background-size:auto;}
}
.bc-card--red{background-color:#c21515;color:#fff;padding:70px 0;}
.bc-card_wrap{display:table-row;}
@media (min-width:768px){.bc-card_half{display:table-cell;vertical-align:top;width:50%;}
}
.bc-card_content{color:#1672bd;padding:65px 15px;vertical-align:middle;text-align:center;}
@media (min-width:768px){.bc-card_content{padding:25px 20px;}
}
@media (min-width:1024px){.bc-card_content{padding:0 45px;}
}
.bc-card_content--red{background-color:#c21515;color:#fff;}
.bc-card_content--darkred{background-color:#962525;color:#fff;}
.bc-card_icon{display:block;margin:0 auto;margin-bottom:35px;}
@media (min-width:768px){.bc-card_icon{margin-bottom:20px;width:15%;}
}
@media (min-width:1024px){.bc-card_icon{margin-bottom:35px;width:auto;}
}
.bc-card_img{width:100%;}
.bc-card_pic{background-color:transparent;background-position:center bottom;background-repeat:no-repeat;background-size:cover;height:100%;width:100%;}
.bc-card_logo{margin:0 auto 45px;width:140px;}
.bc-card_heading{color:inherit;font-family:'Lato', sans-serif;font-size:35px;font-weight:700;line-height:1.1;margin:0 0 20px;text-transform:uppercase;}
@media (min-width:480px){.bc-card_heading{font-size:43px;}
}
@media (min-width:768px){.bc-card_heading{font-size:24px;margin:0 0 10px;}
}
@media (min-width:1024px){.bc-card_heading{font-size:32px;margin:0 0 20px;}
}
@media (min-width:1200px){.bc-card_heading{font-size:43px;}
}
.bc-card_heading--no-cap{text-transform:none;}
.bc-card_heading--block{font-size:32px;}
.bc-card_subheading{color:inherit;font-family:'Lato', sans-serif;font-size:18px;font-weight:700;margin:0 0 42px;}
@media (min-width:768px){.bc-card_subheading{font-size:18px;margin:0 0 20px;}
}
@media (min-width:1024px){.bc-card_subheading{font-size:24px;margin:0 0 20px;}
}
@media (min-width:1200px){.bc-card_subheading{margin:0 0 42px;}
}
.bc-card_heading-2{color:inherit;font-family:'Lato', sans-serif;font-size:22px;font-weight:300;margin:0 0 42px;letter-spacing:2px;}
.bc-card p, .bc-card_p{color:#444;font-family:'Lato', sans-serif;font-size:18px;font-weight:300;margin:0 0 40px;}
@media (min-width:768px){.bc-card p, .bc-card_p{font-size:16px;margin:0 0 15px;}
}
@media (min-width:1024px){.bc-card p, .bc-card_p{font-size:20px;margin:0 0 30px;}
}
@media (min-width:1200px){.bc-card p, .bc-card_p{font-size:24px;margin:0 0 75px;}
}
.bc-card_btn{background-color:transparent;border-radius:15px;border:3px solid #1672bd;color:#1672bd;display:inline-block;font-family:'Lato', sans-serif;font-size:20px;font-weight:900;margin:0 auto;outline:none;padding:12px 20px;text-align:center;text-decoration:none;text-transform:uppercase;min-width:190px;-webkit-transition:.2s;transition:.2s;}
.bc-card_btn:focus, .bc-card_btn:hover{color:#1672bd;font-weight:900;text-decoration:none;}
.bc-card_btn:active{-webkit-transform:scale(0.98);transform:scale(0.98);}
@media (min-width:768px){.bc-card_btn{font-size:18px;padding:8px 16px;}
}
@media (min-width:1024px){.bc-card_btn{font-size:20px;padding:12px 20px;}
}
.bc-card_btn--default{border:3px solid #fff;color:#fff;}
.bc-card_btn--default:focus, .bc-card_btn--default:hover{color:#fff;font-weight:900;text-decoration:none;}
.bc-card_btn-red{background-color:#e2001a;background-image:-webkit-linear-gradient(top, #e2001a, #991a1e);background-image:linear-gradient(to bottom, #e2001a, #991a1e);border-radius:3px;color:#fff;display:inline-block;font-family:'Lato', sans-serif;font-size:20px;font-weight:900;margin:0 auto;outline:none;padding:13px 20px;text-align:center;text-decoration:none;text-transform:uppercase;min-width:200px;-webkit-transition:.2s;transition:.2s;}
.bc-card_btn-red:focus, .bc-card_btn-red:hover{color:#fff;font-weight:900;text-decoration:none;}
.bc-card_btn-red:hover{background:#d6242a;}
.bc-card_btn-red:active{-webkit-transform:scale(0.98);transform:scale(0.98);}
@media (min-width:768px){.bc-card_btn-red{font-size:18px;padding:10px 16px;}
}
@media (min-width:1024px){.bc-card_btn-red{font-size:20px;padding:14px 25px;}
}
.bc-card_btn-red--default{border:3px solid #fff;color:#fff;}
.bc-card_btn-red--default:focus, .bc-card_btn-red--default:hover{color:#fff;font-weight:900;text-decoration:none;}
.bc-card_hide-mobile{display:none;}
@media (min-width:768px){.bc-card_hide-mobile{display:table-cell;}
}
@media (min-width:1024px){.bc-card_show-mobile{display:none;}
}
.bc-card-mobile{background:#fff url(../img/indexbecca/bg-mobile.jpg) left bottom repeat-x;border-bottom:1px solid #d1dee9;}
.bc-bonus{background:#1672bd url("../../img/indexbecca/bg-bonus.png") right center no-repeat;background-size:50%;display:table;width:100%;padding:90px 0;text-align:center;}
@media (min-width:768px){.bc-bonus{background-size:25%;}
}
@media (min-width:1024px){.bc-bonus{background-size:contain;padding:180px 0;text-align:left;}
}
@media (min-width:1200px){.bc-bonus{background-size:initial;}
}
.bc-bonus .container{padding:0 15px;}
@media (min-width:1200px){.bc-bonus .container{padding:0;}
}
.bc-bonus_heading{color:#fff;display:block;font-family:"Lato";font-size:45px;font-weight:700;line-height:1.2;margin:0;text-transform:uppercase;}
@media (min-width:768px){.bc-bonus_heading{font-size:40px;}
}
@media (min-width:1024px){.bc-bonus_heading{font-size:56px;}
}
@media (min-width:1200px){.bc-bonus_heading{font-size:83px;}
}
.bc-bonus_subheading{color:#fff;display:block;font-family:"Lato";font-size:25px;font-weight:700;line-height:1.2;letter-spacing:6.6px;margin:0 0 25px;}
@media (min-width:768px){.bc-bonus_subheading{font-size:20px;}
}
@media (min-width:1200px){.bc-bonus_subheading{font-size:35px;}
}
.bc-bonus_p,
.bc-bonus p{color:#fff;font-family:"Lato";font-size:20px;font-weight:300;line-height:1.45;margin:0 0 62px;}
@media (min-width:768px){.bc-bonus_p,
.bc-bonus p{font-size:18px;margin:0 0 20px;}
}
@media (min-width:1024px){.bc-bonus_p,
.bc-bonus p{font-size:24px;margin:0 0 62px;}
}
.bc-bonus_btn{background-color:transparent;border:3px solid #fff;border-radius:19px;color:#fff;cursor:pointer;display:block;font-family:"Lato";font-size:30px;font-weight:900;line-height:1;letter-spacing:1px;padding:23px 10px;text-align:center;margin:0 auto;max-width:100%;-webkit-transition:.2s;transition:.2s;}
.bc-bonus_btn:active{-webkit-transform:scale(0.98);transform:scale(0.98);}
.bc-bonus_btn:hover, .bc-bonus_btn:focus{color:#fff;font-weight:900;text-decoration:none;}
@media (min-width:480px){.bc-bonus_btn{width:398px;}
}
@media (min-width:768px){.bc-bonus_btn{font-size:20px;margin:0 auto;width:320px;}
}
@media (min-width:1024px){.bc-bonus_btn{font-size:30px;margin:0;width:398px;}
}
.bc-bonus_btn-red{background-color:#e2001a;background-image:-webkit-linear-gradient(top, #e2001a, #991a1e);background-image:linear-gradient(to bottom, #e2001a, #991a1e);border-radius:3px;color:#fff;display:inline-block;font-family:'Lato', sans-serif;font-size:20px;font-weight:900;margin:0 auto;outline:none;padding:13px 20px;text-align:center;text-decoration:none;text-transform:uppercase;min-width:200px;-webkit-transition:.2s;transition:.2s;padding:14px 15px;transition:.2s;}
.bc-bonus_btn-red:focus, .bc-bonus_btn-red:hover{color:#fff;font-weight:900;text-decoration:none;}
.bc-bonus_btn-red:hover{background:#d6242a;}
.bc-bonus_btn-red:active{-webkit-transform:scale(0.98);transform:scale(0.98);}
.bc-bonus_btn-red:active{-webkit-transform:scale(0.98);transform:scale(0.98);}
@media (min-width:768px){.bc-bonus_btn-red{font-size:20px;margin:0 auto;padding:25px 15px;width:320px;}
}
@media (min-width:1024px){.bc-bonus_btn-red{font-size:30px;margin:0;width:398px;}
}
.bc-payouts{background-color:#1672bd;padding:75px 0;text-align:center;}
@media (min-width:768px){.bc-payouts{text-align:left;}
}
@media (min-width:1024px){.bc-payouts{padding:125px 0;text-align:left;}
}
.bc-payouts_figure{margin-top:20px;text-align:center;}
@media (min-width:768px){.bc-payouts_figure{height:130px;margin:0 auto;width:80%;}
}
@media (min-width:1024px){.bc-payouts_figure{height:232px;margin-top:0;}
}
.bc-payouts_figure img{margin:0 auto;}
.bc-payouts_heading{color:#fff;font-family:'Lato', sans-serif;font-weight:700;line-height:1.2;font-size:35px;margin:0 0 30px;text-transform:uppercase;}
.bc-payouts_heading span{color:#54b2ff;}
@media (min-width:1024px){.bc-payouts_heading{font-size:54px;}
}
.bc-payouts p, .bc-payouts_p{color:#fff;font-family:'Lato', sans-serif;font-size:18px;font-weight:300;margin:0 0 10px;}
@media (min-width:1024px){.bc-payouts p, .bc-payouts_p{font-size:24px;}
}
@media (min-width:768px){.index-kd .nav-justified > li{vertical-align:middle;}
}
@media (min-width:0) and (max-width:1200px){.index-kd #nav .navbar-nav > li > a{font-size:16px;}
}
@media (min-width:0) and (max-width:1024px){.index-kd .container{max-width:inherit;width:auto;}
}
@media (min-width:0) and (max-width:1024px){.index-kd .sliderContainer{width:100%;max-width:100%;}
}
.bc-belmont_img,
.bc-pimlico_img{height:auto;width:100%;}
.bc-register{background-color:#c21515;color:#fff;padding:70px 0;text-align:center;}
.bc-register--darkred{background-color:#962525;}
.bc-register_content{display:inline-block;}
.bc-register_icon{display:block;margin:0 auto;margin-bottom:35px;}
@media (min-width:768px){.bc-register_icon{margin-bottom:20px;}
}
@media (min-width:1024px){.bc-register_icon{margin-bottom:35px;width:auto;}
}
.bc-register_heading{color:inherit;font-family:'Lato', sans-serif;font-size:35px;font-weight:700;line-height:1.1;margin:0 0 20px;text-transform:uppercase;}
@media (min-width:480px){.bc-register_heading{font-size:43px;}
}
@media (min-width:768px){.bc-register_heading{margin:0 0 10px;}
}
@media (min-width:1024px){.bc-register_heading{margin:0 0 20px;}
}
.bc-register_heading-2{color:inherit;font-family:'Lato', sans-serif;font-size:22px;font-weight:300;margin:0 0 42px;letter-spacing:2px;}
.bc-register_subheading{color:inherit;font-family:'Lato', sans-serif;font-size:18px;font-weight:700;margin:0 0 42px;}
@media (min-width:768px){.bc-register_subheading{font-size:18px;margin:0 0 20px;}
}
@media (min-width:1024px){.bc-register_subheading{font-size:24px;margin:0 0 20px;}
}
@media (min-width:1200px){.bc-register_subheading{margin:0 0 42px;}
}
.bc-register_btn{background-color:transparent;border-radius:15px;border:3px solid #fff;color:#fff;display:inline-block;font-family:'Lato', sans-serif;font-size:20px;font-weight:900;margin:0 auto;outline:none;padding:12px 20px;text-align:center;text-decoration:none;text-transform:uppercase;min-width:190px;-webkit-transition:.2s;transition:.2s;}
.bc-register_btn:focus, .bc-register_btn:hover{color:#fff;font-weight:900;text-decoration:none;}
.bc-register_btn:active{-webkit-transform:scale(0.98);transform:scale(0.98);}
@media (min-width:768px){.bc-register_btn{font-size:18px;padding:8px 16px;}
}
@media (min-width:1024px){.bc-register_btn{font-size:20px;padding:12px 20px;}
}
.bc-register_btn-red{background-color:#e2001a;background-image:-webkit-linear-gradient(top, #e2001a, #991a1e);background-image:linear-gradient(to bottom, #e2001a, #991a1e);border-radius:3px;color:#fff;display:inline-block;font-family:'Lato', sans-serif;font-size:20px;font-weight:900;margin:0 auto;outline:none;padding:13px 20px;text-align:center;text-decoration:none;text-transform:uppercase;min-width:200px;-webkit-transition:.2s;transition:.2s;transition:.2s;}
.bc-register_btn-red:focus, .bc-register_btn-red:hover{color:#fff;font-weight:900;text-decoration:none;}
.bc-register_btn-red:hover{background:#d6242a;}
.bc-register_btn-red:active{-webkit-transform:scale(0.98);transform:scale(0.98);}
.bc-register_btn-red:focus, .bc-register_btn-red:hover{color:#fff;font-weight:900;text-decoration:none;}
.bc-register_btn-red:active{-webkit-transform:scale(0.98);transform:scale(0.98);}
@media (min-width:768px){.bc-register_btn-red{font-size:18px;padding:10px 16px;}
}
@media (min-width:1024px){.bc-register_btn-red{font-size:20px;padding:14px 20px;}
}
.bc-racetracks{background-color:#1672bd;display:table;width:100%;padding:45px 0;}
@media (min-width:768px){.bc-racetracks{padding:55px 0;}
}
@media (min-width:1024px){.bc-racetracks{padding:110px 0;}
}
.bc-racetracks .container{padding:0 15px;}
.bc-racetracks_title{color:#fff;display:block;font-family:'Lato', sans-serif;font-size:35px;font-weight:300;margin:0 0 45px;text-transform:uppercase;text-align:center;}
@media (min-width:768px){.bc-racetracks_title{font-size:43px;}
}
.bc-racetracks_list{list-style:none;margin:0;padding:0;font-size:0;text-align:center;}
.bc-racetracks_item{list-style:none;display:inline-block;width:33.3333333333%;padding:0;margin:0;vertical-align:top;}
@media (min-width:768px){.bc-racetracks_item{display:block;float:left;width:20%;}
}
.bc-racetracks_link{display:block;}
.bc-racetracks_link:hover{text-decoration:none;}
.bc-racetrack{padding:25px;}
@media (min-width:480px){.bc-racetrack{padding:15px;}
}
@media (min-width:568px){.bc-racetrack{padding:25px;}
}
@media (min-width:768px){.bc-racetrack{padding:20px;}
}
.bc-racetrack_icon{display:block;margin:0 auto;margin-bottom:15px;max-width:100%;}
@media (min-width:768px){.bc-racetrack_icon{margin-bottom:35px;}
}
.bc-racetrack_title{color:#abd9ff;font-family:'Lato', sans-serif;font-size:13px;font-weight:700;font-style:italic;text-align:center;}
@media (min-width:480px){.bc-racetrack_title{font-size:18px;}
}
@media (min-width:768px){.bc-racetrack_title{font-size:25px;}
}
@media (min-width:0px) and (max-width:767px){.bcs{padding-top:60px !important;}}
