.block-center{display:table;height:100%;width:100%;}
.block-center .block-center_content{display:table-cell;vertical-align:middle;}
.paragraph{margin:0 0 10px;}
.height-full{height:100%;}
.videoWrapper{position:relative;padding-bottom:56.25%;padding-top:25px;height:0;}
.videoWrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
.bs-friends{height:100px;width:100%;}
@media (min-width:768px){.bs-friends{height:185px;margin-top:-30px;}
}
.bs-friends_img{margin:0;}
.usr-section{display:table;width:100%;}
.usr-section .container{margin:0 auto;padding:0 15px;}
.bs-countdown{background-color:transparent;background-image:url("../../img/index-ps/bg-countdown.jpg");background-position:center top;background-repeat:no-repeat;background-size:cover;padding:58px 0;}
@media (min-width:1024px){.bs-countdown{padding:85px 0;}
}
.bs-countdown .bgLayer,
.bs-countdown .topLayer{display:none;}
.bs-countdown--belmont{background-image:url("../../img/index-ps/bg-countdown-belmont.jpg");padding:52px 0;text-align:center;}
.bs-countdown--ps{background-image:url("../../img/index-ps/bg-countdown-ps.jpg");padding:52px 0;text-align:center;}
.bs-countdown_content{background-color:#000;border-radius:30px;display:inline-block;padding:30px 15px 35px;margin-left:-15px;margin-right:-15px;}
@media (min-width:768px){.bs-countdown_content{margin-left:0;margin-right:0;padding:30px 25px 35px;}
}
@media (min-width:1024px){.bs-countdown_content{padding:30px 50px 35px;}
}
.bs-countdown_heading{color:#fff;font-family:"Lato";font-size:25px;font-weight:300;padding:0 42px;margin:0 0 22px;text-align:center;}
@media (min-width:480px){.bs-countdown_heading{font-size:35px;padding:0 52px;}
}
@media (min-width:1024px){.bs-countdown_heading{font-size:36px;padding:0 67px;}
}
.bs-countdown_heading-text{display:inline-block;position:relative;}
@media (min-width:768px){.bs-countdown_heading-text br{display:none;}
}
.bs-countdown_heading-text:after, .bs-countdown_heading-text:before{background:transparent url("../../img/index-ps/shapes.png") left top no-repeat;content:"";display:inline-block;height:17px;margin-top:-8.5px;top:50%;position:absolute;vertical-align:middle;width:37px;}
.bs-countdown_heading-text:after{background-position:right top;left:105%;}
.bs-countdown_heading-text:before{right:105%;}
.bs-countdown_items{overflow:hidden;text-align:center;}
.bs-countdown_item{border-radius:8px;border:2px solid #fff;color:#fff;display:inline-block;margin:0 3px 0 0;padding:6px 4px;text-align:center;width:67px;}
.bs-countdown_item:last-child{margin:0;}
.bs-countdown_item--green{border-color:#96d400;color:#96d400;}
.bs-countdown_item--yellow{border-color:#fcdf05;color:#fcdf05;}
@media (min-width:480px){.bs-countdown_item{margin:0 8px 0 0;padding:12px 4px;width:103px;}
}
@media (min-width:768px){.bs-countdown_item{width:119px;}
}
.bs-countdown .bs-countdown_num{color:inherit;display:block;font-family:"Lato";font-size:30px;line-height:1;font-weight:300;margin:0 0 3px;width:auto !important;}
.bs-countdown .bs-countdown_num--green{color:#96d400;}
@media (min-width:480px){.bs-countdown .bs-countdown_num{font-size:47px;}
}
@media (min-width:768px){.bs-countdown .bs-countdown_num{font-size:60px;}
}
.bs-countdown .bs-countdown_label{color:inherit;display:block;font-family:"Lato";font-size:10px !important;font-weight:300;margin:0;text-transform:uppercase;width:auto !important;}
@media (min-width:480px){.bs-countdown .bs-countdown_label{font-size:12px !important;}
}
@media (min-width:768px){.bs-countdown .bs-countdown_label{font-size:13px !important;}
}
.bs-testimonials{background-color:#f8fbfd;padding:28px 0 54px;width:100%;}
@media (min-width:768px){.bs-testimonials{padding:50px 0;}
}
.bs-testimonials--blue{background-color:#1672bd;padding:50px 0 80px;}
@media (min-width:768px){.bs-testimonials--blue{padding:30px 0;}
}
.bs-testimonials--blue-dark{background-color:#003158;padding:50px 0 80px;}
@media (min-width:768px){.bs-testimonials--blue-dark{padding:30px 0;}
}
.bs-testimonial{border-left:0;display:table;margin:0;padding:0;width:100%;}
.bs-testimonial_figure{margin:0 0 32px;}
@media (min-width:768px){.bs-testimonial_figure{display:table-cell;vertical-align:middle;width:200px;}
}
.bs-testimonial_figure img{background-color:#e3e6e8;border:3px solid #1571ba;border-radius:100%;display:block;height:auto;width:120px;margin:0 auto;}
.bs-testimonial_content{text-align:center;}
@media (min-width:480px){.bs-testimonial_content{padding:0 15px;}
}
@media (min-width:768px){.bs-testimonial_content{display:table-cell;padding:0;text-align:left;vertical-align:top;}
}
.bs-testimonial p, .bs-testimonial_p{color:#1672bd;color:#444;font-family:"Lato";font-size:20px;font-weight:300;margin:0 0 42px;}
.bs-testimonial_name, .bs-testimonial_profile{color:#1672bd;color:#444;display:block;font-family:"Lato";font-size:20px;line-height:1.2;font-weight:300;}
.bs-testimonial-blue{border-left:0;display:table;margin:0;padding:0;width:100%;text-align:center;}
@media (min-width:768px){.bs-testimonial-blue{text-align:left;}
}
@media (min-width:1024px){.bs-testimonial-blue_center{padding:0 200px;}
}
.bs-testimonial-blue_figure{margin:0 0 25px;}
@media (min-width:768px){.bs-testimonial-blue_figure{display:table-cell;vertical-align:middle;width:190px;}
}
.bs-testimonial-blue_figure img{background-color:#e3e6e8;border-radius:100%;display:block;height:72px;width:72px;margin:0 auto;}
.bs-testimonial-blue p, .bs-testimonial-blue_p{color:#fff;font-family:"Lato";font-size:18px;font-style:italic;font-weight:400;margin:0 0 14px;}
.bs-testimonial-blue p:after, .bs-testimonial-blue p:before, .bs-testimonial-blue_p:after, .bs-testimonial-blue_p:before{content:'"';}
@media (min-width:480px){.bs-testimonial-blue p, .bs-testimonial-blue_p{font-size:20px;}
}
.bs-testimonial-blue_name, .bs-testimonial-blue_profile{color:#fff;font-family:"Lato";font-size:17px;font-weight:400;}
.bs-testimonial-blue_name cite, .bs-testimonial-blue_profile cite{font-style:normal;}
.bs-kd{text-align:center;}
.bs-kd--default{padding:50px 0 60px;}
.bs-kd--horse{background-color:transparent;background-image:url("../../img/index-ps/bg-kd.jpg");background-position:center bottom;background-repeat:no-repeat;background-size:initial;padding:160px 0 418px;}
@media (min-width:768px){.bs-kd--horse{background-size:100%;}
}
@media (min-width:1024px){.bs-kd--horse{padding:150px 0 548px;}
}
@media (min-width:480px){.bs-kd_content{padding:0 30px;}
}
@media (min-width:1200px){.bs-kd_content{padding:0 70px;}
}
.bs-kd_logo{margin:0 auto 35px;width:140px;}
@media (min-width:768px){.bs-kd_logo{margin:0 auto 45px;}
}
.bs-kd_heading{color:#1672bd;font-family:'Lato', sans-serif;font-size:45px;font-weight:700;line-height:1.3;margin:0 0 20px;text-align:center;}
@media (min-width:480px){.bs-kd_heading{font-size:70px;}
}
@media (min-width:768px){.bs-kd_heading br{display:none;}
}
.bs-kd_subheading{color:#1672bd;font-family:'Lato', sans-serif;font-size:20px;font-weight:700;margin:0 0 42px;text-align:center;}
@media (min-width:480px){.bs-kd_subheading{font-size:24px;}
}
.bs-kd p, .bs-kd_p{color:#444;font-family:'Lato', sans-serif;font-size:20px;font-weight:300;margin:0 0 40px;text-align:center;}
@media (min-width:480px){.bs-kd p, .bs-kd_p{font-size:24px;}
}
//.bs-kd_btn{//background-color:transparent;//border-radius:15px;//border:3px solid #1672bd;//color:#1672bd;//display:block;//font-family:'Lato', sans-serif;//font-size:25px;//font-weight:900;//margin:0 auto;//margin-top:80px;//outline:none;//padding:27px 15px;//text-align:center;//text-decoration:none;//text-transform:uppercase;//width:278px;//transition:.2s;}
//.bs-kd_btn:focus, .bs-kd_btn:hover{//color:#1672bd;//font-weight:900;//text-decoration:none;}
//.bs-kd_btn:active{//transform:scale(0.98);}
//@media (min-width:768px){//.bs-kd_btn{//display:inline-block;//font-size:30px;//margin-top:40px;//padding:27px 30px;//width:auto;}
}
.bs-kd_btn{background-color:#e2001a;background-image:-webkit-linear-gradient(top, #e2001a, #991a1e);background-image:linear-gradient(to bottom, #e2001a, #991a1e);border-radius:3px;color:#fff;display:inline-block;font-family:'Lato', sans-serif;font-size:20px;font-weight:900;margin:0 auto;outline:none;padding:13px 20px;text-align:center;text-decoration:none;text-transform:uppercase;min-width:200px;-webkit-transition:.2s;transition:.2s;display:inline-block;font-size:20px;line-height:1.618;margin-top:80px;padding:14px 15px;}
.bs-kd_btn:focus, .bs-kd_btn:hover{color:#fff;font-weight:900;text-decoration:none;}
.bs-kd_btn:hover{background:#d6242a;}
.bs-kd_btn:active{-webkit-transform:scale(0.98);transform:scale(0.98);}
@media (min-width:768px){.bs-kd_btn{font-size:30px;margin-top:40px;padding:25px 15px;height:97px;width:317px;}
}
.bs-card{display:table;width:100%;}
.bs-card--bg{background:transparent url("../../img/index-ps/ketnucky-derby-bg.jpg") center top no-repeat;background-size:cover;}
.bs-card--red{background-color:#c21515;color:#fff;padding:70px 0;}
.bs-card_wrap{display:table-row;}
@media (min-width:768px){.bs-card_half{display:table-cell;vertical-align:top;width:50%;}
}
.bs-card_content{color:#1672bd;padding:65px 15px;vertical-align:middle;text-align:center;}
@media (min-width:768px){.bs-card_content{padding:25px 20px;}
}
@media (min-width:1024px){.bs-card_content{padding:0 45px;}
}
.bs-card_content--red{background-color:#c21515;color:#fff;}
.bs-card_icon{display:block;margin:0 auto;margin-bottom:35px;}
@media (min-width:768px){.bs-card_icon{margin-bottom:20px;width:15%;}
}
@media (min-width:1024px){.bs-card_icon{margin-bottom:35px;width:auto;}
}
.bs-card_img{width:100%;}
.bs-card_pic{background-color:transparent;background-position:center bottom;background-repeat:no-repeat;background-size:cover;height:100%;width:100%;}
.bs-card_logo{margin:0 auto 45px;width:140px;}
.bs-card_heading{color:inherit;font-family:'Lato', sans-serif;font-size:35px;font-weight:700;line-height:1.1;margin:0 0 20px;text-transform:uppercase;}
@media (min-width:480px){.bs-card_heading{font-size:43px;}
}
@media (min-width:768px){.bs-card_heading{font-size:24px;margin:0 0 10px;}
}
@media (min-width:1024px){.bs-card_heading{font-size:32px;margin:0 0 20px;}
}
@media (min-width:1200px){.bs-card_heading{font-size:43px;}
}
.bs-card_heading--no-cap{text-transform:none;}
.bs-card_heading--block{font-size:32px;}
.bs-card_subheading{color:inherit;font-family:'Lato', sans-serif;font-size:18px;font-weight:700;margin:0 0 42px;}
@media (min-width:768px){.bs-card_subheading{font-size:18px;margin:0 0 20px;}
}
@media (min-width:1024px){.bs-card_subheading{font-size:24px;margin:0 0 20px;}
}
@media (min-width:1200px){.bs-card_subheading{margin:0 0 42px;}
}
.bs-card_heading-2{color:inherit;font-family:'Lato', sans-serif;font-size:22px;font-weight:300;margin:0 0 42px;letter-spacing:2px;}
.bs-card p, .bs-card_p{color:#444;font-family:'Lato', sans-serif;font-size:18px;font-weight:300;margin:0 0 40px;}
@media (min-width:768px){.bs-card p, .bs-card_p{font-size:16px;margin:0 0 15px;}
}
@media (min-width:1024px){.bs-card p, .bs-card_p{font-size:20px;margin:0 0 30px;}
}
@media (min-width:1200px){.bs-card p, .bs-card_p{font-size:24px;margin:0 0 75px;}
}
//.bs-card_btn{//background-color:transparent;//border-radius:15px;//border:3px solid #1672bd;//color:#1672bd;//display:inline-block;//font-family:'Lato', sans-serif;//font-size:20px;//font-weight:900;//margin:0 auto;//outline:none;//padding:12px 20px;//text-align:center;//text-decoration:none;//text-transform:uppercase;//min-width:190px;//transition:.2s;}
//.bs-card_btn:focus, .bs-card_btn:hover{//color:#1672bd;//font-weight:900;//text-decoration:none;}
//.bs-card_btn:active{//transform:scale(0.98);}
//@media (min-width:768px){//.bs-card_btn{//font-size:18px;//padding:8px 16px;}
}
//@media (min-width:1024px){//.bs-card_btn{//font-size:20px;//padding:12px 20px;}
}
//.bs-card_btn--default{//border:3px solid #fff;//color:#fff;}
//.bs-card_btn--default:focus, .bs-card_btn--default:hover{//color:#fff;//font-weight:900;//text-decoration:none;}
.bs-card_btn{background-color:#e2001a;background-image:-webkit-linear-gradient(top, #e2001a, #991a1e);background-image:linear-gradient(to bottom, #e2001a, #991a1e);border-radius:3px;color:#fff;display:inline-block;font-family:'Lato', sans-serif;font-size:20px;font-weight:900;margin:0 auto;outline:none;padding:13px 20px;text-align:center;text-decoration:none;text-transform:uppercase;min-width:200px;-webkit-transition:.2s;transition:.2s;}
.bs-card_btn:focus, .bs-card_btn:hover{color:#fff;font-weight:900;text-decoration:none;}
.bs-card_btn:hover{background:#d6242a;}
.bs-card_btn:active{-webkit-transform:scale(0.98);transform:scale(0.98);}
@media (min-width:768px){.bs-card_btn{font-size:18px;padding:10px 16px;}
}
@media (min-width:1024px){.bs-card_btn{font-size:20px;padding:14px 25px;}
}
.bs-card_btn--default{border:3px solid #fff;color:#fff;}
.bs-card_btn--default:focus, .bs-card_btn--default:hover{color:#fff;font-weight:900;text-decoration:none;}
.bs-card_hide-mobile{display:none;}
@media (min-width:768px){.bs-card_hide-mobile{display:table-cell;}
}
@media (min-width:1024px){.bs-card_show-mobile{display:none;}
}
.bs-bonus{background:#1672bd url("../../img/index-ps/bg-bonus.png") right center no-repeat;background-size:50%;display:table;width:100%;padding:90px 0;text-align:center;}
@media (min-width:768px){.bs-bonus{background-size:25%;}
}
@media (min-width:1024px){.bs-bonus{background-size:contain;padding:180px 0;text-align:left;}
}
@media (min-width:1200px){.bs-bonus{background-size:initial;}
}
.bs-bonus .container{padding:0 15px;}
@media (min-width:1200px){.bs-bonus .container{padding:0;}
}
.bs-bonus_heading{color:#fff;display:block;font-family:"Lato";font-size:45px;font-weight:700;line-height:1.2;margin:0;text-transform:uppercase;}
@media (min-width:768px){.bs-bonus_heading{font-size:40px;}
}
@media (min-width:1024px){.bs-bonus_heading{font-size:56px;}
}
@media (min-width:1200px){.bs-bonus_heading{font-size:83px;}
}
.bs-bonus_subheading{color:#fff;display:block;font-family:"Lato";font-size:25px;font-weight:700;line-height:1.2;letter-spacing:6.6px;margin:0 0 25px;}
@media (min-width:768px){.bs-bonus_subheading{font-size:20px;}
}
@media (min-width:1200px){.bs-bonus_subheading{font-size:35px;}
}
.bs-bonus_p,
.bs-bonus p{color:#fff;font-family:"Lato";font-size:20px;font-weight:300;line-height:1.45;margin:0 0 62px;}
@media (min-width:768px){.bs-bonus_p,
.bs-bonus p{font-size:18px;margin:0 0 20px;}
}
@media (min-width:1024px){.bs-bonus_p,
.bs-bonus p{font-size:24px;margin:0 0 62px;}
}
//.bs-bonus_btn{//background-color:transparent;//border:3px solid #fff;//border-radius:19px;//color:#fff;//cursor:pointer;//display:block;//font-family:"Lato";//font-size:30px;//font-weight:900;//line-height:1;//letter-spacing:1px;//padding:23px 10px;//text-align:center;//margin:0 auto;//max-width:100%;//transition:.2s;}
//.bs-bonus_btn:active{//transform:scale(0.98);}
//.bs-bonus_btn:hover, .bs-bonus_btn:focus{//color:#fff;//font-weight:900;//text-decoration:none;}
//@media (min-width:480px){//.bs-bonus_btn{//width:398px;}
}
//@media (min-width:768px){//.bs-bonus_btn{//font-size:20px;//margin:0 auto;//width:320px;}
}
//@media (min-width:1024px){//.bs-bonus_btn{//font-size:30px;//margin:0;//width:398px;}
}
.bs-bonus_btn{background-color:#e2001a;background-image:-webkit-linear-gradient(top, #e2001a, #991a1e);background-image:linear-gradient(to bottom, #e2001a, #991a1e);border-radius:3px;color:#fff;display:inline-block;font-family:'Lato', sans-serif;font-size:20px;font-weight:900;margin:0 auto;outline:none;padding:13px 20px;text-align:center;text-decoration:none;text-transform:uppercase;min-width:200px;-webkit-transition:.2s;transition:.2s;padding:14px 15px;transition:.2s;}
.bs-bonus_btn:focus, .bs-bonus_btn:hover{color:#fff;font-weight:900;text-decoration:none;}
.bs-bonus_btn:hover{background:#d6242a;}
.bs-bonus_btn:active{-webkit-transform:scale(0.98);transform:scale(0.98);}
.bs-bonus_btn:active{-webkit-transform:scale(0.98);transform:scale(0.98);}
@media (min-width:768px){.bs-bonus_btn{font-size:20px;margin:0 auto;padding:25px 15px;width:320px;}
}
@media (min-width:1024px){.bs-bonus_btn{font-size:30px;margin:0;width:398px;}
}
.bs-payouts{background-color:#1672bd;padding:75px 0;text-align:center;}
@media (min-width:768px){.bs-payouts{text-align:left;}
}
@media (min-width:1024px){.bs-payouts{padding:125px 0;text-align:left;}
}
.bs-payouts_figure{margin-top:20px;text-align:center;}
@media (min-width:768px){.bs-payouts_figure{height:130px;margin:0 auto;width:80%;}
}
@media (min-width:1024px){.bs-payouts_figure{height:232px;margin-top:0;}
}
.bs-payouts_figure img{margin:0 auto;}
.bs-payouts_heading{color:#fff;font-family:'Lato', sans-serif;font-weight:700;line-height:1.2;font-size:35px;margin:0 0 30px;text-transform:uppercase;}
.bs-payouts_heading span{color:#54b2ff;}
@media (min-width:1024px){.bs-payouts_heading{font-size:54px;}
}
.bs-payouts p, .bs-payouts_p{color:#fff;font-family:'Lato', sans-serif;font-size:18px;font-weight:300;margin:0 0 10px;}
@media (min-width:1024px){.bs-payouts p, .bs-payouts_p{font-size:24px;}
}
@media (min-width:768px){.index-kd .nav-justified > li{vertical-align:middle;}
}
@media (min-width:0) and (max-width:1200px){.index-kd #nav .navbar-nav > li > a{font-size:16px;}
}
@media (min-width:0) and (max-width:1024px){.index-kd .container{max-width:inherit;width:auto;}
}
@media (min-width:0) and (max-width:1024px){.index-kd .sliderContainer{width:100%;max-width:100%;}
}
.bs-belmont_img,
.bs-pimlico_img{height:auto;width:100%;}
.bs-register{background-color:#c21515;color:#fff;padding:70px 0;text-align:center;}
.bs-register_content{display:inline-block;}
.bs-register_icon{display:block;margin:0 auto;margin-bottom:35px;}
@media (min-width:768px){.bs-register_icon{margin-bottom:20px;}
}
@media (min-width:1024px){.bs-register_icon{margin-bottom:35px;width:auto;}
}
.bs-register_heading{color:inherit;font-family:'Lato', sans-serif;font-size:35px;font-weight:700;line-height:1.1;margin:0 0 20px;text-transform:uppercase;}
@media (min-width:480px){.bs-register_heading{font-size:43px;}
}
@media (min-width:768px){.bs-register_heading{margin:0 0 10px;}
}
@media (min-width:1024px){.bs-register_heading{margin:0 0 20px;}
}
.bs-register_heading-2{color:inherit;font-family:'Lato', sans-serif;font-size:22px;font-weight:300;margin:0 0 42px;letter-spacing:2px;}
.bs-register_subheading{color:inherit;font-family:'Lato', sans-serif;font-size:18px;font-weight:700;margin:0 0 42px;}
@media (min-width:768px){.bs-register_subheading{font-size:18px;margin:0 0 20px;}
}
@media (min-width:1024px){.bs-register_subheading{font-size:24px;margin:0 0 20px;}
}
@media (min-width:1200px){.bs-register_subheading{margin:0 0 42px;}
}
.bs-register_btn{background-color:transparent;border-radius:15px;border:3px solid #fff;color:#fff;display:inline-block;font-family:'Lato', sans-serif;font-size:20px;font-weight:900;margin:0 auto;outline:none;padding:12px 20px;text-align:center;text-decoration:none;text-transform:uppercase;min-width:190px;transition:.2s;}
.bs-register_btn:focus, .bs-register_btn:hover{color:#fff;font-weight:900;text-decoration:none;}
.bs-register_btn:active{transform:scale(0.98);}
@media (min-width:768px){.bs-register_btn{font-size:18px;padding:8px 16px;}
}
@media (min-width:1024px){.bs-register_btn{font-size:20px;padding:12px 20px;}
}
.card--red,
.card_content--red{background-color:#1672bd;}
.card_btn--default{background-color:#e2001a;background-image:-webkit-linear-gradient(top, #e2001a, #991a1e);background-image:linear-gradient(to bottom, #e2001a, #991a1e);border-radius:3px;border:0;color:#fff;display:inline-block;font-family:'Lato', sans-serif;font-size:20px;font-weight:900;margin:0 auto;outline:none;padding:13px 20px;text-align:center;text-decoration:none;text-transform:uppercase;min-width:200px;-webkit-transition:.2s;transition:.2s;transition:.2s;}
.card_btn--default:focus, .card_btn--default:hover{color:#fff;font-weight:900;text-decoration:none;}
.card_btn--default:hover{background:#d6242a;}
.card_btn--default:active{-webkit-transform:scale(0.98);transform:scale(0.98);}
.card_btn--default:focus, .card_btn--default:hover{color:#fff;font-weight:900;text-decoration:none;}
.card_btn--default:active{-webkit-transform:scale(0.98);transform:scale(0.98);}
@media (min-width:768px){.card_btn--default{font-size:18px;padding:10px 16px;}
}
@media (min-width:1024px){.card_btn--default{font-size:20px;padding:14px 20px;}
}
