.block-center{display:table;height:100%;width:100%;}
.block-center .block-center_content{display:table-cell;vertical-align:middle;}
.paragraph{margin:0 0 10px;}
.height-full{height:100%;}
.videoWrapper{position:relative;padding-bottom:56.25%;padding-top:25px;height:0;}
.videoWrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
.ps-friends{height:100px;width:100%;}
@media (min-width:768px){.ps-friends{height:185px;margin-top:-30px;}
}
.ps-friends_img{margin:0;}
.usr-section{display:table;width:100%;}
.usr-section .container{margin:0 auto;padding:0 15px;}
.ps-countdown{background-color:transparent;background-image:url("../../img/index-ps/bg-countdown.jpg");background-position:center top;background-repeat:no-repeat;background-size:cover;padding:58px 0;}
@media (min-width:1024px){.ps-countdown{padding:85px 0;}
}
.ps-countdown .bgLayer,
.ps-countdown .topLayer{display:none;}
.ps-countdown--belmont{background-image:url("../../img/index-ps/bg-countdown-belmont.jpg");padding:52px 0;text-align:center;}
.ps-countdown--ps{background-image:url("../../img/index-ps/bg-countdown-ps.jpg");padding:52px 0;text-align:center;}
.ps-countdown_content{background-color:#000;border-radius:30px;display:inline-block;padding:30px 15px 35px;margin-left:-15px;margin-right:-15px;}
@media (min-width:768px){.ps-countdown_content{margin-left:0;margin-right:0;padding:30px 25px 35px;}
}
@media (min-width:1024px){.ps-countdown_content{padding:30px 50px 35px;}
}
.ps-countdown_heading{color:#fff;font-family:"Lato";font-size:25px;font-weight:300;padding:0 42px;margin:0 0 22px;text-align:center;}
@media (min-width:480px){.ps-countdown_heading{font-size:35px;padding:0 52px;}
}
@media (min-width:1024px){.ps-countdown_heading{font-size:36px;padding:0 67px;}
}
.ps-countdown_heading-text{display:inline-block;position:relative;}
@media (min-width:768px){.ps-countdown_heading-text br{display:none;}
}
.ps-countdown_heading-text:after, .ps-countdown_heading-text:before{background:transparent url("../../img/index-ps/shapes.png") left top no-repeat;content:"";display:inline-block;height:17px;margin-top:-8.5px;top:50%;position:absolute;vertical-align:middle;width:37px;}
.ps-countdown_heading-text:after{background-position:right top;left:105%;}
.ps-countdown_heading-text:before{right:105%;}
.ps-countdown_items{overflow:hidden;text-align:center;}
.ps-countdown_item{border-radius:8px;border:2px solid #fff;color:#fff;display:inline-block;margin:0 3px 0 0;padding:6px 4px;text-align:center;width:67px;}
.ps-countdown_item:last-child{margin:0;}
.ps-countdown_item--green{border-color:#96d400;color:#96d400;}
.ps-countdown_item--yellow{border-color:#fcdf05;color:#fcdf05;}
@media (min-width:480px){.ps-countdown_item{margin:0 8px 0 0;padding:12px 4px;width:103px;}
}
@media (min-width:768px){.ps-countdown_item{width:119px;}
}
.ps-countdown .ps-countdown_num{color:inherit;display:block;font-family:"Lato";font-size:30px;line-height:1;font-weight:300;margin:0 0 3px;width:auto !important;}
.ps-countdown .ps-countdown_num--green{color:#96d400;}
@media (min-width:480px){.ps-countdown .ps-countdown_num{font-size:47px;}
}
@media (min-width:768px){.ps-countdown .ps-countdown_num{font-size:60px;}
}
.ps-countdown .ps-countdown_label{color:inherit;display:block;font-family:"Lato";font-size:10px !important;font-weight:300;margin:0;text-transform:uppercase;width:auto !important;}
@media (min-width:480px){.ps-countdown .ps-countdown_label{font-size:12px !important;}
}
@media (min-width:768px){.ps-countdown .ps-countdown_label{font-size:13px !important;}
}
.ps-testimonials{background-color:#f8fbfd;padding:28px 0 54px;width:100%;}
@media (min-width:768px){.ps-testimonials{padding:50px 0;}
}
.ps-testimonials--blue{background-color:#1672bd;padding:50px 0 80px;}
@media (min-width:768px){.ps-testimonials--blue{padding:30px 0;}
}
.ps-testimonials--blue-dark{background-color:#003158;padding:50px 0 80px;}
@media (min-width:768px){.ps-testimonials--blue-dark{padding:30px 0;}
}
.ps-testimonial{border-left:0;display:table;margin:0;padding:0;width:100%;}
.ps-testimonial_figure{margin:0 0 32px;}
@media (min-width:768px){.ps-testimonial_figure{display:table-cell;vertical-align:middle;width:200px;}
}
.ps-testimonial_figure img{background-color:#e3e6e8;border:3px solid #1571ba;border-radius:100%;display:block;height:auto;width:120px;margin:0 auto;}
.ps-testimonial_content{text-align:center;}
@media (min-width:480px){.ps-testimonial_content{padding:0 15px;}
}
@media (min-width:768px){.ps-testimonial_content{display:table-cell;padding:0;text-align:left;vertical-align:top;}
}
.ps-testimonial p, .ps-testimonial_p{color:#1672bd;color:#444;font-family:"Lato";font-size:20px;font-weight:300;margin:0 0 42px;}
.ps-testimonial_name, .ps-testimonial_profile{color:#1672bd;color:#444;display:block;font-family:"Lato";font-size:20px;line-height:1.2;font-weight:300;}
.ps-testimonial-blue{border-left:0;display:table;margin:0;padding:0;width:100%;text-align:center;}
@media (min-width:768px){.ps-testimonial-blue{text-align:left;}
}
@media (min-width:1024px){.ps-testimonial-blue_center{padding:0 200px;}
}
.ps-testimonial-blue_figure{margin:0 0 25px;}
@media (min-width:768px){.ps-testimonial-blue_figure{display:table-cell;vertical-align:middle;width:190px;}
}
.ps-testimonial-blue_figure img{background-color:#e3e6e8;border-radius:100%;display:block;height:72px;width:72px;margin:0 auto;}
.ps-testimonial-blue p, .ps-testimonial-blue_p{color:#fff;font-family:"Lato";font-size:18px;font-style:italic;font-weight:400;margin:0 0 14px;}
.ps-testimonial-blue p:after, .ps-testimonial-blue p:before, .ps-testimonial-blue_p:after, .ps-testimonial-blue_p:before{content:'"';}
@media (min-width:480px){.ps-testimonial-blue p, .ps-testimonial-blue_p{font-size:20px;}
}
.ps-testimonial-blue_name, .ps-testimonial-blue_profile{color:#fff;font-family:"Lato";font-size:17px;font-weight:400;}
.ps-testimonial-blue_name cite, .ps-testimonial-blue_profile cite{font-style:normal;}
.ps-kd{text-align:center;}
.ps-kd--default{padding:152px 0 160px;}
.ps-kd--horse{background-color:transparent;background-image:url("../../img/index-ps/bg-kd.jpg");background-position:center bottom;background-repeat:no-repeat;background-size:initial;padding:160px 0 418px;}
@media (min-width:768px){.ps-kd--horse{background-size:100%;}
}
@media (min-width:1024px){.ps-kd--horse{padding:150px 0 548px;}
}
@media (min-width:480px){.ps-kd_content{padding:0 30px;}
}
@media (min-width:1200px){.ps-kd_content{padding:0 70px;}
}
.ps-kd_logo{margin:0 auto 35px;width:140px;}
@media (min-width:768px){.ps-kd_logo{margin:0 auto 45px;}
}
.ps-kd_heading{color:#1672bd;font-family:'Lato', sans-serif;font-size:45px;font-weight:700;line-height:1.3;margin:0 0 20px;text-align:center;}
@media (min-width:480px){.ps-kd_heading{font-size:70px;}
}
@media (min-width:768px){.ps-kd_heading br{display:none;}
}
.ps-kd_subheading{color:#1672bd;font-family:'Lato', sans-serif;font-size:20px;font-weight:700;margin:0 0 42px;text-align:center;}
@media (min-width:480px){.ps-kd_subheading{font-size:24px;}
}
.ps-kd p, .ps-kd_p{color:#444;font-family:'Lato', sans-serif;font-size:20px;font-weight:300;margin:0 0 40px;text-align:center;}
@media (min-width:480px){.ps-kd p, .ps-kd_p{font-size:24px;}
}
.ps-kd_btn{background-color:transparent;border-radius:15px;border:3px solid #1672bd;color:#1672bd;display:block;font-family:'Lato', sans-serif;font-size:29px;font-weight:900;margin:0 auto;margin-top:80px;outline:none;padding:27px 15px;text-align:center;text-decoration:none;text-transform:uppercase;width:278px;transition:.2s;}
.ps-kd_btn:focus, .ps-kd_btn:hover{color:#1672bd;font-weight:900;text-decoration:none;}
.ps-kd_btn:active{transform:scale(0.98);}
@media (min-width:768px){.ps-kd_btn{font-size:30px;margin-top:40px;}
}
.ps-card{display:table;width:100%;}
.ps-card--bg{background:transparent url("../../img/index-ps/ketnucky-derby-bg.jpg") center top no-repeat;background-size:cover;}
.ps-card--red{background-color:#c21515;color:#fff;padding:70px 0;}
.ps-card_wrap{display:table-row;}
@media (min-width:768px){.ps-card_half{display:table-cell;vertical-align:top;width:50%;}
}
.ps-card_content{color:#1672bd;padding:65px 15px;vertical-align:middle;text-align:center;}
@media (min-width:768px){.ps-card_content{padding:25px 20px;}
}
@media (min-width:1024px){.ps-card_content{padding:0 45px;}
}
.ps-card_content--red{background-color:#c21515;color:#fff;}
.ps-card_icon{display:block;margin:0 auto;margin-bottom:35px;}
@media (min-width:768px){.ps-card_icon{margin-bottom:20px;width:15%;}
}
@media (min-width:1024px){.ps-card_icon{margin-bottom:35px;width:auto;}
}
.ps-card_img{width:100%;}
.ps-card_pic{background-color:transparent;background-position:center bottom;background-repeat:no-repeat;background-size:cover;height:100%;width:100%;}
.ps-card_logo{margin:0 auto 45px;width:140px;}
.ps-card_heading{color:inherit;font-family:'Lato', sans-serif;font-size:35px;font-weight:700;line-height:1.1;margin:0 0 20px;text-transform:uppercase;}
@media (min-width:480px){.ps-card_heading{font-size:43px;}
}
@media (min-width:768px){.ps-card_heading{font-size:24px;margin:0 0 10px;}
}
@media (min-width:1024px){.ps-card_heading{font-size:32px;margin:0 0 20px;}
}
@media (min-width:1200px){.ps-card_heading{font-size:43px;}
}
.ps-card_heading--no-cap{text-transform:none;}
.ps-card_heading--block{font-size:32px;}
.ps-card_subheading{color:inherit;font-family:'Lato', sans-serif;font-size:18px;font-weight:700;margin:0 0 42px;}
@media (min-width:768px){.ps-card_subheading{font-size:18px;margin:0 0 20px;}
}
@media (min-width:1024px){.ps-card_subheading{font-size:24px;margin:0 0 20px;}
}
@media (min-width:1200px){.ps-card_subheading{margin:0 0 42px;}
}
.ps-card_heading-2{color:inherit;font-family:'Lato', sans-serif;font-size:22px;font-weight:300;margin:0 0 42px;letter-spacing:2px;}
.ps-card p, .ps-card_p{color:#444;font-family:'Lato', sans-serif;font-size:18px;font-weight:300;margin:0 0 40px;}
@media (min-width:768px){.ps-card p, .ps-card_p{font-size:16px;margin:0 0 15px;}
}
@media (min-width:1024px){.ps-card p, .ps-card_p{font-size:20px;margin:0 0 30px;}
}
@media (min-width:1200px){.ps-card p, .ps-card_p{font-size:24px;margin:0 0 75px;}
}
.ps-card_btn{background-color:transparent;border-radius:15px;border:3px solid #1672bd;color:#1672bd;display:inline-block;font-family:'Lato', sans-serif;font-size:20px;font-weight:900;margin:0 auto;outline:none;padding:12px 20px;text-align:center;text-decoration:none;text-transform:uppercase;min-width:190px;transition:.2s;}
.ps-card_btn:focus, .ps-card_btn:hover{color:#1672bd;font-weight:900;text-decoration:none;}
.ps-card_btn:active{transform:scale(0.98);}
@media (min-width:768px){.ps-card_btn{font-size:18px;padding:8px 16px;}
}
@media (min-width:1024px){.ps-card_btn{font-size:20px;padding:12px 20px;}
}
.ps-card_btn--default{border:3px solid #fff;color:#fff;}
.ps-card_btn--default:focus, .ps-card_btn--default:hover{color:#fff;font-weight:900;text-decoration:none;}
.ps-card_hide-mobile{display:none;}
@media (min-width:768px){.ps-card_hide-mobile{display:table-cell;}
}
@media (min-width:1024px){.ps-card_show-mobile{display:none;}
}
.ps-bonus{background:#1672bd url("../../img/index-ps/bg-bonus.png") right center no-repeat;background-size:50%;display:table;width:100%;padding:90px 0;text-align:center;}
@media (min-width:768px){.ps-bonus{background-size:25%;}
}
@media (min-width:1024px){.ps-bonus{background-size:contain;padding:180px 0;text-align:left;}
}
@media (min-width:1200px){.ps-bonus{background-size:initial;}
}
.ps-bonus .container{padding:0 15px;}
@media (min-width:1200px){.ps-bonus .container{padding:0;}
}
.ps-bonus_heading{color:#fff;display:block;font-family:"Lato";font-size:45px;font-weight:700;line-height:1.2;margin:0;text-transform:uppercase;}
@media (min-width:768px){.ps-bonus_heading{font-size:40px;}
}
@media (min-width:1024px){.ps-bonus_heading{font-size:56px;}
}
@media (min-width:1200px){.ps-bonus_heading{font-size:83px;}
}
.ps-bonus_subheading{color:#fff;display:block;font-family:"Lato";font-size:25px;font-weight:700;line-height:1.2;letter-spacing:6.6px;margin:0 0 25px;}
@media (min-width:768px){.ps-bonus_subheading{font-size:20px;}
}
@media (min-width:1200px){.ps-bonus_subheading{font-size:35px;}
}
.ps-bonus_p,
.ps-bonus p{color:#fff;font-family:"Lato";font-size:20px;font-weight:300;line-height:1.45;margin:0 0 62px;}
@media (min-width:768px){.ps-bonus_p,
.ps-bonus p{font-size:18px;margin:0 0 20px;}
}
@media (min-width:1024px){.ps-bonus_p,
.ps-bonus p{font-size:24px;margin:0 0 62px;}
}
.ps-bonus_btn{background-color:transparent;border:3px solid #fff;border-radius:19px;color:#fff;cursor:pointer;display:block;font-family:"Lato";font-size:30px;font-weight:900;line-height:1;letter-spacing:1px;padding:23px 10px;text-align:center;margin:0 auto;max-width:100%;transition:.2s;}
.ps-bonus_btn:active{transform:scale(0.98);}
.ps-bonus_btn:hover, .ps-bonus_btn:focus{color:#fff;font-weight:900;text-decoration:none;}
@media (min-width:480px){.ps-bonus_btn{width:398px;}
}
@media (min-width:768px){.ps-bonus_btn{font-size:20px;margin:0 auto;width:320px;}
}
@media (min-width:1024px){.ps-bonus_btn{font-size:30px;margin:0;width:398px;}
}
.ps-payouts{background-color:#1672bd;padding:75px 0;text-align:center;}
@media (min-width:768px){.ps-payouts{text-align:left;}
}
@media (min-width:1024px){.ps-payouts{padding:125px 0;text-align:left;}
}
.ps-payouts_figure{margin-top:20px;text-align:center;}
@media (min-width:768px){.ps-payouts_figure{height:130px;margin:0 auto;width:80%;}
}
@media (min-width:1024px){.ps-payouts_figure{height:232px;margin-top:0;}
}
.ps-payouts_figure img{margin:0 auto;}
.ps-payouts_heading{color:#fff;font-family:'Lato', sans-serif;font-weight:700;line-height:1.2;font-size:35px;margin:0 0 30px;text-transform:uppercase;}
.ps-payouts_heading span{color:#54b2ff;}
@media (min-width:1024px){.ps-payouts_heading{font-size:54px;}
}
.ps-payouts p, .ps-payouts_p{color:#fff;font-family:'Lato', sans-serif;font-size:18px;font-weight:300;margin:0 0 10px;}
@media (min-width:1024px){.ps-payouts p, .ps-payouts_p{font-size:24px;}
}
@media (min-width:768px){.index-kd .nav-justified > li{vertical-align:middle;}
}
@media (min-width:0) and (max-width:1200px){.index-kd #nav .navbar-nav > li > a{font-size:16px;}
}
@media (min-width:0) and (max-width:1024px){.index-kd .container{max-width:inherit;width:auto;}
}
@media (min-width:0) and (max-width:1024px){.index-kd .sliderContainer{width:100%;max-width:100%;}
}
.ps-belmont_img,
.ps-pimlico_img{height:auto;width:100%;}
.ps-register{background-color:#c21515;color:#fff;padding:70px 0;text-align:center;}
.ps-register_content{display:inline-block;}
.ps-register_icon{display:block;margin:0 auto;margin-bottom:35px;}
@media (min-width:768px){.ps-register_icon{margin-bottom:20px;}
}
@media (min-width:1024px){.ps-register_icon{margin-bottom:35px;width:auto;}
}
.ps-register_heading{color:inherit;font-family:'Lato', sans-serif;font-size:35px;font-weight:700;line-height:1.1;margin:0 0 20px;text-transform:uppercase;}
@media (min-width:480px){.ps-register_heading{font-size:43px;}
}
@media (min-width:768px){.ps-register_heading{margin:0 0 10px;}
}
@media (min-width:1024px){.ps-register_heading{margin:0 0 20px;}
}
.ps-register_heading-2{color:inherit;font-family:'Lato', sans-serif;font-size:22px;font-weight:300;margin:0 0 42px;letter-spacing:2px;}
.ps-register_subheading{color:inherit;font-family:'Lato', sans-serif;font-size:18px;font-weight:700;margin:0 0 42px;}
@media (min-width:768px){.ps-register_subheading{font-size:18px;margin:0 0 20px;}
}
@media (min-width:1024px){.ps-register_subheading{font-size:24px;margin:0 0 20px;}
}
@media (min-width:1200px){.ps-register_subheading{margin:0 0 42px;}
}
.ps-register_btn{background-color:transparent;border-radius:15px;border:3px solid #fff;color:#fff;display:inline-block;font-family:'Lato', sans-serif;font-size:20px;font-weight:900;margin:0 auto;outline:none;padding:12px 20px;text-align:center;text-decoration:none;text-transform:uppercase;min-width:190px;transition:.2s;}
.ps-register_btn:focus, .ps-register_btn:hover{color:#fff;font-weight:900;text-decoration:none;}
.ps-register_btn:active{transform:scale(0.98);}
@media (min-width:768px){.ps-register_btn{font-size:18px;padding:8px 16px;}
}
@media (min-width:1024px){.ps-register_btn{font-size:20px;padding:12px 20px;}
}
