html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
[hidden],template{display:none;}
a{background:transparent;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:.67em 0;}
h3{font-size:22px !important; line-height:normal  !important;}
small{font-size:80%;}
img{border:0;}
svg:not(:root){overflow:hidden;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
b,strong,optgroup{font-weight:bold;}

.container { width:auto !important;}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { position: relative; min-height: 1px; padding-left: 20px; padding-right: 20px;}
.col-md-1 { width: 8.333333333333332%; }
.col-md-2 { width: 16.666666666666664%; }
.col-md-3 { width: 25%; }
.col-md-4 { width: 33.33333333333333%; }
.col-md-5 { width: 41.66666666666667%; }
.col-md-6 { width: 50%; }
.col-md-7 { width: 58.333333333333336%; }
.col-md-8 { width: 66.66666666666666%; }
.col-md-9 { width: 75%; }
.col-md-10 { width: 83.33333333333334%; }
.col-md-11 { width: 91.66666666666666%; }
.col-md-12 {  }

html, body {height: 100%;}
#wrap {min-height: 100%;}
#main {overflow:auto; padding-bottom: 40px;}  /* must be same height as the footer */

footer {position: relative; margin-top: -40px; /* negative value of footer height */ height: 40px; clear:both;} 
.copyright .container { padding:0 !important; }
/*Opera Fix*/ 
body:before { content:""; height:100%; float:left; width:0; margin-top:-32767px; }
