.logos { float:left; width:100%; margin-bottom:30px; text-align:center;  }
.logos.dark { background:#003158; color:#fff; padding:0 20px 20px; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;  }
.logos a { display:block; float:left; margin:30px 20px 0 0; }
.logos a img { display:block; margin:0 auto;  }

@media screen and (min-width: 0px) and (max-width: 480px) {
.logos.dark { padding-left:0; padding-right:0;  }
.logos a { display:inline-block; float:none; margin:30px 20px 0;}
}