@media only screen and (max-width: 800px) {
	
	/* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#no-more-tables tr { border: 1px solid #ccc;  margin-bottom: 5px;	}

	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:center;
		
	}

	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		/*top: 6px; */
		/*left: 6px; */
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:center;
		font-weight: bold;
		content: '';
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		background:/* #f4f4f4*/#1571BA !important;
		color: #ffffff; 
		
		
	}

	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); padding: 5px 5px !important; }
	#no-more-tables table{ border: none !important; }
	

}
	.table-bordered > thead > tr th { background:/* #f4f4f4*/#1571BA !important; border: 1px solid #ccc; border-right:0; border-top:0; border-bottom:0;color:#fff; text-align:center; }
	
	 #sortTable th{cursor: pointer}