.pps-track-date-header,.pps-track-menu-header{
    width:100%;
    float: left;
}
 
 .pps-track-date-box,.pps-track-menu-box{
            margin: 0 0 2%;
            width: 31%;
            border-radius: 10px;
            float: left;
            padding: 0;
            font-weight: normal;
            position: relative;
            box-sizing: border-box;
            padding: 8px;
            min-height: 150px;
            background: #fff;
            border: 2px solid #3574ba;
            text-align: center;
            display: block;
        }
.pps-track-date-text,.pps-track-menu-text{
    display: inline-block;

}
.date-box-selected,.pps-track-menu-box:hover{
    background:#428bca;
    color:white;
}
/* Race */
.pps-race-header{
    width:100%;
    float: left;
}

 .pps-race-box{
            margin: 0 0 2%;
            width: 100%;
            border-radius: 10px;
            float: left;
            padding: 0;
            font-weight: normal;
            position: relative;
            box-sizing: border-box;
            padding: 8px;
            background: #fff;
            border: 2px solid #3574ba;
            text-align: center;
            display: block;
        }
.pps-race-text-header{
    display: inline-block;
    float:left;
    font-weight: bold;
    font-size:20px;
    width: 15%;
    color: #428bca;
}
.pps-race-text{
    display: inline-block;
    text-align:left; 
}
.pps-race-track-header{
    float: right;
    display: inline-block;
    margin: 10px;
    background: #428bca;
    color:white;
    font-weight: bold;
    font-size:20px;
    width:70%;
        border: 2px solid #3574ba;
}
.pps-race-text-body{
    width: 75%;
    float: left;
}
.pps-race-back{
    float: left;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    font-size:20px;
    width:20%;
    border: 2px solid #3574ba;
}
.race-arrow {
    border: solid #428bca;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    padding: 10px;
    margin-top: 3%;
}
.race-right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.pps-race-text-header-date{
        font-size: 15px;
}
.pps-race-text-header-time{
        font-size: 14px;
}
.pps-race-text-body-header{
    display: inline-block;
    float: left;
    font-weight: bold;
    font-size: 20px;
    width: 75%;
    color: #428bca;
}

/* Horse */
.pps-horse-header{
    width:100%;
    float: left;
}

 .pps-horse-box{
            margin: 0 0 2%;
            width: 100%;
            border-radius: 10px;
            float: left;
            padding: 0;
            font-weight: normal;
            position: relative;
            box-sizing: border-box;
            padding: 8px;
            background: #fff;
            border: 2px solid #3574ba;
            text-align: center;
            display: block;
        }
.pps-horse-text-header{
    display: inline-block;
    float:left;
    font-weight: bold;
    font-size:20px;
    width: 25%;
    color: #428bca;
}
.pps-horse-text{
    margin: 0 0 2%;
    width: 100%;
    border-radius: 10px;
    float: left;
    padding: 0;
    font-weight: normal;
    position: relative;
    box-sizing: border-box;
    padding: 8px;
    background: #fff;
    border: 2px solid #3574ba;
    text-align: center;
    display: block;
}
.pps-horse-track-header{
    float: right;
    display: inline-block;
    margin: 10px;
    background: #428bca;
    color:white;
    font-weight: bold;
    font-size:20px;
    width:70%;
        border: 2px solid #3574ba;
}
.pps-horse-text-body{
    width: 75%;
    float: left;
}
.pps-horse-back{
    float: left;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    font-size:20px;
    width:20%;
    border: 2px solid #3574ba;
}
.pps-horse-text-header-name{
        font-size: 15px;
}
.pps-horse-text-body-header{
    display: inline-block;
    float: left;
    font-weight: bold;
    font-size: 20px;
    width: 75%;
    color: #428bca;
}
.pps-horse-text-header-text{
    margin: 0 0 2% 30%;
    width: 40%;
    border-radius: 10px;
    float: left;
    position: relative;
    box-sizing: border-box;
    padding: 8px;
    background: #e51a00;
    border: 2px solid #3574ba;
    text-align: center;
    display: block; 
    color: #000;
}
