/* TOOLTIP ========================================================================== */
.dogvdvhdr { width:300px; background:#003967;font-weight:bold; padding:10px; color:#FFFFFF; }
.dogvdvbdy { width:300px; background:#fff; border:4px solid #003967; border-top:0; color:#000; font-size:12px; padding:10px; }

.sItem { overflow:hidden; margin:0 0 30px; }
.sDay { float:left; overflow:hidden; background:#ddd; padding:10px 12px; font-family: "roboto condensed", arial, helvetica, sans-serif; font-weight: 700; font-size:17px; color:#000;} 
.sDay i { margin-right:6px; color:#000;  font-size:18px;}
.sEvents { clear:both;}
.sRace { float:left; background:#f4f4f4; display:block; padding:10px 12px; margin:5px 5px 0 0;}
.sRace:hover, .sRace.in { background:#ddd; cursor:pointer;}
.sRace:first-child { padding-left:16px; }
.sRace:hover .time, .sRace.in .time  { background:#c71f24; }
.sRace .time { padding:3px 5px; font-size:11px; background:#1571BA; color:#fff; margin:0 8px 0 0; position:relative; top:-1px;  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.sRace:active { background:#eee;}

/* Tooltip Styles */
.tooltip { z-index:6500 !important;}
.tsHeader { position:relative; background:#ddd; color:#000; padding:5px; margin-bottom:5px; font-size:17px; line-height:1.2em; font-family: "roboto condensed", arial, helvetica, sans-serif; font-weight: 700; }
.tsBody { text-align:left; padding:8px; line-height:normal; font-size:14px; }
.tsBody strong, .tsBody b { color:#000; margin-right:5px; }
.tsBody br:last-of-type { display:none;}
button.close { cursor:pointer; z-index:1031; position:absolute; top:5px; right:5px; color:#444; text-align:center; opacity:.9; border:1px solid #ccc !important;  -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius:50%; width:20px; line-height:18px; height:20px; text-shadow:none; }
button.close:hover { color:#c71f24; opacity:1;  border-color:#bbb !important;}
button.close:active { color:#000; }
@media screen and (min-width: 0px) and (max-width: 640px) {
.sItem { width:100%; }
.sDay {float:none; }
.sRace { float:none; border-right:0; border-top:1px solid #fff; border-bottom:0; }
.sRace:first-child { padding-left:12px; }
}


