/* CSS Document */
.dogvdvhdr { width:300px; background:#c4171a; border:1px solid #c4171a; border-bottom:0; font-weight:bold; padding:10px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#FFFFFF; }
.dogvdvbdy { width:300px; background:#FFFFFF;  color:#363636; font-family:Arial, Helvetica, sans-serif; font-size:11px; padding:10px; 
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.4);
	box-shadow: 0 2px 4px rgba(0,0,0,0.4); 
	}
  
