{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
            

      <h2 class="title">Support</h2>
  



    <ul class="menu"><li class="leaf first"><a href="/support" title="">CONTACT US</a></li>
<li><a href="/support/banking-deposits" title="">BANKING DEPOSITS</a></li>
<li><a href="/support/banking-withdrawls" title="">BANKING WITHDRAWLS</a></li>
<li><a href="/support/gamingknowledgebase" title="">GAMING KNOWLEDGEBASE</a></li>
<li class="expanded"><a href="/house-rules" title="">RULES</a><ul class="menu"><li class="leaf first"><a href="/house-rules" title="">HOUSE RULES</a></li>
<li><a href="/horseracing/bettinglimits" title="">HORSE RACING RULES</a></li>
<li><a href="/rules/casinogamerules" title="">CASINO RULES</a></li>
<li><a href="/howto/betonsports" title="">SPORTS BETTING RULES</a></li>
</ul></li>
<li><a href="/horseracing-affiliate-program" title="">WEBMASTERS</a></li>
<li><a href="/responsibilities" title="">RESPONSIBLE GAMING</a></li>
</ul>

          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>Horse Racing Rules</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<link type="text/css" rel="stylesheet" media="all" href="/modules/allhorseracing/tabs/tools.tabs-general.css" />
{literal}<script type="text/javascript" src="/modules/allhorseracing/tabs/tools.tabs-1.0.4.min.js"></script>{/literal}
{literal}<script type="text/javascript" src="/smarty-include/js/swfobject.js"></script>{/literal}



<div id="basic-tabs">
		<ul class="tabs">
<!-- ===================== TABS ============================ -->
		<li class="first"><a href="#">BLACKJACK</a></li>
		<li class=""><a href="#">BLACKJACK 7s</a></li>
		<li class=""><a href="#">SPANISH BLACKJACK</a></li>
		<li class=""><a href="#">BLACKJACK SWITCH</a></li>
		<li class=""><a href="#">ROULETTE - AMERICAN</a></li>
		</ul>
</div> 
<!-- ============= END TABS ==================================================== -->

<div class="panes">

<!-- ======== ALL TABS CONTENT AREA  ==================================================== -->


<!-- ======== NEW TAB  CONTENTS ======================================== -->

<div class="basic-tabs-content"><!-- Pane -->


1st Tab from the Tab list. Replace This Line with content here


</div><!-- End Pane -->

<!-- ======== END TAB CONTENTS ========================================== -->



<!-- ======== NEW TAB  CONTENTS ======================================== -->

<div class="basic-tabs-content"><!-- Pane -->


2nd Tab from the list. Replace This Line with content here


</div><!-- End Pane -->

<!-- ======== END TAB CONTENTS ========================================== -->



<!-- ======== END ALL TABS CONTENT AREA ========================================================= -->

<!-- ======== DO NOT EDIT BELOW HERE ============================================================ -->
</div><!-- End Panes -->	

{literal}<script type="text/javascript">
<!--//--><![CDATA[//><!--
    $(function() {
      // setup ul.tabs to work as tabs for each div directly under div.panes
      $("#basic-tabs ul.tabs").tabs("div.panes > div");
    });
//--><!]]>
</script>{/literal}        
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    