
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>testing</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<link type="text/css" rel="stylesheet" media="all" href="/modules/allhorseracing/tabs/tools.tabs-general.css" />
{literal}<script type="text/javascript" src="/modules/allhorseracing/tabs/tools.tabs-1.0.4.min.js"></script>{/literal}
{literal}<script type="text/javascript" src="/smarty-include/js/swfobject.js"></script>{/literal}
<div>
<div style="padding-top: 20px;" id="flashmovie1">bettingTutorials Flash Movie not loaded</div>

{literal}<script type="text/javascript">		
var so = new SWFObject("http://www.usracing.com/flash/bettingTutorial.swf", "bettingTutorial", "665", "379", "8", "#FFFFFF"); 
  so.addParam("allowscriptaccess","always"); so.useExpressInstall("http://www.usracing.com/flash/expressinstall.swf"); 
  so.write("flashmovie1");	
</script>{/literal}

<br />

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    