body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	text-decoration: none;
	color: #0958A6;
}
a:visited {
	text-decoration: none;
	color: #0958A6;
}
a:hover {
	text-decoration: underline;
	color: #FFB500;
}
a:active {
	text-decoration: none;
	color: #0958A6;
}
.mediumtext {
	font-size: 11px;
}
.smalltext {
	font-size: 10px;
}

.mediumwhitetext {
	font-size: 11px;
	color: #ECEDEC;
}
a.menu {  
	color: #FFFFFF; 
	text-decoration: none
}
a.menu:hover {  
	color: #FFB500; 
	text-decoration: none
}
a.menu:active {  
	color: #FFFFFF; 
	text-decoration: none
}

.titletext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}


