


<!-- end: #col1 -->
      
      

<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">



                                      
          
<div class="headline"><h1>Triple Crown Trail</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div style="padding-top: 10px;">
{include file='includes/ahr_triplecrown_trail.tpl'}
</div>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      

