.maincontentHead {
	FONT-SIZE: 13px; FONT-FAMILY: arial, helvetica; TEXT-DECORATION: none; 
}
.maincontent {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR:#FFFFFF;
 }
.maincontent A{
	FONT-SIZE: 12px; COLOR: #A60000;  TEXT-DECORATION: none; 
 }
 .maincontent A:HOVER{
    TEXT-DECORATION: underline; COLOR: #1B1BFF;
}
.maincontent2 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR:#FFFFFF;
 }
.maincontent2 A{
	FONT-SIZE: 12px; COLOR: #A60000;  TEXT-DECORATION: none; 
 }
 .maincontent2 A:HOVER{
    TEXT-DECORATION: underline; COLOR: #1B1BFF;
}
.cell {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR:#D9D9D9;
 }
.cell A{
	FONT-SIZE: 12px; COLOR: #000000;  TEXT-DECORATION: none; 
 }
 .cell A:HOVER{
    TEXT-DECORATION: underline; COLOR: #1B1BFF;
}
.title {
	FONT-SIZE: 15px; COLOR: #780000;
 }
.big {
	FONT-SIZE: 15px;
 }
 .spacer {
	FONT-SIZE: 2px;
 }
A.BLACK {color: #000000; text-decoration: none}
A.WHITE {color: #FFFFFF;text-decoration: none}
A.YELLOW {color: #FFFFS0;text-decoration: none}
A.FREE  {color: #000000;}
A.BLACKU  {color: #000000;}
A.red  {color: #FF0000; text-decoration:none}
A.red:Hover  {text-decoration:underline}
P.meat  {    position: absolute;
top: -45;
visibility: hidden;
z-index: -10;
font-size: 3px
}


.loginMain {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial, helvetica;
 }
 
.topyellow {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial, helvetica; BACKGROUND-COLOR: #FBC553;
 }
 .topyellow A{
	TEXT-DECORATION: none; COLOR: #000000; 
 }
 .topblack {
	FONT-SIZE: 10px; COLOR: #FFFFFF; FONT-FAMILY: verdana,arial, helvetica; BACKGROUND-COLOR:#000000;
 }
  .topblack A{
	 COLOR: #FFFFFF; TEXT-DECORATION: none;
 }
 
 
  .topLog {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, helvetica; BACKGROUND-COLOR:#CCCCCC;
 }
   .topLog2 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, helvetica; BACKGROUND-COLOR:#FFFFFF;
 }
  .topLog A{
	 COLOR: #000000; TEXT-DECORATION: none;
 }
 
 
  .leftBlack {
	FONT-SIZE: 10px; COLOR: #FFFFFF; FONT-FAMILY: verdana,arial, helvetica; BACKGROUND-COLOR:#000000;
 }
 
   .leftData {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: arial, helvetica; BACKGROUND-COLOR:#FCECAC;
 }
    .leftData A{
	 COLOR: #000000; TEXT-DECORATION: none; BACKGROUND-COLOR:#FCECAC;
 }
 
 .text2 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, helvetica;
 }
 
 
 .quicklinks {
	FONT-SIZE: 10px; COLOR: #FFFFFF; FONT-FAMILY:  verdana, arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR:#666666;
}
 .quicklinks A{
	FONT-SIZE: 10px; COLOR: #FFFFFF; FONT-FAMILY:  verdana, arial, helvetica; TEXT-DECORATION: none; 
}
 .quicklinks A:HOVER{
	 COLOR: #FFCC33; TEXT-DECORATION: none; 
}


.rightSide {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY:  arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR:#FCECAC;
}


.rightData {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY:  arial, helvetica;  BACKGROUND-COLOR:#FFFFFF;
}
.rightData A{
	COLOR: #000000; TEXT-DECORATION: none;
}

.rightData2 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY:  arial, helvetica;  BACKGROUND-COLOR:#FFFFFF;
}
.rightData2 A{
	FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none;
}
.red{
	COLOR: #780000; TEXT-DECORATION: none;
}