/*a#ol, a#or:hover{
	padding: 0;
	margin: 0;
}*/
// @media (min-width: 480px) {
	/*.collapse.in { display: block; }*/

	// .login.collapse.phone-responsive-collapse{ display: none; }
// }

// .collapse.in { display: block; }

.login{
	overflow: hidden;
}
@media (max-width: 767px){
	.login{
		display: block;
	}
	.login.collapse.phone-responsive-collapse{
		display: none;
	}
	.login.collapse.phone-responsive-collapse.in{
		display: block;
	}
}
@media (min-width: 481px){
	.phone-responsive-collapse{
		display: none !important;
	}
}
.login-responsive-collapse{
	display: none;
	visibility: hidden;
}
.phone-responsive-collapse{
	overflow: hidden;
	clear: both;
	@media (min-width: 768px){
		display: none;
	}
}