
.maincontent {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, helvetica; TEXT-DECORATION: none; 
}

.mainLink {
	FONT-SIZE: 12px; COLOR: #930707; FONT-FAMILY:  tahoma, arial, helvetica; TEXT-DECORATION: none;
}

A.mainLink:hover {
	COLOR: #0B0B87; TEXT-DECORATION: underline;
}
.BLACK {color: #000000; text-decoration: none}
.WHITE {color: #FFFFFF;text-decoration: none}
.YELLOW {color: #FFFFS0;text-decoration: none
}
.FREE  {color: #000000;}
.BLACKU  {color: #000000;}
.red {color:#FF0000; text-decoration:none; font-weight:bolder;}


.leftMenu {
	FONT-SIZE: 12px; COLOR: #363636; FONT-FAMILY:  tahoma, arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR: #D5D5D5;
}
.leftMenu2 A {
	FONT-SIZE: 13px;
}
.leftMenu A {
	FONT-SIZE: 12px; COLOR: #001478; FONT-FAMILY:  tahoma, arial, helvetica; TEXT-DECORATION: none;
}
.leftMenu A:hover {
	COLOR: #780000; TEXT-DECORATION: underline;
}
.leftMenuHead {
	FONT-SIZE: 12px; COLOR: #363636; FONT-FAMILY:  tahoma, arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR: #FFDC00;
}

.dropDown {
	FONT-SIZE: 12px; COLOR: #FFFFFF; FONT-FAMILY:  tahoma, arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR: #000000;
}
.bold {
	FONT-WEIGHT: bolder; 
}
.bottom {
	FONT-SIZE: 12px; COLOR: #FFFFFF; FONT-FAMILY:  tahoma, arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR: #121636;
}
.bottom A {
	 COLOR: #FFEA00; TEXT-DECORATION: none;
}

.login {
	FONT-SIZE: 12px; COLOR: #FFFFFF; FONT-FAMILY:  tahoma, arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR: #000000;
}

.login A {
	 COLOR: #FFEA00; TEXT-DECORATION: none;
}

.big {
	FONT-SIZE: 17px;
}
.rules {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica; TEXT-DECORATION: none; 
}
.rules A {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica; TEXT-DECORATION: none; 
}
.rules A:HOVER {
	 COLOR: #780000; TEXT-DECORATION: underline; 
}
.subtitle1 {
	FONT-SIZE: 15px; COLOR: #a60000; FONT-FAMILY: verdana, arial, helvetica; TEXT-DECORATION: none; 
}
.mainLink2 {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none;
}

.rowHead {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR: #FFE400;
}
.rowOne {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR: #cccccc;
}
.rowTwo {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR: #eeeeee;
}
.rowThree {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR: #C4E0EF;
}
.bank {
	FONT-SIZE: 12px; COLOR: #0000000; FONT-FAMILY:  tahoma, arial, helvetica; TEXT-DECORATION: none; BACKGROUND-COLOR: #ffffff;
}

.bank A {
	 COLOR: #085087; TEXT-DECORATION: none;
}


.loginWhite {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY:  tahoma, arial, helvetica; TEXT-DECORATION: none;
}

.loginWhite A {
	 COLOR: #a60000; TEXT-DECORATION: none;
}
.big2 {
	FONT-SIZE: 17px; color:#024D5C;
}