


/* iframe */
body {
	cursor: default;
	background-color: #000000;
	margin:0;
	padding:0;
}
body iframe {  }


#frame { display: block;  }

#navigation {
	clear:both;
	display: block;
	margin-left:15px;
	margin-right:15px;
	padding:35px 0 0 0;
	height:230px;
	cursor: default;
}

/* photo must be inline for the margins to work in IE6, so we require a block wrapper for horizontal centering */
#photo {
	width: 200px;
	height: 230px;
	margin: 0 0;
	display: inline;
	
}



#sliderparent
{
width:380px;
left:50%;
margin-left:-190px;
position:relative;
}
#gameinfocontainer
{
/* border: 2px solid #033E76; */
width:204px;
height:50px;
left:50%;
margin-left:-100px;
position:relative;
margin-top:30px;
}
#gameinfo
{
background-image:url(/modules/allhorseracing/casino/gamename_bg.png);
height: 23px;
text-align:center;
color:#ffffff;
font-family: 'Helvetica', Arial, Trebuchet MS, Trebuchet, sans-serif;
font-weight: bold;
font-size: 13px;
}
#gameinfo span
{
position: relative;
top: 5px;
}


#playmodes { 
background: #000;
line-height: 28px;
border-left: 2px solid #092f63;
border-right: 2px solid #092f63;
border-bottom: 2px solid #092f63; }

#playmodes, #playmodes a {
color:#ffffff;
text-align:center;
font-family: 'Helvetica', Arial, Trebuchet MS, Trebuchet, sans-serif;
font-size: 10px;
text-decoration: none;
}
#playmodes a:hover {
text-decoration: underline;
}

#playmodes a.playmode-disabled, #playmodes a.playmode-disabled:hover { color: #666; text-decoration: none; cursor: default; }

/* iframe */


h1 {
	font-family: 'Helvetica', Arial, Trebuchet MS, Trebuchet, sans-serif;
	color: #333333;
	font-size: 18px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin: 5px 0;
}

h2 {
	font-family: 'Helvetica', Arial, Trebuchet MS, Trebuchet, sans-serif;
	color: #666666;
	font-size: 10px;
	text-align: center;
	margin: 8px 0;
}

h2 a {
	color: #666666;
}

#footer {
	padding: 8px;
	text-align: right;
}

#footer a {
        font-family: 'Helvetica', Arial, Trebuchet MS, Trebuchet, sans-serif;
        color: #666666;
        font-size: 10px;
}


#wrapper {
	margin: 0px auto;
	display: block;
	width: 100%;
	min-height: 410px;
}


.slider {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	border:0;
}
.slider .sliderbutton {
	margin-top: 0 !important;
}

#sl0base {
	background: url(/modules/allhorseracing/slideflow/images/slideflowslider-bg.gif) no-repeat;
	margin-left: auto;
	margin-right: auto;
}

#sl0slider {
	background: url(/modules/allhorseracing/slideflow/images/seekslider.gif) no-repeat;
	margin-top: 6px;
	float :left;
	cursor: default;
}

#sl0slider:hover, #sl0slider.hover {
	background: url(/modules/allhorseracing/slideflow/images/seekslider-hover.gif) no-repeat;
}

