/* HOME ========================================================================== */
.front .container { padding:0 25px;}
.front .navbar-header .navbar-left { display:none;}
.front #left-menu { display:none; }
.front #left-menu-btn { display:none; }

/* Divider Bar */
.dividerBar { background:#003967; color:#fff; text-align:center; position:reative; height:56px; vertical-align:middle; z-index:100; width:100%; border-top:1px solid #16507E;  }
.dividerBar .container { position:relative;}
.dividerBar i.icon { position:absolute; left:30px;  background:url('../../img/circlepointer.png') 0 0; padding-right:5px; width:50px; height:43px; display:block; float:left; text-align:center; font-size:21px; font-weight:normal; line-height:42px; top:6px; margin-left:10px; }
.dividerBar h3 { font-weight:normal; font-family: 'roboto_condensedbold'; padding:0; line-height:55px; font-size:28px; margin:0; width:auto;  }
.dividerBar i.fa-film { line-height:44px; }
.dividerBar .btn { position:absolute; right:30px; top:8px; text-align:center; font-size:110%; padding:6px 12px; }
.dividerBar .btn i { padding-left:6px; color:#fff; font-size:18px; }
.dividerBar .info { border:0; padding:0; width:auto; position:absolute; left:100px; font-size:12px; opacity:.8; line-height:normal; height:56px;}
.dividerBar table, .dividerBar tbody, .dividerBar td { border:0; }


/* SLIDER --*/
#main-slider { width: 100%; max-width: 1920px; max-height:600px; color: #000; font-weight: normal; }
#main-slider .rsContent { color: #000; font-size: 24px; line-height: 32px; float: left;  width:100%;}
#main-slider .infoBlock { position: absolute; left: 0; width: 100%; height: auto; top: 100px; color:white;}
#main-slider .infoBlock span {transition:all .4s; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);}
#main-slider .headlineLrg { font-family: 'roboto_condensedbold'; font-size: 90px; line-height: 100px; font-weight: normal; }
#main-slider .headlineMed { font-family: 'open_sansregular'; font-size: 30px; line-height: normal; font-weight: normal;}
#main-slider .headlineSml { font-family: 'open_sansregular'; font-size: 225px; line-height: normal; font-weight: normal;}
#main-slider .colorAlt { color:#fff; opacity:.5 !important;}
#main-slider .rsABlock { position: relative; display: block; left: auto; top: auto; }
#main-slider .txtCent { text-align: center; left:auto; right:auto; width: 100%; }
#main-slider .txtRight { text-align: right; right:7%; float: right; oveflow:hidden; }
#main-slider .txtLeft { text-align: left; left:7%; float: left; oveflow:hidden; }
#main-slider .btn { font-family: 'open_sanssemibold'; clear:both; display:inline-block; width:auto; position:relative; margin-top:20px; padding:12px 25px; -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2); -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2); box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);  overflow:hidden; line-height:normal; font-size:26px;  } 
#main-slider .btn i { background:url('../../img/circlepointer.png') -13px -100px no-repeat; float:left; overflow:hidden; margin:0 5px 0 -5px; padding:0 0 0 12px; width:50px; height:33px; display:block; text-align:left; font-size:15px; font-weight:normal; line-height:normal; top:0; text-shadow: none;}
#main-slider .btn:active { top:1px; }

/* FEATURED Slider --*/
#featured { width: 100%; }
#featured .rsThumbs { min-width: 57px; max-width:70px;  max-height:100%; adding: 0; float:left; right:auto; left:0; background:#111; overflow:visible;}
#featured .rsThumbs .rsThumb { position: relative; width: 100%; min-height: 57px; max-height:90px;  border-bottom: 1px solid #222; text-align:center; vertical-align:middle; padding:0;  }
#featured .rsThumb:hover { background: #1571BA; }
#featured .rsThumb.rsNavSelected { background-color: #1571BA; border-bottom-color: #1571BA; overflow:visible;}
#featured .rsThumbs .rsThumb.rsNavSelected:after, #featured .rsThumbs .rsThumb.rsNavSelected:before { left: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } #featured .rsThumbs .rsThumb.rsNavSelected:after { border-color: rgba(37, 37, 37, 0); border-left-color: #1571BA; border-width: 10px; margin-top: -10px; }
#featured .rsThumbs .rsThumb.rsNavSelected:before { border-color: rgba(37, 37, 37, 0); border-left-color: #1571BA; border-width: 11px; margin-top: -11px; }
#featured .rsTmb { padding: 20px; }
#featured .rsTmb span { font-size:22px; font-weight:normal; line-height:normal;}
#featured .rsOverflow { float:right; }
#featured .rsThumbsArrow {background: rgba(0,113,186,1); }
#featured .rsThumbsArrow.rsThumbsArrowLeft { border-bottom: 1px solid #222;}
#featured .rsThumbsArrow.rsThumbsArrowRight {border-top: 1px solid #222; }

/* Service Blocks*/
.service { margin-bottom: 30px; padding: 0; }
.service .desc { padding: 0 10px; }
.service .headline { text-align:center; }
.service h2 { color:#000; margin-top:0; padding-bottom:12px; }
.service h2 i { display:inline; text-align: left; color: #c11f24; font-size: 26px; font-weight:normal; padding: 0 6px 0 0; margin:0; top:2px; position:relative;}
.service h2 i.fa-desktop { font-size: 25px;}
.service h2 i.fa-shield { font-size: 28px; top:3px;}
.service h2 i.glyphicon-edit {  font-size: 27px; }
.service .content {  height:220px; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; transition:all 0.3s; padding-bottom:20px;  }
.service .thumbnail { }
.service .btn {  display:block; font-size:18px; position:relative;}
.service .btn i { position:absolute; right:15px; top:12px; font-size:20px}

/* Upcoming Races and Graded Stakes */
.front .upcomingRaces .headline { margin-top:0; }

.row.home-bottom .content { min-height:450px; -webkit-transition: all 0.4s linear; -moz-transition: all 0.4s linear;  -o-transition: all 0.4s linear;  -khtml-transition: all 0.4s linear; transition: all 0.4s linear; padding-bottom:0; }
.row.home-bottom .blockfooter { margin-top:20px; }

/* RESPONSIVE --*/
@media (max-width: 1920px) {
#main-slider .rsOverflow,   #main-slider { height:500px !important; max-height: 500px !important; max-width:1920px;}
#main-slider .btn i { background-position: 0 -50px; height:39px; font-size:18px; line-height:39px; top:2px;}
#main-slider .txtRight { right:18%; left:auto;}
#main-slider .txtLeft { left:18%; right:auto; }
#main-slider .headlineLrg { font-size: 85px; line-height: 100px;  }
#main-slider .headlineMed { font-size: 40px;  }
#main-slider .headlineSml { font-size: 23px;  }

.service .content { height:130px; }
.row.home-bottom .content { min-height:480px; }
}
@media (max-width: 1600px) {
#main-slider .txtRight { right:15%; left:auto;}
#main-slider .txtLeft { left:15%; right:auto; }
.service .content { height:160px; }
.row.home-bottom .content { min-height:480px; }
}
@media (max-width: 1440px) {
#main-slider .infoBlock {top: 100px; }
#main-slider .txtRight { right:12%; left:auto;}
#main-slider .txtLeft { left:12%; right:auto; }
.service .desc { padding: 0; } 
.service .content { height:170px; }
.row.home-bottom .content { min-height:460px; }
}
@media (max-width: 1200px) {
#main-slider .rsOverflow,   #main-slider { width:auto; height:500px !important; max-height: 500px !important; max-width:1920px; }
#main-slider .infoBlock {top: 90px; }
#main-slider .txtRight { right:8%; left:auto;}
#main-slider .txtLeft { left:8%; right:auto; }
.service .desc { padding: 0; } 
.service .desc h2 { }
.service .content { height:210px; }
.service h2 i { font-size: 24px;  padding: 0 5px 0 0;  top:2px; }
.service h2 i.fa-desktop { font-size: 24px;}
.service h2 i.fa-shield { font-size: 27px; top:2px;}
.service h2 i.glyphicon-edit {  font-size: 26px; }
.row.home-bottom .content { min-height:450px; }
}
@media (max-width: 1024px) {
.row.home-bottom .content { min-height:500px; }
}
@media (max-width: 970px) {
#main-slider .rsOverflow,   #main-slider { height: 480px !important; max-height: 480px !important; width:970px;  }
#main-slider .infoBlock { top:110px;}
#main-slider .headlineLrg { font-size: 75px; line-height: 80px; }
#main-slider .headlineMed { font-size: 36px;}
#main-slider .headlineSml { font-size: 21px;}
#main-slider .txtRight { text-align:right; right:5%; left:auto; width:70%;  }
#main-slider .txtLeft { text-align:left; left:5%; right:auto; width:70%; }
#main-slider .btn { max-width:none; width:auto; }  
.dividerBar { width:970px;}
.service .content { height:220px; }
.row.home-bottom .content { min-height:500px; }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
.front .container { width:100% !important; max-width:inherit !important; margin:0 auto 20px; padding:0; }
.sliderContainer { margin-bottom:0; width:100%;}
#main-slider .rsOverflow,   #main-slider {  height: 320px !important; max-height: 400px !important; width:auto;  max-width:800px; }
/*#main-slider .rsImg  {  height: auto !important; max-height: 600px !important; max-width:1920px !important; }*/
#main-slider .infoBlock { top:40px; text-align:center; }
#main-slider .headlineLrg { font-size: 58px; line-height: normal; }
#main-slider .headlineMed { font-size: 27px; line-height: 30px;}
#main-slider .headlineSml { font-size: 15px;}
#main-slider .txtRight,  #main-slider .txtLeft, #main-slider .txtCenter  { text-align:center; right:auto; left:auto; margin:0 auto;  width:80%; float:none;}
#main-slider .btn { max-width:320px; margin:20px auto 0; height:auto; line-height: 38px; }
#main-slider .btn { font-size:24px;}

.service { margin-top:40px;}
.service .content { height:auto !important; margin-bottom:20px;}

.dividerBar { width:auto; display:block; width:100%; padding:10px 20px 10px 0; }
.dividerBar .container { padding:0; display:table; vertical-align:middle; }
.dividerBar .btn i { padding-left:0; }
.dividerBar i.icon, .dividerBar .info { display:none; padding-left:6px; }
.dividerBar .btn.visible-xs { right:auto; top:auto; position:relative; display:table-cell !important;  padding:0;  width:10%; vertical-align:middle;  }
.dividerBar h3 { width:90%; margin:0 auto;  line-height:33px; display:table-cell; vertical-align:middle; }

#featured .rsTmb { padding:12px;}
#featured .rsThumbs .rsThumb { min-height:40px; max-height:50px;}
#featured .rsThumbs  { max-width:50px; min-width:40px;}
#featured { margin-bottom:30px; overflow:hidden;}
#featured .rsTmb h5 { font-size: 12px; }
#featured .rsThumbs.rsThumbsVer {  padding: 0; }
#featured .rsThumbs .rsThumb {  }
#featured .rsTmb span { font-size:16px; line-height:normal;}

.row.home-bottom .content { height:auto; min-height:inherit;}
.row.home-bottom .col-md-4 { margin-bottom:30px;}


}
@media screen and (min-width: 0px) and (max-width: 640px) {
#service { margin-bottom:0;}
}

@media screen and (min-width: 0px) and (max-width: 480px) {

#main-slider .headlineLrg { font-size: 52px;  }
#main-slider .headlineMed { font-size: 24px; line-height: normal;}
#main-slider .headlineSml { font-size: 20px; line-height: normal;}
#main-slider .btn i { padding-left:10px; line-height:36px;}
#main-slider .btn { font-size:21px; width:85%; max-width:300px;  margin:20px auto 0;}	
.rsDefault .rsArrow { z-index:36; display:none !important ;}
#main-slider .rsArrowIcn { top:auto; bottom:20px; }
.dividerBar h3 { font-size:20px;  }
}




