/* Open Sans Font */
@font-face { font-family: 'open_sansregular'; src: url('opensans-regular-webfont.eot'); src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('opensans-regular-webfont.woff') format('woff'),  url('opensans-regular-webfont.ttf') format('truetype'),  url('opensans-regular-webfont.svg#open_sansregular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'open_sansbold'; src: url('opensans-bold-webfont.eot'); src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),  url('opensans-bold-webfont.woff') format('woff'),  url('opensans-bold-webfont.ttf') format('truetype'),  url('opensans-bold-webfont.svg#open_sansbold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'open_sanssemibold'; src: url('opensans-semibold-webfont.eot'); src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),  url('opensans-semibold-webfont.woff') format('woff'),  url('opensans-semibold-webfont.ttf') format('truetype'),  url('opensans-semibold-webfont.svg#open_sanssemibold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'open_sansitalic'; src: url('opensans-italic-webfont.eot'); src: url('opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),  url('opensans-italic-webfont.woff') format('woff'),  url('opensans-italic-webfont.ttf') format('truetype'),  url('opensans-italic-webfont.svg#open_sansitalic') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'open_sansbold_italic'; src: url('opensans-bolditalic-webfont.eot'); src: url('opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),  url('opensans-bolditalic-webfont.woff') format('woff'),  url('opensans-bolditalic-webfont.ttf') format('truetype'),  url('opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'open_sanssemibold_italic'; src: url('opensans-semibolditalic-webfont.eot'); src: url('opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),  url('opensans-semibolditalic-webfont.woff') format('woff'),  url('opensans-semibolditalic-webfont.ttf') format('truetype'),  url('opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg'); font-weight: normal; font-style: normal; }

/* Roboto Condensed Font */
@font-face { font-family: 'roboto_condensedregular'; src: url('robotocondensed-regular-webfont.eot'); src: url('robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('robotocondensed-regular-webfont.woff') format('woff'),  url('robotocondensed-regular-webfont.ttf') format('truetype'),  url('robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'roboto_condensedbold'; src: url('robotocondensed-bold-webfont.eot'); src: url('robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),  url('robotocondensed-bold-webfont.woff') format('woff'),  url('robotocondensed-bold-webfont.ttf') format('truetype'),  url('robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg'); font-weight: normal; font-style: normal; }


/*Reset Styles
------------------------------------*/
body { color: #444; font-size: 16px; line-height: 1.6em; font-family: 'open_sansregular', sans-serif;}
p, li { line-height: 1.6em; }
p { margin-bottom:1.6em;}
a, a:focus, a:hover, a:active { outline: 0 !important; color: #1b5f95;  font-weight:normal; }
a:hover { color: #10558c; text-decoration: underline; }
a.read-more:hover { color:#10558c; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { line-height:normal; margin-bottom: 20px; text-shadow: none; font-weight: normal; font-family: 'roboto_condensedbold', sans-serif; }
h1 { font-size:42px; }
h2 { font-size: 33px;}
h2:first-of-type {  }
h3 { font-size: 26px;  }
h3:first-of-type { }
img.img-circle { border-radius: 50% !important; }
.text-justify p { text-align: justify; }
dt { margin:1em 0 .385em; line-height:1.6em;}
dd { line-height:1.6em;}
b, strong { font-weight:normal; font-family: 'open_sansbold'; }
b i, strong i { font-family: 'open_sansbold_italic'; }
em { font-family: 'open_sansitalic';}
ul li { list-style:square; margin-bottom:10px; padding-left:5px;  }
i { font-family: 'open_sansitalic'; }

/* GLOBAL ==================================================================== */
.container { margin:0 auto;  max-width: 1920px; height:auto; padding:0 25px 0 40px;}
.no-left-menu .container { padding:0 25px; }
#top .container { padding:0 15px;}

/*Block Headline*/
.headline { display: block; position:relative; margin: 0 0 25px 0; border-bottom: 1px solid #DCE0E3; }
.headline h1, .headline h2, .headline h3, .headline h4 { color: #000;  margin: 0 0 -3px 0; padding-bottom: 12px; line-height:1.1em; display: inline-block; border-bottom:4px solid #c11f24; }
.headline h1 a, .headline h1 a:hover, .headline h1 a:link, .headline h1 a:visited { color: #000; font-family: 'roboto_condensedbold', sans-serif; font-weight:normal;}
.headline i { margin-right:1px; color:#c11f24; }
.headline h2 i { font-size:32px; }

.hFont {font-family: 'roboto_condensedregular'; }
.hFontL {font-family: 'roboto_condensedregular'; }

/*Others (Global classes)
------------------------------------*/
.lft-img-margin { margin:0 20px 5px 0; }
.rgt-img-margin { margin:0 0 5px 20px; }
.overflow-hidden { overflow:hidden; }
.img-border { border:solid 4px #fff; }

/*Spaces*/
.row { margin-left:auto; margin-right:auto;}
.margin-bottom-5, .margin-bottom-10, .margin-bottom-20, .margin-bottom-20, .margin-bottom-25, .margin-bottom-30, .margin-bottom-35, .margin-bottom-40, .margin-bottom-50, .margin-bottom-60 { clear:both; }
.margin-bottom-5 { margin-bottom:5px; } .margin-bottom-10 { margin-bottom:10px; } .margin-bottom-20 { margin-bottom:20px; } .margin-bottom-25 { margin-bottom:25px; } .margin-bottom-30 { margin-bottom:30px; } .margin-bottom-35 { margin-bottom:35px; } .margin-bottom-40 { margin-bottom:40px; } .margin-bottom-50 { margin-bottom:50px; } .margin-bottom-60 { margin-bottom:60px; } .margin-bottom-70 { margin-bottom:70px; } .margin-bottom-80 { margin-bottom:80px; }

/*Fancybox
------------------------------------*/
.fancybox-overlay.fancybox-overlay-fixed { z-index:8000; }

/*FancyBox Hover Effect*/
.overlay-zoom .zoom-icon, .overlay-zoom .play-icon { background-image:url("../../img/icons/overlay-icon.png"); background-color: #000; background-repeat: no-repeat; background-position: 50%; position: absolute; width: inherit; height: inherit; opacity: 0; z-index: 100; filter: alpha(opacity = 0); top:0; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; -webkit-transform: scale(0); -moz-transform: scale(0); -o-transform: scale(0); -ms-transform: scale(0); transform: scale(0); -webkit-backface-visibility: hidden; }
.zoomer:hover .overlay-zoom .zoom-icon, .zoomer:hover .overlay-zoom .play-icon { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); opacity:.5; filter: alpha(opacity = 50); }
.overlay-zoom { display: block; cursor: pointer; width: 100%; height: 100%; position: relative; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; -ms-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; z-index: 90; }
.overlay-zoom .play-icon { z-index:22; background-image:url("../../img/icons/overlay-icon-play.png"); opacity:1; background-color:transparent;  -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1);}



/* Button Styles ------------------------------------*/
.btn { font-family: 'open_sanssemibold'; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;  font-weight:400; cursor:pointer; padding:8px 12px;  line-height:normal; }
.btn:hover { cursor:pointer; }

.btn-default, a.read_more { background: #eaeaea; color:#444; border:0; }
.btn-default:hover, .btn-default:focus, a.read_more:hover { background: #dadada; }
.btn-default:active, .btn-default.active, .btn-default.active:hover, a.read_more:active { background-color: #dadada; border-color: #dadada; }
.btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active { background-color: #dadada; border-color: #dadada; }

.btn-info { background: #bbb; color:#fff; border:0; }
.btn-info:hover, .btn-info:focus { background: #aaa; border-color:#aaa; }
.btn-info:active, .btn-info.active, .btn-info.active:hover { background-color: #aaa; border:0; }
.btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active { background-color: #aaa; border:0; }

.btn-simple { background: none; color:#1571BA; border:1px solid #1571BA; }
.btn-simple:hover, .btn-simple:focus { background: #1571BA; color:#FFF; }
.btn-simple:active, .btn-simple.active, .btn-simple.active:hover { background-color: #1571BA; border-color: #1571BA; color:#fff; }
.btn-simple.disabled:hover, .btn-simple.disabled:focus, .btn-simple.disabled:active, .btn-simple.disabled.active { background-color: none; border-color: #1571BA; }

.btn-simple-white { background: none; color:#FFF; border:1px solid #3785C4; border-color:rgba(255,255,255,.2); -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow:none; }
.btn-simple-white:hover, .btn-simple-white:focus { background:#3785C4; background:rgba(255,255,255,.1); color:#FFF; }
.btn-simple-white:active, .btn-simple-white.active, .btn-simple-white.active:hover { background-color: none; border-color: #3785C4; border-color:rgba(255,255,255,.2); }
.btn-simple-white.disabled:hover, .btn-simple-white.disabled:focus, .btn-simple-white.disabled:active, .btn-simple-white.disabled.active { background-color: none; border-color: #3785C4; border-color:rgba(255,255,255,.2);}

.btn-primary { background: #1571BA;  color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.25); border:0; }
.btn-primary:hover, .btn-primary:focus { color: #fff; background: #10558c; text-decoration: none;}
.btn-primary:active, .btn-primary.active, .btn-primary.active:hover { background: #10558c; border-color: #10558c; }
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active { background: #10558c; border-color: #10558c; }

.btn-red { background: #c71f24;  color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.25); border:0; }
.btn-red:hover, .btn-red:focus { color: #fff; background: #a80f14; text-decoration: none;}
.btn-red:active, .btn-red.active, .btn-red.active:hover { background: #c71f24;  border:0; }
.btn-red.disabled:hover, .btn-red.disabled:focus, .btn-red.disabled:active, .btn-red.disabled.active { background: #c71f24;  border:0; }

.btn.btn-sm-x, a.read_more { font-size:11px; padding:3px 8px; }
a.read_more { font-family: 'open_sanssemibold'; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; }
a.read_more:hover { text-decoration:none; }
.btn i { padding:0 0 0 10px; font-size:16px; position:relative; top:1px;}
.btn i.left { padding:0 10px 0 0; }
.btn:active { position:relative; top:1px;}

/* Pager */
.pager li > a, .pager li > span { margin-bottom:10px; border:1px solid #CED8E0; color:#1571BA; -webkit-border-radius: 6px;  -moz-border-radius: 6px;  border-radius: 6px; }
.pager li > a:hover, .pager li > a:focus { border:1px solid #1571BA; background:#1571BA; color:#fff; }
.pager li.pager-current > span {  border:1px solid #1571BA; background:#1571BA; color:#fff;}




/* HEADER ==================================================================== */
#top { height:100px; padding-top: 0; background:#003967; width:100%; overflow:hidden; z-index:999; position:relative; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; -khtml-transition: all 0.4s ease-out;  transition: all 0.4s ease-out; }
#top.is_stuck { height:50px; position:fixed; width:100%; top:0; z-index:1000;  }
#top .container { position:relative; }
#top .logo { float:left; overflow:hidden; z-index: 2; position: relative; padding:0;  }
#top .logo img { padding:0;  width:auto; max-height:72px !important; margin:14px 0 0;}
#top .logo-sm { display:none; }
#top .logo-sm img { margin:8px 10px 0 0; }
#top.is_stuck .logo-lrg { display:none;}
#top.is_stuck .logo-sm { display:inline;}
#top.is_stuck .phone { display:none;}
#top .phone { font-family: 'roboto_condensedregular'; float:right; display:block; clear:right; margin-top:15px; color:#fff; padding:4px 12px; background:rgba(255,255,255, .1); -moz-border-radius: 4px; -webkit-border-radius: 4px;  -khtml-border-radius: 4px; border-radius: 4px;}
#top .phone .phCall { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70);  opacity:.7;}
#top .phone i { margin:2px 6px 0 0; font-size:15px; line-height:normal;  }
#top .phone:hover { cursor:default; background:rgba(255,255,255, .15);}
#top .phone .dull { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=90);  opacity:.9;}

/* Login Form ------------------------------------*/
.login { margin:10px 10px 0 0; float:right;  }
.login form { float:left; overflow:hidden;  }
.login .form-group { position:relative; margin-right:3px;}
.login .form-control { margin:0;}
.login input { height:30px; width:auto; padding:5px 52px 5px 5px; color:#6f7983; border:0; transition:width .2s; color:#000; }
.login input:focus, .login select:focus { outline:none;}
.login input#account { width:130px; }
.login input#account:focus { width:160px; }
.login input#pin { width:90px; }
.login input#pin:focus { width:120px; }
.login select { height:30px; color:#6f7983; width:110px; padding:5px; border:0; -webkit-appearance: none; appearance: none; -webkit-border-radius: 4px;  transition:all .1s; }
.login select.selected { color:#000; }
.login option { color:#000; }
.login option:first-child { color:#6f7983; }
.login .btn-info { padding:2px 4px; height:auto; font-size:10px; position:absolute; right:5px; top:5px; width:40px; text-align:center; color:white; }
#signupBtn, #loginButton, .loginToggle { height:auto;  padding:7px 12px; display:inline; margin-left:10px; line-height:normal;  border:0;}
#signupBtn { margin:10px 0 0 0; display:block;  }
#loginButton { margin-left:2px; color:#444; }
.login-header { float:right; }
.login-header .loginToggle { display:none;}
.login-header a i { display:none;}

/* Login Placeholder Text */
.login .form-control::-webkit-input-placeholder { color:#6f7983; opacity:1;}
.login .form-control::-moz-placeholder { color:#6f7983; opacity:1;} /* firefox 19+ */
.login .form-control:-ms-input-placeholder { color:#6f7983; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100);} /* ie */
.login input:-moz-placeholder { color:#6f7983; opacity:1;}
.login .form-control:focus::-webkit-input-placeholder { color:transparent; opacity:0;}
.login .form-control:focus::-moz-placeholder { color:transparent; opacity:0;} /* firefox 19+ */
.login .form-control:focus:-ms-input-placeholder { color:transparent; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=0);} /* ie */
.login input:focus:-moz-placeholder { color:transparent; opacity:0; }

select { padding:5px; margin: 0; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow: 0; -moz-box-shadow: 0; box-shadow: 0; background: #f8f8f8; border:none; outline:none; display: inline-block; -webkit-appearance:none; -moz-appearance:none; appearance:none; cursor:pointer; }

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) { select { padding-right:18px } }
.select-group { position:relative }
.select-group:after { font-family: 'FontAwesome'; content:"\f107";  border-left:1px solid #ccc; right:8px; top:5px; padding:0 0 0 7px; position:absolute; pointer-events:none; color:#1571ba;}
.select-group:before { content:''; right:5px; top:0px; width:20px; height:30px; background:#fff; position:absolute; pointer-events:none; display:block; }

/*form Required styles */
.required input, .required select, .required input:focus, .required select:focus  { height:34px; border:2px solid #c71f24;}
.required .forgot { top:7px;}
.select-group.required:after {border:0; border-left:1px solid #ffc8c8; color:#c71f24; }
.select-group.required:before { height:34px; border:0; border-top:2px solid #c71f24; border-bottom:2px solid #c71f24; }
.login .required input#account { width:132px; }
.login .required input#account:focus { width:162px; }
.login .required input#pin { width:92px; }
.login .required input#pin:focus { width:122px; }

/* NAV ------------------------------------*/
#nav { z-index:999; position:relative; width:100%; border-top:4px solid #012440; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; -khtml-transition: all 0.4s ease-out;  transition: all 0.4s ease-out; font-family: 'roboto_condensedregular'; }
#nav ul, #nav li { list-style:none; padding-left:0; margin-bottom:0; }
#nav.is_stuck { position:fixed; width:100%; top:50px;  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.3); -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3); box-shadow: 0 2px 5px rgba(0,0,0,0.3);}
#nav .navbar { height:50px; background:#1571ba;  margin: 0; min-height: inherit; -webkit-border-radius: 0;  -moz-border-radius: 0;  border-radius: 0; }
#nav .navbar .container {  padding:0; }
#nav .navbar-default { border: none; }
#nav .navbar-collapse { position: relative;}
#nav .navbar .nav > li {  border-right:1px solid #3785c4;}
#nav .nav-justified > li { float:none; width:auto; }
#nav .navbar-nav > li > a { display:block; color: #FFF; font-size:22px; font-weight:normal; padding: 0 20px; line-height:50px; }
#nav .navbar-nav > li > a.pad { padding:0 6px; }
.ie8 #nav .navbar-nav > li > a,  .ie9 #nav .navbar-default .navbar-nav > li > a {  font-size:22px; }
#nav .navbar-nav > .active > a { color: #FFF; }
#nav .navbar .nav > li > a i { color:#5497cd; font-size: 14px; position: absolute; bottom:3px; right:5px;  margin: 0 !important; }
#nav .navbar .nav > li:hover > a i { color:#fff; }

#nav .navbar-right .dropdown-menu { right: inherit; }
#nav .navbar .nav .dropdown-menu.right { right:0; }

/*Navber Toggle*/
.navbar-header { vertical-align:middle; padding: 0; line-height:50px;  height:50px; overflow:hidden; font-family: 'roboto_condensedregular'; height:50px; line-height:50px; vertical-align:middle; }
.navbar-header a, .navbar-header a:hover, .navbar-header a:focus { color:#fff; background: none !important; cursor:pointer; font-size: 18px; font-family: 'roboto_condensedbold';  font-weight:normal; text-decoration:none;}
.navbar-header a:hover, .navbar-header a:active, .navbar-header a:focus { filter:alpha(opacity=80); opacity:.8; }
.navbar-header a i {line-height:47px; }
.navbar-header .navbar-toggle { position:relative; border:0; float:right; margin:0 auto; text-align:center; padding:0; padding-right:15px; }
.navbar-header .navbar-toggle i { font-family: 'FontAwesome';  font-size:26px;  float:right; overflow:hidden; display:block;  position:relative;  vertical-align:top; padding-left:10px;   }
.navbar-header .navbar-toggle i.glyphicon { display:none; font-family: 'Glyphicons Halflings'; font-size:22px; top:-2px;   }
.navbar-header .navbar-home { padding-left:15px; }
.navbar-header .navbar-home i { font-size:26px; }
.navbar-header .navbar-left { float:left; overflow:hidden; position:relative; text-align:center; width:50px; height:50px; line-height:49px; }
.navbar-header .navbar-left i { display:block; line-height:49px; color:#fff; font-size:24px; }
.navbar-header .navbar-left i.glyphicon { display:none; font-size:22px; top:-2px; }

/* NAV RESPONSIVE ------------------------------------*/
@media (max-width: 1920px) {
#nav .navbar-default .navbar-nav > li > a { font-size:21px;} 
}
@media (max-width: 1200px) {
#nav .navbar-default .navbar-nav > li > a { font-size:19px;}
}
@media (max-width: 960px) {
#nav .navbar-default .navbar-nav > li > a { font-size:19px;}
#nav, #top { display:table; }
#nav .navbar-default .navbar-nav > li > a { }  
.ie8 #nav .navbar-default .navbar-nav > li > a,  .ie9 #nav .navbar-default .navbar-nav > li > a {   }
}
@media (max-width: 767px) {
#nav {  height:auto; display:block;}  
.navbar .container { padding:0;}
#nav .navbar-nav { margin:0;} 
#nav { clear:both; height:auto;}
#nav .navbar-collapse { border:0; border-top:1px solid #3785c4; padding:0; overflow:hidden; }
.container > .navbar-header, .container > .navbar-collapse { margin-left:auto; margin-right:auto;}
#nav .navbar-nav > .open > a, #nav .navbar-nav > .open > a:hover, #nav .navbar-nav > .open > a:focus { background:none; color:#fff; }
#nav .navbar-nav > li {  border-right:0; border-top:1px solid #3785c4;}
#nav .navbar-nav > li:first-child { border:0;}
#nav .navbar-default .navbar-nav > li > a {font-size:20px; line-height:40px;}
#nav .navbar .nav > li > a i { font-size: 28px; vertical-align:middle; position: absolute; top:auto; line-height:40px; bottom:auto; right:5px;  margin:0; }
#nav .navbar .nav > li > a i:before {  content: "\f105"; /*arrow right */}
.navbar-default .navbar-toggle, .topRight .login-toggle { display:block; }
.navbar-header, .login-header { display:block;}
#nav .open .dropdown-menu { min-width: 280px;  display:none; overflow:hidden; float:none; width:100%; height:auto; background:#fff; left:auto; top:auto; padding: 0; border: none; border-radius: 0; z-index: 9999 !important; margin-top: 0 !important; border: solid 4px #c71f24; border-top: 0; font-size:18px; }
#nav .navbar-default .navbar-nav > .open > a, #nav .navbar-default .navbar-nav > .open > a:hover, #nav .navbar-default .navbar-nav > .open > a:focus { background-color:#c71f24;}
#nav .open .dropdown-menu li  {  float:none; width:100%; overflow:hidden;}
#nav .open .dropdown-menu li a {  padding:10px 0;  text-align:center; border-bottom: 1px dotted #b3b8bb; }
#nav .open .dropdown-menu li a:hover { color:#000 !important; }
}
@media (min-width: 768px) {
/*Navbar Collapse*/
.navbar-header { display:none;}
#nav .navbar-collapse { padding: 0; }
#nav .navbar-nav { top: 0; position: relative; display:table; }
#nav .navbar-nav > li > a, #nav .navbar-nav > li > a:focus { color:#fff; }
#nav .navbar-nav > li > a:hover, #nav .navbar-nav > .active > a { color:#fff; }
#nav .navbar-nav > li > a, #nav .navbar-nav > li > a:focus, #nav .navbar-nav > .active > a, #nav .navbar-nav > .active > a:hover, #nav .navbar-nav > .active > a:focus { background: none; }
#nav .navbar-nav > li > a:hover, #nav .navbar-nav > .open > a, #nav .navbar-nav > .open > a:hover, #nav .navbar-nav > .open > a:focus { display:block; cursor:default; background-color:#c71f24;}
#nav .navbar-nav > li > a:link:hover, #nav .navbar-nav > .open > a:link, #nav .navbar-nav > .open > a:link:hover, #nav .navbar-nav > .open > a:link:focus {  cursor:pointer; }
/*Dropdown Menu*/
#nav .dropdown-menu { font-size:16px; background:#fff; left:auto; top:auto; padding: 0; border: none; min-width: 30px; border-radius: 0; z-index: 9999 !important; margin-top: 0 !important; border: solid 3px #c71f24; }
#nav .dropdown-menu li a { font-weight:normal; color: #556067;  padding: 8px 15px; border-top: 1px dotted #b3b8bb; }
#nav .dropdown-menu li:first-child a { border:0; }
#nav .dropdown-menu .active > a, #nav .dropdown-menu li > a:hover { color: #000; filter: none !important; background: #ebebeb !important; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
#nav .dropdown-menu li > a:focus { background: none; filter: none !important; }
#nav .navbar .nav > li > a i.glyphicon-home { font-size:22px; line-height:normal; top:4px; position:relative; }
}
@media (min-width: 970px) { #nav .dropdown-menu {  min-width:300px !important;} }
@media (min-width: 1200px) { #nav .dropdown-menu {  min-width:380px !important;} }
@media (min-width: 1440px) { #nav .dropdown-menu {  min-width:420px !important;} }
/* end/HEADER ==================================================================== */


/* CONTENT ==================================================================== */

#main { padding-top:40px; }
#main .content { clear:both; overflow:hidden;}
#right-col { padding-right:0;}
#left-nav { display:none; }
#left-nav-btn { float:left; width:1px; margin-top:40px; display:table; text-align:center; vertical-align:middle; -webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; -o-transition: all 1s ease-out; -khtml-transition: all 1s ease-out;  transition: all 1s ease-out;}
#left-nav-btn.is_stuck { position:fixed; top: 85px; }
#left-nav-btn a { position:relative; display:block; padding:7px 0 9px; background:#c71f24; color:#fff;  width:35px; height:auto; text-align:center; text-decoration:none; vertical-align:middle; /*Firefox*/
-moz-border-top-left-radius: 0px; -moz-border-top-right-radius: 6px; -moz-border-bottom-right-radius: 6px; -moz-border-bottom-left-radius: 0px; /*Safari, Chrome*/
-webkit-border-top-left-radius: 0px; -webkit-border-top-right-radius: 6px; -webkit-border-bottom-right-radius: 6px; -webkit-border-bottom-left-radius: 0px; /*Konqueror*/
-khtml-border-top-left-radius: 0px; -khtml-border-top-right-radius: 6px; -khtml-border-bottom-right-radius: 6px; -khtml-border-bottom-left-radius: 0px; border-top-left-radius: 0px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 0px;}
#left-nav-btn a span { font-size:13px; display:block; margin:27px auto 0; line-height:14px; word-wrap:break-word;  width:1em; height:auto; color:#fff; text-align:center;}
#left-nav-btn a span.exit { display:none; }
#left-nav-btn a.active { background:#c71f24;  }
#left-nav-btn a:hover { background:#c71f24;  }
#left-nav-btn i { font-size:22px; font-weight:normal; content: "\f105"; position:absolute; top:8px; left:8px;  }
#left-nav-btn i.glyphicon { display:none; font-size:22px; left:5px; }
#left-nav-btn a:hover i { left:10px;}
#left-nav-btn a.active:hover i { top:6px; left:8px;}
#left-nav-btn a:hover i:before { content: "\f054";  }
#left-nav-btn a.active:hover i:before { font-family: 'FontAwesome'; content: "\f053"; }

/* Panels ------------------------------------*/
.panel, .panel-heading {  -webkit-box-shadow: none; box-shadow: none; overflow:hidden; -moz-border-radius: 0px; -webkit-border-radius: 0px; -khtml-border-radius: 0px; border-radius: 0px;}
.panel table { margin-bottom: 0; }
.panel-grey { border:0; background:#f4f4f4; }
.panel-grey > .panel-heading { color: #fff; background: #003967; vertical-align:middle;}
.panel-white { border:0; background:#fff; }
.panel-white > .panel-heading { color: #444; background: #f4f4f4; vertical-align:middle;}
.panel-white { border:1px solid #DCE0E3; }
.panel .panel-heading h2, .panel .panel-heading h3, .panel .panel-heading h4 { margin:0; color:#fff;overflow:hidden; }
.panel-white .panel-heading h2, .panel-white .panel-heading h3, .panel-white .panel-heading h4 {color:#444; }
.panel .panel-heading h3 a.btn { float:right; overflow:hidden; padding:4px 7px; margin-top:4px; }
.panel .panel-heading i { color:#fff; margin:0; padding:0; }
.panel-body ul { padding:0 0 0 20px;}

/*Tag Boxes ------------------------------------*/
.tag-box { padding: 20px 25px; margin-bottom: 30px; clear:both;}
.tag-box h2 { font-size: 20px; line-height: 25px; margin-top:0; font-weight:400; }
.tag-box h3 { margin-top:0; }
.tag-box p { margin-bottom: 0; }
.tag-box-v1 { border: solid 1px #eee; border-top: solid 2px #c71f24; }
.tag-box-v2 { background: #fafafa; border: solid 1px #eee; border-left: solid 2px #c71f24; }
.tag-box-v3 { border: solid 2px #eee; }
.tag-box-v4 { border: dashed 1px #bbb; }
.tag-box-v5 { margin: 20px 0; text-align: center; border: dashed 1px #ccc; }
.tag-box-v5 span { color: #555; font-size: 28px; margin-bottom: 0; }
.tag-box-v6 { background: #fafafa; border: solid 1px #eee; }
.tag-box-v7 { border: solid 1px #eee; border-bottom: solid 2px #c71f24; }

/* Maps */
.map #map { width:100%; height:240px; }
.map.panel { font-size:20px; font-weight:300; line-height:28px;   }
.map.panel #map { width:55%; height:240px; float:right; }
.map.panel table { float:left; width:45%; height:240px; /* same as #map height */}
.map.panel td { vertical-align:middle; padding:10px 20px 10px 10px;}
.map.panel i { float:left; overflow:hidden; font-size:38px; margin-right:20px; color:#000;}
.map.panel .address { display:block; overflow:hidden; }

/* Blockquote */
blockquote p { font-size: 16px; font-weight: 200; }
blockquote:hover { border-left-color: #c71f24; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
blockquote.left { float:left; width:40%; margin-right:20px; overflow:hidden;}
blockquote.right { float:right; width:40%; margin-left:20px; overflow:hidden;}
blockquote .hero { border-left-color: #c71f24; padding: 18px; margin: 20px 0; color: #000; font-size: 16px; background: #f4f4f4; }


/*Tables ------------------------------------*/
#infoEntries { margin-bottom:30px;}
table td, table th { wordwrap:break-word; }
table > tr > th { border-bottom: none; }
table td.right, table th.right { text-align:right; }
table td.center, table th.center, table td.num { text-align:center; }
.table.table-bordered > tr th:first-child, .table.table-bordered > tr td:first-child { border-left: none; }
.table-condensed thead > tr > th, .table-condensed tbody > tr > th, .table-condensed tfoot > tr > th, .table-condensed thead > tr > td, .table-condensed tbody > tr > td, .table-condensed tfoot > tr > td{ padding:5px 10px; }
.table-bordered > tbody > tr th { background:#f4f4f4 !important; border: 1px solid #ccc; border-right:0; border-top:0; border-bottom:0;}
.table-bordered > tbody > tr th:first-child { border-left:0; }

/* Events */
#event { }
.events ul, .events ul li {list-style:none;  }
.events ul { list-style:none; padding:0; }
.events li { padding:15px; border-top:1px dotted #B3B8BB; overflow:hidden; margin:0; }
.events li:first-child { padding-top:0; border-top:0;}
.events li time { display:block;  font-family: 'open_sansbold'; text-transform:uppercase; font-weight:normal; padding:6px 0; float:left; background:#c71f24; color:#fff; margin:0 25px 0 0; width:75px; text-align:center; }
.events li div { display:block; overflow:hidden; }
.events header { font-family: 'open_sansbold'; }

/*News and Blog */
.story { margin: 0; overflow: hidden; border-top: 1px dotted #b3b8bb; padding:12px 0; }
.story:first-child { border-top:0; padding-top:0; }
.story dt { width: 25%; float: left; overflow:hidden; margin:0 3% 0 0;}
.story dt img { max-width:100%; width:100%; padding: 0; margin-top: 3px; }
.story dd { margin:0 0 12px; overflow:hidden; }
.story  p { margin: 0; }
.story .news-title, .story h3, .story .article-title  { border:0; padding:0; margin:0 0 12px 0; line-height:24px;}
.story .news-title a, .story .blog-title a { font-family: 'open_sanssemibold'; font-weight:normal; font-size: 17px; line-height: 17px !important; }
.story .news-date, .news-date, .blog-date { margin-top:6px; font-size:14px; color:#999;}
.story .thumbnail {  margin-bottom:0; overflow:hidden;}
.news .pager { border-top:1px dotted #B3B8BB; margin:20px 0 0; padding-top:20px;}
#article img { max-width:100% !important; width:100%; height:auto; display:block; margin:0 0 20px; }

/*Carousel v1*/
.carousel-v1 .carousel-caption { left: 0; right: 0; bottom: 0; padding: 7px 15px; background: rgba(0, 0, 0, 0.7); }
.carousel-v1 .carousel-caption p { color: #fff; margin-bottom: 0; }
.carousel-v1 .carousel-arrow a.carousel-control { opacity: 1; font-size:30px; height:auto; width: auto; background: none; text-shadow: none; position: inherit; }
.carousel-v1 .carousel-arrow a i { top: 50%; opacity: 0.6; background: #000; margin-top: -18px; padding: 2px 12px; position: absolute; }
.carousel-v1 .carousel-arrow a i:hover { opacity: 0.8; }
.carousel-v1 .carousel-arrow a.left i { left: 0; }
.carousel-v1 .carousel-arrow a.right i { right: 0; }


/* Upcoming Races and Graded Stakes */
.dateCarousel .dateLarge { margin-bottom:20px; overflow:hidden; }
.dateCarousel .dateLarge span {  text-transform:uppercase; text-align:center; margin-left:-1px; float:left; overflow:hidden; font-weight:400; padding:15px; background:#f4f4f4; border:1px solid #C9CDD0; font-size:32px;  }
.dateCarousel .dateLarge span:first-child { margin:0;}
.dateCarousel .dateLarge .month { float:left; overflow:hidden;  }
.dateCarousel .dateLarge .day { float:right; overflow:hidden; }
.dateCarousel .details {  clear:both; min-height:100px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;  }
.dateCarousel .details span { font-weight:700; padding-right:12px; }
.dateCarousel  .carousel-arrow { position:absolute; bottom:0; left:0; width:auto; }
.dateCarousel  .carousel-arrow a.carousel-control {  display:block; position:relative; width:auto; height:auto; float:left; overflow:hidden; border:1px solid #1571ba; background:none;  -webkit-border-radius: 6px;  -moz-border-radius: 6px;  border-radius: 6px;  }
.dateCarousel .carousel-arrow a i { color:#1571ba; position:relative; text-align:center; vertical-align:middle; margin-top:0; padding:6px 12px;   background:none; border:0; opacity:1; line-height:normal; font-size:20px; }
.dateCarousel  .carousel-arrow a.right { margin-left:10px; display:block; }
.dateCarousel .carousel-arrow a.carousel-control:hover { color:white; background:#1571BA;} 
.dateCarousel .carousel-arrow a.carousel-control:hover i { color:white;} 
.dateCarousel  .carousel-arrow a.left:active { left:-1px; }
.dateCarousel  .carousel-arrow a.right:active { left:1px; }


/* Countdown */
.countdown .panel { margin:0;}
.countdown .panel span { font-weight:normal; font-family: 'open_sansbold'; text-transform:uppercase; margin:0 10px 5px 0;}
.countdown .panel .start { margin:10px 0 15px; }
.countdown .panel .race { margin-bottom:10px; font-family: 'open_sansbold'; }
.countdown .clock { width:100%; margin:0 auto; margin-top:0; }
.countdown canvas, .countdown .val, .countdown .time { width:80px;}
.countdown canvas  { height:80px; }
.countdown .val  { line-height:80px;}

.clock .item { position:relative; float:left; width:25%; text-align:center;   }
.bgLayer canvas {  position:absolute; top:0; left:0; }
.topLayer canvas { position:absolute; top:0; left:0;}
.text { font-family:"Open Sans", sans-serif;  }
.time { width:100%; line-height:normal; margin-top:5px; font-size:13px; line-height:20px;  text-transform:uppercase; }
.val { margin:0; font-size:28px; font-weight:bold; color:#444; text-align:center;    }
.type_days { color:#ff6565; }
.type_hours { color:#378cff; }
.type_minutes { color:#9cdb7d; }
.type_seconds { color:#ffdc50; }

/* Top Leaders */
#leaders .leaders-info { margin-bottom:12px; }
#leaders .leaders-header { display:block; overflow:hidden; font-weight:600; font-size:16px; padding:5px 10px; background:#f4f4f4; border:1px solid #C9CDD0; }
#leaders .leaders-name { position:relative; font-weight:700; padding:6px 40px 6px 20px; margin:10px 0;}
#leaders .leaders-name span {  position:absolute; right:0; top:0; display:block;  width:auto; height:auto; -webkit-border-radius: 4px;  -moz-border-radius: 4px;  border-radius: 4px;  -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
#leaders .leaders-name span i {  display:block;  text-align:center; vertical-align:middle; padding:0; background:none; border:0; opacity:1; line-height:18px; top:0; font-size:18px; }
#leaders .leaders-name .btn:active { background:none; color:#3785C4; }
#leaders .leaders-table { border-top: 1px dotted #b3b8bb;  }
#leaders .leaders-table table tr td:first-child { padding-left:20px; }
#leaders .leaders-table table tr.bold td { padding-top:10px; font-weight:700; }
#leaders .blockfooter {  margin-bottom:20px; }

/*YouTube Feed */
.yt-feed ul, .yt-feed ul li { padding:0; margin:0; list-style:none; }
.yt-feed ul li { padding-top:20px; }
.yt-feed ul li:first-child { padding-top:0; }
.yt-feed ul li a.yt-title-link { margin-top:5px; padding:5px 0 0; display:block; font-size:15px; font-weight:700; line-height:normal; display:block; }
.yt-feed ul li a i { float:left;  position: relative; top: 3px; display: inline-block; font-family: 'FontAwesome'; font-style: normal; line-height: 1; -webkit-font-smoothing: antialiased; padding-right:10px; font-size:20px;}
.yt-feed ul li a i:before { content: "\f008";}
.yt-feed ul li a span { overflow:hidden; display:block; }
.yt-feed ul li a span.overlay-zoom { padding:0;}

/*Twitter Feed*/
.twFeed ul, .twFeed ul li { padding:0; margin:0; list-style:none; }
.twFeed ul li { padding:20px 0 0; }
.twFeed ul li:first-child { padding:0; }
.twFeed i { margin-right:12px; margin-top:3px; font-size:22px; color:#1571BA; line-height:normal; float:left; }
.twFeed ul li .tweet { display:block; overflow:hidden;}
.twFeed ul li .time { display:block; float:left; width:100%; overflow:hidden; color:#999;}
.page .yt-feed { overflow:hidden;}
.page .yt-feed ul li { width:33%; padding:0; float:left; overflow:hidden; }
.page .yt-feed ul li:first-child {  }
.page .yt-feed ul li a.yt-image-link { display:block; margin:10px 10px 0;}
.page .yt-feed ul li a.yt-title-link { display:block; margin:5px 10px 0; height:55px; overflow:hidden;  }

/*Shop*/
.shopImg { margin:10px 0 0;}
.shopImg img { max-height:250px; margin:0 auto;}

/*Thumbnail*/
.thumbnail {  margin-bottom: 15px; border:0; padding:0; -webkit-border-radius: 0;  -moz-border-radius: 0;  border-radius: 0; }
.thumbnail:hover, a.thumbnail:focus { border-color:#1571BA; background:none;}
.thumbnail-style { padding: 5px; margin-bottom: 20px; }
.thumbnail-style:hover { box-shadow: 0 0 8px #ddd; -webkit-transition: box-shadow 0.2s ease-in-out; -moz-transition: box-shadow 0.2s ease-in-out; -o-transition: box-shadow 0.2s ease-in-out; transition: box-shadow 0.2s ease-in-out; }
.thumbnail-style h3 { margin: 5px 0 0 0; }
.thumbnail-style h3 a { font-size: 20px; }
.thumbnail-style h3 a:hover { color: #1B5F95; text-decoration: none; }
.thumbnail-style .thumbnail-img { position: relative; margin-bottom: 10px; }
.thumbnail-style a.btn-more { right: -10px; bottom: 10px; color: #fff; padding: 1px 6px; position: absolute; background: #1B5F95; display: inline-block; }
.thumbnail-style a.btn-more:hover { text-decoration: none; box-shadow: 0 0 0 2px #377500; }
.thumbnail-style:hover a.btn-more { right: 10px; }
.thumbnail-kenburn img { left: 10px; margin-left: -10px; position: relative; -webkit-transition: all 0.8s ease-in-out; -moz-transition: all 0.8s ease-in-out; -o-transition: all 0.8s ease-in-out; -ms-transition: all 0.8s ease-in-out; transition: all 0.8s ease-in-out; }
.thumbnail-kenburn:hover img { -webkit-transform: scale(1.2) rotate(2deg); -moz-transform: scale(1.2) rotate(2deg); -o-transform: scale(1.2) rotate(2deg); -ms-transform: scale(1.2) rotate(2deg); transform: scale(1.2) rotate(2deg); }

/* Content Slider */
#content-slider-1 { width:100%; }
#sliderPage .rsGCaption { left:0; bottom:0; background-color:#1571BA; background-color:rgba(21,113,186,.8); padding:5px 10px;}

/* Where When Watch */
.infoBlocks { display:block; margin-bottom:30px;  overflow:hidden; background: #f4f4f4;  }
.infoBlocks .col-md-4 { padding:0 0 100px 0; margin-bottom:-100px;  border-left:10px solid #fff; }
.infoBlocks .col-md-4:first-child, .infoBlocks .col-md-4:nth-of-type(1) { border-left:0; }
.infoBlocks .col-md-6 { padding:0 0 100px 0; margin-bottom:-100px;  border-left:10px solid #fff; }
.infoBlocks .col-md-6:first-child, .infoBlocks .col-md-6:nth-of-type(1) { border-left:0; }
.infoBlocks .section { overflow:hidden; position:relative; padding: 15px; text-align: left; margin-bottom:0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.infoBlocks i { float:left; display:block; font-size: 38px; margin:0 20px 0 0;  color: #000; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.infoBlocks i.glyphicon { top:-3px; font-size:38px;}
.infoBlocks .headline { display:none; }
.infoBlocks .info { display:block; overflow:hidden; display:block; text-align:left;   }
.infoBlocks .info p:last-child { margin-bottom:0;  }
.infoBlocks .section:hover { opacity: 1; }
.infoBlocks .section:hover i { opacity: 1; color: #c71f24; }

.blockfooter {  clear:both; overflow:hidden; text-align:right; border-top: 1px dotted #b3b8bb; padding-top:12px; }
.blockfooter a { position:relative; }



/* Tooltip */
.tooltip.in {  opacity: 1; filter: alpha(opacity=100); }
.tooltip-inner {  padding: 8px;  color: #444;  max-width: 320px; background-color: #fff; border:4px solid #c71f24; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color=#000000)"; -moz-box-shadow: 0px 0 4px rgba(0,0,0,.3); -webkit-box-shadow: 0px 0 4px rgba(0,0,0,.3); -khtml-box-shadow: 0px 0 4px rgba(0,0,0,.3); box-shadow: 0px 0 4px rgba(0,0,0,.3);  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color=#000000);  }
.tooltip.top .tooltip-arrow {   border-top-color: #c71f24; }
.tooltip.top-left .tooltip-arrow { border-top-color: #c71f24; }
.tooltip.top-right .tooltip-arrow {  border-top-color: #c71f24; }
.tooltip.right .tooltip-arrow {border-right-color: #c71f24;   }
.tooltip.left .tooltip-arrow {  border-left-color: #c71f24; }
.tooltip.bottom .tooltip-arrow { border-bottom-color: #c71f24;  }
.tooltip.bottom-left .tooltip-arrow { border-bottom-color: #c71f24; }
.tooltip.bottom-right .tooltip-arrow { border-bottom-color: #c71f24; }



/* RIGHT COLUMN ==================================================================== */
#right-col .headline h2 { font-size:34px;}
#right-col .headline a { float:right; }
#right-col .headline a i { font-size:30px; position:absolute; bottom:12px; right:0; }
#right-col .headline i.fa-rss-square { color:#fff; }
#right-col .headline a:hover i.fa-rss-square { color:#fff; }
#right-col .news dt { display:none; }
#right-col .news dd { width:100%;  }
#right-col .blockfooter a { display:block; margin:0 10px 10px; text-align:center; }
#right-col .panel .blockfooter { margin:0 15px; }
#right-col .panel .blockfooter a { margin:0 0 10px; }



/* Footer ==================================================================== */
.footer { color: #555; margin-top: 40px; padding: 30px 0 10px; background: #f5f5f5; }
.footer ul li { list-style:none; padding-left:0;  margin-bottom:0; }
.footer a, .copyright a, .footer a:hover, .copyright a:hover { color: #1B5F95; }
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5 { text-shadow: none; font-weight: normal !important; border:0;}
.footer p, .footer a { font-size: 14px; }
.footer p { color: #dadada; }
.footer a { color: #555; }
.footer a:hover {  }
.footer .headline { margin-bottom:15px;}
.footer h2, .footer h3, .footer h4 { font-weight:normal; background: none; text-shadow: none;}


/* logos -*/
.footer .friends {   margin: 0; padding: 0; overflow:hidden; padding-top:20px; border-top: 1px dotted #b3b8bb; }
.footer .friends > div { padding:0; }
.footer .friends .logos { width:auto; margin:0 auto; overflow:hidden;}
.footer .friends a {  float: left; list-style: none; margin:0; width: 14%; height:75px; display: block; background-position: center 0 !important; background-repeat: no-repeat;  }
.footer .friends a:hover { background-position: center -75px !important; }
.footer .friends a.ntra {background: url('../../img/logo-ntra.gif') no-repeat; }
.footer .friends a.nyra { background: url('../../img/logo-nyra.gif') no-repeat; }
.footer .friends a.jockeyclub {  background: url('../../img/logo-jockeyclub.gif') no-repeat; }
.footer .friends a.usta {  background: url('../../img/logo-usta.gif') no-repeat; }
.footer .friends a.equibase {  background: url('../../img/logo-equibase.gif') no-repeat; }
.footer .friends a.ga { background: url('../../img/logo-gamblersanonymous.gif') no-repeat; }
.footer .friends a.credit { width:16%; background: url('../../img/logo-visa-mastercard.gif') no-repeat; }
.footer .friends a.us {  width:218px !important; background: url('../../img/usracing-tvg.gif') no-repeat; }
.footer .col-md-3 { clear:none;}


/* Social Icons */
.social-icons { margin: 0; padding: 0; }
.social-icons li { float: left; display: inline; list-style: none; margin-right: 10px; margin-bottom: 5px; text-indent: -9999px; }
.social-icons li a, a.social-icon { background: url('../../img/icons/social-icons.png') left top no-repeat; width: 33px; height: 33px; display: block; transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }
.social-icons li:hover a { background-position:0 -43px; }
.social_facebook { background-position:0 0 !important; }
.social-icons li:hover .social_facebook { background-position:0 -43px !important; }
.social_twitter { background-position: -40px 0 !important; }
.social-icons li:hover .social_twitter { background-position:-40px -43px !important; }
.social_pintrest { background-position 80px 0 !important; }
.social_pintrest li:hover a { background-position:-80px -43px !important; }
.social_google { background-position: -120px 0 !important; }
.social-icons li:hover .social_google { background-position:-120px -43px !important; }
.social_email { background-position: -160px 0 !important; }
.social-icons li:hover .social_email { background-position:-160px -43px !important; }


/* Copyright */
.copyright { font-size: 12px; padding: 0; background: #003967; line-height:40px; height:40px; color:#376890;}
.copyright span { color: #dadada; }
.copyright span.brand { margin-right:10px; }
.copyright a { margin: 0 5px; color: #fff; }
.copyright a:hover { color: #fff; }

#topcontrol img {-moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; }


/* RESPONSIVE */
@media (max-width: 1920px) {

.dateCarousel .dateLarge span { padding:20px; font-size:36px; }
.countdown canvas, .countdown .val, .countdown .time { width:100px;}
.countdown canvas  { height:100px; }
.countdown .val  { line-height:100px;}
}
@media (max-width: 1440px) {

.dateCarousel .dateLarge span { padding:20px; }
.countdown canvas, .countdown .val, .countdown .time { width:80px;}
.countdown canvas  { height:80px; }
.countdown .val  { line-height:80px;}
}
@media (max-width: 1200px) {
h2 { font-size:31px; line-height:1.1em}
.footer h3 { font-size:23px; }
.dateCarousel .dateLarge span { padding:15px; }
.twFeed ul li { padding:10px 0 0; }
.shopImg img { max-height:240px;}
.footer .friends a { width:13%; }
.footer .friends a.credit { width:18%; }

}
@media (max-width: 1024px) {
.countdown canvas, .countdown .val, .countdown .time { width:65px;}
.countdown canvas  { height:65px; }
.countdown .val  { line-height:65px; font-size:24px; }
}
@media (max-width: 970px) {

.dateCarousel .dateLarge span { font-size:32px; }

#top #signupBtn { float:right; }
.container { min-width:970px;}
.shopImg img { max-height:200px;}
.footer .col-md-3 { clear:none;}
.footer .friends a { width:13%; }
.footer .friends a.equibase { width:17%; }
}
@media (min-width: 768px) {
.login { display:block; }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
h2 {line-height:normal;}
#top  {  display:block; height:auto; min-height:50px; }
#top.is_stuck { height:auto; min-height:50px;}
#top .container {  padding:0 15px; height:auto; margin-bottom:0;}
.container, .no-left-menu .container { width:100% !important; min-width:inherit !important; margin:0 auto 20px; padding:0; }
#top .logo { float:left; overflow:hidden; } 
#top .logo-lrg img {  padding:0;  width:auto; max-height:60px !important; margin:20px 0 18px;}
#top #signupBtn { position:relative; right:auto; top:auto; }
#top #loginButton { width:100%; float:left; margin:0; height:auto; font-size:16px;}


.login-header { margin: 0; }
.login-header .loginToggle { float:left;  display:inline-block; border:0; width:auto; position:relative; margin:10px 10px 0 0; line-height:normal; padding-right:26px;}
.login-header .loginToggle i { font-family: 'FontAwesome'; position:absolute; right:10px; top:7px;  }
.login-header .loginToggle.collapsed i { top:8px;}
.login-header .loginToggle i:before { content: "\f106";}
.login-header .loginToggle.collapsed i:before {  content: "\f107";}
.login-header .loginToggle i { display:block;}

.login { position:relative; top:auto; right:auto; margin:15px 0; clear:both; float:left; width:100%; }
.login form {width:100%; }
.login .account-group { margin:0; width:48%; float:left; }
.login .pin-group { margin:0 0 0 4%; width:48%; float:left; }
.login .select-group { float:left; margin:20px 0 0; clear:both; width:100%; }
.login .login-group { float:left; width:100%; margin:20px 0 0;}
.login .btn-info { height:auto;  width:auto; position:absolute; right:9px; top:9px; padding:4px 6px;}
.login input { padding:8px 52px 8px 8px; }
.login input#account { width:100%;  }
.login input#account:focus, .login .required input#account, .login .required input#account:focus, .login input#pin:focus, .login .required input#pin, .login .required input#pin:focus  {  width:100%; }
.login select { width:100%;  padding:8px;}
.select-group:after, .select-group.required:after { top:10px;}
.select-group:before, .select-group.required:before { height:40px; }
.login input#pin, .login input#account, .login select { width:100%; height:40px;}
.required input, .required select, .required input:focus, .required select:focus { height:40px;}



#left-nav-btn { display:none; }
#right-col { padding-right:20px; clear:both; margin-top:30px; }

.headline { border-bottom: 0; }
.headline h1, .headline h2, .headline h3, .headline h4 { width:100%; }
.footer .headline { border-bottom: 1px dotted #b3b8bb;}

.pager .pager-next a > span, .pager .pager-previous a > span, .pager .pager-first a > span, .pager .pager-last a > span { display:none;}

.yt-feed ul li a img { width:100%; }
.page .yt-feed ul li { width:50%; }

.dateCarousel .item { height:auto; }
.dateCarousel .dateLarge span { padding:22px;}
 
.blockfooter .btn { width:100%; padding-left:0; padding-right:0;}
.blockfooter .btn i { right:15px; position:absolute; top:12px; }

.upcomingRaces .blockfooter .btn { width:65%;}
.gradedStakes .blockfooter .btn { width:65%;}

/* Maps */
.map #map { width:100%; height:240px; }
.map.panel #map { width:100%; height:240px; float:none; }
.map.panel table { float:none; width:100%; height:auto; margin-bottom:12px;}
.map.panel td { padding:0;}

.infoBlocks .col-md-4, .infoBlocks .col-md-6 { border-left:0; border-top:5px solid #fff; }

.footer .friends { margin-top:20px;}
.footer .friends a.ntra { width:71px; }
.footer .friends a.nyra { width:74px;  }
.footer .friends a.jockeyclub { width:58px; }
.footer .friends a.usta { width:66px;  }
.footer .friends a.equibase {  width:94px;  }
.footer .friends a.ga { width:54px;  }
.footer .friends a.credit { width:118px;  }
.footer .friends a.us {  width:218px; }
.footer .friends a {  margin:0 10px 0 0; }
.copyright { height:auto; line-height:normal; padding:10px 0;}
.copyright .container { margin:0;}

}
@media screen and (min-width: 0px) and (max-width: 640px) {
.table-responsive { overflow-x:scroll; overflow-y:hidden; }
.table-condensed thead > tr > th, .table-condensed tbody > tr > th, .table-condensed tfoot > tr > th, .table-condensed thead > tr > td, .table-condensed tbody > tr > td, .table-condensed tfoot > tr > td { word-wrap:break-word; padding:5px; }
#top .phone { display:none;}
}

@media screen and (min-width: 0px) and (max-width: 480px) {

#top .logo-lrg {  display:none;}
#top .logo-sm { display:inline; }
#top .logo-sm img, #top.is_stuck .logo-sm img { display:inline; margin-top:10px; max-height:32px !important;}
#top .login-header { float:right; clear:none; width:auto; margin: 0;  }
#nav.is_stuck .navbar  { height:40px; }
#nav.is_stuck .navbar-header { line-height:40px; }
#nav.is_stuck .navbar-header a i, #nav.is_stuck .navbar-header a span { line-height:38px; }
.login-header { clear:both; float:none; width:100%; margin:0 auto 15px; text-align:center;  }
.login-header a span { display:none;}
.login-header .loginToggle,  .login-header #signupBtn { float:left !important; padding:7px 0; width:40px; text-align:center; }
.login-header a i { display:block; padding:0; position:relative; top:auto; right:auto; font-size:16px; }
.login-header .loginToggle i { position:relative; top:auto; right:auto;}
.login-header .loginToggle i:before {  }
.login-header .loginToggle.collapsed i { top:auto;}
.login-header .loginToggle.collapsed i:before { content: "\f007"; }

.dateCarousel .dateLarge .month { width:60%;  }
.dateCarousel .dateLarge .month span {  padding-left:0; padding-right:0; width:32%;  }
.dateCarousel .dateLarge .day { width:38%; }
.dateCarousel .dateLarge .day span { padding-left:0; padding-right:0; width:48.5%; }
}


