{literal}
<script type="text/javascript">
alert('-');
if(user_is_logged_in()){
	$.get('/FeedData/racebook-switch.txt', function(data) {MsgContent=explode("=;",$.trim(data))});
	alert(MsgContent[0]);
	if(trim(MsgContent[0]) == "dead")
	{
	
	document.write('<div style="height: 550px;  overflow:hidden;"><iframe name="ODDS" style="text-align: center; margin:10px auto; overflow:hidden;" title="ODDS" src="http://208.158.1.151:5180/applet.cgi?community=7630" frameborder="0" width="100%" height="550" id="ifRaceBook" scrolling="no"></iframe></div>');
	
				if(trim($MsgContent[1]) == "live"){
	
					document.write('<div class="block" style="text-align: center; margin-top: 10px; border-color:#aad3ff;">' + trim($MsgContent[2]) + '</div>');
				}
	}
	else
	{
	
	document.write('<div style="height: 1250px;  overflow:hidden;"><iframe name="ODDS" style="text-align: center; margin:10px auto; overflow:hidden;" title="ODDS" src="https://ppe.gamingsystem.net/customerauthn/pl/checkLogin?login=http://blrweb.gamingsystem.net/RaceBook/login&service=http://blrweb.gamingsystem.net/RaceBook/login&sp_casinoid=7630&sp_siteID=7630&lp_casinoid=7630&lp_siteID=7630" frameborder="0" width="100%" height="1250" id="ifRaceBook" scrolling="no"></iframe></div>');
	}
}
</script>
{literal}