{include file="/home/ah/allhorse/public_html/usracing/schema/web-page.tpl"}

{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

{include file='menus/preaknessstakes.tpl'}
<!-- ---------------------- end left menu contents ------------------- -->         
</div>

<!-- HERO -->
<div class="newHero hidden-sm hidden-xs" style="background-image: url({$hero});">
	<div class="text text-xl">{$h1}</div>
     	<div class="text text-md">{$h2}
          	<br>
               <a href="/signup?ref={$ref}"><div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i>{$signup_cta}</div></a>
         </div>
</div>
<!-- End HERO -->

<!--<div class="container-fluid">
	<a href="/signup?ref={$ref}"><img class="img-responsive visible-md-block hidden-sm hidden-xs" src="{$hero}" alt="{$hero_alt}"></a>
	<a href="/signup?ref={$ref}"><img class="img-responsive visible-sm-block hidden-md hidden-lg" src="{$hero_mobile}" alt="{$hero_alt}"> </a>
</div>  
-->  
      
<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">
        



<div class="content">
<!-- --------------------- content starts here ---------------------- -->

{*

 <p><a href="/preakness-stakes/free-bet"><img class="img-responsive" src="/img/preaknessstakes/preakness-stakes-odds.jpg" alt="Preakness Stakes Free Bet">  </a></p>
*}
 {*include file='inc/preaknessstakes-slider.tpl'*}
 
{*  <div class="headline"><h1>Preakness Stakes Free Bet</h1></div> *}
{* <p>{include file='/home/ah/allhorse/public_html/ps/wherewhenwatch.tpl'} </p> *}
<div class="headline"><h1>{$h1}</h1></div>
<p>{include file='/home/ah/allhorse/public_html/shared/promos/free-derby-bet.php'} </p>
 <p align="center"><a href="/signup?ref={$ref}" class="btn-xlrg ">{$button_cta}</a></p>  

{*<h2>Preakness Stakes Purse Structure</h2>

include file='/home/ah/allhorse/public_html/ps/purse.php'*} 

         
        
        
{*

<h2>{include file='/home/ah/allhorse/public_html/ps/racedate.php'}  - Preakness Stakes Day Race Schedule</h2>

{include file='/home/ah/allhorse/public_html/ps/raceschedule.tpl'}      

<h2>{include file='/home/ah/allhorse/public_html/ps/racedate_BES.php'}  - BLACK EYED SUSAN DAY Race Schedule</h2>
                              
{include file='/home/ah/allhorse/public_html/ps/raceschedule_BES.php'}
*}
              

        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{include file='inc/rightcol-calltoaction-ps.tpl'} 
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*}


</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 

<div id="main" class="container">
<div class="row" >
<div class="col-md-12">

 {*include file='inc/disclaimer-ps.tpl'*} 
</div>
</div>
</div><!-- /#container --> 


      
    