{include file="/home/ah/allhorse/public_html/usracing/schema/web-page.tpl"}
{literal}
  <style>
    @media (min-width: 1024px) and (max-width: 1150px) {
      .newHero {
        background-position-x: 80%;
      }
    }

    @media (min-width: 581px) and (max-width: 767px) {
      .newHero {
        background-position-x: 55%;
      }
    }

    @media (min-width: 320px) and (max-width: 580px) {
      .newHero {
        background-position-x: 100%;
      }
    }
  </style>
{/literal}

{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

{include file='menus/preaknessstakes.tpl'}
<!-- ---------------------- end left menu contents ------------------- -->         
</div>

<div class="newHero hidden-sm hidden-xs" style="background-image: url({$hero});">
 <div class="text text-xl">{$h1}</div>
        <div class="text text-md">{$h2}
                <br>
                        <a href="/signup?ref={$ref}"><div class="btn btn-red"><i class="fa fa-thumbs-o-up left"></i>{$signup_cta}</div></a>
        </div>
 </div>
</div>      
<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
          
             
                                        
          
<div class="headline"><h1>Preakness Stakes Winners</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->
<!--<p>{include file='/home/ah/allhorse/public_html/ps/results_video.php'} </p>-->

{*include file='/home/ah/allhorse/public_html/ps/wherewhenwatch.tpl'*} 
<p></p>
{include file='/home/ah/allhorse/public_html/ps/pastwinners.php'} 


             {*include file='inc/disclaimer-bs.tpl'*} 

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{include file='inc/rightcol-calltoaction-bs.tpl'} 
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*}


</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 

