.top{ background: #1571BA; padding: 15px 0 15px 0; }
table {
    max-width: 100%;
    background-color: transparent
}

th {
    text-align: left
}

.table {
    width: 100%;
    margin-bottom: 20px
}

.table tbody>tr>td,
.table tbody>tr>th,
.table tfoot>tr>td,
.table tfoot>tr>th,
.table thead>tr>td,
.table thead>tr>th {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd
}

.table thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

.table caption+thead tr:first-child td,
.table caption+thead tr:first-child th,
.table colgroup+thead tr:first-child td,
.table colgroup+thead tr:first-child th,
.table thead:first-child tr:first-child td,
.table thead:first-child tr:first-child th {
    border-top: 0
}

.table tbody+tbody {
    border-top: 2px solid #ddd
}

.table .table {
    background-color: #fff
}

.table-condensed tbody>tr>td,
.table-condensed tbody>tr>th,
.table-condensed tfoot>tr>td,
.table-condensed tfoot>tr>th,
.table-condensed thead>tr>td,
.table-condensed thead>tr>th {
    padding: 5px
}

.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #ddd
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-bottom-width: 2px
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: #f5f5f5
}

table col[class*=col-] {
    float: none;
    display: table-column
}

table td[class*=col-],
table th[class*=col-] {
    float: none;
    display: table-cell
}

.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
    background-color: #f5f5f5
}

.table>tbody>tr.success>td,
.table>tbody>tr.success>th,
.table>tbody>tr>td.success,
.table>tbody>tr>th.success,
.table>tfoot>tr.success>td,
.table>tfoot>tr.success>th,
.table>tfoot>tr>td.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>thead>tr.success>th,
.table>thead>tr>td.success,
.table>thead>tr>th.success {
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.table-hover>tbody>tr.success:hover>td,
.table-hover>tbody>tr>td.success:hover,
.table-hover>tbody>tr>th.success:hover {
    background-color: #d0e9c6;
    border-color: #c9e2b3
}

.table>tbody>tr.danger>td,
.table>tbody>tr.danger>th,
.table>tbody>tr>td.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr.danger>td,
.table>tfoot>tr.danger>th,
.table>tfoot>tr>td.danger,
.table>tfoot>tr>th.danger,
.table>thead>tr.danger>td,
.table>thead>tr.danger>th,
.table>thead>tr>td.danger,
.table>thead>tr>th.danger {
    background-color: #f2dede;
    border-color: #eed3d7
}

.table-hover>tbody>tr.danger:hover>td,
.table-hover>tbody>tr>td.danger:hover,
.table-hover>tbody>tr>th.danger:hover {
    background-color: #ebcccc;
    border-color: #e6c1c7
}

.table>tbody>tr.warning>td,
.table>tbody>tr.warning>th,
.table>tbody>tr>td.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr.warning>td,
.table>tfoot>tr.warning>th,
.table>tfoot>tr>td.warning,
.table>tfoot>tr>th.warning,
.table>thead>tr.warning>td,
.table>thead>tr.warning>th,
.table>thead>tr>td.warning,
.table>thead>tr>th.warning {
    background-color: #fcf8e3;
    border-color: #fbeed5
}

.table-hover>tbody>tr.warning:hover>td,
.table-hover>tbody>tr>td.warning:hover,
.table-hover>tbody>tr>th.warning:hover {
    background-color: #faf2cc;
    border-color: #f8e5be
}

#infoEntries {
    margin-bottom: 30px
}

table td,
table th {
    word-wrap: break-word;
}

table > tr > th {
    border-bottom: none
}

table td.right,
table th.right {
    text-align: right
}

table td.center,
table th.center,
table td.num {
    text-align: center
}

.table.table-bordered > tr th:first-child,
.table.table-bordered > tr td:first-child {
    border-left: none
}

.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
    padding: 5px 10px
}

.table-bordered > tbody > tr th {
    background: #1571BA ;
    border: 1px solid #ccc;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    color: #fff
}

.table-bordered > tbody > tr.head_title {
    border: 1px solid #ddd;  background: #1571BA;
}

.table-bordered > tbody > tr th:first-child {
    border-left: 0 
}

.table caption {
    background: #1571BA;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border: 0;
    color: #fff;
    word-wrap: break-word;
}
            table.ordenable th{cursor: pointer}
			table.ordenable td{ word-wrap: break-word; word-break: break-all ;}
			table.ordenable{ max-width: 100%;  }
.dateUpdated {
    font-size: 12px;
    word-wrap: break-word
}
.headline {
    display: block;
    position: relative;
    margin: 0 0 25px;
    border-bottom: 1px solid #E8E8E8
}

.headline h1,
.headline h2,
.headline h3,
.headline h4 {
    color: #000;
    margin: 10px 0 -3px;
    padding-bottom: 12px;
    display: inline-block;
    border-bottom: 4px solid #890000
}

.headline h1 a,
.headline h1 a:hover,
.headline h1 a:link,
.headline h1 a:visited {
    color: #000;
    font-family: "roboto", arial, helvetica, sans-serif;
    font-weight: 700
}

.headline h1 {
    margin-right: 1px;
	font-family: "roboto", arial, helvetica, sans-serif;
}

.headline h2 i {
    font-size: 32px
}

.row {
    margin-left: auto;
    margin-right: auto
}
body {
    color: #444;
    font-size: 16px;
    line-height: 1.6em;
	font-family: "Lato", arial, helvetica, sans-serif;

}
.container{padding:0 15px}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container:after,
.container:before {
    content: " ";
    display: table
}

.container:after {
    clear: both
}


.row:after,
.row:before {
    content: " ";
    display: table
}

.row:after {
    clear: both
}

.btn {
    font-family: "roboto", arial, helvetica, sans-serif;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 12px;
    line-height: normal;
    font-weight: 400
}

.btn:hover {
    cursor: pointer;
    color: #fff
}

.btn i {
    font-size: 18px;
    position: relative;
    top: 1px
}

.btn i.left {
    padding: 0 10px 0 0;
    float: left
}

.btn:active {
    position: relative;
    top: 1px
}

.btn-txt {
    font-weight: 400;
    color: #fff;
    padding: 10px;
    margin: 0;
    background: none;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn-txt:hover {
    font-weight: 400
}

.btn-txt i {
    font-size: 20px;
    color: #fff;
    padding: 0 0 0 5px
}

.btn-txt i.left {
    padding: 0 5px 0 0
}

.btn-lrg {
    padding: 15px;
    font-size: 20px
}

.btn-lrg i {
    font-size: 23px
}

.btn-sm {
    font-size: 13px
}

.btn-sm-x {
    font-size: 11px;
    padding: 3px 8px
}

.btn-default,
a.read_more {
    background: #eaeaea;
    color: #444;
    border: 0
}

.btn-default:hover,
.btn-default:focus {
    background: #dadada;
    color: #222
}

.btn-default:active,
.btn-default.active,
.btn-default.active:hover {
    color: #222;
    background-color: #dadada;
    border-color: #dadada
}

.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active {
    background-color: #dadada;
    border-color: #dadada
}

.btn-info {
    background: #bbb;
    color: #fff;
    border: 0
}

.btn-info:hover,
.btn-info:focus {
    background: #aaa;
    border-color: #aaa
}

.btn-info:active,
.btn-info.active,
.btn-info.active:hover {
    background-color: #aaa;
    border: 0
}

.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active {
    background-color: #aaa;
    border: 0
}

.btn-simple {
    background: none;
    color: #1571BA;
    border: 1px solid #1571BA
}

.btn-simple:hover,
.btn-simple:focus {
    background: #1571BA;
    color: #FFF
}

.btn-simple:active,
.btn-simple.active,
.btn-simple.active:hover {
    background-color: #1571BA;
    border-color: #1571BA;
    color: #fff
}

.btn-simple.disabled:hover,
.btn-simple.disabled:focus,
.btn-simple.disabled:active,
.btn-simple.disabled.active {
    background-color: none;
    border-color: #1571BA
}

.btn-simple-white {
    background: none;
    color: #FFF;
    border: 1px solid #3785C4;
    border-color: rgba(255, 255, 255, .2);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn-simple-white:hover,
.btn-simple-white:focus {
    background: #3785C4;
    background: rgba(255, 255, 255, .1);
    color: #FFF
}

.btn-simple-white:active,
.btn-simple-white.active,
.btn-simple-white.active:hover {
    background-color: none;
    border-color: #3785C4;
    border-color: rgba(255, 255, 255, .2)
}

.btn-simple-white.disabled:hover,
.btn-simple-white.disabled:focus,
.btn-simple-white.disabled:active,
.btn-simple-white.disabled.active {
    background-color: none;
    border-color: #3785C4;
    border-color: rgba(255, 255, 255, .2)
}

.btn-primary {
    background: #1571BA;
    color: #fff;
    border: 0
}

.btn-primary:hover,
.btn-primary:focus {
    color: #fff;
    background: #1e7cc7;
    text-decoration: none
}

.btn-primary:active,
.btn-primary.active,
.btn-primary.active:hover,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active {
    background: #1e7cc7;
    border: 0
}

.btn-green {
    background: #40B06F;
    color: #fff;
    border: 0
}

.btn-green:hover,
.btn-green:focus {
    color: #fff;
    background: #53C583;
    text-decoration: none;
    border: 0
}

.btn-green:active,
.btn-green.active,
.btn-green.active:hover,
.btn-green.disabled:hover,
.btn-green.disabled:focus,
.btn-green.disabled:active,
.btn-green.disabled.active {
    background: #53C583;
    border: 0
}

.btn-red {
    background: #c71f24;
    color: #fff;
    border: 0
}

.btn-red-form {
    width: 100%;
    height: 51px;
    font-weight: 700;
    line-height: normal;
    font-size: 15px
}

.btn-red:hover,
.btn-red:focus {
    color: #fff;
    background: #e02228;
    text-decoration: none
}

.btn-red:active,
.btn-red.active,
.btn-red.active:hover,
.btn-red.disabled:hover,
.btn-red.disabled:focus,
.btn-red.disabled:active,
.btn-red.disabled.active {
    background: #e02228;
    border: 0
}

.btn-xlrg {
    background: #c71f24;
    background-image: -webkit-linear-gradient(top, #c71f24, #991a1e);
    background-image: -moz-linear-gradient(top, #c71f24, #991a1e);
    background-image: -ms-linear-gradient(top, #c71f24, #991a1e);
    background-image: -o-linear-gradient(top, #c71f24, #991a1e);
    background-image: linear-gradient(to bottom, #c71f24, #991a1e);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: Arial;
    color: #fff;
    font-size: 24px;
    padding: 15px 50px;
    text-decoration: none
}

.btn-xlrg:hover,
.btn-xlrg:focus,
.btn-xlrg.active,
.btn-xlrg.active:hover {
    background: #d6242a;
    text-decoration: none;
    color: #fff
}

@media screen and (min-width:0px) and (max-width:500px) {
    .btn-xlrg {
        font-size: 16px;
        padding: 15px 20px
    }
}
.footer {
    color: #555;
    margin-top: 40px;
    padding: 30px 0 10px;
    background: #f5f5f5;
    display: table;
    width: 100%
}

.footer ul li {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0
}

.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover {
    color: #1B5F95
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5 {
    background: none;
    text-shadow: none;
    border: 0
}

.footer p,
.footer a {
    font-size: 14px
}

.footer p {
    color: #dadada
}

.footer a {
    color: #555
}

.footer .headline {
    margin-bottom: 15px
}

.footer .friends {
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 20px;
    border-top: 1px dotted #b3b8bb
}

.footer .friends > div {
    padding: 0;
    display: table;
    table-layout: fixed
}

.footer .friends .logos {
    width: auto;
    margin: 0 auto;
    overflow: hidden
}

.footer .friends a {
    list-style: none;
    margin: 0;
    height: 75px;
    display: table-cell;
    background-position: center 0;
    background-repeat: no-repeat
}

.footer .friends a:hover {
    background-position: center -75px;
}

.footer .friends a.ntra {
    background: url(../../img/logo-ntra.gif) no-repeat
}

.footer .friends a.bloodhorse {
    background: url(../../img/logo-bloodhorse.gif) no-repeat
}

.footer .friends a.jockeyclub {
    background: url(../../img/logo-jockeyclub.gif) no-repeat
}

.footer .friends a.usta {
    background: url(../../img/logo-usta.gif) no-repeat
}

.footer .friends a.equibase {
    background: url(../../img/logo-equibase.gif) no-repeat
}

.footer .friends a.amazon {
    background: url(../../img/logo-amazon.gif) no-repeat
}

.footer .friends a.ga {
    background: url(../../img/logo-gamblersanonymous.gif) no-repeat
}

.footer .friends a.credit {
    background: url(../../img/logo-visa-mastercard.gif) no-repeat
}

.footer .friends a.us {
    background: url(../../img/usracing-tvg.gif) no-repeat
}

.footer .col-md-3 {
    clear: none
}

.social-icons {
    margin: 0;
    padding: 0
}

.social-icons li {
    float: left;
    display: inline;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 5px;
    text-indent: -9999px
}

.social-icons li a,
a.social-icon {
    background: url(../../img/icons/social-icons.png) left top no-repeat;
    width: 33px;
    height: 33px;
    display: block;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out
}

.social-icons li:hover a {
    background-position: 0 -43px
}

.social_facebook {
    background-position: 0 0
}

.social-icons li:hover .social_facebook {
    background-position: 0 -43px
}

.social_twitter {
    background-position: -40px 0
}

.social-icons li:hover .social_twitter {
    background-position: -40px -43px
}

.social-icons .social_pintrest a {
    background-size: auto;
    background-image: url(../../img/icons/social-icons1.png);
    width: 33px;
    height: 33px;
    background-position: -80px 0
}

.social-icons li.social_pintrest:hover a {
    background-position: -80px -43px
}

.social_google {
    background-position: -120px 0
}

.social-icons li:hover .social_google {
    background-position: -120px -43px
}

.social_email {
    background-position: -160px 0
}

.social-icons li:hover .social_email {
    background-position: -160px -43px
}

.social_instagram {
	background-position: -200px 0
}
.social-icons li:hover .social_instagram {
	background-position: -200px -43px
}

#processing {
    width: 100%;
    text-align: center;
    margin-top: 40px
}

#processing p {
    margin-top: 1.7em
}


.copyright {
    font-size: 12px;
    padding: 0 5px;
    background: #003158;
    height: 40px;
    color: #376890;
    display: table;
    width: 100%
}

.copyright span {
    color: #dadada
}

.copyright span.brand {
    margin-top: 40px;
    margin-right: 10px
}

.copyright a {
    margin: 0;
    color: #fff
}

.copyright a:hover {
    color: #fff
}