a, input, img { outline:0; }
td { padding:0; }
.bodyPrincipal { color: #000000; padding:0; margin:0; width:100%; height:100%; }
#dvMainConteiner { width:100% !important; height: auto !important; overflow-x:hidden; overflow-y:auto !important; padding:0; margin:0; }
input#btnPrint { background: url('images/Controls/printBtn.gif') no-repeat top left; border:0; width:44px; height:17px; display:block; margin:0 0 10px; cursor:pointer; }
input#btnPrint:hover { background-position: right bottom; }
#wagerFrom, #resutlForm { display:block; width:550px; margin:0 auto; border:1px solid #1b579f; padding:10px; }
#wagerFrom .title, #resutlForm .title { color:#fff; font-weight:bold; text-transform:uppercase; background:#1b579f url('images/Win1/win1_header.gif') repeat-x; height:18px; line-height:18px; border-bottom:2px solid #aad3ff; }
#wagerFrom #lblComment, #resutlForm #lblComment { background:#edf6ff; padding:10px; margin:0 auto; display:block; }
#wagerFrom .LabelSingle, #resutlForm .LabelSingle { color:#000; font-size:11px; }
.bodySecundary { width:100%; padding:0; margin:0; }
.bodySecundary > table { background-color: transparent !important;}
/* Odds Styles */
.currentOdds { font-family: Helvetica, Arial, Verdana; font-weight: bold; font-size: 11px; border: solid 1px #FCFF00; text-align: right; height: 14px; }
/* The Module's custom scrollbar styles */
.moduleScrollBars { overflow: auto; width: 320px; height: 300px; /*scrollbar-face-color:#660000; 	scrollbar-3dlight-color:#999999; 	scrollbar-arrow-color:#eeeeee; 	scrollbar-base-color:#eeeeee;*/ /* 	scrollbar-track-color:buttonface; 	scrollbar-shadow-color:#eeeeee; 	scrollbar-highlight-color:#eeeeee; 	scrollbar-darkshadow-color:#999999;*/ }
/* FieldSet Styles */
.Head { border-style: solid; border-color: #AAD3FF; border-width: 1px; font-weight: bold; font-size: 10pt; color: #333333; font-family: Helvetica, Arial, Verdana; padding:10px 0 10px 10px; }
.SubHead { font-weight: bold; font-size: 8pt; color: #333333; padding-top: 4px; font-family: Helvetica, Arial, Verdana; }
.SubSubHead { font-weight: bold; font-size: 11px; color: #000; font-family: Helvetica, Arial, Verdana; }
.HeadRaceOrder { border:1px solid #aad3ff; font-weight: bold; font-size: 10pt; color: #333333; font-family: Helvetica, Arial, Verdana; margin:0; padding:7px; display:block; width:486px; }
.SubHeadRaceOrder { font-weight: bold; font-size: 8pt; color: #333333; padding-top: 4px; font-family: Helvetica, Arial, Verdana; }
.SubSubHeadRaceOrder { background: transparent; font-weight: bold; font-size: 11px; color: #000000; font-family: Helvetica, Arial, Verdana; padding:0 5px; }
/* Windows Styles */
.Win1Body { background-color: #FFF; }
.Win2Body { background-color: #FFF; }
.Win3Body { width:486px; background-color: #FFF; }
.Win3Body td { vertical-align:middle; }
.Win3Body span#label_ddEvents { line-height:18px; }
.Win3Body table { }
.Win3Body #rblPools { padding:5px 0; width:100%; }
/* RaceBook */
.TimeNumbers { font-weight: bold; font-size: 10px; color: #1b579f; font-family: Helvetica, Arial, Verdana; }
.MTPBackground { background-color: #f2f9ff; padding: 0px 0px; line-height:17px; border: 1px solid #aad3ff; }
.LabelMTP { font-weight: bold; font-size: 12px; color: #000000; font-family: Helvetica, Arial, Verdana; }
.MTPBackgroundBlinking { background-color: #D30000; line-height:17px; padding: 0px 0px; border: 1px solid #7A0000; }
.LabelMTPBlinking { font-weight: bold; font-size: 12px; color: #FFF; font-family: Helvetica, Arial, Verdana; }
.WaitMessage { background-color: #1b579f; visibility: hidden; position: absolute; border-right: thin outset; border-left: thin outset; border-top: thin outset; border-bottom: thin outset; z-index: 101; bottom: auto; width: 260px; height: 60px; color: #FFFFFF; font-weight: bold; font-size: medium; font-family: Helvetica, Arial, Verdana; text-align: center; vertical-align: middle; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; }
/* Styles for Track menu */
#dvMenus { }
#dvMenuTrack { }
.TrackMenuList /*, .TrackMenuList:link, .TrackMenuList:visited, .TrackMenuList:active */ { font-size: 10px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; font-weight: bold; }
/*
.TrackMenuList:hover
{
	font-size:10px; 
	color:#FFCC00;
	font-family:Verdana, Helvetica, Arial;
	font-weight:bold;
}
*/
.TrackMenuListSelected, .TrackMenuListSelected:link, .TrackMenuListSelected:visited, .TrackMenuListSelected:active { background: #737373; font-size: 10px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; font-weight: bold; padding: 0px 0px; border: 1px dashed #FFFFFF; }
.TrackMenuListSelected:hover { font-size: 10px; color: #FFCC00; font-family: Helvetica, Arial, Verdana; font-weight: bold; }
.navbar { position: relative; width: 100%; }
.buttons { margin: 0px 0px 0px 0px; padding: 0px 0px 00px 0px; white-space: nowrap; /*border: 0px solid #B0B9CA;*/ }
.buttons a { float: left; height: 100%; width: 100%; padding: 0px 0px; color: #FFFFFF; text-decoration: none; border: 1px solid #4A4A4A; }
.buttons a:hover { color: #FFCC00; border: 1px dashed #FFFFFF; text-decoration: underline; background: #737373; }
.MenuHeaderTitle, .MenuHeaderTitle:link, .MenuHeaderTitle:visited, .MenuHeaderTitle:active { cursor: pointer; text-decoration: underline; font-weight: bold; font-size: 10px; color: #E3E3E3; font-family: Helvetica, Arial, Verdana; }
.MenuHeaderTitle:hover { cursor: pointer; font-weight: bold; font-size: 10px; color: #FFCC00; font-family: Helvetica, Arial, Verdana; }
.HeaderTitle { font-weight: bold; font-size: 10px; color: #FFCC00; font-family: Helvetica, Arial, Verdana; display:block; }
.HeaderTitleTZ { font-weight: bold; font-size: 10px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; display:block; }
.MenuTitle { font-weight: bold; font-size: 11px; color: #000; font-family: Helvetica, Arial, Verdana; }
.WinRaceInformationTitle { font-weight: bold; font-size: 10px; color: #000; font-family: Helvetica, Arial, Verdana; }
.MenuTrackListHeader { background-repeat: repeat-x; background-image: url(images/win1/win1_header.gif); background-color:#115daa; border-bottom:2px solid #aad3ff; }
.MenuTrackListHeader td { vertical-align:top; padding-top:0 !important; }
.MenuTrackListHeader .LabelMenuTitle { padding-bottom:0; }
.MenuTrackListHeader > table { width:100%; }
.MenuTrackListHeader td img { display:block; }
.TrackListRefresh { background: transparent url('images/Controls/btnGrn1.gif') no-repeat top right; font-size: 10px; font-weight: bold; color: #FFF; font-family: Helvetica, Arial, Verdana; display:block; text-align:center; padding:0; border:0; height:23px; width:75px; margin-bottom:0; cursor:pointer; }
input:hover.TrackListRefresh { background-position: bottom right; }
.MenuNumbers { font-weight: bold; font-size: 10px; color: #000; font-family: Helvetica, Arial, Verdana; }
/* Styles for navigation menu*/
.NavMenuTable { border: 1px solid dimgray; font-size: 9pt; font-family: Helvetica, Arial, Verdana; }
.NavSubMenuTable { border-right: #8a867a 1px solid; border-top: #8a867a 1px solid; border-left: #8a867a 1px solid; border-bottom: #8a867a 1px solid; font-family: Helvetica, Arial, Verdana; font-size: 8pt; }
.NavMenuHeaderLink { color: #FFFFFF; text-decoration: none; width: 100%; height: 100%; font-weight: bold; }
.NavMenuHeaderLink:link { color: #FFFFFF; text-decoration: none; }
.NavMenuItemIcon { background-color: #441311; }
.NavMenuMainDiv { visibility: hidden; position: Static; z-index: 1; height: auto; width: auto; left: 0px; top: 0px; border: outset 0px; }
.NavMenuSubDiv { visibility: hidden; position: absolute; z-index: 1; height: auto; left: 1px; top: 1px; /*overflow:auto;*/ }
.NavMenuIframe { position: absolute; top: 0px; left: 0px; display: none; }
/*----------------------------*/
/*INFORMATION TABLE*/
.InfoTitle { background-color: #6DA2D6; }
.InfoLeftColumn { background-color: #0C50A4; }
.InfoRightColumn { background-color: #0C50A4; }
/*-----------------*/
.ErrorText { color: #000; font-family: Helvetica, Arial, Verdana; font-size: 11px; }
.ErrorTextMenu { color: #000; font-family: Helvetica, Arial, Verdana; font-size: 10px; font-weight: bold; text-align: center; }
/*Marquee*/
.MenuMarquee { background-color: #00205A; color: #ffbb00; font-size: 10px; font-weight: 600; font-family: Helvetica, Arial, Verdana; border-width: 0px; }
.BackgroundMenu { background-color: #FFF; }
.BackgroundContents { background-color: #86927C; }
.BackgroundBetZone { background-color: #FFF; }
#trBetZone table td { }
#trBetZone #lblTrackName.HeaderTitle { line-height:11px;}
.TableHeader { background-color: transparent; font-size: 10px; font-weight: bold; color: #000; font-family: Helvetica, Arial, Verdana; }
#tlbTracks_Header .TableHeader { color:#FFF; }
#tlbRunners1 .TableHeader, #tlbRunners2 .TableHeader, #tlbRunners3 .TableHeader, #tlbRunners4 .TableHeader { color: #000; }
.SingleTable { background-color: #FFF; font-size: 11px; color: #000; font-family: Helvetica, Arial, Verdana; }
.AlternatingTable { background-color: #e5e5e5; font-size: 11px; color: #000; font-family: Helvetica, Arial, Verdana; }
#ucBetSlip_dtlWager .SingleTable td { padding:2px 5px; }
#ucBetSlip_dtlWager .AlternatingTable td { padding:2px 5px; }
#ucBetSlip_dtlWager #detail0, #ucBetSlip_dtlWager #detail1, #ucBetSlip_dtlWager #detail2, #ucBetSlip_dtlWager #detail3, #ucBetSlip_dtlWager #detail4, #ucBetSlip_dtlWager #detail5, #ucBetSlip_dtlWager #detail6, #ucBetSlip_dtlWager #detail6, #ucBetSlip_dtlWager #detail8 { color:#1b579f; }
.LabelRunner { font-size: 11px; color: #000; font-family: Helvetica, Arial, Verdana; }
.LabelRunnerAlternating { font-size: 11px; color: #000; font-family: Helvetica, Arial, Verdana; }
.LabelRunnerScratched { font-size: 11px; color: #932626; font-family: Helvetica, Arial, Verdana; text-decoration: line-through; }
.LabelRunnerProgramLetter { font-size: 10px; color: #000000; font-family: Helvetica, Arial, Verdana; }
.ProgramLetterTable { background-color: #AEA7A6; font-size: 10px; color: #000000; font-family: Helvetica, Arial, Verdana; }
.HorseScratched { background-color: #E6A7A7; font-size: 10px; color: #000000; font-family: Helvetica, Arial, Verdana; text-decoration: line-through; }
.ProgramNumberScratched { position: relative; width: 16px; height: 16px; color: #000000; font-size: 10px; font-weight: bold; font-family: Helvetica, Arial, Verdana; text-align: right; vertical-align: middle; margin: 0px; padding: 1px 0 0 0; border: solid 1px black; }
.ProgramNumber { color: #FFCC00; font-size: 11px; font-weight: bold; font-family: Helvetica, Arial, Verdana; text-align: right; vertical-align: middle; }
.ProgramNumberAlternating { color: #FFCC00; font-size: 11px; font-weight: bold; font-family: Helvetica, Arial, Verdana; text-align: right; vertical-align: middle; }
.HorseProgramLetter { position: relative; width: 16px; height: 16px; color: #000000; font-size: 11px; font-weight: bold; font-family: Helvetica, Arial, Verdana; vertical-align: middle; margin: 0 5px 0 0; padding: 1px 0 0 0; border: solid 1px black; text-align:center; line-height:16px; }
.RaceOrder { font-weight: bold; font-size: 10px; color: #000; font-family: Helvetica, Arial, Verdana; }
.AlternatingTransactionTable { background-color: #333333; font-size: 10px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; }
.TableHeaderCombinations { background-color: #AB0404; font-weight: 600; font-size: 10px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; }
.AlternatingTableCombinations { background-color: #333333; font-size: 10px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; }
.LineSeparator { background-color: #000000; }
/*BEGIN MENU STYLES*/
.PlayerName { font-weight: bold; font-size: 10px; color: #ffbb00; font-family: Helvetica, Arial, Verdana; }
.PlayerLogin { background-color: #ffbb00; font-weight: bold; font-size: 10px; color: #000000; font-family: Helvetica, Arial, Verdana; }
.PlayerFound { font-weight: bold; font-size: 10px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; }
.PlayerNotFound { background-color: #AD102C; font-weight: bold; font-size: 10px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; }
.PlayerTemporarilyInactive { background-color: #000000; font-weight: bold; font-size: 10px; color: #FF0000; font-family: Helvetica, Arial, Verdana; }
/*END MENU STYLES*/
/*Buttons*/
.ButtonText { font-weight: bold; font-size: 10px; color: #000000; font-family: Helvetica, Arial, Verdana; padding:3px 0; }
input.ButtonText { padding:0; }
.ButtonText:hover { font-weight: bold; font-size: 10px; color: #1b579f; font-family: Helvetica, Arial, Verdana; text-decoration: none; cursor:pointer; }
/*   */
.CheckBoxText { font-size: 9px; color: #000000; font-family: Helvetica, Arial, Verdana; }
/*  */
.RadioButtonList, .RadioButtonList:link, .RadioButtonList:visited, .RadioButtonList:active { font-size: 10px; color: #000000; font-family: Helvetica, Arial, Verdana; font-weight: bold; cursor: pointer; }
.RadioButtonList:hover { font-size: 10px; color: #898F8F; font-family: Helvetica, Arial, Verdana; font-weight: bold; }
.Label { font-weight: normal; font-size: 10px; color: #000000; font-family: Helvetica, Arial, Verdana; }
.Title { /*, .Title:link, .Title:visited, .Title:active*/
    font-weight: bold; font-size: 10px; color: #000; font-family: Helvetica, Arial, Verdana; }
/*.Title:hover
{
	font-weight : bold ;
	FONT-SIZE:9px; 
	COLOR:#FFFFFF; 
	FONT-FAMILY:Verdana, Helvetica, Arial
}*/

.LabelSingle { font-size: 10px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; }
.LabelTicket { font-weight: bold; font-size: 10px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; }
.TitleTicket { font-weight: bold; font-size: 10px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; }
.BetAmountTicket { font-weight: bold; font-size: 10px; color: #ffbb00; font-family: Helvetica, Arial, Verdana; }
.ConfirmationNumber { font-weight: bold; font-size: 11px; color: #ffbb00; font-family: Helvetica, Arial, Verdana; }
.BetAmount { font-weight: bold; font-size: 10px; color: #ffbb00; font-family: Helvetica, Arial, Verdana; }
#tblBetSlip td table { background-color:#115DAA; border-bottom:2px solid #aad3ff; } /* Bet Slip Header */
#tblBetSlip .ContentsZoneTable { background-color:#fff; }
#tblBetSlip .ContentsZoneTable td { padding:5px 0; }
#tblBetSlip table#ucBetSlip_dtlWager { border:0; }
#tblBetSlip .LabelMenuTitle { }
#tblBetSlip #ucBetSlip_lblInformation { padding-bottom:0; }
#ucBetSlip_dvBetSlipMessageEmpty .LabelMenuTitle { color:#000; font-weight:normal; font-size:11px; }
#tblBetSlip #tableError { background-color:#c7e3ff; }
#tblBetSlip #tableError td { padding:8px; }
#dvShopCar #detail { border:1px solid #1b579f; }
#dvShopCar #detail tr.TableHeader { background:#1b579f; }
#dvShopCar #detail tr.TableHeader th { padding:3px 0; color:#FFF; }
#dvShopCar #detail tr.SingleTable td { text-align:center; }
#dvShopCar #detail tr.AlternatingTable td { text-align:center; }
/* Betting Tools */
#dvMenuBettingTools tr.LabelMenuTitleSelected { background-color:#D9ECFF; padding:0; color:#000; }
#dvMenuBettingTools tr.LabelMenuTitleOver { background-color:#D9ECFF; padding:0; }
#dvMenuBettingTools tr.AlternatingTable { background-color:#FFF; padding:0; }
#dvMenuBettingTools tr.SingleTable { background-color:#FFF; padding:0; }
#dvMenuBettingTools tr.LabelMenuTitleSelected td, #dvMenuBettingTools tr.LabelMenuTitleOver td, #dvMenuBettingTools tr.AlternatingTable td, #dvMenuBettingTools tr.SingleTable td { padding:0 5px; color:#000; border-bottom:1px solid #D9ECFF; }
#dvMenuBettingTools table { border-top:1px solid #D9ECFF; }
#dvMenuBettingTools td span { padding:0; display:block !important; font-size:11px; line-height:12px; height:auto !important; }
#dvBettingTools .title { font-weight:bold; }
#dvBettingTools .LabelSingle { color:#000; }
#dvFavorite .LabelSingle { color:#000; }
#dvFavorite label { color:#000; font-size:11px; padding-left:3px; }
/* Top Nav */
#dvMenuHeader { background:#1b579f url('images/Win1/win1_header.gif') repeat-x; border-bottom:2px solid #AAD3FF; }
#dvMenuHeader .bodySecundary { width:100% !important; }
#dvHeaderMainTrackListToBet { margin-bottom:7px; }/* Tabbed Races Header Menu */
#dvHeaderMainTrackListToBet .LabelMenuTitle { background:url('images/Controls/tabs-bg.gif') repeat-x; border:1px solid #1b579f; color:#1b579f; text-transform:uppercase; }
#dvHeaderMainTrackListToBet .LabelMenuTitleOver { background:url('images/Controls/tabs-bg.gif') repeat-x; color:#000; border:1px solid #1b579f; text-transform:uppercase; }
#dvHeaderMainTrackListToBet .LabelMenuTitleSelected { background:#1b579f; border:1px solid #1b579f; color:#FFF; text-transform:uppercase; }
#dvHeaderMainTrackListToBet table td { vertical-align:middle; }
span#ucTrackListToBetFeaturedRaces_lblNoTrackListRaces { height:auto !important; display:block !important;}
.LabelMenuTitle, .LabelMenuTitle:link, .LabelMenuTitle:visited, .LabelMenuTitle:active { font-weight: bold; font-size: 10px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; display:block; height:auto; padding:5px 0; line-height:12px; text-align:center; }
.LabelMenuTitleOver { font-weight: bold; font-size: 10px; background-color: #347dca; color: #FFF; font-family: Helvetica, Arial, Verdana; display:block; height:auto; padding:5px 0; line-height:12px; text-align:center; cursor:pointer; }
.LabelMenuTitleSelected { font-weight: bold; font-size: 10px; background-color: #76aae8; color: #FFF; font-family: Helvetica, Arial, Verdana; display:block; height:auto; padding:5px 0; line-height:12px; text-align:center; }
.LabelWhite { font-weight: 600; font-size: 10px; color: #000; font-family: Helvetica, Arial, Verdana; }
.title { font-weight: normal; font-size: 11px; color: #000; font-family: Helvetica, Arial, Verdana; padding:5px; display:block; }
/* Fonts */
FONT { color: Black; font-size: 8pt; font-family: Helvetica, Arial, Verdana; }
FONT.bolded { color: Black; font-size: 8pt; font-family: Helvetica, Arial, Verdana; font-weight: bold; }
/* Data Grids */
.datagrid_main { background-color: #001A48; border-color: #FFFFFF; padding: 3; font-size: 10px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; }
.datagrid_main_header { background-color: #00163F; font-weight: 600; font-size: 10px; color: #ffbb00; font-family: Helvetica, Arial, Verdana; }
.datagrid_main_edit_textbox { font-family: Helvetica, Arial, Verdana; font-size: 8pt; }
/* Labels */
.messageLabel { font-family: Helvetica, Arial, Verdana; font-size: 8pt; color: Red; }
/* Buttons */
.button { font-family: Helvetica, Arial, Verdana; font-size: 8pt; }
/*TextBoxes*/
.textbox { font-family: Helvetica, Arial, Verdana; font-size: 8pt; }
.TextboxNumeric { font-weight: bold; font-size: 10px; color: #AD102C; font-family: Helvetica, Arial, Verdana; margin:3px 0; }
.TextBoxAmount { background-color: #333333; font-size: 10px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; font-weight: bold; }
.TextBoxAmountError { background-color: #C23232; font-size: 10px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; font-weight: bold; }
.SendBetsLine { background-color: #585757; font-size: 10px; color: #000000; font-family: Helvetica, Arial, Verdana; font-weight: bold; border-left: 30px; text-indent: 30px; }
/*DropDownList*/
.dropdownlist { font-family: Helvetica, Arial, Verdana; font-size: 8pt; }
.dropdownlistTitle { font-weight: bold; font-size: 9px; color: #000000; font-family: Helvetica, Arial, Verdana; }
/*Calendar*/
.calendarLabel { font-weight: bold; font-family: Helvetica, Arial, Verdana; font-size: 8pt; color: #1b579f; }
.calendarLabelBold { font-weight: bold; font-family: Helvetica, Arial, Verdana; font-size: 8pt; color: #000; }
.calendarRadioButton { font-family: Helvetica, Arial, Verdana; color: #1b579f; font-size: 8pt; }
.calendarDayStyle { font-family: Helvetica, Arial, Verdana; color: #000000; font-size: 8pt; }
.calendarTitleStyle { background-color: #4D70B5; font-family: Helvetica, Arial, Verdana; font-size: 8pt; border-color: #000000; color: #000; }
.calendarNextPrevStyle { background-color: #4D70B5; font-family: Helvetica, Arial, Verdana; font-size: 8pt; border-color: #000000; color: #FFFFFF; }
.calendarLinkMenu, .calendarLinkMenu:link, .calendarLinkMenu:visited, .calendarLinkMenu:active { font-size: 10px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; font-weight: bold; }
.calendarLinkMenu:hover { font-size: 10px; color: #ffbb00; font-family: Helvetica, Arial, Verdana; font-weight: bold; }
.ParentTable { background-color: #FFFFFF; }
.TitleZoneTable { background-color: #00205A; }
.ContentsZoneTable { background-color: #FFFFFF; }
.FooterZoneTable { background-color: #000000; }
.ReadBackHeader { background-color: #E5E5E5; }
.ReadBackSingleTable { background-color: #C7C7C7; font-size: 12px; color: #000000; font-family: Helvetica, Arial, Verdana; }
.ReadBackAlternatingTable { background-color: #FFFFFF; font-size: 12px; color: #000000; font-family: Helvetica, Arial, Verdana; }
.ReadBackLabel { font-size: 11px; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; }
.ReadBackTitle { font-size: 11px; color: #000; font-family: Helvetica, Arial, Verdana; font-weight:bold; }
.ReadBackRaceLabel { font-weight: bold; font-size: 12px; color: #000000; font-family: Helvetica, Arial, Verdana; }
.ReadBackPoolLabel { font-weight: bold; font-size: 12px; color: #000000; font-family: Helvetica, Arial, Verdana; }
.ReadBackHorseLabel { font-weight: bold; font-size: 11px; color: #99CCFF; font-family: Helvetica, Arial, Verdana; }
.ReadBackAmountPlaced { font-weight: normal; font-size: 11px; color: #AD1212; font-family: Helvetica, Arial, Verdana; }
.ReadBackAmountTotal { font-weight: bold; font-size: 12px; color: #AD1212; font-family: Helvetica, Arial, Verdana; }
.ReadBackDateEvent { font-size: 11px; color: #000000; font-family: Helvetica, Arial, Verdana; }
.ReadBackConfirmationNumber { font-size: 11px; color: #000000; font-family: Helvetica, Arial, Verdana; }
.ReadBackLinkMenu, .ReadBackLinkMenu:link, .ReadBackLinkMenu:visited, .ReadBackLinkMenu:active { font-size: 10px; color: #2359C6; font-family: Helvetica, Arial, Verdana; font-weight: bold; }
.ReadBackLinkMenu:hover { font-size: 10px; color: #000000; font-family: Helvetica, Arial, Verdana; font-weight: bold; }
/************************************************/
/*				PARLAY							*/
/************************************************/
#WinParlayPage td { padding:0; }
#WinParlayPage .moduleScrollBars { padding-bottom:10px; }
#divWinParlayHeader td img { display:block; }
.ParlayWinTitle { font-weight: bold; font-size: 11px; color: #FFF; font-family: Helvetica, Arial, Verdana; text-transform:uppercase; padding-top:5px; display:block; }
TABLE.Parlay { background: #E8EDE4; border: 1px solid #000; border-bottom:0; }
TABLE.Parlay TH { font-family: Helvetica, Arial, Verdana; font-size: 10px; font-weight: bold; background-color: #1b579f; border: 0; color: white; padding:3px 0; list-style: disc inside; }
TABLE.Parlay th+th { border-left: 1px solid #FFF; }
TABLE.Parlay a { font-family: Helvetica, Arial, Verdana; font-size: 10px; font-weight: bold; float: left; height: 18px; width: 90%; padding: 0px 0px; color: #FFFFFF; text-decoration: none; border: 1px dashed #000; background: #347dca; }
TABLE.Parlay a:hover { color: #000000; border: 1px dashed #000000; text-decoration: underline; background: #ffbb00; }
.ParlayListSelected { background: #D9ECFF; font-size: 10px; color: #000000; font-family: Helvetica, Arial, Verdana; font-weight: bold; padding: 0px 0px; border: 1px dashed #6D7A88; text-align:center; }
TABLE.ParlayRunners { font-family: Helvetica, Arial, Verdana; font-size: 10px; border:1px solid #000; border-top:0; border-bottom:0; }
TABLE.ParlayRunners TD { font-family: Helvetica, Arial, Verdana; font-size: 10px; border:0; color: #000; list-style: disc inside; padding:0; }
#tlbParlayEntries tr.SingleTable td { text-align:center; color:#000; }
#tlbParlayEntries tr.AlternatingTable td { text-align:center; color:#000; }
#tlbParlayEntries .ParlayRunners tr.SingleTable td { padding:2px 0; }
#tlbParlayEntries .ParlayRunners tr.AlternatingTable td { padding:2px 0; }
#tlbParlayEntries.Parlay { border:0; border-left:1px solid #000; }
/*Links*/
/*A:link	{	
	text-decoration: none;
	color:	 #000000;
	}	
		
A:visited	{	
	text-decoration:	none;
	color:	Black ;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	 #FFBA35;
	}	
		
A:hover	{	
	text-decoration:	underline;
	color:#898989  ;
	}*/

.ProgramNumberGeneric { height: 16px; width: 16px; background-color: #A2CBEE; font-size: 11px; font-family: Helvetica, Arial, Verdana; text-align: center; margin: 0px; padding: 0; color: white; border: solid 1px black; }
.ProgramNumberT1, .ProgramNumberT2, .ProgramNumberT3, .ProgramNumberT4, .ProgramNumberT5, .ProgramNumberT6, .ProgramNumberT7, .ProgramNumberT8, .ProgramNumberT9, .ProgramNumberT10, .ProgramNumberT11, .ProgramNumberT12, .ProgramNumberT13, .ProgramNumberT14, .ProgramNumberH1, .ProgramNumberH2, .ProgramNumberH3, .ProgramNumberH4, .ProgramNumberH5, .ProgramNumberH6, .ProgramNumberH7, .ProgramNumberH8, .ProgramNumberH9, .ProgramNumberH10, .ProgramNumberH11, .ProgramNumberH12 { position: relative; width: 16px; height: 16px; font-size: 11px; font-family: Helvetica, Arial, Verdana; font-weight: bold; text-align: center; margin: 0px; padding: 0; border: solid 1px black; line-height:16px; display:block; margin-right:5px; }
.ProgramNumberT1 { background-color: #D20001; color: white; }
.ProgramNumberT2 { background-color: #F0F0F0; color: black; }
.ProgramNumberT3 { background-color: #2D2EFA; color: white; }
.ProgramNumberT4 { background-color: #E8EA31; color: black; }
.ProgramNumberT5 { background-color: #008001; color: white; }
.ProgramNumberT6 { background-color: #242424; color: yellow; }
.ProgramNumberT7 { background-color: #FB581F; color: black; }
.ProgramNumberT8 { background-color: #FBAABD; color: black; }
.ProgramNumberT9 { background-color: #22C5C4; color: black; }
.ProgramNumberT10 { background-color: #8700CF; color: white; }
.ProgramNumberT11 { background-color: #8A8A8A; color: red; }
.ProgramNumberT12 { background-color: #87D600; color: black; }
.ProgramNumberT13 { background-color: silver; color: white; }
.ProgramNumberT14 { background-color: silver; color: white; }
.ProgramNumberH1 { background-color: #D20001; color: white; }
.ProgramNumberH2 { background-color: #2D2EFA; color: white; }
.ProgramNumberH3 { background-color: #F0F0F0; color: black; }
.ProgramNumberH4 { background-color: #008001; color: white; }
.ProgramNumberH5 { background-color: #242424; color: white; }
.ProgramNumberH6 { background-color: #E8EA31; color: black; }
.ProgramNumberH7 { background-color: #FBAABD; color: white; }
.ProgramNumberH8 { background-color: #8C8C8C; color: black; }
.ProgramNumberH9 { background-color: #8500CD; color: white; }
.ProgramNumberH10 { background-color: #D20001; color: white; }
.ProgramNumberH11 { background-color: #93ACFC; color: white; }
.ProgramNumberH12 { background-color: #CF0200; color: black; }
/* BEGIN RACE LIST */
.CellOver, .CellUnSelected:hover { background-color: transparent; color: #000; background-image: url(images/Controls/TabMenuOver.gif); background-repeat: no-repeat; background-position: left; cursor:pointer; padding-right:1px; }
.CellClicked { background-color: transparent; color: #FFFFFF; background-image: url(images/Controls/TabMenuSelected.gif); background-repeat: no-repeat; background-position: left; padding-right:1px; }
.CellUnSelected { font-size: 10px; font-family: Helvetica, Arial, Verdana; font-weight: bold; color: #000000; background-color: transparent; background-image: url(images/Controls/TabMenu.gif); background-repeat: no-repeat; background-position: left; padding-right:1px; }
/* END RACE LIST */

/* BEGIN TRACK LIST */
.TrackLineSeparator { background-color: #FFF; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; font-weight: bold; border-bottom:1px solid #AAD3FF; display:none; }
TABLE.tlbTracks { font-size: 11px; font-family: Helvetica, Arial, Verdana; font-weight: bold; color: #1b579f; }
TABLE.tlbTracks TH { background-color: #000000; font-size: 10px; font-family: Helvetica, Arial, Verdana; font-weight: bold; color: #000; }
TABLE.tlbTracks TR { font-size: 11px; font-family: Helvetica, Arial, Verdana; font-weight: bold; }
TABLE.tlbTracks TR:hover { font-size: 11px; font-family: Helvetica, Arial, Verdana; font-weight: bold; color: #1b579f; cursor:pointer; }
TABLE.tlbTracks TD { font-size: 11px; font-family: Helvetica, Arial, Verdana; font-weight: bold; color: #1b579f; cursor:pointer; border-bottom:1px solid #D9ECFF; padding:3px 5px; line-height:12px; }
TABLE.tlbTracks TD:hover { font-size: 11px; font-family: Helvetica, Arial, Verdana; font-weight: bold; color: #1b579f; cursor:pointer; }
.RaceFeatured { background-color: #D9ECFF; color: #1b579f; font-family: Helvetica, Arial, Verdana; font-weight: bold; padding:3px 5px; line-height:12px; cursor:pointer; }
TR.TrackRollOver, TR.TrackRollOver TD { background-color: #D9ECFF; color: #1b579f; padding:3px 5px; line-height:12px; }
TR.TrackRowClick, TR.TrackRowClick TD, TR.TrackRowClick TD:hover { background-color: #D9ECFF; color: #1b579f; padding:3px 5px; line-height:12px; }
#tlbTracks_Header { margin-top:0; }
#tlbTracks_Header .tlbTracks TD { border-color:#f2f2f2 !important; border-top:0; border-bottom:0; border:0 !important; } /*Upcoming Track List */
/* END TRACK LIST */

/* Error Messages */
.AlertMessage { font-family: Verdana; color: #FFFFFF; font-size: 14px; font-weight: bold; text-align: center; }
.AlertMessageTitle { font-family: Verdana; color: #F6C954; font-size: 16px; font-weight: bold; text-align: center; }
/* REPORTS STYLES */

.ReportTable { border-collapse: collapse; background-color: #FFFFFF; }
.ReportTable .ReportTitle { background:#eaeaea; padding: 5px; }
.ReportTable .RequestDate { background:#eaeaea; padding: 5px; }
.ReportTable .TotalReportLine { background:#eaeaea; padding: 5px; }
.ReportTitle { font-family: Arial; font-size: 12pt; font-weight: bold; }
.RequestDate { font-family: Arial; font-weight: bold; font-size: 8pt; }
.SectionHeaderLevel1 { font-family: Arial; font-size: 9pt; font-weight: bold; color: Blue; }
.SectionHeaderLevel2 { font-family: Arial; font-size: 9pt; font-weight: bold; color: Red; }
.SectionHeaderLevel3 { font-family: Arial; font-size: 8pt; font-weight: bold; color: Gray; }
.DetailHeader { font-family: Arial; font-size: 8pt; }
.DetailData { font-family: Arial; font-size: 8pt; }
.SectionTicketTotal { font-family: Arial; font-size: 8pt; font-weight: bold; }
.SectionTicketTotalNumber { font-family: Arial; font-size: 8pt; font-weight: bold; color: Green; border-top-style: solid; border-top-width: 1px; border-top-color: Black; }
.SectionPlayerTotal { font-family: Arial; font-size: 8pt; font-weight: bold; color: Navy; }
.SectionPlayerTotalNumber { font-family: Arial; font-size: 8pt; font-weight: bold; color: Blue; border-top-style: solid; border-top-width: 1px; border-top-color: Black; }
.TotalReportLine { font-family: Arial; font-size: 8pt; font-weight: bold; border-top-style: solid; border-top-width: 1px; border-top-color: Black; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: Black; }
.EndReport { font-family: Arial; font-size: 8pt; }
.ColumnHeaderStyle { font-family: Arial; font-size: 8pt; border-top-style: groove; border-top-width: 1px; }
.WonStatus { font-family: Arial; font-size: 8pt; font-weight: bold; color: Green; }
.LostStatus { font-family: Arial; font-size: 8pt; font-weight: bold; color: Red; }
.ScratchStatus { font-family: Arial; font-size: 8pt; font-weight: bold; color: Blue; }
.DisqualifiedStatus { font-family: Arial; font-size: 8pt; font-weight: bold; color: Blue; }
.PastPostStatus { font-family: Arial; font-size: 8pt; font-weight: bold; color: Blue; }
.CancelledStatus { font-family: Arial; font-size: 8pt; font-weight: bold; color: Blue; }
.LateBetStatus { font-family: Arial; font-size: 8pt; font-weight: bold; color: Black; }
/* END REPORTS */

/* Includes*/

OL { color: #017AFF; font-family: Helvetica, Arial, Verdana; font-size: 16px; font-weight: bold; }
.IncludeError { color: #017AFF; font-family: Helvetica, Arial, Verdana; font-size: 16px; font-weight: bold; }
.IncludeErrorSubTitle { color: #017AFF; font-family: Helvetica, Arial, Verdana; font-size: 12px; font-weight: bold; }
.IncludeText { color: #FFFFFF; font-family: Helvetica, Arial, Verdana; font-size: 12px; font-weight: normal; }
/* Error Cart Bet*/
.ErrorBet { border: 1px solid #cc0101; /* background:#fff2f2 url(images/SkinVerde/warning.gif) no-repeat 5px;*/ background-color: White; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FF0000; text-decoration: none; }
td.TrackImageHorseThoroughbred { height: 27px; width: 40px; background-image: url(images/Controls/horseThoroughbred.gif); background-repeat: no-repeat; padding-bottom:5px; }
.TrackImageHorseHarness { height: 27px; width: 40px; background-image: url(images/Controls/horseHarness.gif); background-repeat: no-repeat; display:block; }
.TrackInformationRace { height: 20px; width: 80px; background-image: url(images/Controls/Races.gif); background-repeat: no-repeat; }
.TrackInformationRaceLabel { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFF; text-decoration: none; line-height:20px; }
.TabSelected { background-image: url('images/Controls/tabs-bg-play.gif'); background-repeat: repeat-x; background-color:transparent; height: 20px; width: 88px; font-size: 10px; font-weight: bold; color: #FFFFFF; font-family: Helvetica, Arial, Verdana; text-align:center; vertical-align:middle; cursor:pointer; border:1px solid #1b579f; }
.TabUnSelected { /*   background-color: #4A4A4A;*/
    background-image: url('images/Controls/tabs-bg.gif'); background-color:transparent; width: 88px; height: 20px; font-size: 10px; font-weight: bold; color: #1B579F; font-family: Helvetica, Arial, Verdana; text-align:center; vertical-align:middle; cursor:pointer; border:1px solid #1b579f; }
.TabOver { background-image: url('images/Controls/tabs-bg.gif'); background-repeat: repeat-x; background-color:transparent; width: 88px; height: 20px; font-size: 10px; font-weight: bold; color: #000; font-weight: bold; font-family: Helvetica, Arial, Verdana; cursor:pointer; text-align:center; vertical-align:middle; border:1px solid #1b579f; }
