.footer { color: #999; font-size: 10px; font-family: Arial, Helvetica, sans-serif; }
TABLE.tlbLogin td, th { font-family: Helvetica, Arial, Verdana; font-size: 12px; color: #737373 }
TABLE.tlbLogin td #lblUsername { text-transform:uppercase;}
TABLE.tlbLogin td #Label1 { text-transform:uppercase; }
TABLE.tlbLogin td > img { display:block; }
.bodyLogin { background-color: #FFF; margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; }

.formText { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight:bold; color: #000; padding:0 2px; background-color: #FFF; border-style: solid; border-color: #A7A6AA; border-width:1px; }
.formText:hover { border:1px solid #1B579F; }
.formTable { background-color:#FFF; }
.formTable td { background-repeat:repeat-x; }

#frmIdentification { background-image: url('images/Login/login_bg.gif'); background-repeat:repeat-x; }
