
.content {font-family: Arial, Verdana, sans-serif; font-size:14px; color:#000000; background-color:#FFFFFF; overflow: -moz-scrollbars-vertical; overflow-x: auto; overflow-y: auto;}

.titleBG {background-color:#000000; background: url(sportBanner.gif) 100% 0 repeat-x; height:52px; text-transform: uppercase;}

.title {font-family: Arial, Verdana, sans-serif; font-size:14px; font-weight:bold; color:#FFFFFF; text-align:left; margin:0px; padding: 0 0 0 10px;}

br {line-height:3px;}
form {margin:0px; padding:0px;}

/* IF BET */
.ifBetHeader { font-family: Arial, Verdana, sans-serif; font-size:12px; font-weight:bold; color:#333333;}
#ifBetTable td{ font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; color:#333333;}
#ifBetTable .ifBetTitle { font-weight:bold; color:#FFFFFF;}
.ifBetNotice {background-color:#e5e5e5; border:2px #8b3535 solid; font-family: Arial, Verdana, sans-serif; font-size:11px; color:#333333; text-align: center;}
.footer {background-color:#cccccc; height:30px;}
.footer a:link, .footer a:visited { color:#3366cc; outline: none;}
.footer a:hover { color:#7497de; outline: none;}
.footerText { font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; color:#333333;}

#ifBetTable a:link, #ifBetTable a:visited{color:#555555; text-decoration:underline; outline: none;}
#ifBetTable a:hover {color:#888888; text-decoration:underline; outline: none;}

.menucontainerBG {background-color:#abd4ff;}

.odd {background-color:#FFFFFF; }
.even {background-color:#EFEFEF; }
.overUnder {background-color:#E7E7E7; padding:3px 0 3px 0;}


.submenuBG {background-color:#105ca9;}

.menuAlign {padding-left:10px; text-align:left;}

.betStepsText {color:#ffbb00; font-weight:normal; font-size: 10px;}

.border {border: 1px #1b579f solid;}
.trLine {background-color:#d0d0d0; height:2px;}

.titleHeader {background-color:#333333; color:#FFFFFF;}
.bottomBG {background-color:#000000; background: url(bottomBanner.gif) 100% 0 repeat-x; height:12px;}
