/* Print Formatting */
.dontPrint {display:none;}
.printInfo {display:block;}
.betTicketSection { border: 5px solid #803500; background-color: #FFF; width: 35%;}
#confirmationblock {display:none;}
#confirm {display:none;}

.printHeader .title {width: 98%; font-size:16px; font-weight:bold; border: 1px #888888 solid; padding: 2px; text-align:center;}
.printHeader .name {font-size:16px; font-weight:normal; text-align:center;}
.printHeader .url {font-size:11px; font-weight:normal; text-align:center;}
.printHeader .date {font-size:12px; font-weight:bold; text-align:center; margin: 3px; border: 1px solid black;}


/* GLOBAL STYLES */
TD {color:#000000; font-family: Arial, Verdana, sans-serif; font-size:12px;}
INPUT {font-family: Arial, Verdana, sans-serif; font-size:12px;}
SELECT {font-family: Arial, Verdana, sans-serif; font-size:12px;}

a:link, a:visited { color:#999999; outline: none;}
a:active {color:#000000; outline: none;}
a:hover { color:#c7c7c7; outline: none;}
br {line-height:3px;}
form {margin:0px; padding:0px;}

.titleHeader {background-color:#333333; color:#FFFFFF;}

#wagerTable {width:100%;}
#wagerTable td {color:#333333; font-family: Arial, Verdana, sans-serif; font-size:11px; }
.regText{color:#000000; font-family: Arial, Verdana, sans-serif; font-size:12px; font-weight:normal;}
.whiteText {color: #FFFFFF}

.ticketHeader {font-family: Arial, Verdana, sans-serif; font-size:14px; font-weight:bold; color:#ffcc33;}
.header {font-family: Arial, Verdana, sans-serif; font-size:14px; font-weight:bold; color:#FFFFFF; text-align:center;}

.noticeBk { background-color:#1c1c1c;}
.noticeTitle {font-family: Arial, Verdana, sans-serif; font-size:11px; color:#9b9b9b; margin:0px; padding-left:10px; padding-right:4px;}
.notice {font-family: Arial, Verdana, sans-serif; font-size:11px; color:#FFFFFF; margin:0px; padding-right:4px;}
.wagerNotice {background-color:#e5e5e5; font-family: Arial, Verdana, sans-serif; font-size:12px; color:#333333; margin:0px; padding:10px; line-height:18px;}
.title {font-family: Arial, Verdana, sans-serif; font-size:14px; font-weight:bold; color:#FFFFFF; text-align:left; margin:0px; padding: 0 0 0 10px;}
.warn {font-family: Arial, Verdana, sans-serif; font-size:12px; color:#000000;}
.message {font-family: Arial, Verdana, sans-serif; font-size:12px; color:#FFFFFF;}
.ticket {font-family: Arial, Verdana, sans-serif; font-size:12px; color:#000000;}
.wait {font-family: Arial, Verdana, sans-serif; font-size:12px; color:#FFFFFF;}

.tableHeaderBold {padding:2px 3px 2px 5px; font-weight:bold; font-size:11px; color:#FFFFFF; text-align:left;}
.headerBG {background-color:#000000; background: url(../images/wagerSubHeader.gif) 100% 0 repeat-x; height:21px;}
.wagerHeader {font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:bold; color:#FFFFFF; text-align:left; margin:0px; padding: 0 0 0 10px;}

.titleBG {background-color:#000000; background: url(../images/sportBanner.gif) 100% 0 repeat-x; height:30px; text-transform: uppercase;}

#titleBG {background-color:#000000; background: url(../images/sportBanner.gif) 100% 0 repeat-x; height:52px; text-transform: uppercase;}
.titlerightBG {background-color:#000000; background: url(../images/sportBanner.gif) 100% 0 repeat-x; height:30px; text-align:right; padding: 0 10px 0 0;}
.bottomBG {background-color:#000000; background: url(../images/bottomBanner.gif) 100% 0 repeat-x; height:12px;}
 
/* CUSTOMIZATION start */
.menuBG {background-color:#706e67;}
.submenuBG {background-color:#63615a;}
.menucontainerBG {background-color:#95928a;}
.menuAlignDark {background-color: #63615a; border:1px #95928a solid; font-weight:normal; font-size: 9px; color: #eabc4b; padding: 3px 0 2px 8px; text-align:left;}
.betTitle {background-color:#706e67; color:#FFFFFF; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; padding: 0 0 0 5px; text-align: left;}
.betWin {background-color:#63615a; color:#eabc4b; font-weight: normal; font-size: 10px; padding: 3px 0 3px 0; text-align: center;}
/* CUSTOMIZATION end */

/* ODDS - PRIMARY WINDOW */
.altpop {cursor:hand;}

#betOdds a:link, #betOdds a:visited{color:#555555; text-decoration:underline; outline: none;}
#betOdds a:hover {color:#888888; text-decoration:underline; outline: none;}
.odd {background-color:#FFFFFF; }
.even {background-color:#EFEFEF; }
.overUnder {background-color:#E7E7E7; padding:3px 0 3px 0;}
.sortOdds {padding:3px 0 3px 0;}
.oddsTitle {background-color:#CCCCCC; color:#333333; font-size:11px; font-weight:bold; padding:3px 0 3px 5px; border-top: 1px solid #999999; border-bottom: 1px solid #999999; text-align: center;}

.menubar {background-color:#6b9928; background: url(../images/menubarBG.gif) 100% 0 repeat-x; height:24px;}
.menubarLeft {background: url(../images/menubar_left.gif) no-repeat; width: 5px; height: 24px;}
.menubarRight {background: url(../images/menubar_right.gif) no-repeat; width: 5px; height: 24px;}
.menuAlign {padding-left:10px; text-align:left;}
.menuNumber {padding-right:4px; text-align:left;}
.betStepsText {color:#eabc4b; font-weight:normal; font-size: 10px;}

.warnBG {background-color:#ff0000;}
.messageBG {background-color:#0000cc;}
.ticketBG {background-color:#00ff00;}
.waitBG {background-color:#0000ff;}

.wagerLeftAlign { padding:5px 0 5px 10px;text-align:left;}
.noHorizScroll {overflow: -moz-scrollbars-vertical; overflow-x: hidden; overflow-y: auto;}

/* BUTTONS, FIELDS AND DROP-DOWN MENU */
.field {border: 1px #000000 solid; 
	background-color: #FEFEFE;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	padding: 0 2px 0 2px;
	border-color: #555555;
}

.fieldDimmed {border: 1px #000000 solid; 
	background-color: #F0F0F0;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	width: 52px;
	color: #333333;
	padding: 0 2px 0 2px;
	border-color: #555555;
}
	
.menu {
	border: 1px #000000 solid; 
	background-color: #FFFFFF;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	padding: 0 0 0 4px;
	border-color: #555555;
}

.buttons {
	border: 1px #000000 solid; 
	background-color: #EEEEEE;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	color: #555555;
	border-color: #999999;
	text-align: center;
}

button.buttonsOver{
     background-color:#FFDEA3;
}

/* LINES AND BORDERS */		
.trLine {background-color:#d0d0d0; height:2px;}
.trLineThin {background-color:#d0d0d0; height:1px;}
.border {border: 1px #888888 solid;}
.borderLight {border: 1px #d6d6d5 solid;} 
.borderRed {border-left: 4px #8b3535 solid; border-right: 4px #8b3535 solid; border-top: 4px #8b3535 solid;} 
.borderRedThin {border-top: 2px #8b3535 solid; border-bottom: 2px #8b3535 solid;}
.borderGreen {border-left: 4px #559037 solid; border-right: 4px #559037 solid; border-top: 4px #559037 solid;} 

/* PADDING AND ALIGNMENT */	
.left {padding:5px 0 5px 5px; text-align: left;}
.right {padding:5px 5px 5px 0; text-align: right;}

.flash {background-color:#FFFF66; color: #ff0000;}
.bold {color: #ff0000;}

#betTicket {height:16px;width:203px; background-color:#FFFFFF;}
#betTicket tr+tr+tr+tr+tr {background-color:#FFFFFF;}
.accountDetails {background: url(../images/accountDetailsBG.gif) repeat-x; color:#e2e2e2; font-weight: bold; font-size: 10px;	text-align: center;}
.accountInfoLeft {background-color:#F0F0F0; color:#333333; font-weight: bold; border-top: 1px solid #d6d6d5; border-left: 1px solid #d6d6d5; font-size: 11px; text-align: right;}
.accountInfoRight {background-color:#F0F0F0; color:#333333; font-weight: normal; border-top: 1px solid #d6d6d5; border-right: 1px solid #d6d6d5; font-size: 11px; text-align: left;}
.accountInfoCenter {background-color:#FFCC33; color:#000000; font-weight: bold; border-top: 1px solid #d6d6d5; border-right: 1px solid #d6d6d5; border-left: 1px solid #d6d6d5; font-size: 11px; text-align: center;}
.bottomTicketImg { background: url(../images/betTicketbk_bot.gif) no-repeat; height:30px;}

#loginBoard { background-color:#000000; border:1px #666666 solid; width:203px;}
#loginBoard .loginMessage {padding:6px; background-color:#333333; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; text-align: center; color:#ffcc33; border:1px #bbbbbb solid;} 
.loginContainerBG {background-color:#888888;}

#noticeBoard { background-color:#000000; border:1px #3f3f3f solid; width:203px;}
#noticeBoard .noticeMessage{font-size:11px; font-weight: normal; color:#ffcc33; padding:15px;} 

#errorBoard { background-color:#660000; border:1px #666666 solid; }
#errorBoard .errorMessage {padding:6px; background-color:#561f1f; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; text-align: center; color:#FF9999; border:1px #a36666 solid;} 


#successBoard { background-color:#6b9928; border:1px #666666 solid; width:203px;}
.successMessage {padding:6px; background-color:#415c18; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; text-align: center; color:#ccffcc; border:1px #9bc179 solid;}
.successMessageLg {font-size:12px; font-weight: normal; color:#FFFFFF;}
.successContainerBG {background-color:#6b9928;}


/* BET TICKET */
#betChartBk {background-color:#FFFFFF; width:203;}
#betChart {border:1px #888888 solid; width:97%;}

#betChartError {border:4px #8b3535 solid; width:97%;}
#betChartError a:link, #betChartError a:visited {color:#720000; text-decoration:underline; outline: none;}
#betChartError a:hover {color:#b10000; text-decoration:underline; outline: none;}
#betChartError ul { list-style-image: url(../images/iconInfoRed.gif); padding: 4px 0 1px 4px; margin: 3px 0 3px 15px; line-height: 13px;}
#betChartError .betTitleError {background-color:#e3baba; color:#000000; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; padding: 0 0 0 5px; text-align: left;}
#betChartError .menucontainerBGError {background-color:#e3baba;}

#betChartSuccess {border:4px #559037 solid; width:97%;}
#betChartSuccess a:link, #betChartSuccess a:visited {color:#1d5900; text-decoration:underline; outline: none;}
#betChartSuccess a:hover {color:#369408; text-decoration:underline; outline: none;}

#betChart .spacer {height:5px;}

.betAmount { padding: 0 0 0 5px; color:#eabc4b; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; text-align:right;}
.betTotalsLeft {background-color:#fafafa; color:#333333; padding: 3px 0 3px 5px; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:bold; text-align:right;}
.betTotalsRight {background-color:#fafafa; color:#333333; padding: 3px 3px 3px 3px; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; text-align:left;}
.wagerDivider {background-color:#555555; height: 2px;}
.wagerDividerWhite {background-color:#FFFFFF; height: 3px;}
.betTotalsContainerBG {background-color:#e5e5e5; border-top: 1px solid #d6d6d5;}
.noBets {background-color:#fafafa; color:#333333; padding: 3px 3px 3px 3px; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:bold; text-align:center;}
.betTicketTitle {background-color:#CCCCCC; color:#333333; font-size:11px; font-weight:bold; padding:3px 0 3px 5px; border-top: 1px solid #999999; border-bottom: 1px solid #999999; text-align: center;}

/* NOT LOGGED IN MESSAGE */
#betChartMessage {border:4px #f1b800 solid; width:97%;}
#betChartMessage a:link, #betChartMessage a:visited {color:#93703d; text-decoration:underline; outline: none;}
#betChartMessage a:hover {color:#bfaa61; text-decoration:underline; outline: none;}
.messageGlobalTxt {padding:10px 5px 6px 5px; background-color:#fffbba; color:#93703d; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; text-align: left;}
.messageGlobalIcon {padding:6px 2px 6px 5px; background-color:#fffbba; text-align: right;}

/* ERROR MESSAGES */
.errorGlobalTitle {color:#000000; font-family: Arial, Verdana, sans-serif; font-size:12px; font-weight:bold; text-align: left; }
.errorGlobalTxt {padding:10px 5px 6px 5px; background-color:#e3baba; color:#720000; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; text-align: left;}
.errorGlobalIcon {padding:6px 2px 6px 5px; background-color:#e3baba; text-align: right;}
.errorTxt {background-color:#f3d5d5; color:#720000; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; text-align: left;}

#errorList ul { list-style-image: url(../images/iconInfoRed.gif); padding: 3px 0 1px 10px; margin: 3px 0 3px 15px; line-height: 13px;}
#errorList a:link, #errorList a:visited {color:#720000; text-decoration:underline; outline: none;}
#errorList a:hover {color:#b10000; text-decoration:underline; outline: none;}

/* SUCCESS MESSAGES */	
.successGlobalTitle {color:#000000; font-family: Arial, Verdana, sans-serif; font-size:12px; font-weight:bold; text-align: left;}
.successGlobalTxt {padding:6px 5px 6px 5px; background-color:#ceeac0; color:#1d5900; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; text-align: left;}
.successGlobalIcon {padding:6px 2px 6px 5px; background-color:#ceeac0; text-align: right;}
.successGlobalBold {color:#000000; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:bold; text-align: left;}
.successTxtBold {padding:3px 5px 3px 5px; background-color:#e6fbdc; color:#000000; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:bold; text-align: left;}

.betInfoBk{ background-color:#40330d;}
.betInfo {font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; color:#000000; padding:2px 3px 2px 5px; text-align: left;}
.betFooterNote {font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; color:#333333; padding:1px 3px 1px 3px;}

.confirmContainerBG {background-color:#8b3535; display:none;}
.confirmTitle {padding:3px 3px 3px 3px; background-color:#561f1f; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; text-align: center; color:#eabc4b; }
.confirmTxt {font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; color:#ff3333; padding:5px 0 0 8px; text-align:center;}
.confirmation {background-color:#333333; padding:2px 0 2px 0; font-weight:normal; font-size:11px; color:#FFFFFF; text-align:center;}

.textField {font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal;}
.smallPad {padding-left:6px;}
.wagerCancel { text-align: right; padding-right:5px;}
.confirmTable{width:203px;}

.altBk {background-color:#1c1c1c; padding-top:5px;}
.content {font-family: Arial, Verdana, sans-serif; font-size:14px; color:#000000; background-color:#FFFFFF; overflow: -moz-scrollbars-vertical; overflow-x: auto; overflow-y: auto;}

/* PROCESSED WAGERS */
#processedLost {border:4px #8b3535 solid; width:98%;}
#processedWon {border:4px #559037 solid; width:98%;}
#rejectedWager {border:4px #222222 solid; width:98%;}

.resultTitle {font-family: Arial, Verdana, sans-serif; font-size:12px; font-weight:bold; color:#222222;}

.winner {background-color:#ceeac0; color:#1d5900; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; padding:5px 5px 5px 12px;}
.winnerAltColor {background-color:#def4d2; color:#1d5900; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; padding:5px 5px 5px 12px; border-top: 1px #bcd4af solid; border-bottom: 1px #bcd4af solid;}

.loser {background-color:#e3baba; color:#720000; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; padding:5px 5px 5px 12px;}
.loserAltColor {background-color:#eecece; color:#720000; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; padding:5px 5px 5px 12px; border-top: 1px #cfaba9 solid; border-bottom: 1px #cfaba9 solid;}

.rejected {background-color:#bfbbb2; color:#333333; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; padding:5px 5px 5px 12px;}
.rejectedAltColor {background-color:#d2cfc7; color:#333333; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; padding:5px 5px 5px 12px; border-top: 1px #afaca4 solid; border-bottom: 1px #afaca4 solid;}

.bottomColorBG {background-color:#cfccc6; color:#333333; font-size:10px; font-weight:bold; padding:6px 3px 3px 3px;}

#pagination {font-family: Arial, Verdana, sans-serif; font-weight:bold; font-size:11px; color:#333333; width:462px;}
#pagination a.pagenum:link, #pagination a.pagenum:visited {background-color:#e0e0e0; color:#333333; border:1px #999999 solid; padding:1px 3px 1px 3px; text-decoration: none; outline: none;}
#pagination a.pagenum:hover {background-color:#FFFFFF; color:#333333; border:1px #555555 solid; padding:1px 3px 1px 3px; text-decoration: none; outline: none;}
.currentPage {background-color:#3f3f3f; color:#FFFFFF; border:1px #fec500 solid; padding:1px 3px 1px 3px; text-decoration: none;}

/* PENDING WAGERS */
#pendingWager {border:1px #999999 solid; width:98%;}
.pendingHeader {font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:bold; color:#FFFFFF; text-align:left; margin:0px; padding-left:10px;}
.pending {font-family: Arial, Verdana, sans-serif; font-size:11px; background-color:#EBEBEB; color:#333333; font-weight:normal; padding:5px 5px 5px 12px;}
.pendingAltColor {font-family: Arial, Verdana, sans-serif; font-size:11px; background-color:#FCFCFC; color:#333333; font-weight:normal; padding:5px 5px 5px 12px; border-top: 1px #d6d6d5 solid; border-bottom: 1px #d6d6d5 solid;}
.resultPending {font-family: Arial, Verdana, sans-serif; font-size:12px; font-weight:bold; color:#222222;}

#pendingBody {padding:10px 6px 0 10px;}
#pendingTable { border:1px solid #999999; border-width:0 1px 1px 1px; width:462px;}
.pendingBk {background: url(../images/wagerBanner.gif) no-repeat; width:462px; height:37px;}
#pendingTitle { font-family: Arial, Verdana, sans-serif; font-weight:bold; font-size:17px; color:#FFFFFF; padding:0 0 0 10px;}

.pendingSection{ text-align:left; background-color:#CCCCCC; height:20px; padding:3px 0 0 10px;}
#pendingNotes td{ font-family: Arial, Verdana, sans-serif; font-weight:normal; font-size:11px; color:#333333;}

.pendingBets {text-align:left; background-color:#7a6c42; height:20px;padding:3px 0 0 10px; color:#feedbb; font-size:11px;}
#pendingTable input.submit {width:1 !important; /* used by IE */ width:auto; overflow:visible;}

/* IN RUNNING */
.loading {background-color:#8b3535; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:bold; color: #ffffff; text-align: center;}
#inRunningNotice {border:3px #8b3535 solid;}
.inRunningPending {font-family: Arial, Verdana, sans-serif; font-size:9px; font-weight:bold; color:#777777; border:1px #CCCCCC solid; padding:1px 5px 1px 5px;}
.inRunningProcessing {background-color:#e5e5e5; font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; color:#333333; padding:6px 5px 6px 5px; text-align: left;}
.inRunningPadding {padding:0 0 6px 0;}
.inRunningIcon {padding:6px 2px 6px 5px; background-color:#e5e5e5; text-align: right;}
.old {font-family: Arial, Verdana, sans-serif; font-size:10px; font-weight:bold; color:#bbbbbb; padding:0 0 3px 0;}

/* LOGIN */
.loginbodyBG {background-color:#ffffff;}
.loginbodybgtoptable {background-color:#ffffff;}
.loginsorryBG {background-color:#ffffff;}
.loginsorryinusebegin {font-family: Arial, Verdana, sans-serif; font-size:12px; color:#000000;}
.loginbodybgmidtable {background-color:#ffffff;}
.loginsuggestions {font-family: Arial, Verdana, sans-serif; font-size:14px; font-weight:bold; color:#000000;}
.loginsorryinuseend {background-color:#ffffff;}

.joinbodyBG {background-color:#ffffff;}
.joinbodybgtoptable {background-color:#ffffff;}
.joinsorryBG {background-color:#ffffff;}
.joinsorryinusebegin {font-family: Arial, Verdana, sans-serif; font-size:12px; color:#000000;}
.joininstructBG {background-color:#ffffff;}
.joininstruct {font-family: Arial, Verdana, sans-serif; font-size:12px; color:#000000;}
.joinbodybgmidtable {background-color:#ffffff;}
.joinsuggestions {font-family: Arial, Verdana, sans-serif; font-size:14px; font-weight:bold; color:#000000;}

/* LOGIN SCREEN */
#loginScreen { background: url(../images/loginBackground.gif) no-repeat; width:615px; height:368px; margin-top:40px;}
#loginScreen a:link, #loginScreen a:visited { color:#a99c2a; outline: none;}
#loginScreen a:hover { color:#d5ca6e; outline: none;}
.loginMessage { text-align:center; padding-top:80px;}
.loginDisabled { text-align:center; padding-top:100px;}
.loginSuccessHeader { font-family: Arial, Verdana, sans-serif; font-size:17px; font-weight:bold; color:#336600; }
.loginTxt { font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:bold; color:#666666; }
.loginErrorHeader {font-family: Arial, Verdana, sans-serif; font-size:17px; font-weight:bold; color:#690000; }

/* IF BET */
.ifBetHeader { font-family: Arial, Verdana, sans-serif; font-size:12px; font-weight:bold; color:#333333;}
#ifBetTable td{ font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; color:#333333;}
#ifBetTable .ifBetTitle { font-weight:bold; color:#FFFFFF;}
.ifBetNotice {background-color:#e5e5e5; border:2px #8b3535 solid; font-family: Arial, Verdana, sans-serif; font-size:11px; color:#333333; text-align: center;}
.footer {background-color:#cccccc; height:30px;}
.footer a:link, .footer a:visited { color:#3366cc; outline: none;}
.footer a:hover { color:#7497de; outline: none;}
.footerText { font-family: Arial, Verdana, sans-serif; font-size:11px; font-weight:normal; color:#333333;}

#ifBetTable a:link, #ifBetTable a:visited{color:#555555; text-decoration:underline; outline: none;}
#ifBetTable a:hover {color:#888888; text-decoration:underline; outline: none;}
