@charset "UTF-8";
/*========================================================== SBK5 IE6 CSS =============================================================*/

/* Layout Configuration (For Account Info Bar, Odds, and Betting Ticket)
====================================================================================================================================*/
#outerWrapper				  { float: left; width: 800px; height: auto; margin: 0px 0px 10px 0px; padding: 0; border: 0px; } 
#accountInfoDiv               { float: left; width: 783px; height: 24px; margin: 10px 15px 5px 0px; padding: 0; border: 1px solid #783d00; }
#oddsAreaDiv                  { float: left; margin-left: 0px; height: 500px; width: 500px; }
.oddsDiv                      { float: left; margin-left: 0px; height: 500px; width: 535px; }

.ticketGameDiv                { float: left; width: 223px; padding-left: 5px; }
.betTicketDiv                 { float: left; width: 223px; height: 300px; margin: 0 15px 0 0; padding: 0;}
.ticketIframe                 { float: left; width: 223px; border: 0; margin-right: 7px; }

/* Odds Header
====================================================================================================================================*/
.checkboxRight                { float: right; margin: -17px 2px 0 0; }
.numberOdds                   { float: right; margin-right: 146px; }

/* Odds Section
====================================================================================================================================*/
.checkbox                     { float: left; margin: 4px 0 0 -17px; margin: 0px 0 0 -20px\9;/* For IE6 */ }

/* Odds Futures
====================================================================================================================================*/
.checkboxFutures              { float: left; margin: 4px 0 0 -144px; margin: 0px 0 0 -144px\9;/* For IE6 */ }

.band1                        { float: left; width: 497px; height: 26px; line-height: 26px; color: #EEE; font-weight: bold; text-transform:uppercase; font-size: 12px; padding: 0 0 0 7px; margin: 0; border: 1px solid #1e1e1e; background:url(headerBar1.gif) repeat-x; }

.dateHeaderIE6Hack               { float: left; width: auto; height: 12px; line-height: 14px; color:#FFF; padding: 1px 12px; margin: 0 0 0 3px; border: 1px solid;  border-bottom: 0;  text-transform: uppercase; font-size: 9px; letter-spacing: 0.05em; }

#accountInfoDiv ul	      { zoom: 1;}
