@charset "UTF-8";

/* IE7 Hacks--Search Results
====================================================================================================================================*/
.dateHeader                   { float: left; width: auto; height: 12px; line-height: 12px; color:#FFF; padding: 1px 12px; margin: 0 0 -15px 3px; border: 1px solid #7d3c1b; border-bottom: 0; text-transform: uppercase; font-size: 9px; }

.oddsInfoTop                  { float: left; width: 516px; padding: 0; margin: 0 auto; }
.oddsInfoBottom               { float: left; width: 516px; padding: 0 0 5px 0; margin: 0 auto -2px auto; }
.oddsInfoBuyPoints            { float: left; width: 516px; padding: 0 0 5px 0; margin: -3px auto -2px auto; }

#topnav a.wagerTypeMenu span  { float: left; width: auto; height: 18px; line-height: 18px; padding-left: 13px; color: #FFF; text-transform: uppercase; font-size: 9px; letter-spacing: 0.05em; }

#calendarHeader               { float: left; color:#f2ebde; width: 22px; padding: 2px 3px 2px 2px; margin: 1px 0 5px 0; background:url(headerBar2.gif) repeat-x; text-align: center; }
#calendarHeader:hover         { float: left; color:#f2ebde; width: 22px; padding: 2px 3px 2px 2px; margin: 1px 0 5px 0; cursor: pointer; background:url(headerBar2a.gif) repeat-x; text-align: center; }
.calendarIcon                 { text-align: center;  }

.checkbox                     { float: left; margin: 1px 0 0 -20px; }
.checkboxRight                { float: right; margin: -17px 10px 0 0; }

.buyPointsSpread              { float: left; width: 81px; padding: 1px 3px; margin: 1px 0 1px 1px; border: 1px solid #b8a462; background-color:#d2caaf; text-align: center; }
.buyPointsOverUnder           { float: left; width: 86px; padding: 1px 3px; margin: 1px 0 1px 1px; border: 1px solid #b8a462; background-color:#d2caaf; text-align: center; }

.checkboxFutures              { float: left; margin: 1px 0 0 -128px; }

/* global error box */
.globalError                  { float: left; list-style-type: none; background: url(iconError.gif) left no-repeat; width: 24px; height: 23px; text-align: left; }
.globalErrorList              { clear: both; list-style-image: url(iconInfoRed.gif); padding: 3px 0 1px 10px; margin: 3px 0 3px 21px; line-height: 13px; text-align: left; }

/* global success */
.globalSuccess                { float: left; list-style-type: none; background: url(iconSuccess.gif) no-repeat 6px 5px; width: 24px; height: 23px; }
.globalSuccessList            { clear: both; list-style: none; padding: 3px 0 1px 10px; margin: 3px 0 3px 21px; line-height: 13px; text-align: left; }

.globalSuccessList a:link,
.globalSuccessList a:visited  { color:#315c28; font-size: 9px; text-decoration: none; outline: none; border: 1px solid #559037; background-color:#bbd8b5; text-align: center; padding: 0 8px; text-transform: uppercase; font-weight: bold; }
.globalSuccessList a:hover    { color:#55a642; background-color: #bcebbd; text-decoration: none; outline: none; font-weight: bold; }
.globalErrorList li           { margin-bottom: 7px; }

/* bet summary block */
.totalAmts                    { width: 49%; float: left; text-align: center; margin-bottom: 10px; }


