@charset "UTF-8";

/* IE Hacks--Search Results
====================================================================================================================================*/
.date                 { float: right; padding-right: 5px; margin-top: -15px; }

#oddsInfoTop          { float: left; width: 516px; padding: 0; margin: 0 auto; }
#oddsInfoBottom       { float: left; width: 516px; padding: 0 0 8px 0; margin: 0 auto; }




