@charset "UTF-8";
/* ----------------------------------------------------------------------------------------------------------*/
/*                                                                                                           */
/*                                                                                                           */
/*                                  		SEARCH FUNCTION CSS                             				 */
/*                                                                                                           */
/*                                                                                                           */
/* ----------------------------------------------------------------------------------------------------------*/

/*====================================================== GLOBAL COMPONENTS =========================================================*/
* 		              { margin:0; padding:0;}
html, body            { margin: 0 auto; background:transparent; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #333; text-align:center; }
table	              { border-collapse:collapse; border-spacing:0; }
td, th	              { padding:0; }
img 	              { border:0; }
/*==================================================================================================================================*/

#container            { /*border: 1px solid #838383;*/ background-color:#FFF; /*width: 518px;*/ width:528px; margin: 0 auto; padding: 0; text-align: left; overflow: hidden;}

/* Search Section
====================================================================================================================================*/
form#searchBar        { display:none; /*position:relative; height:20px; padding:6px; border-bottom: 1px solid #632d00; background:url(./searchBar.gif) repeat-x;*/ }
div#search            { position:relative; text-align: center; margin-left:3px; }
input#field           { border: 1px #4d2300 solid; background-color: #FEFEFE; color: #333; padding: 2px 20px 2px 5px; }

label.overlabel       { position:absolute; top:4px; margin-left: 8px; text-align: center; z-index:1; color:#999; }
label.overlabel-apply { position:absolute; top:4px; margin-left: 8px; text-align: center; z-index:1; color:#999; }

.buttons			  { position:relative; width: 21px; background: url(./searchIcon.gif) no-repeat; padding: 0; margin-left: -23px; border: 0; }
.buttonsOver		  { position:relative; width: 21px; cursor: pointer; background: url(./searchIconOver.gif) no-repeat; padding: 0; margin-left: -23px; border: 0; cursor: pointer; }

/* Basic Links
====================================================================================================================================*/
a:link, a:visited,
a:active              { color: #333; text-decoration: none; }
a:hover               { color: #555; text-decoration: underline; }

a.search:link, a.search:visited,
a.search:active       { color: #333; text-decoration: underline; }
a.search:hover        { color: #888; text-decoration: underline; }

a.box:link, a.box:visited,
a.box:active          { text-decoration: none; }
a.box:hover           { color: #333; text-decoration: none; }

/* Search Results
====================================================================================================================================*/
#resultsBox           { float: left; width: 476px; padding: 4px 12px; margin: 5px 0 5px 8px; border: 1px solid #c0c0c0; background-color:#f7f7f7; text-align:center; }
.resultsFound         { font-weight: bold; text-align: center; padding-right: 5px; font-size: 11px; }

#noResultsBox         { float: left; width: 476px; padding: 4px 12px; margin: 5px 0 5px 8px; border: 1px solid #fdb441; background-color:#fffde4; text-align:center; }
.noResults            { font-weight: bold; text-align: center; padding-right: 5px; font-size: 11px; }

#topMsgBox            { float: left; width: 474px; padding: 4px 12px; margin: 5px 0 5px 8px; border: 2px solid #fdb441; background-color:#fffde4; text-align:center; }
.topMsg               { font-weight: bold; font-size: 12px; margin-left: 2px; }
.searchWord           { font-weight: normal; font-size: 12px; margin-left: 2px; font-style: italic; }

#band1                { float: left; width: 508px; height:26px; line-height:26px; color: #EEE; font-weight: bold; text-transform:uppercase; font-size: 12px; padding: 0 0 0 10px; margin: 0 0 0 -1px; border: 1px solid #1e1e1e; background:url(./headerBar1.gif) repeat-x; }
#band2                { float: left; width: 508px; height:19px; line-height:19px; color: #EEE; font-weight: bold; text-transform:uppercase; font-size: 11px; text-shadow:#705015 1px 1px 0; padding: 0 0 0 10px; margin: 0 0 2px -1px; border: 1px solid #7e5c1a; background:url(./headerBar2.gif) repeat-x; }
#band3                { float: left; width: 500px; padding: 2px 0; margin: 2px 0 2px 8px; border: 1px solid #FFF; }
#band3:hover          { float: left; width: 500px; padding: 2px 0; margin: 2px 0 2px 8px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; }
#band4                { float: left; width: 487px; padding: 2px 0 2px 13px; margin: 5px 0 1px 8px; font-weight: bold; text-transform:uppercase; border: 1px solid #cab674; background-color:#efead4; }
#band5                { float: left; width: 490px; padding: 2px 0 2px 10px; margin: 0 0 1px 8px; border: 1px solid #dcd3af; background-color:#f6f2de; }
#band5:hover          { float: left; width: 490px; padding: 2px 0 2px 10px; margin: 0 0 1px 8px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; }

.wordSpacing          { font-weight: bold; margin: 0 3px 10px 0; }
.arrow                { background: url(./arrowOrange.gif) no-repeat left; padding: 0 0 0 12px; }
.arrowGrey            { background: url(./arrowGrey.gif) no-repeat left; padding: 0 0 0 12px; }
.infoIcon             { background: url(./infoIconOrange.gif) 2px 1px no-repeat; padding: 0 0 0 16px; }
.warningIcon          { background: url(./warningIcon.png) 2px -1px no-repeat; padding: 0 0 0 20px; }

#timeBar              { float: left; width: 490px; padding: 2px 0 1px 10px; margin: 3px 0 1px 8px; font-weight: normal; border: 1px solid #cab674; background-color:#FFF; }
#propsBar             { float: left; width: 488px; padding: 3px 0 3px 12px; margin: 0 0 0 8px; font-weight: bold; border: 1px solid #cab674; background-color:#dfdbc2; }

.time                 { font-weight: bold; margin-left: 2px; }
.line                 { margin-left: 10px; }
.date                 { float: right; padding-right: 5px; }

#oddsInfoTop          { float: left; width: 516px; padding: 0; margin: 0 auto -5px auto; }
#oddsInfoBottom       { float: left; width: 516px; padding: 0; margin: 0 auto 2px auto; }

#rotNum               { float: left; width: 40px; padding: 2px 5px; margin: 1px 0 5px 8px; border: 1px solid #dcd3af; background-color:#f6f2de; text-align: center; }

#team                 { float: left; width: 180px; padding: 2px 0 2px 10px; margin: 1px 0 1px 1px; border: 1px solid #dcd3af; background-color:#f6f2de; }
#team:hover           { float: left; width: 180px; padding: 2px 0 2px 10px; margin: 1px 0 1px 1px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; }

#team1                { float: left; width: 252px; padding: 2px 0 2px 10px; margin: 1px 0 1px 1px; border: 1px solid #dcd3af; background-color:#f6f2de; }
#team1:hover          { float: left; width: 252px; padding: 2px 0 2px 10px; margin: 1px 0 1px 1px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; }

#team2                { float: left; width: 378px; padding: 2px 0 2px 10px; margin: 1px 0 5px 8px; border: 1px solid #dcd3af; background-color:#f6f2de; }
#team3                { float: left; width: 266px; padding: 2px 0 2px 10px; margin: 1px 0 5px 8px; border: 1px solid #dcd3af; background-color:#f6f2de; }
#team4                { float: left; width: 252px; padding: 2px 0 2px 10px; margin: 1px 0 1px 1px; border: 1px solid #dcd3af; background-color:#f6f2de; font-weight: bold; text-transform:uppercase; }

#moneyline            { float: left; width: 60px; padding: 2px 5px; margin: 1px 0 1px 1px; border: 1px solid #dcd3af; background-color:#f6f2de; text-align: center; }
#moneyline:hover      { float: left; width: 60px; padding: 2px 5px; margin: 1px 0 1px 1px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; text-align: center; }

#moneyline1           { float: left; width: 100px; padding: 2px 4px 2px 5px; margin: 1px 0 1px 1px; border: 1px solid #dcd3af; background-color:#f6f2de; text-align: center; }
#moneyline1:hover     { float: left; width: 100px; padding: 2px 4px 2px 5px; margin: 1px 0 1px 1px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; text-align: center; }

#spread               { float: left; width: 60px; padding: 2px 4px 2px 5px; margin: 1px 0 1px 1px; border: 1px solid #dcd3af; background-color:#f6f2de; text-align: center; }
#spread:hover         { float: left; width: 60px; padding: 2px 4px 2px 5px; margin: 1px 0 1px 1px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; text-align: center; }

#over                 { float: left; width: 100px; padding: 2px 4px 2px 5px; margin: 1px 0 1px 1px; border: 1px solid #d0c8a9; background-color:#dfdbc2; text-align: center; }
#over:hover           { float: left; width: 100px; padding: 2px 4px 2px 5px; margin: 1px 0 1px 1px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; text-align: center; }

#under                { float: left; width: 100px; padding: 2px 4px 2px 5px; margin: 1px 0 1px 1px; border: 1px solid #d0c8a9; background-color:#dfdbc2; text-align: center; }
#under:hover          { float: left; width: 100px; padding: 2px 4px 2px 5px; margin: 1px 0 1px 1px; border: 1px solid #e8cc8e; background-color:#f6dda9; cursor: pointer; text-align: center; }

#overUnderBox         { float: left; width: 100px; padding: 2px 4px 2px 5px; margin: 1px 0 1px 1px; border: 1px solid #d0c8a9; background-color:#dfdbc2; text-align: center; }

/*========================== BROWSER SPECIFIC =============================*/

/* For Safari 3 */
@media screen and (-webkit-min-device-pixel-ratio:0){
input#field           { border: 1px #4d2300 solid; height: 14px; background-color: #FEFEFE; color: #333; padding: 2px 21px 2px 5px; }

label.overlabel       { position:absolute; top:4px; margin-left: 173px; text-align: center; z-index:1; color:#999; }
label.overlabel-apply { position:absolute; top:4px; margin-left: 173px; text-align: center; z-index:1; color:#999; }

.buttons			  { position:absolute; width: 21px; height: 29px; background: url(./searchIcon.gif) no-repeat; padding: 0; margin-top: 2px; margin-left: -23px; border: 0; }
.buttonsOver		  { position:absolute; width: 21px; height: 29px; cursor: pointer; background: url(./searchIconOver.gif) no-repeat; padding: 0; margin-top: 2px; margin-left: -23px; border: 0; }
}