{*
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->


          







<!-- ---------------------- end left menu contents ------------------- -->         
</div>
*}
      
      

<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">



                                      
          
<div class="headline"><h1>Bet on American Pharoah</h1></div>
<div class="content">
<!-- --------------------- content starts here ---------------------- -->
<p>American Pharoah lost the Travers Stakes to Keen Ice but will still be running in the Breeders' Cup.  This makes him the first Triple Crown winner, ever, to race for the Grand Slam.
<p>{include file='/home/ah/allhorse/public_html/misc/ap_video.php'} </p>
<h2>Latest American Pharoah Odds</h2>
<p>Please visit our racebook for more American Pharoah odds.</p>
<p>{include file='/home/ah/allhorse/public_html/misc/odds_AP_xml.php'} </p>
<h2>Breeders' Cup Classic Odds</h2>
<p>{include file='/home/ah/allhorse/public_html/breeders/odds_classic_xml.php'} </p>

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
	{include file='inc/rightcol-calltoaction.tpl'} 
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      

