{include file="/home/ah/allhorse/public_html/usracing/block_belmont/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}   


<div class="justify-left">
          <p><strong>When is the Belmont Stakes?</strong> The {$BELMONT_RUNNING}  running of the Grade 1 Belmont Stakes will be held at Belmont Park on {$BELMONT_DATE} with the first-race post at noon.</p>
<p><strong>How can I watch the Belmont Stakes?</strong>  On race day complete TV coverage airs on NBC beginning at at 5 PM ET and can be lived streamed on NBCSports.com.   Post positions for all the contenders  are announced on the Wednesday before.</p>
{* <p>The final jewel. . . the crowning achievement in horse racing-- the&nbsp;<a title="Belmont Stakes" href="/belmont-stakes">Belmont Stakes</a>!</p> *}
<p>Place your bets and watch the races! {*   And let's see if Victor Espinoza and American Pharoah can make history! *}</p>    
</div>
<h2 class="title">Belmont Stakes Betting Odds</h2>
<p>{include_php file='/home/ah/allhorse/public_html/belmont/odds_88.php'}</p>

{*include file='/home/ah/allhorse/public_html/belmont/odds.php'*} 
{*include file='/home/ah/allhorse/public_html/belmont/odds_88.php'*} 
{*

          <p>Only at <i>bet  	&#9733; usracing</i>, you get great future odds with amazing payouts on the leading Belmont Stakes .</p>

          <p>Will the winner of the {'Y'|date}  Kentucky Derby win the Belmont Stakes?  Will a horse lead wire to wire?  Will Secretariat's 1973 Record be broken?  </p>

          <p><i>bet  	&#9733; usracing</i> offers more wagering choices than other site.</p><a href="/belmont-stakes/odds" class="bs-kd_btn">LIVE ODDS</a>

*}

{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_belmont/end-of-page-blocks.tpl"}