{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->


          

{include file='menus/triplecrown.tpl'}






<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      

<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">



                                      
          
<div class="headline"><h1>Bet on California Chrome</h1></div>
<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<!--<div class="margin-bottom-30"><a href="/join"><img class="img-responsive" title="" alt="Triple Crown Betting" src="/themes/images/triplecrown/tc-image.jpg" border="0" /></a></div>-->


<h2>Latest California Chrome Video picks</h2>
<div class="ytFeed">
     <div id="yt-list3" class="yt-feed" data-plumtube data-plum-max-results="24" data-plum-show-title="link" data-plum-playlist="PLEKyEB4uQTtAesSY49KyT3SYxQxsIzrPd" data-plum-modal="true"  data-plum-large-thumb="true"></div>
</div>


<p>Just look how he has done so far...</p>
<h2>2014 Preakness Stakes with Post Race Commentary
</h2>
<center><iframe class="video" src="//www.youtube.com/embed/gNqmQEA1i-0" allowfullscreen="" frameborder="0" width="100%"></iframe></center>
<h2>2014 Kentucky Derby with Post Race Commentary
</h2>
<center><iframe class="video" src="//www.youtube.com/embed/-e73ouJrBAs" allowfullscreen="" frameborder="0" width="100%"></iframe></center>
<h2>2014 San Felipe Stakes
</h2>
<center><iframe class="video" src="//www.youtube.com/embed/nOmbne501ZE" allowfullscreen="" frameborder="0" width="100%"></iframe></center>
<h2>California Cup Derby Stakes
</h2>
<center><iframe class="video" src="//www.youtube.com/embed/IFvr3kKAfX0" allowfullscreen="" frameborder="0" width="100%"></iframe></center>
<h2>King Glorious Stakes
</h2>
<center><iframe class="video" src="//www.youtube.com/embed/eyzzPjAdWWQ" allowfullscreen="" frameborder="0" width="100%"></iframe></center>


<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{include file='inc/rightcol-calltoaction-bs.tpl'}
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      

