{*
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->


          







<!-- ---------------------- end left menu contents ------------------- -->         
</div>
*}
      
      

<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">



                                      
          
<div class="headline"><h1>Bet on Dancing With the Stars and Victor Espinoza</h1></div>
<div class="content">
<!-- --------------------- content starts here ---------------------- -->
<p><a href="/bet-on/dancing-with-the-stars"><img class="img-responsive" src="/img/misc/dancing-with-the-stars-betting.jpg" alt="Dancing with the stars victor espinoza">  </a></p>

<p>Triple Crown Winner Victor Espinoza isn't just training for the <a href="/breeders-cup">Breeders' Cup</a>  he's practicing his smooth moves for DWTS (That's Dancing with the Stars, boys and girls.)</p>
<p>Should we "Vote for Victor?"</p>
<p>If he can bust moves like Napolean Dynamite, then he might just be able to win the 21st Season of Dancing with the Stars which returns on Monday, September 14, at 8/7 central on ABC.</p>
<p><center><iframe width="420" height="315" src="https://www.youtube.com/embed/BiAwpYIkRmU" frameborder="0" allowfullscreen></iframe></center></p>
<p>Right now, Victor Espinoza has the longest odds to win at +1600. In other words, he has a better <a href="/breeders-cup/odds">odds to win the 2015 Breeders' Cup Classic</a>  than DWTS?</p>
<p>What the heck?  Are you saying that Gary Busey has a better chance at winning Dancing With the Stars than the guy who won the 2015 Triple Crown?</p>
<p>It can be argued that the smart money should actually be on Victor Espinoza.  Why?  Because professional athletes have had an exceptionally record of performing well on the show.  This should come as no surpise-- they are athletes after all. For the first 12 seasons of Dancing With the Stars, athletes represented only 20% of the contestants but they won 50% of the competitions!</p>
<p><center><iframe  class="video" height="100%" src="https://www.youtube.com/embed/1z4BxiPNjY4" frameborder="0" allowfullscreen></iframe></center></p>
<h2>Latest Dancing With the Stars Odds - DWTS Odds</h2>
<p>Please login to see odds for Dancing With the Stars along with who will be the next President of the United States, the new face of the $10 bill and many more odds on just about everything you can imagine.  And horses?  US Racing offers more tracks than any other racebook in the world.</p>

{include file='/home/ah/allhorse/public_html/misc/odds_DWTS_xml.php'} 


<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{include file='inc/rightcol-calltoaction-tracks.tpl'} 
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      

