.subscribe-section {
  font-family: "Lato";
  font-weight: 100;
  background: #079fed url(../images/bg-news.png);
  color: #fff;
  overflow: hidden;
  padding: 30px 0;
  font-family: "Lato"; }
  .subscribe-section .inner-subscribe-section {
    text-align: center;
    /*@media only screen and (max-width: 940px) {

      .input-field input[value="Subscribe Now"]{
        font-size:14px;
        padding: 3px 0px 5px;
        width:90%;
        }
      .input-field input[type="email"]{
        font-size:15px;
        padding: 3px 0px 5px;
        width: 90%;
        }
      .input-field input[type="text"]{
        font-size:15px;
        padding: 3px 0px 5px;
        width:90%;
        }
      }*/ }
    .subscribe-section .inner-subscribe-section h2 {
      font-size: 32px;
      font-family: "Lato";
      font-weight: 500; }
    .subscribe-section .inner-subscribe-section p {
      font-size: 19px;
      margin: 0px 240px; }
    .subscribe-section .inner-subscribe-section .form-subscribe {
      padding-top: 10px; }
      .subscribe-section .inner-subscribe-section .form-subscribe .input-field {
        padding: 0px 10px; }
        .subscribe-section .inner-subscribe-section .form-subscribe .input-field input {
          width: 100%;
          padding: 3px 15px 5px;
          background: transparent;
          border-radius: 5px;
          border: 2px solid #fff;
          color: #fff;
          font-weight: 100; }
          .subscribe-section .inner-subscribe-section .form-subscribe .input-field input::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #fff; }
          .subscribe-section .inner-subscribe-section .form-subscribe .input-field input::-moz-placeholder {
            /* Firefox 19+ */
            color: #fff; }
          .subscribe-section .inner-subscribe-section .form-subscribe .input-field input:-ms-input-placeholder {
            /* IE 10+ */
            color: #fff; }
          .subscribe-section .inner-subscribe-section .form-subscribe .input-field input:-moz-placeholder {
            /* Firefox 18- */
            color: #fff; }
          @media screen and (max-width: 500px) {
            .subscribe-section .inner-subscribe-section .form-subscribe .input-field input {
              padding: 10px 15px 12px; } }
        .subscribe-section .inner-subscribe-section .form-subscribe .input-field input[type="submit"] {
          background: #ffffff;
          color: #079fed;
          text-transform: uppercase;
          font-weight: 400; }
        .subscribe-section .inner-subscribe-section .form-subscribe .input-field input[type="text"] {
          text-transform: capitalize; }
        @media screen and (max-width: 768px) {
          .subscribe-section .inner-subscribe-section .form-subscribe .input-field {
            text-align: center;
            padding: 0px 5px; } }
    @media screen and (max-width: 1280px) {
      .subscribe-section .inner-subscribe-section p {
        font-size: 19px;
        margin: 0px 0px; } }

.featured-news {
  padding: 0px 0 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc; }
  .featured-news .story dt {
    width: 100%;
    float: none; }
    .featured-news .story dt a span {
      padding-top: 0px; }
  .featured-news .img-featured img {
    width: 100%; }
  .featured-news .info-news, .featured-news .entry-meta {
    overflow: hidden;
    margin: 2px 0; }
    .featured-news .info-news span, .featured-news .entry-meta span {
      display: inline-block; }
      .featured-news .info-news span.category, .featured-news .info-news span.cat-links, .featured-news .entry-meta span.category, .featured-news .entry-meta span.cat-links {
        float: left;
        color: #079fed; }
        .featured-news .info-news span.category a, .featured-news .info-news span.cat-links a, .featured-news .entry-meta span.category a, .featured-news .entry-meta span.cat-links a {
          color: #079fed; }
        .featured-news .info-news span.category ul, .featured-news .info-news span.cat-links ul, .featured-news .entry-meta span.category ul, .featured-news .entry-meta span.cat-links ul {
          padding: 0;
          margin: 0; }
          .featured-news .info-news span.category ul li, .featured-news .info-news span.cat-links ul li, .featured-news .entry-meta span.category ul li, .featured-news .entry-meta span.cat-links ul li {
            padding: 0;
            margin: 0;
            list-style: none; }
      .featured-news .info-news span.shares, .featured-news .entry-meta span.shares {
        float: right; }
  .featured-news .desc-featured {
    font-size: 16px;
    color: #222; }
    .featured-news .desc-featured h1 {
      color: #1e74b9;
      font-weight: 500;
      line-height: 1.2em;
      font-family: 'Lato', sans-serif;
      font-size: 32px; }
      .featured-news .desc-featured h1 a {
        color: #1e74b9;
        text-decoration: none;
        font-weight: bold; }
  .featured-news .postedby-featured {
    overflow: hidden;
    color: #6684a9;
    font-size: 14px;
    position: relative; }
    .featured-news .postedby-featured .img-postedby, .featured-news .postedby-featured .entry_author_image {
      width: 51px;
      height: 51px;
      border: 3px solid #1e74b9;
      background: #1e74b9;
      border-radius: 50%;
      overflow: hidden;
      float: left; }
      .featured-news .postedby-featured .img-postedby img, .featured-news .postedby-featured .entry_author_image img {
        width: 100%; }
    .featured-news .postedby-featured .info-postedby {
      padding: 10px;
      font-weight: bold;
      line-height: 1.5em;
      position: absolute;
      top: 50%;
      left: 51px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%); }
      .featured-news .postedby-featured .info-postedby span.name-post {
        color: #079fed; }
      .featured-news .postedby-featured .info-postedby span.date-posts {
        display: block; }
  .featured-news .story {
    font-size: 18px;
    color: #222; }
    .featured-news .story .blog-title {
      color: #1e74b9;
      font-weight: 500;
      line-height: 1.2em;
      font-size: 38px !important;
      margin: 20px 0; }
      .featured-news .story .blog-title a {
        color: #1e74b9;
        text-decoration: none; }
  .featured-news .blog-date {
    display: none; }

.list-news {
  display: block;
  overflow: hidden; }
  .list-news .story dt {
    width: 100%;
    float: none; }
  .list-news article {
    margin-bottom: 37px; }
  .list-news .item-news {
    overflow: hidden;
    margin: 15px 0; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .list-news .item-news {
        padding: 0 20px; } }
    .list-news .item-news .img-news {
      max-height: 200px;
      position: relative;
      overflow: hidden; }
      .list-news .item-news .img-news img {
        width: 100%;
        height: auto; }
    .list-news .item-news .info-news, .list-news .item-news .entry-meta {
      overflow: hidden;
      padding: 2px 0; }
      .list-news .item-news .info-news span, .list-news .item-news .entry-meta span {
        display: inline-block; }
        .list-news .item-news .info-news span.category, .list-news .item-news .info-news span.cat-links, .list-news .item-news .entry-meta span.category, .list-news .item-news .entry-meta span.cat-links {
          float: left;
          color: #079fed;
          font-size: 14px; }
          .list-news .item-news .info-news span.category a, .list-news .item-news .info-news span.cat-links a, .list-news .item-news .entry-meta span.category a, .list-news .item-news .entry-meta span.cat-links a {
            color: #079fed; }
          .list-news .item-news .info-news span.category ul, .list-news .item-news .info-news span.cat-links ul, .list-news .item-news .entry-meta span.category ul, .list-news .item-news .entry-meta span.cat-links ul {
            margin: 0;
            padding: 0; }
            .list-news .item-news .info-news span.category ul li, .list-news .item-news .info-news span.cat-links ul li, .list-news .item-news .entry-meta span.category ul li, .list-news .item-news .entry-meta span.cat-links ul li {
              margin: 0;
              padding: 0;
              display: inline-block;
              list-style: disc;
              font-weight: 500; }
              .list-news .item-news .info-news span.category ul li:before, .list-news .item-news .info-news span.cat-links ul li:before, .list-news .item-news .entry-meta span.category ul li:before, .list-news .item-news .entry-meta span.cat-links ul li:before {
                content: " | "; }
              .list-news .item-news .info-news span.category ul li:first-child::before, .list-news .item-news .info-news span.cat-links ul li:first-child::before, .list-news .item-news .entry-meta span.category ul li:first-child::before, .list-news .item-news .entry-meta span.cat-links ul li:first-child::before {
                content: ""; }
        .list-news .item-news .info-news span.shares, .list-news .item-news .entry-meta span.shares {
          float: right; }
    .list-news .item-news .title-news h3 {
      color: #1e74b9;
      font-weight: 500;
      line-height: 1.2em;
      font-size: 22px;
      margin-top: 10px; }
      .list-news .item-news .title-news h3 a {
        color: #1e74b9;
        text-decoration: none; }
    .list-news .item-news .postedby-news {
      overflow: hidden;
      color: #6684a9;
      font-size: 14px;
      margin-bottom: 14px;
      position: relative; }
      .list-news .item-news .postedby-news .img-postedby, .list-news .item-news .postedby-news .entry_author_image {
        width: 51px;
        height: 51px;
        border: 3px solid #1e74b9;
        background: #1e74b9;
        border-radius: 50%;
        overflow: hidden;
        float: left; }
        .list-news .item-news .postedby-news .img-postedby img, .list-news .item-news .postedby-news .entry_author_image img {
          width: 100%; }
      .list-news .item-news .postedby-news .info-postedby {
        padding: 10px;
        font-weight: bold;
        width: 75%;
        line-height: 1.5em;
        position: absolute;
        top: 50%;
        left: 51px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%); }
        .list-news .item-news .postedby-news .info-postedby span.name-post {
          color: #1e74b9; }
        .list-news .item-news .postedby-news .info-postedby span.name-author {
          color: #079fed; }
          .list-news .item-news .postedby-news .info-postedby span.name-author a {
            color: #079fed; }
        .list-news .item-news .postedby-news .info-postedby span.date-posts {
          display: block; }
    .list-news .item-news .story {
      font-size: 16px;
      color: #222;
      border: 0 !important; }
      .list-news .item-news .story dt {
        width: 100%;
        float: none; }
      .list-news .item-news .story .blog-title {
        color: #1e74b9;
        font-weight: 500;
        line-height: 1.2em;
        font-size: 22px;
        margin: 15px 0; }
        .list-news .item-news .story .blog-title a {
          color: #1e74b9;
          text-decoration: none;
          font-weight: bold; }
      .list-news .item-news .story p {
        min-height: 140px;
        margin-bottom: 10px; }
        @media screen and (max-width: 767px) {
          .list-news .item-news .story p {
            min-height: auto; } }
  .list-news .blog-date {
    display: none; }

.sidebar {
  padding: 30px 0; }
  @media screen and (max-width: 767px) {
    .sidebar {
      padding: 30px 20px !important; } }
  .sidebar .search-box label, .sidebar .search-form label {
    display: block;
    background: #fff url(../images/search.png) 10px center no-repeat;
    margin-bottom: 0; }
  .sidebar .search-box input, .sidebar .search-form input {
    border: 2px solid #079fed;
    width: 100%;
    border-radius: 5px;
    padding: 3px 20px 5px 34px;
    color: #079fed;
    background: transparent; }
    .sidebar .search-box input::-webkit-input-placeholder, .sidebar .search-form input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #079fed; }
    .sidebar .search-box input::-moz-placeholder, .sidebar .search-form input::-moz-placeholder {
      /* Firefox 19+ */
      color: #079fed; }
    .sidebar .search-box input:-ms-input-placeholder, .sidebar .search-form input:-ms-input-placeholder {
      /* IE 10+ */
      color: #079fed; }
    .sidebar .search-box input:-moz-placeholder, .sidebar .search-form input:-moz-placeholder {
      /* Firefox 18- */
      color: #079fed; }

.widget-box, .widget {
  margin: 0 0 20px;
  border: 1px solid #dbecf2;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important; }
  .widget-box .inner-widget, .widget-box .textwidget, .widget-box .rpwe-block, .widget .inner-widget, .widget .textwidget, .widget .rpwe-block {
    padding: 15px; }
  .widget-box .head-box, .widget-box .panel-heading, .widget .head-box, .widget .panel-heading {
    color: #ffffff;
    background: #1e74b9 !important;
    padding: 10px 20px;
    text-align: left; }
    .widget-box .head-box h3, .widget-box .panel-heading h3, .widget .head-box h3, .widget .panel-heading h3 {
      color: #fff !important;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 15px;
      text-transform: uppercase; }
  .widget-box h5, .widget h5 {
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 15px; }
  .widget-box p, .widget p {
    font-size: 14px; }
  .widget-box ul li.rpwe-li h3.rpwe-title, .widget ul li.rpwe-li h3.rpwe-title {
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
    font-size: 15px;
    color: #555;
    font-weight: 500; }
    .widget-box ul li.rpwe-li h3.rpwe-title a, .widget ul li.rpwe-li h3.rpwe-title a {
      color: #555; }
  .widget-box .join-button-container, .widget .join-button-container {
    margin: 10px 0 20px; }
    .widget-box .join-button-container .join-button, .widget .join-button-container .join-button {
      background: #d21428;
      color: #fff;
      padding: 10px;
      border-radius: 3px;
      font-size: 14px;
      text-decoration: none; }

#text-4, #search-2 {
  border: 0; }
  #text-4 .textwidget, #search-2 .textwidget {
    padding: 0 !important; }

@media screen and (max-width: 768px) {
  #search-2 {
    display: none; } }

#text-5 .textwidget {
  padding: 0 !important; }
#text-5 .social {
  border-bottom: 1px solid #dbecf2; }
  #text-5 .social .fa {
    color: #bddae6;
    background: #f6fafb;
    width: 36px;
    text-align: center;
    padding: 9px 0;
    font-size: 20px;
    border-right: 1px solid #dbecf2; }

#archives-2 ul, #categories-2 ul {
  display: block;
  margin: 0;
  padding: 15px; }
  #archives-2 ul li, #categories-2 ul li {
    list-style: none;
    font-size: 13px; }
    #archives-2 ul li a, #categories-2 ul li a {
      padding-left: 12px;
      color: #079fed;
      text-transform: uppercase;
      text-decoration: none; }
    #archives-2 ul li:before, #categories-2 ul li:before {
      float: left;
      content: " ";
      border-radius: 50%;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #ccc;
      width: 14px;
      height: 14px;
      display: block;
      margin-right: 2px;
      margin-top: 3px;
      vertical-align: top;
      float: left; }
    #archives-2 ul li:hover::before, #categories-2 ul li:hover::before {
      border: 1px solid #079fed;
      background: #079fed; }
    #archives-2 ul li ul, #categories-2 ul li ul {
      margin: 0;
      padding: 0; }
      #archives-2 ul li ul li, #categories-2 ul li ul li {
        padding: 0; }
        #archives-2 ul li ul li a, #categories-2 ul li ul li a {
          padding-left: 25px;
          margin-bottom: 12px; }

#categories-2 ul li.cat-item-823 a:first-child {
  display: block; }
#categories-2 ul li.cat-item-823:before {
  display: none; }
#categories-2 ul li ul.children li a {
  display: block !important; }

li.cat-item-823 a[href="http://dev.news.usracing.com/news"]:before {
  float: left;
  content: " ";
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  width: 14px;
  height: 14px;
  display: block;
  margin-right: 10px;
  margin-top: 3px;
  vertical-align: top;
  float: left; }

li.cat-item-823 a[href="http://dev.news.usracing.com/news"]:hover::before {
  background: #079fed;
  background-clip: padding-box;
  border: none; }

li.cat-item-823 a[href="http://dev.news.usracing.com/news"] {
  padding-left: 0px !important; }

li.cat-item-356 {
  margin-top: 9px; }

body.category, body.single, body.blog {
  font-family: "Lato";
  font-weight: 100;
  color: #666; }

.news-content .story .blog-title {
  color: #1e74b9;
  font-weight: 500;
  line-height: 1.2em;
  font-size: 24px;
  margin: 15px 0;
  font-family: 'Lato', sans-serif; }
  .news-content .story .blog-title a {
    color: #1e74b9;
    text-decoration: none; }
.news-content .headline, .news-content .page-header {
  border: 0;
  margin: 20px 0;
  margin-top: 0px;
  padding: 0 20px; }
  @media screen and (max-width: 767px) and (min-width: 0px) {
    .news-content .headline, .news-content .page-header {
      padding-left: 0px; } }
  .news-content .headline h1, .news-content .headline .page-title, .news-content .page-header h1, .news-content .page-header .page-title {
    border: 0;
    color: #1e74b9;
    line-height: 1em;
    font-family: 'Lato', sans-serif; }
.news-content .hero-image img {
  width: 100%; }

.single .news-content .headline {
  margin-top: 20px; }

.page-id-4419 .news-content .headline {
  display: none; }
.page-id-4419 .news-content .story dt {
  padding-top: 0; }

.news-button {
  text-align: center;
  margin: 25px 0 50px; }
  .news-button a {
    background-color: #e2001a;
    background-image: -webkit-linear-gradient(top, #e2001a, #991a1e);
    background-image: linear-gradient(to bottom, #e2001a, #991a1e);
    border-radius: 3px;
    border: 0;
    color: #fff;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
    outline: none;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 200px;
    -webkit-transition: .2s;
    transition: .2s; }
    .news-button a:hover {
      color: #fff;
      text-decoration: none;
      font-weight: 600; }

#search-page {
  padding-top: 40px; }

.archive .widgetheader {
  margin-top: 30px; }

body.archive aside#rpwe_widget-2 {
  display: none; }

body.home aside#rpwe_widget-2 {
  display: none; }

body.home aside#email-subscribers-3 {
  display: none; }

.rpwe-block h3 a {
  color: #1e74b9 !important;
  font-size: 16px !important;
  font-weight: bold; }

#rpwe_widget-2 a.more-link {
  display: none !important; }

#email-subscribers-3 .es_widget_form {
  padding: 0 20px; }
#email-subscribers-3 .es_textbox input {
  width: 100%; }
#email-subscribers-3 .es_button {
  text-align: center; }
  #email-subscribers-3 .es_button input {
    background: #d21428;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    border: none; }

#categories-3 {
  display: none; }
  @media screen and (max-width: 768px) {
    #categories-3 {
      display: block !important;
      line-height: initial;
      margin: 2.5em 0; }
      #categories-3 .widget select {
        width: 100% !important;
        max-width: none !important; } }

@media screen and (max-width: 768px) {
  #categories-2 {
    display: none !important; } }

.widgetheader {
  display: none !important; }
  @media screen and (max-width: 768px) {
    .widgetheader {
      display: block !important; }
      .widgetheader .widget {
        width: 95%;
        margin: 0 auto;
        border: 2px solid #079fed;
        border-radius: 5px;
        margin-bottom: 20px; }
      .widgetheader .categoriesleft {
        width: 50%;
        float: left; }
        .widgetheader .categoriesleft .widget h2 {
          display: none; }
        .widgetheader .categoriesleft .widget select {
          color: #079fed;
          max-width: none;
          width: 100%;
          -webkit-appearance: menulist !important;
          padding: 6px 20px 6px 10px;
          height: 33px; } }
      @media screen and (max-width: 768px) and (max-width: 500px) {
        .widgetheader .categoriesleft .widget select {
          height: 51px; } }
  @media screen and (max-width: 768px) {
      .widgetheader .searchright {
        width: 50%;
        float: left; }
        .widgetheader .searchright label {
          display: initial; }
          .widgetheader .searchright label input {
            outline: none;
            width: 100% !important;
            padding: 3px 20px 5px 34px;
            border: none;
            display: block;
            background: #fff url(../images/search.png) 10px center no-repeat;
            margin-bottom: 0;
            color: #079fed; }
            .widgetheader .searchright label input::-webkit-input-placeholder {
              color: #079fed; } }
        @media screen and (max-width: 768px) and (max-width: 500px) {
          .widgetheader .searchright label input {
            padding: 10px 20px 12px 34px; } }

  @media screen and (max-width: 568px) {
    .widgetheader {
      display: block !important; }
      .widgetheader .widget {
        width: 100%;
        margin: 0 auto;
        border: 2px solid #079fed;
        border-radius: 5px;
        margin-bottom: 20px; }
      .widgetheader .categoriesleft {
        width: 100%;
        margin-top: 10px; }
        .widgetheader .categoriesleft h2 {
          display: none; }
      .widgetheader .searchright {
        margin-bottom: 10px;
        width: 100%; }
        .widgetheader .searchright input {
          outline: none;
          padding: 0px 0px 0px 35px;
          border: none;
          display: block;
          background: #fff url(../images/search.png) 10px center no-repeat;
          margin-bottom: 0; }
          .widgetheader .searchright input::-webkit-input-placeholder {
            color: #079fed; } }
  .widgetheader h2 {
    background: #1e74b9 !important;
    padding: 10px 20px;
    text-align: left;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: white;
    margin: 0px !important;
    font-weight: 300;
    font-family: "Lato"; }

.ctct-form-errorMessage {
  margin-top: -25px; }

.showafterform {
  display: none; }
  .showafterform h3 {
    color: #fff;
    font-weight: 500;
    font-family: "Lato"; }

.fb-like {
  top: -3px;
  width: 0px;
  background: linear-gradient(#4c69ba, #3b55a0);
  border-radius: 3px; }

@media screen and (max-width: 1024px) and (min-width: 320px) {
  .single-post #rpwe_widget-2 {
    display: none; } }
@media (orientation: landscape) {
  .single-post #rpwe_widget-2 {
    display: block; } }

@media screen and (max-width: 768px) {
  #main {
    padding-top: 20px !important; } }
.home #left-col .headline {
  display: none; }

.wp-pagenavi {
  margin-bottom: 30px; }

.wp-pagenavi a, .wp-pagenavi span.current {
  text-decoration: none; }

.wp-pagenavi a {
  color: #222; }

.wp-pagenavi a:hover, .wp-pagenavi span.current:hover {
  text-decoration: none;
  color: #079fed; }

.single .widgetheader {
  margin-top: 40px; }

#email-subscribers-2, #text-6 {
  display: none; }

.single #email-subscribers-2, single #email-subscribers-custom, .single #text-6 {
  display: block; }

#email-subscribers-custom label, #email-subscribers-2 label {
  display: none;
  color: #d21428; }
#email-subscribers-custom .showafterform, #email-subscribers-2 .showafterform {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 10px;
  /*padding: 0px 20px 10px;*/ }
  #email-subscribers-custom .showafterform h3, #email-subscribers-2 .showafterform h3 {
    color: #222; }
#email-subscribers-custom .es_textbox, #email-subscribers-2 .es_textbox {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 10px;
  /*padding: 0px 20px 10px;*/ }
  #email-subscribers-custom .es_textbox .es_textbox_class, #email-subscribers-2 .es_textbox .es_textbox_class {
    border-radius: 3px;
    border: 1px solid #DCE0E3;
    width: 100%; }
    @media screen and (max-width: 500px) {
      #email-subscribers-custom .es_textbox .es_textbox_class, #email-subscribers-2 .es_textbox .es_textbox_class {
        padding: 10px 10px 12px; } }
#email-subscribers-custom .es_lablebox, #email-subscribers-2 .es_lablebox {
  padding-top: 3px;
  padding-bottom: 3px;
  /*padding: 3px 20px;*/ }
#email-subscribers-custom .es_button, #email-subscribers-2 .es_button {
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  /*padding: 10px 20px 5px;*/
  text-align: center; }
  #email-subscribers-custom .es_button .es_textbox_button, #email-subscribers-2 .es_button .es_textbox_button {
    background: #d21428;
    color: #fff;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    font-weight: 500; }
    @media screen and (max-width: 500px) {
      #email-subscribers-custom .es_button .es_textbox_button, #email-subscribers-2 .es_button .es_textbox_button {
        padding-top: 12px;
        padding-bottom: 12px; } }
#email-subscribers-custom .ctct-form-errorMessage, #email-subscribers-2 .ctct-form-errorMessage {
  margin-top: 0px;
  text-align: left;
  color: #d21428; }

#top {
  height: initial !important;
  padding: 20px 0px !important; }
  #top .logo {
    margin-left: 15px; }
    #top .logo img {
      margin-top: 0px !important;
      margin-bottom: 0px !important; }

@media screen and (max-width: 767px) {
  #top .logo-lrg img {
    margin-top: 0px !important;
    margin-bottom: 0px !important; } }
.news-content {
  font-family: "Lato";
  font-weight: 100;
  overflow: hidden;
  color: #666; }

.container2 {
  margin: 0 auto;
  width: 90%;
  height: auto;
  overflow: hidden; }
  @media screen and (max-width: 1024px) {
    .container2 {
      width: 98%; } }
  @media screen and (max-width: 767px) {
    .container2 {
      margin: 0 auto !important;
      max-width: 100%; } }

.container3 {
  margin: 0 auto;
  max-width: 80%;
  height: auto;
  overflow: hidden; }
  @media screen and (max-width: 1024px) {
    .container3 {
      max-width: 90%; } }
  @media screen and (max-width: 768px) {
    .container3 {
      max-width: 100%; } }

.col-medium-6, .col-small-12 {
  padding: 0 20px; }

.col-medium-6 {
  width: 50%;
  float: left; }
  @media screen and (max-width: 1024px) {
    .col-medium-6 {
      width: 100%;
      float: none;
      padding: 0 0px; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-small-12 {
    width: 50%;
    float: left; } }

.col-medium-9 {
  padding: 0 20px;
  width: 75%;
  float: left; }
  @media screen and (max-width: 1024px) {
    .col-medium-9 {
      width: 75%;
      float: left; } }
  @media screen and (max-width: 768px) {
    .col-medium-9 {
      width: 100%;
      float: none; } }
  @media screen and (max-width: 568px) {
    .col-medium-9 {
      padding: 0 15px; } }

.col-medium-3 {
  width: 25%;
  padding: 0 20px;
  float: left; }
  @media screen and (max-width: 1024px) {
    .col-medium-3 {
      width: 100%;
      float: none; } }
  @media screen and (max-width: 768px) {
    .col-medium-3 {
      width: 100%;
      float: none; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .col-md-9 {
    /*width: 100% !important;*/
    /*float:none !important;*/ } }
@media (orientation: portrait) {
  .col-md-9 {
    width: 100% !important;
    float: none !important; } }

.thanyou h1 {
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 30px 0;
  color: #1e74b9;
  font-size: 40px; }
.thanyou p {
  font-size: 18px;
  text-align: center; }

#nav-below .nav-previous {
  text-align: center; }
  #nav-below .nav-previous a {
    visibility: hidden;
    text-decoration: none; }
    #nav-below .nav-previous a:after {
      display: inline-block;
      visibility: visible;
      background: #d21428;
      color: #fff;
      padding: 10px 30px;
      border-radius: 3px;
      font-size: 14px;
      text-transform: uppercase;
      margin-left: -55px; }
    #nav-below .nav-previous a span {
      display: none; }

/*# sourceMappingURL=news.css.map */
