{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
          
                  {include file='menus/belmontstakes.tpl'}
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
          {*include file='inc/belmontstakes_content_top_banner.tpl'*} 
                                        
          
<div class="headline"><h1>Belmont Park Racetrack</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


{*include file='/home/ah/allhorse/public_html/belmont/wherewhenwatch.tpl'*} 
<p></p>

<p>Here is some information on Belmont Park.&nbsp; We hope you find it useful and we encourage you to visit this beautiful park with your family and friends.&nbsp;</p><p>&nbsp;</p><table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#111111" style="border-collapse: collapse;"><tbody><tr><td width="12" bgcolor="#0958a6">&nbsp;</td><td class="bodytextbold" bgcolor="#0958a6"><span class="content-header-bar">CONTACT</span></td></tr><tr><td width="12" height="1"><img src="/images/dot_clear.gif" alt="" /></td><td class="bodytextbold" height="1"><img src="/images/dot_clear.gif" alt="" /></td></tr></tbody></table><table style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0" bordercolor="#111111"><tbody><tr><td width="10">&nbsp;</td><td class="bodytext" valign="top"><table border="0" cellspacing="0" cellpadding="0" align="left"><tbody><tr><td style="padding:20px 20px 20px 0;"><img title="Belmont Park Contact" src="/images/bgeneralinfo1.jpg" border="0" alt="Belmont Park Contact" align="left" />&nbsp;</td><td width="20">&nbsp;</td></tr><tr><td class="bodytextsm">&nbsp;</td><td width="20">&nbsp;</td></tr></tbody></table><p>&nbsp;</p><p>There are three different general phone numbers for the New York Racing Association that correspond to race meetings at the three different racetracks operated by The NYRA.</p>
		<p><br />
		<strong>Belmont Park (Spring/Summer Meet -  April 29 to July 17, 2011): </strong><br />
		516-488-6000</p>
        <p><br />
        <strong>Saratoga (July 22 to Sept. 5, 2011):</strong><br />
         518-584-6200</p>
		 <p><br />
        <strong>Belmont Park (Fall Championship Meet - September 10  to October 30, 2011): </strong><br />
        516-488-6000</p>
				<p><br />
        <strong>Aqueduct (November 4 to April 2011 ): </strong><br />
        718-641-4700</p>
  
        <p>&nbsp;</p></td></tr></tbody></table> <table style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0" width="100%" bordercolor="#111111"><tbody><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr><tr><td width="12" bgcolor="#0958a6">&nbsp;</td><td class="bodytextbold" bgcolor="#0958a6"><strong><span class="content-header-bar">BELMONT PARK</span></strong></td></tr><tr><td width="12" height="1"><img src="/images/dot_clear.gif" alt="" /></td><td class="bodytextbold" height="1"><img src="/images/dot_clear.gif" alt="" /></td></tr></tbody></table><table style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0" bordercolor="#111111"><tbody><tr><td width="10">&nbsp;</td><td class="bodytext" valign="top"><table border="0" cellspacing="0" cellpadding="0" align="left"><tbody><tr><td style="padding:20px 20px 20px 0;"><img title="Belmont Stakes Info" src="http://usracing.com/images/bgeneralinfo2.jpg" border="0" alt="Belmont Stakes Info" align="left" />&nbsp;</td><td width="20">&nbsp;</td></tr><tr><td class="bodytextsm">&nbsp;</td><td width="20">&nbsp;</td></tr></tbody></table><p>&nbsp;</p>
        <p>Belmont Park is a 430-acre racetrack in Elmont, N.Y. There are two race meetings at Belmont Park in 2011: the 56-day Spring/Summer meeting will be from April 29 to July 17; and the 37-day Fall Championship meeting will be from Sept. 10 to Oct. 30. Belmont Park is the home of the 143rd Running of the Belmont Stakes on Saturday June 11, 2011. <br />
          <br /><br /><br />
</p>
        <p><strong>BELMONT PARK 2011 SPRING/SUMMER MEET</strong></p>
        <p>56 days, April 29-July 17</p>
		<p>Dark Mondays and Tuesdays except:</p>
		<p>Open: Monday, May 30 and July 4</p>
		<p>Dark: Wednesday, June 1, Sunday, June 12, Wednesday July 6 &amp; 13</p>
		<p>Post times: 1 p.m. daily; Except:</p>
		<p>3 p.m. Sunset Friday/Party at the Park, July 1,8 &amp; 15</p>
		<p>Belmont Stakes Day, Saturday, June 11 </p>
		<p>&nbsp;</p>
		<p><strong>BELMONT PARK 2011 FALL CHAMPIONSHIP MEET</strong> </p>
		<p>37 days, September 10 – October 30</p>
		<p>Dark Mondays and Tuesdays except:</p>
		<p>Open: Monday, October 10 </p>
		<p>Dark: Wednesday, October 12</p>
		<p>Post time: 1 p.m. daily </p>
		</td></tr></tbody></table>


<table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#111111" style="border-collapse: collapse;"><tbody><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr><tr><td width="12" bgcolor="#0958a6">&nbsp;</td><td class="bodytextbold" bgcolor="#0958a6"><span class="content-header-bar">BELMONT BY THE NUMBERS</span></td></tr><tr><td width="12" height="1"><img src="/images/dot_clear.gif" alt="" /></td><td class="bodytextbold" height="1"><img src="/images/dot_clear.gif" alt="" /></td></tr></tbody></table>

<table width="100%" style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0" bordercolor="#111111"><tbody><tr><td width="10">&nbsp;</td>

<td class="bodytext" valign="top">

<table border="0" cellspacing="0" cellpadding="0" align="left"><tbody><tr>

<td style="padding:20px 20px 20px 0;"><img title="Belmont Park Info" src="http://usracing.com/images/bgeneralinfo3.jpg" border="0" alt="Belmont Park Info" align="left" />&nbsp;</td>

<td width="20">&nbsp;</td></tr><tr><td class="bodytextsm">&nbsp;</td><td width="20">&nbsp;</td></tr></tbody></table>

<p>&nbsp;</p>
<p><strong>Main Course:</strong> 1 1/2 Miles<br /><strong>Last Turn to Finish on Main Track:</strong> 1,097 feet<br /><strong>Widener Turf Course:</strong> 1 5/16 Miles<br /><strong>Inner Turf Course:</strong> 1 3/16 Miles<br /><strong>Attendance Capacity:</strong> 85,000 - 90,000<br /><strong>Parking Capacity:</strong> 18,500 Cars<br /><strong>Trackside Dining:</strong> 2,300<br /><strong>Total Seating Capacity:</strong> 32,941</p></td></tr></tbody></table><table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#111111" style="border-collapse: collapse;"><tbody><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr><tr><td width="12" bgcolor="#0958a6">&nbsp;</td><td class="bodytextbold" bgcolor="#0958a6"><span class="content-header-bar">PARKING</span></td></tr><tr><td width="12" height="1"><img src="/images/dot_clear.gif" alt="" /></td><td class="bodytextbold" height="1"><img src="/images/dot_clear.gif" alt="" /></td></tr></tbody></table><table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#111111" style="border-collapse: collapse;"><tbody><tr><td width="12">&nbsp;</td><td class="bodytext"><p>&nbsp;</p><strong>Parking Gates Open:</strong> 10:45 a.m. daily<br /><strong>General Parking:</strong> $2; Belmont Stakes Day: $10<br /><strong>Preferred Parking:</strong> $4; Belmont Stakes Day: $25<br /><strong>Valet Parking:</strong> $6; No valet parking on Belmont Stakes Day<br />Handicapped parking is available near the Clubhouse and Grandstand.<br />Courtesy Shuttle Bus service is available from all general parking areas.</td></tr><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr></tbody></table><table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#111111" style="border-collapse: collapse;"><tbody><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr><tr><td width="12" bgcolor="#0958a6">&nbsp;</td><td class="bodytextbold" bgcolor="#0958a6"><span class="content-header-bar">ADMISSION</span></td></tr><tr><td width="12" height="1"><img src="/images/dot_clear.gif" alt="" /></td><td class="bodytextbold" height="1"><img src="/images/dot_clear.gif" alt="" /></td></tr></tbody></table><table style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0" bordercolor="#111111"><tbody><tr><td width="10">&nbsp;</td><td class="bodytext" valign="top"><table border="0" cellspacing="0" cellpadding="0" align="left"><tbody><tr><td style="padding:20px 20px 20px 0;"><img title="Admission and Tickets" src="http://usracing.com/images/bgeneralinfo4.jpg" border="0" alt="Admission and Tickets" align="left" />&nbsp;</td><td width="20">&nbsp;</td></tr><tr><td class="bodytextsm">&nbsp;</td><td width="20">&nbsp;</td></tr></tbody></table><p>&nbsp;</p><p><strong>Gates Open at 11 a.m.</strong><br /><br /><strong>Grandstand Admission:</strong> $2; Grandstand admission on Twilight Racing Fridays is free until 1 p.m., when regular price applies.<br /><strong>Clubhouse Admission:</strong> $5; Clubhouse admission on Twilight Racing Fridays is $3 until 1 p.m., when regular price applies.<br /><strong>Children under 12 are free when accompanied with an adult.</strong></p></td></tr></tbody></table><table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#111111" style="border-collapse: collapse;"><tbody><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr><tr><td width="12" bgcolor="#0958a6">&nbsp;</td><td class="bodytextbold" bgcolor="#0958a6"><span class="content-header-bar">ATTIRE</span></td></tr><tr><td width="12" height="1"><img src="/images/dot_clear.gif" alt="" /></td><td class="bodytextbold" height="1"><img src="/images/dot_clear.gif" alt="" /></td></tr></tbody></table><table style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0" bordercolor="#111111"><tbody><tr><td width="12">&nbsp;</td><td class="bodytext"><p>&nbsp;</p>Elegant attire has long been a tradition at Belmont Park. Ladies and Gentlemen who honor this tradition are always appreciated.<br /><br /><strong>Box Seats</strong>&nbsp;<br />Gentlemen: Suits or sports jackets (tie optional).<br />Ladies: Dresses, skirts or slack outfits. Absolutely no shorts or jeans.<br /><br /><strong>Garden Terrace Restaurant</strong><br /><em>Elegant attire is recommended:</em> Gentlemen should wear suits or sports jackets. Ladies should wear dresses, skirts or pant suits. No jeans, shorts or abbreviated wear is permitted.<br /><em>Business casual is acceptable attire:</em> Gentlemen are required to wear collared shirts. Suits or sports jackets are optional. No jeans, shorts or abbreviated wear permitted. Management reserves the right to use its discretion to determine acceptable attire.<br /><em>Exception:</em> On Belmont Stakes Day, Saturday, June 11, 2005, the following Dress Code applies in the Garden Terrace: Gentlemen are required to wear suits or sports jackets; Ladies are required to wear dresses, skirts or pant suits.<br /><br /><strong>Clubhouse</strong><br />Proper attire at discretion of management. No abbreviated attire. Gentlemen may not wear tank tops.<br />&nbsp;</td></tr><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr></tbody></table><table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#111111" style="border-collapse: collapse;"><tbody><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr><tr><td width="12" bgcolor="#0958a6">&nbsp;</td><td class="bodytextbold" bgcolor="#0958a6"><span class="content-header-bar">COOLERS</span></td></tr><tr><td width="12" height="1"><img src="/images/dot_clear.gif" alt="" /></td><td class="bodytextbold" height="1"><img src="/images/dot_clear.gif" alt="" /></td></tr></tbody></table><table style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0" bordercolor="#111111"><tbody><tr><td width="12">&nbsp;</td><td class="bodytext"><p>&nbsp;</p>Fans may bring coolers into the backyard of the grandstand at Belmont Park. Coolers will not be allowed in any other area at the track. Glass containers will not be allowed to be brought into the track. As in the past, fans can bring in coolers containing cans or plastic bottles.<br /><br />All coolers will be subject to search by NYRA security.<br /><br />No coolers of any kind will be permitted in the buildings, including all seating areas, or on the apron of the track.<br /><br />Fans with coolers should enter the track at either the paddock or west end admission gates. Coolers will not be allowed through the clubhouse gate.<br /><br /><strong>NOTE:</strong> On Belmont Stakes Day, Saturday, June 9, 2007, no alcoholic beverages of any kind will be permitted to be brought into the facility. The restriction regarding alcohol has been enacted in the interest of patron safety and in an attempt to make sure that people drink responsibly.</td></tr><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr></tbody></table><table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#111111" style="border-collapse: collapse;"><tbody><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr><tr><td width="12" bgcolor="#0958a6">&nbsp;</td><td class="bodytextbold" bgcolor="#0958a6"><span class="content-header-bar">TRACK SERVICES</span></td></tr><tr><td width="12" height="1"><img src="/images/dot_clear.gif" alt="" /></td><td class="bodytextbold" height="1"><img src="/images/dot_clear.gif" alt="" /></td></tr></tbody></table><table style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0" bordercolor="#111111"><tbody><tr><td width="10">&nbsp;</td><td class="bodytext" valign="top"><table border="0" cellspacing="0" cellpadding="0" align="left"><tbody><tr><td style="padding:20px 20px 20px 0;"><img title="Racing at Belmont" src="http://usracing.com/images/bgeneralinfo5.jpg" border="0" alt="Racing at Belmont" align="left" />&nbsp;</td><td width="20">&nbsp;</td></tr><tr><td class="bodytextsm">&nbsp;</td><td width="20">&nbsp;</td></tr></tbody></table><p>&nbsp;</p><p><strong>Binocular Rentals</strong><br />Located on the second floor Clubhouse adjacent to the escalator and the first floor Grandstand opposite the Press elevator.<br /><br /><strong>ATM Machines</strong><br />For your convenience, ATM machines are at the following locations:<br /><strong>*</strong> First floor Grandstand near the end mutuel window closest to finish line.<br /><strong>*</strong> Second floor Grandstand opposite the Belmont Grill.<br /><strong>*</strong> Second floor Clubhouse opposite the Clubhouse elevator.<br /><br /><br /><strong>Coat Check</strong><br />At the binocular stands located on the second floor Clubhouse adjacent to the escalator and the first floor Grandstand opposite the Press elevator.<br /><br /><strong>Personal Handicapping Stations</strong><br />Located on the first and second floor Clubhouse, the Personal Handicapping Stations offer serious handicappers their privacy with personal desktops and televisions. Cost is $3 per day; tickets may be purchased at the second floor Customer Service Information Booth.<br /><br /><strong>Race Replay Centers</strong><br />Located on the second floor in the Clubhouse and Grandstand.<br /><br /><strong>First Aid</strong><br />Located in the basement.<br /><br /><strong>Lost and Found</strong><br />Located in the Security Office in the basement.</p></td></tr></tbody></table><table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#111111" style="border-collapse: collapse;"><tbody><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr><tr><td width="12" bgcolor="#0958a6">&nbsp;</td><td class="bodytextbold" bgcolor="#0958a6"><span class="content-header-bar">BELMONT BROADCASTING</span></td></tr><tr><td width="12" height="1"><img src="/images/dot_clear.gif" alt="" /></td><td class="bodytextbold" height="1"><img src="/images/dot_clear.gif" alt="" /></td></tr></tbody></table><table style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0" bordercolor="#111111"><tbody><tr><td width="12">&nbsp;</td><td class="bodytext"><p>&nbsp;</p><p><em>Thoroughbred Action</em>, the half-hour race-replay show, or <em>Inside Racing</em>, the weekly half-hour magazine show, are broadcast daily on Fox Sports New York.</p><br /><br /><em>Thoroughbred Action</em> replays races and shows results and payoffs for each New York raceday.<br /><br /><em>Inside Racing</em> includes timely features and races of the week; it is broadcast on nonracedays during the month.<br /><br /><a href="http://www.nyra.com/Belmont/Broadcast/TelevisionRadio/TelevisionRadio.shtml">Broadcast Schedule</a>&nbsp;</td></tr><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr></tbody></table><table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#111111" style="border-collapse: collapse;"><tbody><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr><tr><td width="12" bgcolor="#0958a6">&nbsp;</td><td class="bodytextbold" bgcolor="#0958a6"><span class="content-header-bar">ADDRESSES</span></td></tr><tr><td width="12" height="1"><img src="/images/dot_clear.gif" alt="" /></td><td class="bodytextbold" height="1"><img src="/images/dot_clear.gif" alt="" /></td></tr></tbody></table><table style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0" bordercolor="#111111"><tbody><tr><td width="12">&nbsp;</td><td class="bodytext"><p>&nbsp;</p><p><strong>Physical Address:</strong><br />Belmont Park<br />2150 Hempstead Turnpike<br />Elmont NY 11003</p><br /><br /><strong>Mailing Address:</strong><br />New York Racing Association<br />PO Box 90<br />Jamaica NY 11417<br />&nbsp;</td></tr><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr></tbody></table><table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#111111" style="border-collapse: collapse;"><tbody><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr><tr><td width="12" bgcolor="#0958a6">&nbsp;</td><td width="100%" bgcolor="#0958a6" class="bodytextbold"><span class="content-header-bar">BELMONT STAKES RESERVED SEATS</span></td></tr><tr><td width="12" height="1"><img src="/images/dot_clear.gif" alt="" /></td><td class="bodytextbold" height="1"><img src="/images/dot_clear.gif" alt="" /></td></tr></tbody></table><table style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0" bordercolor="#111111"><tbody><tr><td width="12">&nbsp;</td><td class="bodytext"><p>&nbsp;</p><p>Reserved Seat Applications for the 140th running of the Belmont Stakes on <strong>Saturday, June 7th, 2008</strong>, will be available as soon as a final agreement to continue our franchise is reached with the legislature.</p><p>Anyone who applied for Belmont Stakes seats last year through the lottery system will automatically be sent an application for the 2008 Belmont Stakes. If you did not participate in the Belmont Stakes reserved seat lottery last year, or if you have changed your mailing information, the Reserved Seat Application Form will be available to download from the website, or you can request that an application be mailed to you by e-mailing <a href="mailto:admpark@nyrainc.com">admpark@nyrainc.com</a>. If you choose the latter, please be sure to give us your complete mailing address, not just your email address.</p><p>Thank you in advance for your patience and thank you for your continued interest and support of NYRA’s leg of the Triple Crown, the Belmont Stakes.</p><p>For more information, call (718) 641 -4700 x732.</p><p>General admission on Belmont Stakes Day is $10; Clubhouse Admission is $20. General parking on Belmont Stakes Day is $10; Preferred Parking is $25.<br /><br />Additionally, there is always space for thousands of fans in first-come, first-served seating. The Grandstand, Backyard and Trackside Apron area offer plenty of free benches, chairs and picnic tables.</p></td></tr><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr></tbody></table><table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#111111" style="border-collapse: collapse;"><tbody><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr><tr><td width="12" bgcolor="#0958a6">&nbsp;</td><td class="bodytextbold" bgcolor="#0958a6"><span class="content-header-bar">HOTELS AND MOTELS</span></td></tr><tr><td width="12" height="1"><img src="/images/dot_clear.gif" alt="" /></td><td class="bodytextbold" height="1"><img src="/images/dot_clear.gif" alt="" /></td></tr></tbody></table><table style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0" bordercolor="#111111"><tbody><tr><td width="12">&nbsp;</td><td class="bodytext"><p>&nbsp;</p> <p>The <strong>Long Island Convention</strong> and <strong>Visitor Bureau</strong> can be an invaluable resource. Call them at:</p>
<p>(631)&nbsp;951-3900</p>
<p>or</p>
<p>(877)&nbsp;FUNONLI</p>
<p> Or go online to <a href="http://www.licvb.com">licvb.com</a>.</p>
<p><br /><br /><strong>Garden City Hotel</strong><br />45 Seventh Street<br />Garden City, N.Y.</p><p>(516)&nbsp;747-3000  <br />Rates: $250 Single / $255 Double<br />Amenities: Pool, spa, salon, restaurants, lounge, 24-hour room service and night club.<br /><br /><strong>Floral Park Motel</strong><br />30 Jericho Turnpike<br />Floral Park, N.Y.</p><p>(516)&nbsp;775-7777<br />Rates: $130 Single/$160 Double (Listed rates are for Belmont Stakes Week June 1 to 9.)<br />Amenities: Continental Breakfast, free newspaper and parking.<br /><br /><strong>Inn at Great Neck</strong><br />30 Cutter Mill Road<br />Great Neck, N.Y.</p><p>(516)&nbsp;773-2000<br />Rates: $179 and up<br />Amenities: All rooms have minibars, television with VCR, CD players, 24-hour room service and two blocks from Long Island Railroad train to Manhattan.<br /><br /><strong>Marriott Hotel</strong><br />101 James Doolittle Ave.<br />Uniondale, N.Y.</p><p>(516)&nbsp;794-3800<br />Rates: $219 and up.<br />Amenities: Pool, spa, restaurant and lounge.<br /><br /><strong>Roslyn Claremont Hotel</strong><br />1221 Old Northern Blvd.<br />Roslyn, N.Y.</p><p>(516)&nbsp;625-2700<br />Rates: $205 Single and Double; Suites start at $255<br />Amenities: European style luxury accommodations, fitness club, restaurant and lounge.<br /><br /><strong>Wingate Inn</strong><br />821 Stewart Ave.<br />Garden City, N.Y.</p><p>(516)&nbsp;705-9000<br />Rates: $152 single and double<br />Amenities: 24-hour business center, fitness center and whirlpool and complimentary continental breakfast.</p></td></tr><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr></tbody></table><table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#111111" style="border-collapse: collapse;"><tbody><tr><td width="12">&nbsp;</td><td class="bodytextbold" align="right">&nbsp;</td></tr><tr><td width="12" bgcolor="#0958a6">&nbsp;</td><td class="bodytextbold" bgcolor="#0958a6"><span class="content-header-bar">Track Diagram</span></td></tr><tr><td width="12" height="1"><img src="/images/dot_clear.gif" alt="" /></td><td class="bodytextbold" height="1"><img src="/images/dot_clear.gif" alt="" /></td></tr></tbody></table><table style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0" bordercolor="#111111"><tbody><tr><td width="12">&nbsp;</td><td class="bodytext"><img title="Belmont Park" src="http://usracing.com/images/getting_around_belmont.jpg" border="0" alt="Belmont Park" /></td></tr></tbody></table>        
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{include file='inc/rightcol-calltoaction-tracks.tpl'} 
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    