{assign  var="racetrackname" value="Pompano Park"} 
{assign  var="racetrackpath" value="pompano-park"} 
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
          
                  {include file='menus/racetracks.tpl'}
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">
<div class="headline"><h1>{$racetrackname} Hose Racing</h1></div>

<div class="content">
<!-- --------------------- content starts here ---------------------- -->
<p>{include file="/home/ah/allhorse/public_html/racetracks/$racetrackpath/slider.tpl"} </p>
<p>{*include file="/home/ah/allhorse/public_html/usracing/racetracks/calltoaction_text.tpl"*} </p><br>

{assign  var="button_cta" value="Bet $racetrackname Now!"} 
{assign  var="ref" value="$racetrackpath"} 



<p>Whether you are on your smartphone, tablet, laptop or home computer you can bet  on races at {$racetrackname} with BUSR, any time or any place.   Get get free money into your account with an 8% <a href="/rebates">horse betting rebate</a> on horse bets, win or lose.  For brand new members, you can enjoy <a href="/promos/cash-bonus-150">$150 Welcome Bonus</a> for trying our services.  <a href="/signup?ref={$ref}" rel="nofollow">Join </a> Today!</p>

{*include file='/home/ah/allhorse/public_html/usracing/cta_button.tpl'*}
 <p  class="cta-center"><a href="/signup?ref={$ref}" rel="nofollow" class="btn-xlrg ">Bet Pompano Park No<br/>w</a></p>   


  <p>{include file="/home/ah/allhorse/public_html/usracing/racetracks/odds_iframe.tpl"} </p>    <br>   

<h2>{$racetrackname} Raicng</h2>
                    <p><strong>Pompano Park</strong> is known as, &quot;The Winter Home of Harness Raing<!--hung-test-->" has been the home of world-class standardbred racing since 1964. The track is located in Pompano Beach, Florida. The 5/8th's mile track has some of harness racing's best and brightest stars competing on a  regular basis. </p>
                    <h2>Pompano Park Track Schedule</h2>
                    <p>
                      <strong>Live Racing: </strong>Monday, Tuesday, Wednesday and Saturday.<br>
                     <strong> Racing Calendar:&nbsp; </strong>September - July<br>
                     <strong>Course type: </strong>Standardbred harness<br>
                     <strong>Main track:</strong>&nbsp; 5/8 mile, oval<br>
                     <strong>Distance from last turn to finish line:</strong> 608 feet
                    </p>
    <!--hung-test-->
    <a href="/famous-horses/secretarait">.</a>
    <!--end-hung-test-->
<p>{include file="/home/ah/allhorse/public_html/usracing/racetracks/marketing_inc.tpl"} </p>                         

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->

<div id="right-col" class="col-md-3">
{include file='/home/ah/allhorse/public_html/usracing/racetracks/calltoaction.tpl'}
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container -->