
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
          
                    {include file='menus/racetracks.tpl'}
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

<div class="headline"><h1>{$racetrackname} Horse Racing</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->

<p>{include file="/home/ah/allhorse/public_html/usracing/racetracks/calltoaction_text.tpl"} </p><br>
  <p>{include file="/home/ah/allhorse/public_html/usracing/racetracks/odds_iframe.tpl"} </p>    <br>   

<h2>{$racetrackname} Racing</h2>

                    <p>Races are held at Ferdale Fairgrounds during the Humboldt County Fair Monday, Tuesday, Thursday in August every year. Eight action-packed days racing mules, thoroughbred, quarterhorse, appaloosa and Arabian horses <br />
                    </p>
                    <p>The Ferndale Fairgrounds track is a tight track with tough corners, making it somewhat unique. It's a track where the jockey's familiarity with the track is perhaps more important than the quality and record of the horse.</p>
              {*
      <p><strong>California Racing Fairs </strong></p>
                    <ul>
                      <li><a href="/pleasanton">Pleasanton</a>
                      </li>
                      <li><a href="/sacramento">Sacramento </a>
                      </li>
                      <li><a href="/ferndale">Ferndale</a> 
                      </li>
                      <li><a href="/stockton">Stockton </a>
                      </li>
                      <li><a href="/fresno">Fresno </a></li>
                    </ul>
                 
*}
               
       
       
<p>{include file="/home/ah/allhorse/public_html/usracing/racetracks/marketing_inc.tpl"} </p>                         

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->

<div id="right-col" class="col-md-3">
{include file='/home/ah/allhorse/public_html/usracing/racetracks/calltoaction.tpl'}
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container -->
