{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
            

      <h2 class="title">Why Us?</h2>
  



    <ul class="menu"><li class="leaf first"><a href="/welcome" title="">WELCOME</a></li>
<li><a href="/learnmore" title="">LEARN MORE</a></li>
<li><a href="/seedifference" title="">SEE THE DIFFERENCE</a></li>
<li><a href="/racebookreviews" title="">COMPARE US</a></li>
<li><a href="/readreviews" title="">READ REVIEWS</a></li>
<li class="leaf active-trail"><a href="/betwithconfidence" title="" class="active">Setting the Pace</a></li>
<li><a href="/bestracebook" title="">ABOUT US Racing</a></li>
</ul>

          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>Setting the Pace</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div class="box-text">
<h2 style="font-size: 20px; color: #105ca9;">Setting the Pace<sup><small>TM</small></sup></h2>
<p>&nbsp;</p>
<p>The most important goal for us is to be the best ADW and internet racebook on the internet-- and that means focusing on the satisfaction of our members.</p>
<p>We offer members an unconditional guarantee: You will be satisfied by our services, period.</p>
<p>We will answer your questions and be ready to help you if you have questions.&nbsp; We will try our best to be the best.&nbsp; Will we sometimes make mistakes?&nbsp; Yes, we will.&nbsp; Will we take responsibility?&nbsp; ALWAYS.&nbsp; We know there are many companies that want your business.</p>
<p>We hope that we will earn your business, but more importantly, we hope that we will earn your trust.</p>
<p>Good Luck with you pics and enjoy the races!</p>
<p>&nbsp;</p>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    