<div id="bankframediv" class="logged-in" style=" background-color:#FFFFFF; ">
<div style="text-align:center; "><img src="/images/ahr-cashierMessage.gif"  align="middle" ></div>
		<iframe id="bankframe"  src="https://teller.gamingsystem.net/teller-deposit/depositDisplayOptions.htm?siteID=7630&casinoid=7630" allowtransparency="0" marginheight="0" marginheight="0" frameborder="0" width="750" height="550" ></iframe>
</div>