
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>Install the All New Desktop Casino</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div id="flashcontent" style="float: right; margin-top: 34px; width:225px; text-align:center; height:160px; background: #fff url('/themes/images/banner-poweredby.jpg') 0 bottom no-repeat;">
{literal}<script type="text/javascript" src="https://cam.gamingsystem.net/static/DCL/_default/swfobject.js"></script>{/literal}
{literal}<script type="text/javascript" src="https://cam.gamingsystem.net/static/DCL/7630/badge.js"></script>{/literal}

{literal}<script type="text/javascript">displayBadge("https://cam.gamingsystem.net/static/DCL/_default","https://cas.gamingsystem.net/cas-desktop-client/usracing.com.air",  7630, "https://cam.gamingsystem.net/static/DCL/7630/CasDownloadBadge2.png");
</script>{/literal}

<!--<embed type="application/x-shockwave-flash" src="https://cam.gamingsystem.net/static/DCL/_default/AIRInstallBadge.swf" style="" id="7630" name="7630" bgcolor="#FFFFFF" quality="high" flashvars="airversion=1.0&amp;appname=Casino Desktop&amp;appurl=https://cas.gamingsystem.net/cas-desktop-client/usracing.com.air&amp;appid=MyApplication&amp;pubid=&amp;appversion=1.0.2&amp;image=https://cam.gamingsystem.net/static/DCL/7630/CasDownloadBadge2.png&amp;appinstallarg=7630&amp;applauncharg=7630&amp;helpurl=help.html&amp;hidehelp=false&amp;skiptransition=false&amp;titlecolor=#00AAFF&amp;buttonlabelcolor=#ffffff&amp;appnamecolor=#00AAFF&amp;str_err_airswf=&lt;u&gt;Running locally?&lt;/u&gt;&lt;br/&gt;&lt;br/&gt;The AIR proxy swf won't load properly when this demo is run from the local file system." width="225" height="138">-->
</div> 


<p>&nbsp;</p>
<p><h3><span class="DarkBlue">Access 50 Games with 1 Click</span></h3></p>
<p><br><br><strong>The best Casino experience on the  web just got better with with US Racing's  new  Desktop Casino, powered by Everybody Plays.</strong><br><br>
Access bigger, better versions of  all your Casino favorites direct from your desktop with just one click.
<br><br>
The new  Desktop brings  you: </p>
        <ul>
          <li>Quick and Easy to install software </li>
          <li>The fastest Blackjack on the net</li>
          <li>More than 50 Casino games</li>
          <li>Captivating 3D graphics</li>
          <li>Enhanced Audio</li>

          <li>Super-Fast Slots</li>
          <li>Huge Jackpots </li>
          <li>More Bonuses than ever before</li>
          <li>And More…DOWNLOAD TODAY!</li>
        </ul>

        
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    