
 {literal}
<script language="javascript">
setTimeout(function(){
$('#placeholder').removeClass('placeholder');
},1)
</script>
{/literal}     
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>Casino Games | Blackjack, Roulette, Poker, Craps</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


{literal}
<link type="text/css" rel="stylesheet" media="all" href="/modules/allhorseracing/casino/casino.css" />
<script type="text/javascript" src="/modules/allhorseracing/casino/casino.js"></script>
<script type="text/javascript">
  var username = Check_Cookie(rot13('UTMU'));//Returns True if User is logged in
  var userloggedin = false;
  if(username) userloggedin = true;
  var activepanes = [];
  var currenttabindex = 0;
  var currentgamename = "";
  var currentplaygame = "";
  var playgameclicked = false;
  var playpane = 9;
  var userisloggedin = userloggedin;
  $(function() {
  	$(".casino-tabs ul.tabs").tabs("div.panes > div", {
  		initialIndex: 0,
  		onClick: function(event,tabindex) {
  			//Check to see if pane is already loaded
			if (!playgameclicked) {
				$("#gameplayframe").attr("src", "");
			}
			if (tabindex == playpane) {
				//Exit, this is the game play hidden tab
				return;
			}
                        if (tabindex == 6) {
                           //Blackjack was clicked, play game
                           playgame('5710','1','blackjack','real');
                           $("#modeswitch").css("display","none");
                           return;
                        }
                        if (tabindex == 7) {
                           //Roulette was clicked, play game
                           playgame('5716','1','roulette','real');
                           $("#modeswitch").css("display","none");
                           return;
                        }
                        if (tabindex == 8) {
                           //3 Card Poker was clicked, play game
                           playgame('5712','1','3cardpoker','real');
                           $("#modeswitch").css("display","none");
                           return;
                        }
                        $("#modeswitch").css("display","block");
    			currenttabindex = tabindex;
    			if (!paneexists(currenttabindex)) {
      				activepanes[activepanes.length] = currenttabindex;
      				var gamename = getgamename(currenttabindex);
      				currentgamename = gamename;
      				var PaneContent = "<div id=\"slideflow-" + currenttabindex + "\" style=\"display:block; padding-top:30px;\"><iframe id=\"slideflowframe-" + currenttabindex + "\" src=\"/casino/slideflow\" style=\"visibility:hidden; \" frameborder=\"0\" scrolling=\"no\" width=\"100%\" height=\"410\"></iframe></div>";
              				PaneContent += "<div id=\"list-" + currenttabindex + "\" style=\"padding-top: 30px; display:none; width:100%; height: 410px; overflow-x:hidden; overflow-y:auto;\">" + createcategorygames(gamename) + "</div>";
            			$("#pane-" + currenttabindex).html(PaneContent);
				var showiframe = '$("#slideflowframe-' + currenttabindex + '").css("visibility", "visible");';
				setTimeout(showiframe, 1000);
  			}
			if ($("#slideflow-" + currenttabindex).css("display") == "block") {
				setswitchicons("flow");
			} else {
				setswitchicons("list");
			}
  		}
  	});
  });

  function getgamename(index) {
  	switch (index) {
		case 0:
			return "All";
			break;
		case 1:
			return "MostPopular";
			break;
		case 2:
			return "New";
			break;
		case 3:
			return "Table";
			break;
		case 4:
			return "Slots";
			break;
		case 5:
			return "VideoPoker";
			break;
	}	
  }

  function getslideflowgamename() {
	return currentgamename;
  }

  function createcategorygames(name) {
  	var html = "";
	var games;
	games = GetCasinoGames(name);
	for (var i=0; i < games.length; i++) {
		var name = games[i].getElementsByTagName("title")[0].firstChild.nodeValue;
		var gameid = games[i].getElementsByTagName("id")[0].firstChild.nodeValue;
		var gametype = games[i].getElementsByTagName("type")[0].firstChild.nodeValue;
		var gamecode = games[i].getElementsByTagName("gamecode")[0].firstChild.nodeValue;
		var practicemode = games[i].getElementsByTagName("practicemode")[0].firstChild.nodeValue;
		
		
		var forrealonclickjs = "playgame('" + gameid + "','" + gametype + "','" + gamecode + "','real');";
		if(practicemode == "true"){
		var forfunonclickjs = "playgame('" + gameid + "','" + gametype + "','" + gamecode + "','fun');";
		var practicelink = "<span class=\"pipe\">|</span><a href=\"javascript:void(0);\" onclick=\"" + forfunonclickjs + "\" >PRACTICE</a>";
		}else{
		var forfunonclickjs = "return false;"
		var practicelink = "<span class=\"playmode-disabled\"><span class=\"pipe\">|</span>PRACTICE</span>";
		}
		var imagename = games[i].getElementsByTagName("src")[0].firstChild.nodeValue;
		html += "<div class=\"gameitem\"><table><tr><td><img src=\"/modules/allhorseracing/slideflow/photos/list/" + imagename + "\" class=\"gameitem-image\" /></td>" +
				"<td><div class=\"gameitem-info\" onmouseover=\"gameitem_mouseover(this);\" onmouseout=\"gameitem_mouseout(this);\"><div class=\"gameitem-name\">" + name + "</div>" +
				"<div class=\"gameitem-playmodes\"><a href=\"javascript:void(0);\" onclick=\"" + forrealonclickjs + "\">PLAY REAL MONEY</a>"+practicelink+"</div></div></td></tr></table></div>";
	}
	return html;

  }

  function gameitem_mouseover(obj) {
	$(obj).attr("class", "gameitem-info-over");
        $(obj).find(".gameitem-playmodes").attr("class", "gameitem-playmodes-over");
  }

  function gameitem_mouseout(obj) {
	$(obj).attr("class", "gameitem-info");
        $(obj).find(".gameitem-playmodes-over").attr("class", "gameitem-playmodes");
  }

  function switchview(view) {
  	if (view == "flow") {
  		$("#slideflow-" + currenttabindex).css("display", "block");
  		$("#list-" + currenttabindex).css("display", "none");

  	} else {
  		$("#slideflow-" + currenttabindex).css("display", "none");
  		$("#list-" + currenttabindex).css("display", "block");
  	}
	setswitchicons(view);
  }

  function setswitchicons(view) {
	if (view == "flow") {
		$("#switch-flow").attr("src", "/modules/allhorseracing/casino/slideflow_on.png");
		$("#switch-list").attr("src", "/modules/allhorseracing/casino/list_off.png");
	} else {
		$("#switch-flow").attr("src", "/modules/allhorseracing/casino/slideflow_off.png");
		$("#switch-list").attr("src", "/modules/allhorseracing/casino/list_on.png");
	}
  }

  function getplaygame() {
     playgameclicked = false;
     return currentplaygame;
  }

  function playgame(id, type, gamecode, mode) {
	if (!userisloggedin && mode == "real") {
		alert("Please join or login to play with real money.");
                window.location.href = window.location.href; 
		return;
	}
        currentplaygame = id + "|" + type + "|" + gamecode + "|" + mode;
		var game = gamecode;
		var casinoid = "7630";
		var isrc = "";
        $("#gameplayframe").attr("src", "");
		var host = "www.usracing.com";
		if(mode == 'fun'){
			var fsrc = "";
			switch(type){
			
				case "1": 
					fsrc = 'https://forfuncasino.gamingsystem.net/login/forfun.jsp?game='+game+'&help=http://'+host+'/support/&cashier=http://'+host+'/casino/bank/';
				break;
				case "3":
					var game0='';
					var game1='';
					if(strstr(game,'-')) {
						var games = explode("-",game);
						game0 = games[0];
						game1 = games[1];
					}
					fsrc = 'https://casinosite.gamingsystem.net/' + host + '/cgi-bin/forfun.cgi?type='+game0+'&var='+game1+', "&sub=0"';
				break;
				case "slots":
					fsrc = 'https://cas.gamingsystem.net/cas-login/launch.svc?gameMode=forfun&casinoid=' + casinoid + '&gameType=46&variationId='+ game + '&service=http:' + host + '/casino/&helpUrl=http://' + host + '/support/gambling_problem&cashierUrl='+host+'/myaccount/';
				break;
				default:
					fsrc = "/casino/no-demo-available";
				break;
			}
			isrc = "<iframe style=\"display: block; background:#000; width: 100%; height: 100%; margin: 0 auto; padding: 0;\" marginheight=\"0\" marginwidth=\"0\" allowtransparency=\"true\" scrolling=\"no\" frameborder=\"0\" id=\"mainGame\" src=\"" + fsrc + "\"></iframe>";
			$("#pane-9").html(isrc);
			
		}else{
			var username = rot13(Get_Cookie(rot13("UTMU")));
			var password = rot13(Get_Cookie(rot13("UTMP")));
			isrc = '<iframe id="gameplayframe" style="display: block; background: #000; margin:0 auto; padding:0;" src="" frameborder="0" scrolling="no" width="100%" height="100%">'
			$("#pane-9").html(isrc);
			switch(type){
				case "1":
 					$("#gameplayframe").attr("src", "/casino/play/case1");
				break;
			
				case "2":
 					$("#gameplayframe").attr("src", "/casino/play/case2");
				break;
				
				case "3":
 					$("#gameplayframe").attr("src", "/casino/play/case3");
				break;
				
				case "4":
 					$("#gameplayframe").attr("src", "/casino/play/case4");
				break;
				
				case "99":
 					$("#gameplayframe").attr("src", "/casino/play/case99");
				break;
			
				case "101":
 					$("#gameplayframe").attr("src", "/casino/play/case101");
				break;
				
				case "45":
 							
	  				isrc = '<iframe id="cas-login-frame" align="center" style="display: block; background:#000; width: 100%; height: 100%; margin: 0 auto; padding: 0;" marginheight="0" marginwidth="0" allowtransparency="true" scrolling="no" frameborder="0" src="https://cas.gamingsystem.net/cas-login/launch.svc?casinoid=7630&gameType=45&variationId=0&service=http://www.usracing.com/casino/play&lobbyId=1&lobbyUrl=http://www.usracing.com/casino/play&helpUrl=http://www.usracing.com/support/casino-rules/&cashierUrl=https://teller.gamingsystem.net/teller-deposit/depositDisplayOptions.htm?siteID=7630&casinoid=7630"></iframe>'
					 $("#pane-9").html(isrc);
	
				break;
				
				case "slots":
						isrc = '<iframe style="display: block; background:#000; width:780px; height: 585px; padding: 0; margin: 0 auto;" marginheight="0" marginwidth="0" allowtransparency="true" scrolling="no" frameborder="0" id="mainGame" src="https://cas.gamingsystem.net/cas-login/launch.svc?gameMode=forreal&casinoid=7630&gameType=46&variationId='+game+'&service=http://www.usracing.com/casino/&helpUrl=http://www.usracing.com/support/gambling_problem&cashierUrl='+game+'/myaccount/"></iframe>';
					
						$("#pane-9").html(isrc);
				break;
				
				case "racebook":
 					$("#gameplayframe").attr("src", "/casino/play/caseracebook");
				break;
				
				case "virutalderby":
 					$("#gameplayframe").attr("src", "/casino/play/casevirtualderby");
				break;
				}																								

			
		}
			
        //$("#gameplayframe").attr("src", "/casino/play");
	playgameclicked = true;
  	var tabapi = $(".casino-tabs ul.tabs").tabs();
	tabapi.click(playpane);
  }

  function paneexists(index) {
  for (var i=0;i<activepanes.length;i++) {
      if (activepanes[i] == index) {
         return true;
      }
   }
  return false;
  }
</script>
{/literal}
<div class="casino-tabs" style="height: 28px;">
  <ul class="tabs">
    <li class="cas-first"><a href="#">ALL GAMES</a></li>
    <li class="cas"><a href="#">MOST POPULAR GAMES</a></li>
    <li class="cas"><a href="#">NEW GAMES</a></li>
    <li class="cas"><a href="#">TABLE GAMES</a></li>
    <li class="cas"><a href="#">SLOTS</a></li>
    <li class="cas"><a href="#">VIDEO POKER</a></li>
    <li class="cas playtab first"><a href="#">BLACKJACK</a></li>
    <li class="cas playtab"><a href="#">ROULETTE</a></li>
    <li class="cas playtab last"><a href="#">3 CARD POKER</a></li>
    <li class="cas" style="display:none;"><a href="#">Hidden game play tab</a></li>
  </ul>
</div><!-- end casino tabs -->

<div class="casino-content" style="border: 1px solid #3780cc; border-top: none;">
<div class="panes">
    <div>
      <div class="gamesarea" id="pane-0"></div>      
    </div>
    
    <div>
      <div class="gamesarea" id="pane-1"></div>
    </div>
    
    <div>
      <div class="gamesarea" id="pane-2"></div>
    </div>

    <div>
      <div class="gamesarea" id="pane-3"></div>
    </div>
    
    <div>
      <div class="gamesarea" id="pane-4"></div>
    </div>
    
    <div>
      <div class="gamesarea" id="pane-5"></div>
    </div>

    <div>
      <div class="gamesarea" id="pane-6"  style="background: #000000;width: 916px; height: 420px;"></div>
    </div>

    <div>
      <div class="gamesarea" id="pane-7" style="background: #000000;width: 916px; height: 420px;"></div>
    </div>

    <div>
      <div class="gamesarea" id="pane-8" style="background: #000000;width: 916px; height: 420px;"></div>
    </div>
    
    <div>
      <div class="gamesarea" id="pane-9" style="width: 916px; height: 585px;">            
          	<iframe id="gameplayframe" style="display: block; background: #000; margin:0 auto; padding:0;" src="" frameborder="0" scrolling="no" width="100%" height="100%">
            </iframe>
      </div>
   </div>
</div><!-- end panes -->

<div style="background: #000000; padding:10px 0 10px 0;"><a title="Download US Racing Casino Today!" href="/casinodownload" style="display: block; width:699px; height: 45px; margin:0 auto;"><img src="/themes/images/banner-casinodownload.gif" /></a></div> 
</div>


<div id="modeswitch" style="display: block; position:absolute; top: 17px; left:882px;">
  <a href="javascript:void(0);" onclick="switchview('flow');"><img src="/modules/allhorseracing/casino/slideflow_on.png" id="switch-flow" style="display:inline;" /></a>&nbsp;
  <a href="javascript:void(0);" onclick="switchview('list');"><img src="/modules/allhorseracing/casino/list_off.png" id="switch-list" style="display:inline;" /></a>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 



    