    {include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
            

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



      {include_php file='../smarty/libs/todayshorseracing/upcomingraces.php'}
	  </div>

  

<!-- /block-inner, /block -->



<div id="block-block-32" class="block block-block region-even even region-count-2 count-2">

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



     {include_php file='../smarty/libs/todayshorseracing/completedraces.php'}
	   </div>

  

</div><!-- /block-inner, /block -->




          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">


          
            <div id="block-block-34" class="block block-block region-odd odd region-count-1 count-3">

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div><a href="/join"><img src="/themes/images/banner-racebook.jpg" alt="Racebook" width="705" height="118" /></a></div>  </div>

  

</div><!-- /block-inner, /block -->



                                    
                                      
          
<div class="headline"><h1>Graded Stakes Schedule</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


{include file='includes/ahr_block_graded_stakes_schedule.tpl'}
 
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 



