
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">




    <div><a href="/join"><img src="/themes/images/banner-racebook.jpg" alt="Racebook" width="705" height="118" /></a></div>  </div>

  

<!-- /block-inner, /block -->



                                    
                                      
          
<div class="headline"><h1>Network Status</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<!-- ======== STYLES NEEDED TO HIDE BLOCK ELEMENTS ================== -->

<!-- ============================================================== -->

<div class="networkstatus">
<div class="containermess">


<div style="float: left;><a href="><img src="/themes/images/ahr-logo.gif" alt="US Racing - Setting the Pace" border="0" id="Logo"/></a></div>

<div><img src="/images/woman-support.jpg" alt="Send us an email" align="right" border="0" height="228" hspace="0" vspace="0" width="152" /></div>

<br />
<br />
<div style="clear: left; padding-top: 24px;">

<div><strong>STATUS:</strong></div>
<div id="spanmess">All systems are online.  Thank you.</div>
<br />
 <div>
For questions  please contact <strong>Customer Care</strong> at:

<br />
<br />
<strong>1-877-BET-WITH-ME</strong>
<br />
1-877-238-9484
<br />
<br />
<strong>Customer Support:</strong><a href="mailto:support@usracing.com"> support@usracing.com</a><br />
<strong>Manager:</strong> <a href="mailto:vip@usracing.com">vip@usracing.com</a>
  </div>

</div>

<div class="backbutton"><input type="button" name="close" value="Back" onclick="javascript: window.close();" ></div>

</div>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    