
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>AHR Message</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<!-- =================== HIDES ALL ELEMENTS ============================ -->

<!-- ================================================================= -->

<div id="ahr-message">
<div class="box">


<div class="logo"><img src="/themes/images/ahr-logo.gif" /></div>

<div class="message-box">
<div id="message"><strong>One Moment Please...</strong></div>
<div class="loading"><img src="/themes/images/loading.gif" /></div>
</div>

<div class="note">If this page appears for more than 5 seconds, <a href="">Click Here</a> to return to the Home Page.</div>

</div>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    