

      
      

      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
            <div id="block-block-9" class="block block-block region-odd odd region-count-1 count-3">

  
<div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div class="logged-out"><a href="/join"><img src="/themes/images/banner-poker.jpg" alt="" width="705" height="118" /></a></div>
    <div class="logged-in"><a href="http://download.merge-hosting.com/brand/everybodyplays.com/everybodyplaysinstall.exe"><img src="/themes/images/banner-poker.jpg" alt="" width="705" height="118" /></a></div>
</div>

  

</div><!-- /block-inner, /block -->



                                    
                                      
          
<div class="headline"><h1>Poker</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div class="box-text">
<p><h3><span class="DarkBlue">Our Poker is powered by Everybody Plays Poker!</span></h3></p>

<p><h2>Download the poker software and begin playing with your US Racing<br />username and password!</h2></p>
<br />
<p><h2><a title="Download Poker Now!" href="http://download.merge-hosting.com/brand/everybodyplays.com/everybodyplaysinstall.exe">Download Poker Now!</a></h2></p>
<p>&nbsp;</p>

<table class="table-poker" border="0" cellpadding="20" cellspacing="0" bgcolor="#f2f9ff">
<tbody>
<tr>
<td><p align="left"><a title="Download Poker. Click Here!" href="http://download.merge-hosting.com/brand/everybodyplays.com/everybodyplaysinstall.exe"><img title="Download Poker - Click Here" alt="Download Poker - Click Here" src="/themes/images/1_poker_download.png" border="0" /></a></p></td>
<td align="left"><strong>1.</strong> Select Run or Save buttons and then follow the instructions.</td>
</tr>
<tr>
<td bgcolor="#f2f9ff"><strong>2.</strong> Locate the Everybody Plays Poker installer and double-click it to begin installing</td>
<td><p align="right"><img title="Install Everybody Plays Poker to your hard drive" alt="Install Everybody Plays Poker to your hard drive" src="/themes/images/2_poker_install.png" border="0" click="click" /></p></td>
</tr>
<tr>
<td><p align="left"><img title="Login to your account using your US Racing account info." alt="Login to your account using your US Racing account info." src="/themes/images/3_poker_login.png" border="0" /></p></td>
<td><strong>3.</strong> When the game launches, click on ‘Login’. A pop-up window will ask you to login or “Create an Account”. Your US Racing account info will work instantly with Everybody Plays Poker. It's totally hassle free!</td>
</tr>
<tr>
<td><strong>4.</strong> After you create an account, you will receive an email confirmation. Deposit some cash or play for free. See you at the tables and good luck!</td>
<td><p align="right"><img title="Welcome to Everybody Plays Poker " alt="Welcome to Everybody Plays Poker " src="/themes/images/4_poker_play.png" border="0" /></p></td>
</tr>
</tbody>
</table>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    