  
  {include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->



 
        
{include file='menus/promotions.tpl'}
{include file='menus/help.tpl'}





<!-- ---------------------- end left menu contents ------------------- -->         
</div>

      

      

<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">



                                      
          
<div class="headline"><h1>Best Rebates for Sports, Casino and AllHorse Racing</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div class="promos-title"><h2>Current Promotions and Specials</h2></div>	

<div class="promos-welcome"><h4>Welcome to the US Racing Promotions and Specials page, keeping you up to date with more ways to win!</h4></div>

<div id="promos-content">

	<div class="promos-box">		
	<div class="icon"><img src="/themes/images/promo-current.gif" /></div>	
	<div class="header">Current promotions that you won't want to miss out on:</div>
    
<div class="current-info">

<ul class="star">
<li><a href="promotions/deposit-specials">10% Initial deposit bonus!</a></li>
<li><a href="/triplecrown/freebet">FREE $5 Bet on the Belmont Stakes</a></li>
<li><a href="/promotions/casino/happyhour">Casino Happy Hour All Week</a></li>
<li><a href="/promotions/casino/casino-freetournament">Sunday Best FREE Casino Tournament</a></li>
<li><a href="/promotions/casino/casino-cashback">Casino 10% Cash Back Bonus Each Month</a></li>
<li>Daily Horse Rebate with no restrictions! </li>
<li><a href="/promotions/horseracing">8% Rebate on Exotics!</a></li>
<li>3% Rebate on Win, Place or Show! </li>
<li>Over 100 tracks to bet on in the USA and Canada. Tons of exotic bets with the highest payout limits and more! </li>
<li><a href="promotions/deposit-specials">5% Free cash on all deposits every day!</a></li>
<!-- <li><a href="/promotions/casino/casino-cashback">10% Casino Cash back every month!</a> </li>
 --><!-- <li><a href="promotions/casino/casino-cashback">50% Casino Cash Back every Thursday!</a></li>
 --><li>100% Initial Poker Deposit Bonus! </li>
<li>Half Juice on all games every Friday. Bet NFL, Baseball, Basketball and Hockey at -105 every Friday. </li>
<li>More props equals more fun. No one offers more prop bets. Player props, scoring titles, score by quarter and by half. Dozens of daily golf matchup's. </li>
<li>More parlays and teasers than Las Vegas or any where else!</li>
<li>Up to 12 team parlays and progressive parlays.</li>
<li>Half juice on all NBA games every Monday. Lay -105 on Mondays.</li>
</ul>

</div>
</div>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 


