{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
            

      <h2 class="title">Why Us?</h2>
  



    <ul class="menu"><li class="leaf first"><a href="/welcome" title="">WELCOME</a></li>
<li><a href="/learnmore" title="">LEARN MORE</a></li>
<li><a href="/seedifference" title="">SEE THE DIFFERENCE</a></li>
<li class="leaf active-trail"><a href="/racebookreviews" title="" class="active">COMPARE US</a></li>
<li><a href="/readreviews" title="">READ REVIEWS</a></li>
<li><a href="/betwithconfidence" title="">Setting the Pace</a></li>
<li><a href="/bestracebook" title="">ABOUT US Racing</a></li>
</ul>

          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>Compare US Racing and see what makes us the best choice</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<p align="center"><a href="/join"><img title="US Racing offers more choices than other racebooks" alt="US Racing offers more choices than other racebooks" src="/themes/images/whyus/bestracebooks.jpg" border="0" /></a></p>
        
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    