 <div id="main" class="logged-in">
 

     
      

<div id="left-col" class="append-logged-in">
 



<div style="padding: 0pt 10px;">
<span style="float: right; display: block;">
<img src="/themes/images/howtobet-rb.gif" style="float:left; margin-right:7px; width:auto; display:block;" />
<a title="How to Bet on Horses" onclick="window.open('/flash/tutorial/Site/index.html','Tutorial','width=700,height=400,top=243,left=250,resizable=no,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no ');" href="javascript:void(0);">Horse Racing Tutorial</a>
</span>
<h2 class="title">Racebook</h2>
</div>





  
<div class="content">
<!-- --------------------- content starts here ---------------------- -->



<div class="field field-type-text field-field-body-logged-in">






</div>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container -->
 




<!-- start: LOGGED-OUT -->
<div id="main" class="logged-out">

<div id="col1" class="append-logged-out">




 {include file='menus/horsebetting.tpl'}
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="left-col" class="append-logged-out">
         
          
            <div id="block-block-3" class="block block-block region-odd odd region-count-1 count-5">
 
  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->


<!-- /block-inner, /block -->

 
 
</div>                                    
                                      
          
<div class="headline"><h1>US RACING - The Official OTB Racebook of the U.S.A.</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<h2>Do you want to bet on horses online?</h2></div>
<br />

<p><strong>Legal Horse Racing:</strong></p>
<p>You asked, we listened! US Racing is now offering legal and licensed horse wagering on all Thoroughbred Races, get your horse bets in and watch the races live on your iPhone, Android device or desktop computer!</p>

 
 <p align="left">Want to <a title="bet on the Kentucky Derby" href="/kentucky-derby/betting">bet on the Kentucky Derby</a>? How about the <a title="Preakness Stakes" href="/preakness-stakes/betting">Preakness Stakes</a> and <a title="Belmont Stakes" href="/belmont-stakes/betting">Belmont Stakes</a>? How about a head to head matchup against your favorite horse at the <a title="Santa Anita Derby" href="/santa-anita-derby">Santa Anita Derby</a> or the <a title="Melbourne Cup" href="/melbourne-cup">Melbourne Cup</a>?  We invite you to open a legal and licensed<a title="free off-track betting account" href="/join">free account</a> at US Racing and discover why thousands of people play the ponies in the comfort of their home or on their iPhone or Android powered smart phone.  At US Racing,  feel safe and secure with legal and licensed <a title="advanced deposit wagering" href="/adw">advanced deposit wagering</a> account. 
  We take <a title="horse racing" href="/">horse racing</a> seriously and if you love <a title="Online Horse Racing" href="/">betting on horses</a> you know it is even more exciting when you win. <a title="Bet on horses. Join US Racing Today!" href="/join">Join today</a> and get the HIGHEST payouts available online.  Forget Offshore Gaming -- try US Racing!</p><p>US Racing aims to provide customers the absolute best in customer service. Our constant news updates, up to date stats and race information give you the edge so you can bet with knowledge and peace of mind that your winnings are insured and safe in the U.S.A.</p>
<br />

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
 <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container -->
