 <div id="main" class="logged-in">

      <div id="col1" class="append-logged-in">
        
          
            
 
  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div>
<a href="javascript:void(0);" onClick="window.open('/flash/tutorial/Site/index.html','Tutorial','width=700,height=400,top=243,left=250,resizable=no,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no ');"  title="Racebook Tutorial"><img src="/themes/images/racebook-tutorial-btn.gif" alt="Racebook Tutorial" width="181" height="97" /></a>
</div>
  </div>
 
  

<!-- /block-inner, /block -->

 
 
<div id="block-block-94" class="block block-block region-even even region-count-2 count-2">
 
  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <link type="text/css" rel="stylesheet" media="all" href="/modules/allhorseracing/tabs/tools.tabs-general.css" />{literal}
<script type="text/javascript" src="/modules/allhorseracing/tabs/tools.tabs-1.0.4.min.js"></script>
<link type="text/css" rel="stylesheet" media="all" href="/themes/css/minigames.css" />
<!--[if IE]>
<link type="text/css" rel="stylesheet" media="all" href="/themes/css/minigamesIE.css" />
<![endif]-->
 
<script language="javascript"> 
var gamecode = "blackjackmini_embed";
function toggle() {
	var ele = document.getElementById("toggleText");
	var text = document.getElementById("displayText");
	if(ele.style.display == "none") {
    		ele.style.display = "block";
		text.innerHTML = "HIDE";
  	}
	else {
		ele.style.display = "none";
		text.innerHTML = "SHOW";
	}
} 
 
function loadingframe(a)
{
	if(a == "blackjack")
	{
		gamecode = "blackjackmini_embed";
		document.getElementById('blackjackframe').src="/minicasino.inc.php?game=blackjackmini_embed";
		document.getElementById('blackjackframe').style.display="block";
		document.getElementById('rouleteframe').style.display="none";
		document.getElementById('rouleteframe').src="";
	}
	else
	{
		document.getElementById('blackjackframe').src="";
		document.getElementById('blackjackframe').style.display="none";
		document.getElementById('rouleteframe').style.display="block";
		gamecode = "miniroulette";
		document.getElementById('rouleteframe').src="/minicasino.inc.php?game=miniroulette";
	}
	
}
</script>
 <form name="loginform" id="loginform" method="post" action="https://plcasino.gamingsystem.net/login/login.jsp">
			<input type="hidden" name="casinoid" value="7630">
			<input type="hidden" name="game" value="">
			<input type="hidden" name="help" value="http://www.usracing.com/support/casino-rules/">
			<input type="hidden" name="cashier" value="https://teller.gamingsystem.net/teller-deposit/depositDisplayOptions.htm?siteID=7630&casinoid=7630">
			<input type="hidden" name="login_fail" value="http://www.usracing.com/support/loginhelp/">
			<input type="hidden" name="userid" value="">
			<input type="hidden" name="passwd" value="">
            </form>
<style></style>
 {/literal}

 
<div class="minigame-title"><span style="float: left;">Play Mini Games</span><a id="displayText" href="javascript:toggle();" style="float: right;">HIDE</a></div>
 
<div id="toggleText" style="display:block;">
 
<div id="minigame-tabs">
		<ul class="tabs" style="width: 179px;"><!-- the tabs -->
		<li class="mini" style="width: 90px;"><a href="#" onClick="loadingframe('blackjack')">BLACKJACK</a></li>
            	<li class="mini last" style="width: 89px;"><a href="#" onClick="loadingframe('roulete')">ROULETTE</a></li>			
		</ul><!-- end tabs -->
</div>
{literal}
<script language="javascript">

</script>
{/literal} 
 
<div class="panes">
 
<!-- ======== MINI BLACKJACK ======================= -->
 
<div class="minigame-content"><!-- Pane1 -->
<div  class="game-container">
<iframe id="blackjackframe" allowtransparency="true" frameborder="0" scrolling="no" src="" ></iframe>
</div>
 
</div><!-- End Pane1 -->
<!-- ============================================== -->
 
<!-- ======== MINI ROULETTE ======================== -->
<div class="minigame-content" style="display:none;"><!-- Pane2 -->
<div class="game-container">
<iframe width="100%"  height="100%"  id="rouleteframe" allowtransparency="true" frameborder="0" scrolling="no" ></iframe>
</div>
</div><!-- End Pane2 -->
<!-- ============================================== -->
 
</div><!-- End Panes -->	
</div><!-- End Toggle Block -->
<!-- End Block -->

 {literal}
<!-- ======== SCRIPT TO ENABLE TABS ================= -->
<script type="text/javascript"> 
<!--//--><![CDATA[//><!--
    $(function() {
      // setup ul.tabs to work as tabs for each div directly under div.panes
     $("#minigame-tabs ul.tabs").tabs("div.panes > div");
	  	
    });
//--><!]]>
</script>  </div>
 
  {/literal}

</div><!-- /block-inner, /block -->

 
 
<div id="block-block-95" class="block block-block region-odd odd region-count-3 count-3">
 
  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



 

<h2 class="title">Hot Bets</h2>
 
<ul class="menu">
 
<li class="leaf first"><a href="javascript:void(0);" onclick="open_banking();" title="Make a Deposit">DEPOSIT / WITHDRAW</a></li>
<li><a href="/racebook" title="Today's Races">TODAY'S RACES</a></li>
<li><a href="/sportsbook" title="Daily Horse Match Ups">DAILY HORSE MATCH UPS</a></li>         			
<li><a href="/beton/race-of-the-week" title="Big Race of the Week">RACE OF THE WEEK</a></li>
<li><a href="/support" title="Racing Support">RACING SUPPORT</a></li>
</ul>
  </div>
 
  

</div><!-- /block-inner, /block -->

 
 
<div id="block-menu-menu-racebook-help" class="block block-menu region-even even region-count-4 count-4">
 
      <h2 class="title">Help / Rules</h2>
  



    <ul class="menu"><li class="leaf first"><a href="/support" title="Customer Care">CUSTOMER CARE</a></li>
<li><a href="/house-rules" title="House Rules">HOUSE RULES</a></li>
<li><a href="/horseracing/bettinglimits" title="Horse Racing Rules">HORSE RACING RULES</a></li>
<li><a href="/rebates" title="8% Rebate Wagers">8% REBATE WAGERS</a></li>
<li><a href="/howto/betonsports" title="">SPORTS BETTING RULES</a></li>
<li><a href="/handicapping-horses" title="Handicapping">HANDICAPPING</a></li>
<li><a href="/legend" title="Horse Racing Legend">HORSE RACING LEGEND</a></li>
<li><a href="/horseracingterms" title="Horse Racing Terms">HORSE RACING GLOSSARY</a></li>
<li><a href="/horseracingbets" title="Horse Racing Wagers">HORSE RACING WAGERS</a></li>
<li><a href="/horseracing-history" title="History of Horse Racing">HORSE RACING HISTORY</a></li>
<li><a href="/famoushorses" title="Famous Horses">FAMOUS HORSES</a></li>
<li><a href="/famousjockeys" title="Famous Jockeys">FAMOUS JOCKEYS</a></li>
<li><a href="/bestracebook" title="About US Racing">ABOUT US</a></li>
</ul>  </div>
 
  

</div><!-- /block-inner, /block -->

 
 
          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="left-col" class="append-logged-in">
         
          
                                                
                                      
          
<div class="headline"><h1>Racebook</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div class="field field-type-text field-field-body-logged-in">
    
            
<!--
<div class="block" style="text-align: center; margin-top: 10px; border-color:#aad3ff;">
<strong>Place your bets on the Belmont Stakes. <strong>Select Belmont Park</strong>. <strong>Select Race 11<strong> for the Belmont Stakes.
<br />
<strong>Match Races</strong> and Exotic Belmont Stakes bets are available in the <strong><a href="/sportsbook" title="Match Races and Exotic Bets">Sportsbook</a></strong>
</div>
-->
 {include_php file='../smarty/libs/racebook/racebook.php'}
 
<!-- <div style="height: 1250px;  overflow:hidden;"><iframe name="ODDS" style="text-align: center; margin:10px auto; overflow:hidden;" title="ODDS" src="" frameborder="0" width="100%" height="1250" id="ifRaceBook" scrolling="no"></iframe></div> -->

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container -->
 
    <div id="main" class="logged-out">
      <div id="col1" class="append-logged-out">
        
          
            
 
  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div>
<a href="javascript:void(0);" onClick="window.open('/flash/tutorial/Site/index.html','Tutorial','width=700,height=400,top=243,left=250,resizable=no,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no ');"  title="Take The Tour - Racebook Tutorial"><img src="/themes/images/takethetour.gif" alt="Take The Tour - Racebook Tutorial" width="225" height="115" /></a>
</div>  </div>
 
  

<!-- /block-inner, /block -->

 
 
<div id="block-menu-menu-racebook-info" class="block block-menu region-even even region-count-2 count-2">
 
      <h2 class="title">Info</h2>
  



    <ul class="menu"><li class="leaf first"><a href="/rebates" title="8% Rebate On Bets">8% REBATE ON BETS</a></li>
<li><a href="/howto/placeabet" title="How to bet on horses">HOW TO BET ON HORSES</a></li>
<li><a href="/racebook/betting-help/rules" title="Rules">RULES</a></li>
<li><a href="/handicapping-horses" title="Horse Race Betting Tips">HORSE RACING TIPS</a></li>
</ul>  </div>
 
  

</div><!-- /block-inner, /block -->

 
 
<div id="block-menu-menu-racebook-help" class="block block-menu region-odd odd region-count-3 count-3">
 
      <h2 class="title">Help / Rules</h2>
  



    <ul class="menu"><li class="leaf first"><a href="/support" title="Customer Care">CUSTOMER CARE</a></li>
<li><a href="/house-rules" title="House Rules">HOUSE RULES</a></li>
<li><a href="/horseracing/bettinglimits" title="Horse Racing Rules">HORSE RACING RULES</a></li>
<li><a href="/rebates" title="8% Rebate Wagers">8% REBATE WAGERS</a></li>
<li><a href="/howto/betonsports" title="">SPORTS BETTING RULES</a></li>
<li><a href="/handicapping-horses" title="Handicapping">HANDICAPPING</a></li>
<li><a href="/legend" title="Horse Racing Legend">HORSE RACING LEGEND</a></li>
<li><a href="/horseracingterms" title="Horse Racing Terms">HORSE RACING GLOSSARY</a></li>
<li><a href="/horseracingbets" title="Horse Racing Wagers">HORSE RACING WAGERS</a></li>
<li><a href="/horseracing-history" title="History of Horse Racing">HORSE RACING HISTORY</a></li>
<li><a href="/famoushorses" title="Famous Horses">FAMOUS HORSES</a></li>
<li><a href="/famousjockeys" title="Famous Jockeys">FAMOUS JOCKEYS</a></li>
<li><a href="/bestracebook" title="About US Racing">ABOUT US</a></li>
</ul>  </div>
 
  

</div><!-- /block-inner, /block -->

 
 
<div id="block-block-56" class="block block-block region-even even region-count-4 count-4">
 
  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div>
<!-- <a href="/join"><img src="/themes/images/stakesraces/schedule_button1.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>
 -->
 
<a href="/join"><img src="/themes/images/stakesraces/schedule_button2.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>

 
<div style="margin-top: 6px;">
<a href="/join"><img src="/themes/images/stakesraces/schedule_button3.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>
</div>

 
<div style="margin-top: 6px;">
<a href="/join"><img src="/themes/images/stakesraces/schedule_button4.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>
</div>

 
<div style="margin-top: 6px;">
<a href="/join"><img src="/themes/images/stakesraces/schedule_button5.jpg" alt="Big Stakes Races This Week" title="Bet on This Weeks Big Stakes Races" width="225" height="89" /></a>
</div>
 
</div>  </div>
 
  

</div><!-- /block-inner, /block -->

 
 
          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="left-col" class="append-logged-out">
         
          
            <div id="block-block-3" class="block block-block region-odd odd region-count-1 count-5">
 
  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



<div><a href="/join"><img src="/themes/images/banner-racebook-breeders.jpg" alt="Racebook" width="705" height="118" /></a></div>
<!--<div><a href="/join"><img src="/themes/images/banner-racebook-breeders.jpg" alt="Racebook" width="705" height="118" /></a></div>  </div>-->
 
  
</div>
<!-- /block-inner, /block -->

 
 
</div>                                    
                                      
          
<div class="headline"><h1>Racebook</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<h2>Do you want to bet on horses online?</h2></div>
<br />
<!--<p><strong>Congratulations to Drosselmeyer and MIke Smith</strong> on winning the <strong>Belmont Stakes!</strong> &nbsp;&nbsp;Join us for our final Triple Crown Tuesday on June 8th – 50% cash back bonus!
<br /><br />
</p>-->
 
<p><strong>Advance Wagering :</strong></p>
<p>You asked, we listened! US Racing is now offering Advance wagering on all Thoroughbred Races, get your horse bets in early. Tracks are now available the evening before the race!</p>
<!-- <strong>As an added bonus we will even offer advance wagering 2 days before the Belmont Stakes! <a href="/join" title="Belmont Stakes Advance Wagers available 2 days before the race">BET NOW</a></strong> -->
 
 <p align="left">Want to <a title="bet on the Kentucky Derby" href="/kentuckyderby-betting">bet on the Kentucky Derby</a>? How about the <a title="Preakness Stakes" href="/preaknessstakes-betting">Preakness Stakes</a> and <a title="Belmont Stakes" href="/belmontstakes-betting">Belmont Stakes</a>? How about a head to head matchup against your favorite horse at the <a title="Santa Anita Derby" href="/santaanitaderby">Santa Anita Derby</a> or the <a title="Melbourne Cup" href="/melbournecup">Melbourne Cup</a>?  We invite you to open a <a title="free off-track betting account" href="/join">free account</a> at US Racing and discover why thousands of people play the ponies in the comfort of their home from via computer everyday.  At US Racing,  there are <span class="style1">NO TAXES</span> on any of the winnings of a member's <a title="advanced deposit wagering" href="/advancedepositwagering">advanced deposit wagering</a> account. US Racing also gives a <a title="Horse Racing Rebate" href="/rebates">8% DAILY REBATE</a> to members on all the exotic horse wagers you make. Win or lose, you get a nice surprise in your account -- extra cash! We take <a title="horse racing" href="/">horse racing</a> seriously and if you love <a title="Bet on Horse Racing!" href="/racebook/playnow">betting on horses</a> you know it is even more exciting when you win. <a title="Bet on horses. Join US Racing Today!" href="/join">Join today</a> and get the HIGHEST payouts available online.  Forget <a title="OTB" href="/otb">OTB</a> -- try US Racing and Setting the Pace!</p><p>US Racing aims to provide customers the absolute best in customer service. Our constant news updates, up to date stats and race information give you the edge so you can bet with knowledge and Setting the Pace.</p>
<br />
 
<p><strong>Wagering Highlights:</strong></p>
<p><ul>
<li>8% Rebate on Exotic Horse Bets!</li><li>3% Rebate on Win, Place or Show Bets!</li>
<li>10% Sign-up Bonus</li>
<li>Head to Head Horse Match-ups</li>
<li>Win, Place, Show, Daily Doubles, Exactas, Quiniellas, Trifectas, Superfectas, Pick 3, and Pick 4.</li><li>Win, Place, Show wagers pay full track odds!</li><li>Exotics pay up to 5000-1 with a maximum event payout of $20,000.00!</li>
<li>5% Casino and Sportsbook Rebate</li>
<li><a title="Join US Racing Today!" href="/join">Membership is FREE!</a> </li>
</ul></p>
<p>&nbsp;</p>
<div style="width:100%;"><a href="/join"><img style="margin: 0 auto; width: 150px;" title="Want to bet on Horses Online? Join Today!" alt="Want to bet on Horses Online? Join Today!" src="/themes/images/join_button.gif" border="0" /></a></div> 
<p>&nbsp;</p>
              
            
            
            
 
      <h2 class="title">2010 Race Schedule</h2>
   {include_php file='../smarty/libs/racebook/2010raceschedule.php'}
<!-- /block-inner, /block -->

 
 
          
        
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
 <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 


{literal}
    <script language="javascript">
	var username = Check_Cookie(rot13('UTMU'));
	setTimeout(
	function (){if(username){
	$("#blackjackframe").attr("src","/minicasino.inc.php?game=blackjackmini_embed");
	$("#ifRaceBook").attr("src","https://ppe.gamingsystem.net/customerauthn/pl/checkLogin?login=http://blrweb.gamingsystem.net/RaceBook/login&service=http://blrweb.gamingsystem.net/RaceBook/login&sp_casinoid=7630&sp_siteID=7630&lp_casinoid=7630&lp_siteID=7630");
	
	}else{

	}},1000);
	</script>
    {/literal} 
      
    </div>
