
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>Racebook Play for Fun</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div>
<iframe name="ODDS" title="ODDS" src="https://ppe.gamingsystem.net/customerauthn/pl/checkLogin?login=http://blrweb.gamingsystem.net/RaceBook/login&service=http://blrweb.gamingsystem.net/RaceBook/login&sp_casinoid=7630&sp_siteID=7630&lp_casinoid=7630&lp_siteID=7630" frameborder="0" width="100%" height="950" id="ifRaceBook"></iframe>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    