 <div id="main" class="logged-in">
 
     
      

<div id="left-col" class="append-logged-in">
 


                                      
          
<div class="headline"><h1>Racebook</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div class="field field-type-text field-field-body-logged-in">



{literal}
<script type="text/javascript">

if(user_is_logged_in()){
/*	var MsgContent= new Array();
	$.get('/FeedData/racebook-switch.txt', function(data) {MsgContent=explode('=;',$.trim(data));});
	if(trim(MsgContent[0]) == "dead")
	{
	
	document.write('<div style="height: 550px;  overflow:hidden;"><iframe name="ODDS" style="text-align: center; margin:10px auto; overflow:hidden;" title="ODDS" src="" frameborder="0" width="100%" height="550" id="ifRaceBook" scrolling="no"></iframe></div>');
	
	$("#ifRaceBook").attr("src","http://208.158.1.151:5180/applet.cgi?community=7630");
	
				if(trim($MsgContent[1]) == "live"){
	
					document.write('<div class="block" style="text-align: center; margin-top: 10px; border-color:#aad3ff;">' + trim($MsgContent[2]) + '</div>');
				}
	}
	else
	{
	*/
	document.write('<div style="height: 2000px; overflow:hidden;"><iframe name="ODDS" style="text-align: center; margin:10px auto; overflow-y:auto; overflow-x:hidden; padding:0;" title="ODDS" src="" frameborder="0" width="940" height="1900" id="ifRaceBook" scrolling="no"></iframe></div>');
	$("#ifRaceBook").attr("src","https://ppe.gamingsystem.net/customerauthn/pl/checkLogin?login=http://blrweb.gamingsystem.net/RaceBook/login&service=http://blrweb.gamingsystem.net/RaceBook/login&sp_casinoid=7630&sp_siteID=7630&lp_casinoid=7630&lp_siteID=7630");
	
//	}
}
</script>
{/literal}


</div>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container -->
 

<div id="main" class="logged-out"><!-- start: LOGGED-OUT -->

<div id="col1" class="append-logged-out">



{include file='banners/takethetour.tpl'} 
{include file='menus/info.tpl'} 
{include file='menus/triplecrown.tpl'} 
{include file='menus/help.tpl'} 
{include file='banners/banner3.tpl'}
{include file=banners/banner-stakesraces.tpl}




<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      <div id="left-col" class="append-logged-out">
         
          
            <div id="block-block-3" class="block block-block region-odd odd region-count-1 count-5">
 
  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



<div><a href="/join"><img src="/themes/images/banner-racebook.jpg" alt="Racebook" width="705" height="118" /></a></div>
<!--<div><a href="/join"><img src="/themes/images/banner-racebook-breeders.jpg" alt="Racebook" width="705" height="118" /></a></div>  </div>-->
 
  
</div>
<!-- /block-inner, /block -->

 
 
</div>                                    
                                      
          
<div class="headline"><h1>Racebook</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<h2>Do you want to bet on horses online?</h2></div>
<br />
<!--<p><strong>Congratulations to Drosselmeyer and MIke Smith</strong> on winning the <strong>Belmont Stakes!</strong> &nbsp;&nbsp;Join us for our final Triple Crown Tuesday on June 8th – 50% cash back bonus!
<br /><br />
</p>-->
 
<p><strong>Advance Wagering :</strong></p>
<p>You asked, we listened! US Racing is now offering Advance wagering on all Thoroughbred Races, get your horse bets in early. Tracks are now available the evening before the race!</p>
<!-- <strong>As an added bonus we will even offer advance wagering 2 days before the Belmont Stakes! <a href="/join" title="Belmont Stakes Advance Wagers available 2 days before the race">BET NOW</a></strong> -->
 
 <p align="left">Want to <a title="bet on the Kentucky Derby" href="/kentuckyderby-betting">bet on the Kentucky Derby</a>? How about the <a title="Preakness Stakes" href="/preaknessstakes-betting">Preakness Stakes</a> and <a title="Belmont Stakes" href="/belmontstakes-betting">Belmont Stakes</a>? How about a head to head matchup against your favorite horse at the <a title="Santa Anita Derby" href="/santaanitaderby">Santa Anita Derby</a> or the <a title="Melbourne Cup" href="/melbournecup">Melbourne Cup</a>?  We invite you to open a <a title="free off-track betting account" href="/join">free account</a> at US Racing and discover why thousands of people play the ponies in the comfort of their home from via computer everyday.  At US Racing,  there are <span class="style1">NO TAXES</span> on any of the winnings of a member's <a title="advanced deposit wagering" href="/advancedepositwagering">advanced deposit wagering</a> account. US Racing also gives a <a title="Horse Racing Rebate" href="/rebates">8% DAILY REBATE</a> to members on all the exotic horse wagers you make. Win or lose, you get a nice surprise in your account -- extra cash! We take <a title="horse racing" href="/">horse racing</a> seriously and if you love <a title="Bet on Horse Racing!" href="/racebook/playnow">betting on horses</a> you know it is even more exciting when you win. <a title="Bet on horses. Join US Racing Today!" href="/join">Join today</a> and get the HIGHEST payouts available online.  Forget <a title="OTB" href="/otb">OTB</a> -- try US Racing and Setting the Pace!</p><p>US Racing aims to provide customers the absolute best in customer service. Our constant news updates, up to date stats and race information give you the edge so you can bet with knowledge and Setting the Pace.</p>
<br />
 
<p><strong>Wagering Highlights:</strong></p>
<p><ul>
<li>8% Rebate on Exotic Horse Bets!</li><li>3% Rebate on Win, Place or Show Bets!</li>
<li>10% Sign-up Bonus</li>
<li>Head to Head Horse Match-ups</li>
<li>Win, Place, Show, Daily Doubles, Exactas, Quiniellas, Trifectas, Superfectas, Pick 3, and Pick 4.</li><li>Win, Place, Show wagers pay full track odds!</li><li>Exotics pay up to 5000-1 with a maximum event payout of $20,000.00!</li>
<li>5% Sportsbook Rebate</li>
<li>50% Casino Cash Back every Thursday - <a href="promotions/casino/casino-cashback">Click here for details</a></li>
<li><a title="Join US Racing Today!" href="/join">Membership is FREE!</a> </li>
</ul></p>
<p>&nbsp;</p>
<div style="width:100%;"><a href="/join"><img style="margin: 0 auto; width: 150px;" title="Want to bet on Horses Online? Join Today!" alt="Want to bet on Horses Online? Join Today!" src="/themes/images/join_button.gif" border="0" /></a></div> 
<p>&nbsp;</p>
              
            
            
            
 
      <h2 class="title">2011 Race Schedule</h2>
   {include_php file='../smarty/libs/racebook/2010raceschedule.php'}
<!-- /block-inner, /block -->

 
 
          
        
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
 <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 


{literal}
    <script language="javascript">
	var username = Check_Cookie(rot13('UTMU'));
	setTimeout(
	function (){if(username){
	$("#blackjackframe").attr("src","/minicasino.inc.php?game=blackjackmini_embed");
	
	}else{

	}},1000);
	</script>
    {/literal} 
      
    </div>
