
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>Horse Racing Schedule and Events</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<!--Start--><link rel="Stylesheet" href="/themes/css/tooltip.css" type="text/css" />
 <table  id="infoEntries" width="100%" >
                                <tbody>
                                  <tr >
                                    <th valign="top" ><strong>Monday<br>September 20, 2010</strong></th>
                                    <th valign="top"><strong>Tuesday<br>September 21, 2010</strong></th>       
                                    <th valign="top"><strong>Wednesday<br>September 22, 2010</strong></th>
                                    <th valign="top"><strong>Thursday<br>September 23, 2010</strong></th>
                                    <th valign="top"><strong>Friday<br>September 24, 2010</strong></th>
                                    <th valign="top"><strong>Saturday<br>September 25, 2010</strong></th>
                                    <th valign="top"><strong>Sunday<br>September 26, 2010</strong></th>
                                  </tr>

								 
								  <tr >
								  <td valign="top" class="odd">								<p>											<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Zia Park] body=[<strong>Location:</strong> Hobbs, NM  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Mountain Daylight Time <br><b>Race Time:</b><br>12:15 PM&nbsp;&nbsp;&nbsp;12:41 PM&nbsp;&nbsp;&nbsp;1:07 PM&nbsp;&nbsp;&nbsp;1:33 PM&nbsp;&nbsp;&nbsp;1:59 PM&nbsp;&nbsp;&nbsp;2:25 PM&nbsp;&nbsp;&nbsp;<br>2:51 PM&nbsp;&nbsp;&nbsp;3:17 PM&nbsp;&nbsp;&nbsp;3:43 PM&nbsp;&nbsp;&nbsp;4:09 PM&nbsp;&nbsp;&nbsp;4:35 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:15 PM</strong> - Zia Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Suffolk Downs] body=[<strong>Location:</strong> East Boston, MA  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>12:45 PM&nbsp;&nbsp;&nbsp;1:12 PM&nbsp;&nbsp;&nbsp;1:39 PM&nbsp;&nbsp;&nbsp;2:06 PM&nbsp;&nbsp;&nbsp;2:33 PM&nbsp;&nbsp;&nbsp;3:00 PM&nbsp;&nbsp;&nbsp;<br>3:28 PM&nbsp;&nbsp;&nbsp;3:56 PM&nbsp;&nbsp;&nbsp;4:24 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:45 PM</strong> - Suffolk Downs<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Finger Lakes] body=[<strong>Location:</strong> Farmington, NY  <br><b>Entry Draw:</b>  96 hours <br><b>Scratch:</b> Scratch 72 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:10 PM&nbsp;&nbsp;&nbsp;1:37 PM&nbsp;&nbsp;&nbsp;2:04 PM&nbsp;&nbsp;&nbsp;2:31 PM&nbsp;&nbsp;&nbsp;2:58 PM&nbsp;&nbsp;&nbsp;3:25 PM&nbsp;&nbsp;&nbsp;<br>3:52 PM&nbsp;&nbsp;&nbsp;4:19 PM&nbsp;&nbsp;&nbsp;4:46 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:10 PM</strong> - Finger Lakes<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Delaware Park] body=[<strong>Location:</strong> Wilmington, DE  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:15 PM&nbsp;&nbsp;&nbsp;1:42 PM&nbsp;&nbsp;&nbsp;2:09 PM&nbsp;&nbsp;&nbsp;2:36 PM&nbsp;&nbsp;&nbsp;3:03 PM&nbsp;&nbsp;&nbsp;3:30 PM&nbsp;&nbsp;&nbsp;<br>3:57 PM&nbsp;&nbsp;&nbsp;4:24 PM&nbsp;&nbsp;&nbsp;4:51 PM&nbsp;&nbsp;&nbsp;5:18 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:15 PM</strong> - Delaware Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Thistledown] body=[<strong>Location:</strong> North Randall, OH  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch 72 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:20 PM&nbsp;&nbsp;&nbsp;1:52 PM&nbsp;&nbsp;&nbsp;2:24 PM&nbsp;&nbsp;&nbsp;2:56 PM&nbsp;&nbsp;&nbsp;3:28 PM&nbsp;&nbsp;&nbsp;4:00 PM&nbsp;&nbsp;&nbsp;<br>4:32 PM&nbsp;&nbsp;&nbsp;5:04 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:20 PM</strong> - Thistledown<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Fort Erie] body=[<strong>Location:</strong> Fort Erie, ON  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:30 PM&nbsp;&nbsp;&nbsp;1:57 PM&nbsp;&nbsp;&nbsp;2:24 PM&nbsp;&nbsp;&nbsp;2:51 PM&nbsp;&nbsp;&nbsp;3:18 PM&nbsp;&nbsp;&nbsp;3:45 PM&nbsp;&nbsp;&nbsp;<br>4:12 PM&nbsp;&nbsp;&nbsp;4:39 PM&nbsp;&nbsp;&nbsp;5:06 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:30 PM</strong> - Fort Erie<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Albuquerque] body=[<strong>Location:</strong> Albuquerque, NM  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Mountain Daylight Time <br><b>Race Time:</b><br>2:30 PM&nbsp;&nbsp;&nbsp;2:55 PM&nbsp;&nbsp;&nbsp;3:20 PM&nbsp;&nbsp;&nbsp;3:45 PM&nbsp;&nbsp;&nbsp;4:10 PM&nbsp;&nbsp;&nbsp;4:35 PM&nbsp;&nbsp;&nbsp;<br>5:00 PM&nbsp;&nbsp;&nbsp;5:25 PM&nbsp;&nbsp;&nbsp;5:50 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>2:30 PM</strong> - Albuquerque<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Prairie Meadows] body=[<strong>Location:</strong> Altoona, IA  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>6:30 PM&nbsp;&nbsp;&nbsp;6:54 PM&nbsp;&nbsp;&nbsp;7:18 PM&nbsp;&nbsp;&nbsp;7:42 PM&nbsp;&nbsp;&nbsp;8:06 PM&nbsp;&nbsp;&nbsp;8:30 PM&nbsp;&nbsp;&nbsp;<br>8:54 PM&nbsp;&nbsp;&nbsp;9:18 PM&nbsp;&nbsp;&nbsp;9:42 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>6:30 PM</strong> - Prairie Meadows<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Mountaineer Casino Racetrack & Resort] body=[<strong>Location:</strong> Chester, WV  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>7:00 PM&nbsp;&nbsp;&nbsp;7:25 PM&nbsp;&nbsp;&nbsp;7:50 PM&nbsp;&nbsp;&nbsp;8:15 PM&nbsp;&nbsp;&nbsp;8:40 PM&nbsp;&nbsp;&nbsp;9:05 PM&nbsp;&nbsp;&nbsp;<br>9:30 PM&nbsp;&nbsp;&nbsp;9:55 PM&nbsp;&nbsp;&nbsp;10:20 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>7:00 PM</strong> - Mountaineer Casino Racetrack & Resort<br></span></span>
											</p>
                                    </td>
								  <td valign="top" class="even">								<p>											<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Zia Park] body=[<strong>Location:</strong> Hobbs, NM  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Mountain Daylight Time <br><b>Race Time:</b><br>12:15 PM&nbsp;&nbsp;&nbsp;12:41 PM&nbsp;&nbsp;&nbsp;1:07 PM&nbsp;&nbsp;&nbsp;1:33 PM&nbsp;&nbsp;&nbsp;1:59 PM&nbsp;&nbsp;&nbsp;2:25 PM&nbsp;&nbsp;&nbsp;<br>2:51 PM&nbsp;&nbsp;&nbsp;3:17 PM&nbsp;&nbsp;&nbsp;3:43 PM&nbsp;&nbsp;&nbsp;4:09 PM&nbsp;&nbsp;&nbsp;4:35 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:15 PM</strong> - Zia Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Fair Grounds] body=[<strong>Location:</strong> New Orleans, LA  <br><b>Entry Draw:</b> 168 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>12:40 PM&nbsp;&nbsp;&nbsp;1:05 PM&nbsp;&nbsp;&nbsp;1:30 PM&nbsp;&nbsp;&nbsp;1:55 PM&nbsp;&nbsp;&nbsp;2:20 PM&nbsp;&nbsp;&nbsp;2:45 PM&nbsp;&nbsp;&nbsp;<br>3:10 PM&nbsp;&nbsp;&nbsp;3:35 PM&nbsp;&nbsp;&nbsp;4:00 PM&nbsp;&nbsp;&nbsp;4:25 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:40 PM</strong> - Fair Grounds<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Suffolk Downs] body=[<strong>Location:</strong> East Boston, MA  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>12:45 PM&nbsp;&nbsp;&nbsp;1:12 PM&nbsp;&nbsp;&nbsp;1:39 PM&nbsp;&nbsp;&nbsp;2:06 PM&nbsp;&nbsp;&nbsp;2:33 PM&nbsp;&nbsp;&nbsp;3:00 PM&nbsp;&nbsp;&nbsp;<br>3:28 PM&nbsp;&nbsp;&nbsp;3:56 PM&nbsp;&nbsp;&nbsp;4:24 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:45 PM</strong> - Suffolk Downs<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Finger Lakes] body=[<strong>Location:</strong> Farmington, NY  <br><b>Entry Draw:</b>  96 hours <br><b>Scratch:</b> Scratch 72 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:10 PM&nbsp;&nbsp;&nbsp;1:37 PM&nbsp;&nbsp;&nbsp;2:04 PM&nbsp;&nbsp;&nbsp;2:31 PM&nbsp;&nbsp;&nbsp;2:58 PM&nbsp;&nbsp;&nbsp;3:25 PM&nbsp;&nbsp;&nbsp;<br>3:52 PM&nbsp;&nbsp;&nbsp;4:19 PM&nbsp;&nbsp;&nbsp;4:46 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:10 PM</strong> - Finger Lakes<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Delaware Park] body=[<strong>Location:</strong> Wilmington, DE  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:15 PM&nbsp;&nbsp;&nbsp;1:42 PM&nbsp;&nbsp;&nbsp;2:09 PM&nbsp;&nbsp;&nbsp;2:36 PM&nbsp;&nbsp;&nbsp;3:03 PM&nbsp;&nbsp;&nbsp;3:30 PM&nbsp;&nbsp;&nbsp;<br>3:57 PM&nbsp;&nbsp;&nbsp;4:24 PM&nbsp;&nbsp;&nbsp;4:51 PM&nbsp;&nbsp;&nbsp;5:18 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:15 PM</strong> - Delaware Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Thistledown] body=[<strong>Location:</strong> North Randall, OH  <br><b>Entry Draw:</b>  96 hours <br><b>Scratch:</b> Scratch 72 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:20 PM&nbsp;&nbsp;&nbsp;1:52 PM&nbsp;&nbsp;&nbsp;2:24 PM&nbsp;&nbsp;&nbsp;2:56 PM&nbsp;&nbsp;&nbsp;3:28 PM&nbsp;&nbsp;&nbsp;4:00 PM&nbsp;&nbsp;&nbsp;<br>4:32 PM&nbsp;&nbsp;&nbsp;5:04 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:20 PM</strong> - Thistledown<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Fort Erie] body=[<strong>Location:</strong> Fort Erie, ON  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:30 PM&nbsp;&nbsp;&nbsp;1:57 PM&nbsp;&nbsp;&nbsp;2:24 PM&nbsp;&nbsp;&nbsp;2:51 PM&nbsp;&nbsp;&nbsp;3:18 PM&nbsp;&nbsp;&nbsp;3:45 PM&nbsp;&nbsp;&nbsp;<br>4:12 PM&nbsp;&nbsp;&nbsp;4:39 PM&nbsp;&nbsp;&nbsp;5:06 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:30 PM</strong> - Fort Erie<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Albuquerque] body=[<strong>Location:</strong> Albuquerque, NM  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Mountain Daylight Time <br><b>Race Time:</b><br>2:30 PM&nbsp;&nbsp;&nbsp;2:55 PM&nbsp;&nbsp;&nbsp;3:20 PM&nbsp;&nbsp;&nbsp;3:45 PM&nbsp;&nbsp;&nbsp;4:10 PM&nbsp;&nbsp;&nbsp;4:35 PM&nbsp;&nbsp;&nbsp;<br>5:00 PM&nbsp;&nbsp;&nbsp;5:25 PM&nbsp;&nbsp;&nbsp;5:50 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>2:30 PM</strong> - Albuquerque<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Prairie Meadows] body=[<strong>Location:</strong> Altoona, IA  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>6:30 PM&nbsp;&nbsp;&nbsp;6:54 PM&nbsp;&nbsp;&nbsp;7:18 PM&nbsp;&nbsp;&nbsp;7:42 PM&nbsp;&nbsp;&nbsp;8:06 PM&nbsp;&nbsp;&nbsp;8:30 PM&nbsp;&nbsp;&nbsp;<br>8:54 PM&nbsp;&nbsp;&nbsp;9:18 PM&nbsp;&nbsp;&nbsp;9:42 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>6:30 PM</strong> - Prairie Meadows<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Mountaineer Casino Racetrack & Resort] body=[<strong>Location:</strong> Chester, WV  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>7:00 PM&nbsp;&nbsp;&nbsp;7:25 PM&nbsp;&nbsp;&nbsp;7:50 PM&nbsp;&nbsp;&nbsp;8:15 PM&nbsp;&nbsp;&nbsp;8:40 PM&nbsp;&nbsp;&nbsp;9:05 PM&nbsp;&nbsp;&nbsp;<br>9:30 PM&nbsp;&nbsp;&nbsp;9:55 PM&nbsp;&nbsp;&nbsp;10:20 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>7:00 PM</strong> - Mountaineer Casino Racetrack & Resort<br></span></span>
											</p>
                                    </td>
								  <td valign="top" class="odd">								<p>											<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Fair Grounds] body=[<strong>Location:</strong> New Orleans, LA  <br><b>Entry Draw:</b> 168 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>12:40 PM&nbsp;&nbsp;&nbsp;1:05 PM&nbsp;&nbsp;&nbsp;1:30 PM&nbsp;&nbsp;&nbsp;1:55 PM&nbsp;&nbsp;&nbsp;2:20 PM&nbsp;&nbsp;&nbsp;2:45 PM&nbsp;&nbsp;&nbsp;<br>3:10 PM&nbsp;&nbsp;&nbsp;3:35 PM&nbsp;&nbsp;&nbsp;4:00 PM&nbsp;&nbsp;&nbsp;4:25 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:40 PM</strong> - Fair Grounds<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Suffolk Downs] body=[<strong>Location:</strong> East Boston, MA  <br><b>Entry Draw:</b>  48 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>12:45 PM&nbsp;&nbsp;&nbsp;1:12 PM&nbsp;&nbsp;&nbsp;1:39 PM&nbsp;&nbsp;&nbsp;2:06 PM&nbsp;&nbsp;&nbsp;2:33 PM&nbsp;&nbsp;&nbsp;3:00 PM&nbsp;&nbsp;&nbsp;<br>3:28 PM&nbsp;&nbsp;&nbsp;3:56 PM&nbsp;&nbsp;&nbsp;4:24 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:45 PM</strong> - Suffolk Downs<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Belmont Park] body=[<strong>Location:</strong> Elmont, NY  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:31 PM&nbsp;&nbsp;&nbsp;2:03 PM&nbsp;&nbsp;&nbsp;2:35 PM&nbsp;&nbsp;&nbsp;3:07 PM&nbsp;&nbsp;&nbsp;3:39 PM&nbsp;&nbsp;&nbsp;<br>4:11 PM&nbsp;&nbsp;&nbsp;4:43 PM&nbsp;&nbsp;&nbsp;5:15 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Belmont Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Emerald Downs] body=[<strong>Location:</strong> Auburn, WA  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:33 PM&nbsp;&nbsp;&nbsp;2:05 PM&nbsp;&nbsp;&nbsp;2:36 PM&nbsp;&nbsp;&nbsp;3:07 PM&nbsp;&nbsp;&nbsp;3:38 PM&nbsp;&nbsp;&nbsp;<br>4:09 PM&nbsp;&nbsp;&nbsp;4:39 PM&nbsp;&nbsp;&nbsp;5:09 PM&nbsp;&nbsp;&nbsp;5:39 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Emerald Downs<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Fairplex Park] body=[<strong>Location:</strong> Pomona, CA  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:25 PM&nbsp;&nbsp;&nbsp;1:50 PM&nbsp;&nbsp;&nbsp;2:15 PM&nbsp;&nbsp;&nbsp;2:40 PM&nbsp;&nbsp;&nbsp;3:05 PM&nbsp;&nbsp;&nbsp;<br>3:30 PM&nbsp;&nbsp;&nbsp;3:55 PM&nbsp;&nbsp;&nbsp;4:20 PM&nbsp;&nbsp;&nbsp;4:45 PM&nbsp;&nbsp;&nbsp;5:10 PM&nbsp;&nbsp;&nbsp;5:35 PM&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Fairplex Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Laurel Park] body=[<strong>Location:</strong> Laurel, MD  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch 96 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:10 PM&nbsp;&nbsp;&nbsp;1:40 PM&nbsp;&nbsp;&nbsp;2:10 PM&nbsp;&nbsp;&nbsp;2:38 PM&nbsp;&nbsp;&nbsp;3:07 PM&nbsp;&nbsp;&nbsp;3:37 PM&nbsp;&nbsp;&nbsp;<br>4:07 PM&nbsp;&nbsp;&nbsp;4:37 PM&nbsp;&nbsp;&nbsp;5:07 PM&nbsp;&nbsp;&nbsp;6:00 PM&nbsp;&nbsp;&nbsp;6:25 PM&nbsp;&nbsp;&nbsp;6:50 PM&nbsp;&nbsp;&nbsp;<br>7:15 PM&nbsp;&nbsp;&nbsp;7:45 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:10 PM</strong> - Laurel Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Delaware Park] body=[<strong>Location:</strong> Wilmington, DE  <br><b>Entry Draw:</b>  48 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:15 PM&nbsp;&nbsp;&nbsp;1:42 PM&nbsp;&nbsp;&nbsp;2:09 PM&nbsp;&nbsp;&nbsp;2:36 PM&nbsp;&nbsp;&nbsp;3:03 PM&nbsp;&nbsp;&nbsp;3:30 PM&nbsp;&nbsp;&nbsp;<br>3:57 PM&nbsp;&nbsp;&nbsp;4:24 PM&nbsp;&nbsp;&nbsp;4:51 PM&nbsp;&nbsp;&nbsp;5:18 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:15 PM</strong> - Delaware Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Thistledown] body=[<strong>Location:</strong> North Randall, OH  <br><b>Entry Draw:</b>  96 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:20 PM&nbsp;&nbsp;&nbsp;1:52 PM&nbsp;&nbsp;&nbsp;2:24 PM&nbsp;&nbsp;&nbsp;2:56 PM&nbsp;&nbsp;&nbsp;3:28 PM&nbsp;&nbsp;&nbsp;4:00 PM&nbsp;&nbsp;&nbsp;<br>4:32 PM&nbsp;&nbsp;&nbsp;5:04 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:20 PM</strong> - Thistledown<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Albuquerque] body=[<strong>Location:</strong> Albuquerque, NM  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Mountain Daylight Time <br><b>Race Time:</b><br>2:30 PM&nbsp;&nbsp;&nbsp;2:55 PM&nbsp;&nbsp;&nbsp;3:20 PM&nbsp;&nbsp;&nbsp;3:45 PM&nbsp;&nbsp;&nbsp;4:10 PM&nbsp;&nbsp;&nbsp;4:35 PM&nbsp;&nbsp;&nbsp;<br>5:00 PM&nbsp;&nbsp;&nbsp;5:25 PM&nbsp;&nbsp;&nbsp;5:50 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>2:30 PM</strong> - Albuquerque<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Hoosier Park] body=[<strong>Location:</strong> Anderson, IN  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>5:30 PM&nbsp;&nbsp;&nbsp;5:56 PM&nbsp;&nbsp;&nbsp;6:22 PM&nbsp;&nbsp;&nbsp;6:48 PM&nbsp;&nbsp;&nbsp;7:14 PM&nbsp;&nbsp;&nbsp;7:40 PM&nbsp;&nbsp;&nbsp;<br>8:06 PM&nbsp;&nbsp;&nbsp;8:32 PM&nbsp;&nbsp;&nbsp;8:58 PM&nbsp;&nbsp;&nbsp;9:24 PM&nbsp;&nbsp;&nbsp;9:50 PM&nbsp;&nbsp;&nbsp;10:16 PM&nbsp;&nbsp;&nbsp;<br>10:42 PM&nbsp;&nbsp;&nbsp;11:08 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>5:30 PM</strong> - Hoosier Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Remington Park] body=[<strong>Location:</strong> Oklahoma City, OK  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>6:30 PM&nbsp;&nbsp;&nbsp;6:58 PM&nbsp;&nbsp;&nbsp;7:26 PM&nbsp;&nbsp;&nbsp;7:54 PM&nbsp;&nbsp;&nbsp;8:22 PM&nbsp;&nbsp;&nbsp;8:50 PM&nbsp;&nbsp;&nbsp;<br>9:18 PM&nbsp;&nbsp;&nbsp;9:46 PM&nbsp;&nbsp;&nbsp;10:14 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>6:30 PM</strong> - Remington Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Woodbine] body=[<strong>Location:</strong> Rexdale, ON  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>6:45 PM&nbsp;&nbsp;&nbsp;7:15 PM&nbsp;&nbsp;&nbsp;7:45 PM&nbsp;&nbsp;&nbsp;8:15 PM&nbsp;&nbsp;&nbsp;8:45 PM&nbsp;&nbsp;&nbsp;9:15 PM&nbsp;&nbsp;&nbsp;<br>9:44 PM&nbsp;&nbsp;&nbsp;10:13 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>6:45 PM</strong> - Woodbine<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Hollywood Casino At Charles Town Races] body=[<strong>Location:</strong> Charles Town, WV  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>7:15 PM&nbsp;&nbsp;&nbsp;7:41 PM&nbsp;&nbsp;&nbsp;8:07 PM&nbsp;&nbsp;&nbsp;8:33 PM&nbsp;&nbsp;&nbsp;9:00 PM&nbsp;&nbsp;&nbsp;9:27 PM&nbsp;&nbsp;&nbsp;<br>9:58 PM&nbsp;&nbsp;&nbsp;10:25 PM&nbsp;&nbsp;&nbsp;10:52 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>7:15 PM</strong> - Hollywood Casino At Charles Town Races<br></span></span>
											</p>
                                    </td>
								  <td valign="top" class="even">								<p>											<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Fair Grounds] body=[<strong>Location:</strong> New Orleans, LA  <br><b>Entry Draw:</b> 168 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>12:40 PM&nbsp;&nbsp;&nbsp;1:05 PM&nbsp;&nbsp;&nbsp;1:30 PM&nbsp;&nbsp;&nbsp;1:55 PM&nbsp;&nbsp;&nbsp;2:20 PM&nbsp;&nbsp;&nbsp;2:45 PM&nbsp;&nbsp;&nbsp;<br>3:10 PM&nbsp;&nbsp;&nbsp;3:35 PM&nbsp;&nbsp;&nbsp;4:00 PM&nbsp;&nbsp;&nbsp;4:25 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:40 PM</strong> - Fair Grounds<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Golden Gate Fields] body=[<strong>Location:</strong> Albany, CA  <br><b>Entry Draw:</b> 144 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>12:45 PM&nbsp;&nbsp;&nbsp;1:15 PM&nbsp;&nbsp;&nbsp;1:45 PM&nbsp;&nbsp;&nbsp;2:15 PM&nbsp;&nbsp;&nbsp;2:45 PM&nbsp;&nbsp;&nbsp;3:15 PM&nbsp;&nbsp;&nbsp;<br>3:45 PM&nbsp;&nbsp;&nbsp;4:15 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:45 PM</strong> - Golden Gate Fields<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Arlington Park] body=[<strong>Location:</strong> Arlington, IL  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:31 PM&nbsp;&nbsp;&nbsp;2:02 PM&nbsp;&nbsp;&nbsp;2:34 PM&nbsp;&nbsp;&nbsp;3:05 PM&nbsp;&nbsp;&nbsp;3:37 PM&nbsp;&nbsp;&nbsp;<br>4:06 PM&nbsp;&nbsp;&nbsp;4:37 PM&nbsp;&nbsp;&nbsp;5:06 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Arlington Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Belmont Park] body=[<strong>Location:</strong> Elmont, NY  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:31 PM&nbsp;&nbsp;&nbsp;2:03 PM&nbsp;&nbsp;&nbsp;2:35 PM&nbsp;&nbsp;&nbsp;3:07 PM&nbsp;&nbsp;&nbsp;3:39 PM&nbsp;&nbsp;&nbsp;<br>4:11 PM&nbsp;&nbsp;&nbsp;4:43 PM&nbsp;&nbsp;&nbsp;5:15 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Belmont Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Fairplex Park] body=[<strong>Location:</strong> Pomona, CA  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:25 PM&nbsp;&nbsp;&nbsp;1:50 PM&nbsp;&nbsp;&nbsp;2:15 PM&nbsp;&nbsp;&nbsp;2:40 PM&nbsp;&nbsp;&nbsp;3:05 PM&nbsp;&nbsp;&nbsp;<br>3:30 PM&nbsp;&nbsp;&nbsp;3:55 PM&nbsp;&nbsp;&nbsp;4:20 PM&nbsp;&nbsp;&nbsp;4:45 PM&nbsp;&nbsp;&nbsp;5:10 PM&nbsp;&nbsp;&nbsp;5:35 PM&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Fairplex Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Calder Race Course] body=[<strong>Location:</strong> Miami, FL  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:10 PM&nbsp;&nbsp;&nbsp;1:35 PM&nbsp;&nbsp;&nbsp;2:00 PM&nbsp;&nbsp;&nbsp;2:29 PM&nbsp;&nbsp;&nbsp;2:58 PM&nbsp;&nbsp;&nbsp;3:27 PM&nbsp;&nbsp;&nbsp;<br>3:57 PM&nbsp;&nbsp;&nbsp;4:27 PM&nbsp;&nbsp;&nbsp;4:57 PM&nbsp;&nbsp;&nbsp;5:22 PM&nbsp;&nbsp;&nbsp;5:47 PM&nbsp;&nbsp;&nbsp;6:14 PM&nbsp;&nbsp;&nbsp;<br>6:40 PM&nbsp;&nbsp;&nbsp;7:06 PM&nbsp;&nbsp;&nbsp;7:33 PM&nbsp;&nbsp;<br>] " ><strong>1:10 PM</strong> - Calder Race Course<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Finger Lakes] body=[<strong>Location:</strong> Farmington, NY  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:10 PM&nbsp;&nbsp;&nbsp;1:37 PM&nbsp;&nbsp;&nbsp;2:04 PM&nbsp;&nbsp;&nbsp;2:31 PM&nbsp;&nbsp;&nbsp;2:58 PM&nbsp;&nbsp;&nbsp;3:25 PM&nbsp;&nbsp;&nbsp;<br>3:52 PM&nbsp;&nbsp;&nbsp;4:19 PM&nbsp;&nbsp;&nbsp;4:46 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:10 PM</strong> - Finger Lakes<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Laurel Park] body=[<strong>Location:</strong> Laurel, MD  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:10 PM&nbsp;&nbsp;&nbsp;1:40 PM&nbsp;&nbsp;&nbsp;2:10 PM&nbsp;&nbsp;&nbsp;2:38 PM&nbsp;&nbsp;&nbsp;3:07 PM&nbsp;&nbsp;&nbsp;3:37 PM&nbsp;&nbsp;&nbsp;<br>4:07 PM&nbsp;&nbsp;&nbsp;4:37 PM&nbsp;&nbsp;&nbsp;5:07 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:10 PM</strong> - Laurel Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Woodbine] body=[<strong>Location:</strong> Rexdale, ON  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>2:00 PM&nbsp;&nbsp;&nbsp;2:28 PM&nbsp;&nbsp;&nbsp;2:57 PM&nbsp;&nbsp;&nbsp;3:28 PM&nbsp;&nbsp;&nbsp;3:58 PM&nbsp;&nbsp;&nbsp;4:30 PM&nbsp;&nbsp;&nbsp;<br>5:02 PM&nbsp;&nbsp;&nbsp;5:34 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>2:00 PM</strong> - Woodbine<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Albuquerque] body=[<strong>Location:</strong> Albuquerque, NM  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Mountain Daylight Time <br><b>Race Time:</b><br>2:30 PM&nbsp;&nbsp;&nbsp;2:55 PM&nbsp;&nbsp;&nbsp;3:20 PM&nbsp;&nbsp;&nbsp;3:45 PM&nbsp;&nbsp;&nbsp;4:10 PM&nbsp;&nbsp;&nbsp;4:35 PM&nbsp;&nbsp;&nbsp;<br>5:00 PM&nbsp;&nbsp;&nbsp;5:25 PM&nbsp;&nbsp;&nbsp;5:50 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>2:30 PM</strong> - Albuquerque<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Hoosier Park] body=[<strong>Location:</strong> Anderson, IN  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>5:30 PM&nbsp;&nbsp;&nbsp;5:56 PM&nbsp;&nbsp;&nbsp;6:22 PM&nbsp;&nbsp;&nbsp;6:48 PM&nbsp;&nbsp;&nbsp;7:14 PM&nbsp;&nbsp;&nbsp;7:40 PM&nbsp;&nbsp;&nbsp;<br>8:06 PM&nbsp;&nbsp;&nbsp;8:32 PM&nbsp;&nbsp;&nbsp;8:58 PM&nbsp;&nbsp;&nbsp;9:24 PM&nbsp;&nbsp;&nbsp;9:50 PM&nbsp;&nbsp;&nbsp;10:16 PM&nbsp;&nbsp;&nbsp;<br>10:42 PM&nbsp;&nbsp;&nbsp;11:08 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>5:30 PM</strong> - Hoosier Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Turfway Park] body=[<strong>Location:</strong> Florence, KY  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch 96 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>5:30 PM&nbsp;&nbsp;&nbsp;5:59 PM&nbsp;&nbsp;&nbsp;6:28 PM&nbsp;&nbsp;&nbsp;6:57 PM&nbsp;&nbsp;&nbsp;7:26 PM&nbsp;&nbsp;&nbsp;7:55 PM&nbsp;&nbsp;&nbsp;<br>8:24 PM&nbsp;&nbsp;&nbsp;8:53 PM&nbsp;&nbsp;&nbsp;9:22 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>5:30 PM</strong> - Turfway Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Remington Park] body=[<strong>Location:</strong> Oklahoma City, OK  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>6:32 PM&nbsp;&nbsp;&nbsp;7:02 PM&nbsp;&nbsp;&nbsp;7:32 PM&nbsp;&nbsp;&nbsp;8:02 PM&nbsp;&nbsp;&nbsp;8:32 PM&nbsp;&nbsp;&nbsp;9:02 PM&nbsp;&nbsp;&nbsp;<br>9:32 PM&nbsp;&nbsp;&nbsp;10:02 PM&nbsp;&nbsp;&nbsp;10:32 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>6:32 PM</strong> - Remington Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Lone Star Park] body=[<strong>Location:</strong> Grand Prairie, TX  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>6:35 PM&nbsp;&nbsp;&nbsp;6:59 PM&nbsp;&nbsp;&nbsp;7:23 PM&nbsp;&nbsp;&nbsp;7:47 PM&nbsp;&nbsp;&nbsp;8:11 PM&nbsp;&nbsp;&nbsp;8:35 PM&nbsp;&nbsp;&nbsp;<br>8:59 PM&nbsp;&nbsp;&nbsp;9:23 PM&nbsp;&nbsp;&nbsp;9:47 PM&nbsp;&nbsp;&nbsp;10:11 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>6:35 PM</strong> - Lone Star Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Hollywood Casino At Charles Town Races] body=[<strong>Location:</strong> Charles Town, WV  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>7:15 PM&nbsp;&nbsp;&nbsp;7:41 PM&nbsp;&nbsp;&nbsp;8:07 PM&nbsp;&nbsp;&nbsp;8:33 PM&nbsp;&nbsp;&nbsp;9:00 PM&nbsp;&nbsp;&nbsp;9:27 PM&nbsp;&nbsp;&nbsp;<br>9:58 PM&nbsp;&nbsp;&nbsp;10:25 PM&nbsp;&nbsp;&nbsp;10:52 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>7:15 PM</strong> - Hollywood Casino At Charles Town Races<br></span></span>
											</p>
                                    </td>
								  <td valign="top" class="odd">								<p>											<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Finger Lakes] body=[<strong>Location:</strong> Farmington, NY  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>12:35 PM&nbsp;&nbsp;&nbsp;1:02 PM&nbsp;&nbsp;&nbsp;1:29 PM&nbsp;&nbsp;&nbsp;1:56 PM&nbsp;&nbsp;&nbsp;2:23 PM&nbsp;&nbsp;&nbsp;2:50 PM&nbsp;&nbsp;&nbsp;<br>3:17 PM&nbsp;&nbsp;&nbsp;3:44 PM&nbsp;&nbsp;&nbsp;4:11 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:35 PM</strong> - Finger Lakes<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Fair Grounds] body=[<strong>Location:</strong> New Orleans, LA  <br><b>Entry Draw:</b> 168 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>12:40 PM&nbsp;&nbsp;&nbsp;1:05 PM&nbsp;&nbsp;&nbsp;1:30 PM&nbsp;&nbsp;&nbsp;1:55 PM&nbsp;&nbsp;&nbsp;2:20 PM&nbsp;&nbsp;&nbsp;2:45 PM&nbsp;&nbsp;&nbsp;<br>3:10 PM&nbsp;&nbsp;&nbsp;3:35 PM&nbsp;&nbsp;&nbsp;4:00 PM&nbsp;&nbsp;&nbsp;4:25 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:40 PM</strong> - Fair Grounds<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Golden Gate Fields] body=[<strong>Location:</strong> Albany, CA  <br><b>Entry Draw:</b> 144 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>12:45 PM&nbsp;&nbsp;&nbsp;1:15 PM&nbsp;&nbsp;&nbsp;1:45 PM&nbsp;&nbsp;&nbsp;2:15 PM&nbsp;&nbsp;&nbsp;2:45 PM&nbsp;&nbsp;&nbsp;3:15 PM&nbsp;&nbsp;&nbsp;<br>3:45 PM&nbsp;&nbsp;&nbsp;4:15 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:45 PM</strong> - Golden Gate Fields<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Arlington Park] body=[<strong>Location:</strong> Arlington, IL  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:31 PM&nbsp;&nbsp;&nbsp;2:02 PM&nbsp;&nbsp;&nbsp;2:33 PM&nbsp;&nbsp;&nbsp;3:04 PM&nbsp;&nbsp;&nbsp;3:33 PM&nbsp;&nbsp;&nbsp;<br>4:02 PM&nbsp;&nbsp;&nbsp;4:31 PM&nbsp;&nbsp;&nbsp;5:00 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Arlington Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Belmont Park] body=[<strong>Location:</strong> Elmont, NY  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:31 PM&nbsp;&nbsp;&nbsp;2:03 PM&nbsp;&nbsp;&nbsp;2:35 PM&nbsp;&nbsp;&nbsp;3:07 PM&nbsp;&nbsp;&nbsp;3:39 PM&nbsp;&nbsp;&nbsp;<br>4:11 PM&nbsp;&nbsp;&nbsp;4:43 PM&nbsp;&nbsp;&nbsp;5:15 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Belmont Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Fairplex Park] body=[<strong>Location:</strong> Pomona, CA  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:25 PM&nbsp;&nbsp;&nbsp;1:50 PM&nbsp;&nbsp;&nbsp;2:15 PM&nbsp;&nbsp;&nbsp;2:40 PM&nbsp;&nbsp;&nbsp;3:05 PM&nbsp;&nbsp;&nbsp;<br>3:30 PM&nbsp;&nbsp;&nbsp;3:55 PM&nbsp;&nbsp;&nbsp;4:20 PM&nbsp;&nbsp;&nbsp;4:45 PM&nbsp;&nbsp;&nbsp;5:10 PM&nbsp;&nbsp;&nbsp;5:35 PM&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Fairplex Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Woodbine] body=[<strong>Location:</strong> Rexdale, ON  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:28 PM&nbsp;&nbsp;&nbsp;1:57 PM&nbsp;&nbsp;&nbsp;2:27 PM&nbsp;&nbsp;&nbsp;2:57 PM&nbsp;&nbsp;&nbsp;3:27 PM&nbsp;&nbsp;&nbsp;<br>3:57 PM&nbsp;&nbsp;&nbsp;4:27 PM&nbsp;&nbsp;&nbsp;4:57 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Woodbine<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Calder Race Course] body=[<strong>Location:</strong> Miami, FL  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:10 PM&nbsp;&nbsp;&nbsp;1:35 PM&nbsp;&nbsp;&nbsp;2:00 PM&nbsp;&nbsp;&nbsp;2:29 PM&nbsp;&nbsp;&nbsp;2:58 PM&nbsp;&nbsp;&nbsp;3:27 PM&nbsp;&nbsp;&nbsp;<br>3:57 PM&nbsp;&nbsp;&nbsp;4:27 PM&nbsp;&nbsp;&nbsp;4:55 PM&nbsp;&nbsp;&nbsp;5:22 PM&nbsp;&nbsp;&nbsp;5:47 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:10 PM</strong> - Calder Race Course<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Laurel Park] body=[<strong>Location:</strong> Laurel, MD  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:10 PM&nbsp;&nbsp;&nbsp;1:40 PM&nbsp;&nbsp;&nbsp;2:10 PM&nbsp;&nbsp;&nbsp;2:38 PM&nbsp;&nbsp;&nbsp;3:07 PM&nbsp;&nbsp;&nbsp;3:37 PM&nbsp;&nbsp;&nbsp;<br>4:07 PM&nbsp;&nbsp;&nbsp;4:37 PM&nbsp;&nbsp;&nbsp;5:07 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:10 PM</strong> - Laurel Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Thistledown] body=[<strong>Location:</strong> North Randall, OH  <br><b>Entry Draw:</b>  96 hours <br><b>Scratch:</b> Scratch 72 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:20 PM&nbsp;&nbsp;&nbsp;1:46 PM&nbsp;&nbsp;&nbsp;2:12 PM&nbsp;&nbsp;&nbsp;2:38 PM&nbsp;&nbsp;&nbsp;3:04 PM&nbsp;&nbsp;&nbsp;3:30 PM&nbsp;&nbsp;&nbsp;<br>3:56 PM&nbsp;&nbsp;&nbsp;4:22 PM&nbsp;&nbsp;&nbsp;4:48 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:20 PM</strong> - Thistledown<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Albuquerque] body=[<strong>Location:</strong> Albuquerque, NM  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Mountain Daylight Time <br><b>Race Time:</b><br>2:30 PM&nbsp;&nbsp;&nbsp;2:55 PM&nbsp;&nbsp;&nbsp;3:20 PM&nbsp;&nbsp;&nbsp;3:45 PM&nbsp;&nbsp;&nbsp;4:10 PM&nbsp;&nbsp;&nbsp;4:35 PM&nbsp;&nbsp;&nbsp;<br>5:00 PM&nbsp;&nbsp;&nbsp;5:25 PM&nbsp;&nbsp;&nbsp;5:50 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>2:30 PM</strong> - Albuquerque<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Will Rogers Downs] body=[<strong>Location:</strong> Claremore, OK  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>3:00 PM&nbsp;&nbsp;&nbsp;3:22 PM&nbsp;&nbsp;&nbsp;3:44 PM&nbsp;&nbsp;&nbsp;4:06 PM&nbsp;&nbsp;&nbsp;4:28 PM&nbsp;&nbsp;&nbsp;4:50 PM&nbsp;&nbsp;&nbsp;<br>5:12 PM&nbsp;&nbsp;&nbsp;5:34 PM&nbsp;&nbsp;&nbsp;5:56 PM&nbsp;&nbsp;&nbsp;6:18 PM&nbsp;&nbsp;&nbsp;6:40 PM&nbsp;&nbsp;&nbsp;7:02 PM&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>3:00 PM</strong> - Will Rogers Downs<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Hoosier Park] body=[<strong>Location:</strong> Anderson, IN  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>5:30 PM&nbsp;&nbsp;&nbsp;5:56 PM&nbsp;&nbsp;&nbsp;6:22 PM&nbsp;&nbsp;&nbsp;6:48 PM&nbsp;&nbsp;&nbsp;7:14 PM&nbsp;&nbsp;&nbsp;7:40 PM&nbsp;&nbsp;&nbsp;<br>8:06 PM&nbsp;&nbsp;&nbsp;8:32 PM&nbsp;&nbsp;&nbsp;8:58 PM&nbsp;&nbsp;&nbsp;9:24 PM&nbsp;&nbsp;&nbsp;9:50 PM&nbsp;&nbsp;&nbsp;10:16 PM&nbsp;&nbsp;&nbsp;<br>10:42 PM&nbsp;&nbsp;&nbsp;11:08 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>5:30 PM</strong> - Hoosier Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Turfway Park] body=[<strong>Location:</strong> Florence, KY  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>5:30 PM&nbsp;&nbsp;&nbsp;5:59 PM&nbsp;&nbsp;&nbsp;6:28 PM&nbsp;&nbsp;&nbsp;6:57 PM&nbsp;&nbsp;&nbsp;7:26 PM&nbsp;&nbsp;&nbsp;7:55 PM&nbsp;&nbsp;&nbsp;<br>8:24 PM&nbsp;&nbsp;&nbsp;8:53 PM&nbsp;&nbsp;&nbsp;9:22 PM&nbsp;&nbsp;&nbsp;9:51 PM&nbsp;&nbsp;&nbsp;10:20 PM&nbsp;&nbsp;&nbsp;10:49 PM&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>5:30 PM</strong> - Turfway Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Emerald Downs] body=[<strong>Location:</strong> Auburn, WA  <br><b>Entry Draw:</b> 168 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>6:00 PM&nbsp;&nbsp;&nbsp;6:29 PM&nbsp;&nbsp;&nbsp;6:58 PM&nbsp;&nbsp;&nbsp;7:27 PM&nbsp;&nbsp;&nbsp;7:56 PM&nbsp;&nbsp;&nbsp;8:25 PM&nbsp;&nbsp;&nbsp;<br>8:53 PM&nbsp;&nbsp;&nbsp;9:21 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>6:00 PM</strong> - Emerald Downs<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Prairie Meadows] body=[<strong>Location:</strong> Altoona, IA  <br><b>Entry Draw:</b>  96 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>6:30 PM&nbsp;&nbsp;&nbsp;6:54 PM&nbsp;&nbsp;&nbsp;7:18 PM&nbsp;&nbsp;&nbsp;7:42 PM&nbsp;&nbsp;&nbsp;8:06 PM&nbsp;&nbsp;&nbsp;8:30 PM&nbsp;&nbsp;&nbsp;<br>8:54 PM&nbsp;&nbsp;&nbsp;9:18 PM&nbsp;&nbsp;&nbsp;9:42 PM&nbsp;&nbsp;&nbsp;10:06 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>6:30 PM</strong> - Prairie Meadows<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Remington Park] body=[<strong>Location:</strong> Oklahoma City, OK  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>6:32 PM&nbsp;&nbsp;&nbsp;7:02 PM&nbsp;&nbsp;&nbsp;7:32 PM&nbsp;&nbsp;&nbsp;8:02 PM&nbsp;&nbsp;&nbsp;8:32 PM&nbsp;&nbsp;&nbsp;9:02 PM&nbsp;&nbsp;&nbsp;<br>9:32 PM&nbsp;&nbsp;&nbsp;10:02 PM&nbsp;&nbsp;&nbsp;10:32 PM&nbsp;&nbsp;&nbsp;11:02 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>6:32 PM</strong> - Remington Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Lone Star Park] body=[<strong>Location:</strong> Grand Prairie, TX  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>6:35 PM&nbsp;&nbsp;&nbsp;6:59 PM&nbsp;&nbsp;&nbsp;7:23 PM&nbsp;&nbsp;&nbsp;7:47 PM&nbsp;&nbsp;&nbsp;8:11 PM&nbsp;&nbsp;&nbsp;8:35 PM&nbsp;&nbsp;&nbsp;<br>8:59 PM&nbsp;&nbsp;&nbsp;9:23 PM&nbsp;&nbsp;&nbsp;9:47 PM&nbsp;&nbsp;&nbsp;10:11 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>6:35 PM</strong> - Lone Star Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Retama Park] body=[<strong>Location:</strong> San Antonio, TX  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>6:45 PM&nbsp;&nbsp;&nbsp;7:10 PM&nbsp;&nbsp;&nbsp;7:35 PM&nbsp;&nbsp;&nbsp;8:00 PM&nbsp;&nbsp;&nbsp;8:25 PM&nbsp;&nbsp;&nbsp;8:50 PM&nbsp;&nbsp;&nbsp;<br>9:15 PM&nbsp;&nbsp;&nbsp;9:40 PM&nbsp;&nbsp;&nbsp;10:05 PM&nbsp;&nbsp;&nbsp;10:30 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>6:45 PM</strong> - Retama Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Hastings Racecourse] body=[<strong>Location:</strong> Vancouver, BC  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>7:00 PM&nbsp;&nbsp;&nbsp;7:28 PM&nbsp;&nbsp;&nbsp;7:57 PM&nbsp;&nbsp;&nbsp;8:26 PM&nbsp;&nbsp;&nbsp;8:54 PM&nbsp;&nbsp;&nbsp;9:22 PM&nbsp;&nbsp;&nbsp;<br>9:50 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>7:00 PM</strong> - Hastings Racecourse<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Los Alamitos] body=[<strong>Location:</strong> Los Alamitos, CA  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>7:00 PM&nbsp;&nbsp;&nbsp;7:24 PM&nbsp;&nbsp;&nbsp;7:47 PM&nbsp;&nbsp;&nbsp;8:10 PM&nbsp;&nbsp;&nbsp;8:33 PM&nbsp;&nbsp;&nbsp;8:56 PM&nbsp;&nbsp;&nbsp;<br>9:19 PM&nbsp;&nbsp;&nbsp;9:43 PM&nbsp;&nbsp;&nbsp;10:07 PM&nbsp;&nbsp;&nbsp;10:31 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>7:00 PM</strong> - Los Alamitos<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Mountaineer Casino Racetrack & Resort] body=[<strong>Location:</strong> Chester, WV  <br><b>Entry Draw:</b>  96 hours <br><b>Scratch:</b> Scratch 72 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>7:00 PM&nbsp;&nbsp;&nbsp;7:25 PM&nbsp;&nbsp;&nbsp;7:50 PM&nbsp;&nbsp;&nbsp;8:15 PM&nbsp;&nbsp;&nbsp;8:40 PM&nbsp;&nbsp;&nbsp;9:05 PM&nbsp;&nbsp;&nbsp;<br>9:30 PM&nbsp;&nbsp;&nbsp;9:55 PM&nbsp;&nbsp;&nbsp;10:20 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>7:00 PM</strong> - Mountaineer Casino Racetrack & Resort<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Hollywood Casino At Charles Town Races] body=[<strong>Location:</strong> Charles Town, WV  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>7:15 PM&nbsp;&nbsp;&nbsp;7:41 PM&nbsp;&nbsp;&nbsp;8:07 PM&nbsp;&nbsp;&nbsp;8:33 PM&nbsp;&nbsp;&nbsp;9:00 PM&nbsp;&nbsp;&nbsp;9:27 PM&nbsp;&nbsp;&nbsp;<br>9:58 PM&nbsp;&nbsp;&nbsp;10:25 PM&nbsp;&nbsp;&nbsp;10:52 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>7:15 PM</strong> - Hollywood Casino At Charles Town Races<br></span></span>
											</p>
                                    </td>
								  <td valign="top" class="even">								<p>											<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Zia Park] body=[<strong>Location:</strong> Hobbs, NM  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Mountain Daylight Time <br><b>Race Time:</b><br>12:15 PM&nbsp;&nbsp;&nbsp;12:41 PM&nbsp;&nbsp;&nbsp;1:07 PM&nbsp;&nbsp;&nbsp;1:33 PM&nbsp;&nbsp;&nbsp;1:59 PM&nbsp;&nbsp;&nbsp;2:25 PM&nbsp;&nbsp;&nbsp;<br>2:51 PM&nbsp;&nbsp;&nbsp;3:17 PM&nbsp;&nbsp;&nbsp;3:43 PM&nbsp;&nbsp;&nbsp;4:09 PM&nbsp;&nbsp;&nbsp;4:35 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:15 PM</strong> - Zia Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Will Rogers Downs] body=[<strong>Location:</strong> Claremore, OK  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>12:30 PM&nbsp;&nbsp;&nbsp;12:54 PM&nbsp;&nbsp;&nbsp;1:18 PM&nbsp;&nbsp;&nbsp;1:42 PM&nbsp;&nbsp;&nbsp;2:06 PM&nbsp;&nbsp;&nbsp;2:30 PM&nbsp;&nbsp;&nbsp;<br>2:54 PM&nbsp;&nbsp;&nbsp;3:18 PM&nbsp;&nbsp;&nbsp;3:42 PM&nbsp;&nbsp;&nbsp;4:06 PM&nbsp;&nbsp;&nbsp;4:30 PM&nbsp;&nbsp;&nbsp;4:54 PM&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:30 PM</strong> - Will Rogers Downs<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Fair Grounds] body=[<strong>Location:</strong> New Orleans, LA  <br><b>Entry Draw:</b> 168 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>12:40 PM&nbsp;&nbsp;&nbsp;1:05 PM&nbsp;&nbsp;&nbsp;1:30 PM&nbsp;&nbsp;&nbsp;1:55 PM&nbsp;&nbsp;&nbsp;2:20 PM&nbsp;&nbsp;&nbsp;2:45 PM&nbsp;&nbsp;&nbsp;<br>3:10 PM&nbsp;&nbsp;&nbsp;3:35 PM&nbsp;&nbsp;&nbsp;4:00 PM&nbsp;&nbsp;&nbsp;4:25 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:40 PM</strong> - Fair Grounds<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Golden Gate Fields] body=[<strong>Location:</strong> Albany, CA  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>12:45 PM&nbsp;&nbsp;&nbsp;1:15 PM&nbsp;&nbsp;&nbsp;1:45 PM&nbsp;&nbsp;&nbsp;2:15 PM&nbsp;&nbsp;&nbsp;2:45 PM&nbsp;&nbsp;&nbsp;3:15 PM&nbsp;&nbsp;&nbsp;<br>3:45 PM&nbsp;&nbsp;&nbsp;4:15 PM&nbsp;&nbsp;&nbsp;4:45 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:45 PM</strong> - Golden Gate Fields<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Suffolk Downs] body=[<strong>Location:</strong> East Boston, MA  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>12:45 PM&nbsp;&nbsp;&nbsp;1:12 PM&nbsp;&nbsp;&nbsp;1:39 PM&nbsp;&nbsp;&nbsp;2:06 PM&nbsp;&nbsp;&nbsp;2:33 PM&nbsp;&nbsp;&nbsp;3:00 PM&nbsp;&nbsp;&nbsp;<br>3:27 PM&nbsp;&nbsp;&nbsp;3:54 PM&nbsp;&nbsp;&nbsp;4:21 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:45 PM</strong> - Suffolk Downs<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Monmouth Park] body=[<strong>Location:</strong> Oceanport, NJ  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>12:50 PM&nbsp;&nbsp;&nbsp;1:20 PM&nbsp;&nbsp;&nbsp;1:50 PM&nbsp;&nbsp;&nbsp;2:20 PM&nbsp;&nbsp;&nbsp;2:50 PM&nbsp;&nbsp;&nbsp;3:20 PM&nbsp;&nbsp;&nbsp;<br>3:50 PM&nbsp;&nbsp;&nbsp;4:21 PM&nbsp;&nbsp;&nbsp;4:52 PM&nbsp;&nbsp;&nbsp;5:23 PM&nbsp;&nbsp;&nbsp;5:50 PM&nbsp;&nbsp;&nbsp;6:17 PM&nbsp;&nbsp;&nbsp;<br>6:44 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:50 PM</strong> - Monmouth Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Arlington Park] body=[<strong>Location:</strong> Arlington, IL  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:28 PM&nbsp;&nbsp;&nbsp;1:56 PM&nbsp;&nbsp;&nbsp;2:25 PM&nbsp;&nbsp;&nbsp;2:54 PM&nbsp;&nbsp;&nbsp;3:24 PM&nbsp;&nbsp;&nbsp;<br>3:55 PM&nbsp;&nbsp;&nbsp;4:26 PM&nbsp;&nbsp;&nbsp;4:56 PM&nbsp;&nbsp;&nbsp;5:25 PM&nbsp;&nbsp;&nbsp;5:54 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Arlington Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Belmont Park] body=[<strong>Location:</strong> Elmont, NY  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:31 PM&nbsp;&nbsp;&nbsp;2:03 PM&nbsp;&nbsp;&nbsp;2:35 PM&nbsp;&nbsp;&nbsp;3:07 PM&nbsp;&nbsp;&nbsp;3:39 PM&nbsp;&nbsp;&nbsp;<br>4:11 PM&nbsp;&nbsp;&nbsp;4:43 PM&nbsp;&nbsp;&nbsp;5:15 PM&nbsp;&nbsp;&nbsp;5:47 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Belmont Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Fairplex Park] body=[<strong>Location:</strong> Pomona, CA  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:25 PM&nbsp;&nbsp;&nbsp;1:50 PM&nbsp;&nbsp;&nbsp;2:15 PM&nbsp;&nbsp;&nbsp;2:40 PM&nbsp;&nbsp;&nbsp;3:05 PM&nbsp;&nbsp;&nbsp;<br>3:30 PM&nbsp;&nbsp;&nbsp;3:55 PM&nbsp;&nbsp;&nbsp;4:20 PM&nbsp;&nbsp;&nbsp;4:45 PM&nbsp;&nbsp;&nbsp;5:10 PM&nbsp;&nbsp;&nbsp;5:35 PM&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Fairplex Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Hoosier Park] body=[<strong>Location:</strong> Anderson, IN  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:26 PM&nbsp;&nbsp;&nbsp;1:52 PM&nbsp;&nbsp;&nbsp;2:18 PM&nbsp;&nbsp;&nbsp;2:44 PM&nbsp;&nbsp;&nbsp;3:10 PM&nbsp;&nbsp;&nbsp;<br>3:36 PM&nbsp;&nbsp;&nbsp;4:02 PM&nbsp;&nbsp;&nbsp;4:28 PM&nbsp;&nbsp;&nbsp;4:54 PM&nbsp;&nbsp;&nbsp;5:20 PM&nbsp;&nbsp;&nbsp;5:46 PM&nbsp;&nbsp;&nbsp;<br>6:12 PM&nbsp;&nbsp;&nbsp;6:38 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Hoosier Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Woodbine] body=[<strong>Location:</strong> Rexdale, ON  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:28 PM&nbsp;&nbsp;&nbsp;1:57 PM&nbsp;&nbsp;&nbsp;2:26 PM&nbsp;&nbsp;&nbsp;2:55 PM&nbsp;&nbsp;&nbsp;3:24 PM&nbsp;&nbsp;&nbsp;<br>3:53 PM&nbsp;&nbsp;&nbsp;4:24 PM&nbsp;&nbsp;&nbsp;4:55 PM&nbsp;&nbsp;&nbsp;5:26 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Woodbine<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Calder Race Course] body=[<strong>Location:</strong> Miami, FL  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:10 PM&nbsp;&nbsp;&nbsp;1:36 PM&nbsp;&nbsp;&nbsp;2:02 PM&nbsp;&nbsp;&nbsp;2:30 PM&nbsp;&nbsp;&nbsp;2:58 PM&nbsp;&nbsp;&nbsp;3:26 PM&nbsp;&nbsp;&nbsp;<br>3:55 PM&nbsp;&nbsp;&nbsp;4:26 PM&nbsp;&nbsp;&nbsp;4:56 PM&nbsp;&nbsp;&nbsp;5:26 PM&nbsp;&nbsp;&nbsp;5:55 PM&nbsp;&nbsp;&nbsp;6:23 PM&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:10 PM</strong> - Calder Race Course<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Finger Lakes] body=[<strong>Location:</strong> Farmington, NY  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:10 PM&nbsp;&nbsp;&nbsp;1:37 PM&nbsp;&nbsp;&nbsp;2:04 PM&nbsp;&nbsp;&nbsp;2:31 PM&nbsp;&nbsp;&nbsp;2:58 PM&nbsp;&nbsp;&nbsp;3:25 PM&nbsp;&nbsp;&nbsp;<br>3:52 PM&nbsp;&nbsp;&nbsp;4:19 PM&nbsp;&nbsp;&nbsp;4:46 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:10 PM</strong> - Finger Lakes<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Laurel Park] body=[<strong>Location:</strong> Laurel, MD  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:10 PM&nbsp;&nbsp;&nbsp;1:40 PM&nbsp;&nbsp;&nbsp;2:10 PM&nbsp;&nbsp;&nbsp;2:38 PM&nbsp;&nbsp;&nbsp;3:07 PM&nbsp;&nbsp;&nbsp;3:37 PM&nbsp;&nbsp;&nbsp;<br>4:07 PM&nbsp;&nbsp;&nbsp;4:37 PM&nbsp;&nbsp;&nbsp;5:07 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:10 PM</strong> - Laurel Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Turfway Park] body=[<strong>Location:</strong> Florence, KY  <br><b>Entry Draw:</b>  48 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:10 PM&nbsp;&nbsp;&nbsp;1:39 PM&nbsp;&nbsp;&nbsp;2:08 PM&nbsp;&nbsp;&nbsp;2:37 PM&nbsp;&nbsp;&nbsp;3:06 PM&nbsp;&nbsp;&nbsp;3:35 PM&nbsp;&nbsp;&nbsp;<br>4:04 PM&nbsp;&nbsp;&nbsp;4:33 PM&nbsp;&nbsp;&nbsp;5:02 PM&nbsp;&nbsp;&nbsp;5:31 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:10 PM</strong> - Turfway Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Delaware Park] body=[<strong>Location:</strong> Wilmington, DE  <br><b>Entry Draw:</b>  96 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:15 PM&nbsp;&nbsp;&nbsp;1:42 PM&nbsp;&nbsp;&nbsp;2:09 PM&nbsp;&nbsp;&nbsp;2:36 PM&nbsp;&nbsp;&nbsp;3:03 PM&nbsp;&nbsp;&nbsp;3:30 PM&nbsp;&nbsp;&nbsp;<br>3:57 PM&nbsp;&nbsp;&nbsp;4:24 PM&nbsp;&nbsp;&nbsp;4:51 PM&nbsp;&nbsp;&nbsp;5:18 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:15 PM</strong> - Delaware Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Thistledown] body=[<strong>Location:</strong> North Randall, OH  <br><b>Entry Draw:</b>  96 hours <br><b>Scratch:</b> Scratch 72 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:20 PM&nbsp;&nbsp;&nbsp;1:46 PM&nbsp;&nbsp;&nbsp;2:12 PM&nbsp;&nbsp;&nbsp;2:38 PM&nbsp;&nbsp;&nbsp;3:04 PM&nbsp;&nbsp;&nbsp;3:30 PM&nbsp;&nbsp;&nbsp;<br>3:56 PM&nbsp;&nbsp;&nbsp;4:22 PM&nbsp;&nbsp;&nbsp;4:48 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:20 PM</strong> - Thistledown<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Albuquerque] body=[<strong>Location:</strong> Albuquerque, NM  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Mountain Daylight Time <br><b>Race Time:</b><br>1:30 PM&nbsp;&nbsp;&nbsp;1:55 PM&nbsp;&nbsp;&nbsp;2:20 PM&nbsp;&nbsp;&nbsp;2:45 PM&nbsp;&nbsp;&nbsp;3:10 PM&nbsp;&nbsp;&nbsp;3:35 PM&nbsp;&nbsp;&nbsp;<br>4:00 PM&nbsp;&nbsp;&nbsp;4:25 PM&nbsp;&nbsp;&nbsp;4:50 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:30 PM</strong> - Albuquerque<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Pinnacle Race Course] body=[<strong>Location:</strong> Huron Township, MI  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:30 PM&nbsp;&nbsp;&nbsp;1:58 PM&nbsp;&nbsp;&nbsp;2:26 PM&nbsp;&nbsp;&nbsp;2:54 PM&nbsp;&nbsp;&nbsp;3:22 PM&nbsp;&nbsp;&nbsp;3:50 PM&nbsp;&nbsp;&nbsp;<br>4:18 PM&nbsp;&nbsp;&nbsp;4:46 PM&nbsp;&nbsp;&nbsp;5:14 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:30 PM</strong> - Pinnacle Race Course<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Hastings Racecourse] body=[<strong>Location:</strong> Vancouver, BC  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>1:40 PM&nbsp;&nbsp;&nbsp;2:07 PM&nbsp;&nbsp;&nbsp;2:34 PM&nbsp;&nbsp;&nbsp;3:01 PM&nbsp;&nbsp;&nbsp;3:28 PM&nbsp;&nbsp;&nbsp;3:55 PM&nbsp;&nbsp;&nbsp;<br>4:22 PM&nbsp;&nbsp;&nbsp;4:49 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:40 PM</strong> - Hastings Racecourse<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Emerald Downs] body=[<strong>Location:</strong> Auburn, WA  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>2:00 PM&nbsp;&nbsp;&nbsp;2:33 PM&nbsp;&nbsp;&nbsp;3:05 PM&nbsp;&nbsp;&nbsp;3:36 PM&nbsp;&nbsp;&nbsp;4:07 PM&nbsp;&nbsp;&nbsp;4:38 PM&nbsp;&nbsp;&nbsp;<br>5:09 PM&nbsp;&nbsp;&nbsp;5:39 PM&nbsp;&nbsp;&nbsp;6:09 PM&nbsp;&nbsp;&nbsp;6:39 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>2:00 PM</strong> - Emerald Downs<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Prairie Meadows] body=[<strong>Location:</strong> Altoona, IA  <br><b>Entry Draw:</b>  96 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>6:30 PM&nbsp;&nbsp;&nbsp;6:54 PM&nbsp;&nbsp;&nbsp;7:18 PM&nbsp;&nbsp;&nbsp;7:42 PM&nbsp;&nbsp;&nbsp;8:06 PM&nbsp;&nbsp;&nbsp;8:30 PM&nbsp;&nbsp;&nbsp;<br>8:54 PM&nbsp;&nbsp;&nbsp;9:18 PM&nbsp;&nbsp;&nbsp;9:42 PM&nbsp;&nbsp;&nbsp;10:06 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>6:30 PM</strong> - Prairie Meadows<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Remington Park] body=[<strong>Location:</strong> Oklahoma City, OK  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>6:30 PM&nbsp;&nbsp;&nbsp;6:58 PM&nbsp;&nbsp;&nbsp;7:26 PM&nbsp;&nbsp;&nbsp;7:54 PM&nbsp;&nbsp;&nbsp;8:22 PM&nbsp;&nbsp;&nbsp;8:50 PM&nbsp;&nbsp;&nbsp;<br>9:18 PM&nbsp;&nbsp;&nbsp;9:46 PM&nbsp;&nbsp;&nbsp;10:14 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>6:30 PM</strong> - Remington Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Lone Star Park] body=[<strong>Location:</strong> Grand Prairie, TX  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>6:35 PM&nbsp;&nbsp;&nbsp;6:59 PM&nbsp;&nbsp;&nbsp;7:23 PM&nbsp;&nbsp;&nbsp;7:47 PM&nbsp;&nbsp;&nbsp;8:11 PM&nbsp;&nbsp;&nbsp;8:35 PM&nbsp;&nbsp;&nbsp;<br>8:59 PM&nbsp;&nbsp;&nbsp;9:23 PM&nbsp;&nbsp;&nbsp;9:47 PM&nbsp;&nbsp;&nbsp;10:11 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>6:35 PM</strong> - Lone Star Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Retama Park] body=[<strong>Location:</strong> San Antonio, TX  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>6:45 PM&nbsp;&nbsp;&nbsp;7:10 PM&nbsp;&nbsp;&nbsp;7:35 PM&nbsp;&nbsp;&nbsp;8:00 PM&nbsp;&nbsp;&nbsp;8:25 PM&nbsp;&nbsp;&nbsp;8:50 PM&nbsp;&nbsp;&nbsp;<br>9:15 PM&nbsp;&nbsp;&nbsp;9:40 PM&nbsp;&nbsp;&nbsp;10:05 PM&nbsp;&nbsp;&nbsp;10:30 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>6:45 PM</strong> - Retama Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Los Alamitos] body=[<strong>Location:</strong> Los Alamitos, CA  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>7:00 PM&nbsp;&nbsp;&nbsp;7:24 PM&nbsp;&nbsp;&nbsp;7:47 PM&nbsp;&nbsp;&nbsp;8:10 PM&nbsp;&nbsp;&nbsp;8:33 PM&nbsp;&nbsp;&nbsp;8:56 PM&nbsp;&nbsp;&nbsp;<br>9:19 PM&nbsp;&nbsp;&nbsp;9:43 PM&nbsp;&nbsp;&nbsp;10:07 PM&nbsp;&nbsp;&nbsp;10:31 PM&nbsp;&nbsp;&nbsp;10:55 PM&nbsp;&nbsp;&nbsp;11:19 PM&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>7:00 PM</strong> - Los Alamitos<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Mountaineer Casino Racetrack & Resort] body=[<strong>Location:</strong> Chester, WV  <br><b>Entry Draw:</b>  96 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>7:00 PM&nbsp;&nbsp;&nbsp;7:25 PM&nbsp;&nbsp;&nbsp;7:50 PM&nbsp;&nbsp;&nbsp;8:15 PM&nbsp;&nbsp;&nbsp;8:40 PM&nbsp;&nbsp;&nbsp;9:05 PM&nbsp;&nbsp;&nbsp;<br>9:30 PM&nbsp;&nbsp;&nbsp;9:55 PM&nbsp;&nbsp;&nbsp;10:20 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>7:00 PM</strong> - Mountaineer Casino Racetrack & Resort<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Hollywood Casino At Charles Town Races] body=[<strong>Location:</strong> Charles Town, WV  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>7:15 PM&nbsp;&nbsp;&nbsp;7:41 PM&nbsp;&nbsp;&nbsp;8:07 PM&nbsp;&nbsp;&nbsp;8:33 PM&nbsp;&nbsp;&nbsp;9:00 PM&nbsp;&nbsp;&nbsp;9:27 PM&nbsp;&nbsp;&nbsp;<br>9:58 PM&nbsp;&nbsp;&nbsp;10:25 PM&nbsp;&nbsp;&nbsp;10:52 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>7:15 PM</strong> - Hollywood Casino At Charles Town Races<br></span></span>
											</p>
                                    </td>
								  <td valign="top" class="odd">								<p>											<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Zia Park] body=[<strong>Location:</strong> Hobbs, NM  <br><b>Entry Draw:</b> 120 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Mountain Daylight Time <br><b>Race Time:</b><br>12:15 PM&nbsp;&nbsp;&nbsp;12:41 PM&nbsp;&nbsp;&nbsp;1:07 PM&nbsp;&nbsp;&nbsp;1:33 PM&nbsp;&nbsp;&nbsp;1:59 PM&nbsp;&nbsp;&nbsp;2:25 PM&nbsp;&nbsp;&nbsp;<br>2:51 PM&nbsp;&nbsp;&nbsp;3:17 PM&nbsp;&nbsp;&nbsp;3:43 PM&nbsp;&nbsp;&nbsp;4:09 PM&nbsp;&nbsp;&nbsp;4:35 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:15 PM</strong> - Zia Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Will Rogers Downs] body=[<strong>Location:</strong> Claremore, OK  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>12:30 PM&nbsp;&nbsp;&nbsp;12:54 PM&nbsp;&nbsp;&nbsp;1:18 PM&nbsp;&nbsp;&nbsp;1:42 PM&nbsp;&nbsp;&nbsp;2:06 PM&nbsp;&nbsp;&nbsp;2:30 PM&nbsp;&nbsp;&nbsp;<br>2:54 PM&nbsp;&nbsp;&nbsp;3:18 PM&nbsp;&nbsp;&nbsp;3:42 PM&nbsp;&nbsp;&nbsp;4:06 PM&nbsp;&nbsp;&nbsp;4:30 PM&nbsp;&nbsp;&nbsp;4:54 PM&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:30 PM</strong> - Will Rogers Downs<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Golden Gate Fields] body=[<strong>Location:</strong> Albany, CA  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>12:45 PM&nbsp;&nbsp;&nbsp;1:15 PM&nbsp;&nbsp;&nbsp;1:45 PM&nbsp;&nbsp;&nbsp;2:15 PM&nbsp;&nbsp;&nbsp;2:45 PM&nbsp;&nbsp;&nbsp;3:15 PM&nbsp;&nbsp;&nbsp;<br>3:45 PM&nbsp;&nbsp;&nbsp;4:15 PM&nbsp;&nbsp;&nbsp;4:45 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:45 PM</strong> - Golden Gate Fields<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Monmouth Park] body=[<strong>Location:</strong> Oceanport, NJ  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>12:50 PM&nbsp;&nbsp;&nbsp;1:20 PM&nbsp;&nbsp;&nbsp;1:50 PM&nbsp;&nbsp;&nbsp;2:20 PM&nbsp;&nbsp;&nbsp;2:50 PM&nbsp;&nbsp;&nbsp;3:20 PM&nbsp;&nbsp;&nbsp;<br>3:50 PM&nbsp;&nbsp;&nbsp;4:21 PM&nbsp;&nbsp;&nbsp;4:52 PM&nbsp;&nbsp;&nbsp;5:23 PM&nbsp;&nbsp;&nbsp;5:50 PM&nbsp;&nbsp;&nbsp;6:17 PM&nbsp;&nbsp;&nbsp;<br>6:44 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>12:50 PM</strong> - Monmouth Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Arlington Park] body=[<strong>Location:</strong> Arlington, IL  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Central Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:28 PM&nbsp;&nbsp;&nbsp;1:56 PM&nbsp;&nbsp;&nbsp;2:25 PM&nbsp;&nbsp;&nbsp;3:15 PM&nbsp;&nbsp;&nbsp;3:24 PM&nbsp;&nbsp;&nbsp;<br>3:55 PM&nbsp;&nbsp;&nbsp;4:26 PM&nbsp;&nbsp;&nbsp;4:56 PM&nbsp;&nbsp;&nbsp;5:25 PM&nbsp;&nbsp;&nbsp;5:54 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Arlington Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Belmont Park] body=[<strong>Location:</strong> Elmont, NY  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:31 PM&nbsp;&nbsp;&nbsp;2:03 PM&nbsp;&nbsp;&nbsp;2:35 PM&nbsp;&nbsp;&nbsp;3:07 PM&nbsp;&nbsp;&nbsp;3:39 PM&nbsp;&nbsp;&nbsp;<br>4:11 PM&nbsp;&nbsp;&nbsp;4:43 PM&nbsp;&nbsp;&nbsp;5:15 PM&nbsp;&nbsp;&nbsp;5:47 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Belmont Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Fairplex Park] body=[<strong>Location:</strong> Pomona, CA  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:25 PM&nbsp;&nbsp;&nbsp;1:50 PM&nbsp;&nbsp;&nbsp;2:15 PM&nbsp;&nbsp;&nbsp;2:40 PM&nbsp;&nbsp;&nbsp;3:05 PM&nbsp;&nbsp;&nbsp;<br>3:30 PM&nbsp;&nbsp;&nbsp;3:55 PM&nbsp;&nbsp;&nbsp;4:20 PM&nbsp;&nbsp;&nbsp;4:45 PM&nbsp;&nbsp;&nbsp;5:10 PM&nbsp;&nbsp;&nbsp;5:35 PM&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Fairplex Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Hollywood Casino At Charles Town Races] body=[<strong>Location:</strong> Charles Town, WV  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:24 PM&nbsp;&nbsp;&nbsp;1:48 PM&nbsp;&nbsp;&nbsp;2:12 PM&nbsp;&nbsp;&nbsp;2:36 PM&nbsp;&nbsp;&nbsp;3:00 PM&nbsp;&nbsp;&nbsp;<br>3:24 PM&nbsp;&nbsp;&nbsp;3:48 PM&nbsp;&nbsp;&nbsp;4:12 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Hollywood Casino At Charles Town Races<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Hoosier Park] body=[<strong>Location:</strong> Anderson, IN  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:26 PM&nbsp;&nbsp;&nbsp;1:52 PM&nbsp;&nbsp;&nbsp;2:18 PM&nbsp;&nbsp;&nbsp;2:44 PM&nbsp;&nbsp;&nbsp;3:10 PM&nbsp;&nbsp;&nbsp;<br>3:36 PM&nbsp;&nbsp;&nbsp;4:02 PM&nbsp;&nbsp;&nbsp;4:28 PM&nbsp;&nbsp;&nbsp;4:54 PM&nbsp;&nbsp;&nbsp;5:20 PM&nbsp;&nbsp;&nbsp;5:46 PM&nbsp;&nbsp;&nbsp;<br>6:12 PM&nbsp;&nbsp;&nbsp;6:38 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Hoosier Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Woodbine] body=[<strong>Location:</strong> Rexdale, ON  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:00 PM&nbsp;&nbsp;&nbsp;1:28 PM&nbsp;&nbsp;&nbsp;1:57 PM&nbsp;&nbsp;&nbsp;2:26 PM&nbsp;&nbsp;&nbsp;2:55 PM&nbsp;&nbsp;&nbsp;3:24 PM&nbsp;&nbsp;&nbsp;<br>3:53 PM&nbsp;&nbsp;&nbsp;4:23 PM&nbsp;&nbsp;&nbsp;4:53 PM&nbsp;&nbsp;&nbsp;5:23 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:00 PM</strong> - Woodbine<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Calder Race Course] body=[<strong>Location:</strong> Miami, FL  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:10 PM&nbsp;&nbsp;&nbsp;1:36 PM&nbsp;&nbsp;&nbsp;2:02 PM&nbsp;&nbsp;&nbsp;2:30 PM&nbsp;&nbsp;&nbsp;2:58 PM&nbsp;&nbsp;&nbsp;3:26 PM&nbsp;&nbsp;&nbsp;<br>3:55 PM&nbsp;&nbsp;&nbsp;4:26 PM&nbsp;&nbsp;&nbsp;4:56 PM&nbsp;&nbsp;&nbsp;5:26 PM&nbsp;&nbsp;&nbsp;5:55 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:10 PM</strong> - Calder Race Course<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Turfway Park] body=[<strong>Location:</strong> Florence, KY  <br><b>Entry Draw:</b>  48 hours <br><b>Scratch:</b> Scratch 24 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:10 PM&nbsp;&nbsp;&nbsp;1:39 PM&nbsp;&nbsp;&nbsp;2:08 PM&nbsp;&nbsp;&nbsp;2:37 PM&nbsp;&nbsp;&nbsp;3:06 PM&nbsp;&nbsp;&nbsp;3:35 PM&nbsp;&nbsp;&nbsp;<br>4:04 PM&nbsp;&nbsp;&nbsp;4:33 PM&nbsp;&nbsp;&nbsp;5:02 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:10 PM</strong> - Turfway Park<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Albuquerque] body=[<strong>Location:</strong> Albuquerque, NM  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Mountain Daylight Time <br><b>Race Time:</b><br>1:30 PM&nbsp;&nbsp;&nbsp;1:55 PM&nbsp;&nbsp;&nbsp;2:20 PM&nbsp;&nbsp;&nbsp;2:45 PM&nbsp;&nbsp;&nbsp;3:10 PM&nbsp;&nbsp;&nbsp;3:35 PM&nbsp;&nbsp;&nbsp;<br>4:00 PM&nbsp;&nbsp;&nbsp;4:25 PM&nbsp;&nbsp;&nbsp;4:50 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:30 PM</strong> - Albuquerque<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Fort Erie] body=[<strong>Location:</strong> Fort Erie, ON  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>1:30 PM&nbsp;&nbsp;&nbsp;1:56 PM&nbsp;&nbsp;&nbsp;2:22 PM&nbsp;&nbsp;&nbsp;2:50 PM&nbsp;&nbsp;&nbsp;3:14 PM&nbsp;&nbsp;&nbsp;3:46 PM&nbsp;&nbsp;&nbsp;<br>4:14 PM&nbsp;&nbsp;&nbsp;4:41 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:30 PM</strong> - Fort Erie<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Hastings Racecourse] body=[<strong>Location:</strong> Vancouver, BC  <br><b>Entry Draw:</b>  96 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>1:40 PM&nbsp;&nbsp;&nbsp;2:07 PM&nbsp;&nbsp;&nbsp;2:34 PM&nbsp;&nbsp;&nbsp;3:01 PM&nbsp;&nbsp;&nbsp;3:28 PM&nbsp;&nbsp;&nbsp;3:55 PM&nbsp;&nbsp;&nbsp;<br>4:22 PM&nbsp;&nbsp;&nbsp;4:49 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>1:40 PM</strong> - Hastings Racecourse<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Emerald Downs] body=[<strong>Location:</strong> Auburn, WA  <br><b>Entry Draw:</b>  96 hours <br><b>Scratch:</b> Scratch off the program <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>2:00 PM&nbsp;&nbsp;&nbsp;2:33 PM&nbsp;&nbsp;&nbsp;3:05 PM&nbsp;&nbsp;&nbsp;3:36 PM&nbsp;&nbsp;&nbsp;4:07 PM&nbsp;&nbsp;&nbsp;4:38 PM&nbsp;&nbsp;&nbsp;<br>5:09 PM&nbsp;&nbsp;&nbsp;5:39 PM&nbsp;&nbsp;&nbsp;6:09 PM&nbsp;&nbsp;&nbsp;6:39 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>2:00 PM</strong> - Emerald Downs<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Los Alamitos] body=[<strong>Location:</strong> Los Alamitos, CA  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Pacific Daylight Time <br><b>Race Time:</b><br>6:30 PM&nbsp;&nbsp;&nbsp;6:54 PM&nbsp;&nbsp;&nbsp;7:18 PM&nbsp;&nbsp;&nbsp;7:43 PM&nbsp;&nbsp;&nbsp;8:07 PM&nbsp;&nbsp;&nbsp;8:36 PM&nbsp;&nbsp;&nbsp;<br>9:02 PM&nbsp;&nbsp;&nbsp;9:26 PM&nbsp;&nbsp;&nbsp;9:50 PM&nbsp;&nbsp;&nbsp;10:14 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>6:30 PM</strong> - Los Alamitos<br></span></span>
																						<span class="td-box"><span  style="cursor:pointer; " title="cssbody=[dogvdvbdy] cssheader=[dogvdvhdr] header=[Mountaineer Casino Racetrack & Resort] body=[<strong>Location:</strong> Chester, WV  <br><b>Entry Draw:</b>  72 hours <br><b>Scratch:</b> Scratch 48 hours <br><b>Time Zone:</b> Eastern Daylight Time <br><b>Race Time:</b><br>7:00 PM&nbsp;&nbsp;&nbsp;7:25 PM&nbsp;&nbsp;&nbsp;7:50 PM&nbsp;&nbsp;&nbsp;8:15 PM&nbsp;&nbsp;&nbsp;8:40 PM&nbsp;&nbsp;&nbsp;9:05 PM&nbsp;&nbsp;&nbsp;<br>9:30 PM&nbsp;&nbsp;&nbsp;9:55 PM&nbsp;&nbsp;&nbsp;10:20 PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>] " ><strong>7:00 PM</strong> - Mountaineer Casino Racetrack & Resort<br></span></span>
											</p>
                                    </td>
								  
                                  </tr> 
           </tbody>
          </table>  
<p style="display:none;"><a href="http://boxover.swazz.org">BoxOver Home</a></p>		
 {literal}<script type="text/javascript" src="/themes/scripts/boxover.js" ></script>{/literal}

<!--End-->        
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    