<div id="main" class="logged-in">

      
      

      

<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">



                                      
          
<div class="headline"><h1>Tell your Friends and get some Cash in your Account!</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div class="headline"><h1><span class="DarkBlue">100% Match Up Referral Bonus</span></h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<br />
<p>Tell a friend about US Racing and make some FREE CASH... up to $500 for each friend you refer!  Offer expires on April 30th, so get in on the action NOW.</p>

<p>If you have a friend that signs up because of your referral and deposits with the <b>promo code A50REF</b> your friend will receive his 25% sign up Cash Bonus and YOU will receive a cash bonus equal to the amount your friend deposits!</p>

<p>So, if your friend deposits $500, you will receive $500 to your account. There are NO LIMITS-- refer as many friends as you want.</p>
<br />
<ol>
<li>Tell your friend to join <a href="/join">www.usracing.com</a></li>
<li>Provide your friend the <strong>promo code A50REF</strong> and tell him to use it on his initial deposit.</li>
<li>After your friend signs up, email me at <a href="mailto:vip@usracing.com">vip@usracing.com</a> with his/her CUSTOMER ID NUMBER, USERNAME & EMAIL</li>
</ol>

<p><b>Hurry and refer as many friends you can, offer is only valid starting April 25th and ends on April 30th 2011!</b></p>
<br />
<br />
<p><b>Terms and Conditions:</b></p>
<br />
<ul>
<li>To be eligible for this offer the Referrer must have deposited before the Referred Friend.</li>
<li>Maximum referral match up bonus is $500.00.</li>
<li>Bonus is restricted to use in the sportsbook and casino product only.</li>
<li>Your Referred Friend will receive his 25% signup bonus</li>
<li>There is no limit to the number of times you're credited a referral bonus, but limited to one bonus per Referred Friend.</li>
<li>Bonus will be paid after Referred Friend has made their first deposit and played at least 50% of his initial deposit and must not have requested a withdrawal before completing the wagering requirement on his own sign-up bonus</li>
<li>Opening multiple accounts is strictly against the house rules. If the referee already has an account with us (Inactive or otherwise) you will not be entitled to receive any referral bonus funds.</li>
<li>If after 7 days of the initial deposit, 50% of the amount has not been wagered, your referral bonus will not be credited. To request this bonus after 7 days, please send an email to vip@usracing.com</li>
<li>usracing.com reserves the right to alter or amend the terms and conditions of this promotion without notice.</li>
<li>Standard rollover requirements apply</li>
<li>General <a href="/house-rules">house rules</a> apply.</li>
</ul>
<br />
<br />

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> <!-- end: main .logged-in -->
<!-- end: LOGGED IN -->



<!-- start: LOGGED OUT -->
<div id="main" class="logged-out">

      
      

      

<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">



                                      
          
<div class="headline"><h1>Tell your Friends and get some Cash in your Account!</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div class="headline"><h1><span class="DarkBlue">100% Match Up Referral Bonus</span></h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<br />
<p>Tell a friend about US Racing and make some FREE CASH... up to $500 for each friend you refer!  Offer expires on April 30th, so get in on the action NOW.</p>

<p>If you have a friend that signs up because of your referral and deposits with the <b>promo code A50REF</b> your friend will receive his 25% sign up Cash Bonus and YOU will receive a cash bonus equal to the amount your friend deposits!</p>

<p>So, if your friend deposits $500, you will receive $500 to your account. There are NO LIMITS-- refer as many friends as you want.</p>
<br />
<ol>
<li>Tell your friend to join <a href="/join">www.usracing.com</a></li>
<li>Provide your friend the <strong>promo code A50REF</strong> and tell him to use it on his initial deposit.</li>
<li>After your friend signs up, email me at <a href="mailto:vip@usracing.com">vip@usracing.com</a> with his/her CUSTOMER ID NUMBER, USERNAME & EMAIL</li>
</ol>

<p><b>Hurry and refer as many friends you can, offer is only valid starting April 25th and ends on April 30th 2011!</b></p>
<br />
<br />
<p><b>Terms and Conditions:</b></p>
<br />
<ul>
<li>To be eligible for this offer the Referrer must have deposited before the Referred Friend.</li>
<li>Maximum referral match up bonus is $500.00.</li>
<li>Bonus is restricted to use in the sportsbook and casino product only.</li>
<li>Your Referred Friend will receive his 25% signup bonus</li>
<li>There is no limit to the number of times you're credited a referral bonus, but limited to one bonus per Referred Friend.</li>
<li>Bonus will be paid after Referred Friend has made their first deposit and played at least 50% of his initial deposit and must not have requested a withdrawal before completing the wagering requirement on his own sign-up bonus</li>
<li>Opening multiple accounts is strictly against the house rules. If the referee already has an account with us (Inactive or otherwise) you will not be entitled to receive any referral bonus funds.</li>
<li>If after 7 days of the initial deposit, 50% of the amount has not been wagered, your referral bonus will not be credited. To request this bonus after 7 days, please send an email to vip@usracing.com</li>
<li>usracing.com reserves the right to alter or amend the terms and conditions of this promotion without notice.</li>
<li>Standard rollover requirements apply</li>
<li>General <a href="/house-rules">house rules</a> apply.</li>
</ul>
<br />
<br />  
<div style="width:100%;"><a href="/join"><img style="margin: 0 auto; width: 150px;" title="Want to bet on Horses Online? Join Today!" alt="Want to bet on Horses Online? Join Today!" src="/themes/images/join_button.gif" border="0" /></a></div> 
<p>&nbsp;</p>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> <!-- end: main .logged-out -->