

      



      

<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">



                                      
          
<div class="headline"><h1>Search Results</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


{include_php file=$search}




</div>


<!-- end: #content-box -->
<!-- end: #content-wrapper -->





<!-- end: IE Column Clearing -->

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 


  

 <!-- end: #main -->

