    
      
      
            
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">


          
                                                
                                      
          
<div class="headline"><h1>Unsubscribe</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<h2>&nbsp;</h2>
<h2>&nbsp;</h2>
    <p>Your request is being processed and your address will be removed from our mailing list shortly.</p>

	<p> We'd love to have you back! If there is a particular reason why you've requested to have your address removed, we'd love to know about it and perhaps we can adjust our services to better meet your needs. Please email your suggestions and feedback to <a href="mailto:vip@usracing.com">vip@usracing.com</a>.</p>

<p>
Kind Regards,<br>


 Michael White<br>

US Racing<br>
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
        
        


  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 

