<div id="main" class="logged-in">
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->



            
{include file='menus/hotbets.tpl'}

<div id="block-block-31" class="logged-out block block-block region-odd odd region-count-3 count-3">

<div class="content">
<!-- --------------------- content starts here ---------------------- -->



{include file='includes/ahr_upcoming_races.tpl'}
</div>  

</div><!-- /block-inner, /block -->
<div id="box-shd" class="logged-out"></div>





<!-- ---------------------- end left menu contents ------------------- -->         
</div>

      

<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">




<!-- Ticker Hidden -->
<!--
<div id="block-block-100" class="block block-block region-odd even region-count-1 count-4"><div class="block-inner"> 
<div class="content">
<!-- --------------------- content starts here ---------------------- -->



<div class="tickercontainer" style="height:32px;">
<iframe id="ticker-loggedin" src="" allowtransparency="0" frameborder="0" style="margin:0; padding:0;  width: 100%; height:32px; " marginheight="0" marginwidth="0" scrolling="no"></iframe>
</div>

{literal}
<style>
.logged-in .tickercontainer { width:769px; }
.not-logged-in .tickercontainer { width:705px; }
</style>
{/literal}


  
</div>
</div>--><!-- /block-inner, /block -->
<!---->


</div>

<h2 class="title" style="display:none">Sportsbook</h1>              


  
<div class="content">
<!-- --------------------- content starts here ---------------------- -->



<div class="field field-type-text field-field-body-logged-in">




<div>
<span><a href="https://sportsbook.gamingsystem.net/sportsbook4/www.usracing.com/sbk5.cgi?oddsSrc=wagers.cgi" target="BETTING" ><img style="float: right; margin:-5px 0 0 0;" src="/themes/images/pendingwagers-btn.gif" alt="Bet Now" border="0" onmouseover="this.src='/themes/images/pendingwagers-btn-hover.gif';" onmouseout="this.src='/themes/images/pendingwagers-btn.gif';" /></a></span>
<h2>Sportsbook</h2>
</div>

<link href="/modules/allhorseracing/sportsbook/sportsbook_sbk5.css" type="text/css" rel="Stylesheet" media="screen">

{literal}

    <script type="text/javascript">
	var isAuthenticated = true;
			
			$(document).ready(function(){
				if (!isAuthenticated)
				{
					$(".lin_item_link").bind("click",function(){
						alert("Please join or login to play.");
						return false;
					});
					
				}
				//var ifLocation = window.location.href;
				//var line = ifLocation.substring(ifLocation.indexOf('type=') + 5).split('&')[0];
				//alert();
				var firstHeader = $(".header_link:eq(0)").text();
				ResetHeader();
				SetSelectedHeader(firstHeader);
				
			});

		function setTabs(TABS)
		{
			ResetHeader();
			SetSelectedHeader(TABS);
		}

        function SetSelectedHeader(cellText)
        {
           $(".header_lines_table td").each(function(){
              if($(this).text() == cellText)
              {
                $(this).removeClass("header_bg");
                $(this).addClass("selected_header");
              }
            });
        }
        
        function ResetHeader()
        {
		    $(".header_lines_table td").each(function(){
            $(this).removeClass("selected_header");
            $(this).addClass("header_bg");
        });
      }
	  
    </script>
{/literal}
<div style="margin-top: 10px;">
<table class="header_lines_table">
	<tr>
		<td class="header_bg"><a class="header_link" onClick="setTabs('Horse Betting')" href="/modules/allhorseracing/sportsbook/linesdetail-sbk5.php?type=Horse Betting&amp;auth=true" target="ODDS">Horse Betting</a></td>
		<td class="header_bg"><a class="header_link" onClick="setTabs('Baseball')" href="/modules/allhorseracing/sportsbook/linesdetail-sbk5.php?type=Baseball&amp;auth=true" target="ODDS">Baseball</a></td>
		<td class="header_bg"><a class="header_link" onClick="setTabs('NBA')" href="/modules/allhorseracing/sportsbook/linesdetail-sbk5.php?type=NBA&amp;auth=true" target="ODDS">NBA</a></td>		
		<td class="header_bg"><a class="header_link" onClick="setTabs('Hockey')" href="/modules/allhorseracing/sportsbook/linesdetail-sbk5.php?type=Hockey&amp;auth=true" target="ODDS">Hockey</a></td>		
				<td class="header_bg"><a class="header_link" onClick="setTabs('Golf')" href="/modules/allhorseracing/sportsbook/linesdetail-sbk5.php?type=Golf&amp;auth=true" target="ODDS">Golf</a></td>
	</tr>
	<tr>
		<td class="header_bg"><a class="header_link" onClick="setTabs('Auto Racing')" href="/modules/allhorseracing/sportsbook/linesdetail-sbk5.php?type=Auto Racing&amp;auth=true" target="ODDS">Auto Racing</a></td>
		<td class="header_bg"><a class="header_link" onClick="setTabs('MMA/Boxing')" href="/modules/allhorseracing/sportsbook/linesdetail-sbk5.php?type=MMA/Boxing&amp;auth=true" target="ODDS">MMA/Boxing</a></td>
		<td class="header_bg"><a class="header_link" onClick="setTabs('Exotics')" href="/modules/allhorseracing/sportsbook/linesdetail-sbk5.php?type=Exotics&amp;auth=true" target="ODDS">Exotics</a></td>	
		<td class="header_bg"><a class="header_link" onClick="setTabs('NFL')" href="/modules/allhorseracing/sportsbook/linesdetail-sbk5.php?type=NFL&amp;auth=true" target="ODDS">NFL</a></td>
		<td class="header_bg"><a class="header_link" onClick="setTabs('College Football')" href="/modules/allhorseracing/sportsbook/linesdetail-sbk5.php?type=College Football&amp;auth=true" target="ODDS">College Football</a></td>
	</tr>
	<tr>
		<td class="header_bg"><a class="header_link" onClick="setTabs('College Basketball')" href="/modules/allhorseracing/sportsbook/linesdetail-sbk5.php?type=College Basketball&amp;auth=true" target="ODDS">College Basketball</a></td>
		<td class="header_bg"><a class="header_link" onClick="setTabs('Soccer')" href="/modules/allhorseracing/sportsbook/linesdetail-sbk5.php?type=Soccer&amp;auth=true" target="ODDS">Soccer</a></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	</table></div>



<div>

<iframe id="linesdetail" src="" name="BETTING" frameborder="0" marginheight="0" marginwidth="0"  scrolling="no" style="margin-top:10px; height:740px; width:747px; "></iframe>
</div>        
        
</div>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container -->

  <div id="main" class="logged-out">
      <div id="col1" class="append-logged-out">
        
          
            

      <h2 class="title">Sports Lines</h2>
  



    <ul class="menu"><li class="expanded first"><a href="/beton/race-of-the-week" title="Bet on Horses">BET ON HORSES</a><ul class="menu"><li class="leaf first"><a href="/beton/race-of-the-week" title="Horse Race of the Week">HORSE RACE OF THE WEEK BETS</a></li>
<li><a href="/beton/kentuckyderby" title="Bet on Kentucky Derby - Run for the Roses at Churchill Downs">BET ON KENTUCKY DERBY</a></li>
<li><a href="/beton/kentuckyderby-futurewager" title="Kentucky Derby Future Wager">KENTUCKY DERBY FUTURE WAGER</a></li>
<li><a href="/beton/preakness-stakes" title="Bet on Preakness Stakes at US Racing">BET ON PREAKNESS STAKES</a></li>
<li><a href="/beton/belmontstakes" title="Bet on Belmont Stakes at US Racing">BET ON BELMONT STAKES</a></li>
<li><a href="/beton/breederscup" title="Bet on Breeders&#039; Cup at US Racing">BET ON BREEDERS CUP</a></li>
<li><a href="/beton/dubaiworldcup" title="Bet on the Dubai World Cup - Richest Horse Race">DUBAI WORLD CUP</a></li>
<li><a href="/beton/matchraces" title="Match Races at US Racing">MATCH RACES</a></li>
<li><a href="/beton/roadtoroses" title="Road to the Kentucky Derby">ROAD TO THE KENTUCKY DERBY</a></li>
<li><a href="/beton/breederscup_challenge" title="Breeders Cup Challenge">BREEDERS CUP CHALLENGE</a></li>
<li><a href="/beton/makememillionaire" title="Make Me A Millionaire Challenge">MAKE ME A MILLIONAIRE</a></li>
</ul></li>
<li class="expanded"><a href="/beton/football" title="Bet on Football">BET ON FOOTBALL</a><ul class="menu"><li class="leaf first"><a href="/beton/nfl" title="Bet on NFL Football">BET ON NFL</a></li>
<li><a href="/beton/college-football" title="Bet on College Football">BET ON COLLEGE</a></li>
</ul></li>
<li class="expanded"><a href="/beton/baseball" title="Bet Sports">BET SPORTS</a><ul class="menu"><li class="leaf first"><a href="/beton/baseball" title="Bet on Baseball">BASEBALL</a></li>
<li><a href="/beton/basketball" title="Bet on Basketball">BASKETBALL BETTING</a></li>
<li><a href="/beton/collegebasketball" title="NCAA College Basketball Betting">NCAA BASKETBALL</a></li>
<li><a href="/beton/hockey" title="Bet on Hockey | NHL Betting Online">BET ON HOCKEY</a></li>
<li><a href="/beton/boxing" title="Bet on HBO and Showtime Boxing">BOXING</a></li>
<li><a href="/beton/mma" title="UFC, MMA bet on Mixed Martial Arts">MIXED MARTIAL ARTS</a></li>
<li><a href="/beton/golf" title="Bet on Golf | Ryder Cup, The Masters, PGA betting">GOLF BETTING</a></li>
<li><a href="/beton/nascar" title="NASCAR Betting Autoracing">NASCAR</a></li>
<li><a href="/beton/soccer" title="Soccer Betting">SOCCER BETTING</a></li>
<li><a href="/beton/tennis" title="Tennis Betting at Wimbledon and Majors">TENNIS</a></li>
</ul></li>
<li class="expanded"><a href="/beton/oscars" title="Bet on Politics, Entertainment and More!">BET MORE</a><ul class="menu"><li class="leaf first"><a href="/beton/oscars" title="Bet on the Academy Awards and Oscars">ACADEMY AWARDS</a></li>
<li><a href="/beton/politics" title="Political Betting">POLITICS</a></li>
<li><a href="/beton/reality-tv" title="Bet on TV and Reality Shows">REALITY SHOWS</a></li>
</ul></li>
<li><a href="/promotions" title="Promotions and Specials">PROMOTIONS AND SPECIALS</a></li>
</ul>  </div>

  

<!-- /block-inner, /block -->


{include file='banners/banner4.tpl'} 
{include file='banners/banner3.tpl'} 
{include file='banners/banner2.tpl'} 
{include file='banners/banner1.tpl'}




<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      

<div id="left-col" class="append-logged-out">
 





<div class="content">
<!-- --------------------- content starts here ---------------------- -->



<div><a href="/join"><img src="/themes/images/banner-sportsbook-horses.jpg" alt="Sportsbook" width="705" height="118" /></a></div>
</div>  

<!-- /block-inner, /block -->


<!-- Ticker -->
<!--
<div id="block-block-100" class="block block-block region-even odd region-count-2 count-5">
<div class="block-inner">
<div class="content" style="height:32px;">
<iframe  id="ticker-loggedout" src="" allowtransparency="0" frameborder="0" style="margin:0; padding:0; width:703px; height:32px; " marginheight="0" marginwidth="0" scrolling="no"></iframe>
</div>  
</div>
</div>

-->

<!-- end:content-top -->


                                      
          
<div class="headline"><h1>Sportsbook</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<p>US Racing offers <a title="odds on every major sporting event" href="/sportsbook">odds on every major sporting event</a> in the world including the Super Bowl, World Cup, Baseball World Series, Stanley Cup, Basketball, Golf-- you name it-- we got it!</p>
<p> Besides offering bets on sports, we also offer Exotic wagers for televised award shows like the Academy Awards, Grammy Awards, Golden Globe Awards and Emmy Awards.</p>
<p>The best part is that your username and password allows you access to the <a title="Bet on Horses!" href="/racebook">Horse Racing Racebook</a>, <a title="Sportsbook" href="/sportsbook">Sportsbook</a>, <a title="Casino" href="/casino">Casino</a>, <a title="Virtual Derby" href="/virtualderby">Virtual Horse Race Games</a> and <a title="Everybody Plays Poker!" href="/poker">Online Poker</a>.</p>
<p>With great minimums and the maximum of $11,000 online, US Racing delivers the best in sports action!</p>
<p> So, bet on your favorite college team or professional team-- bet on your favorite TV show-- bet on your favorite musician or actor-- you can even bet on who you think will be the next President of the United States!   Good luck and have fun at US Racing!</p>
<p>&nbsp;</p>
<div id="promos-content">
<div class="promos-box">
<div class="icon"><img src="/themes/images/promo-current.gif" alt="" /></div>
<div class="header">Current promotions that you won't want to miss out on:</div>
<div class="current-info">
<ul class="star">
<li>10% Initial deposit bonus!</li>
<li>Daily Horse Rebate with no restrictions!</li>
<li>8% Rebate on Exotics!</li>
<li>3% Rebate on Win, Place or Show!</li>
<li>Over 100 tracks to bet on in the USA and Canada. Tons of exotic bets with the highest payout limits and more!</li>
<li>5% Free cash on all deposits every day!</li>
<li>10% Casino Cash Back Every Month! - <a href="promotions/casino/casino-cashback">Click here for details</a></li>
<li>5% Sports cash back every month!</li>
<li>100% Initial Poker Deposit Bonus!</li>
<li>Half Juice on all games every Friday. Bet NFL, Baseball, Baskebtall and Hockey  at -105 every Friday.</li>
<li>First half, first quarter, half time wagers and a quarter line at the beginning of every quarter.</li>
<li>More props equals more fun. No one offers more prop bets. Player props, scoring titles, score by quarter and by half. Dozens of daily golf matchup's.</li>
<li>Fantasy Football is now available at US Racing for the 09/10 season!</li>
<li>More parlays and teasers than Las Vegas or any where else!</li>
<li>Up to 12 team parlays and progressive parlays.</li>
<li>Half juice on all NBA games every Monday. Lay -105 on Mondays.</li>
</ul>
</div>
</div>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container -->
  {literal}
    <script language="javascript">
	var username = Check_Cookie(rot13('UTMU'));
	$(".header_lines_table").css({"visibility":"hidden"});
	if(gup('line')){
	setTimeout(
	function (){if(username){
		
		$("#linesdetail").attr("src","https://sportsbook.gamingsystem.net/sportsbook4/www.usracing.com/sbk5.cgi?oddsSrc=http://www.usracing.com/modules/allhorseracing/sportsbook/linesdetail-sbk5.php?type="+gup('line')+"&amp;auth=true");
		//$("#linesdetail").ready(function(){$(".header_lines_table").css({"visibility":"visible"})});
		$("#ticker-loggedin").attr("src", "/Feeds/TrackResults/ticker.php");
	}else{
		$("#ticker-loggedout").attr("src", "/Feeds/TrackResults/ticker.php");
	}},1000);
	setTimeout(function(){setTabs(gup('line'));},1500);
	}else{
	setTimeout(
	function (){if(username){
		$("#linesdetail").attr("src","https://sportsbook.gamingsystem.net/sportsbook4/www.usracing.com/sbk5.cgi?oddsSrc=http://www.usracing.com/modules/allhorseracing/sportsbook/linesdetail-sbk5.php?type=Horse Betting&amp;auth=true");
	//	$("#linesdetail").ready(function(){$(".header_lines_table").css({"visibility":"visible"})});
		$("#ticker-loggedin").attr("src", "/Feeds/TrackResults/ticker.php");
	}else{
		$("#ticker-loggedout").attr("src", "/Feeds/TrackResults/ticker.php");
	}},1000);
	}
	</script>
    {/literal} 