<div id="main" class="delete"><div id="main-inner" class="clearfix with-navbar">
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          <div id="col3_inside" class="floatbox">
                                                
                                      
          
<div class="headline"><h1>Sportbook Back</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<!-- =================== HIDES ALL ELEMENTS ============================ -->

<!-- ================================================================= -->
<html>
<head></head>
<body style="margin:0; padding:0; background:#ffffff;">
<div style="width:500px; ">
<div>
<span><a 

href="https://sportsbook.gamingsystem.net/sportsbook4/www.usracing.com/sbk.xgi?oddsSrc

=wagers.cgi" target="ODDS" ><img style="float: right; margin:-5px 0 0 0;" 

src="/themes/images/pendingwagers-btn.gif" alt="Bet Now" border="0" 

onmouseover="this.src='/themes/images/pendingwagers-btn-hover.gif';" 

onmouseout="this.src='/themes/images/pendingwagers-btn.gif';" /></a></span>
<h2>Sportsbook</h2>

</div>


    <link href="/modules/allhorseracing/sportsbook/sportsbook.css" type="text/css" rel="Stylesheet" media="screen" />
    {literal}<script type="text/javascript">
      $(document).ready(function(){
          var defHeader = '';
          var firstHeader = $(".header_link:eq(0)").text();
          var authenticated = false;
          
          if (defHeader != '')
          {
            $("#ODDS").attr("src","/modules/allhorseracing/sportsbook/linesdetail.php?type=" + defHeader + "&auth=" + authenticated);
          }
          else
          {
            $("#ODDS").attr("src","/modules/allhorseracing/sportsbook/linesdetail.php?type=" + firstHeader + "&auth=" + authenticated);
          }

          $(".header_lines_table tr td a").bind("click",function(){
              $("#ODDS").attr("src","/modules/allhorseracing/sportsbook/linesdetail.php?type=" + $(this).text() + "&auth=" + authenticated);
              return false;
          });

            
      });

        function SetSelectedHeader(cellText)
        {
            $(".header_lines_table td").each(function(){
              if($(this).text() == cellText)
              {
                $(this).removeClass("header_bg");
                $(this).addClass("selected_header");
              }
            });
        }
        
        function ResetHeader()
        {
            $(".header_lines_table td").each(function(){
            $(this).removeClass("selected_header");
            $(this).addClass("header_bg");
        });
      }
    </script>{/literal}

	<div>
		<table class="header_lines_table"><tr><td class="header_bg"><a class="header_link" href="">NFL</a></td><td class="header_bg"><a class="header_link" href="">Horse Betting</a></td><td class="header_bg"><a class="header_link" href="">Baseball</a></td><td class="header_bg"><a class="header_link" href="">College Football</a></td><td class="header_bg"><a class="header_link" href="">Golf</a></td></tr><tr><td class="header_bg"><a class="header_link" href="">MMA/Boxing</a></td><td class="header_bg"><a class="header_link" href="">Auto Racing</a></td><td class="header_bg"><a class="header_link" href="">Soccer</a></td><td class="header_bg"><a class="header_link" href="">Exotics</a></td><td class="header_bg"><a class="header_link" href="">NBA</a></td></tr><tr><td class="header_bg"><a class="header_link" href="">College Basketball</a></td><td class="header_bg"><a class="header_link" href="">Hockey</a></td><td></td><td></td><td></td></tr></table>	</div>
	<div>
		<iframe id="ODDS" name="ODDS" scrolling="auto" frameborder="0" width="100%" height="1600"></iframe>	</div>
</div>
</body>
</html>

        
             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 
