{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          
            

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    
<h2>Upcoming Races</h2>
<ul class="menu upcoming">
                   <li class="first leaf"><a href="/todayshorseracing?id=HRT&race=1&racename=Harrington Raceway" title="Harrington Raceway Results for Race 1"><div class="racename">Harrington Raceway</div><div class="raceinfo">Race #1 - <span style="color:#7f0000;">9 MTP</span></div></a></li><li><a href="/todayshorseracing?id=IJN&race=3&racename=Indiana Downs (H)" title="Indiana Downs (H) Results for Race 3"><div class="racename">Indiana Downs (H)</div><div class="raceinfo">Race #3 - <span style="color:#7f0000;">11 MTP</span></div></a></li><li><a href="/todayshorseracing?id=MNE&race=1&racename=Mountaineer Race Track" title="Mountaineer Race Track Results for Race 1"><div class="racename">Mountaineer Race Track</div><div class="raceinfo">Race #1 - <span style="color:#7f0000;">99 MTP</span></div></a></li><li><a href="/todayshorseracing?id=NPN&race=1&racename=Northfield Park" title="Northfield Park Results for Race 1"><div class="racename">Northfield Park</div><div class="raceinfo">Race #1 - <span style="color:#7f0000;">99 MTP</span></div></a></li><li><a href="/todayshorseracing?id=YON&race=1&racename=Yonkers" title="Yonkers Results for Race 1"><div class="racename">Yonkers</div><div class="raceinfo">Race #1 - <span style="color:#7f0000;">99 MTP</span></div></a></li></ul>

          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>Sportsbook Revison 4</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    