
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>TEST Login</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<!-- <link type="text/css" href="/themes/css/jquery/ui.theme.css" rel="stylesheet" /> -->



{literal}<script type="text/javascript" src="/modules/jquery_ui/jquery.ui/ui/ui.core.js"></script>{/literal}	
{literal}<script type="text/javascript" src="/modules/jquery_ui/jquery.ui/ui/ui.dialog.js"></script>{/literal}
{literal}<script type="text/javascript" src="/modules/jquery_ui/jquery.ui/ui/effects.core.js"></script>{/literal}	
{literal}<script type="text/javascript">
	$(function() {	
		$("#dialog").dialog("destroy");;
		$("#dialog").dialog({
			bgiframe: false,
			autoOpen: false,
			height: 1376,
			width: 600,
			modal: true,
			draggable:false,
			resizable:false,
			close: function() { 

    } 

		});		
		
		$('#create-user').click(function() {
		document.getElementById('dialog').style.display="block";
		document.getElementById('joinframe').src= "https://ctr.gamingsystem.net/ctrsignup/pl/signup.ctr?casinoId=7630&siteID=7630";
			$('#dialog').dialog('open');
		})
		
		$('#CloseLink').click(function() {		
			$('#dialog').dialog('close');
		})	

		$('#CloseLink2').click(function() {		
			$('#dialog').dialog('close');
		})		

	});
	</script>{/literal}

<div id="dialog" style="display:none;">

			    <div  style="height: 26px;  border-bottom:1px solid #AAD3FF;">
			            <h2 class="title" style="float: left; border:0;">Join - Open an account and begin betting in 5 minutes!</h2>
                                    <a id="CloseLink" title="Close"></a>
			   </div>
			    
                                   <iframe frameborder="0" id="joinframe" scrolling="no" style="overflow: hidden; width: 100%; height: 1300px;" ></iframe>
                                   <div id="CloseLink2"><a title="Close">Close</a></div>
			    

</div>

<br />
<br />
<p><a  id="create-user"  style="cursor:pointer;  display: block; color: #1b579f; font-weight: bold;">Join Test Link</a></p>

        
        

  </div>
              
            
            
            <div id="block-ad-20" class="block block-ad region-odd odd region-count-1 count-1">

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



    
<div class="advertisement group-tids-20" id="group-id-tids-20">{literal}<script type='text/javascript' src='http://www.usracing.com/modules/ad/serve.php?q=1&amp;t=20&amp;u=node%2F321'></script>{/literal}</div>
  </div>

  

     

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->

</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    