{include file='../smarty/templates/primarymenu-menu.tpl'} 

<div id="main" class="delete">
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">




<!--      <div class="tickercontainer" style="height:32px;">
<iframe src="/Feeds/TrackResults/ticker.php" allowtransparency="0" frameborder="0" style="margin:0; padding:0;  width: 100%; height:32px; " marginheight="0" marginwidth="0" scrolling="no"></iframe>
</div> -->
  </div>

  

<!-- /block-inner, /block -->



<div id="block-block-114" class="block block-block region-even even region-count-2 count-2">

  
  <div class="content">
<!-- --------------------- content starts here ---------------------- -->



{include file=inc/ahr_block_logout_banner_random.tpl}
        <!--     {literal}<script type="text/javascript" >
            //<![CDATA[
                var oneMinute = 60 * 1000;
                var oneHour = oneMinute * 60;
                var oneDay = oneHour * 24;
                function Counter(eventdate)
                {
                    var ms = Diff(eventdate);
                    var days, hrs, mins, secs;
                    if (ms >= 0)
                    {
                        days = Math.floor(ms / oneDay);
                        ms -= oneDay * days;
                        hrs = Math.floor(ms / oneHour);
                        ms -= oneHour * hrs;
                        mins = Math.floor(ms / oneMinute);
                        ms -= oneMinute * mins;
                        secs = Math.floor(ms / 1000);
                        days = (days < 10) ? "0" + days : days;
                        hrs = (hrs < 10) ? "0" + hrs : hrs;
                        mins = (mins < 10) ? "0" + mins : mins;
                        secs = (secs < 10) ? "0" + secs : secs;
                        document.getElementById("lbcountdown").innerHTML = '<span>'+days +'<span class="colon">:</span>' + hrs + '<span class="colon">:</span>' + mins + '<span class="colon">:</span>' + secs+'<br><span class="lables"><span class="days">Days</span><span class="hours">Hours</span><span class="mins">Mins</span><span class="sec">Sec</span></span>';
                    }
                }
                function Diff(eventdate)
                {
                    var Now = new Date();
                    var diff;
                    diff = eventdate - Now.valueOf();
                    return Math.floor(diff);
                }
                function Start(year, month, day, hour, minute, seconds)
                {
                    var id;
                    var eventdate = Date.UTC(year,month,day,hour,minute,seconds,0);
                    id = setInterval("Counter(" + eventdate + ");", 1000);
                }

		Start(2010,8,25,20,30,0);
            //]]>
			
			
        </script>{/literal} -->
		{literal}
		<script type="text/javascript">
		function Set_Cookie_Cross( name, value, expires, path, domain, secure )
		{
			var today = new Date();
			today.setTime( today.getTime() );
			if ( expires )
			{
				expires = expires * 1000 * 60 * 60;
			}
			var expires_date = new Date( today.getTime() + (expires) );
			
			document.cookie = name + "=" +escape( value ) +
			
			( ( expires ) ? ";expires=" + expires_date.toGMTString() : "" ) +
			
			( ( path ) ? ";path=" + path : "" ) +
			
			( ( domain ) ? ";domain=" + domain : "" ) +
			
			( ( secure ) ? ";secure" : "" );

		}

		Set_Cookie_Cross( 'AGHU', 'KDYES', 2, "/", ".kentuckyderby.info", "" );
</script>{/literal}
{php}

$number_of_days = 30 ;
$date_of_expiry = time() + 60 * 60 * 24 * $number_of_days ;
 setcookie( "register1", "true", $date_of_expiry, "/", "kentuckyderby.info" ); 

 setcookie( "register12", "true", $date_of_expiry, "/", "usracing.com" ); 
{/php}

<!--   <div class="countdown-advertisement clearfix" >
  <div class="inner"><a href="/racebook/" title="Queen Elizabeth II S. - Bet Now!"><img src="/files/countdown_queenelizabeth.jpg" alt="Queen Elizabeth II S. - Bet Now!"  width="313" height="76"></a>
  <div class="countdown-box">
  <div class="left">Countdown</div><div class="countdown" id="lbcountdown"></div></div>
  </div></div>
    </div> -->

  
</div>
<!-- /block-inner, /block -->



</div>                                    
                                      
          
<div class="headline"><h1>test</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


          2010-09-20 14:26:19<br>PDT<br>1<br>America/Los_Angeles        
        

  </div>
              
            
            
                      
        
       <!-- end: #col3 -->


      
    </div>