
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>test</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div id="clubhousecontent">
<div class="box-club-menu">
		<ul>
		<li><a href="/racebook"><img src="themes/images/club-racebook.jpg" alt="Racebook" border="0" onmouseover="this.src='themes/images/club-racebook-mo.jpg';" onmouseout="this.src='themes/images/club-racebook.jpg';" /></a></li>
		<li><a href="/casino"><img src="themes/images/club-casino.jpg" alt="Casino" border="0" onmouseover="this.src='themes/images/club-casino-mo.jpg';" onmouseout="this.src='themes/images/club-casino.jpg';" /></a></li>
		<li><a href="/sportsbook"><img src="themes/images/club-sportsbook.jpg" alt="Sportsbook" border="0" onmouseover="this.src='themes/images/club-sportsbook-mo.jpg';" onmouseout="this.src='themes/images/club-sportsbook.jpg';" /></a></li>
		<li><a href="/poker"><img src="themes/images/club-poker.jpg" alt="Poker" border="0" onmouseover="this.src='themes/images/club-poker-mo.jpg';" onmouseout="this.src='themes/images/club-poker.jpg';" /></a></li>
		<li><a href="/virtualderby"><img src="themes/images/club-virtualderby.jpg" alt="Virtual Derby" border="0" onmouseover="this.src='themes/images/club-virtualderby-mo.jpg';" onmouseout="this.src='themes/images/club-virtualderby.jpg';" /></a></li>
		<li><a href="javascript:void(0);" onclick="open_banking();" title="Make a Deposit"><img src="themes/images/club-deposit.jpg" alt="Deposit" border="0" onmouseover="this.src='themes/images/club-deposit-mo.jpg';" onmouseout="this.src='themes/images/club-deposit.jpg';" /></a></li>  	
		</ul>            
		<div class="box-club-banners">
		<a href="/referafriend"><img src="themes/images/club-banner-event.gif" alt="Refer a Friend" /></a>
		<a href="/join"><img src="themes/images/club-banner-casino.jpg" alt="US Racing Casino" /></a>
		</div>
	</div>
</div>

<div class="forgot">  <a   onclick="LoadForgotP();"  title="Forgot Your Username?" rel="nofollow">Forgot username?</a>
  <a  onclick="LoadForgotP();" title="Forgot Your Password" rel="nofollow">Forgot password?</a> </div> 
Array
(
)
Array
(
)
        
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    
