
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->





{*include file='banners/takethetour.tpl'*} 
{include file='banners/banner4.tpl'}
{include file='banners/banner3.tpl'} 
{include file='menus/triplecrown.tpl'}   
<!-- Upcoming Races
<div id="block-block-31" class="block block-block region-odd odd region-count-1 count-1">
<div class="block-inner">  
<div class="content">
<!-- --------------------- content starts here ---------------------- -->


-->
<!--  {*include file='includes/ahr_block_upcoming_races.tpl'*} -->
<!-- include_php file='../smarty/libs/todayshorseracing/upcomingraces.php' -->
<!--</div>  
</div>
</div>--><!-- /block-inner, /block -->
<!---->


<!--<div id="block-block-32" class="block block-block region-even even region-count-2 count-2">
<div class="block-inner">
<div class="content">
<!-- --------------------- content starts here ---------------------- -->


-->
<!-- include_php file='../smarty/libs/todayshorseracing/completedraces.php' -->
<!--</div>  
</div>
</div>--><!-- /block-inner, /block -->
<!---->





<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      

<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">


<div id="block-block-34" class="block block-block region-odd odd region-count-1 count-3"><!-- <div class="block-inner">

  
<div class="content">
<!-- --------------------- content starts here ---------------------- -->



    <div class="logged-out"><a href="/join"><img src="/themes/images/banner-racebook.jpg" alt="Racebook" width="705" height="118" /></a></div>
    <div class="logged-in"><a href="/racebook"><img src="/themes/images/banner-racebook-bet.jpg" alt="Racebook" width="705" height="118" /></a></div>
</div>

  
 -->
</div><!-- /block-inner, /block -->
<!--  -->


</div>

                                      
          
<div class="headline"><h1>Todays Horseracing</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


{if isset($smarty.get.id) && isset($smarty.get.race) }
     {include_php file='../smarty/libs/todayshorseracing/todayshorseracing.php'}

<h2>Disclaimer</h2>
<div>

         <div>

<table id="infoEntries" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  	<td>US Racing takes no responsibility for errors or delays in entries and results data.  To view the most current entries and results, please login to your account and click on Racebook.  Displayed are the most up to date entries for the day's race card.  To view the results of your bets, click on "Wager Reports" and select "Final Wagers".  If you would like to see historical race results, click on "Wager Reports" and select "Results".</td>
  </tr>
</table>
 </div> </div>





{else}
                <!-- start code -->
                {include file='includes/ahr_racing_results_page.tpl'}
   <!-- end code -->
     {/if}
              
            
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 


