
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->


          

{include file='menus/triplecrown.tpl'}


<div id="block-block-54" class="block block-block region-even even region-count-2 count-2">

<div class="content">
<!-- --------------------- content starts here ---------------------- -->



<div><a href="/beton/race-of-the-week"><img src="/themes/images/stakesraces/bigraceoftheweek.jpg" alt="Big Race of the Week Bets" title="Big Race of the Week Bets" width="225" height="223" /></a></div>  </div>

</div><!-- /block-inner, /block -->


{include file=banners/banner-stakesraces.tpl}




<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      

<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">



                                      
          
<div class="headline"><h1>Triple Crown Betting</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<!-- <div style="padding-top: 10px;">
<table style="background: #105ca8;" cellspacing="0" cellpadding="0" align="center" border="0">
<tbody>
<tr>
<td bordercolor="#0" colspan="2" height="30"></td>
</tr>
<tr>
<td bordercolor="#0" colspan="2" height="36"><a href="/join"><img title="" alt="" src="/themes/images/triplecrown/tc-top.gif" border="0" /></a></td>
</tr>
<tr>
<td bordercolor="#0" colspan="2" height="283"><a href="/join"><img title="" alt="" src="/themes/images/triplecrown/tc-image.jpg" border="0" /></a></td>
</tr>
<tr>
<td height="30"></td>
<td valign="top" rowspan="2"><a title="Bet on Triple Crown" href="/join"><img title="Click here to try us for free!" alt="Click here to try us for free!" src="/themes/images/triplecrown/tc-betnow-button.jpg" border="0" /></a></td>

</tr>
<tr>
<td><a href="/join"><img title="" alt="" src="/themes/images/triplecrown/tc-mid-takethechallenge.jpg" border="0" /></a></td>
</tr>
<tr>
<td colspan="2" height="32"> </td>
</tr>
<tr>
<td colspan="2" height="76"><div align="right"><a href="/join"><img title="" alt="" src="/themes/images/triplecrown/tc-logo.gif" border="0" /></a></div></td>
</tr>
</tbody>
</table>
</div>
 -->

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      

