    
      
      
            
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">


          
                                                
                                      
          
<div class="headline"><h1>Unsubscribe</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<h2>&nbsp;</h2>
<form action="http://lm2.sportsbook.com/subscribe/unsubscribe.tml" method="get">
          <table width="400" border=0 align="center" cellpadding="3" class="data" cellspacing="3">
		  
            <tr>
              <td colspan="2" class="tableTitle">Unsubscribe</td>
            </tr>
            <tr class="odd">
              <td ><div align="right">Email address: </div></td>
              <td ><input type="text" name="email" value="<Please enter you email>" size=30></td>
            </tr>
            <tr >
              <td class="label"><div align="right"><font size="1">
                  <input name="lists" type="checkbox" value="daily_list" checked="checked" />
                  </font></div></td>
              <td>Remove from the list: Game of the Day</td>
            </tr>
            <tr  class="odd">
              <td ><div align="right"><font size="1">
                  <input name="lists" type="checkbox" value="sportsbook_new"/>
                  </font></div></td>
              <td >Remove from the list: Weekly Newsletter</td>
            </tr>
            <tr>
              <td ><div align="right"><font size="1">
                  <input name="lists" type="checkbox" value="sportsbookcasino" />
                  </font></div></td>
              <td >Remove from the list: Poker/Casino
Newsletter</td>
            </tr>
            <tr class="odd">
              <td class="label"><div align="right"><font size="1">
                  <input type="checkbox" name="lists" value="*" />
                  </font></div></td>
              <td>Permanently remove from ALL lists</td>
            </tr>
            <tr>
              <td colspan="2" class="label"><div align="center">
                  <input type="submit" value=" Unsubscribe " title="Unsubscribe" alt="Unsubscribe" name="unsubscribe" />
                </div></td>
            </tr>
          </table>
          <input type="hidden" name="url" value="http://www.usracing.com/sms_unsubscribe_thanks">
          <input type="hidden" name="email_notification" value="F">
          <input type="hidden" name="confirm_first" value="F">
          <input type="hidden" name="showconfirm" value="F">
        </form>

<p>&nbsp;</p>
        
        


  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 

