<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Virtual Derby</title>
<script type="text/javascript" src="/smarty-include/js/smarty-script.js"></script>
<script type="text/javascript" src="/smarty-include/js/jquery.min.js?0"></script>
</head>
<body>

<form name="loginform" id="loginform" action="https://x18.gamingsystem.net/X18-login/login.do" method="post">
<input type="hidden" name="casinoid" value="7630" />
<input type="hidden" name="game" value="vgs" />
<input type="hidden" name="vgs.gametype" value="40-22" />
<input type="hidden" name="cashier" value="http://www.usracing.com/virtualderby" />
<input type="hidden" name="login_fail" value="http://www.usracing.com/themes/games/login_fail.html" />
<input type="hidden" name="userid" value="" />
<input type="hidden" name="passwd" value="" />
</form>
{literal}
<script type="text/javascript" src="/smarty-include/js/smarty-script.js"></script>
<script type="text/javascript" src="/smarty-include/js/jquery.min.js?0"></script>
<script type="text/javascript">
var username = rot13(Get_Cookie(rot13("UTMU")));
var password = rot13(Get_Cookie(rot13("UTMP")));

$('[name=userid]').val(username);
$('[name=passwd]').val(password);
setTimeout("document.loginform.submit();", 500);

</script>
{/literal}
			
</body>
</html>
