@charset "UTF-8";
.subscribe-section {
  font-family: "Lato";
  font-weight: 100;
  background: url(../images/bg-news.png);
  color: #fff;
  overflow: hidden;
  padding: 30px 0;
  font-family: "Lato"; }
  .subscribe-section .inner-subscribe-section {
    text-align: center; }
    .subscribe-section .inner-subscribe-section .form-subscribe .input-field {
      padding: 10px 10px; }
      .subscribe-section .inner-subscribe-section .form-subscribe .input-field input {
        width: 100%;
        padding: 3px 15px 5px;
        background: transparent;
        border-radius: 5px;
        border: 2px solid #fff;
        color: #fff;
        font-weight: 100; }
        .subscribe-section .inner-subscribe-section .form-subscribe .input-field input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #fff; }
        .subscribe-section .inner-subscribe-section .form-subscribe .input-field input::-moz-placeholder {
          /* Firefox 19+ */
          color: #fff; }
        .subscribe-section .inner-subscribe-section .form-subscribe .input-field input:-ms-input-placeholder {
          /* IE 10+ */
          color: #fff; }
        .subscribe-section .inner-subscribe-section .form-subscribe .input-field input:-moz-placeholder {
          /* Firefox 18- */
          color: #fff; }
      .subscribe-section .inner-subscribe-section .form-subscribe .input-field input[type="submit"] {
        background: #ffffff;
        color: #079fed;
        text-transform: uppercase;
        font-weight: 400; }

.featured-news {
  padding: 30px 0 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc; }
  .featured-news .story dt {
    width: 100%;
    float: none; }
    .featured-news .story dt a span {
      padding-top: 0px; }
  .featured-news .img-featured img {
    width: 100%; }
  .featured-news .info-news {
    overflow: hidden;
    margin: 2px 0; }
    .featured-news .info-news span {
      display: inline-block; }
      .featured-news .info-news span.category {
        float: left;
        color: #079fed; }
        .featured-news .info-news span.category a {
          color: #079fed; }
      .featured-news .info-news span.shares {
        float: right; }
  .featured-news .desc-featured {
    font-size: 18px;
    color: #666; }
    .featured-news .desc-featured h1 {
      color: #1e74b9;
      font-weight: 500;
      line-height: 1.2em; }
  .featured-news .postedby-featured {
    overflow: hidden;
    color: #6684a9;
    font-size: 14px; }
    .featured-news .postedby-featured .img-postedby, .featured-news .postedby-featured .entry_author_image {
      width: 51px;
      height: 51px;
      border: 3px solid #1e74b9;
      background: #1e74b9;
      border-radius: 50%;
      overflow: hidden;
      float: left; }
      .featured-news .postedby-featured .img-postedby img, .featured-news .postedby-featured .entry_author_image img {
        width: 100%; }
    .featured-news .postedby-featured .info-postedby {
      float: left;
      padding: 10px;
      font-weight: bold; }
      .featured-news .postedby-featured .info-postedby span.name-post {
        color: #079fed; }
  .featured-news .story {
    font-size: 18px;
    color: #666; }
    .featured-news .story .blog-title {
      color: #1e74b9;
      font-weight: 500;
      line-height: 1.2em;
      font-size: 38px !important;
      margin: 20px 0; }
      .featured-news .story .blog-title a {
        color: #1e74b9;
        text-decoration: none; }
  .featured-news .blog-date {
    display: none; }

.list-news {
  display: block;
  overflow: hidden; }
  .list-news .story dt {
    width: 100%;
    float: none; }
  .list-news .item-news {
    overflow: hidden;
    margin: 20px 0; }
    .list-news .item-news .img-news img {
      width: 100%;
      height: auto; }
    .list-news .item-news .info-news {
      overflow: hidden;
      padding: 2px 0; }
      .list-news .item-news .info-news span {
        display: inline-block; }
        .list-news .item-news .info-news span.category {
          float: left;
          color: #079fed; }
          .list-news .item-news .info-news span.category a {
            color: #079fed; }
        .list-news .item-news .info-news span.shares {
          float: right; }
    .list-news .item-news .title-news h3 {
      color: #1e74b9;
      font-weight: 500;
      line-height: 1.2em; }
    .list-news .item-news .postedby-news {
      overflow: hidden;
      color: #6684a9;
      font-size: 14px; }
      .list-news .item-news .postedby-news .img-postedby, .list-news .item-news .postedby-news .entry_author_image {
        width: 51px;
        height: 51px;
        border: 3px solid #1e74b9;
        background: #1e74b9;
        border-radius: 50%;
        overflow: hidden;
        float: left; }
        .list-news .item-news .postedby-news .img-postedby img, .list-news .item-news .postedby-news .entry_author_image img {
          width: 100%; }
      .list-news .item-news .postedby-news .info-postedby {
        float: left;
        padding: 10px;
        font-weight: bold; }
        .list-news .item-news .postedby-news .info-postedby span.name-post {
          color: #1e74b9; }
    .list-news .item-news .story {
      font-size: 18px;
      color: #666; }
      .list-news .item-news .story .blog-title {
        color: #1e74b9;
        font-weight: 500;
        line-height: 1.2em;
        font-size: 24px;
        margin: 15px 0; }
        .list-news .item-news .story .blog-title a {
          color: #1e74b9;
          text-decoration: none; }
  .list-news .blog-date {
    display: none; }

.news-content {
  font-family: "Lato";
  font-weight: 100;
  overflow: hidden;
  background-color: #f8fbfd;
  color: #666; }

.container2 {
  margin: 0 auto;
  max-width: 90%;
  height: auto; }
  @media screen and (max-width: 767px) {
    .container2 {
      margin: 0 auto !important;
      max-width: 100%; } }

.sidebar-news {
  padding: 30px 0; }
  .sidebar-news .search-box input {
    border: 2px solid #079fed;
    width: 100%;
    border-radius: 5px;
    padding: 3px 20px 5px;
    text-transform: uppercase;
    color: #079fed; }
    .sidebar-news .search-box input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #079fed; }
    .sidebar-news .search-box input::-moz-placeholder {
      /* Firefox 19+ */
      color: #079fed; }
    .sidebar-news .search-box input:-ms-input-placeholder {
      /* IE 10+ */
      color: #079fed; }
    .sidebar-news .search-box input:-moz-placeholder {
      /* Firefox 18- */
      color: #079fed; }

.widget-box, .widget {
  margin: 20px 0;
  border: 1px solid #dbecf2;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }
  .widget-box .inner-widget, .widget .inner-widget {
    padding: 15px; }
  .widget-box .head-box, .widget-box .panel-heading, .widget .head-box, .widget .panel-heading {
    color: #ffffff;
    background: #079fed !important;
    padding: 10px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }
    .widget-box .head-box h3, .widget-box .panel-heading h3, .widget .head-box h3, .widget .panel-heading h3 {
      color: #fff !important;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 18px; }
  .widget-box h5, .widget h5 {
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px; }
  .widget-box p, .widget p {
    font-size: 14px; }
  .widget-box ul li.rpwe-li h3.rpwe-title, .widget ul li.rpwe-li h3.rpwe-title {
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
    font-size: 14px;
    color: #555; }
    .widget-box ul li.rpwe-li h3.rpwe-title a, .widget ul li.rpwe-li h3.rpwe-title a {
      color: #555; }

#archives-2 .panel-body ul {
  padding: 0;
  margin: 0; }
  #archives-2 .panel-body ul li {
    list-style: none;
    font-size: 13px; }
    #archives-2 .panel-body ul li a {
      padding-left: 12px;
      color: #079fed;
      text-transform: uppercase;
      text-decoration: none; }
    #archives-2 .panel-body ul li:before {
      content: '○';
      font-size: 28px;
      color: #ccc;
      float: left; }
    #archives-2 .panel-body ul li:hover {
      padding-left: 0; }
    #archives-2 .panel-body ul li:hover::before {
      content: '•';
      font-size: 40px;
      color: #079fed; }

body.category, body.single, body.blog {
  font-family: "Lato";
  font-weight: 100;
  background-color: #f8fbfd;
  color: #666; }

.news-content .story .blog-title {
  color: #1e74b9;
  font-weight: 500;
  line-height: 1.2em;
  font-size: 24px;
  margin: 15px 0;
  font-family: 'Lato', sans-serif; }
  .news-content .story .blog-title a {
    color: #1e74b9;
    text-decoration: none; }
.news-content .headline {
  border: 0;
  margin: 20px 0; }
  .news-content .headline h1 {
    border: 0;
    color: #1e74b9;
    font-family: 'Lato', sans-serif; }
.news-content .hero-image img {
  width: 100%; }
.news-content .story dt {
  padding-top: 40px; }

/*# sourceMappingURL=news.css.map */

.news-content .featured-news .story dt {
    padding-top: 0px;
}