	  
	  
<div id="footer"><div id="footer-inner" class="region region-footer">  

  <div class="content">
    <div class="logos" style="padding-right: 50px;"><img src="/themes/images/footer-logos.gif" alt="" title="" width="592" height="45" usemap="#MapPayments" border="0" /></div>
<map name="MapPayments" id="MapPayments">

	<!--<area shape="rect" coords="0,0,46,45" href="javascript:void(0);" onclick="open_banking();" />-->
	<area shape="rect" coords="54,0,108,45" href="/"  />
	<area shape="rect" coords="121,0,202,45" href="/" /> 
	<area shape="rect" coords="209,0,253,45" href="http://www.gamblersanonymous.org/" target="_blank" rel="nofollow" alt="Gamblers Anonymous" />
	<area shape="rect" coords="257,0,325,45" href="http://www.moneybookers.com/app/" target="_blank" alt="Money Bookers" />
	<!--<area shape="rect" coords="332,0,422,45" href="" /> over18only-->
	<area shape="rect" coords="428,0,473,45" href="http://www.antiguagaming.gov.ag/SealValidator.asp?ID=2282020410" rel="nofollow" target="_blank" alt="E-GAMING Operator License" />
	<area shape="rect" coords="480,0,616,45" href="http://www.tstglobal.com/" target="_blank" rel="nofollow" alt="Technical Systems Testing" />
</map>  </div>
<div id="box-shd"></div>
<div id="block-menu-menu-footer-links" class="block block-menu region-even odd region-count-2 count-7"><div class="block-inner">

  <div class="content">
    <ul class="menu"><li class="leaf first active-trail"><a href="/" title="Horse Racing" class="active">Horse Racing</a></li>
<li class="leaf"><a href="/otb" title="Offtrack Betting">Offtrack Betting</a></li>
<li class="leaf"><a href="/advancedepositwagering" title="Advance Deposit Wagering">Advance Deposit Wagering</a></li>

<li class="leaf"><a href="/responsibilities" title="Responsible Gaming">Responsible Gaming</a></li>
<li class="leaf last"><a href="/" title="Online Horse Racing" class="active">Online Horse Racing</a></li>
</ul>  </div></div></div>
  <div id="box-shd"></div>
</div></div>


</div>


</div>
  <div id="copyright-region" class="clearfix">
  <div class="copyright">
    <div>Copyright 2010 All Horse Racing - This website is owned by Domain Holdings Limited.</div>
    <div class="logo2"><img src="/themes/images/ahr-logo2.png" alt="All Horse Racing" title="" width="110" height="33" /></div>
  </div>

</div>
</body>

</html>