/*CONTAINER, HEADER AND FOOTER*/


@charset "utf-8";
/* CSS Document */

/*body {
	font: 100% Helvetica, Arial, Verdana, sans-serif;
	background-image:url(http://www.otbpicks.net/themes/images/gradient-bg.gif);
	background-repeat:repeat-x;
	background-color:#4e5766;
	vertical-align:top;
	margin: 0;  
	padding: 0;
	text-align: center; 
}*/
body { 
	background: #e2f0ff url('http://www.otbpicks.net/themes/images/gradient-bg.gif') repeat-x scroll 0 0;
	padding: 0;
	text-align: center;
	font-size: 12px;
	margin:0;
	font-family:  Helvetica, Arial, sans-serif;
	}
 
a:link, a:visited, a:active, a:focus  { font: Helvetica, Arial, Verdana, sans-serif; color:#1b579f; text-decoration:none; }
a:active, a:focus  { border:0; }
a:hover { color: #1b579f; text-decoration: underline; }


.oneColFixCtrHdr { width:1010px; margin:0 auto; }

.oneColFixCtrHdr #top-menu { position: relative; display: block; width: auto; height: 20px; line-height: 20px; padding: 2px 10px 2px 0; float: right; text-align: right; margin:0 auto; }
.oneColFixCtrHdr #top-menu ul, .oneColFixCtrHdr #top-menu li { display: inline; text-decoration: none; }
.oneColFixCtrHdr #top-menu li { list-style: none; font-size: 10px; border-right: 1px solid #76aae8; margin: 0px; }
.oneColFixCtrHdr #top-menu li.last { border: 0px; }
.oneColFixCtrHdr #top-menu li a { color: #FFF; font-weight: bold; }




.oneColFixCtrHdr #container {
	clear:both;
	width: 1010px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background-color:#ffffff; 
	margin: 0 auto 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
	padding:0;
}
.oneColFixCtrHdr #header {
	width:1010px;
	background: #2e6fb1; height:112px; 
	background: #fff url('http://www.otbpicks.net/themes/images/header-pool.jpg') top right no-repeat;
	margin:0;
	
}

/*.oneColFixCtrHdr #footballplaceholder {	
   height:112px; width:auto; margin-left:20px; background:url('http://www.otbpicks.net/themes/images/ahr-logo.gif'); background-repeat:no-repeat; background-position: 0 24px;
	
}*/
.oneColFixCtrHdr #header-logo {	
  width:auto; margin:0 0 0 20px; /*background:url('http://www.otbpicks.net/themes/images/ahr-logo.gif'); background-repeat:no-repeat; background-position: 0 24px; */
}
.oneColFixCtrHdr #header-logo img {	
   width:auto; padding-top:24px;
}
.oneColFixCtrHdr #Username {
	width:auto;
	font-size:14px;
	font-weight:bold;
	color:#999;
	text-align:right;
	padding: 60px 40px 0  10px;
	
	
}
.oneColFixCtrHdr #headerMenu {
	width:100%;
	background:url('http://www.otbpicks.net/themes/images/blockbg.gif') repeat-x;
	padding:0;
        height:38px;
	margin: 0 auto 10px 0; /* the auto margins (in conjunction with a width) center the page */
	
}

.menutextstyle { font-family: Helvetica, Arial, Verdana, sans-serif;  font-size:12px; font-weight:bold; color:#233462; text-align:center; overflow:hidden; margin:0 auto; width:auto; height:38px; }
.menutextstyle td { padding:0; line-height:38px; visibility:hidden; white-space:pre; }

.menutextstyle a:link, .menutextstyle a:visited { display: block; background: url('http://www.otbpicks.net/themes/images/listsep.gif') top right no-repeat; visibility:visible; font-family: Helvetica, Arial, Verdana, sans-serif; font-size:12px; font-weight:bold; text-align: center; color:#FFF; margin:0; text-decoration:none; height: 38px; padding: 0 25px; }

.menutextstyle a:active, .menutextstyle a:focus  { font-family: Helvetica, Arial, Verdana, sans-serif;  font-size:12px; font-weight:bold; color:#FFF;}
.menutextstyle a:hover{ font-family: Helvetica, Arial, Verdana, sans-serif;  font-size:12px; font-weight:bold; color:#FFF; cursor:pointer; background: url('http://www.otbpicks.net/themes/images/blockactive.gif') top right no-repeat;}
.menutextstyleLinks {/*not defined yet*/}
.menu {
	float:left;
	width:auto;
}
	
.oneColFixCtrHdr #bottomImagecontent {

	width:1010px;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	background: #DDD; 
	height:15px;
	background-image:url(http://www.otbpicks.net/images/content-bottom.jpg);
	background-repeat:no-repeat;
}


.oneColFixCtrHdr #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}
.oneColFixCtrHdr #mainContent {
	padding:0; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	background: #fff url('http://www.otbpicks.net/images/content-background.jpg');
	background-repeat:repeat-y;
	min-height:155px;
}




/*---------------NOTICE FOOTER SECTION----------------*/

.bottomNoticeTop {
	background:url(http://www.otbpicks.net/images/notice-footer-img-top.jpg) no-repeat;
	height:10px;
}
.bottomNoticeContent2 {
	background-image:url(http://www.otbpicks.net/images/notice-footer-background2.jpg);
	background-position:top;
	background-repeat:repeat;
	background-color:#242529;
}
.bottomNoticeContent {
	background:url(http://www.otbpicks.net/images/notice-footer-background.jpg);
	background-position:top;
	background-repeat:no-repeat;
}
.bottomNoticeContentText {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	vertical-align:top;
	color:#FFF;
	padding-left:40px;
	padding-right:40px;
	width: 480px;
}

.bottomNoticeTitle{color:#2f456e;font-family:  Helvetica, Arial, sans-serif; font-weight:bold}

.bottomNoticeBottom {
	background:url(http://www.otbpicks.net/images/notice-footer-img-bottom.jpg) no-repeat;
	height:7px;



}

/*---------------SUBMIT BUTTON----------------*/
.submitLink {
	padding-top:10px;
}
	
/*END  CONTAINER, HEADER AND FOOTER*/


/*SECTIONS*/


/*TEAMS*/


#cardslog{ background:url(http://www.otbpicks.net/images/Cardinals.png) no-repeat center; text-align:right; }
#falconslog{ background:url(http://www.otbpicks.net/images/Falcons.png) no-repeat center; text-align:right;}
#ravenslog{ background:url(http://www.otbpicks.net/images/Ravens.png) no-repeat center; text-align:right;}
#billsslog{ background:url(http://www.otbpicks.net/images/Bills.png) no-repeat center; text-align:right;}
#panthersslog{ background:url(http://www.otbpicks.net/images/Panthers.png) no-repeat center; text-align:right;}
#bearsslog{ background:url(http://www.otbpicks.net/images/Bears.png) no-repeat center; text-align:right;}
#bengalsslog{ background:url(http://www.otbpicks.net/images/Bengals.png) no-repeat center; text-align:right;}
#brownsslog{ background:url(http://www.otbpicks.net/images/Browns.png) no-repeat center; text-align:right;}
#cowboysslog{ background:url(http://www.otbpicks.net/images/Cowboys.png) no-repeat center; text-align:right;}
#broncoslog{ background:url(http://www.otbpicks.net/images/Broncos.png) no-repeat center; text-align:right;}
#lionslog{ background:url(http://www.otbpicks.net/images/Lions.png) no-repeat center; text-align:right;}
#packerslog{ background:url(http://www.otbpicks.net/images/Packers.png) no-repeat center; text-align:right;}
#texanslog{ background:url(http://www.otbpicks.net/images/Texans.png) no-repeat center; text-align:right;}
#coltslog{ background:url(http://www.otbpicks.net/images/Colts.png) no-repeat center; text-align:right;}
#jaguarslog{ background:url(http://www.otbpicks.net/images/Jaguars.png) no-repeat center; text-align:right;}
#chiefslog{ background:url(http://www.otbpicks.net/images/Chiefs.png) no-repeat center; text-align:right;}
#dolphinslog{ background:url(http://www.otbpicks.net/images/Dolphins.png) no-repeat center; text-align:right;}
#vikingslog{ background:url(http://www.otbpicks.net/images/Vikings.png) no-repeat center; text-align:right;}
#patriotslog{ background:url(http://www.otbpicks.net/images/Patriots.png) no-repeat center; text-align:right;}
#saintslog{ background:url(http://www.otbpicks.net/images/Saints.png) no-repeat center; text-align:right;}
#giantslog{ background:url(http://www.otbpicks.net/images/Giants.png) no-repeat center; text-align:right;}
#jetslog{ background:url(http://www.otbpicks.net/images/Jets.png) no-repeat center; text-align:right;}
#raiderslog{ background:url(http://www.otbpicks.net/images/Raiders.png) no-repeat center; text-align:right;}
#eaglesslog{ background:url(http://www.otbpicks.net/images/Eagles.png) no-repeat center; text-align:right;}
#steelersslog{ background:url(http://www.otbpicks.net/images/Steelers.png) no-repeat center; text-align:right;}
#chargersslog{ background:url(http://www.otbpicks.net/images/Chargers.png) no-repeat center; text-align:right;}
#ninersslog{ background:url(http://www.otbpicks.net/images/49ers.png) no-repeat center; text-align:right;}
#hawksslog{ background:url(http://www.otbpicks.net/images/Hawks.png) no-repeat center; text-align:right;}
#ramslog{ background:url(http://www.otbpicks.net/images/Rams.png) no-repeat center; text-align:right;}
#buckslog{ background:url(http://www.otbpicks.net/images/Bucks.png) no-repeat center; text-align:right;}
#titanslog{ background:url(http://www.otbpicks.net/images/Titans.png) no-repeat center; text-align:right;}
#redsslog{ background:url(http://www.otbpicks.net/images/Reds.png) no-repeat center; text-align:right;}

/*END TEAMS*/





/*Picks and standings page*/

.welcomenickname{ margin:0 auto 30px auto; font-size:14px; font-weight:bold; color:#000000; text-align:left; width:940px; background:transparent url('http://www.otbpicks.net/themes/images/genericicon.gif') no-repeat scroll left 1px; border-bottom:1px solid #AAD3FF; line-height:22px; padding:0 0 4px 35px; }
.welcometext {/*not defined yet*/ }	
#wnickname{margin:auto; font-size:14px;	font-weight:bold; 	color:#000000; padding:10px; text-align:left} 

#standingspickscontainer{width:715px; margin:auto}
#standingspicksDivscroll{width:485px; height:auto; overflow-x: auto; overflow-y:hidden; margin:auto; padding:1px 0 20px 0;}
#tableStanding{ background-color:#4d5665; padding:0; margin: 0 auto 10px auto; font-family:  Helvetica, Arial, sans-serif; font-size:12px; text-align:center; color:#233462; border:#898b8a solid 1px; width:715px; height:auto;}
#tableStandingNickname{ width:230px; background-color:#4d5665; padding:0; margin:auto; font-family:  Helvetica, Arial, sans-serif; font-size:12px; text-align:center; color:#233462; border:#898b8a solid 1px; margin:1px 0 20px 0 }
#tableStandingWeeks{ background-color:#4d5665; padding:0; margin:auto; font-family:  Helvetica, Arial, sans-serif; font-size:12px; text-align:center; color:#233462; border-bottom:#898b8a solid 1px; border-right:#898b8a solid 1px; border-top:#898b8a solid 1px; width:800px;}


.tabletitle{ background-color:#105ca9; color:#FFF; font-weight:bold; font-size:12px; font-family:  Helvetica, Arial, sans-serif; text-align:left; padding:10px; height:15px; width:auto; margin:0 auto }
.tabletitleText {/*not defined yet*/}
.table{ background-color:#4d5665; padding:0; margin:auto; font-family:  Helvetica, Arial, sans-serif; font-size:12px; text-align:center; color:#233462; border:#898b8a solid 1px; width:715px; }
td.tabletitle { padding-bottom:5px; vertical-align: top; }

.tablelist{background-color:#9a9ea9; color:#233462; text-align:center; font-family:  Helvetica, Arial, sans-serif; font-size:12px; font-weight:bold;border-top:solid #898b8a 1px; border-left:solid #898b8a 1px; width:60px; padding:2px; }

.ranknumber{color:#FFF; font-family:  Helvetica, Arial, sans-serif; font-size:12px; text-align:center; border-top:solid #898b8a 1px; border-left:solid #898b8a 1px; padding:1px}
.slot{color:#FFF; font-family:  Helvetica, Arial, sans-serif; font-size:12px; text-align:center; border-top:solid #898b8a 1px; border-left:solid #898b8a 1px;}

.nickname{font-family:  Helvetica, Arial, sans-serif; color:#FFF; border-top:solid #898b8a 1px; border-left:solid #898b8a 1px; padding:1px}
.goodpick{font-family:  Helvetica, Arial, sans-serif; color:#0F0; border-top:solid #898b8a 1px; border-left:solid #898b8a 1px; padding:1px}
.badpick{font-family:  Helvetica, Arial, sans-serif; color:#F00; border-top:solid #898b8a 1px; border-left:solid #898b8a 1px; padding:1px}
.nopick{font-family:  Helvetica, Arial, sans-serif; color:#FFF; border-top:solid #898b8a 1px; border-left:solid #898b8a 1px; padding:1px}
.weeks{ float:right;}


.playersbox{ background:#000;color:#FFF;font-family:  Helvetica, Arial, sans-serif;width:259px; font-size:9px; margin-top:10px; text-align:left;  background:url(http://www.otbpicks.net/images/survivor-stats.png); background-repeat:no-repeat; height:25px; float:left;  }
#players{font-family:  Helvetica, Arial, sans-serif; color:#000000;font-size:9px;}
#survivors{font-family:  Helvetica, Arial, sans-serif; color:#000000;font-size:9px;}
#eliminated{font-family:  Helvetica, Arial, sans-serif; color:#000000;font-size:9px;}


.note{ width:450px; color:#000000; font-family:  Helvetica, Arial, sans-serif; font-size:10px; padding-left:3px }
.yellowbold{color:#c19a35;font-family:  Helvetica, Arial, sans-serif; font-weight:bold; padding-right: 5px;}
.rankpages{color:#233462;font-family:  Helvetica, Arial, sans-serif; font-size:14px; font-weight:bold; text-align:center; margin-top:10px}



.nextbutton a:link {color:#233462; text-decoration:none;}
.nextbutton a:visited {color:#233462; text-decoration:none}
.nextbutton { background:url(http://www.otbpicks.net/images/arrownext.png) no-repeat; background-position:left; font-family:  Helvetica, Arial, sans-serif; font-size:12px; font-weight:bold; color:#233462; text-align:center; width:115px; height:27px;border:none; padding-left:25px }


.backbutton a:link {color:#233462; text-decoration:none;}
.backbutton a:visited {color:#233462; text-decoration:none}
.backbutton { background:url(http://www.otbpicks.net/images/arrowback.png) no-repeat; background-position:right; font-family:  Helvetica, Arial, sans-serif; font-size:12px; font-weight:bold; color:#233462; text-align:center; width:115px; height:27px;border:none; padding-right:25px }


/*End Picks and standings page*/




/*Statistics Page*/
#statscontainer{width:715px; margin:auto}
.weektitle{ background-color:#c09b31; color:#36425c;font-family:  Helvetica, Arial, sans-serif; font-size:14px; padding-left:10px; font-weight:bold; height:20px; text-align:left }

.teamstitle{ font-family:  Helvetica, Arial, sans-serif;background-color:#9a9ea9; color:#233462; font-weight:bold; font-size:12px; font-family:  Helvetica, Arial, sans-serif; text-align:left; padding:5px; height:15px; text-align:center }
.teamname{font-family:  Helvetica, Arial, sans-serif; color:#233462; text-align:left; height:22px;}
.percentagebar{font-family:  Helvetica, Arial, sans-serif; color:#233462;  text-align:left; height:22px; }
.tablesstyle{border-top:solid #898b8a 1px; font-family:  Helvetica, Arial, sans-serif; color:#b9c2cb; text-align:left; height:22px;padding-left:5px}
.tablesstyleline{border-top:solid #898b8a 1px; border-left:solid #898b8a 1px; font-family:  Helvetica, Arial, sans-serif; color:#233462; text-align:left; height:22px; width:110px; padding-right:5px}
.tablestatistics{ background-color:#3f4343; padding:0; margin:auto; font-family:  Helvetica, Arial, sans-serif; font-size:12px; text-align:center; color:#ffb537; border:#898b8a solid 1px; width:800px; }

/*End Stats page*/


/*Available teams popup*/

#availablecontainer{width:450px; margin:auto}
.availabletable{width: 450px; height:28px; background-color:#9a9ea9; padding:0; margin:auto; font-family:  Helvetica, Arial, sans-serif; font-size:12px; text-align:center; color:#233462; border:#898b8a solid 1px;}
.playernick{font-family:  Helvetica, Arial, sans-serif; font-size:12px; text-align:center; color:#FFF;}
#availableteamsclose{font-family:  Helvetica, Arial, sans-serif; font-size:10px;background-color:#c39a30; color:#4b6073; font-weight:bold;  font-family:  Helvetica, Arial, sans-serif; text-align:left; padding:5px; height:15px; text-align:center}
#availableteamstitle{font-family:  Helvetica, Arial, sans-serif; background-color:#c39a30; color:#4b6073; font-weight:bold; font-size:12px; font-family:  Helvetica, Arial, sans-serif; text-align:left; padding:5px; height:15px; text-align:left}


/*END Available teams popup*/

/*Schedule*/

#schedulecontainer{width:840px; margin:auto; background-color:#bcbcba; position:relative; text-align:center }
.tablescontainer{ margin:auto; background-color:#9a9ea9; position:relative; float:left; padding:10px; min-height:400px; height:auto; width:370px; float:left }
.datetitle{ background-color:#c39a30; height:20px; color:#233462; font-family:  Helvetica, Arial, sans-serif; font-size:12px; text-align:center;  border: solid #bcbcba 1px;}
.date{ background-color:#4d5665; width:148px; height:44px; border: solid #bcbcba 1px; color:#FFF; font-family:  Helvetica, Arial, sans-serif; font-size:10px}
.teams{ background-color:#4d5665; width:207px; height:44px; border: solid #bcbcba 1px; color:#FFF; font-family:  Helvetica, Arial, sans-serif; font-size:10px;  }
.teamstd{ height:44px; }
#close{font-family:  Helvetica, Arial, sans-serif; font-size:10px; color:#000; text-align:right; margin-right:10px; font-weight:bold }

#warning{ font-family:  Helvetica, Arial, sans-serif; font-size:10px; color:#FFF; background-color:#15191a; text-align:left; padding-left:15px; width:541px; margin-left:25px}


/* END Schedule*/




/*Submit picks page*/
#submitpickscontainer{width:556px; margin:auto; padding:0px; text-align:center}

.pickstable { clear:both; width:570px; background-color:#105ca9; padding:5px; margin:auto; font-family:  Helvetica, Arial, sans-serif; font-size:12px; text-align:center; color:#233462; }
.pick{ border-left:#898b8a solid 1px; border-top:#898b8a solid 1px; width:40px;font-family:  Helvetica, Arial, sans-serif; font-size:10px; color:#FFF }
.slotmenu{width:552px; text-align:left}
.wagerbuy{ float:right;}
.submitpick{  width:556px; padding:0; text-align:center; margin:auto; padding-top:15px }
.submitpick a:link {color: #FFF; text-decoration:none}
.submitpick a:visited {color: #FFF; text-decoration:none}
#submitpickswarning{width:556px;font-family:  Helvetica, Arial, sans-serif; font-size:10px;; color:#FFF; text-align:left; padding-left:15px; padding:0; margin:auto; }

#buttons{padding:0; margin:auto;width:556px; padding-top:5px; padding-bottom:0px }

.buttonsTabs { background-image:url(http://www.otbpicks.net/themes/images/tabs-bg.gif); background-repeat:repeat-x; height:20px; width:160px; padding:0; line-height: 20px; display:inline-block; float:left; text-align:center; border:1px solid #1b579f; border-bottom: 0; margin-right: 2px; cursor:pointer;}
.buttonsTabs:hover { background-image:none; background-color:#105ca9; padding:0; border:1px solid #1b579f; border-bottom: 0;  cursor:pointer;}

.buttonsLinks {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#1b579f; text-decoration:none;}
.buttonsLinks a:link, .buttonsLinks a:visited { font-size: 11px; text-transform: uppercase; color:#1b579f; text-decoration:none; display:block; }
.buttonsLinks a:hover {color:#FFF; text-decoration:none;}
.buttonsLinks a:active {color:#FFF; text-decoration:none;}

.teamcodetext{ font-family:  Helvetica, Arial, sans-serif; font-size:10px; color:#FFF;  width:570px; text-align:left}
.successContainer{ margin:auto; text-align:left;font-family:  Helvetica, Arial, sans-serif; font-size:12px; color:#FFF;  width:550px; padding-top:8px}

/*END Submit picks page*/






/*Purchase Entry and Successfull transaction*/

#entrycontainer{ width:361px;  background:#bcbcbb;  margin:auto; text-align:center; padding-top:10px; margin-top:10px; min-height:100px  }
#entryclose{font-family:  Helvetica, Arial, sans-serif; font-size:10px; color:#474745; text-align:right; margin-right:10px; font-weight:bold }
#entrygraybox{width:345px;  background:#474745; text-align:center; margin:auto; margin-top:10px;font-family:  Helvetica, Arial, sans-serif; font-size:10px; color:#FFF; min-height:80px}
#confirmbox{ width:361px; text-align:center; padding-top:5px; position:relative; margin:0 auto; text-align:center; background:#FFF; padding-bottom:5px; border-top:10px solid #bcbcbb; }
.entrynote{font-family:  Helvetica, Arial, sans-serif; font-size:10px; color:#FFF;width:345px; padding-top:5px; text-align:left; margin-left:5px;}
.boxestext{font-family:  Helvetica, Arial, sans-serif; font-size:10px; font-weight:bold; color:#c39a30; width:200px; padding-bottom:5px; margin:auto;}


.buyingbutton a:link {color:#FFF; text-decoration:none;}
.buyingbutton a:visited {color:#FFF; text-decoration:none}
.submitbutton{ background:url(http://www.otbpicks.net/images/submit-button.png) no-repeat; background-position:center; font-family:  Helvetica, Arial, sans-serif; font-size:12px; font-weight:bold; color:#FFF; text-align:center; width:115px; height:27px;border:none; margin-bottom:5px }
.continuebutton{ background:url(http://www.otbpicks.net/images/continue-button.png) no-repeat; background-position:center; font-family:  Helvetica, Arial, sans-serif; font-size:12px; font-weight:bold; color:#FFF; text-align:center; width:180px; height:27px;border:none }

.buyingtable{ background-color:#999; border:thin #FFF; border:solid 1px ; text-align:center; width:200px; margin:auto  }
.odd{background-color:#666; border:thin #FFF; border:solid 1px ; text-align:center; width:200px;}
.prices{ background-color:#5c7593; color:#FFF; font-family:  Helvetica, Arial, sans-serif; text-align:center; font-weight:bold}

/*succsesfull transaction*/
#sucessgraybox{width:345px; background:#474745; text-align:center; margin:auto; margin-top:10px; font-family:  Helvetica, Arial, sans-serif; font-size:10px; color:#FFF}
#sucessTransaction{width:361px;  background:#bcbcbb;  margin:auto; text-align:center; padding-top:10px; margin-top:30px}
.sucesstable{ background-color:#999; border:thin #FFF; border:solid 1px ; text-align:center; width:250px; border-spacing:3px; margin:auto  }
.sucessnote{font-family:  Helvetica, Arial, sans-serif; font-size:12px; color:#FFF;width:345px; padding-top:5px; text-align:left; margin-left:5px;}
/*END succsesfull transaction*/


/*END Purchase Entry page*/


/*Terms and Conditions*/
#termsbackground{  padding:0px; margin:auto}
#description{ padding:10px 54px; color:#000000; font-family:  Helvetica, Arial, sans-serif; font-size:12px;}
#description a { padding:0 5px; font-size:12px; font-family:  Helvetica, Arial, sans-serif; }
#description a#up { padding:0; text-decoration:none; }
.descriptiontitle{ color:#334575; font-family:  Helvetica, Arial, sans-serif; font-size:18px; font-weight:bold}

.tcNextButton{font-family:  Helvetica, Arial, sans-serif; font-weight:bold; text-align:right; color:#482f17}
.tcNextButton a:link {color:#334575; text-decoration:none;}
.tcNextButton a:visited {color:#334575; text-decoration:none}
.tcNextButton a:hover {color:#FFF; text-decoration:none}

/* END Terms*/

/*Login Box*/
#login{ width:240px;  margin-top:195px; text-align:center; margin:0 auto }
#loginbox{ background:#fff url('http://www.otbpicks.net/themes/images/loginbox-bg2.gif') top left repeat-x; width:228px; height:130px; font-family:  Helvetica, Arial, sans-serif; font-size:12px; text-align:center; padding:10px; border:#1b579f 1px solid; }
#logintitle{color:#000; font-family:  Helvetica, Arial, sans-serif; font-weight:bold; font-size:12px; height:10px; padding-bottom:10px; }
#username{color:#737373;font-family:  Helvetica, Arial, sans-serif; font-weight:normal; font-size:10px; padding:0 0 0 5px; text-transform:uppercase;}
#password{color:#737373;font-family:  Helvetica, Arial, sans-serif; font-weight:normal; font-size:10px; padding:0 0 0 5px; text-transform: uppercase; }
#submitlogin{color:#FFF;font-family:  Helvetica, Arial, sans-serif; font-weight:bold; font-size:12px;}


.submitbutton a:link {color:#FFF; text-decoration:none;}
.submitbutton a:visited {color:#FFF; text-decoration:none}
.submitbutton{display: block;  margin: 5px auto 0 auto; font-size: 12px; text-transform: uppercase; font-weight: bold; color: #1b579f; background: url('http://www.otbpicks.net/themes/images/button-arrow-default.gif') top left no-repeat; border: none; padding:1px 9px 0 18px; height:15px; width:80px; }
td.submitbutton { text-align: center; width:100%; }
.submitbutton:hover { display: block; text-decoration:underline; background: url('http://www.otbpicks.net/themes/images/button-arrow-hover.gif') top left no-repeat; cursor:pointer; }


/*submitbutton is set for submit picks page and login form*/


/*END Login Box*/

/*WARNINGS AND ALERTS*/

.alert{ width:530px; font-family:  Helvetica, Arial, sans-serif; text-align:center; padding:20px; margin:30px auto 30px auto; min-height:15px; color:#ffb537; font-weight:bold; font-size:12px; background: #ffefef; border: 1px solid #9e1b1b; }
.warning { width:530px; font-family:  Helvetica, Arial, sans-serif; text-align:center; padding:20px; margin:30px auto 30px auto; min-height:15px; color:#ffb537; font-weight:bold; font-size:12px; background: #e5f2ff; border: 1px solid #1b579f;  }
.warningText {font-family:  Helvetica, Arial, sans-serif; color:#000000; font-size: 12px; }
.alertText {font-family:  Helvetica, Arial, sans-serif; color:#000000; font-size: 12px; }
/*END WARNINGS AND ALERTS*/


/*END SECTIONS*/

/*Our CSS */
.clearfix:after{content:".";display:block;font-size:0;height:0;clear:both;visibility:hidden}

.clearfix{display:block}
#copyright-region { margin: 5px auto; padding-top:5px; width: 1010px; }
  /*=== FOOTER ===============================================================================*/
  #footer { clear: both; padding: 48px 0 0 0; height: 77px; background: #FFF; color: #000; bottom:0; /* stick to bottom */ font-weight: normal; color: #212121; font: 12px "Helvetica", Arial, Trebuchet MS, Trebuchet, sans-serif;}
  #footer .logos { padding: 0 0 0 184px; }
  #block-menu-menu-footer-links { clear: both; height: 32px; width: 100%; text-align: center; background: #fff url('http://www.otbpicks.net/themes/images/footer-bartile.gif') repeat-x; border:0;  }
  #block-menu-menu-footer-links ul { display: inline; float: none; width:auto; height: 32px; list-style: none; text-align: center; margin: 0 auto; }
  #block-menu-menu-footer-links li { display: inline; line-height: 32px; }
  #block-menu-menu-footer-links li a { color: white; padding: 0 15px; /*padding of tabs*/ text-decoration: none; }
  #block-menu-menu-footer-links li a.current { color: white; }
  #block-menu-menu-footer-links li a:visited { color: #FFF; }
  #block-menu-menu-footer-links li a:hover { color: #FFF; text-decoration: underline; }
  
  #footer #box-shd { display: none; } /* Hides duplicate block shadow */
  
    
  /*-------------------------------------------------------------------------*/

/*======================== FOOTER COPYRIGHT =====================================================================*/
  .copyright { float: left; display: block; height: 50px; color: #1a1a1a;text-align: center;  font-weight: normal; color: #212121; font: 12px "Helvetica", Arial, Trebuchet MS, Trebuchet, sans-serif; line-height: 16px; vertical-align: baseline;}
  .copyright .logo2 { display: block; margin: -20px 0 0 850px; }




