<div id="main" class="container">
<div class="row">
<div id="left-col" class="col-md-9">


<div class="content">
<p><img class="img-responsive" src="https://www.usracing.com/img/promos/kentucky-derby-reload-bonus.jpg" alt="Kentucky Derby Reload Bonus Offer"></p>

<!-- --------------------- CONTENT starts here --------------------------------------------------- -->

{include file='/home/ah/allhorse/public_html/shared/promos/kentucky-derby-reload.php'} 
<br>
<br>
<p align="center"><a href="/login?ref=kentucky-derby-reload" class="btn-xlrg ">I Want my 10% Reload Ronus</a></p><br>

<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->







<div id="right-col" class="col-md-3">
<!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- -->

{include file='inc/rightcol-calltoaction.tpl'} 


{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 


<!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- -->
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- end/container -->
