<div id="main" class="container">
<div class="row">
<div id="left-col" class="col-md-9">

          



<div class="content">
<!-- --------------------- CONTENT starts here --------------------------------------------------- -->

{include file='/home/ah/allhorse/public_html/shared/promos/super-saturday-10.php'} 

<p align="center"><a href="/join?ref=super-saturday-10" class="btn-xlrg ">Get My Bonus Now</a></p><br>

<!-- ------------------------ CONTENT ends ------------------------------------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->







<div id="right-col" class="col-md-3">
<!-- ---------------- RIGHT COLUMN CONTENT starts here ------------------------------------------- -->

{include file='inc/rightcol-calltoaction.tpl'} 


{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 


<!-- ---------------- end RIGHT COLUMN CONTENT --------------------------------------------------- -->
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- end/container -->
