
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
		<td valign="top">
Animal Kingdom<br>Mucho Macho Man<br>Dialed In<br>Shackleford<br>King Congie<br>Dance City<br>Midnight Interlude<br>		</td>
<td class="right" valign="top">
5-2<br>4-1<br>9-2<br>8-1<br>12-1<br>12-1<br>14-1<br>		</td>
<td width="30"></td>
		<td valign="top">
Sway Away<br>Astrology<br>Concealed Identity<br>Flashpoint<br>Isnt He Perfect<br>Mr Commons<br>Norman Asbjornson<br>		</td>
<td class="right" valign="top">
14-1<br>14-1<br>18-1<br>20-1<br>25-1<br>25-1<br>30-1<br>		</td>

</tr>
</table>
