
		{literal}<style>
		.not-front #content-box { padding: 0;}
		</style>{/literal}
		<table class="table table-condensed table-striped table-bordered"   id="infoEntries" summary="Horse Racing Graded Stakes Schedule">
			<tbody>
				<tr >
					<th valign="top"  >Date</th>
					<th  >Graded Stakes </th>
				</tr>
							</tbody>
		</table>
		