
<div class="menu-992 depth-2 first">{literal}<script language="javascript">document.write('<a '+(logged_in()?'href="/sportsbook"':'href="/horsefutures"')+' title="Bet Now!" class="futurerace">05 / 05 - <span>Kentucky Derby 2012 Props</span> - Churchill Downs</a>');</script>{/literal}</div>
			