<!--<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/home.php?#!/pages/All-Horse-Racing/162252033786671" width="465" height="343" connections="0"></fb:like-box>-->

<div class="block" style="padding:10px; width:445px; height: 321px;">
<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fhome.php%3F%23%21%2Fpages%2FAll-Horse-Racing%2F162252033786671&amp;width=405&amp;colorscheme=light&amp;connections=0&amp;stream=true&amp;header=true&amp;height=343" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:405px; height:301px;" allowTransparency="true"></iframe>
</div>
<div class="box-shd"></div>


