<div class="block">
<h2 class="title-custom">Upcoming Races</h2>
<ul class="menu upcoming">
                   <li class="first leaf"><div class="racename">Please login to your account to view all entries and results. <!--You may experience intermittent delays and/or wagering may become temporarily unavailable during that time.Currently our horse racing results and entries are unavailable, however full wagering is still online. Thank you for your patience as we upgrade the site.--></div><li></ul>
</div>