<div class="block" style="padding:10px; width:auto;">
<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FAll-Horse-Racing%2F162252033786671&amp;width=500&amp;colorscheme=light&amp;connections=0&amp;stream=true&amp;header=true&amp;height=427" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:427px;" allowTransparency="true"></iframe>
</div>

<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<fb:like-box href="http://www.facebook.com/pages/All-Horse-Racing/162252033786671" width="500" connections="0"></fb:like-box>