<div class="table-responsive">
<table class="table table-condensed table-striped table-bordered" width="100%" cellpadding="0" cellspacing="0" title="Kentucky Derby Odds" summary="Kentucky Derby Odds">
<!-- <tr>
<th> Derby Contenders</th>
<th class="right">Odds to Win</th>

</tr> -->
<tr>
	<td>Team</td>
	<td>Money</td>
	<td>Spread</td>
	<td>Total</td>
</tr>

</table>
</div>