
{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->




{include file='menus/promotions.tpl'}          
{include file='menus/help.tpl'}




<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      

      

<div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">
<!-- ======== STYLES NEEDED TO HIDE BLOCK ELEMENTS ================== -->

<!-- ============================================================== -->

<div id="block-block-91">
<div><a href="/poker"><img src="/themes/images/poker/tournament_header.jpg" alt="Online Poker Tournaments" width="473" height="79" /></a></div>
</div>




<h2 class="title">Poker Mega Millions Promotion</h1>              
<div class="content">
<!-- --------------------- content starts here ---------------------- -->



        

<p>Play in <b>The MEGA Million</b> for your chance at over 12,500 individual prizes, totaling over $1,000,000 cash.</p>

<p>Running from <b>Tuesday, April 1st</b> until <b>Thursday, April 30th</b>,  US Racing will track your total number of VIP Points earned during the month. Every time you earn the required number of points for a level,
you win a free cash reward, straight into your account.  If you clear all the levels you could win a massive $25,000 straight into your account!</p>

<p>
<b>The MEGA Million Details:</b>
<br />
<ul>
<li>Win over $25,000 Cash</li>
<li>Over $1,000,000 in Cash Prizes to be Won!</li>
<li>Over 12,500 Cash Prizes to be awarded!</li>
<li>Prizes paid in real-time</li>
</ul>
</p>

<br />

<p><a href="http://download.merge-hosting.com/brand/everybodyplays.com/everybodyplaysinstall.exe" title="Download Poker"><b>Download Poker Now!</b></a></p>


<p>Check your Player Admin on April 1st for all the details!</p>
<br />
<br />


</div>




             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      

