{*include file='inc/left-nav-btn.tpl'*}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        

<!-- ---------------------- end left menu contents ------------------- -->         
</div>      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
               

 
                                        
          
<div class="headline"><h1>Breeders' Cup Blackjack Tournament</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->

<p><a href="/signup?s=Blackjack-Tournament"><img class="img-responsive" src="/img/casino/casino-bj-tournament.jpg" alt="Breeders Cup Blackjack Tournament">  </a></p>
{* include file='/home/ah/allhorse/public_html/shared/bc-bj-tournament.php' *} 
        
{include file='/home/ah/allhorse/public_html/shared/promos/blackjack-tournament.php'} 
  <!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{include file='inc/rightcol-calltoaction.tpl'} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- end/container -->
