{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          


{include file='menus/promotions.tpl'}
{include file='menus/help.tpl'}


          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
            
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">




    		
    		
            

<div class="promos-title"><h2>TRIPLE FEATURE BLACKJACK TOURNAMENT</h2></div>
<div id="promos-content">    
			<div class="promos-box">			
			<div class="icon"><img src="/themes/images/promo-blackjack-triple.gif" /></div>
			<div class="header">$2500 Triple Feature Blackjack Tournament</div>        
			<div class="current-info">
<strong>FEBRUARY 5TH & 6TH</strong>
<br /><br />
February 5th and 6th will be a memorable day for You.
<br />
$2500.00 Triple Feature Blackjack Tournament
<br />
<br />
<strong>The Big Race</strong>
<br />
Whirlaway S. - AQUEDUCT, Ozone Park,$100,000, 3yo
<br />
<br />
<strong>The Big Game</strong>
<br />
Superbowl XLV
<br />
<br />
<strong>The Big BJ Tournament</strong>
<br />
$2500.00 prize giveaway
<br />
<br />
No enrollment necessary, just log in and play!
<br />
<a href="/casino"><strong>Play Now!</strong></a>
<br />
			</div>
          
</div>

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    