<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Case Racebook</title>
<script type="text/javascript" src="/smarty-include/js/smarty-script.js"></script>
<script type="text/javascript" src="/smarty-include/js/jquery.min.js?0"></script>
</head>
<body>
				<form action="http://racing.gamingsystem.net/racing/cgi-bin/wrt.cgi?casinoID=c7630v21" method="post">
			<input type="hidden" name= "login_fail" value="http://www.usracing.com/support/loginhelp/">
			<input type="hidden" name="service" value="http://blrweb.gamingsystem.net/RaceBook/login/">
			<input type="hidden" name="sp_casinoid" value="7630">
			<input type="hidden" name="userid" value="" />
			<input type="hidden" name="passwd" value="" />
            </form>
            {literal}
<script type="text/javascript">
					var username = rot13(Get_Cookie(rot13("UTMU")));
					var password = rot13(Get_Cookie(rot13("UTMP")));
					$('[name=userid]').val(username);
					$('[name=passwd]').val(password);
					document.forms[0].submit();
</script>

{/literal}</body>
</html>