<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Case 3</title>
<script type="text/javascript" src="/smarty-include/js/smarty-script.js"></script>
<script type="text/javascript" src="/smarty-include/js/jquery.min.js?0"></script>
</head>
<body>

			<form method="post" action="">
			<input type="hidden" name="username" value="">
			<input type="hidden" name="password" value="">
             </form>


 {literal}           
<script type="text/javascript">

			var params = parent.getplaygame();
 			var paramarray = params.split("|");
			var game0='';
			var game1='';
			var game = paramarray[2];
			if(strstr(game,'-'))
			{
				var games = explode("-",game);
				var game0 = games[0];
				var game1 = games[1];
			}
			var username = rot13(Get_Cookie(rot13("UTMU")));
			var password = rot13(Get_Cookie(rot13("UTMP")));
			$('[name=username]').val(username);
			$('[name=password]').val(password);
			$('form').attr("action", "https://casinosite.gamingsystem.net/www.usracing.com/cgi-bin/forreal.cgi?type=" + game0 + "&var=" + game1 + "&sub=0");			
			$('form').submit();
</script>
{/literal}
			
</body>
</html>