<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Case Virtual Derby</title>
<script type="text/javascript" src="/smarty-include/js/smarty-script.js"></script>
<script type="text/javascript" src="/smarty-include/js/jquery.min.js?0"></script>
</head>
<body>
			<center>
			<form name="loginform" id="loginform" action="https://ppe.gamingsystem.net/customerauthn/pl/login"   method="post">
			<input id="helpUrl" name="helpUrl" type="hidden" value="http://www.usracing.com/support/loginhelp/"/>
			<input id="cashierUrl" name="cashierUrl" type="hidden" value="https://teller.gamingsystem.net/teller-deposit/depositDisplayOptions.htm?siteID=7630&casinoid=7630"/>	
               <input type="hidden" name="login_fail" value="http://www.usracing.com/support/loginhelp/">
               <input type="hidden" name="service" value="http://lobby.sb.betsoftgaming.com/login.do"  >
               <input type="hidden" name="sp_casinoid" value="7630">
               <input type="hidden" name="lp_casinoid" value="7630">
               <input type="hidden" name="lp_siteID" value="7630">
               <input type="hidden" name="sp_siteID" value="7630">
               <input type="hidden" name="sp_game" value="">
               <input type="hidden" name="sp_game_mode" value="real">
			   	<input id="password" name="password" type="hidden"   value="">
				<input  type="hidden" id="username" name="username"  value="">
</form>
			</center>
            {literal}
<script type="text/javascript">
					var username = rot13(Get_Cookie(rot13("UTMU")));
					var password = rot13(Get_Cookie(rot13("UTMP")));
					var params = parent.getplaygame();
 					var paramarray = params.split("|");
					$('[name=sp_game]').val(paramarray[2]);
					$('[name=username]').val(username);
					$('[name=password]').val(password);
					document.forms[0].submit();
</script>

{/literal}</body>
</html>