<center>
<script type="text/javascript">
	var params = parent.getplaygame();
	var paramarray = params.split("|");
	var game = aramarray[2];
	isrc = '<iframe style="display: block; background:#000; width:780px; height: 585px; padding: 0; margin: 0 auto;" marginheight="0" marginwidth="0" allowtransparency="true" scrolling="no" frameborder="0" id="mainGame" src="https://cas.gamingsystem.net/cas-login/launch.svc?gameMode=forreal&casinoid=7630>&gameType=46&variationId='+game+'&service=http://www.usracing.com/casino/&helpUrl=http://www.usracing.com/support/gambling_problem&cashierUrl='+game+'/myaccount/"></iframe>';
	
	</script>
</center>