<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Case 99</title>
<script type="text/javascript" src="/smarty-include/js/smarty-script.js"></script>
<script type="text/javascript" src="/smarty-include/js/jquery.min.js?0"></script>
</head>
<body>
			<center>
			<form method="post" action="https://x18.gamingsystem.net/X18-login/login.do">
			<input type="hidden" name="casinoid" value="7630">
			<input type="hidden" name="game" value="vgs">
			<input type="hidden" name="help" value="http://www.usracing.com/support/casino-rules/">
			<input type="hidden" name="cashier" value="https://teller.gamingsystem.net/teller-deposit/depositDisplayOptions.htm?siteID=7630&casinoid=7630">
			<input type="hidden" name="login_fail" value="http://www.usracing.com/support/loginhelp/">
			<input type="hidden" name="on_logout" value="http://www.usracing.com/casino/">
			<input type="hidden" name="vgs.gametype" value="40-22">
			<input type="hidden" name="userid" value="">
			<input type="hidden" name="passwd" value="">
            </form>
			</center>
            {literal}
<script type="text/javascript">
					var username = rot13(Get_Cookie(rot13("UTMU")));
					var password = rot13(Get_Cookie(rot13("UTMP")));
					
					$('[name=userid]').val(username);
					$('[name=passwd]').val(password);
					document.forms[0].submit();
</script>

{/literal}</body>
</html>