
      
      
            
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>Join - Open an account and begin betting in 5 minutes!</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<!-- <div style="border:1px solid #1B579F; padding: 10px;">
<img src="/themes/images/attention.gif" style="float: left; border:0; display: block;" />
<span style="margin-left: 51px; display: block;"><strong>Important Notice:</strong> We will be doing scheduled maintenance on Thursday, July 15 from 3:00am through 5:00am (EST). You may experience intermittent delays and/or wagering may become temporarily unavailable during that time. Thank you for your patience as we upgrade the site.</span>
</div>
 -->


 <iframe frameborder="0" style="overflow: auto; width: 100%; height: 1300px;" src="https://ctr.gamingsystem.net/ctrsignup/pl/signup.ctr?casinoId=7630&siteID=7630&resellerName=316"></iframe>
        
        

  
            
            
                      
        


             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 




      
    