{assign var="showclock" value="0"} 
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}  


 <hr><!-- --------------------- HR ---------------------- -->

<!--<h2>{include file='/home/ah/allhorse/public_html/breeders/year-last.php'} Breeders' Cup  Turf Sprint Results</h2>-->


<p>{include_php file='/home/ah/allhorse/public_html/breeders/turf-sprint/results.php'}</p>
<!--<p>{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}</p>-->

<!--<hr>--><!-- --------------------- HR ---------------------- -->


<!--<h2>{include file='/home/ah/allhorse/public_html/breeders/year-last.php'} Breeders' Cup  Turf Sprint Payouts</h2>-->

<p>{include_php file='/home/ah/allhorse/public_html/breeders/turf-sprint/payouts.php'}</p>
<p>{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}</p>

<hr><!-- --------------------- HR ---------------------- -->


<h2>Breeders' Cup  Turf Sprint Winners</h2>
<p>{include file='/home/ah/allhorse/public_html/breeders/turf-sprint/winners-new.php'}</p>




{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}
{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/end-of-page-blocks.tpl"}