{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

        
          

{include file='menus/promotions.tpl'}
{include file='menus/help.tpl'}


          
       
      
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
            
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>MLB Opening Day Gateway</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div class="promos-title"><h2>MLB Opening Day Gateway</h2></div>
<div id="promos-content">
		          
          
<div class="headline"><h1>Thank You for Entering Your Picks</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<p>Remember; make your pick before the first game of the week. You must register with your CID and E-mail to qualify. If you do not enter your correct CID and E-mail, your picks will not be properly saved and you will not be eligible for any monetary prizing.
</p>

<p>If you have any question regarding the information submitted for this promotion please contact us at <a href="mailto:support@usracing.com ">support@usracing.com</a></p>
</p>
<p>Good Luck!</p>
</div>

        
        
</div>
              
            
            
                      
        </div>
      
      <!-- end: #col3 -->

      
    