{include file='inc/left-nav-btn.tpl'}
<div id="left-nav">

<!-- ---------------------- left menu contents ---------------------- -->

            {include file='menus/breederscup.tpl'}
<!-- ---------------------- end left menu contents ------------------- -->         
</div>
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

     
          
          
<div class="headline"><h1>Breeders' Cup Betting</h1></div>

  <div class="content">
<!-- --------------------- content starts here ---------------------- -->
<p><iframe  class="video" width="100%" src="https://www.youtube.com/embed/W_Sdm9lbJcU" frameborder="0" allowfullscreen></iframe></p>

   {include file='/home/ah/allhorse/public_html/breeders/breederscup_wherewhenwatch.tpl'}  


<p>
     <h2>Bet on the Breeders' Cup</h2>
     <p>Bet on the fastest horses from all over the world as they meet in    {include file='/home/ah/allhorse/public_html/breeders/location.php'}  this year to compete in the Breeders' Cup Races. With $25 million in prize money, it's the richest, most exciting event in sports making most other sporting events look quaint.</p>
<p>The end of year event attracts a lot of interest from Europe as well as the US. Horses go head to head in various grade divisions and distances for some of the biggest purses in horse racing which also makes it one of the best betting opportunities for horseplayers all year.  All race tracks that have hosted the <a href="/breeders-cup">Breeders' Cup</a> have been in the United States, except in 1996, when the Breeders' Cup was held at the <a href="/woodbine">Woodbine Racetrack</a> in Canada.</p>

<p>{include file='/home/ah/allhorse/public_html/breeders/odds_combined_inc.tpl'}</p>
<!--<a name="classic"></a><h2>Breeders' Cup Classic Odds</h2>
<blockquote >Quick links - <a href="/breeders-cup/odds#classic"> Classic </a> - <a href="/breeders-cup/odds#distaff">Distaff </a> - <a href="/breeders-cup/odds#mile">Mile </a> - <a href="/breeders-cup/odds#turf">Turf</a> - <a href="/breeders-cup/odds#sprint">Sprint </a> - <a href="/breeders-cup/odds#juvenile">Juvenile</a> - <a href="/breeders-cup/odds#juvenile-fillies">Juvenile Fillies </a></blockquote>
<p>{*include file='/home/ah/allhorse/public_html/breeders/odds_classic_static.php'*} </p>
<p align="center"><a href="/signup/?bcb" class="btn-xlrg ">Bet Now</a></p>-->


<h2>How to Bet on the Breeders' Cup</h2>
<p><a href="/signup">Open an account</a> online at BUSR, America's online betting choice for horse racing. Fund your account then select the race you want to wager on. Pick your bet type, horse and you're off to the races. </p>
<p>When it comes to betting on the Breeders&rsquo; Cup, there are 4 races to choose from on Friday and 9 races on Saturday. The biggest event of the 2-day Championships is the last race on Saturday for a prize of $5,000,000! While the <a href="/breeders-cup/classic">Classic</a> has the biggest purse, the Mile is usually the most contentious race. </p>

<p>{include file='/home/ah/allhorse/public_html/breeders/races.php'} </p>

<h2>Breeders' Cup Betting History</h2>
<p>Breeders' Cup reported that approximately $144.3 million was wagered on the World Championships in 2012 at <a href="/santa-anita-park">Santa Anita Park</a> which was down slightly from the previous year's figure of $155.5 million when the event was hosted by <a href="/churchill-downs">Churchill Downs</a>, in Louisville, Kentucky. Breeders' Cup officials indicated the handle totals were in line with expectations based on the interruption of service experienced by many east coast pari-mutuel outlets which were affected by Hurricane Sandy.</p>


<p align="center"><a href="/signup/?bcb" class="btn-xlrg ">Sign Up Now</a></p>  
				            
                  

              
            
            
                      
        {include file='inc/disclaimer-bc.tpl'} 
            
            
    
   
<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
	{include file='inc/rightcol-calltoaction-bc.tpl'} 
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 

</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 
      
    
