{literal}<script language="javascript">document.write('<a href="/'+((logged_in())?'racebook':'racebook')+'" title="Black-Eyed Susan S. - Bet Now!"><img width="294" height="119" src="/themes/images/home/banner-right-blackeyedsusan_s.jpg" /></a>');</script>{/literal}