{literal}
  <script type="text/javascript">
  var Logoutarray=new Array();
  Logoutarray[0]='<a href="/belmontstakes-odds" title="US Racing | Belmont Stakes Odds "><img src="/themes/images/logout/belmont_stakes_odds.jpg" alt="US Racing | Belmont Stakes Odds" title="US Racing | Belmont Stakes Odds" width="705" /> </a>';
	//Logoutarray[1]='<a href="/beton/race-of-the-week" title="US Racing | Race of the Week"><img src="/themes/images/logout/raceoftheweek.jpg" alt="US Racing | Race of the Week" title="US Racing | Race of the Week" width="705" /> </a>';
  Logoutarray[1]='<a href="/belmontstakes-odds" title="US Racing | Belmont Stakes Odds "><img src="/themes/images/logout/belmont_stakes_odds.jpg" alt="US Racing | Belmont Stakes Odds" title="US Racing | Belmont Stakes Odds" width="705" /> </a>';
  Logoutarray[2]='<a href="/belmontstakes-odds" title="US Racing | Belmont Stakes Odds "><img src="/themes/images/logout/belmont_stakes_odds.jpg" alt="US Racing | Belmont Stakes Odds" title="US Racing | Belmont Stakes Odds" width="705" /> </a>';

	var randomkey = Math.floor(Math.random()*Logoutarray.length);
	document.write(Logoutarray[randomkey]);
  </script>

{/literal}

