<div class="blog-home margin-bottom-20">
    <div class="headline"><h2>Horse Racing News & Analysis</h2></div>
    <div class="blog">
    {*include_php file='../htdocs/assets/plugins/blog/usr_blog.php'*}
    {include_php file='../htdocs/assets/plugins/blog/posts_for_home.php'}
    </div>

    <!--<div class="blockfooter">
     <a href="/blog"  class="btn btn-primary" rel="nofollow">Horse Racing Blog <i class="fa fa-angle-right"></i></a>
    </div>-->
</div> <!-- end/blog-home -->



