<!-- FEATURED SLIDER -->
<div id="featured" class="royalSlider rsDefault margin-bottom-30">

    <div class="rsContent">
     <a class="rsImg"  href="img/road-to-the-roses.jpg">
     <div class="rsTmb">
      <span>1</span>
     </div></a>
    </div>
    
    
    <div class="rsContent">
     <a class="rsImg"  href="http://madmikesamerica.com/wp-content/uploads/2012/05/horse-racing.jpeg">
     <div class="rsTmb">
      <span>2</span>
     </div>
     </a>
     <h3 class="rsABlock sampleBlock">Animated block, to show you that you can put anything you want inside each slide.</h3>
    </div>
    
    <div class="rsContent">
     <a class="rsImg"  href="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Tambo_valley_races_2006_edit.jpg/800px-Tambo_valley_races_2006_edit.jpg">
     <div class="rsTmb">
      <span>3</span>
     </div>
     </a>
     <h3 class="rsABlock sampleBlock">Animated block, to show you that you can put anything you want inside each slide.</h3>
    </div>
    
    <div class="rsContent">
     <a class="rsImg"  href="http://static.foxsports.com/content/fscom/img/2012/04/26/042612-Horse-Racing-Must-See-Movies-Gallery7_20120426165946240_600_400.JPG">
     <div class="rsTmb">
      <span>4</span>
     </div>
     </a>
     <h3 class="rsABlock sampleBlock">Animated block, to show you that you can put anything you want inside each slide.</h3>
    </div>

</div><!--/#featured -->