<div class="content">
<div class="headline"><h2>Twitter</h2></div>  
<div class="twFeed margin-bottom-20">

{include_php file='../htdocs/assets/plugins/twitter/usr_twitter.php'}


</div>
</div><!--/content-->
   
<div class="blockfooter"><a class="btn btn-primary" href="https://twitter.com/betusracing" target="_blank">Follow US Racing<i class="fa fa-angle-right"></i></a></div>
