<div class="content">
  <div class="headline"><h2>Horse Racing Video Picks</h2></div>
  <div class="ytFeed margin-bottom-20">
    <div id="yt-list" class="yt-feed" data-plumtube data-plum-max-results="1" data-plum-show-title="link" data-plum-playlist="PLEKyEB4uQTtA4lARcnMeY0GnrdibVfMlv" data-plum-modal="true"  data-plum-large-thumb="true"></div>
  </div>
</div>
<!--/content-->

<div class="blockfooter"> <a href="/horse-racing-videos" class="btn btn-primary" >Horse Racing Videos<i class="fa fa-angle-right"></i></a> </div>
