{*           <div id="content-top" class="region"><div id="block-block-78" class="block block-block region-odd even region-count-1 count-2"><div class="block-inner">

  
  <div class="content">
    <div><a href="/join"><img src="/themes/images/banner-handicapping.jpg" alt="Handicapping" width="705" height="118" /></a></div>  </div>

  
</div>
</div><!-- /block-inner, /block -->
<div id="box-shd"></div>*}