{*<div id="content-top" class="region">
            
<div id="block-block-39" class="block block-block region-odd even region-count-1 count-2">
            <div class="block-inner">
            <div class="content">
    		<div class="logged-out"><a href="/join"><img src="/themes/images/stakesraces/kentucky_derby.jpg" alt="Kentucky Derby Bets" width="705" height="118" /></a></div>
    		<div class="logged-in"><a href="/horse-betting"><img src="/themes/images/stakesraces/kentucky_derby.jpg" alt="Kentucky Derby Bets" width="705" height="118" /></a></div>
      		</div>

  
</div>
</div><!-- /block-inner, /block -->
<div id="box-shd"></div>
</div>          *}
          