<div id="left-nav-btn" style="display:none"><a id="ol-left" href="#left-nav" ><i class="fa fa-bars"></i><i class="glyphicon glyphicon-remove"></i><span class="more">M O R E</span><span class="exit">L E S S</span></a></div>
