<div>

 <img src="/img/logout/horseracing-hat.jpg" class="img-responsive"> 
{*<img src="/img/logout/casino-promo.jpg" class="img-responsive">*}

</div>


{*
<script type="text/javascript">
  var Logoutarray=new Array();
  Logoutarray[0]='<a href="/kentucky-derby" title="US Racing | Kentucky Derby Betting "><img class="img-responsive" src="/img/logout/kentuckyderby-roadtoroses.jpg" title="US Racing | Kentucky Derby Betting" /></a>';
  Logoutarray[1]='<a href="/kentucky-derby" title="US Racing | Kentucky Derby Betting "><img class="img-responsive" src="/img/logout/kentuckyderby-roadtoroses.jpg" title="US Racing | Kentucky Derby Betting" /></a>';
  Logoutarray[1]='<a href="/kentucky-derby" title="US Racing | Kentucky Derby Betting "><img class="img-responsive" src="/img/logout/kentuckyderby-roadtoroses.jpg" title="US Racing | Kentucky Derby Betting" /></a>';
  Logoutarray[2]='<a href="/kentucky-derby" title="US Racing | Kentucky Derby Betting "><img class="img-responsive" src="/img/logout/kentuckyderby-roadtoroses.jpg" title="US Racing | Kentucky Derby Betting" /></a>';

	var randomkey = Math.floor(Math.random()*Logoutarray.length);
	document.write(Logoutarray[randomkey]);
  </script>
*}


