<div class="calltoaction">

 <h2>Get a 20%<br> Signup Bonus<br>to Bet on  Horses!</h2>
<h3>Sign Up Now to <br>  Get Started Today.</h3>
{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}

