
<div class="calltoaction">



<h2>Bet the<br>Pegasus World Cup!</h2>
{*<h3>Get a $150 Sign Up Bonus!</h3>
*}
{* <h2>Free Bet on the<br>Belmont Stakes!</h2> *}
{* <h2>Free Bet on the<br>Kentucky Derby!</h2> *}<br>
<h3>Use the code <strong>PEGASUS</strong> and get up to a $625 bonus.<br>
  {* Get a $150 Sign up Bonus. *}<br>
<br>
</h3>

{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}