{include file="inc/rightcol-calltoaction.tpl"}

{*TVGDEATH 
<div class="calltoaction">
<a href="/signup/"  >
<span id="object"><i class="animated floating fa fa-map-marker"></i></span>
<h2>Get your Triple Crown Bonus!</h2>
<h3>Start betting now and get {include file='/home/ah/allhorse/public_html/shared/bonus-amount.tpl'} cash!</h3>
<span class="btn btn-green">Sign Up Now<i class="fa fa-angle-right"></i></span></a>
</div>


{literal}
<script type="text/javascript">
$( document ).ready(function() {
$(".calltoaction #object").delay(500).queue(function(next) {
  $(this).addClass("animated bounceInDown").css("visibility", "visible");
  next();
}).delay(600).queue(function(next) {
  $(".calltoaction h2").addClass("animated tada"); 
  next();
}).delay(600).queue(function(next) {
  $(".calltoaction .fa-angle-right").addClass("animated fadeInLeft").css("visibility", "visible");; 
  next();
});
});
</script>
{/literal}
*}