
<!---banner -->
<div>

<div class="textwidget">

{literal}
<!-- Dubai World Cup 2019 [async] -->
<script type="text/javascript">if (!window.AdButler){(function(){var s = document.createElement("script"); s.async = true; s.type = "text/javascript";s.src = 'https://servedbyadbutler.com/app.js';var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(s, n);}());}</script>
<script type="text/javascript">
var AdButler = AdButler || {}; AdButler.ads = AdButler.ads || [];
var abkw = window.abkw || '';
var plc355195 = window.plc355195 || 0;
document.write('<'+'div id="placement_355195_'+plc355195+'"></'+'div>');
AdButler.ads.push({handler: function(opt){ AdButler.register(169350, 355195, [280,404], 'placement_355195_'+opt.place, opt); }, opt: { place: plc355195++, keywords: abkw, domain: 'servedbyadbutler.com', click:'CLICK_MACRO_PLACEHOLDER' }});
</script>

{/literal}

</div>

</div>


<!--- banner end -->



{*include file="inc/rightcol-calltoaction.tpl"*}

{*

<div class="calltoaction">
<a href="/signup?ref={$ref}" rel="nofollow" >
<span id="object"><i class="animated floating fa fa-map-marker"></i></span>
<h2>Bet on the Dubai World Cup!</h2>
<h3>The easiest way to bet online.</h3>
<span class="btn btn-green">Sign Up Today<i class="fa fa-angle-right"></i></span></a>
</div>


{literal}
<script type="text/javascript">
$( document ).ready(function() {
$(".calltoaction #object").delay(500).queue(function(next) {
  $(this).addClass("animated bounceInDown").css("visibility", "visible");
  next();
}).delay(600).queue(function(next) {
  $(".calltoaction h2").addClass("animated tada"); 
  next();
}).delay(600).queue(function(next) {
  $(".calltoaction .fa-angle-right").addClass("animated fadeInLeft").css("visibility", "visible");; 
  next();
});
});
</script>
{/literal}
*}
 {include file='inc/rightcol-calltoaction.tpl'} 
{*
<div class="calltoaction">


<h2>Bet on the Dubai World Cup!</h2>
{include file='/home/ah/allhorse/public_html/dubai/call-to-action2.php'}
{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}
*}