
<div class="calltoaction">



{if $ShowPegasusOddS}
<!-- ON Pegasus -->
<h2>Bet the<br>Pegasus World Cup!</h2>
<h3>Use the code <strong>PEGASUS</strong> and get up to a $625 bonus.</h3><br>

{else}
<!-- After Pegasus -->
<!--<h3>Get a $150 Sign Up Bonus!</h3>-->
{*<h2>Free Bet on the<br>Belmont Stakes!</h2>*}
{*<h2><!--Free--> Bet on the<br>Kentucky Derby!</h2><br>
<h3>Get a $150 Sign up Bonus.</h3> <br>*}



{*<h2>Free Bet on the<br>Belmont Stakes!</h2>
<h2><!--Free--> Bet on the<br>Kentucky Derby!<br>
  *}<br>
 <h2>Sign up Today!</h2>
<br>

<h3>{* Get a $150 Sign up Bonus. <br> *} Get up to $250 Sign up Bonus</h3> <br>
 
{/if}

{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}
