<div class="calltoaction">



<h2>Sign up to Get<br>Your Free Bet!</h2>
{*<h3>Get a $150 Sign Up Bonus!</h3>
*}
{* <h2>Free Bet on the<br>Belmont Stakes!</h2> *}
{* <h2>Free Bet on the<br>Kentucky Derby!</h2> *}
<h3>Get exclusive Preakenss odds and more.</h3>

{include file="/home/ah/usracing.com/smarty/templates/inc/rightcol-calltoaction-form.tpl"}