{assign var="showclock" value="0"} 
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/top-of-page-blocks.tpl"}
{*Unique copy goes here**************************************}  


 <hr><!-- --------------------- HR ---------------------- -->

<!--<h2>{include file='/home/ah/allhorse/public_html/breeders/year-last.php'} Breeders' Cup  Dirt Mile   Results
</h2>-->

<p>{include_php file='/home/ah/allhorse/public_html/breeders/dirt-mile/results.php'}</p>
<!--<p>{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}</p>-->

<!--<hr>--><!-- --------------------- HR ---------------------- -->
<!--<h2>{include file='/home/ah/allhorse/public_html/breeders/year-last.php'} Breeders' Cup  Dirt Mile   Payouts
</h2>-->

<p>{include_php file='/home/ah/allhorse/public_html/breeders/dirt-mile/payouts.php'}</p>
<p>{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}</p>

<hr><!-- --------------------- HR ---------------------- -->

   <h2> Breeders' Cup Dirt Mile Winners</h2>
<p>{include file='/home/ah/allhorse/public_html/breeders/dirt-mile/winners-new.php'}</p>





{include file="/home/ah/allhorse/public_html/usracing/cta_button.tpl"}
{*Page Unique content ends here*******************************}
{include file="/home/ah/allhorse/public_html/usracing/block_breeders/end-of-page-blocks.tpl"}