/* ----------------------------------------------------------------------------------------------------------*/
/*                                                                                                           */
/*                                                                                                           */
/*                                  CUSTOMER CENTER (MY ACCOUNT) - GLOBAL CSS                                */
/*                                                                                                           */
/*                                                                                                           */
/* ----------------------------------------------------------------------------------------------------------*/

/*========================================= GLOBAL COMPONENTS ============================================*/
html	{ font-family: Arial, Verdana, sans-serif; font-size: 11px; font-weight: normal; color: #333333;}
body	{ margin:0; padding:0; width:auto;background-color:#FFFFFF;}
table	{ border-collapse:collapse; border-spacing:0;}
td, th	{ padding:0;}
img 	{ border:0;}
* 		{ padding:0; margin:0;}

/*========================================= FRAGMENT COMPONENTS ===========================================*/
/***** Element Positioning *****/
div#topHeader						{ position:relative; top:10px; } /* top header background */
div#subHeader						{ position:relative; top:20px; } /* sub header background */
div#topHeaderTxtPos					{ position:absolute; margin-left:15px;top:17px; } /* top header title text */
div#subHeaderTxtPos					{ position:absolute; margin-left:20px;top:47px; } /* sub header title text */
form#formContainer					{ margin:40px 0 0 0; } /* entire form element */
.formContainerCenter #formTable		{ position:absolute; left:50%; top:185px; margin-left:-285px; width:570px;}  /* table within form element */
div#instructionTxtPos				{ margin-bottom:10px; } /* top instructional copy */
div#successMsg						{ position:absolute;width:458px;text-align:center; margin-top:-50px;} /* main success text */
div#boxAccentPWPos					{ position:absolute;margin:-155px 0 0 265px;} /* floating box for password instructions */
div#bulletLayout2Pos				{ position:absolute;margin:-145px 0 0 283px;width:155px;} /* unordered list - layout */
div#throbberPos						{ float:right; margin:0px 10px 0 0;}

									/*-- Input Area ---*/
div#inputAreaSQ						{ position:absolute; margin:-60px 0 0 0; padding:0 0 0 30px;} /* security question */
div#inputAreaChangePW				{ position:absolute; margin:-195px 0 0 0; padding:0 0 0 15px;} /* change password */
div#inputAreaResetPW				{ position:absolute; margin:-175px 0 0 0; padding:0 0 0 15px;} /* reset password */
div#inputAreaForgotPW				{ position:absolute; margin:-130px 0 0 0; padding:0 0 0 40px;} /* forgot password */
div#inputAreaSetSQ  				{ position:absolute; margin:-140px 0 0 0; padding:0 0 0 40px;} /* set security question  */
div#inputAreaUpdateInfo				{ position:absolute; margin:-225px 0 0 0; padding:0 0 0 40px;} /* update contact info */
div#inputAreaNickname				{ padding:20px 0 20px 30px;} /* nickname info */
div#inputAreaBAddressSelect			{ position:absolute; margin:10px;}
div#inputAreaBAddressSelect	table td{ padding-right:5px; }  /* billing address */
div.inputAreaMAddressSelect			{ position:absolute; margin:10px;}
div.inputAreaMAddressSelect	table td{ padding-right:5px; } /* mailing address */
div#inputAreaUpdateInfo	table		{ width:340px;}
div#inputAreaUpdateInfo	table td	{ padding-top:6px;}
div#inputAreaUpdateInfo .updateFields,
div#personalInfoSet .updateFields 	{ width:110px;}
div#inputAreaForgotUN_RF			{ position:absolute; margin:-140px 0 0 0; padding:0 0 0 60px;} /* forgot username - required fields*/
div#inputAreaForgotUN_OF			{ margin:15px 0 0 0; padding:0 0 0 20px;} /* forgot username - optional fields*/
div#inputAreaForgotUN_OF table td,
div#inputAreaForgotUN_RF table td	{ padding:4px;}

									/*-- Errors --*/
#formTable #errorBoxChangePW		{ margin:0 0 10px 0; } /* main error display for change password */
#formTable #errorIconPos			{ position:absolute; margin:0 0 0 10px;}  /* error icon */
#formTable #errorIconPosExpired		{ margin:0 auto;}
#formTable #errorInstructions		{ margin:0 0 0 45px; } /* location of error message copy */
#formTable #errorMsg li				{ list-style-type:none; line-height:13px; } /* location of error message copy */
#formTable #errorInstructionsExpired{ text-align:center; padding:5px 0 5px 0;}
#formTable #errorInstructionsExpired li,
#formTable #errorInstructions li	{ list-style-type:none; line-height:17px;} /* error message display layout */

									/*-- Sign Up (on universal login)--*/
div.sectionContainer				{ margin:20px 0 0 0; width:231px; height:200px; overflow:hidden;} /* bounding containers for both log in and sign up */
div#signUpInfo						{ width:177px; margin:-95px 0 0 30px;}  /* text instructions for signing up */
div#btnBack							{ position:absolute; margin:-17px 0 0 -15px; } /* back button */
div#framePos						{ position:relative; margin:50px auto;} /* surrounding outter border */
div#bannerPos						{ position:absolute; left:50%; top:69px; margin-left:-302px;} /* top banner image - margin-left is 1/2 width size */
div#boxAccentSUPos					{ margin:13px 0 0 7px;} /* floating box - Sign Up */
div#signInMsg						{ position:relative; top:-15px;left:50px;width:480px;text-align:center;} /* output message system returns */
div#topHeaderSignIn					{ width:225px; margin:-159px 0 0 3px; } /* top header background */
div#topHeaderSignInTxt				{ margin:-23px 0 0 0px; text-align:center;} /* top header title text */
div#inputAreaLogin					{ width:177px; margin:15px 0 0 25px;} /* input fields for loggin in */

									/*Log Out*/
div.boxAccentMiniPos				{ width:200px; position:relative; top:-30px;}
div#logOutMsgPos					{ position:relative; top:-55px;}
div#logOutInstructPos				{ position:relative; top:-20px;}

									/*-- PopUp (password strength) --*/
div#topHeaderTxtPopUpPos			{ position:relative; margin:-13px 0 0 20px;} /* positioning of popup window title text*/
div#PopUpContentPos					{ margin:25px 0 0 30px;} /* positioning of popup window text*/

div#CCSMsg							{ position:relative; top:30px;width:100%;text-align:center;} /*Customer Service output message*/
div#errorBoxCCSPos					{ position:relative; top:30px;width:auto;margin:0 20px 0 20px; text-align:center;} /*Customer Service output message*/
									/*-- Forgot Username --*/
div#linkImgPos						{ position:absolute; margin:13px 0 0 334px;}


/***** Layouts *****/
div.topHeaderImg		{ background:url(topHeader.jpg) repeat-x; height:30px;} /* image reference to top header banner */
div.subHeaderImg		{ background:url(subHeader.jpg) repeat-x; height:20px;} /* image reference to sub header banner */
div.boxAccentMini		{ background:url(boxAccentMini.jpg) repeat-x; height:32px; border:1px solid #797979; } /* image reference to grey gradient box area in background (small) */
div#boxAccentSm			{ background:url(boxAccentSm.jpg) repeat-x; height:82px; width:auto; border:1px solid #797979; } /* image reference to grey gradient box area in background (small) */
div#boxAccentMed		{ background:url(boxAccentMed.jpg) repeat-x; height:161px; width:auto; border:1px solid #797979; } /* image reference to grey gradient box area in background (medium) */
div.grayBoxMed			{ background:url(boxAccentMed.jpg) repeat-x; height:82px; width:auto;} /* image reference to grey gradient box area in background */
div#boxAccentLg			{ background:url(boxAccentLg.jpg) repeat-x; height:234px; width:auto; border:1px solid #797979; } /* image reference to grey gradient box area in background (large) */
div.grayBox				{ background:url(boxAccentLg.jpg) repeat-x; height:234px; width:auto;} /* image reference to grey gradient box area in background (large) */
div.boxAccentPW			{ background:url(boxAccent_password.gif) no-repeat; width:188px; height:145px; } /* image reference for password instructions */
.bkAccentBox			{ background-color:#f2f2f2; border:1px solid #7a7a7a;}
#formTable				{ margin-left:20px; width:460px;}   /* margin: 0 auto; if you want form table to center align */
.errorBox				{ background-color:#efd8d8; border:4px solid #a77979; padding: 7px 5px 7px 5px; color:#892d2d; width:auto;} /* style error box */
.errorMsgBox			{ background-color:#efd8d8; border:1px solid #a77979; padding: 4px 3px 4px 3px; color:#892d2d; width:auto;} /* style error box (thin) */
.errorIcon				{ background:url(iconError.gif) no-repeat; height:23px; width:24px; } /* image reference to error (hazard) icon */
#inputAreaChangePW table{ width:auto;}
.boxBorder				{ border:1px solid #797979; width:auto;padding:20px 0 20px 50px;} /* table layout for update contact information */
.boxBorder table		{ line-height:17px; }
.moreInfoBox			{ border:2px solid #4e6072; background-color:#7b8a99; color:#FFFFFF; padding:5px 5px 5px 10px; display:none; }
.pageBackground			{ background-color:#d7d7d7; height:100%;} /* background of page */
.pageBackgroundAlt		{ background-color:#1e1e1e; height:100%;} /* background of page - alternative color */

						/*My Account*/
#features				{ float:left; margin:25px 0 0 0; width:230px;height:120px;}
.titleBar				{ background:url(titleBar.gif) no-repeat; width:208px; height:21px;}
.fadedBorder			{ background:url(fadedBorder.gif) no-repeat; width:207px; height:60px; }

						/*Sign In*/
div#boxAccentSI			{ background:url(boxAccent_signin.gif) no-repeat; height:163px;} /* image reference grey box for sign in */
div.boxAccentSU			{ background:url(boxAccent_signup.gif) no-repeat; height:109px;} /* image reference grey box for sign up */
div.frame				{ background:url(signin_border.gif) no-repeat; height:421px; width:638px;} /* surrounding outter border */
div.banner				{ background:url(signin_banner.gif) no-repeat; height:86px; width:604px;} /* top banner image */
div.separator			{ background:url(orSeparator.gif) no-repeat; height:234px; width:29px;}
div#inputAreaLogin ul li{ list-style-type:none; line-height:18px; font-weight:bold;} /* spacing for login input area */
.bulletLayout1 ul li	{ padding:0 0 15px 0; margin-left:15px; list-style-type:square;} /* unordered list - layout */
.bulletLayout2 ul li	{ padding:0; list-style-type:square;position: relative; margin-left:15px;font-size:11px;line-height:13px;} /* text copy for password information */
.bulletLayout3			{ padding:10px 0 10px 20px;}
.bulletLayout3 ul li	{ list-style-type:square; position: relative; margin-left:15px;font-size:12px;} /* text copy for password information */
.highlight1				{ background-color:#e5f3ff;padding:2px 0 2px 5px;}

						/*Log Out*/
div.logOutFrame			{ background:url(logout_border.gif) no-repeat; height:225px; width:638px;} /* surrounding outter border */
div.logOutBanner		{ background:url(logout_banner.gif) no-repeat; height:61px; width:604px;} /* top banner image */

						/*Customer Service Screen*/
#phoneNums				{ margin:5px 0 0 20px;}
#phoneNums td			{ padding:5px 10px 5px 10px; border:1px solid #999999;}
#phoneNums .label		{ background-color:#d3d3d3; font-weight:bold;}
#phoneNums .record		{ }

						/*Forgot Username*/
div.sectionSeparator	{ margin:25px 0 0 0; border:1px solid #cccccc; border-width:1px 0 0 0;} /* lines to separate the Req + Opt Fields */
div.moreInfoPopup		{ position:absolute; width:180px; margin-left:3px; border:2px solid #4e6072; background-color:#7b8a99; color:#FFFFFF; padding:5px 5px 5px 10px; display:none;  }
div#inputAreaForgotUN_OF a{ vertical-align:middle; padding-left:2px;} /* placement of "more info" boxes */
div.linkImg				{ background:url(link.gif) no-repeat; width:11px; height:34px; } /* link image */

						/*View Bonus Details*/
div.darkHeader			{ background:url(darkHeader.gif) repeat-x; height:37px;} /* top table header background - bonus */
div.grayHeader			{ background:url(grayHeader.gif) repeat-x; height:22px;} /* playable balance table header background - bonus */
div.thickBorder			{ border:1px solid #868686; padding:2px 2px 2px 3px; background-color:#FFFFFF;} /* thick border for table header - bonus */
div.grayThickBorder		{ border:1px solid #797979; padding:1px; background-color:#dcdcdc;} /* thick border for playable balance header - bonus */
div#bonusTable			{ margin:-43px 0 0 0; font-size:11px;}
div#bonusTable table	{ width:500px; border:1px solid #868686; border-width:0 0 0 1px;} /* width of bonus details table */
div#bonusTable table th	{ background:url(columnLine.gif) no-repeat 100% 50%; vertical-align:top; padding:5px 0 9px 0; color:#FFFFFF;}
div#bonusTable table td	{ border:1px solid #868686; padding:4px 5px 4px 3px;}
.autoTooltip			{ cursor: help;} /* "?" on tooltip cursor */
.autoTooltip u			{ text-decoration: none; border-bottom: none; background: url(dottedLine.gif) repeat-x bottom;}

div#calcArea			{ margin-top:40px;}
select.productList		{ width:110px;} /* product drop down list */
div#bonusSelect 		{ background-color:#f6f6f6; border:1px solid #dddddd; width:auto;height:100%; padding:5px 5px 5px 10px;}
div#bonusSelect .content{ width:75%;}
div#bonusSelect .line	{ width:1px; height:25px; margin:-25px 0 5px 355px; background-color:#dddddd;}
div#bonusSelect .productDrop { margin:-27px 0 5px 370px;}

						/*View Bonus Details - Playable Balance */
.lightBk				{ background-color:#f6f6f6; } /* body background color */
div#playBalance			{ background-color:#f6f6f6; border:1px solid #dddddd; width:auto;height:auto; padding:10px; position:relative; top:-1px;} /* Playable Balance */
div.balanceLightBk		{ background-color:#FFFFFF;border:1px solid #dddddd;  padding:3px; width:380px; margin:0 auto;} /* Playable Balance Inner Box */
div.balanceTitle		{ font-weight:bold; color:#FFFFFF; padding:3px 0 0 10px;}
table.balanceLayout 	{ background-color:#FFFFFF; width:100%; display: table;}
.h1Row td				{ border:1px solid #797979; border-width:1px 0 0 0;} /* Balance Table - dark dividers */
.h2Row td 				{ border:1px solid #e1e1e1; border-width:1px 0 0 0;} /* Balance Table - light dividers */
						/*--- graphics under Balance Table --*/
div.cashIcon			{ background:url(balance_cash.gif) no-repeat;  width:13px;height:13px; float:left; padding-right:7px;} /* subLevel Arrow */
div.bonusIcon			{ background:url(balance_bonus.gif) no-repeat; width:13px;height:13px; float:left; padding-right:7px;} /* subLevel Arrow */
div.totalIcon			{ background:url(balance_total.gif) no-repeat; width:13px;height:13px; float:left; padding-right:7px;} /* subLevel Arrow */
div.subArrow			{ background:url(balance_subArrow.gif) no-repeat; width:17px;height:12px; float:left; padding-right:3px;} /* subLevel Arrow */
.stripes				{ background:url(stripes.gif) repeat-x;} /* background pattern - striped slashes */
.expiration				{ background-color:#f1f0c6; color:#636100;} /* Expiration color */
						/*-- Playthrough --*/
div.playThru			{ background-color:#ffffff; padding:3px; width:auto; margin:0;} /* PlayThru */
div#rolloverReqDiv		{ background-color:#ffffff; } /* area where rollover content is loaded */
table.playthruLayout,
table.playthruBody		{ background-color:#FFFFFF; width:100%; display: table; } /* PlayThru Table */
.playthruBody .h1Row td { border:1px solid #797979; border-width:1px 0 1px 0;} /* top-bottom of header outline */
.playthruHeader			{ background-color:#f9feff; padding:8px; font-size:11px;} /* title area of table */
.playthruHeader .productList { margin-top:5px; } /* buffer space from rollover instruction and drop down menu */
						/*Tool Tip*/
#dhtmltooltip			{ position: absolute; left: -300px; width: 150px; border: 2px solid #4e6072; padding: 5px 5px 5px 10px; background-color: #7b8a99; visibility: hidden; z-index: 100; font-size:11px; color:#FFFFFF;}
#dhtmlpointer			{ position:absolute; left: -300px; z-index: 101; visibility: hidden; }

										/*Notifications*/
div#inboxTable							{ margin:-28px 0 0 0; font-size:11px;}
div#inboxTable table					{ width:500px; border:1px solid #868686; border-width:0 1px 0 1px;} /* width of bonus details table */
div#inboxTable table th					{ vertical-align:top; padding:7px 0 6px 7px; color:#FFFFFF; text-align:left;}
div#inboxTable table th.headerLine		{ background:url(shortcolumnLine.gif) no-repeat 100% 50%;}
div#inboxTable table th.fromColumn 		{ padding-left:30px;  width:125px; }
div#inboxTable table th.subjectColumn 	{ width:185px; }
div#inboxTable table th.dateColumn 		{ width:130px;}
div#inboxTable table td					{ border:1px solid #868686; padding:0 5px 0 7px;border-width:1px 0 1px 0px; height:30px;}
div#inboxTable table tbody tr			{ background-color:#FFFFFF; }
div#inboxTable tr.unreadReg				{ font-weight:bold;}
div#inboxTable tr.unreadHi				{ font-weight:bold; color:#812323;}
div#inboxTable tr.readReg				{ font-weight:normal;}
div#inboxTable tr.deleted				{ background-color:#f6f6f7;}
div#inboxTable tr.unreadReg .mailImg	{ background:#fff url(mail_unopen.gif) no-repeat 5% 49%; padding-left:30px;}
div#inboxTable tr.unreadHi .mailImg		{ background:#fff url(mail_unopen_hi.gif) no-repeat 5% 49%; padding-left:30px;}
div#inboxTable tr.readReg .mailImg		{ background:#fff url(mail_open.gif) no-repeat 5% 49%; padding-left:30px;}
div#inboxTable tr.readHi .mailImg		{ background:#fff url(mail_open_hi.gif) no-repeat 5% 49%; padding-left:30px;}
div#inboxTable tr.deleted .mailImg		{ background:#f6f6f7 url(mail_deleted.gif) no-repeat 5% 49%; padding-left:30px;}
div#inboxFooter							{ margin: 10px 0 0 5px;}
div#inboxFooter #totalMsgs				{ color:#999999; font-size:11px; float:left;}

										/*account box*/
div#accountBox							{ margin:2px; border:1px solid #5f5f5f; padding:5px 20px 10px 10px;}
div.newMsgs .mailImg					{ background:url(mail_unopen.gif) no-repeat 8px 6px; padding:4px 0 0 30px;}
div.noMsgs .mailImg						{ background:url(mail_disable.gif) no-repeat 8px 6px; padding:4px 0 0 30px;}

										/* pagination */
#pagination 							{ font-size:10px;float:right; margin-top:-5px;}
#pagination table td					{ padding:6px 3px 3px 3px;}
#pagination a.pagenum:link,
#pagination a.pagenum:visited 			{background-color:#e0e0e0; color:#333333; border:1px #999999 solid; padding:1px 3px 1px 3px; text-decoration: none;}
#pagination a.pagenum:hover 			{background-color:#FFFFFF; color:#333333; border:1px #555555 solid; padding:1px 3px 1px 3px; text-decoration: none;}
.currentPage 							{background-color:#3f3f3f; color:#FFFFFF; border:1px #fec500 solid; padding:1px 3px 1px 3px; text-decoration: none;}

										/* message details */
div#bodyBox								{ margin:15px 2px 2px 3px; }
table#messageHeader,
table#messageBody						{ font-size:11px; margin: 5px 0 0 10px;}
table#messageHeader	td,
table#messageBody	td					{ padding:2px;}
div#hiPriority							{ background:url(hiPriority_sign.gif) no-repeat; width:86px; height:48px; float:right; margin:5px;}
div#hiPriorityConfirm					{ background-color:#f7f7f7; padding:3px 2px 6px 0; height:15px;}
div#hiPriorityConfirm table				{ float:right; margin:1px 2px 0 0;}
div#hiPriorityConfirm table	td			{ vertical-align:middle; padding:2px;}
div#popWin						{ position:absolute; width:455px; margin: -150px 0 0 25px;}
div#deleteConfirm 						{ padding:8px 10px 13px 10px; width:250px; height:108px; margin:0 auto; color:#fff;height:auto;_height:105px; /*IE6 only*/}
div#deleteConfirm, div#deleteConfirm .sb-inner		{ background:#fff repeat-x;}
div#deleteConfirm #innerWin				{ background:#666;}
.faded									{ filter: alpha(opacity=30); -moz-opacity: 0.3; }

										/*SIGN UP FORM*/
div#personalInfoSet,
div#accountInfoSet,
div#optionsInfoSet,
div#footerSet							{ padding:10px 0 0 0;}
table#promoCodeArea						{ width:450px; margin:0 auto;}
table#promoCodeArea td					{ padding:5px; vertical-align:top;}
.highlight1								{ background-color:#ebeada; padding:3px 0 2px 5px;}
.highlightBox							{ background-color:#ebeada; width:5px; height:19px; float:left; position:relative; margin-left:-6px; overflow:hidden;}
div#personalInfoSet table td,
div#accountInfoSet table td				{ padding:3px 3px 3px 0;}
div.sectionHighlight					{ padding:10px 0 10px 5px;}
.sectionHighlight						{ background-color:#f5f5f5; }
div.usernameAvail table					{ margin:0 0 0 110px;}
div.usernameError						{ margin:0 0 0 110px;}
div.usernameSugg						{ margin:0 0 0 20px;}
div.usernameSysError					{ margin:0 0 0 110px;}
.notifyBox								{ background-color:#ffffdc; border:1px solid #e1c0a6; padding: 4px 3px 4px 3px; color:#892d2d; width:auto;} /* style error box (thin) */

										/* Post Sign Up Form */
div#signUpSuccess						{}
.checkMark								{ background:url(signup_check.gif) no-repeat; width:41px; height:37px;}

										/* Mailing Details */
div.addressInfoSet						{ margin-top:2px; padding:10px 0 10px 100px;}
div.addressInfoSetHiLight				{ margin-top:2px; padding:10px 0 10px 100px; background-color:#f5f5f5;}
div.addressInfoSet table td,
div.addressInfoSetHiLight table td		{ padding:3px 5px 3px 0;}


/***** Fonts/Text *****/
.bodyText				{ font-weight:normal; color:#333333;}
.instructionTxt			{ padding-left:4px; padding-bottom:5px;}

						/*-- Forms ---*/
div.inputAreaTxt		{ font-weight:bold; font-size:11px; color:#333333;} /* Globally affects fields in form */
.entryLabel				{ font-weight:bold; padding-right:5px;} /* specific text style for form field labels */
.entryLabelLight		{ font-weight:bold; padding-right:5px; color:#898989;} /* specific text style for form field labels - lighter version */
.resultLabel			{ font-weight:normal; color:#666666; } /* specific text style for confirmation information */
div span.subTitle2		{ font-weight:bold; font-size:12px; color:#757575;} /* sub header title text - secondary font style */
div.topHeaderTxt		{ font-weight:bold; font-size:14px; color:#FFFFFF; } /* top header title text */
div.subHeaderTxt		{ font-weight:bold; font-size:12px; color:#333333;} /* sub header title text */
p.topHeaderTxt			{ font-weight:bold; font-size:14px; color:#FFFFFF; } /* title text used in password hint */
p.subHeaderTxt			{ font-weight:bold; font-size:12px; color:#333333;} /* subTitle text used in password hint */
.errorH1				{ color:#333333; font-weight:bold; } /* error text Style 1 */
.errorH2				{ color:#890d00; font-weight:bold; padding-left:10px;} /* error text Style 2 */
.errorH2Expired			{ color:#890d00; font-weight:bold; padding:5px;} /* error text Style 2 - for expired pages */
.errorH3				{ color:#890d00; font-weight:normal; padding-left:10px;}
.errorLabel				{ color:#890d00; font-weight:bold; padding-right:5px;}
.priority				{ color:#8a0101; font-weight:normal; font-size:11px;}
.weakLabel				{ color:#890d00; font-weight:bold; font-size:11px;} /* password word strength text - weak */
.mediumLabel			{ color:#896616; font-weight:bold;} /* password word strength text - medium */
.strongLabel			{ color:#868012; font-weight:bold;} /* password word strength text - strong */
.bestLabel				{ color:#459526; font-weight:bold;} /* password word strength text - best */
.signInMsgLabel			{ color:#890d00; font-weight:bold; font-size:12px;}
.CCSMsgLabel			{ color:#890d00; font-weight:bold; font-size:12px;}
.successTxt				{ color:#336600; font-weight:bold; font-size:14px;} /* success text when complete pathway */
.titleBarTxt			{ color:#ffffff; font-weight:bold; padding:3px 0 0 10px;}
.featureTxt				{ padding:7px 7px 0 10px; width:190px;}
.inactive				{ color:#bbbbbb; }

						/*View Bonus Details - Playable Balance */
.h1Title				{ font-size:11px; font-weight:bold; padding:3px 0 3px 10px; vertical-align:top;} /* Playable Balance - level 1 Titles */
.h1SubTitle				{ font-size:11px; font-weight:bold; padding:3px 0 3px 10px; color:#868686;} /* Rollover Rate - level 1 Titles */
.h2Title				{ font-size:11px; font-weight:bold; padding:3px 0 3px 72px; color:#868686;} /* Playable Balance - level 2 Titles */

.balanceAmt				{ font-size:11px;font-weight:bold; text-align:right; padding:3px 10px 3px 0; background-color:#f2f2f2; width:25%;}
.rolloverAmt			{ font-size:11px;font-weight:bold; text-align:center; padding:3px; background-color:#f2f2f2; width:30%;}
.balanceAmtTotal		{ font-size:11px; font-weight:bold; text-align:right; padding:3px 10px 3px 0; background-color:#7e7e7e; color:#e4ffdf; width:25%;}

						/*Delete Confirmation Window*/
.winHeader				{ background:#fff; font-weight:bold; color:#333333; padding:3px 0 3px 5px;border:1px solid #666;}
.winBody				{ font-weight:bold; color:#fff; text-align:center; padding:8px 0 8px 0;}

/***** Alignment + Spacing *****/
.floatRight				{ float:right; padding-left:10px;}
.leftAlign				{ text-align:left;}
.rightAlign				{ text-align:right;}
.centerAlign			{ text-align:center;}
.relativeCenter			{ margin:0 auto;}
.heightBuffer			{ height:30px;}
.padLeft				{ padding-left:10px;}
.topSpacerSm			{ padding-top:10px; }
.topSpacerMed			{ margin-top:30px; }
.topMarginSm			{ margin-top:10px; }
.botSpacerSm			{ margin-bottom:10px; }
.botSpacerMed			{ margin-bottom:30px; }
.spacingSm				{ padding:5px; }
.spacingMed				{ padding:8px; }

/***** Input Methods *****/
#buttonClearance 		{ padding:15px 5px 0 5px; } /* button configuration*/
.buttonSpacing	 		{ padding:15px 5px 10px 5px; } /* button configuration*/
#inputAreaChangePW input{ width:120px;}
input.field				{ background:url(blank.gif) repeat;}
.disabledField			{ background:url(blankGray.gif) repeat; color:#999; border:1px #000000 solid; font-family:inherit; font-size:11px; font-weight:normal; padding:2px; border-color:#555555;}
input.checkbox			{ height:13px; width:13px;}
input.radio				{ height:13px; width:13px;}
a:link, a:active		{ color:#836e19; text-decoration:underline; outline:none;}
a:visited				{ color:#836e19; outline:none;}
a:hover					{ color:#ac9431; outline:none;}
a.minorLink:link,
a.minorLink:active		{ font-size:11px; font-weight:normal; color:#836e19; text-decoration:underline;outline:none;}
a.minorLink:visited		{ font-size:11px; font-weight:normal; color:#836e19; text-decoration:underline;outline:none;}
a.minorLink:hover		{ font-size:11px; font-weight:normal; color:#ac9431; text-decoration:underline;outline:none;}
a.notifyLink:link,
a.notifyLink:active		{ font-size:11px; font-weight:normal; color:#cec317; text-decoration:underline;outline:none;}
a.notifyLink:visited	{ font-size:11px; font-weight:normal; color:#cec317; text-decoration:underline;outline:none;}
a.notifyLink:hover		{ font-size:11px; font-weight:normal; color:#f7ec44; text-decoration:underline;outline:none;}
a.hiPriority:link,
a.hiPriority:active		{ font-size:11px; font-weight:bold; color:#812323; text-decoration:underline;outline:none;}
a.hiPriority:visited	{ font-size:11px; font-weight:bold; color:#812323; text-decoration:underline;outline:none;}
a.hiPriority:hover		{ font-size:11px; font-weight:bold; color:#b72424; text-decoration:underline;outline:none;}
a.standard:link,
a.standard:active		{ font-size:11px; font-weight:normal; color:#006699; text-decoration:underline;outline:none;}
a.standard:visited		{ font-size:11px; font-weight:normal; color:#006699; text-decoration:underline;outline:none;}
a.standard:hover		{ font-size:11px; font-weight:normal; color:#0287ca; text-decoration:underline;outline:none;}
select					{ background-color:#FEFEFE; font-family:inherit; font-size:11px; font-weight:normal; color:#333333; text-indent:1px;}
select option			{ text-indent:6px; }
.field 					{ border:1px #000000 solid; background-color:#FEFEFE; font-family:inherit; font-size:11px; font-weight:normal; color:#333333; padding:2px; border-color:#555555;}
.condensedBtn			{ padding:0; font-family:inherit; font-size:11px; font-weight:normal;}
						/* textfields */

/* navigation bar container */
#nav_contain     { width: 100%; height: 100%; float: left; margin: 0; padding: 0; background: url(nav_gradient_dark.gif) 0 0 repeat-x; }
#nav_contain span:after { content: url(nav_divider.gif); width: 2px; height: 100%; padding: 0; margin: 0;}
#nav_contain li { display: inline; margin: 0; padding: 0; float: left; list-style-image: url(nav_divider.gif); height: 100%; width: auto; }

/* unselected navigation tab */
.nav_btn a                     { font-weight: bold; font-size: 12px; font-family: sans-serif;  margin: 0; float: left; padding: 6px 25px; width: auto; text-align: center; float: left; color: #ffffff;  text-decoration: none;}
.nav_btn a:visited { color: #fffffc; text-decoration: none;}
.nav_btn a:linked { color: #fffffc; text-decoration: none;}
.nav_btn a:hover {  color: #ffcc00; text-decoration: none; }

/* selected navigation tab */
.nav_btn_selected a                   { font-weight: bold; font-size: 12px; font-family: sans-serif; float: left; margin: 0; padding: 6px 25px; width: auto; text-align: center; float: left; color: #ffffff;  text-decoration: none; background: url(nav_gradient_yellow.gif) 0 0 repeat-x;}
.nav_btn_selected a:visited {  color: #fffffc; text-decoration: none;}
.nav_btn_selected a:linked {  color: #fffffc; text-decoration: none;}
.nav_btn_selected a:hover {  color: #ffcc00; text-decoration: none;}

/* navigation bar divider */
#nav_div { background: url(nav_divider.gif) 0 0 no-repeat; float: left; #width: 2px; #height: 100%; #padding: 0; #margin: 0; }

/* inner iframe for the navigation bar page */
#navBarIframe {height:900px; width: 760px; overflow-x: auto; overflow-y: auto; }


/* gray subheader background for Account Details and My Activities page  */
div.graySubHeader         { position:relative; top:10px; background:url(grayHeader.gif) repeat-x; height:22px;}

/* gray subheader text for Account Details and My Activities page   */
.grayHeaderTxt              { font-weight:bold; font-size:12px; color:#ffffff;}
.grayBoxTxtPos                         { position:relative; margin-left:20px; top:2px; }

/* my activities table */
.myActivitiesTable {border-right:1px solid; border-bottom:1px solid; border-color: #cccccc; }
.myActivitiesTable td { padding:5px 0px 5px 5px; }


/* body for each subsection tables in Account Details page */
div#acctDetsSet                { padding:20px 20px 10px 20px;}
div#acctDetsSet td         { padding:3px 3px 3px 0;}

/* labels within the subsection tables in Account Details page */
.acctDetsLabel                          { font-weight:bold; }

/* values within the subsection table in Account Details page */
.acctDetsValue                          { color:#800000 ; }

/* edit link within the subsection tables in Account Details page */
.editLink                        {  float:right;}

/* address label for acctDetails page in Account Details page */
.addrLabel                     { vertical-align:top;}

/* Account Details update success box */
.acctDetsSuccessTable { border:2px solid; background:#FFFFE0; border-color: green; margin:20px 20px 0px 10px; width:94% }
.acctDetsSuccessTable td { padding:10px 0px 10px 15px; }

/* Account Details update success box icon */
.acctDetscheckMark      { background:url(signup_check.gif) no-repeat;  width:41px; height:35px;}

/* Account Details update success box text */
.acctDetsSuccessTxt     { color:#336600; font-weight:bold; font-size:12px; text-align:left; width:100%} /* success text when complete pathway */

/* Account Details update extra info  */
.extraInfo                       { color:#892d2d; font-size: 11px; font-weight: normal; }

/* scrollable area */
div#scroll {   overflow: auto; }  /* test: height:530px; */

/* light signup form email field */
.emailFieldWidth                       {width:110px;}
