      <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
      <style amp-custom>
        :root {
          --color-primary: #005AF0;
          --color-text-light: #fff;
          --color-text-dark: #000;
          --color-bg-light: #FAFAFC;

          --space-1: .5rem;  /* 8px */
          --space-2: 1rem;   /* 16px */

          --box-shadow-1: 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 1px -1px rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
          }
          .figure {
            margin: var(--space-2) 0;
            padding: 0;
          }
          .figure>figcaption{
            padding: var(--space-1) var(--space-2);
          }
          .heading {
            padding-bottom: var(--space-1);
          }
          .heading h1 {
            font-size: 3rem;
            line-height: 3.5rem;
            margin-bottom: var(--space-2);
          }
          .heading > #summary {
            font-weight: 500;
          }
          .heading > small {
            color: var(--color-primary);
          }
          .related {
            background-color: var(--color-bg-light);
            margin: var(--space-2);
            display: flex;
            color: var(--color-text-dark);
            padding: 0;
            box-shadow: var(--box-shadow-1);
            text-decoration: none;
          }
          .related > span {
            font-weight: 400;
            margin: var(--space-1);
          }
          .related:hover {
            background-color: var(--color-bg-light);
          }
/***custom*/
body {
    font-family: "Lato";
	font-weight: normal;
    color: #222;
}
.maincontent{ padding: 20px 0px;}

.headline h1 {
    border: 0;
    color: #1e74b9;
    line-height: 1em;
    font-family: 'Lato', sans-serif;
}
.headline h1, .headline h2, .headline h3, .headline h4 {
    margin: 0 0 -3px;
    padding-bottom: 12px;
    display: inline-block;
}
h1 {
    font-size: 38px;
}

p {
    margin-bottom: 1.7em;
}
li, p {
    line-height: 1.6em;
}
p {
    margin: 0 0 10px;
        margin-bottom: 10px;
}
#top {
    height: 90px;
    padding-top: 0;
    background: #1571ba;
    width: 100%;
    overflow: hidden;
    z-index: 3500;
    position: relative;
    border-bottom: 1px solid #3785c4;
}

#top .container {
    position: relative;
	margin: 0 auto;
    max-width: 200px;
    height: auto;
    padding: 25px;
}


#top .logo {
    z-index: 1;
    display: block;
    padding: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}
a, a:active, a:focus, a:hover {
    outline: 0 ;
    color: #1b5f95;
    font-weight: 400;
    text-decoration: none;
}
a:active, a:hover {
    outline: 0;
}
a {
    color: #428bca;
    text-decoration: none;
}
#top .logo img {
    padding: 0;
    width: auto;
    max-height: 52px;
    margin: 20px 0 0
}

#top .logo-sm {
    display: none
}

#top .logo-sm img {
    margin: 8px 10px 0 0
}

.copyright {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 0 5px;
    background: #003158;
    height: 40px;
    color: #376890;
    display: table;
    width: 100%;
}

.copyright span.brand {
    margin-top: 40px;
    margin-right: 10px;
}
.copyright span {
    color: #dadada;
}
.copyright a {
    margin: 0;
    color: #ffffff;
}
.copyright a:hover {
    margin: 0;
    color: #ffffff;
}
.whitelink{ color: #ffffff; }
.blog-date, .news-date, .story .news-date {
    margin-top: 6px;
    font-size: 14px;
    color: #999;
}

/*
.container {
    margin: 0 auto;
    height: auto;
    padding: 0 25px 0 25px;
}

@media screen and (min-width: 1200px) {
.container {
    max-width: 1170px;
}
} */
/*******social*/


.clearfix:after, .clearfix:before{ display:table; content:""}
.clearfix:after, .clearfix:before{ clear:both; }


.apss-social-share a:hover, .apss-social-share a:focus {
    color: #636363;
}

.entry-content .apss-social-share a {
    border-bottom: none;
}

.entry-content .apss-social-share a {
    text-decoration: none;
}

.apss-social-share {
    font-family: 'Open Sans', sans-serif;
}

.apss-social-share a:hover {
    text-decoration: none;
}

.apss-social-share a {
    text-decoration:none;
}

.apss-total-share-count{
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}

.apss-count-number{
    font-size: 28px;
    display: inline-block;
    vertical-align: top;
}

  .apss-total-shares{    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
    margin-top: 11px;}

   .apss-total-text{
    display: block;
    line-height: 9px;
}

.apss-theme-2 .apss-share{
	display:none;
}

.apss-theme-2 .apss-single-icon a{
	position: relative;
	display: block;
    float: left;
    margin: 10px 8px;
    color:#fff;
}

.apss-theme-2 .apss-icon-block{
	font-size:14px;
    position: relative;
    min-width: 207px;
}

.apss-theme-2 .apss-single-icon .fa{
	color: #fff;
    font-size: 20px;
    line-height: 29px;
    min-width: 38px;
    vertical-align: top;
    padding: 3px 0;
    position:relative;
    height:35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    transition: all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.apss-theme-2 .apss-single-icon .fa:before{
	left: 55%;
    margin-left: -19px;
    position: absolute;
    text-align: center;
    width: 35px;
    transform:rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg); 

    transition: all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.apss-theme-2 .apss-single-icon a:hover .fa:before{
    transform:rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);  
}

.apss-theme-2 .apss-social-text {
    display: inline-block;
    line-height: 29px;
    vertical-align: middle;
    padding: 3px 9px;
    margin:0 0 0 -4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.apss-theme-2 .apss-facebook .fa{
	border-right:1px solid #28447d;
}

.apss-theme-2 .apss-facebook .apss-social-text {
	border-left:1px solid #476dbe;
}


.apss-facebook .apss-icon-block{
	background-color:#3b5998;
}

.apss-twitter .apss-icon-block{
	background-color:#1dcaff;
}

.apss-theme-2 .apss-twitter .fa{
	border-right:1px solid #1ca2cb;
}

.apss-theme-2 .apss-twitter .apss-social-text {
	border-left:1px solid #77dfff;
}

.apss-google-plus .apss-icon-block{
	background-color:#dd4b39;
}

.apss-theme-2 .apss-google-plus .fa{
	border-right:1px solid #b73c2c;
}

.apss-theme-2 .apss-google-plus .apss-social-text {
	border-left:1px solid #f57060;
}

.apss-pinterest .apss-icon-block{
	background-color:#C92228;
}

.apss-theme-2 .apss-pinterest .fa{
	border-right:1px solid #a23034;
}

.apss-theme-2 .apss-pinterest .apss-social-text {
	border-left:1px solid #c84146;
}

.apss-linkedin .apss-icon-block{
	background-color:#3f729b;
}

.apss-theme-2 .apss-linkedin .fa{
	border-right:1px solid #365a76;
}

.apss-theme-2 .apss-linkedin .apss-social-text {
	border-left:1px solid #5391c2;
}

.apss-digg .apss-icon-block{
	background-color:#2169a8;
}

.apss-theme-2 .apss-digg .fa{
	border-right:1px solid #1f588a;
}

.apss-theme-2 .apss-digg .apss-social-text {
	border-left:1px solid #3785ca;
}

.apss-print .apss-icon-block{
	background-color:#5e5959;
}

.apss-theme-2 .apss-print .fa{
	border-right:1px solid #474747;
}

.apss-theme-2 .apss-print .apss-social-text {
	border-left:1px solid #696161;
}

.apss-email .apss-icon-block{
	background-color:#8f8f8f;
}

.apss-theme-2 .apss-email .fa{
	border-right:1px solid #717171;
}

.apss-theme-2 .apss-email .apss-social-text {
	border-left:1px solid #a1a1a1;
}

.apss-theme-2 .count {
    background-color: #f7f7f7;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    color: #666666;
    font-size: 14px;
    line-height: 1;
    min-width: 55px;
    opacity: 0;
    filter: alpha(opacity=0);/*ie8*/
    padding: 10px 5px;
    position: absolute;
    right:0px;
    text-align: center;
    top: 0;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.apss-theme-2 .apss-single-icon a:hover .count {
	opacity:1;
	 filter: alpha(opacity=100);/*ie8*/
	 right: -67px;
}

.apss-theme-2 .apss-single-icon.apss-print a:hover .count{
	display:none;
}

.apss-theme-2 .apss-single-icon.apss-email a:hover .count{
	display:none;
}

/******************/
.navicon{ font-size: 30px; margin:0px 0px 0px 0px; /*padding: 10px; padding-bottom: 11px;*/}
.navbar-header
		{
		  display: block;
		  position: absolute;
		  top: 5px;
		  left: 0;
		  z-index: 1;
		  -webkit-user-select: none;
		  user-select: none;
		  float: right;
		  padding: 20px 10px 16px 20px;
		}

		.navbar-header span
		{
		  display: block;
		  width: 28px;
		  height: 20px;
		  margin-bottom: 5px;
		  position: relative;
		  z-index: 1;
		  color: #ffffff;
		  transform-origin: 4px 0px;
		  transition: transform 0.25s cubic-bezier(0.77,0.2,0.05,1.0),
		              background 0.25s cubic-bezier(0.77,0.2,0.05,1.0),
		              opacity 0.25s ease;
		}

		/*sidebar*/
		amp-sidebar {
			width: 100%;
			padding: 20px 30px 40px 60px;
    		color: #FFFFFF;
	        box-shadow: 0px 5px 8px #333;
	        background: #1571ba; /* Old browsers */
	        background: -moz-linear-gradient(top, #104B77 65%, #104B77 100%); /* FF3.6+ */
	        background: -webkit-gradient(linear, left top, left bottom, color-stop(65%,#104B77), color-stop(100%,#104B77)); /* Chrome,Safari4+ */
	        background: -webkit-linear-gradient(top, #104B77 65%,#104B77 100%); /* Chrome10+,Safari5.1+ */
	        background: -o-linear-gradient(top, #104B77 65%,#104B77 100%); /* Opera 11.10+ */
	        background: -ms-linear-gradient(top, #104B77 65%,#104B77 100%); /* IE10+ */
	        background: linear-gradient(to bottom, #104B77 65%,#104B77 100%); /* W3C */
	    }

	    amp-sidebar ul {
	    	margin-top: 30px;
	    	list-style-type: none;
	    }
	    amp-sidebar ul li {

		    margin-bottom: 30px;
		}
		amp-sidebar ul li a:link, amp-sidebar ul li a:visited {
	    	color: #FFFFFF;
	    }
	    .navigation_close_button {
	    	font-size: 30px;
		    position: absolute;
		    right: 10px;
		    top: 0;
		    padding: 10px;
	    }
		/*END sidebar*/

.latestnews{ padding: 0px; }
.latestnews .latestcontainer{ /*max-width: 500px;  margin:0 auto;*/ }
.widget-box, .widget {
    margin: 20px 0 0px;
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border: 1px solid #dbecf2;
}
.widget-box .head-box, .widget-box .panel-heading, .widget .head-box, .widget .panel-heading {
    color: #ffffff;
    background: #1e74b9;
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    padding: 10px 20px;
    text-align: left;
}
.widget-box .head-box h3, .widget-box .panel-heading h3, .widget .head-box h3, .widget .panel-heading h3 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
}
 .rpwe-block ul{list-style:none;margin-left:0;padding-left:0;}.rpwe-block li{border-bottom:1px solid #eee;margin-bottom:10px;padding-bottom:10px;list-style-type: none;}.rpwe-block a{display:inline;text-decoration:none;}.rpwe-block h3{font-family: 'Lato', sans-serif; background:none;clear:none;margin-bottom:0;margin-top:0;font-weight:bolder;font-size:14px;line-height:1.5em;}.rpwe-thumb{border:1px solid #EEE;box-shadow:none;margin:2px 10px 2px 0;padding:3px;}.rpwe-summary{font-size:12px;}.rpwe-time{color:#bbb;font-size:11px;}.rpwe-comment{color:#bbb;font-size:11px;padding-left:5px;}.rpwe-alignleft{display:inline;float:left;}.rpwe-alignright{display:inline;float:right;}.rpwe-aligncenter{display:block;margin-left: auto;margin-right: auto;}.rpwe-clearfix:before,.rpwe-clearfix:after{content:"";display:table;}.rpwe-clearfix:after{clear:both;}.rpwe-clearfix{zoom:1;} .rpwe-container{ width:50px; height: 50px; float:left; } .widget .textwidget, .widget .rpwe-block { padding: 15px;} .widget-box p, .widget p {font-size: 14px;} p { margin-bottom: 1.7em;}
 #email-subscribers-custom .showafterform, #email-subscribers-2 .showafterform {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
    padding: 0px 20px 10px;
}
form.amp-form-submit-success > input {
  display: none;
}
form.amp-form-submit-success .es_textbox, form.amp-form-submit-success .es_lablebox, form.amp-form-submit-success .es_button{
  display: none;
}

#email-subscribers-custom .es_lablebox, #email-subscribers-2 .es_lablebox {
    padding-top: 3px;
    padding-bottom: 3px;
}
#email-subscribers-custom .es_textbox, #email-subscribers-2 .es_textbox {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
}
#email-subscribers-custom .es_button, #email-subscribers-2 .es_button {
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}
#email-subscribers-custom .es_button .es_textbox_button, #email-subscribers-2 .es_button .es_textbox_button {
    background: #d21428;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    font-weight: 500;
}
#email-subscribers-custom .es_textbox .es_textbox_class, #email-subscribers-2 .es_textbox .es_textbox_class {
    border-radius: 3px;
    border: 1px solid #DCE0E3;
    width: 100%;
	padding-top: 5px;
    padding-bottom: 5px;
}


 
/*footer*/
.footer {
    color: #555;
    margin-top: 40px;
    padding: 30px 0 10px;
    background: #f5f5f5;
    display: table;
    width: 100%
}

.footer ul li {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0
}

.footer a,
.footer a:hover {
    color: #1B5F95
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5 {
    background: none;
    text-shadow: none;
    border: 0
}

.footer p,
.footer a {
    font-size: 14px
}

.footer p {
    color: #dadada
}

.footer a {
    color: #555
}

.footer .headline {
    margin-bottom: 15px
}

.footer .friends {
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 20px;
    border-top: 1px dotted #b3b8bb
}

.footer .friends > div {
    padding: 0;
    display: table;
    table-layout: fixed
}

.footer .friends .logos {
    width: auto;
    margin: 0 auto;
    overflow: hidden
}

.footer .friends a {
    list-style: none;
    margin: 0;
    height: 75px;
    display: table-cell;
    background-position: center 0;
    background-repeat: no-repeat
}

.footer .friends a:hover {
    background-position: center -75px
}

.footer .friends a.ntra {
    background: url(../../../img/logo-ntra.gif) no-repeat
}

.footer .friends a.bloodhorse {
    background: url(../../../img/logo-bloodhorse.gif) no-repeat
}

.footer .friends a.jockeyclub {
    background: url(../../../img/logo-jockeyclub.gif) no-repeat
}

.footer .friends a.usta {
    background: url(../../../img/logo-usta.gif) no-repeat
}

.footer .friends a.equibase {
    background: url(../../../img/logo-equibase.gif) no-repeat
}

.footer .friends a.amazon {
    background: url(../../../img/logo-amazon.gif) no-repeat
}

.footer .friends a.ga {
    background: url(../../../img/logo-gamblersanonymous.gif) no-repeat
}

.footer .friends a.credit {
    background: url(../../../img/logo-visa-mastercard.gif) no-repeat
}

.footer .friends a.us {
    background: url(../../../img/usracing-tvg.gif) no-repeat
}

.footer .col-md-3 {
    clear: none
}

.social-icons {
    margin: 0;
    padding: 0
}

.social-icons li {
    float: left;
    display: inline;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 5px;
    text-indent: -9999px
}

.social-icons li a,
a.social-icon {

}

.social-icons li:hover a {
    background-position: 0 -43px
}

.social_facebook {
    background-position: 0 0
}

.social-icons li:hover .social_facebook {
    background-position: 0 -43px
}

.social_twitter {
	    background: url(../../../img/icons/social-icons.png) left top no-repeat;
    width: 33px;
    height: 33px;
    display: block;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    background-position: -40px 0;
}

.social-icons li:hover .social_twitter {
    background-position: -40px -43px;
}

.social-icons .social_pintrest a {
    background-size: auto;
    background-image: url(../../../img/icons/social-icons1.png);
    width: 33px;
    height: 33px;
    background-position: -80px 0
}

.social-icons li.social_pintrest:hover a {
    background-position: -80px -43px
}

.social_google {
    background-position: -120px 0
}

.social-icons li:hover .social_google {
    background-position: -120px -43px
}

.social_email {
    background-position: -160px 0
}

.social-icons li:hover .social_email {
    background-position: -160px -43px
}

.social_instagram {
	background: url(../../../img/icons/social-icons.png) left top no-repeat;
    width: 33px;
    height: 33px;
    display: block;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
	background-position: -200px 0
}
.social-icons li:hover .social_instagram {
	background-position: -200px -43px
}
 
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
 
 
/*custom 2*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {

  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1230px) {
  .container {
    width: 1200px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,  .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;  
  padding-right: 15px;
}
@media (min-width: 992px) {
.col-sm-3, .col-md-3, .col-lg-3 {   position: relative;
  min-height: 1px;
  padding-left: 15px; padding-right: 0px; } }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;

}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none;
}
.affix {
  position: fixed;
}
.wp-caption {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    max-width: 350px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 5px;
	text-align:center;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
/*sandbox */
.saboxplugin-wrap {
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 -ms-box-sizing:border-box;
 box-sizing:border-box;
 border:1px solid #eee;
 width:100%;
 clear:both;
 display:block;
 overflow:hidden;
 word-wrap:break-word;
 position:relative
}
.saboxplugin-wrap .saboxplugin-gravatar {
 float:left;
 padding:20px;
}
.saboxplugin-wrap .saboxplugin-gravatar img {
 max-width:100px;
 height:auto;
 border-radius:0;
}
.saboxplugin-wrap .saboxplugin-authorname {
 font-size:18px;
 line-height:1;
 margin:20px 0 0 20px;
 display:block
}
.saboxplugin-wrap .saboxplugin-authorname a {
 text-decoration:none
}
.saboxplugin-wrap .saboxplugin-authorname a:focus {
 outline:0
}
.saboxplugin-wrap .saboxplugin-desc {
 display:block;
 margin:5px 20px
}
.saboxplugin-wrap .saboxplugin-desc a {
 text-decoration:underline
}
.saboxplugin-wrap .saboxplugin-desc p {
 margin:5px 0 12px
}
.saboxplugin-wrap .saboxplugin-web {
 margin:0 20px 15px;
 text-align:left
}
.saboxplugin-wrap .sab-web-position {
 text-align:right
}
.saboxplugin-wrap .saboxplugin-web a {
 color:#ccc;
 text-decoration:none
}
.saboxplugin-wrap .saboxplugin-socials {
 position:relative;
 display:block;
 background:#fcfcfc;
 padding:5px;
 border-top:1px solid #eee
}
.saboxplugin-wrap .saboxplugin-socials a svg {
 width:20px;
 height:20px
}
.saboxplugin-wrap .saboxplugin-socials a svg .st2 {
 fill:#fff
}
.saboxplugin-wrap .saboxplugin-socials a svg .st1 {
 fill:rgba(0,0,0,.3)
}
.saboxplugin-wrap .saboxplugin-socials a:hover {
 opacity:.8;
 -webkit-transition:opacity .4s;
 -moz-transition:opacity .4s;
 -o-transition:opacity .4s;
 transition:opacity .4s;
 box-shadow:none;
 -webkit-box-shadow:none;
}
.saboxplugin-wrap .saboxplugin-socials .saboxplugin-icon-color {
 box-shadow:none;
 padding:0;
 border:0;
 -webkit-transition:opacity .4s;
 -moz-transition:opacity .4s;
 -o-transition:opacity .4s;
 transition:opacity .4s;
 display:inline-block;
 color:#fff;
 font-size:0;
 text-decoration:inherit;
 margin:5px;
 -webkit-border-radius:0;
 -moz-border-radius:0;
 -ms-border-radius:0;
 -o-border-radius:0;
 border-radius:0;
 overflow:hidden
}
.saboxplugin-wrap .saboxplugin-socials .saboxplugin-icon-grey {
 text-decoration:inherit;
 box-shadow:none;
 position:relative;
 display:-moz-inline-stack;
 display:inline-block;
 vertical-align:middle;
 zoom:1;
 margin:10px 5px;
 color:#444
}
.clearfix:after,
.clearfix:before {
 content:' ';
 display:table;
 line-height:0;
 clear:both
}
.ie7 .clearfix {
 zoom:1
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-twitch {
 border-color:#38245c
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-addthis {
 border-color:#e91c00
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-behance {
 border-color:#003eb0
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-delicious {
 border-color:#06c
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-deviantart {
 border-color:#036824
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-digg {
 border-color:#00327c
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-dribbble {
 border-color:#ba1655
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-facebook {
 border-color:#1e2e4f
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-flickr {
 border-color:#003576
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-github {
 border-color:#264874
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-google {
 border-color:#0b51c5
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-googleplus {
 border-color:#96271a
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-html5 {
 border-color:#902e13
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-instagram {
 border-color:#1630aa
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-linkedin {
 border-color:#00344f
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-pinterest {
 border-color:#5b040e
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-reddit {
 border-color:#992900
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-rss {
 border-color:#a43b0a
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-sharethis {
 border-color:#5d8420
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-skype {
 border-color:#00658a
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-soundcloud {
 border-color:#995200
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-spotify {
 border-color:#0f612c
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-stackoverflow {
 border-color:#a95009
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-steam {
 border-color:#006388
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-user_email {
 border-color:#b84e05
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-stumbleUpon {
 border-color:#9b280e
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-tumblr {
 border-color:#10151b
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-twitter {
 border-color:#0967a0
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-vimeo {
 border-color:#0d7091
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-windows {
 border-color:#003f71
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-wordpress {
 border-color:#0f3647
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-yahoo {
 border-color:#14002d
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-youtube {
 border-color:#900
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-xing {
 border-color:#000202
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-mixcloud {
 border-color:#2475a0
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-vk {
 border-color:#243549
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-medium {
 border-color:#00452c
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-quora {
 border-color:#420e00
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-meetup {
 border-color:#9b181c
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-goodreads {
 border-color:#000
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-snapchat {
 border-color:#999700
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-500px {
 border-color:#00557f
}
.saboxplugin-socials.sabox-colored .saboxplugin-icon-color .sab-mastodont {
 border-color:#185886
}
.sabox-plus-item {
 margin-bottom:20px
}
@media screen and (max-width:480px) {
 .saboxplugin-wrap {
  text-align:center
 }
 .saboxplugin-wrap .saboxplugin-gravatar {
  float:none;
  padding:20px 0;
  text-align:center;
  margin:0 auto;
  display:block
 }
 .saboxplugin-wrap .saboxplugin-gravatar img {
  float:none;
  display:inline-block;
  display:-moz-inline-stack;
  vertical-align:middle;
  zoom:1
 }
 .saboxplugin-wrap .saboxplugin-desc {
  margin:0 10px 20px;
  text-align:center
 }
 .saboxplugin-wrap .saboxplugin-authorname {
  text-align:center;
  margin:10px 0 20px
 }
}
body .saboxplugin-authorname a,
body .saboxplugin-authorname a:hover {
 box-shadow:none;
 -webkit-box-shadow:none
}
a.sab-profile-edit {
 font-size:16px;
 line-height:1;
}
.sab-edit-settings a,
a.sab-profile-edit {
 color:#0073aa;
 box-shadow:none;
 -webkit-box-shadow:none;
}
.sab-edit-settings {
 margin-right:15px;
 position:absolute;
 right:0;
 z-index:2;
 bottom:10px;
 line-height:20px
}
.sab-edit-settings i {
 margin-left:5px
}
.saboxplugin-socials {
 line-height:1;
}
.rtl .saboxplugin-wrap .saboxplugin-gravatar {
 float:right
}
.rtl .saboxplugin-wrap .saboxplugin-authorname {
 display:flex;
 align-items:center
}
.rtl .saboxplugin-wrap .saboxplugin-authorname .sab-profile-edit {
 margin-right:10px
}
.rtl .sab-edit-settings {
 right:auto;
 left:0
}
img.sab-custom-avatar {
 max-width:75px;
}
.saboxplugin-wrap .saboxplugin-gravatar img {
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 -ms-border-radius:50%;
 -o-border-radius:50%;
 border-radius:50%;
}
.saboxplugin-wrap .saboxplugin-socials .saboxplugin-icon-color .st1 {
 display: none;
}
.saboxplugin-wrap .saboxplugin-socials .saboxplugin-icon-color svg {
 border-width: 1px;
 border-style:solid;
}
.saboxplugin-wrap {
 margin-top:0px;
 margin-bottom:0px;
 padding: 0px 0px 
}
.saboxplugin-wrap .saboxplugin-authorname {
 font-size:18px;
 line-height:25px;
}
.saboxplugin-wrap .saboxplugin-desc p,
.saboxplugin-wrap .saboxplugin-desc {
 font-size:14px;
 line-height:21px;
}
.saboxplugin-wrap .saboxplugin-web {
 font-size:14px;
}
.saboxplugin-wrap .saboxplugin-socials a svg {
 width:36px;
 height:36px;
}
/**ilist page */
.featured-news {
    padding: 0px 0 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.featured-news .img-featured{
	max-height: 600px;
	height: 600px;
	position:relative;
	overflow:hidden;
	width: 100%;
} 
.featured-news .img-featured amp-img {
    width: 100%;
	height:auto;
	max-height: 600px;
	object-fit: cover;
}
/* .featured-news .img-featured amp-img.contain img {
      object-fit: contain;
    } */
/*@media screen and (max-width: 1024px) {
.featured-news .img-featured{
	max-height: 450px;
	height: 450px;
}
}*/

@media screen and (max-width: 449px) {
 .featured-news .img-featured{
	max-height: 250px;
	height: 225px;
}
}	
	
.featured-news .info-news, .featured-news .entry-meta {
    overflow: hidden;
    margin: 2px 0;
}
.featured-news .desc-featured {
    font-size: 16px;
    color: #222;
}
.featured-news .desc-featured h1 {
    color: #1e74b9;
    font-weight: 500;
    line-height: 1.2em;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
	text-decoration:none;
}
.featured-news .info-news span.category, .featured-news .info-news span.cat-links, .featured-news .entry-meta span.category, .featured-news .entry-meta span.cat-links {
    float: left;
    color: #079fed;
}
.featured-news .info-news span.category ul, .featured-news .info-news span.cat-links ul, .featured-news .entry-meta span.category ul, .featured-news .entry-meta span.cat-links ul {
    padding: 0;
    margin: 0;
}
.featured-news .info-news span.category ul li, .featured-news .info-news span.cat-links ul li, .featured-news .entry-meta span.category ul li, .featured-news .entry-meta span.cat-links ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.featured-news .postedby-featured .img-postedby, .featured-news .postedby-featured .entry_author_image {
    width: 51px;
    height: 51px;
    border: 3px solid #1e74b9;
    background: #1e74b9;
    border-radius: 50%;
    overflow: hidden;
    float: left;
	vertical-align: middle;
	position:relative;
}
.featured-news .postedby-featured .img-postedby img, .featured-news .postedby-featured .entry_author_image img,  .list-news .item-news .postedby-news .entry_author_image img {
    width: 100%;
}
.featured-news .postedby-featured {
    overflow: hidden;
    color: #6684a9;
    font-size: 14px;
    position: relative;
}
.list-news {
    display: block;
    overflow: hidden;
}
.list-news .item-news {
    overflow: hidden;
    margin: 15px 0;
}
.col-medium-6 {
    width: 50%;
    float: left;
}
.col-medium-6, .col-small-12 {
    padding: 0 20px;
}
  @media screen and (max-width: 1024px) {
    .col-medium-6 {
      width: 100%;
      float: none;
      padding: 0 0px; } }
.list-news .item-news .story {
    font-size: 16px;
    color: #222;
    border: 0;
}
.list-news .item-news .img-news {
    max-height: 300px;
    position: relative;
    overflow: hidden;
	/*width:100%; */
    height: 250px; 
}
.list-news .item-news .info-news, .list-news .item-news .entry-meta {
    overflow: hidden;
    padding: 2px 0;
}
.list-news .item-news .img-news amp-img {
    width: 100%;
    height: auto;
}
 .list-news .item-news .img-news amp-img.contain img {
      object-fit: contain;
    } 
.list-news .item-news .info-news, .list-news .item-news .entry-meta {
    overflow: hidden;
    padding: 2px 0;
}
.list-news .item-news .info-news span.category, .list-news .item-news .info-news span.cat-links, .list-news .item-news .entry-meta span.category, .list-news .item-news .entry-meta span.cat-links {
    float: left;
    color: #079fed;
    font-size: 14px;
}
.list-news .item-news .info-news span, .list-news .item-news .entry-meta span {
    display: inline-block;
}
.list-news .item-news .story .blog-title {
    color: #1e74b9;
    font-weight: 500;
    line-height: 1.2em;
    font-size: 22px;
    margin: 15px 0;
}
.list-news .item-news .postedby-news {
    overflow: hidden;
    color: #6684a9;
    font-size: 14px;
    margin-bottom: 14px;
    position: relative;
}
.list-news .item-news .postedby-news .img-postedby, .list-news .item-news .postedby-news .entry_author_image {
    width: 51px;
    height: 51px;
    border: 3px solid #1e74b9;
    background: #1e74b9;
    border-radius: 50%;
    overflow: hidden;
    float: left;
	position: relative;
}
.list-news .item-news .postedby-news .entry_author_image amp-img {
      width: 100%;
	  height:auto;
    } 
.list-news .item-news .postedby-news .entry_author_image amp-img.entry_author_image img {
      object-fit: contain;
    } 
.list-news .item-news .postedby-news .info-postedby {
    padding: 10px;
    font-weight: bold;
    width: 75%;
    line-height: 1.5em;
    position: absolute;
    top: 50%;
    left: 51px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.featured-news .postedby-featured .info-postedby {
    padding: 10px;
    font-weight: bold;
    line-height: 1.5em;
    position: absolute;
    top: 50%;
    left: 51px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.featured-news .postedby-featured .info-postedby span.name-post {
    color: #079fed;
}
.featured-news .postedby-featured .info-postedby span.date-posts {
    display: block;
}
.wp-pagenavi {
    margin-bottom: 30px;
}
.wp-pagenavi {
    clear: both;
}
.wp-pagenavi a, .wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #BFBFBF;
    padding: 3px 5px;
    margin: 2px;
}
.wp-pagenavi a, .wp-pagenavi span.current {
    text-decoration: none;
}
.wp-pagenavi span.current {
    font-weight: bold;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
    border-color: #000;
}
.row_post:before,
.row_post:after {
  content: " ";
  display: table;
}
.row_post:after {
  clear: both;
}
.row_post {
    margin-left: auto;
    margin-right: auto;
}
.size-large {
    margin-top: 10px;
    margin-bottom: 10px;
}
table {
    max-width: 100%;
    background-color: transparent
}

th {
    text-align: left
}

.table {
    width: 100%;
    margin-bottom: 20px
}

.table tbody>tr>td,
.table tbody>tr>th,
.table tfoot>tr>td,
.table tfoot>tr>th,
.table thead>tr>td,
.table thead>tr>th {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd
}

.table thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

.table caption+thead tr:first-child td,
.table caption+thead tr:first-child th,
.table colgroup+thead tr:first-child td,
.table colgroup+thead tr:first-child th,
.table thead:first-child tr:first-child td,
.table thead:first-child tr:first-child th {
    border-top: 0
}

.table tbody+tbody {
    border-top: 2px solid #ddd
}

.table .table {
    background-color: #fff
}

.table-condensed tbody>tr>td,
.table-condensed tbody>tr>th,
.table-condensed tfoot>tr>td,
.table-condensed tfoot>tr>th,
.table-condensed thead>tr>td,
.table-condensed thead>tr>th {
    padding: 5px
}

.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #ddd
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-bottom-width: 2px
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: #f5f5f5
}

table col[class*=col-] {
    float: none;
    display: table-column
}

table td[class*=col-],
table th[class*=col-] {
    float: none;
    display: table-cell
}

.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
    background-color: #f5f5f5
}

.table>tbody>tr.success>td,
.table>tbody>tr.success>th,
.table>tbody>tr>td.success,
.table>tbody>tr>th.success,
.table>tfoot>tr.success>td,
.table>tfoot>tr.success>th,
.table>tfoot>tr>td.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>thead>tr.success>th,
.table>thead>tr>td.success,
.table>thead>tr>th.success {
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.table-hover>tbody>tr.success:hover>td,
.table-hover>tbody>tr>td.success:hover,
.table-hover>tbody>tr>th.success:hover {
    background-color: #d0e9c6;
    border-color: #c9e2b3
}

.table>tbody>tr.danger>td,
.table>tbody>tr.danger>th,
.table>tbody>tr>td.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr.danger>td,
.table>tfoot>tr.danger>th,
.table>tfoot>tr>td.danger,
.table>tfoot>tr>th.danger,
.table>thead>tr.danger>td,
.table>thead>tr.danger>th,
.table>thead>tr>td.danger,
.table>thead>tr>th.danger {
    background-color: #f2dede;
    border-color: #eed3d7
}

.table-hover>tbody>tr.danger:hover>td,
.table-hover>tbody>tr>td.danger:hover,
.table-hover>tbody>tr>th.danger:hover {
    background-color: #ebcccc;
    border-color: #e6c1c7
}

.table>tbody>tr.warning>td,
.table>tbody>tr.warning>th,
.table>tbody>tr>td.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr.warning>td,
.table>tfoot>tr.warning>th,
.table>tfoot>tr>td.warning,
.table>tfoot>tr>th.warning,
.table>thead>tr.warning>td,
.table>thead>tr.warning>th,
.table>thead>tr>td.warning,
.table>thead>tr>th.warning {
    background-color: #fcf8e3;
    border-color: #fbeed5
}

.table-hover>tbody>tr.warning:hover>td,
.table-hover>tbody>tr>td.warning:hover,
.table-hover>tbody>tr>th.warning:hover {
    background-color: #faf2cc;
    border-color: #f8e5be
}
@media only screen and (min-width:800px) {
#no-more-tables td {
	text-align: center;
}
}
@media only screen and (max-width:800px) {
#no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr {
	display: block
}
#no-more-tables thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px
}
#no-more-tables tr {
	border: 1px solid #ccc;
	margin-bottom: 5px
}
#no-more-tables td {
	border: 0;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 50%;
	white-space: normal;
	text-align: center
}
#no-more-tables td:before {
	position: absolute;
	width: 45%;
	white-space: nowrap;
	text-align: center;
	font-weight: 700;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #1571ba;
	color: #fff;
	content: attr(data-title);
	padding: 5px;
}
#no-more-tables table {
	border: none;
}
}
.table-bordered>thead>tr th {
	background: #1571ba;
	border: 1px solid #ccc;
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
	color: #fff;
	text-align: center
}
#sortTable th {
	cursor: pointer
}

@media screen and (max-width: 800px) {

	.newtabe-caption {display: block;}
	.newtable-footer{display: block;}

}

        </style>