 body {
     background-image: url( ../img/background.jpg);
     background-color: #2d2d2d;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover!important;
     background-attachment: fixed;
 }
 body:after {
     content: '';
     position: absolute;
     position: fixed;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     background-color: rgba(0, 9, 14, 0.4);
     -webkit-box-shadow: inset 0px 0px 500px 100px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: inset 0px 0px 500px 100px rgba(0, 0, 0, 0.75);
     box-shadow: inset 0px 0px 500px 100px rgba(0, 0, 0, 0.75);
     background-size: cover!important;
     z-index: -1;
 }

/* header */
.header { padding: 1.2em 0; margin-bottom: 0em !important; }
.logo { max-width:253px; height:auto; }
img.brand { margin-top:12px; }

#docs{
  margin-top: -1em;
  max-height: 120px;
}

/* Elements */
.steps { max-width:866px; margin:45px auto 0 auto; }
.steps img { display:block; margin:0 auto; }

.step-1,
.step-2,
.step-3,
.step-4 {  width:23%; margin: 0 0 0 17px; height:48px; padding-left:40px; padding-top:1px; line-height:23px; font-family:'Oswald', sans-serif; font-weight:400; font-size:20px; color:#fff; text-transform:uppercase; }

.step-1 { background: url(' ../img/step-1.png') no-repeat left center; }
.step-2 { background: url(' ../img/step-1.png') no-repeat left center; }
.step-2 span { color:#c71f24; }
.step-3 { background: url(' ../img/step-1.png') no-repeat left center; }
.step-4 { background: url(' ../img/step-1.png') no-repeat left center; }

.right { float:right; padding-top:10px; }

.marko { position:relative; }
.cta { max-width:700px; margin: -55px auto 0 auto; }

.pro { width:100%; max-width:932px; margin:0 auto; position:absolute; left:0; right:0; z-index:999; }

.pro .cta a { display:block;  content:""; height:45px; width:153px; margin:0 auto;
 background-repeat:none; background-position:left top; background-image:url(' ../img/cta.png'); }
.pro .cta a:hover { background-position:right top; }

/*.grow:hover{
  -webkit-transform: scale(1.1);     -- grow on hover
  -ms-transform: scale(1.1);
  transform: scale(1.08);
}*/

.shield { display:block;  max-width: 680px; height:auto; margin:0 auto; }
.join { margin-top:18px; width:200px; }

/* Footer */
.footer { margin-top: 2em; margin-bottom: 2em; }
.footer ul { padding:0; }
.footer li { display:inline-block; margin-left:5px; height:26px; vertical-align:middle; }

 /* Responsive */
 @media only screen and (max-width: 1200px) {
	  .pro .cta a {  margin:30 auto 30px auto; }
     .header { margin-bottom: 6em; }
     .shield { width:100%; max-width:550px; height:auto; }
 }
 @media only screen and (max-width: 992px) {
      .pro .cta a {  margin:50 auto 30px auto; }
	 .footer li { margin-top: 1em; }
     .shield {
	max-width: 500px;
	margin-top: 11px;
}    
     .step-1,
     .step-2,
     .step-3,
     .step-4 { width:25%; margin:0; }
	
 }
 @media only screen and (max-width: 768px) {
      .pro { display:block; }
	 .pro .cta a {  margin:530 auto 30px auto; }
      .steps { margin:0 auto; max-width:30%; }
      .step-1,
      .step-2,
      .step-3,
      .step-4 { width:100%; margin:10px 0; }
      .logo { margin:0 auto; }
      .header { text-align: center;  }
      .header img { float: none !important; margin: 0 auto; }
 }
 @media only screen and (max-width: 558px) {
      .steps { max-width:50%; }
 }
 @media only screen and (max-width: 480px) {
     body { background-image: url(  ../img/back-mobile.jpg); }
	 .pro .cta a {  margin:450 auto 30px auto;  }
     .footer li { display:block; }
     .steps { max-width:80%; }
	 .pro .cta a { display:block;  content:""; height:45px; width:154px;
 background-repeat:none; background-position:left top; background-image:url('  ../img/cta.png'); }
.pro .cta a:hover { background-position:right top; }

 }
 @media only screen and (max-width: 400px) {
     body { background-image: url(  ../img/back-mobile.jpg); }
	 .pro .cta a {  margin:400 auto 30px auto;  }
     .footer li { display:block; }
     .steps { max-width:80%; }
	 .pro .cta a { display:block;  content:""; height:45px; width:154px; 
 background-repeat:none; background-position:left top; background-image:url('   ../img/cta.png'); }
.pro .cta a:hover { background-position:right top; }

 }
 
 @media only screen and (max-width: 320px) {
     body { background-image: url(  ../img/back-mobile.jpg); }
	 .pro .cta a {  margin:350 auto 30px auto; }
     .footer li { display:block; }
     .steps { max-width:80%; }
	 .pro .cta a { display:block;  content:""; height:45px; width:154px;
 background-repeat:none; background-position:left top; background-image:url(' ../img/cta.png'); }
.pro .cta a:hover { background-position:right top; }

 }

