 
      
      
      
      
      <div id="main" class="container">
<div class="row">


<div id="left-col" class="col-md-9">

          
                                                
                                      
          
<div class="headline"><h1>Virtual Derby - Play for Fun</h1></div>



<div class="content">
<!-- --------------------- content starts here ---------------------- -->


<div class="field field-type-text field-field-body-logged-in">
    
            
             
<div class="virtualderby-box">
<iframe src=http://lobby.sb.betsoftgaming.com/login.do?siteID=7630&game=531&game_mode=free" style="display: block; height:560px;width:755px; margin: 0 auto; padding: 10px 0;" marginheight="0" marginwidth="0" allowtransparency="true"  frameborder="0" scrolling="no"></iframe>
<br><br><center>To Play for Real  >>  <a href="/virtualderby">CLICK HERE</a><br>
To play our Classic Virtual Derby  >> <a href="/virtualderby/classic">CLICK HERE</a></center>
</div>


<!-- <div class="virtualderby-box">
<iframe src="/virtual_derby_play" style="display: block; height:560px;width:755px;  margin: 0 auto; padding: 10px 0;" marginheight="0" marginwidth="0" allowtransparency="true"  frameborder="0" scrolling="no"></iframe>
</div> -->

             

<!-- ------------------------ content ends -------------------------- -->
</div> <!-- end/ content -->
</div> <!-- end/ #left-col -->



<div id="right-col" class="col-md-3">
{*include file='includes/ahr_block-racing-news-right-sidebar.tpl'*} 
</div><!-- end: #right-col --> 

 
</div><!-- end/row -->
</div><!-- /#container --> 


