@charset "UTF-8";
/* CSS Document */

#letterContainer { position:absolute; top:0; left:0; margin:0; padding:0; display:block; width:890px; height:600px; background: url(images/letter-bg3.jpg) top left no-repeat;  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.4); -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.4); 	box-shadow: 0 5px 5px rgba(0,0,0,0.4); font-family:"Helvetica", Arial,Trebuchet MS, sans-serif;  font-size:14px; line-height:17px; }

.mail1 { position:absolute; left:87px; top:356px; width:208px; height:25px; display:block; }

.email #rd_email { position:absolute; left:86px; top:463px; width:238px; height:18px; padding:4px; display:block; background:#fff; border:1px solid #ccc; }

.logoGHB { position:absolute; left:534px; top:435px; width:auto; height:auto; display:block; }
.logoGHB a { width:266px; height:81px; display:block; border:0; background: url(images/logo-ghb.gif) top left no-repeat; text-decoration:none; }
.logoGHB a:hover { background-position: bottom left; cursor:pointer; }

.playnowSubmit { position:absolute; left:342px; top:458px; display:block;  }
.playnowSubmit input { background: url(images/btn-submit.gif) top left repeat-x; width:142px; height:35px; border:0; }
.playnowSubmit input:hover { background-position:bottom left; cursor:pointer; }

.thankYou {  display:none; position:absolute; left:86px; top:443px; background: url(images/thankyou-txt3.jpg) top left repeat-x; width:274px; height:28px; border:0; }