<div id="letterContainer">

<a rel="nofollow" class="mail1" href="mailto:vip@allhorseracing.com" target="_blank"></a>  
 	
<div class="email"><input type="text" name="rd_email" id="rd_email" /></div>
    
<div class="playnowSubmit"><input type="button" name="rd_playnow" id="rd_playnow" value="" /></div>
<div class="thankYou"></div>
    
</div><!-- end: letterContainer -->


<script language="javascript">

	$('#rd_playnow').click(function(){
				
		var state = $('#rd_usresidents').val();
		var step2 = null;
		if(rd_select.enable){
		   //if its not enable we give the TRV a chance, just incase they both share the same state but
			// we prefer TWIN
		   $.each(rd_states_select_,function(index,value){
                        if(state==value)step2='twin';
                   });
		}
		if(rd_general.enable){
		  //if TWIN already got claim then we do not worry
		  $.each(rd_states_,function(index,value){
			if(state==value)step2='trv';
		  });
		}
		
		var email_ = $('#rd_email').val();
		if(email_ !=""){
		 	//var email_ = $('#rd_email').val();
			var param = { email:email_ };			
					   setStep2NS(step2,param);
						 $('.email').css({ display:'none' });
						 $('.playnowSubmit').css({ display:'none' });
						 $('.thankYou').css({ display:'block' });
						// window.location = rd_internationalURL;
		}else alert('Oops, did you forget your email address?');

	});	
</script>
