<div id="RDstepContainer2">

	<div id="usNoteDefault">
  <b>US Residents:</b>
	<br />
	All horse Racing recommends <b>TwinSpires.com</b> for the best Triple Crown betting experience for US residents!
  </div>
	
  <div class="twinspiresLogo"><input type="button" name="rd_twinssp" id="rd_twinssp" value="" /></div>
  
  <div id="getStarted">
  	<div class="getstartedTitle">Get Started!</div>
    <div class="lineSep"></div>
  	<div class="firstName"><span>First Name:</span><input type="text" name="rd_firstname" id="rd_firstname" /></div>
    <div class="emailAddrs"><span>Email:</span><input type="text" name="rd_email" id="rd_email" /></div>   
    <div class="betnowSubmit"><input type="button" name="rd_betnow" id="rd_betnow" value="" /></div> 
  </div>

</div>
<script language="javascript">
$('#rd_betnow').click(function(){
	var name_ = $('#rd_firstname').val();
	var email_ = $('#rd_email').val()
	var param = { name:name_ , email:email_, state:state_ };
	saveData(param);							
});

$('#rd_twinssp').click(function(){
	var name_ = $('#rd_firstname').val();
	var email_ = $('#rd_email').val()
	var param = { name:name_ , email:email_, state:state_ };
	saveData(param);								
});
</script>