.sidr { font-family: 'roboto_condensedregular'; -webkit-tap-highlight-color:transparent; display: none; overflow:hidden; position: absolute; position: fixed; top: 0; height: 100%; z-index: 999999; width: 260px; overflow-x: none; background:#1571ba; color: #fff; border:4px solid #012440; border-bottom:0; border-top:0; }
.sidr .sidr-inner { padding: 0 0 15px; }
.sidr .sidr-inner > p { margin-left: 15px; margin-right: 15px; }
.sidr.right { left: auto; right: -260px;  }
.sidr.left { left: -260px; right: auto;}
.sidr h1, .sidr h2, .sidr h3, .sidr h4, .sidr h5, .sidr h6 { font-size: 18px; font-family: 'roboto_condensedregular'; background: #003967; font-weight: normal; padding: 6px 15px; margin: 0; color: #fff; line-height: normal; border-top:4px solid #012440; border-bottom:4px solid #012440; clear:both; }
.sidr .sidr-inner h1:first-child, .sidr .sidr-inner h2:first-child, .sidr .sidr-inner h3:first-child, .sidr .sidr-inner h4:first-child, .sidr .sidr-inner h5:first-child, .sidr .sidr-inner h6:first-child { border-top:0;}
.sidr p { font-size: 13px; margin: 0 0 12px; }
.sidr p a { color: rgba(51, 51, 51, 0.9); }
.sidr > p { margin-left: 15px; margin-right: 15px; }
.sidr .navbar-nav { width:100%; }
.sidr ul { display: block; margin: 0; padding: 0; -moz-border-radius: 0px; -webkit-border-radius: 0px; -khtml-border-radius: 0px; border-radius: 0px;  }
.sidr ul li { padding:0; background:#1571ba; display: block; margin: 0; line-height: 48px; border-bottom: 1px solid #3785c4; border-right:0; }
.sidr ul li:hover, .sidr ul li.active, .sidr ul li.active { border-top: none; }
.sidr .open > a:focus, .sidr ul li > a:focus { background:none; }
.sidr ul li:hover > a, .sidr ul li:hover > span, .sidr ul li.active > a, .sidr ul li.active > span, .sidr ul li.active > a, .sidr ul li.active > span, .sidr .open > a:focus { cursor:pointer; color:#fff; background:#c71f24;}
.sidr ul li a, .sidr ul li span { font-size: 18px; font-family: 'roboto_condensedregular';  font-weight: normal; -webkit-tap-highlight-color:transparent; position:relative; text-align:left; line-height:normal; padding: 12px 30px 12px 15px; display: block; text-decoration: none; color: #FFF; vertical-align:middle; }
.sidr ul li ul, .sidr .open .dropdown-menu { display:none; float:none; top:auto; left:auto; position:relative !important; border-bottom: none; margin: 0; z-index:auto; font-size:100%; border:0 !important;  }
.sidr ul li ul li { background:#fff; line-height: 40px; border-bottom: 1px dotted #b3b8bb;}
.sidr ul li ul li:last-child { border-bottom: none; }
.sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.active { border-top: none;}
.sidr ul li ul li:hover a, .sidr ul li ul li:hover span, .sidr ul li ul li.active a, .sidr ul li ul li.active span, .sidr ul li ul li a:focus  { background:#ebebeb !important; color:#000 !important; }
.sidr ul li ul li a, .sidr ul li ul li span, .sidr .open .dropdown-menu > li > a { font-size: 16px; font-family: 'roboto_condensedregular'; font-weight: normal; color:#3E474D; padding:10px 15px; line-height:normal; }
.sidr input[type=checkbox] { width: auto; display: inline; clear: none; }
.sidr input[type=button], .sidr input[type=submit] { color: #f8f8f8; background: #333; }
.sidr input[type=button]:hover, .sidr input[type=submit]:hover { background: rgba(51, 51, 51, 0.9); }

.sidr ul li.active ul, .sidr ul li.active ul  { display:block; }
.sidr ul li.active ul { display:block; }

.sidr ul > li a i { font-size:20px; position:absolute; right:10px; top:auto; bottom:auto; }
.sidr ul > li a i.fa-angle-down:before {  content: "\f107"; }
.sidr ul > li.active a i.fa-angle-down:before { content: "\f106"; }

/*! perfect-scrollbar - v0.4.8
* http://noraesae.github.com/perfect-scrollbar/
* Copyright (c) 2014 Hyeonje Jun; Licensed MIT */
.ps-container .ps-scrollbar-x-rail { position: absolute; /* please don't change 'position' */ bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x-rail */ height: 8px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; opacity: 0; filter: alpha(opacity = 0); -o-transition: background-color .2s linear, opacity .2s linear; -webkit-transition: background-color.2s linear, opacity .2s linear; -moz-transition: background-color .2s linear, opacity .2s linear; transition: background-color .2s linear, opacity .2s linear; }
.ps-container:hover .ps-scrollbar-x-rail, .ps-container.hover .ps-scrollbar-x-rail { opacity: 0.6; filter: alpha(opacity = 60); }
.ps-container .ps-scrollbar-x-rail:hover, .ps-container .ps-scrollbar-x-rail.hover { background-color: #eee; opacity: 0.9; filter: alpha(opacity = 90); }
.ps-container .ps-scrollbar-x-rail.in-scrolling { opacity: 0.9; filter: alpha(opacity = 90); }
.ps-container .ps-scrollbar-y-rail { position: absolute; /* please don't change 'position' */ right: 3px; /* there must be 'right' for ps-scrollbar-y-rail */ width: 8px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; opacity: 0; filter: alpha(opacity = 0); -o-transition: background-color .2s linear, opacity .2s linear; -webkit-transition: background-color.2s linear, opacity .2s linear; -moz-transition: background-color .2s linear, opacity .2s linear; transition: background-color .2s linear, opacity .2s linear; }
.ps-container:hover .ps-scrollbar-y-rail, .ps-container.hover .ps-scrollbar-y-rail { opacity: 0.6; filter: alpha(opacity = 60); }
.ps-container .ps-scrollbar-y-rail:hover, .ps-container .ps-scrollbar-y-rail.hover { background-color: #eee; opacity: 0.9; filter: alpha(opacity = 90); }
.ps-container .ps-scrollbar-y-rail.in-scrolling { opacity: 0.9; filter: alpha(opacity = 90); }
.ps-container .ps-scrollbar-x { position: absolute; /* please don't change 'position' */ bottom: 0; /* there must be 'bottom' for ps-scrollbar-x */ height: 8px; background-color: #aaa; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -o-transition: background-color .2s linear; -webkit-transition: background-color.2s linear; -moz-transition: background-color .2s linear; transition: background-color .2s linear; }
.ps-container.ie6 .ps-scrollbar-x { font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */ }
.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x, .ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x { background-color: #C71F24; }
.ps-container .ps-scrollbar-y { position: absolute; /* please don't change 'position' */ right: 0; /* there must be 'right' for ps-scrollbar-y */ width: 8px; background-color: #f4f4f4; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -o-transition: background-color .2s linear; -webkit-transition: background-color.2s linear; -moz-transition: background-color .2s linear; transition: background-color .2s linear; }
.ps-container.ie6 .ps-scrollbar-y { font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */ }
.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y, .ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y { background-color: #C71F24; }
.ps-container.ie .ps-scrollbar-x, .ps-container.ie .ps-scrollbar-y { visibility: hidden; }
.ps-container.ie:hover .ps-scrollbar-x, .ps-container.ie:hover .ps-scrollbar-y, .ps-container.ie.hover .ps-scrollbar-x, .ps-container.ie.hover .ps-scrollbar-y { visibility: visible; }
